<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Serenity Speculation</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Serenity Speculation</h1>
<div><div class=transport-bar><a href=../../../segment/view/632/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1655/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/65/index.html>Up</a> &#x2022; <a href=../../../segment/view/1838/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3043/index.html>Last episode</a></div>
<h2>What Does Shepherd Book Really Believe?</h2>
<div>First aired: <a href=../../../show/view/170/index.html>The Signal: Season 6, Episode 9</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/8/index.html>James Parkinson</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/96/index.html>Kara Helgren</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Back in episodes 2 and 3 of the first season of The Signal, Jill Arroway tackled the question, &#x201C;Who is Shepherd Book?&#x201D;. Then just last year in season 5, Merry King brought us a speculation segment on religion in the &#x2018;Verse entitled &#x201C;Why a Shepherd?&#x201D;. Book&#x2019;s past and his religion are both rich topics for speculation, as these articles showed, but for me personally what intrigues me most about Book is something else: his beliefs. What does Shepherd Book really believe?</p>

<p>In order to answer this question, we can start with the evidence we find in what Book himself says. Of course, as with anyone, there is always the possibility that what he professes to believe is not what he truly believes, but it is still a good place to start.</p>


<dl><dt>KAYLEE</dt>
<dd>Are you a missionary?</dd>
<dt>BOOK</dt>
<dd>I guess... I'm a shepherd, from the Southdown Abbey. Book, I'm called Book. Been out of the world for a spell. Like to walk it a while, maybe bring the word to them as need it told.</dd>
</dl>


<p>A missionary is someone who is &#x201C;sent&#x201D;, usually with the intention of spreading a particular religious faith. Book&#x2019;s hesitant reply to Kaylee&#x2019;s question suggests to me that it is not so much that he has been sent by the Southdown Abbey, but that he himself has decided to go. His use of the word &#x201C;maybe&#x201D; in his statement, &#x201C;maybe bring the word to them as need it told&#x201D;, also suggests an element of uncertainty in his commitment to this mission. However, after being on Serenity for a little while, it seems that Book realises he has found himself his own mission field within the confines of the ship:</p>


<dl><dt>MAL</dt>
<dd>Well, what about you? How come you're flying about with us brigands? I mean, shouldn't you be off bringing religiosity to the Fuzzie-Wuzzies or some such?</dd>
<dt>BOOK</dt>
<dd>Oh, I got heathens aplenty right here.</dd>
</dl>


<p>Book&#x2019;s tussles with River over his Bible in Jaynestown give us an insight into what he believes about the book on which his professed religion is based:</p>


<dl><dt>BOOK</dt>
<dd>River, you don't fix the Bible.</dd>
<dt>RIVER</dt>
<dd>It's broken. It doesn't make sense.</dd>
<dt>BOOK</dt>
<dd>It's not about making sense. It's about believing in something, and letting that belief be real enough to change your life. It's about 'faith'. You don't fix faith, River. It fixes you.</dd>
</dl>


<p>Book doesn&#x2019;t come right out and agree with River that the Bible doesn&#x2019;t make sense, but he doesn&#x2019;t express the opposite view either. He states that faith is about &#x201C;letting&#x201D; belief be real enough to change your life. For Book, it is not a question of whether the belief <em>is</em> real, or true, but whether those doing the believing <em>choose</em> to let the belief be real enough to impact how they live their lives. So how does Book&#x2019;s belief impact his life, as we see it in Firefly and Serenity?</p>

<p>In two episodes &#x2013; Bushwhacked and Heart of Gold &#x2013; Book attempts to persuade the rest of the crew to intervene in situations for altruistic reasons. In Bushwhacked, he makes an explicit reference to a Biblical story as part of his argument:</p>


<dl><dt>JAYNE</dt>
<dd>If there&#x2019;s folks on board in need of help, why aren&#x2019;t they beaming no distress call?</dd>
<dt>ZOE</dt>
<dd>It's true. There's no beacon.</dd>
<dt>MAL</dt>
<dd>Which means it's likely nobody's looking to find 'er.</dd>
<dt>BOOK</dt>
<dd>All the more reason for us to do the right thing.</dd>
<dt>JAYNE</dt>
<dd>How&#x2019;s about you just say a prayer when we slide on by?</dd>
<dt>BOOK</dt>
<dd>Shall I remind you of the story of the Good Samaritan?</dd>
</dl>


<p>The assistance which Book wants to offer is of a practical kind, but he also makes a comment that can be interpreted as showing a belief in the supernatural:</p>


<dl><dt>JAYNE</dt>
<dd>Reavers ain't men.</dd>
<dt>BOOK</dt>
<dd>Of course they are. Too long removed from civilization, perhaps&#x2014; but men. And I believe there's a power greater than men. A power that heals.</dd>
</dl>


<p>Book doesn&#x2019;t get the chance to explain what this power is, but since he believes this power is &#x201C;greater than men&#x201D;, I think it&#x2019;s possible he is talking about some kind of supernatural power.</p>

<p>One part of Book&#x2019;s belief system that comes out in Serenity the pilot episode is his opposition to killing. He prevents Jayne from killing Dobson just after he has shot Kaylee and later comments, &#x201C;I&#x2019;ll not sit by while there&#x2019;s killing here.&#x201D; This, of course, is not necessarily due to any religious belief on Book&#x2019;s part, but could simply be a part of his general belief system.</p>

<p>Later in the same episode, Book confesses to Inara that his beliefs about right and wrong have been rocked by what happened with Dobson:</p>


<dl><dt>BOOK</dt>
<dd>I've been out of the abbey two days, I've beaten a Lawman senseless, I've fallen in with criminals... I watched the Captain shoot the man I swore to protect. And I'm not even sure if I think he was wrong.</dd>
<dt>INARA</dt>
<dd>Shepherd...</dd>
<dt>BOOK</dt>
<dd>I believe I just... I think I'm on the wrong ship.</dd>
</dl>


<p>What is it that he still believes, despite maybe being on the &#x201C;wrong ship&#x201D;? If this belief does not seem to work for him on Serenity, does the problem lie with his choice of ship or his choice of belief?</p>

<p>One area of belief where I think it is very hard to know what Book really believes from what he says is that of the afterlife. His comments on this topic are all made in a humorous manner. To Inara, he jokes about having some &#x201C;catchy&#x201D; lectures prepped on sin and hellfire and to Mal, he references the &#x201C;special hell&#x201D;. But if we move on to consider what Book does, and not just what he says, his treatment of the dead offers us some clues:</p>


<dl><dt>BOOK</dt>
<dd>I'd like to go with him. Maybe see what I can do about putting those folks to rest.</dd>
<dt>MAL</dt>
<dd>Those folks already &quot;resting&quot; pretty good, Shepherd. Reavers saw to that.</dd>
<dt>BOOK</dt>
<dd>How we treat our dead is part of what makes us different than those did the slaughtering.</dd>
</dl>


<p>The phrase &#x201C;putting folks to rest&#x201D; suggests that Book believes there is some form of afterlife. Other evidence for this comes from Our Mrs Reynolds, in which we see him performing some kind of presumably religious ceremony with the bodies of the bandits, and The Message, in which he says some words over Tracey&#x2019;s supposed corpse.</p>

<p>Although Book does not appear to condone killing, he is not averse to using violence when necessary, as we see in War Stories:</p>


<dl><dt>ZOE</dt>
<dd>Preacher, don't the Bible have some pretty specific things to say about killing?</dd>
<dt>BOOK</dt>
<dd>Quite specific. It is, however, somewhat fuzzier on the subject of kneecaps.</dd>
</dl>


<p>Other actions which hint at the nature of Book&#x2019;s beliefs are his desire to say grace before a meal in the pilot episode and the way he declines what he thinks is an offer of sex from one of the whores in Heart of Gold. However, on both these occasions, Book could simply be acting in the way that those around him would expect a shepherd to act. It isn&#x2019;t always possible to uncover the real reason for actions of this kind when they are performed in the presence of others.</p>

<p>What then does Book do when he is alone? Can we find clues to his beliefs in what he does in private? There is one incident in Out of Gas which provides us with an example of this. River comes across Book as he is reading the Bible:</p>


<dl><dt>RIVER (O.S.)</dt>
<dd>Don't be afraid. That's what it says. Don't be afraid.</dd>
<dt>BOOK</dt>
<dd>Yes.</dd>
<dt>RIVER</dt>
<dd>But you are afraid.</dd>
<dt>BOOK</dt>
<dd>Yes.</dd>
</dl>


<p>I can think of no reason for Book to be reading his Bible at this point except that he genuinely believes he can find solace in it. It cannot be for show as until River happens upon him, he is alone. But for me personally it is hard to reconcile the view of the Bible that Book expressed in Jaynestown &#x2013; that it is not about making sense but letting it be real enough to shape your life &#x2013; with his attempt to find comfort in it now, in the face of death. Can something that is not in itself real offer true comfort?</p>

<p>There is one other occasion when I think Book&#x2019;s words carry more weight than at other times. As he lies dying in the BDM, he surely has no reason to tell Mal anything other than what he truly believes:</p>


<dl><dt>BOOK</dt>
<dd>I don't care what you believe. Just believe it.</dd>
</dl>


<p>What about the Operative&#x2019;s beliefs then? Would Book have said the same words to him? The Operative believed in a better world, and that murdering children was an acceptable way to achieve it. Would Book say then that the problem was not with the Operative&#x2019;s belief, but with the way he went about putting it into practice? It doesn&#x2019;t matter so much where you&#x2019;re going because &#x201C;how you get there&#x2019;s the worthier part&#x201D;?</p>

<p>As is often the case with speculating about Shepherd Book, there are more questions than answers when we try to delve into what it is he truly believes.</p>


<dl><dt>BOOK</dt>
<dd>Wasn't born a Shepherd, Mal.</dd>
<dt>MAL</dt>
<dd>Have to tell me about that sometime.</dd>
<dt>BOOK</dt>
<dd>No, I don't.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/632/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1655/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/65/index.html>Up</a> &#x2022; <a href=../../../segment/view/1838/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3043/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/170/index.html>The Signal: Season 6, Episode 9</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
