<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1540/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1578/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>Finding a Home</h2>

<!-- audio src signal_heartoffirefly_05.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_heartoffirefly_05.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/155/index.html>The Signal: Season 5, Episode 20</a></div>
<div>A discussion of Safe</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>RIVER</dt>
<dd>This isn't home.</dd>
<dt>SIMON</dt>
<dd>No. No, we can't go home. If we go home they'll just send you back to the Academy. This is safer now.</dd>
</dl>


<p>This exchange between River and Simon comes from the episode The Train Job. It takes place not long after they first come aboard Serenity and it is clear that at this point they still think of where they have come from as home. The ship Serenity is merely their means of escape and is yet to become their home. By the time we get to Objects in Space, the last episode of the series, things are very different:</p>


<dl><dt>SIMON</dt>
<dd>I'm not mad at you. I just... she loves this ship. I think it's more home to her than any place she's been.</dd>
</dl>


<p>The journey that Simon and River take over the course of the intervening episodes is one that leads them to realise that they can&#x2019;t go home again, but they can make Serenity their new home. Many of the key moments in this realisation come in the episode Safe. Simon discovers that for all his faults, Mal is more reliable than his father, and for all the hardships and inconveniences involved in living on Serenity, she is a better home than his family home.</p>

<p>In the official companion to Firefly, Joss Whedon describes how the episode Safe explores and contrasts the relationship Simon had with his father with the one he is developing with Mal. Simon&#x2019;s father is portrayed as &#x201C;genial and delightful&#x201D;, whereas Mal is &#x201C;irascible and untrustworthy&#x201D;. Despite this, it turns out that Mal is better at being a &#x201C;real parent&#x201D; since unlike their father, he remains loyal to Simon and River, even when things get tough.</p>

<p>We begin the episode with a flashback to the Tam house, eleven years ago. The house is shown beneath a starry sky, protected by a futuristic version of an electric fence. Inside, there is a fire burning in the hearth, Simon is doing his homework, River is playing and their father is trying to read the paper. The family is safe and warm inside the house. The gentle banter between the father and his children suggests a loving relationship.</p>

<p>The contrast as we return to the present and to Serenity could not be clearer. The ship is not grounded under the stars like the Tam house, but rather she is on her way to yet another planet to engage in some more dubious dealings. And all is far from calm inside Serenity as Simon tries to placate River, who is screaming and throwing things. Mal enters the scene part way through, like Gabriel Tam does in the flashback scene, but he couldn&#x2019;t be more different in his demeanour and words. He appears to have no sympathy for Simon and River&#x2019;s predicament and tells Simon that he is not their &#x201C;gorramn babysitter&#x201D;.</p>

<p>Shortly afterwards, Mal tells Simon to take River away from his &#x201C;cunningly concealed herd of cows&#x201D; on Jiangyin and reassures him with the words &#x201C;Don&#x2019;t worry. We won&#x2019;t leave without you.&#x201D; However, he does not sound that convincing and neither we the viewers nor Simon really know enough about Mal&#x2019;s loyalty to his crew at this point to fully believe what he says.</p>

<p>Simon&#x2019;s conversation with Kaylee in the store about what it is like to live on Serenity shows that he really does not view the ship as a potential home yet. He is disparaging about the conditions on Serenity and about Mal as a captain. It is hardly surprising that he feels this way though, considering the wealthy and apparently loving family and home he has come from.</p>

<p>The hill settlement also does not appear to be a good potential home for Simon and River at first, despite Doralee&#x2019;s attempts to persuade Simon to the contrary:</p>


<dl><dt>DORALEE</dt>
<dd>It&#x2019;s the way of life in my findings that journeys end when and where they want to and that&#x2019;s where you make your home.</dd>
<dt>SIMON</dt>
<dd>This isn&#x2019;t our home.</dd>
<dt>DORALEE</dt>
<dd>If it isn&#x2019;t here, where is it?</dd>
</dl>


<p>Simon has no answer for her. Perhaps he has not yet come to terms enough with being cut off from his family home to even contemplate looking for another. But later, when Doralee tells him that there is a house set aside for him as the new doctor, he seems to be warming to the idea of trying to make a home with the settlers.</p>

<p>Simon and River&#x2019;s conversation as they eat hodgeberries and reminisce about their home life shows us that River too is aware &#x2013; in her more lucid moments &#x2013; of what she and Simon have lost. She tells Simon tearfully that she knows she took him away from his previous life:</p>


<dl><dt>RIVER</dt>
<dd>You gave up everything you had to find me. You found me broken. It&#x2019;s hard for you. You gave up everything you had.</dd>
<dt>SIMON</dt>
<dd>&lt;Little sister&gt;, everything I have is right here.</dd>
<dt>RIVER</dt>
<dd>You need to eat. Keep up your strength. We won&#x2019;t be here long. Daddy will come and take us home&#x2026; And I&#x2019;ll get better. I&#x2019;ll get better.</dd>
</dl>


<p>Simon looks away and changes the conversation topic at this point. It is too painful to hear River&#x2019;s confused confidence in their father as Simon knows from experience that their father will not be coming for them. In the flashback that follows we realise that Gabriel Tam is more concerned with dinner parties and appearances than with listening to Simon&#x2019;s worries about River. He asks sarcastically whether Simon is trying to destroy their family and Simon replies that he didn&#x2019;t realise it would be so easy. Simon had thought that his family was secure and loving, but when the chips are down, the fragility of his family becomes all too apparent.</p>


<dl><dt>GABRIEL</dt>
<dd>This is a slippery slope, young man. You have no idea how far down you can go and you&#x2019;re not taking us with you.</dd>
<dt>SIMON</dt>
<dd>Meaning what?</dd>
<dt>GABRIEL</dt>
<dd>I won&#x2019;t come for you again. You end up here, or get mixed up in something worse, you&#x2019;re on your own. I will not come for you. Now, are you coming home?</dd>
</dl>


<p>Simon&#x2019;s wordless reaction to his father&#x2019;s question speaks volumes. &#x201C;Home?&#x201D; his look seems to be saying, &#x201C;You think I still have a home with you when you won&#x2019;t even help me save River?&#x201D; As the young River says in the opening flashback scene when she is playing, they have been &#x201C;cut off&#x201D;.</p>

<p>Before we come to the dramatic final scene on Jiangyin, it is worth noting Shepherd Book&#x2019;s words on waking up back on Serenity, after his surgery at the hands of the Alliance. He tells Mal, &#x201C;It&#x2019;s good to be home.&#x201D; He has already recognised Serenity for what she is to him &#x2013; his home &#x2013; even though the way the Alliance agreed to treat his medical needs suggests that he, like Simon and River, once belonged to a different world.</p>

<p>Meanwhile on Jiangyin, things are looking bleak for Simon and River, as the settlers reveal themselves to be something more sinister than a &#x201C;lovely little community of kidnappers&#x201D;. The depth of Simon&#x2019;s love for his sister is evident as he tries to give up his life in exchange for hers, and then when he can&#x2019;t save her that way, he resolves to die with her.</p>

<p>But then, of course, Serenity and her crew arrive on the scene to save the day:</p>


<dl><dt>MAL</dt>
<dd>Well, look at this. Appears we got here just in the nick of time. What does that make us?</dd>
<dt>ZOE</dt>
<dd>Big damn heroes, sir.</dd>
<dt>MAL</dt>
<dd>Ain&#x2019;t we just. Sorry to interrupt, folks. Y&#x2019;all got something that belongs to us, and we&#x2019;d like it back.</dd>
</dl>


<p>River may be &#x201C;morbid and creepifying&#x201D; and Simon may have a great talent for alienating people, but they are on Mal&#x2019;s crew and they belong on Serenity. Simon and River&#x2019;s actual family appeared to be loving and strong on the surface, but underneath it was fragile. In contrast, Mal&#x2019;s created family on Serenity has plenty of disagreements and tensions on the surface, but its foundation is secure, and safe.</p>

<p>In the final scene everyone except the still recuperating Book enjoys a meal together. It would be hard to imagine a more different group of people sitting together at the table, but it would also be hard to imagine a clearer picture of togetherness and belonging. If Simon and River are willing to accept an irascible but loyal captain in the place of their genial but fickle father, they can find a new family in the crew and a new home on Serenity.</p>


<dl><dt>SIMON</dt>
<dd>Captain&#x2026; Why did you come back for us?</dd>
<dt>MAL</dt>
<dd>You&#x2019;re on my crew.</dd>
<dt>SIMON</dt>
<dd>Yeah, but you don&#x2019;t even like me&#x2026; Why&#x2019;d you come back?</dd>
<dt>MAL</dt>
<dd>You&#x2019;re on my crew. Why we still talking about this? Chow&#x2019;s in ten. No need to dress.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1540/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1578/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/155/index.html>The Signal: Season 5, Episode 20</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
