<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Songs from the Black III</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Songs from the Black III</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/159/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/37/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/159/1/album/image.png width=300 height=300 alt></div>
<div>Rock the Boat - Our third collection of songs inspired by Firefly and Serenity, previously podcasted on the Signal.</div>
<div class=wiki-local><div><p><em>(This collection was also released as <a class="external text" href=../../../show/view/193/index.html>The Signal: Season 6, Episode 21</a>)</em></p>


<a></a><h3><span class=mw-headline>Artwork</span></h3>


<p>We figured you might want to burn Songs from the Black to CD, so we've provided you with some artwork. The images were created by Lindsay Coderre. These are all PNG images, so you'll need suitable software to print them at the appropriate size.</p>


<ul><li><a class="external text" href=../../../../img/season6/SftBIII_cover.png>Front cover</a></li>
<li><a class="external text" href=../../../../img/season6/SftBIII_inside.png>Inside</a></li>
<li><a class="external text" href=../../../../img/season6/SftBIII_tray.png>Back cover</a></li>
</ul>
</div>

</div>
<hr class=no-float><p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Monahan's Mudders' Milk - Marc Gunn</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2144/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_01-marcgunn-monahansmuddersmilk.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Missing Part - Seanan McGuire / Vixy and Tony</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2145/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_02-vixyandtony-missingpart.mp3 download>audio</a></td>
</tr>
<tr class=even><td>The Hero of Canton - The Browncoats</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2146/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_03-thebrowncoats-theheroofcanton.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>She Said Her Name Was Saffron - Marc Gunn</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2147/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_04-marcgunn-shesaidhernamewassaffron.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Ode to Vera - The Terrifying Space Monkeys</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2148/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_05-theterrifyingspacemonkeys-odetovera.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Albatross - A Portion for Reuben</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2149/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_06-aportionforreuben-albatross.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Tentative Radar - 'Verse</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2150/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_07-verse-tentativeradar.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Anchorage - Marian Call</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2151/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_08-mariancall-anchorage.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Bellflower Medley - Bentley Ousley</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2152/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_09-bentleyousley-bellflowermedley.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Bring Me Home - Marc Gunn</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2153/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_10-marcgunn-bringmehome.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Albatross - River and the Reavers</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2154/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_11-riverandthereavers-albatross.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Inara's Lament - The Terrifying Space Monkeys</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2155/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_12-theterrifyingspacemonkeys-inaraslament.mp3 download>audio</a></td>
</tr>
<tr class=even><td>They Fall Right out of the Sky - 'Verse</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2156/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_13-verse-theyfallrightoutofthesky.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Apprentice - Vixy and Tony</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2157/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_14-vixyandtony-apprentice.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Earth that Was - Star One</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2158/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_15-starone-earththatwas.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>To the Black (The Ballad of Serenity) - The Browncoats</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2159/index.html>shownotes</a></td>
<td><a href=https://traffic.libsyn.com/secure/thesignal/signal_sftb3_16-thebrowncoats-totheblack.mp3 download>audio</a></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/159/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/37/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
