<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4, Episode 11</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4, Episode 11</h1>
<div><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/111/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/113/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_411_20080617.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_411_20080617.mp3 download=signal_season04_11.mp3>Download audio file</a></div>
<div class=info>Tuesday 17th June 2008</div>
Produced by Claire Musso<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/114/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 4 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:00:42</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div><ul><li>The upcoming<a href=../../../external.html#http://cantstoptheserenity.com>Can't Stop the Serenity</a> Screenings</li>
<li>Supporting <a href=../../../external.html#http://www.equalitynow.org/>Equality Now</a></li>
<li>Holding your own &quot;Phantom Screening&quot; and then donating the proceeds</li>
<li>If you do any kind of event in support of Equality Now, we want to hear about it in the <a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4287>Phantom Screening thread</a> on the forums or via email.</li>
<li>We also still want to hear about <a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4012>What&#x2019;s Your Serenity</a>.</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1192/112/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:10</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Nicole - Conversion Story</li>
<li>Paul - Conversion Story</li>
<li>Anna - Voicemail</li>
<li>Lucas - Conversion Story</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1193/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://jchutchins.net><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:14:29</td>
<td class=shownote><h3>Promo: JC Hutchins</h3>
<h4>Seventh Son: OBSIDIAN</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:16:31</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div>Les and Miranda talk about the fact that we misidentified <a href=../../../external.html#http://en.wikipedia.org/wiki/Father_Ted>Father Ted</a> in <a href=../../../external.html#http://crew.serenityfirefly.com/admin/edit_episode.php?e=4100>Episode 10</a> as &quot;British Comedy&quot; when it is Irish Comedy. We're sorry!</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1192/112/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:30</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Angel</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1185/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:32:34</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div>Dollhouse</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1192/112/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:33:09</td>
<td class=shownote><h3>Dollhouse Trailer</h3>
<p></p>
</td>
<td><a href=../../../segment/view/1191/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/77/index.html><img src=../../../image/image/104/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:35:57</td>
<td class=shownote><h3>Big Damn Test Kitchen</h3>
<h4>Chicken Korma</h4>
<div><a href=../../../external.html#http://www.foodnetwork.com/food/recipes/recipe/0%2C%2CFOOD_9936_24830%2C00.html>Cashew Butter</a> courtesy Emeril Legasse</div>
<p>Written by <a href=../../../human/view/6/index.html>Kari Haley</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/1187/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:00</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/16535>California Browncoats announce Serenity Better Days #1 Exclusive Variant</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/06/06/you-can-wn-zoes-bloody-battle-vest/>You can purchase Zoe&#x2019;s bloody battle vest</a></li>
<li><a href=../../../external.html#http://www.cstsmidlands.tk/>New Site Launched for all UK CSTS Screenings & New Screening in Leicester</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/06/04/guess-the-serenity-part-and-win-stuff/>Guess the Serenity part and win stuff at Firefly Ship Works</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16504>Jewel Staite heading back to Australia in June 2008</a></li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com/>QMX continue to support CSTS screenings and Equality Now</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/05/31/jason-palmers-simon-portrait-now-available/>Jason Palmer&#x2019;s Simon portrait now available</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16473>New Serenity: Better Days artwork up for sale/auction</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1182/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:41:40</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Volvo Song</h4>
<p>Music by <a href=../../../human/view/107/index.html>Marian Call</a></p>
</td>
<td><a href=../../../segment/view/1165/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:45:10</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>'Verse Entertainment</h4>
<p>Written by <a href=../../../human/view/21/index.html>Merry King</a>; read by <a href=../../../human/view/20/index.html>Kevin Bayer</a></p>
</td>
<td><a href=../../../segment/view/1194/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/112/index.html><img src=../../../image/image/116/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:05</td>
<td class=shownote><h3>They've All Got Stories</h3>
<h4>River's Reading Habits</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1197/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.browncoatball.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:32</td>
<td class=shownote><h3>Promo: Browncoat Ball</h3>
<h4>2008</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/81/index.html><img src=../../../image/image/103/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:58:18</td>
<td class=shownote><h3>Bold Moves</h3>
<h4>Browncoat Captains</h4>
<p>Written by <a href=../../../human/view/18/index.html>David Moore</a>; read by <a href=../../../human/view/18/index.html>David Moore</a></p>
</td>
<td><a href=../../../segment/view/1154/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/101/index.html><img src=../../../image/image/111/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:01:45</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 20: Convention</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a>, <a href=../../../human/view/5/index.html>Miranda Thomas</a>, <a href=../../../human/view/197/index.html>The Edwards Clan</a> and <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1188/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:08:18</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:08:41<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/111/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/113/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4381>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
