<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2365/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2376/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>The Voice of Serenity</h2>
<div>First aired: <a href=../../../show/view/204/index.html>The Signal: Season 7, Episode 10</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p><br>
<strong>Clip. River: &quot;You're talking to Serenity&#x2026;&quot;</strong></p>

<p>With that clip, you know that I mean &quot;Serenity&quot;, the big damn ship. Serenity plays an important part in Firefly, without her, the series would definitely not be what we all enjoy so much. As the tenth character and part of the crew, we know that she has a special voice. But how exactly does she speak? In this article I want to explore and make you think about the how, when and why Serenity likes to be heard.</p>

<p>First, lets look at the different ways she communicates with the crew and the viewer. For this, I've separated this point into three levels, starting with the most direct one.</p>

<p><strong>Clip. Proximity alert from Bushwacked finishing with Wash's &quot;Who's flying this ship?!&quot;</strong></p>

<p>This is Serenity with the most basic of voices: sounds played by the computers aboard. These sounds are programmed into her hardware and play on reaction to certain events. You could argue that they're not really her voice, since they are automatic. But I believe we get to hear them for a reason other than to aid the story to be more fluid. I'll expand on this reason further ahead.
Serenity has many of these sounds that, when watching Firefly, one begins to understand. For example...</p>

<p><strong>Clips: Proximity alert from the Pilot: Alliance/ Impact alert from Trash.</strong></p>

<p>Did you get those ones? The first one means &quot;somebody evil is approaching&quot;, we hear it for the Reavers or the Alliance. The second one plays when Serenity is hovering below a floating island and could get bumped. By the tone, it suggests something similar to &quot;careful, you might hurt me&quot;.</p>

<p>Also, as part of this &quot;automatic sound&quot; level, Serenity has a real voice programmed into her and we get to listen to it when things are really bad:</p>

<p><strong>Clip. &quot;Life support failure&#x2026;&quot;</strong></p>

<p>However, Serenity is more than some preprogrammed sounds, she can speak through other people and let herself be heard when the sounds she has are not enough.</p>

<p><strong>Clip. Wash: &quot;Everybody head back inside, or I'll blow a new crater in this moon.&quot;</strong></p>

<p>The first one is Wash. Granted, he is using Serenity's exterior loudspeaker to scare the folks into the bar. But I assure you that that is what Serenity is thinking of and to me, its she who's saying it.
Moreover, since she is not really able to choose specific words, she takes the help from River:</p>

<p><strong>Clip. River: &quot;Serenity is very unhappy.&quot;</strong></p>

<p>But, Serenity is capable of speaking all by herself also, which I describe as the third level of her voice. This might not be a real voice, like the other nine members of the crew, but it's a voice that we understand.</p>

<p><strong>Clip. River: &quot;&#x2026; Fire&quot;</strong></p>

<p>When the engine restarts, its Serenity telling everyone that something is going to happen: everyone knows something is wrong right away, but River ... she understands the exact meaning.</p>

<p>We know also, that Kaylee is one who listens to Serenity's silent voice more than anyone, with clear indication that she is used to it all the time:</p>

<p><strong>Clip. Kaylee: &quot;usually she lets me know when something's wrong&#x2026;&quot;</strong></p>

<p>In the pilot we hear Kaylee telling Mal, that the catalyzer needed replacing. That means that Kaylee is being too hard on herself; she knew about the catalyzer and now, having let Serenity down, she is self-conscious. If Serenity were just a machine, she would be angry or preoccupied about their lives, but when we see her sitting in the engine room, she is sad about failing to fix the part because she didn't listen enough to Serenity. Serenity is not just a ship, its a home and a friend with whom she chats.</p>

<p><strong>Clip. Wash: &quot;When your miracle gets here, you pound this button.&quot;</strong></p>

<p>But&#x2026; Mal never pressed that button. Nevertheless, when Serenity was alright, the crew came back. We know that when Zoe woke up she insisted to return to Serenity, but why? Could it be that Serenity pressed the button herself and spoke to Zoe and gave her the instinct to fly back? After all, Zoe was aboard one of Serenity's shuttles.</p>

<p>These three levels of how Serenity speaks, remind me of the different forms of communication we find among the crew. The first one has a military feel of established sounds for specific things: Mal and Zoe's background. The second level is more reminiscent of shepherd Book's metaphors or parables, or River's perception of the world: using other words or people to transmit an idea. Finally, the third level is one we see in River's ability to see things or Mal and Book's silent plan making, for example. It's there and it's a way of speaking not that unusual to us.</p>

<p>So, from all these examples, you might know the why and when Serenity talks to the crew.</p>

<p><strong>Clip. River: &quot;You crawl inside me uninvited and you hurt my crew&quot;</strong></p>

<p>It's because Serenity cares about her crew, so when she speaks, it's usually to let them know that something is up. When we hear a high bip-bip alerting of proximity, its not just some dry ship's computer, its Serenity telling us &quot;Hey, watch out! Reavers are after us!&quot;. When the life support failure alert comes on, we understand that she is saying: &quot;Hurry, we're dying&quot;.</p>

<p>Watching Firefly (perhaps not on the first or second time) we start to understand those moments when Serenity is speaking without sound: taking care of the crew, joining in the fun &#x2026; or flying jubilant out of a storm and into the black. And just like Mal knows to love a ship, we know Serenity does love them back.</p>

<p><strong>Clip. Kaylee: &quot;that's my girl&quot;</strong></p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2365/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2376/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/204/index.html>The Signal: Season 7, Episode 10</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
