<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 20</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 20</h1>
<div><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/154/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/156/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_520_20091124.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_520_20091124.mp3 download=signal_season05_20.mp3>Download audio file</a></div>
<div class=info>Tuesday 24th November 2009</div>
Produced by Nick Edwards<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:09</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1562/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/130/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:04</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Lost in Austen</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/1558/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:18:38</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1564/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:20</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 7</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1568/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/117/index.html><img src=../../../image/image/125/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:55</td>
<td class=shownote><h3>What's in a Signal?</h3>
<h4>The Glue</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1459/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/112/index.html><img src=../../../image/image/116/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:46:42</td>
<td class=shownote><h3>They've All Got Stories</h3>
<h4>The Bad Doctor</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1538/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/124/index.html><img src=../../../image/image/117/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:18</td>
<td class=shownote><h3>Heart of Firefly</h3>
<h4>Finding a Home</h4>
<div>A discussion of Safe</div>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/1549/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:03:30</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/22459>QMx has acquired a new license</a></li>
<li><a href=../../../external.html#http://store.quantummechanix.com/Serenity_c_1.html>QMx product page</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/22328#349440>Joss comments about the cancellation of Dollhouse</a></li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com/csts-global/its-our-best-year-ever-weve-raised-116k-and-still-climbing/>Cant Stop the Serenity sets a new record</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/mthread.asp?b=2&amp;t=40866&amp;newsid=0>Browncoat Ball location announced</a></li>
<li><a href=../../../external.html#http://www.realbrowncoats.com>AbbyShot website for Mal's coat</a></li>
<li><a href=../../../external.html#http://www.avclub.com/articles/the-best-tv-series-of-the-00s%2C35256/1/>AV Club Best of the Decade</a></li>
<li><a href=../../../external.html#http://www.pastemagazine.com/blogs/lists/2009/10/the-15-best-tv-shows-that-were-canceled-too-soon.html>Paste Magazine's 15 Best TV Shows That Were Canceled Too Soon</a></li>
<li><a href=../../../external.html#http://www.realtvaddict.com/2009/11/06/top-cult-shows-firefly/>Real TV Addict article</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1545/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:08:34</td>
<td class=shownote><h3>Music Section</h3>
<h4>Missing Part</h4>
<div>Performed live, September 2009
<ul><li>Written by: <a href=../../../external.html#http://seananmcguire.com>Seanan McGuire</a></li>
<li>Lead Vocals: <a href=../../../external.html#http://vixyandtony.com>Michelle Dockrey</a></li>
<li>Guitar: <a href=../../../external.html#http://vixyandtony.com>Tony Fabris</a></li>
<li>Violin: <a href=../../../external.html#http://sunnie.org>Sunnie Larsen</a></li>
<li>Engineering and production: <a href=../../../external.html#http://segherssound.com>John Seghers</a></li>
<li>Recorded at <a href=../../../external.html#http://www.waywardcoffee.com>Wayward Coffeehouse</a> on September 26th, 2009</li>
<li><a href=../../../external.html#http://www.contabile.org.uk/vanderfilk/index.html>Van der Filk site</a></li>
</ul>
</div>
<p>Music by <a href=../../../human/view/113/index.html>Seanan McGuire</a> and <a href=../../../human/view/122/index.html>Vixy and Tony</a></p>
</td>
<td><a href=../../../segment/view/1565/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:10</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:34<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/154/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/156/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4853>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
