<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Going Dark</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Going Dark</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/136/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/124/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/199/1/album/image.png width=300 height=300 alt></div>
<div>This is the back story behind Jill's Firefly novel, &quot;Dark Places&quot;, featuring previously unaired footage from the uncompleted audio production. It also doubles up as Jill's own speculation about Miranda, the Pax, and Reavers.</div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>I Never Want to Grow Up</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2500/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>First Shots Fired</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2512/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Going Up</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2558/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Let's Get Outa Here</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2545/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Making Money on Miranda</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2590/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Going Away</td>
<td>The Signal: Season 8, Episode 1</td>
<td><a href=../../../segment/view/2630/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Ceasefire</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2647/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>A Moment of Truth</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2678/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Risk Assessment</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2696/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>War and Pax</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2707/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Borders</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2713/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Losing It</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2730/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Inoculum</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2740/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Birth of the Reavers</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2748/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Lullaby</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2769/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Telling it Like it Ain't</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2782/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>I, Reaver</td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2898/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<h2>See Also</h2>
<ul><li><a href=../../../series/view/52/index.html>Borderline</a></li>
<li><a href=../../../series/view/152/index.html>Dark Places</a></li>
</ul>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/136/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/124/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
