<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 6, Episode 13</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 6, Episode 13</h1>
<div><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/177/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/179/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_613_20100727a.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_613_20100727a.mp3 download=signal_season06_13.mp3>Download audio file</a></div>
<div class=info>Tuesday 27th July 2010</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/127/2/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 6 Opening Theme</h3>
<h4>Version 2</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:16</td>
<td class=shownote><h3>Banter</h3>
<div>Les talks about <a href=../../../external.html#http://www.youtube.com/watch?v=gkk7Y_Tz3cs>Broken Moment</a>, the short film he was in.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1867/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:16</td>
<td class=shownote><h3>Editorial</h3>
<h4>O' What Joss Has Started</h4>
<p>Written by <a href=../../../human/view/109/index.html>Dave Tomasic</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1873/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:38</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 16: The Turn of the Worlds</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1862/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/144/index.html><img src=../../../image/image/144/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:35</td>
<td class=shownote><h3>Firefly and Me</h3>
<h4>Life on the Edge</h4>
<p>Written by <a href=../../../human/view/109/index.html>Dave Tomasic</a>; read by <a href=../../../human/view/109/index.html>Dave Tomasic</a>; edited by <a href=../../../human/view/109/index.html>Dave Tomasic</a></p>
</td>
<td><a href=../../../segment/view/1849/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:19:11</td>
<td class=shownote><h3>Interview</h3>
<h4>QMx</h4>
<div>Les & Kari talk with Andy Gore, Karl Derrick & John Eblan of Quantum Mechanics about recent and upcoming product releases.  Karl Derrick operates a Makeup, Monster Prop & Model studio in the UK; he's also is one of the world's leading Firefly prop collectors (he owns Vera), and is working with QMx on several new exciting products.  John Eblan runs the model studio where all of the Serenity Big Damn Replicas and many more wonderful products are being created.<p></p>
<ul><li><a href=../../../external.html#http://quantummechanix.com/HOME.html>QMx</a></li>
<li><a href=../../../external.html#http://www.karlderrick.com/>Karl Derrick</a></li>
<li><a href=../../../external.html#http://thefxcompany.com/>The FX Company</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1837/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:38</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 14</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1876/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:56</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://massiveevents.co.uk/hallowhedon2/>Jewel Staite and Alan Tudyk confirmed for Hallowhedon con</a></li>
<li><a href=../../../external.html#http://www.mwf.com.au/2010/content/mwf-2010-events.asp?name=20100827-2130-Keynote-Address-Joss-Whedon>Joss Whedon at the Melbourne Writers Festival</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/24364>An Evening with Joss Whedon at the Sydney Opera House</a></li>
<li><a href=../../../external.html#http://www.jasonpalmer.net/SereniTees.htm>Jason Palmer releases next two in his Sereni-tee collection</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1870/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:54:00</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Vixy and Tony version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:54:30<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/177/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/179/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
