<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7, Episode 21</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7, Episode 21</h1>
<div><h2>Holiday Special</h2>
<div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/221/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/222/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_0721_20111222.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_0721_20111222.mp3 download=signal_season07_21.mp3>Download audio file</a></div>
<div class=info>Thursday 22nd December 2011</div>
Produced by Anna Snyder<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/204/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 7 Opening Theme</h3>
<h4>Holiday Special version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:24</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2461/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/205/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:52</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Killer Angels</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a> and <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2593/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:56</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 25: The Day of Plagues</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/485/index.html>Craig Kurumada</a>, <a href=../../../human/view/108/index.html>Jutta Jordans</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a>, <a href=../../../human/view/2/index.html>Les Howard</a>, <a href=../../../human/view/17/index.html>Nick Edwards</a> and <a href=../../../human/view/477/index.html>Paul Korswagen</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2464/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:28:31</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 27</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2583/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/203/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:37:31</td>
<td class=shownote><h3>Permanent Waves</h3>
<div>Fox Mulder and Dana Scully discuss the unfolding events of U-Day</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/479/index.html>Bindiya Dale</a> and <a href=../../../human/view/8/index.html>James Parkinson</a>; featuring <a href=../../../human/view/484/index.html>Cornelius Wilkening</a>, <a href=../../../human/view/485/index.html>Craig Kurumada</a>, <a href=../../../human/view/25/index.html>Helen Eaton</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2488/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:42:20</td>
<td class=shownote><h3>Analyzing Unification Day</h3>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2595/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/200/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:19</td>
<td class=shownote><h3>Hard Burn: The Firefly</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/27/index.html>Andy King</a> and <a href=../../../human/view/84/index.html>Ben Edwards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2594/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/52/index.html><img src=../../../image/image/200/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:36</td>
<td class=shownote><h3>Borderline</h3>
<h4>Hard Burn: Star in a Reasonably Priced Spaceship</h4>
<div>Tonight's guest is Romana Ling, the presenter of the YKC documentary series, <em>Borderline</em>.</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/84/index.html>Ben Edwards</a> and <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; featuring <a href=../../../human/view/27/index.html>Andy King</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2598/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/200/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:00:09</td>
<td class=shownote><h3>Hard Burn: The Race</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/27/index.html>Andy King</a>; featuring <a href=../../../human/view/84/index.html>Ben Edwards</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2599/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/173/index.html><img src=../../../image/image/198/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:05:29</td>
<td class=shownote><h3>Tangled Yarn</h3>
<h4>The War Buddy Bond</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2557/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/202/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:16:48</td>
<td class=shownote><h3>Life in the 'Verse Special: Remembering Serenity Valley</h3>
<div>A special broadcast of Life in the 'Verse looking at Serenity Valley through the memories of those who lived it. Life in the 'Verse is broadcast from Liann Jiun every Saturday at 18:00 Standard Time and is re-broadcast from local stations across the 'verse.</div>
<p>Written by <a href=../../../human/view/96/index.html>Kara Helgren</a>; starring <a href=../../../human/view/552/index.html>Christine Mooney</a>, <a href=../../../human/view/96/index.html>Kara Helgren</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; featuring <a href=../../../human/view/477/index.html>Paul Korswagen</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2591/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:32:13</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Ballad of Serenity</h4>
<p>Music by <a href=../../../human/view/29/index.html>Greg Edmonson</a>, <a href=../../../human/view/36/index.html>Joss Whedon</a> and <a href=../../../human/view/127/index.html>Sonny Rhodes</a></p>
</td>
<td><a href=../../../segment/view/2600/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:33:02<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/221/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/222/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
