<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Dark Places</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Dark Places</h1>
<div><div class=transport-bar><a href=../../../segment/view/1929/index.html>First episode</a> &#x2022; <span class=greyed-out>Previous episode</span> &#x2022; <a href=../../../series/view/152/index.html>Up</a> &#x2022; <a href=../../../segment/view/1938/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/1938/index.html>Last episode</a></div>
<h2>Vindicator</h2>

<audio src=../../../../yonder/signal_darkplaces_01.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_darkplaces_01.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/182/index.html>The Signal: Season 6, Episode 14.2</a></div>
<div>Episode one of the now-abandoned series &quot;Dark Places&quot;. Only two episodes were ever made.<p>Sound effects were provided by Digital Juice, and by the Freesound Project. The script editor was Carolyn Parkinson. Additional voices were provided by Joy Edwards and Ben Edwards. Special thanks are extended to Greg Edmonson, for allowing us to name a ship after him, and to blow it up in the first few minutes.</p>
<p><strong>From episode two onwards, this story contains sex, violence and swearing.<br>Definitely not safe for work!</strong></p>
<p></p>
<ul><li><a href=../../../segment/view/1938/index.html>Shownotes for episode two</a></li>
</ul>
<p></p>
<ul><li><span class=grayed-out>Dark Places, the Novel (UK edition, ePub)</span></li>
<li><span class=grayed-out>Dark Places, the Novel (UK edition, PDF)</span></li>
<li><span class=grayed-out>Dark Places, the Novel (US edition, ePub)</span></li>
<li><span class=grayed-out>Dark Places, the Novel (US edition, PDF)</span></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/98/index.html>Jocelyn Fultz</a></td>
<td>as Jade Slater</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/230/index.html>Pat Olver</a></td>
<td>as Elizabeth Adams</td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/274/index.html>Scott McCoy</a></td>
<td>as Harry Slater (Slate)</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Lana Slater</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Reaver victim</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/277/index.html>Phillip Peterson</a></td>
<td>as Ron Slater (Hawkeye)</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/280/index.html>James A Zimmerman</a></td>
<td>as Hagar</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/282/index.html>Naomi Devries Pomerantz</a></td>
<td>as Merissa Goldovskaya</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/284/index.html>Noah Allson</a></td>
<td>as Moreton Crellis</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/286/index.html>Vels inn Viggladi</a></td>
<td>as Gruvick</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/288/index.html>Megan Presley</a></td>
<td>as Cassandra Briggs</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/290/index.html>Barry Johnson</a></td>
<td>as Ben Austin</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/293/index.html>Casey Ford</a></td>
<td>as Corey Long</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/295/index.html>Paula Roth</a></td>
<td>as Polly Launbjerg</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/297/index.html>Katie Logan</a></td>
<td>as Papagina Vichot</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Awakening</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Begin of Flight</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>The Rhythm</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Smoke Spirit</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Journey to Paradise</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Ambient Moods</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Breath of Gaia</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/343/index.html>Green Druid</a></td>
<td>Dignity</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/350/index.html>Jim Fiddler</a></td>
<td>A Portrait in Sound</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/352/index.html>The Loosehounds</a></td>
<td>Turn Me On</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/354/index.html>Rachel Kann</a></td>
<td>Montanna de Oro</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div></div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1929/index.html>First episode</a> &#x2022; <span class=greyed-out>Previous episode</span> &#x2022; <a href=../../../series/view/152/index.html>Up</a> &#x2022; <a href=../../../segment/view/1938/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/1938/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/182/index.html>The Signal: Season 6, Episode 14.2</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
