<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Firefly Timeline</title>
<link rel=stylesheet type=text/css href=../../common.css><link rel=stylesheet type=text/css href=../../gorram.css><link rel=stylesheet type=text/css href=../../geometry.css></head>
<body><p><a href=../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../season/index.html>Seasons</a> &#x2022; <a href=../../series/index.html>Series</a> &#x2022; <a href=../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Firefly Timeline</h1>
<div><div class=wiki-local><div><p>We figured it was about time we put together a Firefly Timeline. This is as accurate as we could make it, and we will be sure to update it as new information becomes available. We cite our sources for every date given, so you can judge the worth of each piece of information. We should also mention that this is not the only Firefly Timeline on the internet. An alternative timeline is <a class="external text" href=../../external.html#http://www.mts.net/%7Earphaxad/firefly.html>Edgar Governo's Firefly Timeline</a>. The Governo timeline is mostly in agreement with the Signal's to within a month, but there are minor differences in some of the less accurately known dates.</p>

<p>Our intent in putting this together is that it may be of use to anyone creating new Firefly content (which includes fanfic, audio dramas and movies, or just RPG game sessions).</p>
</div>

</div>
<table class=simple-table><tbody><tr class=even><td>August 2459</td>
<td><div><em>Canonical event</em></div>
Serenity (the ship) built by the Firefly Shipworks Ltd.</td>
<td><div><em>The Serenity Blueprints Reference Pack</em></div>
<div>Serenity's dedication plaque</div>
</td>
</tr>
<tr class=odd><td>20th September 2468</td>
<td><div><em>Canonical event</em></div>
Mal born</td>
<td><div><em>Serenity (movie)</em></div>
<div>This information appears on the Operative's screen during the movie Serenity.<p>Unreliable! Alliance records give more than one date for Mal's date of birth. In addition to this detail (which would make Mal fifty years old at the time of the movie), there is also a prop from the movie which lists Mal's date of birth as both 27th March 2286 and 27th March 2486.</p>
</div>
</td>
</tr>
<tr class=even><td>15th February 2484</td>
<td><div><em>Canonical event</em></div>
Zoe born</td>
<td><div><em>Deleted scenes from the movie</em></div>
<div>This information appears on screen.</div>
</td>
</tr>
<tr class=odd><td>November &#x2012; December 2491</td>
<td><div><em>Canonical event</em></div>
Simon born</td>
<td><div><em>Speculation based on age of actor</em></div>
<div>Simon's birthday occurs in the episode Out of Gas . The year is speculation based on the age of child actor Zak Effron in the Safe flashback.</div>
</td>
</tr>
<tr class=even><td>19th December 2500</td>
<td><div><em>Canonical event</em></div>
River born</td>
<td><div><em>From a prop used in the movie</em></div>
<div>Project Oracle records.</div>
</td>
</tr>
<tr class=odd><td>12th April 2506</td>
<td><div><em>In fan audio drama</em></div>
Romana visits Shadow</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/675/index.html>Borderline, season 1, episode 1</a></div>
</td>
</tr>
<tr class=even><td>May &#x2012; July 2506</td>
<td><div><em>Canonical event</em></div>
Pax released into the atmosphere of Miranda</td>
<td><div><em>Deduction</em></div>
<div>Educated guess, based on the assumption that it happened just before the war began.</div>
</td>
</tr>
<tr class=odd><td>May &#x2012; July 2506</td>
<td><div><em>Canonical event</em></div>
The survey ship C57D lands on Miranda to find out what happened</td>
<td><div><em>Deduction</em></div>
<div>Mal says the report that they found on Miranda was &quot;maybe twelve years old&quot;. Exactly  twelve years old would place this at November 2506 (assuming my date for the movie is correct). However, notice the word &quot;maybe&quot; in the above. Mal is guessing. I consider it more likely is that this took place before the war began.<p>Unreliable. Could have been any time between May 2506 and May 2507</p>
</div>
</td>
</tr>
<tr class=even><td>June &#x2012; August 2506</td>
<td><div><em>Canonical event</em></div>
The Unification war begins</td>
<td><div><em>The Serenity Visual Companion</em></div>
<div>The Serenity Visual Companion  states that the war lasted &quot;for almost five years&quot;. We know that it ended in May/June 2511, so it must have started around June/July/August 2506. I'm assuming here that if it were any earlier, Joss would have said &quot;five years&quot;, and that if it were any later he would have said &quot;four and a half years&quot;.</div>
</td>
</tr>
<tr class=odd><td>June 2506</td>
<td><div><em>In fan audio drama</em></div>
Dark Places Teaser</td>
<td><div><em>Dark Places</em></div>
<div><a href=../../segment/view/1929/index.html>Dark Places, episode 1: Vindicator</a></div>
</td>
</tr>
<tr class=even><td>September 2506</td>
<td><div><em>Canonical event</em></div>
Simon and River as children (flashback)</td>
<td><div><em>Safe</em></div>
<div>On screen caption during <em>Safe</em> places this as &quot;eleven years ago&quot;. That is, eleven years before <em>Safe</em>. The caption probably didn't mean exactly  eleven years ago. More likely it meant eleven years to the nearest year, in which case this date could be up to six months out.</div>
</td>
</tr>
<tr class=odd><td>13th September 2506</td>
<td><div><em>In fan audio drama</em></div>
Romana reports on Santo's dwindling tourist trade</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/686/index.html>Borderline, season 1, episode 2</a></div>
</td>
</tr>
<tr class=even><td>8th January 2507</td>
<td><div><em>In fan audio drama</em></div>
Romana interviews a slave trader</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/710/index.html>Borderline, season 1, episode 3</a></div>
</td>
</tr>
<tr class=odd><td>4th May 2507</td>
<td><div><em>In fan audio drama</em></div>
Romana goes behind enemy lines</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/737/index.html>Borderline, season 1, episode 4</a></div>
</td>
</tr>
<tr class=even><td>16th August 2508</td>
<td><div><em>In fan audio drama</em></div>
The (first) fall of Athens</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/762/index.html>Borderline, season 1, episode 5</a></div>
</td>
</tr>
<tr class=odd><td>19th February 2509</td>
<td><div><em>In fan audio drama</em></div>
Romana visits Jiangyin</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/802/index.html>Borderline, season 1, episode 6</a></div>
</td>
</tr>
<tr class=even><td>6th November 2509</td>
<td><div><em>In fan audio drama</em></div>
Romana encounters a lynch mob</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/824/index.html>Borderline, season 1, episode 7</a></div>
</td>
</tr>
<tr class=odd><td>18th July 2510</td>
<td><div><em>In fan audio drama</em></div>
Evacuation of Shadow</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/851/index.html>Borderline, season 1, episode 8</a></div>
</td>
</tr>
<tr class=even><td>27th October 2510</td>
<td><div><em>In fan audio drama</em></div>
Romana interviews refugees on Ezra</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/862/index.html>Borderline, season 1, episode 9</a></div>
</td>
</tr>
<tr class=odd><td>April 2511</td>
<td><div><em>Canonical event</em></div>
The battle of Serenity Valley begins</td>
<td><div><em>Deleted scenes from the movie</em></div>
<div>From a deleted scene in Serenity (the movie) we learn that the battle lasted for seven weeks. Therefore the start date must have been seven weeks before the end date, which we know to be May 2511.</div>
</td>
</tr>
<tr class=even><td>April &#x2012; May 2511</td>
<td><div><em>Canonical event</em></div>
Independents' high command surrenders</td>
<td><div><em>Deleted scenes from the movie</em></div>
<div>Source	From a deleted scene in Serenity&#x00A0;(the movie) we learn that the high command surrendered two weeks before the end of the Battle of Serenity Valley.</div>
</td>
</tr>
<tr class=odd><td>12th April 2511</td>
<td><div><em>In fan audio drama</em></div>
Romana at the battle of Serenity Valley</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/890/index.html>Borederline, season 1, episode 10</a></div>
</td>
</tr>
<tr class=even><td>May 2511</td>
<td><div><em>Canonical event</em></div>
The battle of Serenity Valley ends</td>
<td><div><em>Deleted scenes from the movie</em></div>
<div>The information appears briefly on a screen viewed by the Operative. You need a freeze frame to catch it.</div>
</td>
</tr>
<tr class=odd><td>May &#x2012; June 2511</td>
<td><div><em>Canonical event</em></div>
The official end of the war - Unification Day</td>
<td><div><em>Bushwhacked</em></div>
<div>Alliance officer Harken says, &quot;Some say after Serenity, the Browncoats were through. That the war really ended in that valley.&quot; This clearly implies that the war ended very soon after the Battle of Serenity Valley.</div>
</td>
</tr>
<tr class=even><td>June &#x2012; December 2511</td>
<td><div><em>Canonical event</em></div>
River at school (flashback)</td>
<td><div><em>Serenity (movie)</em></div>
<div>From Serenity&#x00A0;(the movie), this scene is set after the war. Further, In the Serenity Visual companion, the shooting script for this scene describes River as being ten years old during this scene, which confirms that it must have taken place in 2511.</div>
</td>
</tr>
<tr class=odd><td>11th July 2511</td>
<td><div><em>In fan audio drama</em></div>
Romana celebrates the end of the war</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/913/index.html>Borderline, season 1, episode 11</a></div>
</td>
</tr>
<tr class=even><td>15th January 2512</td>
<td><div><em>In fan audio drama</em></div>
The Counterfeit Companion</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/1507/index.html>The Counterfeit Companion</a> is the linking story connecting seasons 1 and 2 of Borderline.</div>
</td>
</tr>
<tr class=odd><td>29th February 2512</td>
<td><div><em>In fan audio drama</em></div>
Elizabeth visits Serenity Valley</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/1513/index.html>Borderline, season 2, episode 1</a></div>
</td>
</tr>
<tr class=even><td>4th September 2512</td>
<td><div><em>In fan audio drama</em></div>
Elizabeth visits Santo</td>
<td><div><em>Borderline</em></div>
<div><a href=../../segment/view/1581/index.html>Borderline, season 2, episode 1</a></div>
</td>
</tr>
<tr class=odd><td>2514</td>
<td><div><em>Canonical event</em></div>
Mal buys Serenity</td>
<td><div><em>From a prop used in the movie</em></div>
<div>Mal's Alliance record</div>
</td>
</tr>
<tr class=even><td>January &#x2012; February 2515</td>
<td><div><em>Canonical event</em></div>
The Academy recruits River</td>
<td><div><em>The River Tam sessions</em></div>
<div>Educated guess based on the notion that this is set just before River joins the academy, and on the assumption that the River Tam sessions were approximately evenly distributed.<p>Additionally, in Serenity&#x00A0; (the pilot), Simon says River was 14 when she joined the academy, so it cannot have been earlier than December 19th 2514. He also says it was &quot;months&quot; before he started receiving coded letters, so it cannot have been later than February 2515.</p>
</div>
</td>
</tr>
<tr class=odd><td>February &#x2012; March 2515</td>
<td><div><em>Canonical event</em></div>
River requests a transfer</td>
<td><div><em>The River Tam sessions</em></div>
<div>Deduction based on the fact that this is set between River's joining the Academy and River's writing to Simon, and on the assumption that the River Tam sessions were approximately evenly distributed.</div>
</td>
</tr>
<tr class=even><td>March &#x2012; April 2515</td>
<td><div><em>Canonical event</em></div>
River starts sending coded messages to Simon</td>
<td><div><em>Serenity (episode)</em></div>
<div>Simon says he began receiving coded letters two years before being contacted by the underground.</div>
</td>
</tr>
<tr class=odd><td>June 2515</td>
<td><div><em>Canonical event</em></div>
River going crazy</td>
<td><div><em>The River Tam sessions</em></div>
<div>Educated guess based on the assumption that the River Tam sessions were approximately evenly distributed.</div>
</td>
</tr>
<tr class=even><td>August &#x2012; September 2516</td>
<td><div><em>Canonical event</em></div>
Inara begins renting a shuttle on Serenity</td>
<td><div><em>The Train Job</em></div>
<div>During the episode The Train Job&#x00A0;, Inara says she's been on board for eight months. Therefore this event must have taken place eight months before The Train Job&#x00A0;.</div>
</td>
</tr>
<tr class=odd><td>March 2517</td>
<td><div><em>Canonical event</em></div>
River knows Simon is looking for her</td>
<td><div><em>The River Tam sessions</em></div>
<div>Educated guess. This must have happened before Simon was contacted by the underground, since River knew that Simon did not (yet) have enough information to find her. But it must have happened quite late on, because River has deduced Matthias's mission for her. Again, I make the assumption that the River Tam sessions were approximately evenly distributed.</div>
</td>
</tr>
<tr class=even><td>March 2517</td>
<td><div><em>In fan audio drama</em></div>
Simon discovers River's whereabouts.</td>
<td><div><em>Moonshine</em></div>
<div>Implicit, since this story is set just before Simon is contacted by the underground.</div>
</td>
</tr>
<tr class=odd><td>April 2517</td>
<td><div><em>Canonical event</em></div>
Simon contacted by &quot;some men&quot; from &quot;some underground movement&quot; about River</td>
<td><div><em>Serenity (episode)</em></div>
<div>From Simon's explanation, this was two years after receiving coded letters. In addition, this must have happened shortly before the rescue.</div>
</td>
</tr>
<tr class=even><td>April &#x2012; May 2517</td>
<td><div><em>Canonical event</em></div>
Simon rescues River from the Academy</td>
<td><div><em>Serenity (episode)</em></div>
<div>Deduction based on the notion that this can't have happened too long before Serenity (the pilot).</div>
</td>
</tr>
<tr class=odd><td>April 2517</td>
<td><div><em>In fan audio drama</em></div>
Herren Island, Newhall, attacked by reavers</td>
<td><div><em>Dark Places</em></div>
<div><a href=../../segment/view/1929/index.html>Dark Places, episode 1: Vindicator</a></div>
</td>
</tr>
<tr class=even><td>May &#x2012; June 2517</td>
<td><div><em>Canonical event</em></div>
Serenity (episode)</td>
<td><div><em>The Train Job</em></div>
<div>Deduction. Several clues in The Train Job&#x00A0; indicate that the interval between Serenity&#x00A0; and The Train Job&#x00A0; can have been a few days at most (for example, River hasn't found out she's on a ship yet).</div>
</td>
</tr>
<tr class=odd><td>May &#x2012; June 2517</td>
<td><div><em>Canonical event</em></div>
The Train Job</td>
<td><div><em>The Train Job</em></div>
<div>It is stated&#x00A0; that exactly six years to the day have elapsed since the end of the Unification war.</div>
</td>
</tr>
<tr class=even><td>July &#x2012; August 2517</td>
<td><div><em>Canonical event</em></div>
Bushwhacked</td>
<td><div><em>Bushwhacked</em></div>
<div>It is stated ithat Inara has been on board Serenity for a few weeks short of a year. Inara joined Serenity&#x00A0;in August or September 2516.</div>
</td>
</tr>
<tr class=odd><td>August &#x2012; September 2517</td>
<td><div><em>Canonical event</em></div>
Shindig</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that Shindig&#x00A0;and Safe must both have occurred between Bushwhacked&#x00A0;and Our Mrs Reynolds. In addition, it is stated in Safe&#x00A0;that three weeks elapsed between Shindig&#x00A0;and Safe&#x00A0;</div>
</td>
</tr>
<tr class=even><td>September &#x2012; October 2517</td>
<td><div><em>Canonical event</em></div>
Safe</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that Shindig&#x00A0; and Safe&#x00A0;must both have occurred between Bushwhacked&#x00A0;and Our Mrs Reynolds. In addition, it is stated in Safe that three weeks elapsed between Shindig&#x00A0;and Safe&#x00A0;</div>
</td>
</tr>
<tr class=odd><td>October 2517</td>
<td><div><em>Canonical event</em></div>
Our Mrs Reynolds</td>
<td><div><em>Our Mrs Reynolds</em></div>
<div>Inara states that she has an appointment on October 24th. Mal states that Serenity&#x00A0;will take about a week to get there (which won't be late), therefore this episode begins on October 17th 2517, or possibly a few days earlier.</div>
</td>
</tr>
<tr class=even><td>October &#x2012; November 2517</td>
<td><div><em>Canonical event</em></div>
Jaynestown</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that Jaynestown&#x00A0;must have occured between Our Mrs Reynolds&#x00A0;and Out of Gas.</div>
</td>
</tr>
<tr class=odd><td>November &#x2012; December 2517</td>
<td><div><em>Canonical event</em></div>
Out of Gas</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that Jaynestown, Out of Gas, Ariel&#x00A0;and War Stories&#x00A0;must all have occured between Our Mrs Reynolds&#x00A0;and Trash, and on the notion that Simon's birthday (which happens in this episode) occurred before River's. (I suspect that, if River's birthday had come first, Simon would have got River a present, and then River would have got Simon a present. This didn't happen.)</div>
</td>
</tr>
<tr class=even><td>January &#x2012; February 2518</td>
<td><div><em>Canonical event</em></div>
Ariel</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that Ariel&#x00A0;and War Stories must have occured between Out of Gas&#x00A0;and Trash.</div>
</td>
</tr>
<tr class=odd><td>February &#x2012; March 2518</td>
<td><div><em>Canonical event</em></div>
War Stories</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that Jaynestown, Out of Gas, Ariel&#x00A0;and War Stories&#x00A0; must all have occured between Our Mrs Reynolds&#x00A0;and Trash. In addition, Book's conversation with Simon at the start of War Stories&#x00A0;implies that Ariel&#x00A0;was still very recent.</div>
</td>
</tr>
<tr class=even><td>Late March</td>
<td><div><em>Canonical event</em></div>
Trash</td>
<td><div><em>Trash</em></div>
<div>Mal tells Monty that he married &quot;Bridget&quot; (Saffron) about half a year back. Note that <em>exactly</em>&#x00A0;half a year would place this episode at April 2518 - however, Mal's timekeeping is not that accurate. This episode must have taken place earlier than April 2518, or there would not have been time for subsequent episodes.</div>
</td>
</tr>
<tr class=odd><td>Late March</td>
<td><div><em>In fan movie</em></div>
The Bellflower (movie)</td>
<td><div><em>Inside knowledge</em></div>
<div>The first episode of The Bellflower is stated by its creators to be set two weeks before The Message.</div>
</td>
</tr>
<tr class=even><td>Early April</td>
<td><div><em>Canonical event</em></div>
The Message</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that The Message, Heart of Gold&#x00A0;and Objects in Space must have occured between Trash&#x00A0;and (several months before) Better Days&#x00A0;</div>
</td>
</tr>
<tr class=odd><td>Late April</td>
<td><div><em>Canonical event</em></div>
Heart of Gold</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that The Message, Heart of Gold and Objects in Space&#x00A0;must have occured between Trash&#x00A0;and (several months before) Better Days&#x00A0;</div>
</td>
</tr>
<tr class=even><td>Early May</td>
<td><div><em>Canonical event</em></div>
Objects in Space</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the fact that The Message, Heart of Gold&#x00A0;and Objects in Space&#x00A0;must have occured between Trash&#x00A0;and (several months before) Better Days&#x00A0;</div>
</td>
</tr>
<tr class=odd><td>Late May</td>
<td><div><em>In fan audio drama</em></div>
Old Wounds</td>
<td><div><em>Old Wounds</em></div>
<div>Discussions between Mal and Kaylee regarding Serenity's primary buffer panel on Old Wounds&#x00A0;and Serenity (the movie) imply that Old Wounds&#x00A0;is set roughly six months before the movie.</div>
</td>
</tr>
<tr class=even><td>June &#x2012; July 2518</td>
<td><div><em>Canonical event</em></div>
Better Days</td>
<td><div><em>Deduction</em></div>
<div>Better Days&#x00A0;must have occurred between Objects in Space&#x00A0;and Those Left Behind.</div>
</td>
</tr>
<tr class=odd><td>August 2518</td>
<td><div><em>Canonical event</em></div>
Those Left Behind</td>
<td><div><em>Deduction</em></div>
<div>Deduction based on the notion that Those Left Behind&#x00A0;must occur about halfway between Objects in Space&#x00A0;and the movie.</div>
</td>
</tr>
<tr class=even><td>November 2518</td>
<td><div><em>Canonical event</em></div>
Serenity (movie)</td>
<td><div><em>Serenity (movie)</em></div>
<div>Simon states that River is 17 years old, therefore this cannot have taken place any later than December 18th 2518. In addition, sufficient time must have elapsed between the end of the series and the movie to allow for all the changes that have taken place. A widely accepted &quot;educated guess&quot; for this period assumes the interval to have been six months, which places the movie at November 2518.<p>The movie <em>must</em> have taken place between June and early December of 2518 (and the June limit is highly unlikely&#x00A0; as this would only allow for a few weeks between Trash&#x00A0;and the movie).</p>
<p>Corroborating evidence is that, in the Serenity&#x00A0;novelisation, author Keith R. A. Decandido dates this as &quot;eight years after the war&quot;. The war ended in May/June 2511, so eight years later would be May/June 2519. Since we already know that the movie must have taken place between June and December 2518, this date cannot be accurate to the month. However if we allow that it is accurate to the nearest year then this sets the earliest possible date for the movie as seven and a half years after the war, or November/December 2518.</p>
</div>
</td>
</tr>
<tr class=odd><td>December 2518</td>
<td><div><em>In fan audio drama</em></div>
Wedding Day</td>
<td><div><em>Wedding Day</em></div>
<div>Information on the Sonic Cinema website reads: Set just after the Serenity movie, Kaylee decides to go home to visit with her family for Christmas</div>
</td>
</tr>
<tr class=even><td>February 2519</td>
<td><div><em>In fan movie</em></div>
Redemption</td>
<td><div><em>Inside knowledge</em></div>
<div><a href=../../external.html#http://browncoatsmovie.com/>Browncoats: Redemption</a> is stated (by its creator, in an interview with the Signal) to be set three months after Serenity the movie.</div>
</td>
</tr>
<tr class=odd><td>March &#x2012; May 2519</td>
<td><div><em>In fan audio drama</em></div>
Around the 'Verse in 80 Days</td>
<td><div><em>Inside knowledge</em></div>
<div>This series is set in the aftermath of the Miranda broadwave.</div>
</td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><a></a><h3><span class=mw-headline>Controversial Dates</span></h3>


<p>There are some controversial dates in there, so I'd like to spend some time justifying them. The first dubious one is Mal's date of birth. It's in the movie - and therefore it's canon - that Alliance records list Mal's date of birth as September 20th 2468. The trouble is, that makes him fifty years old at the time of the movie. Is Mal really fifty? A lot of people think not. Additionally, that information conflicts with non-true-canon sources (specifically, props from the movie), so take that with as many pinches of salt as you prefer. Governo's timeline makes a strange compromise, taking the date and month from the movie, but not the year.</p>

<p>The next problem, chronologically speaking, is the question: Did the Miranda event happen before or after the start of the war? Either possibility would be consistent with the information available, since all the relevant references are vague. We do know that Miranda was an Alliance world, not an Independent world, and that the Pax was intended to &quot;calm the population, weed out aggression&quot;. It just makes more sense to me that such a program would have happened before the war rather than during.</p>

<p>Finally, there is the date of the movie. This isn't particularly controversial, but there is some educated guesswork in there. I placed the movie at November 2518. It might  have been earlier - however, the earlier it is, the less time there would have been in which all the other stuff could have taken place.</p>


<a></a><h3><span class=mw-headline>Contradictions</span></h3>


<p>There are one or two places in the series and movie where contradictions may be perceived. Here are all the ones of which I am aware:</p>

<p>In Objects in Space , Inara says to Jubal Early, &quot;Serenity is a smuggling ship. I've been here a year, I couldn't name all the places she might hide.&quot; By my reckoning it should be one year and five months. But hey - there was no reason for Inara to have been completely accurate to Jubal Early in a flippant remark like that.</p>

<p>In the movie, Mal says to Simon, &quot;Eight months you've been on my boat&quot;. This is just impossible. I tend to assume Mal meant eighteen  months, which would be consistent with my timeline.</p>

<p>Here's an interesting non-true-canon one. In the Visual Companion, on page 49, the Operative says to Matthias, &quot;River was your greatest success. A prodigy - a phenomenon. Until her brother walked in eight months ago and took her from you&quot; As noted above, this is impossible. Fortunately, this is extended canon, not core canon, so we are able to ignore it. That said, if you want to take it as real, you could  assume that the movie scene in which Matthias died took place in March 2518 (with the rest of the movie being set in November). Personally, I choose to ignore that one.</p>

<p>And just to bring sex into the equation, in the movie, Kaylee says to Mal, &quot;Going on a year now I ain't had nothing twixt my nethers weren't run on batteries.&quot; So when exactly did she last get laid? Logically, it has to be sometime after November 2517 - which was after  Simon boarded Serenity. It wasn't with Simon, so I guess there's a story there to be told. My favorite explanation is the &quot;boy whores&quot; in Heart of Gold .</p>

<p>Note that the last three are consistent with each other, and therefore mutually reinforcing. An alternative interpetation is that there really were only eight months between Serenity  and Serenity . I've played with that possibility, but there was just no way I could get it to work. You're welcome to try.</p>


<a></a><h3><span class=mw-headline>Differences from Edgar Governo's Timeline</span></h3>


<p>The Governo timeline and mine are largely in agreement, however there are still some differences between the two. Most obviously, the Governo timeline includes things from real history, such as the formation of the USA. Mine doesn't. Conversely, mine incorporates the dates of fan audio and video productions, wheras Governo's doesn't. Governo's timeline makes some estimates about e.g. Book's date of birth. I make no guesses without good reason. But let's look now at the explicit differences.</p>

<p>The Governo timeline cites Malcolm Reynolds' date of birth as September 20th 2486. As noted above, this is controversial. Governo's date is conjecture based on the assumption that Nathan Fillion was the same age as Malcolm Reynolds during Firefly (but not during the movie); mine is from canon, but marked as unreliable.</p>

<p>We also disagree about Simon's date of birth. Governo says late November 2490; I say November/December 2491. Well, at least we both agree on November! As to the year, Governo estimates based on the age of Sean Maher during Firefly, wheras I estimate based on the age of Zak Effron during Safe. Estimating the age of a character from the age of an actor is always risky, but my feeling is that an estimate based on a the age of a child actor will be much more robust than an estimate based on the age of an adult actor.</p>

<p>We also disagree about River's date of birth. (I have December 19th 2500; Governo has 2501). In this case, however, I'm right. The date comes straight from the records of Project Oracle (known from a prop from the movie).</p>

<p>The Governo timeline claims that Mal bought Serenity in 2512. I say 2514. Governo's date is deduced from the fact that on the DVD commentary for the episode, writer Tim Minear and director David Solomon indicate that this took place &quot;five years ago.&quot; My date comes from Mal's Alliance record (known from a prop from the movie).</p>

<p>The timing of the episodes Ariel  and War Stories  is also different. Governo places them before Christmas; I place them after. Governo's main reason for placing Ariel  before Christmas is River's statement &quot;they took Christmas away&quot;. However, since River was referring to the past, not to the present, I don't see that as sufficient justification for trying to squish two extra episodes into 2517, and I really don't think it works. Note that the very next episode, Trash , is set in March/April 2518. In other words, I have assumed that Ariel  and War Stories  fit into that nice big gap, Governo squeezes them into a tiny gap just to get them in before Christmas.</p>

<p>We only very slightly disagree about the timing of Trash . I have late March; Governo says April. Governo's conclusion is a logical deduction, given that Mal says it is &quot;about half a year&quot; since Our Mrs Reynolds , however, I believe it must have been a few weeks earlier, or there would not have been sufficient time afterwards for everything else that needs to happen.</p>

<p>Governo places Those Left Behind  in June, I in August. Truth is, we're both really guessing on this one. I prefer my date.</p>

<p>And finally, there's the movie itself. Governo says August; I say November. Again, we're both really guessing. Again, I prefer my date. Governo's timeline allows only three months between Objects in Space  and Serenity&#x00A0;; mine allows six months. Just from watching the movie, it does seem to me that more than three months must have passed.</p>
</div>

</div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
