<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Tangled Yarn</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Tangled Yarn</h1>
<div><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2695/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
<h2>Mal and Saffron</h2>
<div>First aired: <a href=../../../show/view/251/index.html>The Signal: Season 10, Episode 1</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><a></a><h2><span class=mw-headline>Tangled Yarn: Mal and Saffron</span></h2>


<p><strong>By Helen Eaton</strong></p>


<dl><dt>MAL</dt>
<dd>Oh, you're a tweaked one, you are.</dd>
<dt>SAFFRON</dt>
<dd>But face it, hubby, I'm really hot.</dd>
</dl>


<p>Of all the relationships in Firefly and Serenity, the one between Mal and
Saffron can put forward a good case for being the most tangled. For one
thing, Saffron spends most of her two episodes playing one role or another,
so she is something of a moving target. For another, the interactions
between the two characters are played out against a backdrop of thrilling
heroics, with Mal and Saffron switching sides and double-crossing each other
with impressive nimbleness.</p>

<p>Their first meeting, however, seems to bode well. Mal, fresh from a
successful stint as a big damn hero for hire, swaps his pretty floral bonnet
for a &quot;hat made out of a tree&quot; and enjoys some celebratory wine and dancing,
not realising he is, in his words, &quot;signing up to have and to hold&quot;. The way
Mal reacts on discovering his accidental marriage is (as well as being
extremely funny) interesting as he sees himself and not Saffron as the
problem with the match:</p>


<dl><dt>SAFFRON</dt>
<dd>I'd be a good wife.</dd>
<dt>MAL</dt>
<dd>Yeah, well, I'd be a terrible husband. You got five whole days to figure that out.</dd>
</dl>


<p>However he takes offence at Shepherd Book's &quot;smutty mind&quot; and at his crew
thinking him an &quot;evil, lecherous hump&quot;, so he is not entirely down on
himself.</p>

<p>For her part, Saffron - in her &quot;nubile little slave girl&quot; guise - calls Mal
&quot;a good man&quot;, and he calls her a &quot;nice girl&quot;. Mal considers Saffron's view
to be a mistaken one, although almost everything he does in the early part
of the episode contradicts this low view he seems to have of himself, as he
struggles to do what is &quot;morally right&quot;. And of course in turn Saffron's
behaviour contradicts entirely Mal's misguided initial judgment of her.</p>

<p>Before Saffron's true intentions are revealed, we see her using her wiles on
Mal and getting him to open up a little about his family and his past. He
even starts to contemplate a future of a more domestic kind than his kind of
life normally leads to:</p>


<dl><dt>INARA</dt>
<dd>Maybe you should think twice about letting go of &quot;Saffron&quot;. You two sound like quite a match.</dd>
<dt>MAL</dt>
<dd>Maybe you're right. Maybe we're soulmates.</dd>
<dt>INARA</dt>
<dd>Yes. Great. I wish you hundreds of fat children.</dd>
<dt>MAL</dt>
<dd>Could you imagine that? Me with a whole passel of critters underfoot? Ten years time, I could teach 'em to-</dd>
<dt>INARA</dt>
<dd>Can you leave me alone for five minutes please?</dd>
</dl>


<p>Mal continues to resist Saffron's charms though and drives her to poetic
extremes in her efforts to seduce him:</p>


<dl><dt>SAFFRON</dt>
<dd>I cried for I'd not dreamed to have a man so sweet, so kind and beautiful. Had I the dare to choose, I'd choose you from all the men on all the planets the night sky could show me.</dd>
</dl>


<p>After the goodnight kiss, a different Saffron is revealed to the viewer,
and, eventually, to Mal as well. Their relationship heads off in a
completely new direction and becomes one between two people in the same line
of work, but with very different attitudes to it. For Mal, stealing is a
team game and the payoff is the point, so the easier the job is, the better.
For Saffron, stealing is a lone pursuit and the playing of parts is more
important than the actual payoff, so the more of a game the job is, the
better. However, despite their differences, their meeting at the end of Our
Mrs Reynolds does not end in a shoot-out:</p>


<dl><dt>SAFFRON</dt>
<dd>You gonna kill me?</dd>
<dt>MAL</dt>
<dd>Can you conjure up a terribly compelling reason for me not to?</dd>
<dt>SAFFRON</dt>
<dd>I didn't kill you...</dd>
<dt>MAL</dt>
<dd>You handed me and my crew over to those that would kill us, that buys you nothing.</dd>
</dl>


<p>Why does Mal let Saffron live? We know that he is not averse to killing
those who cross him, and Saffron certainly does that. Perhaps he has a kind
of grudging respect for Saffron and her style. His later description of her
as a &quot;brilliant, beautiful, evil double crossing snake&quot; certainly suggests
that. Or perhaps there is a tinge of pity in how he deals with Saffron, when
he has her at his mercy. Maybe he sees in her something of what he might
have been, had he not had a crew with him.</p>

<p>As for Saffron's view of Mal by this point, she also seems to appreciate
some of his qualities, considering that his attempt to teach her to be
strong was a sign of his doing &quot;pretty well&quot;. She also respects how he bests
her:</p>


<dl><dt>SAFFRON</dt>
<dd>You're quite a man, Malcolm Reynolds. I've been waiting a long time for someone good enough to take me down.</dd>
</dl>


<p>Mal and Saffron part with the former very much having ended up on top, both
literally and metaphorically, but when they meet again, at the start of the
events of the episode Trash, they are on an equal footing. On meeting each
other again, they both react in exactly the same way, going first for a gun
and then starting on the insults:</p>


<dl><dt>MAL</dt>
<dd>She's as cold as ice and dead crazy on top of it.</dd>
<dt>SAFFRON</dt>
<dd>You're a liar, Malcolm Reynolds!</dd>
</dl>


<p>But as they continue to talk, we see some differences in their attitudes to
each other. Mal is firmly against any further involvement with Saffron, but
she sees him as a potential partner and attempts to persuade him to join her
in her next scheme. Mal seems immovable, but of course does eventually
relent and take Saffron on board Serenity, albeit in a crate. Why does he
change his mind? Perhaps he feels that he is above treating Saffron in the
same way she treated him and his crew. She had put them &quot;in a position to
die easy&quot;, but he chooses not to return the favour when he has the chance.
Or perhaps it is simply that the job Saffron has in mind is just a little
too tempting to reject outright.</p>

<p>It seems that Mal is not entirely convinced by the idea of working with
Saffron though, and only decides to do so after a fight with Inara wounds
his pride. He also very pointedly does not actually trust Saffron at any
point during the heist, and does not expect or want his crew to do so
either. Theirs is a working relationship based on mutual need rather than
trust.</p>

<p>As Saffron's history with Durran Haymer is revealed, and the heist begins to
unravel, it is interesting that Mal sticks with Saffron and doesn't make a
hasty exit without her. Perhaps he feels honour bound to stay loyal to his
partner, however crazy she is, or perhaps he simply still prefers to have
her where he can see her:</p>


<dl><dt>MAL</dt>
<dd>I hate to bring up our imminent arrest during your crazy time, but we gotta go.</dd>
</dl>


<p>Once on the shuttle and out of danger, Saffron finally lets a little of her
true self show. Her feelings for Durran seem genuine and Mal responds to her
revelations with just a touch of schadenfreude:</p>


<dl><dt>MAL</dt>
<dd>The man who knows you, still loves you, treachery and all. Can't have him walking about.</dd>
<dt>SAFFRON</dt>
<dd>You must be loving this.</dd>
<dt>MAL</dt>
<dd>Little bit.</dd>
</dl>


<p>It's not surprising that Mal enjoys Saffron's vulnerability, considering how
the situation was reversed during their first encounter, when Saffron made
sure Serenity and her crew were the vulnerable ones. Maybe there is also
some vindication for the view Mal expressed at the end of the events of Our
Mrs Reynolds, when he tried to explain to Saffron how the key to him coming
out on top was that  he was with &quot;people who trust each other, who do for
each other and ain't always looking for the advantage&quot;.</p>


<dl><dt>SAFFRON</dt>
<dd>Can people ever change?</dd>
<dt>MAL</dt>
<dd>Depends on the person. I'm guessing, the pain of this fades away, you'll just go back to being what you are.</dd>
<dt>SAFFRON</dt>
<dd>What is that?</dd>
<dt>MAL</dt>
<dd>A brilliant, beautiful, evil double crossing snake.</dd>
</dl>


<p>It seems that Mal's opinion of Saffron has not changed much at all during
the course of the episode, although he has seen past the play acting and
glimpsed something of her real character. In contrast, the view Saffron
expresses of Mal turns out to be misjudged:</p>


<dl><dt>SAFFRON</dt>
<dd>You just may be the most gullible fool I have ever marked. And that makes you special.</dd>
</dl>


<p>As the episode draws to a close, it seems like a reversal of the ending to
Our Mrs Reynolds is on the cards. This time Saffron is the one coming out on
top, but of course there is one final twist, courtesy of Inara, and instead
Mal (and his crew) are again the victors.</p>

<p>I like to think that Mal and Saffron's relationship did not end at this
point. Perhaps there were further skirmishes which we did not get to see.
Maybe sometimes Saffron did get the best of Mal. But ultimately it is hard
to disagree with Mal's assessment of Saffron's inability to change, and
equally difficult to see how by herself she could ever be a real match for
Mal and his crew. It would have been fun to continue to watch her try
though.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2695/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/251/index.html>The Signal: Season 10, Episode 1</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
