<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2378/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/2404/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/206/index.html>The Signal: Season 7, Episode 12</a></div>
<div><ul><li><a href=../../../external.html#http://www.tcon.ca/polaris/modules/tconguests/>Jewel Staite to join Adam Baldwin and Melinda Clarke at Polaris 25</a></li>
<li><a href=../../../external.html#http://tv.broadwayworld.com/article/Dexter-And-Shameless-Headline-Opening-Day-of-Comic-Con-2011-20110622>Morena Baccarin</a> and <a href=../../../external.html#http://poptimal.com/2011/06/warner-bros-announces-16-shows-for-san-diego-comic-con-2011-lineup/>Adam Baldwin</a> to be guests at San Diego Comic Con</li>
<li><a href=../../../external.html#http://twitter.com/#%21/JewelStaite/status/83242575179431936>Jewel Staite to be a guest at Once Upon a Cure</a></li>
<li><a href=../../../external.html#http://browncoatsmovie.com/>Browncoats: Redemption has raised over 60,000 US$ for charity to date</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/479/index.html>Bindiya Dale</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/479/index.html>Bindiya Dale</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/479/index.html>Bindiya Dale</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2378/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/2404/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/206/index.html>The Signal: Season 7, Episode 12</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
