<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1248/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1275/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/121/index.html>The Signal: Season 4, Episode 18</a></div>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/17704>Morena to appear at New England Fan Experience in Cambridge, Massachusetts</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/17677>Jewel Staite to make a special appearance at the Sci-Fi Expo in Plano, Texas, October 25-26</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/17658>Serenity makes Empire's Top 500 movies of all time</a></li>
<li><a href=../../../external.html#http://www.imdb.com/title/tt0303461/videogallery>All Firefly episodes now streaming free on IMDB</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1248/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1275/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/121/index.html>The Signal: Season 4, Episode 18</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
