<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4, Episode 7</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4, Episode 7</h1>
<div><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/106/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/108/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_407_20080415.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_407_20080415.mp3 download=signal_season04_07.mp3>Download audio file</a></div>
<div class=info>Tuesday 15th April 2008</div>
Produced by Nick Edwards<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/114/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 4 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:00:41</td>
<td class=shownote><h3>Banter</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/16022>Firefly on Blu Ray</a></li>
<li><a href=../../../external.html#http://www.dragoncon.org/>Dragon*Con</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1143/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/105/index.html><img src=../../../image/image/197/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:49</td>
<td class=shownote><h3>What's Your Serenity?</h3>
<h4>III</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1130/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:39</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/15929>Jewel Staite says new special edition of Firefly DVD coming</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16022>Firefly on Blu Ray Confirmed</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15993>Nathan and Ron are coming to Australia</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15941>THE Original Browncoat back up on eBay</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/04/04/serenity-adventures-coming-for-the-serenity-rpg/>&#x201C;Serenity Adventures&#x201D; coming for the Serenity RPG</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/04/03/zoes-revenge-statue-cancelled/>&quot;Zoe&#x2019;s Revenge&quot; statue cancelled</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/04/04/limited-edition-fruity-oaty-bar-lithograph/>Limited edition Fruity Oaty Bar lithograph</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/03/27/worlds-of-the-alliance-numbered-and-signed-lithograph/>Worlds of the Alliance numbered and signed lithograph</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1145/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:17</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Creating the Browncoats</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1139/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/81/index.html><img src=../../../image/image/103/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:27</td>
<td class=shownote><h3>Bold Moves</h3>
<h4>Free-Form Roleplaying</h4>
<p>Written by <a href=../../../human/view/18/index.html>David Moore</a>; read by <a href=../../../human/view/18/index.html>David Moore</a></p>
</td>
<td><a href=../../../segment/view/1140/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/101/index.html><img src=../../../image/image/111/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:45</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 18: Coffeeee!</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a>, <a href=../../../human/view/5/index.html>Miranda Thomas</a> and <a href=../../../human/view/194/index.html>Seamus O'Flagherty</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1141/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:36:56</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1146/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.podshock.net><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:50:42</td>
<td class=shownote><h3>Promo: Doctor Who Podshock</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:32</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Blood Ties</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1138/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>1:09:09</td>
<td class=shownote><h3>Editorial</h3>
<h4>Where the Writers Go</h4>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1082/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:30</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Isleen Moore version (and horses)</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:54<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/106/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/108/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4237>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
