<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 8</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 8</h1>
<div><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/8/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/10/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_008_20050824a.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_008_20050824a.mp3 download=signal_season01_08.mp3>Download audio file</a></div>
<div class=info>Wednesday 24th August 2005</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 1</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:22</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div>Les and Kari introduce the show</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/145/9/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:02:20</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Serenity World Premiere takes place at Edinburgh International Film Festival</li>
<li>Joss and cast to take part in a live web-chat</li>
<li>FOX8 announce Australian premiere of Firefly</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/148/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:19</td>
<td class=shownote><h3>Kaylee, the Soul of Serenity</h3>
<p>Written by <a href=../../../human/view/9/index.html>Clay McClure</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/146/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:14:16</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<div>&quot;gos se&quot; (crap) and &quot;shiong mao niao&quot; (panda urine)</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/150/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/10/index.html><img src=../../../image/image/33/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:17:34</td>
<td class=shownote><h3>Blue Sun Public Service Announcement</h3>
<h4>Flavornix Commercial</h4>
<p>Written by <a href=../../../human/view/13/index.html>Rich Adams</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/149/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:18:30</td>
<td class=shownote><h3>What's in a Name, part 1</h3>
<p>Written by <a href=../../../human/view/13/index.html>Rich Adams</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/147/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:08</td>
<td class=shownote><h3>Music Section</h3>
<h4>Going for a Ride</h4>
<p>Music by <a href=../../../human/view/34/index.html>David Newman</a></p>
</td>
<td><a href=../../../segment/view/152/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:48</td>
<td class=shownote><h3>Dragon*Con - Here's how it is</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/170/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:40:33</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Colby - The nickname &quot;Ambassador&quot;</li>
<li>Shirasade - Swiss release date</li>
<li>Helen - Sunday Times article</li>
<li>Shelley - IMDB and guerrilla marketing</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/151/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/28/index.html><img src=../../../image/image/46/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:47:23</td>
<td class=shownote><h3>Those Left Behind</h3>
<h4>Part 2</h4>
<p>Written by <a href=../../../human/view/33/index.html>Bubbafett</a>; read by <a href=../../../human/view/33/index.html>Bubbafett</a></p>
</td>
<td><a href=../../../segment/view/171/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:49:21</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>Les and Kari remind you about the crew page.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/145/9/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:49:31</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:49:53<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/8/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/10/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=930>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
