<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 8, Episode 12</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 8, Episode 12</h1>
<div><div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/233/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/236/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0812_20120731.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0812_20120731.mp3 download=signal_season08_12.mp3>Download audio file</a></div>
<div class=info>Tuesday 31st July 2012</div>
Produced by Kara Helgren<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/206/3/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 8 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:07</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/477/index.html>Paul Korswagen</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2774/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:44</td>
<td class=shownote><h3>Editorial</h3>
<h4>Dead System?</h4>
<p>Written by <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; read by <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2772/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:21</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Ariel</h4>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2762/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/173/index.html><img src=../../../image/image/198/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:33</td>
<td class=shownote><h3>Tangled Yarn</h3>
<h4>Jayne and Kaylee</h4>
<p>Written by <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; read by <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2695/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:52</td>
<td class=shownote><h3>Interview</h3>
<h4>Patric Reynolds</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/560/index.html>Yi Weng</a></p>
</td>
<td><a href=../../../segment/view/2779/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/155/index.html><img src=../../../image/image/153/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:23</td>
<td class=shownote><h3>The Shipworks</h3>
<h4>Sparks for the Monkey</h4>
<p>Written by <a href=../../../human/view/477/index.html>Paul Korswagen</a>; starring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/485/index.html>Craig Kurumada</a> and <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; music by <a href=../../../human/view/467/index.html>Great Big Sea</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2739/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/176/index.html><img src=../../../image/image/214/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:57:36</td>
<td class=shownote><h3>Silence in Space</h3>
<h4>Trash</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2783/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:05:53</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:06:28<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/233/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/236/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
