<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 5</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 5</h1>
<div><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/5/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/7/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_005_20050803.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_005_20050803.mp3 download=signal_season01_05.mp3>Download audio file</a></div>
<div class=info>Wednesday 3rd August 2005</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 1</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:41</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div>Les and Kari talk about the upcoming Gina Torres Interview.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/103/6/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:02</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Serenity Preview DVD</li>
<li>New International Trailer due in September</li>
<li>Browncoat crews organized</li>
<li>Email blitz for Firefly Soundtrack album</li>
<li>Dark Horse to print more Serenity comics</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/104/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:05:46</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div>Les and Kari talk about Serenity premiere tickets and the new US trailer.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/103/6/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:25</td>
<td class=shownote><h3>Interview</h3>
<h4>Gina Torres, part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/109/6/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:21:50</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<div>&quot;Sheh-sheh&quot; (Thank you) and &quot;Shun-SHENG duh gao-WAHN&quot; (Holy Testicle Tuesday)</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/106/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/10/index.html><img src=../../../image/image/33/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:25:25</td>
<td class=shownote><h3>Blue Sun Public Service Announcement</h3>
<h4>Alliance Military Recruitment Campaign</h4>
<p></p>
</td>
<td><a href=../../../segment/view/105/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/17/index.html><img src=../../../image/image/47/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:47</td>
<td class=shownote><h3>The Guerrilla Marketing Section</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/110/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:29</td>
<td class=shownote><h3>Food from the Edge</h3>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a> and <a href=../../../human/view/9/index.html>Clay McClure</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/65/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:41:37</td>
<td class=shownote><h3>Interview</h3>
<h4>Gina Torres, part 2 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/109/6/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/18/index.html><img src=../../../image/image/43/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:54:01</td>
<td class=shownote><h3>How to Host a Shindig</h3>
<h4>Part 3</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/111/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:27</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Sean - Mal's Song</li>
<li>Kyle - Serenity comic #1 review</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/107/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/28/index.html><img src=../../../image/image/46/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:59:07</td>
<td class=shownote><h3>Those Left Behind</h3>
<h4>Part 1</h4>
<p>Written by <a href=../../../human/view/33/index.html>Bubbafett</a>; read by <a href=../../../human/view/33/index.html>Bubbafett</a></p>
</td>
<td><a href=../../../segment/view/114/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:02:11</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div>Les and Kari talk about the comics, Firefly's original airing order, and voting for the Signal.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/103/6/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:08:33</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:09:12<div class=wiki-local><div><a></a>
<h2><span class=mw-headline>Recipes</span></h2>


<p>All recipes developed by Clay McClure</p>


<a></a>
<h3><span class=mw-headline>Mudder's Milk</span></h3>


<ul><li>1 litre (1 quart) soy milk, plain</li>
<li>360ml (12 oz) stout such as Guinness, or other dark, full bodied beer</li>
<li>64g (1/2 cup) wheat germ</li>
<li>112g (1/2 cup) brewers yeast</li>
<li>180ml (6 oz) grain alcohol or vodka to taste</li>
</ul>


<p>Mix the soy milk, stout beer, wheat germ and brewers yeast in a 2 litre/quart pitcher, stirring well. Chill before serving. Now, either add the grain alcohol to the whole batch to achieve the 15% alcohol that Jayne mentions or mix the &quot;milk&quot; with vodka to taste. Serve in rustic pottery mugs and get ready to sing &quot;The Hero of Canton&quot;!</p>


<a></a>
<h3><span class=mw-headline>Kaylee&#x2019;s Cake</span></h3>


<p>This cake is &quot;baked&quot; in a water bath so it can theoretically be prepared on the stove top in a large shallow pan with a lid. This makes a small but very filling cake. A mini-muffin tin could also be used to make very cute mini protein cupcakes.</p>


<ul><li>96g (1 cup) Textured Vegetable Protein (TVP) reconstituted with 1 cup hot water- allow to cool</li>
<li>170g (1 cup) brown sugar</li>
<li>7g (1 tablespoon) powdered egg or soy powder (use 2 real eggs if you don't mind cheating a bit)</li>
<li>35g (1/2 cup) powdered milk mixed with 60ml (1/4 cup) water</li>
<li>30ml (2 tablespoons) vegetable oil</li>
<li>2.5ml (1/2 teaspoon) almond extract</li>
</ul>


<p>Mix all ingredients and pour into a well greased 15cm (6 inch); cake pan or other mold. Bake in a water bath at gas mark 4, 175&#x00B0;C (350&#x00B0;F) for 45 min. Unmold and chill.</p>

<p><em>Chocolatey Frosting</em></p>

<p>This is made with carob powder because it is implied that that there isn&#x2019;t actually any chocolate in the frosting, but cocoa will work just as well. The coffee granules will give the chocolate flavor another boost.</p>


<ul><li>240g (2 cups) confectioner&#x2019;s sugar</li>
<li>25g (1/4 cup) carob powder or cocoa powder</li>
<li>4g (1 tsp) instant coffee granules</li>
<li>55g (1/4 cup) margarine or other solid shortening</li>
<li>15-30ml (1-2 tablespoons) evaporated milk or reconstituted powdered milk</li>
<li>5ml (1 tsp) vanilla or 15ml (1 tablespoon) rum</li>
</ul>


<p>Sift sugar with carob powder. Beat shortening until creamy and gradually beat in sugar mixture and coffee granules. Mix in enough milk to make frosting smooth and creamy. Add flavoring. Carefully spread over cooled cake.</p>


<a></a>
<h3><span class=mw-headline>Saffron&#x2019;s Fresh Bao or &quot;Pork&quot; Buns</span></h3>


<p>This can be made with frozen or other pre-packaged bread dough, just make sure it is a yeast dough. However, I imagine that Saffron found yeast and flour in the galley and made the dough herself. (Maybe that&#x2019;s why there was no flour for Kaylee's cake!)</p>

<p>This filling is as close as possible to a Chinese BBQ pork filling. However, any number of fillings could be used. For instance, I think packaged soy &quot;taco meat&quot; or Cajun-style red beans would be pretty tasty.</p>

<p>Makes 20 Buns</p>


<ul><li>1 910g (2lb) package frozen bread dough, thawed, or refrigerated bread dough <em>or</em>
 455g (4 cups) plain/all-purpose/type 405 flour</li>
<li>1 packet, about 7g (2 1/2 tsp) active dry yeast</li>
<li>250ml (1 cup) warm water</li>
<li>80g (6 tablespoons) sugar</li>
<li>55g (4 tablespoons) vegetable shortening or oil (lard would be most authentic)</li>
<li>2.4g (1/2 tsp) baking powder</li>
</ul>


<p>Mix yeast in water, let it sit for a few minutes until it gets bubbly. Add other ingredients and mix well. Knead for 20 min, until dough is smooth. Cover and set to rise in a warm spot until double in size.</p>

<p><em>Filling</em></p>


<ul><li>96g (1 cup) Textured Vegetable Protein (TVP) reconstituted with an equal amount of boiling water</li>
<li>48g (1/4 cup) dehydrated onion flakes soaked in just enough water to cover flakes</li>
<li>30ml (2 tablespoons) hoisin sauce</li>
<li>20ml (4 tablespoons) oyster sauce or barbecue sauce</li>
<li>10ml (2 tablespoons) ketchup</li>
<li>30ml (2 tablespoons) toasted sesame oil</li>
<li>30ml (2 tablespoons) soy sauce</li>
<li>4.5g (1 teaspoon) sugar</li>
<li>black pepper or cayenne to taste</li>
<li>250ml (1 cup) water</li>
<li>1 cube chicken bouillon base</li>
<li>7.5g (1 tablespoon) cornstarch dissolved in 1 tablespoon of water</li>
</ul>


<p>Bring water to a boil and dissolve chicken cube. Mix in other ingredients, adding cornstarch and stirring well. Simmer until thickened. Mix sauce with TVP and onions.</p>

<p>Divide the dough into 20 equal pieces. Flatten each piece to make a disk about the size of your palm, slightly thicker in the center than the edges. Place a spoonful of filling in the middle and gather up the edges like a small purse. Gently twist and pinch top. Place bun on a small square of parchment paper, wax paper or microwave paper. Repeat with all the buns.</p>

<p>If you have a bamboo steamer that is perfect, but these buns can also be steamed in a regular pot with a vegetable steamer insert. Mine would only hold two to three at a time so I kept the others in the fridge until I was ready for them. Steam the buns just like you are steaming vegetables with the water simmering and the lid on tight. Steam 15 minutes and serve warm.</p>

<p><em>Serve with this easy sauce</em></p>

<p>Mix equal parts soy sauce and toasted sesame oil. Stir in 2.5g (1 teaspoon) dehydrated scallions</p>


<a></a>
<h3><span class=mw-headline>Sanbusak or Spiced &quot;Meat&quot; Pies</span></h3>


<p>Not actually from the show, but something you might buy from a food stall at the Eavesdown Docks on Persephone. This is similar to the Mexican Flauta or a meat filled spring roll but with Middle Eastern spices. It a crispy fried shell filled with spiced soy protein and served with a mild, tangy sauce.</p>

<p>(Serves four as an entr&#x00E9;e or makes 18 party snacks)</p>


<ul><li>1 package spring roll or egg roll wrappers, for entr&#x00E9;e size, cut in half or use mini wrappers for cocktail size</li>
<li>110g (6 oz) &quot;ground beef style&quot; soy protein crumbles (usually found in the produce section of your grocery with the tofu), OR veggie burgers, thawed and crumbled, OR 48g (1/2 cup) dry TVP granules, reconstituted with an equal amount of boiling water</li>
</ul>


<p>(I tried all three and liked the soy protein crumbles the best, flavor-wise, but they all work quite well. If you use the TVP you will probably want to double the seasonings.)</p>


<ul><li>60g (1/2 cup) pine nuts (optional)</li>
<li>60ml (1/4 cup) vegetable oil, less if you use a non-stick or Teflon saut&#x00E9; pan</li>
<li>48g (1/4 cup) dried onion flakes soaked in just enough water to cover flakes</li>
<li>60ml (1/4 cup) soaked green pepper flakes (optional)</li>
<li>4g (1 teaspoon) chopped dried garlic soaked in a little water</li>
<li>2g (2 teaspoons) ground cinnamon</li>
<li>1g (1 teaspoon) ground allspice</li>
<li>2g (2 teaspoons) ground cumin</li>
<li>1g (1 teaspoon) ground coriander</li>
<li>1g (1 teaspoon) red pepper flakes (optional)</li>
<li>salt and pepper to taste</li>
</ul>


<p>Heat the oil in a skillet and briefly saut&#x00E9; the protein with the nuts and spices, stir in the reconstituted onion and garlic, heat thoroughly and season to taste with salt and pepper.</p>

<p>Take a wrapper and lay it down on a clean work surface. Place 1-2 tablespoons of filling in the center and roll up like a burrito or egg-roll, making sure the ends are tucked in. Seal the outer edge with water or a cornstarch and water mixture.</p>

<p>Heat 6-12mm (1/4 to 1/2 inch) of frying oil in a shallow pan/skillet and fry the pastries until a golden brown, turning once. A deep fryer can also be used. Drain on paper towels and keep warm.</p>


<a></a>
<h3><span class=mw-headline>Tahini Sauce</span></h3>


<ul><li>300 g (1 cup) sesame tahini (stir the tahini in the jar before measuring)</li>
<li>4-6 sun-dried tomatoes soaked in water (optional). If you use the kind preserved in oil, soaking isn&#x2019;t necessary</li>
<li>60ml (1/4 cup) bottled lemon juice</li>
<li>5g (1/4 cup) dried parsley</li>
<li>5g (1 teaspoon) dried mint</li>
<li>Salt to taste</li>
<li>About 250ml (1 cup) of water</li>
</ul>


<p>In a blender or food processor, combine the tahini, sun-dried tomatoes and herbs. Process until smooth, then while the machine is running, add the lemon juice and water until a smooth consistency is reached. . The tahini will get very thick at first and will then thin out again. If you are worried about straining the motor, stir the water in by hand.</p>

<p>For a crew mess: serve the sanbusak topped with the sauce with rice and some sort of hot sauce or spicy relish on the side</p>

<p>For a shindig: make mini pastries and thin the sauce enough so it works well for dipping.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/5/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/7/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=849>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
