<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 16</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 16</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/60/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/62/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_216_20060830.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_216_20060830.mp3 download=signal_season02_16.mp3>Download audio file</a></div>
<div class=info>Wednesday 30th August 2006</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:04</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div><ul><li>We won the Podcast Award</li>
<li>Firefly: Old Wounds, from the Sonic Society</li>
<li><ul><li><a href=../../../external.html#http://sonic.libsyn.com/index.php?post_category=Firefly>Website</a></li>
<li><a href=../../../external.html#http://sonic.libsyn.com/rss>Sonic Society master RSS feed</a></li>
<li><a href=../../../external.html#http://serenityfirefly.com/firefly_old_wounds_rss.php>Firefly: Old Wounds RSS feed</a></li>
</ul>
</li>
<li>Sending a Wave</li>
<li><ul><li><a href=../../../external.html#http://www.sendingawave.com/>Website</a></li>
<li><a href=../../../external.html#http://www.sendingawave.com/index.php?podcast=feed>RSS feed</a></li>
</ul>
</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/643/61/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://sendingawave.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:04:24</td>
<td class=shownote><h3>Promo: Sending a Wave</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/51/index.html><img src=../../../image/image/64/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:04:56</td>
<td class=shownote><h3>Dear BDH</h3>
<h4>Dear Inara: Distraught</h4>
<p>Written by <a href=../../../human/view/16/index.html>Trampas Whiteman</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/653/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:06:36</td>
<td class=shownote><h3>Interview</h3>
<h4>QMx, part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/646/61/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:22:50</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Marc - Conversion by the Sci-Fi Review</li>
<li>Mark - <a href=../../../external.html#http://groups.yahoo.com/group/firefilk>Where can I find all the music?</a></li>
<li>John - Guerrilla marketing</li>
<li>Luke - Giving credit to people who aren't Joss</li>
<li>A.J. - Conversion story</li>
<li>Kelly - Hero of Canton</li>
<li>Gareth - Conversion story</li>
<li>Jennifer - Conversion story</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/625/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:37:22</td>
<td class=shownote><h3>Interview</h3>
<h4>QMx, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/646/61/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:52:45</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Sailor's Wife/Lads of Done</h4>
<div>30 seconds of &quot;The Sailor's Wife/Lads of Done&quot; from 'Fire and Grace' by Alasdair Frazer and Natalie Haas (<a href=../../../external.html#http://www.alasdairfraser.com/performances.html>http://www.alasdairfraser.com/performances.html</a>)</div>
<p></p>
</td>
<td><a href=../../../segment/view/626/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:29</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Sliders</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/628/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:04:05</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/645/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:05:45</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/647/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/51/index.html><img src=../../../image/image/64/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:09:22</td>
<td class=shownote><h3>Dear BDH</h3>
<h4>Dear Jayne: Snake</h4>
<p>Written by <a href=../../../human/view/15/index.html>Doug Moran</a>; starring <a href=../../../human/view/7/index.html>Carolyn Parkinson</a> and <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/654/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:10:39</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>DragonCon</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/643/61/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:24</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Isleen Moore version (and horses)</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:11:48<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/60/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/62/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2840>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
