<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 17</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 17</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/62/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/64/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_217_20060913.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_217_20060913.mp3 download=signal_season02_17.mp3>Download audio file</a></div>
<div class=info>Wednesday 13th September 2006</div>
Produced by Miranda Thomas<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:19</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 5</h4>
<div><ul><li>The Signal Live at Dragon*Con</li>
<li>Dragon*Con Photos at Flickr</li>
<li><ul><li><a href=../../../external.html#http://www.flickr.com/photos/leshoward/sets/72157594273363509/>Les's complete D*Con set</a></li>
<li><a href=../../../external.html#http://www.flickr.com/search/?w=all&amp;q=thesignalpodcast&amp;m=tags>The Signal Podcast</a></li>
<li><a href=../../../external.html#http://www.flickr.com/search/?w=all&amp;q=dragonconpodcast&amp;m=tags>Podcasting Track</a></li>
</ul>
</li>
<li>The Bedlam Bards' album On the Drift</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/670/63/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:10</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/674/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:05:11</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 5</h4>
<div>When were Heart of Gold, Trash and the Message first aired?</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/670/63/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:49</td>
<td class=shownote><h3>Interview</h3>
<h4>Tracy and Laura Hickman</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/660/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:43</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Music</h4>
<div><ul><li>Kashmir Medly by E Muzeki, off the Album &quot;Sindh&quot;</li>
<li><ul><li><a href=../../../external.html#http://www.emuzeki.com/emuzeki.html>E Muzeki Web site</a></li>
</ul>
</li>
</ul>
</div>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/650/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/51/index.html><img src=../../../image/image/64/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:23:26</td>
<td class=shownote><h3>Dear BDH</h3>
<h4>Dear Inara: Unified</h4>
<p>Written by <a href=../../../human/view/15/index.html>Doug Moran</a></p>
</td>
<td><a href=../../../segment/view/663/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:24:15</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/?comments=11219>Serenity wins Hugo Award</a></li>
<li><ul><li><a href=../../../external.html#http://whedonesque.com/?comments=11238>Morena Baccarin reads acceptance speech</a></li>
</ul>
</li>
<li><a href=../../../external.html#http://www.amazon.com/b/?node=16261631>Amazon.com launches Unbox Video with Firefly</a></li>
<li><a href=../../../external.html#http://www.diamondselecttoys.com/article.asp?ai=32686>River Triumphant statue</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/thread.asp?b=2&amp;t=23398>Summer Glau to guest at Farpoint convention</a></li>
<li><a href=../../../external.html#http://www.tvsquad.com/2006/09/04/firefly-marathon-coming-to-sci-fi-channel/>US Sci-Fi channel to run Firefly Marathon</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/672/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/48/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:06</td>
<td class=shownote><h3>The Firefly Technical Manual</h3>
<div><ul><li>How were they able to capture holographic images of the escape?</li>
<li>How do you make Mudders' Milk?</li>
<li>In The Message, how was the organ-smuggling thing supposed to work?</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/648/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/51/index.html><img src=../../../image/image/64/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:29:30</td>
<td class=shownote><h3>Dear BDH</h3>
<h4>Dear Kaylee: Worried Mother</h4>
<p>Written by <a href=../../../human/view/15/index.html>Doug Moran</a></p>
</td>
<td><a href=../../../segment/view/664/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/52/index.html><img src=../../../image/image/61/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:19</td>
<td class=shownote><h3>Borderline</h3>
<h4>Shadow</h4>
<div>I've spent the last two days living with the Calders, a typical farming family, in a typical farming community. This is an interview I had with John Calder. John has spent the last twenty five years of his life on the planet Shadow, the planet which only three days ago was described by the Prime Minister as, and I quote, &quot;the heart of anti-Alliance misgivings&quot;. Here's what John had to say.</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; featuring <a href=../../../human/view/8/index.html>James Parkinson</a> and <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/675/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:34:03</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Reyd - <a href=../../../external.html#http://www.thesession.org/tunes/display/3140#sheetmusic>The Sailor's Wife sheet music</a></li>
<li>Mark - New medicines speculation</li>
<li>Scott - Second Life</li>
<li>Zimrahil - Guerrilla marketing for podcasters</li>
<li>Elizabeth - Jayne Limerick</li>
<li>Martin - Reaver memes</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/658/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:46:02</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 5</h4>
<div>Severance</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/670/63/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/50/index.html><img src=../../../image/image/63/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:12</td>
<td class=shownote><h3>Gaming in the 'Verse</h3>
<h4>The Gearhead</h4>
<p>Written by <a href=../../../human/view/16/index.html>Trampas Whiteman</a>; read by <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/649/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://sendingawave.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:53:01</td>
<td class=shownote><h3>Promo: Sending a Wave</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:54:31</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 5</h4>
<div>Serenity Cubed</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/670/63/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:55:20</td>
<td class=shownote><h3>Dragon*Con Recap</h3>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/671/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:00:16</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 5 of 5</h4>
<div>Memorable moments from Dragon*Con</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/670/63/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:03:47</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:04:10<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/62/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/64/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2900>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
