<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2</h1>
<div><div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/1/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/4/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
<div class=logo><img class=auto-size src=../../../image/image/54/2/full/image.png alt style="min-width:300px; max-width:522px"></div>
<h3>Serenity is worth fighting for</h3>
<p>Regular features include: News from the 'Verse, Listener Emails, Operation Sequel Music Section, Captain Reynolds' Way, Dear DBH, Borderline, Gaming in the 'Verse and the Speculation Segment This season also includes many special features, and interviews with Sheena Harden (Springbok), David Newman (the composer of Serenity) the One True B!x (Can't Stop the Serenity), the Firefly Music Project, Andy Gore and Steve Dinso (QMx), Tracy and Laura Hickman (Out in the Black), Jack Ward and Andrew Dorfman (Old Wounds), Mike Russell and Bill Mudren (Serenity Tales), Jeremy Neish, Brian Wiser, Tony Hadlock and Jared Nelson (Done the Impossible).

Segment timings provided by Erik Hesse (aka Ironbandit).</p>
<p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><a href=../../../season/rss/3/index.xml><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></a></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<br><table class=simple-table><tbody><tr class=even><td><img src=../../../image/image/99/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 24</h3>
<h4>Songs from the Black</h4>
<p>Features include: Music Section: The Ballad of Serenity (cover); Music Section: Theme from Firefly: Old Wounds; Music Section: Unsere-Crew Serenity (in German); Music Section: In My Sky (Serenity); Music Section: Can't Stop the Signal; Music Section: Old Wounds: Reel Violin Only; Music Section: Kaylee's Lament; Music Section: To the Border; Music Section: River; Music Section: Serenity; Music Section: Hero of Canton; Music Section: The Theme from Mosquito; Music Section: This Land; Music Section: A Man Named Jayne; Music Section: Reaver; Music Section: Reavers; Music Section: Mal's Song; Music Section: The Ballad of Serenity (instrumental)</p>
</td>
<td><a href=../../../show/view/72/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_224_20061220.mp3 download=signal_season02_24.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 23.5</h3>
<h4>The Money Show</h4>
<p>Features include: QMx Money Pack Giveaway; QMx Money Review; Music Section: All That Has Come To Pass; Mousey Music</p>
</td>
<td><a href=../../../show/view/71/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_223.5_20061213.mp3 download=signal_season02_23.5.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 23</h3>
<h4>Holiday Special</h4>
<p>Features include: Music Section: This Land; Ops; Life Swap; The Sci-Fi Review: Pinky and the Brain; Rimline; Dear BDH: Dear River: Curious Scientist; Serenity Speculation: King Robin and the Cellphones; Firefly Pants; Captain Reynolds' Way: Lesson 5: Have a way, not a plan; Pinky and the Brain Holiday Theme Tune</p>
</td>
<td><a href=../../../show/view/70/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_223_20061206.mp3 download=signal_season02_23.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 22</h3>
<p>Features include: Borderline: Silverhold; A Browncoat Thank You; The Sci-Fi Review: Quantum Leap; Dear BDH: Dear Zoe: Undefended; Games and Sports in Firefly; Dear BDH: Dear Mal: The End; Music Section: Reavers; Carolyn sings the Quantum Leap theme song</p>
</td>
<td><a href=../../../show/view/69/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_222_20061122.mp3 download=signal_season02_22.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 21</h3>
<p>Features include: The Sci-Fi Review: Heroes; Dear BDH: Dear Doctor Tam: Worried Patient; Where are you Hiding, Little Girl?; The Name your own Contest Contest; Nathan Fillion on Seventh Son; Music Section: Crew of Serenity; Dear BDH: Dear Inara: Leery Dancer; Serenity Speculation: Other Immigrants to the 'Verse</p>
</td>
<td><a href=../../../show/view/68/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_221_20061108.mp3 download=signal_season02_21.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 20</h3>
<p>Features include: Dear BDH: Dear Shepherd Book: Powerless on Persephone; Borderline: Perth; Dear BDH: Dear Cap'n Reynolds: Free Bird; Interview: Done the Impossible; Music Review: Soundtrack to Done the Impossible; Music Section: Come to the Dance</p>
</td>
<td><a href=../../../show/view/67/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_220_20061025.mp3 download=signal_season02_20.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 19</h3>
<p>Features include: The Sci-Fi Review: Andromeda; Interview: Serenity Tales; Dear BDH: Dear Shepherd Book: Worried about my Kids; Serenity Speculation: History of the 'Verse; Borderline: Santo; Dear BDH: Dear Wash: Wrong Career Move</p>
</td>
<td><a href=../../../show/view/66/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_219_20061011.mp3 download=signal_season02_19.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 18.5</h3>
<h4>Convention Wrapup</h4>
<p>Features include: Serenity Cubed Report; Dragon*Con Wrapup; Music Section: At the Con</p>
</td>
<td><a href=../../../show/view/65/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_218.5_20061004.mp3 download=signal_season02_18.5.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 18</h3>
<p>Features include: The Case for a Sequel; Trampas's Letter to Universal; Interview: Andrew Dorfman and Jack Ward; Les's Letter to Universal; Music Section: Old Wounds: Reel Violin Only; Carolyn's Letter to Universal</p>
</td>
<td><a href=../../../show/view/64/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_218_20060927.mp3 download=signal_season02_18.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 17</h3>
<p>Features include: Interview: Tracy and Laura Hickman; Serenity Speculation: Music; Dear BDH: Dear Inara: Unified; Dear BDH: Dear Kaylee: Worried Mother; Borderline: Shadow; Dragon*Con Recap</p>
</td>
<td><a href=../../../show/view/63/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_217_20060913.mp3 download=signal_season02_17.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 16.5</h3>
<h4>Live at Dragon*Con 2006</h4>
<p>Features include: Guest Appearance; Firefly Mad-Libs; Serenity (the Ship); Music Section: Miscellaneous; Live Comments; The Hero of Canton Singalong</p>
</td>
<td><a href=../../../show/view/62/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_216.5_20060906.mp3 download=signal_season02_16.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 16</h3>
<p>Features include: Dear BDH: Dear Inara: Distraught; Interview: QMx; Music Section: The Sailor's Wife/Lads of Done; The Sci-Fi Review: Sliders; Dear BDH: Dear Jayne: Snake</p>
</td>
<td><a href=../../../show/view/61/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_216_20060830.mp3 download=signal_season02_16.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 15</h3>
<p>Features include: Done the Impossible DVD Review; Interview: The Firefly Music Project; Serenity Speculation: Medicine; Scott Sigler <q>Ancestor</q> segment; Firefly: Old Wounds Extract</p>
</td>
<td><a href=../../../show/view/60/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_215_20060816.mp3 download=signal_season02_15.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 14</h3>
<p>Features include: Music Section: Can't Stop the Signal; The Sci-Fi Review: Deep Space Nine; The Structure of Out of Gas; Serenity - the Early Script</p>
</td>
<td><a href=../../../show/view/59/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_214_20060802.mp3 download=signal_season02_14.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13</h3>
<p>Features include: Interview: The One True B!x; Music Section: Theme from Firefly: Old Wounds; <q>Infection</q>/<q>7th Son</q> crossover promo; Tricks from the Training House: Control; Screening Feedback Segment; Happy Birthday Joss</p>
</td>
<td><a href=../../../show/view/58/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_213_20060719.mp3 download=signal_season02_13.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 12</h3>
<p>Features include: The Sci-Fi Review: The 4400; Virtual Firefly; Music Section: Serenity (guitar version); Tricks from the Training House: Seduction; The Migration; Appeal</p>
</td>
<td><a href=../../../show/view/57/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_212_20060705.mp3 download=signal_season02_12.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 11.5</h3>
<p>Features include: Music Section: To the Border; Music Section: Kaylee's Lament</p>
</td>
<td><a href=../../../show/view/56/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_211.5_20060628.mp3 download=signal_season02_11.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 11</h3>
<p>Features include: How Many Ls in Malco(l)m?; Rules of the 'Verse; Tricks from the Training House: Creativity; Response to Jill's Novelization article; Music Section: A Man Named Jayne</p>
</td>
<td><a href=../../../show/view/55/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_211_20060621.mp3 download=signal_season02_11.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 10</h3>
<p>Features include: Dance in Firefly; Music Section: River; The Sci-Fi Review: Doctor Who; Television's Changing Landscape; The Novelization Didn't do the Job; Tricks from the Training House: Elegance</p>
</td>
<td><a href=../../../show/view/54/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_210_20060531.mp3 download=signal_season02_10.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 9</h3>
<p>Features include: Tricks from the Training House: Control; The Hidden Depths of David Newman's Soundtrack; The Sci-Fi Review: Lost; Music Section: Unsere-Crew Serenity (in German)</p>
</td>
<td><a href=../../../show/view/53/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_209_20060517.mp3 download=signal_season02_09.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 8</h3>
<p>Features include: Conversions and Healing; The Two Serenities; The Sci-Fi Review: Farscape; Tricks from the Training House: Introduction; Music Section: Reaver</p>
</td>
<td><a href=../../../show/view/52/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_208_20060503a.mp3 download=signal_season02_08.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 7</h3>
<p>Features include: Adventures in Serenity: Part 5; The Sci-Fi Review: Buffy the Vampire Slayer; Music Section: Hero of Canton; DVD Differences</p>
</td>
<td><a href=../../../show/view/51/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_207_20060419.mp3 download=signal_season02_07.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 6</h3>
<p>Features include: Adventures in Serenity: Part 4; Simon; The Sci-Fi Review: Blake's 7; Canonicity: The Truth of the Signal; <q>Fine bunch of reubens</q> clip</p>
</td>
<td><a href=../../../show/view/50/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_206_20060405.mp3 download=signal_season02_06.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 5</h3>
<p>Features include: Captain Reynolds' Way: Lesson 4: Communication; Interview: David Newman; Seventh Son Bumper; The Sci-Fi Review: Stargate SG-1</p>
</td>
<td><a href=../../../show/view/49/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_205_20060322.mp3 download=signal_season02_05.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 4</h3>
<p>Features include: The Firefly Timeline; The Virtual Seasons; Music Section: River's Turn</p>
</td>
<td><a href=../../../show/view/48/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_204_20060315.mp3 download=signal_season02_04.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 3</h3>
<p>Features include: Music Section: In My Sky (Serenity); Andreas Katsulas Tribute; The Sci-Fi Review: Babylon 5; Adventures in Serenity: Part 3; Captain Reynolds' Way: Lesson 3: Getting the Most from your Employees</p>
</td>
<td><a href=../../../show/view/47/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_203_20060301.mp3 download=signal_season02_03.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 2.5</h3>
<p>Features include: Speaking Cool with Ease; Travel in the 'Verse: Miranda; Music Section: The Ballad of Serenity (movie version)</p>
</td>
<td><a href=../../../show/view/46/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_202.5_20060228.mp3 download=signal_season02_02.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 2</h3>
<p>Features include: Petty Thief with Delusions of Standing; Adventures in Serenity: Part 2; The Sci-Fi Review: Cowboy Bebop; Why Serenity?; Signal Promo: These are just a few of the segments we've recorded; Captain Reynolds' Way: Lesson 2: Teambuilding in the Black; Music Section: The Jubal Early Theme</p>
</td>
<td><a href=../../../show/view/45/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_002_20060215.mp3 download=signal_season01_02.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/15/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 1</h3>
<p>Features include: A Beginner's Guide to Serenity; Captain Reynolds' Way: Lesson 1: Selecting and Organizing a Strong Crew; The Sci-Fi Review: Firefly; Adventures in Serenity: Part 1; The Man they call Jayne; Music Section: The Hero of Canton (sans dialog); Music Section: The Ballad of Serenity (cover)</p>
</td>
<td><a href=../../../show/view/44/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_001_20060201.mp3 download=signal_season01_01.mp3>audio</a></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/1/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/4/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
