<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 6</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 6</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/79/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/81/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_306_20070329.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_306_20070329.mp3 download=signal_season03_06.mp3>Download audio file</a></div>
<div class=info>Thursday 29th March 2007</div>
Produced by James Parkinson<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:08</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div><ul><li>Scott Sigler's <a href=../../../external.html#http://ancestornovel.com>Ancestor</a></li>
<li>Voting for the Signal at <a href=../../../external.html#http://www.podcastalley.com/one_vote2.php?pod_id=5174>Podcast Alley</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/845/80/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://afterserenity.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:04:27</td>
<td class=shownote><h3>Promo: After Serenity</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:05:25</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div><ul><li><a href=../../../external.html#http://aftersernity.com>After Serenity</a></li>
<li>David Moore, and the new gaming segment, Bold Moves</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/845/80/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/81/index.html><img src=../../../image/image/103/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:06:21</td>
<td class=shownote><h3>Bold Moves</h3>
<h4>Role Playing in the 'Verse</h4>
<p>Written by <a href=../../../human/view/18/index.html>David Moore</a>; read by <a href=../../../human/view/18/index.html>David Moore</a></p>
</td>
<td><a href=../../../segment/view/853/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:28</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 1: Reasonable</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/855/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:02</td>
<td class=shownote><h3>Interview</h3>
<h4>QMx</h4>
<div><ul><li>[../../../external.html#http://quantummechanix.com%5D</li>
<li><a href=../../../external.html#http://blog.quantummechanix.com/insider_images/issue_1.1/QMx_Serenity_Blueprints_bg.pdf>QMx Serenity Blueprints preview</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/850/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:38:12</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Red Dwarf</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/823/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/52/index.html><img src=../../../image/image/61/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:34</td>
<td class=shownote><h3>Borderline</h3>
<h4>Shadow (revisited)</h4>
<div>Today we return to Shadow, and find it a far different world than the one we visited three years ago. The recent attack by Alliance forces has destroyed Shadow's Independent army completely, and the world has been left virtually uninhabitable. Incredibly, despite the assault, the Independent forces never surrendered here. The few survivors are now being evacuated to refugee camps around the 'Verse. This is a humanitarian mission, and we're here to assist.</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; featuring <a href=../../../human/view/31/index.html>Aaron Macom</a>, <a href=../../../human/view/5/index.html>Miranda Thomas</a> and <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/851/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.scifidig.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:55:47</td>
<td class=shownote><h3>Promo: SciFiDig</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:23</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Shane - Wearing T-shirts</li>
<li>Anna - Conversion story</li>
<li>Gary - finding the Signal</li>
<li>Music used is All That Has Come To Pass, by Floyd Salazar</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/848/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:04:46</td>
<td class=shownote><h3>Music Section</h3>
<h4>Into the Black</h4>
<p>Music by <a href=../../../human/view/77/index.html>Rob Kuhlman</a></p>
</td>
<td><a href=../../../segment/view/849/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:06:32</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/12694>Ron Glass to attend Supanova convention in Brisbane, USA</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/12766>Guests announced for Serenity Infinity Convention in London in October</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/12787>Guests announced for Serenity LA</a></li>
<li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?p=27400#27400>Guests for Browncoat Cruise</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/12763>Serenity Special Edition Cast Commentary</a></li>
<li><a href=../../../external.html#http://www.BedlamBards.com/shindigtour2007.html>Bedlam Bards Awards</a></li>
<li><a href=../../../external.html#http://www.BedlamBards.com/shindigtour2007.html>Bedlam Bards Tour</a></li>
<li><a href=../../../external.html#http://www.soniccinema.ca>Sonic Cinema to make new audio drama one-shot: Wedding Day</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/847/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:09:43</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div><ul><li>Serenity LA, <a href=../../../external.html#http://fireflydvd.com/phpBB2/viewforum.php?f=18>the Browncoat Cruise</a> and <a href=../../../external.html#http://www.creationent.com/cal/farscape.htm>the official Farscape Convention</a></li>
<li>Joe Murphy and the Kill Kuato fund</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/845/80/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:22</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:46<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/79/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/81/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3451>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
