<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 12</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 12</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/86/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/88/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_312_20070705.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_312_20070705.mp3 download=signal_season03_12.mp3>Download audio file</a></div>
<div class=info>Thursday 5th July 2007</div>
Produced by James Parkinson<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:50</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/928/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:24</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.breakingatmo.com/status/2007/06/gotta-have-records-of-everything>Firefly DVDs in space</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13567>Can't Stop the Serenity surpasses last year's total</a></li>
<li><a href=../../../external.html#http://comicbookresources.com/news/newsitem.cgi?id=10985>Dinner with Joss</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13515>Summer Glau to guest at Creation's Firefly convention</a></li>
<li><a href=../../../external.html#http://www.dragoncon.org>Ron Glass and Mark Sheppard confirmed for Dragon*Con</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13463>Morena Baccarin to appear at Creation's Chicago Stargate convention</a></li>
<li><a href=../../../external.html#http://www.95bfm.com/assets/sm/178204/3/josswhedon290607.mp3>Joss Whedon audio interview</a></li>
<li><a href=../../../external.html#http://www.newsoftheverse.net/article.php?story=20070626060236989>US SciFi channel Firefly marathon</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/06/27/firefly-in-hd-wlive-chat/>Updated date for Firefly in HD with live chat</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/thread.asp?b=2&amp;t=29132&amp;newsid=0>New Firefly forum launched by Universal HD</a></li>
<li><a href=../../../external.html#http://browncoats.wikia.com/>New Browncoat wiki launched</a></li>
<li><a href=../../../external.html#http://www.newsoftheverse.net>New Firefly news site launched</a></li>
<li><a href=../../../external.html#http://www.serenitycollectors.com/darkhorse-pvc-review.html>Review of the Serenity PVC Figurines</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/06/22/mal-mini-bust-from-razors-edge-collectibles/>Mal mini-bust from Razor&#x2019;s Edge Collectibles</a></li>
<li><a href=../../../external.html#http://community.livejournal.com/dragoncon/1051211.html>Legendary Leatherworks is selling leather lanyards with sayings from Firefly and Serenity online and at Dragon*Con this year.</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/921/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/84/index.html><img src=../../../image/image/106/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:09:40</td>
<td class=shownote><h3>Moonbrained Mike</h3>
<h4>Spring Cleaning Sale</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; starring <a href=../../../human/view/8/index.html>James Parkinson</a>; featuring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/880/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:18</td>
<td class=shownote><h3>Review of Firefly: The Official Companion</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/870/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:17</td>
<td class=shownote><h3>Interview</h3>
<h4>JC Hutchins, part 1 of 2</h4>
<div>Music used is Purple, by <a href=../../../external.html#http://scrubrecords.com/artists/1887/music.php>Ethic</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/929/87/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:36</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 6: Revenge</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/927/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:34:55</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Mac - spreading the word</li>
<li>Kym - <a href=../../../external.html#http://newsoftheverse.net>News of the 'Verse</a></li>
<li>Randy - the future of Firefly</li>
<li>Rob - <a href=../../../external.html#http://teemorris.com>Billibub Baddings</a></li>
<li>Vikki - Mal's family</li>
<li>Christine - <span class=grayed-out>Borderline</span></li>
<li>Music used is All That Has Come To Pass, by <a href=../../../external.html#http://myspace.com/frstrat>Floyd Salazar</a></li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/922/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:10</td>
<td class=shownote><h3>Music Section</h3>
<h4>Smoke Spirit</h4>
<p>Music by <a href=../../../human/view/82/index.html>Dreamweaver</a></p>
</td>
<td><a href=../../../segment/view/923/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:55:13</td>
<td class=shownote><h3>Interview</h3>
<h4>JC Hutchins, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/929/87/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/91/index.html><img src=../../../image/image/102/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:06:23</td>
<td class=shownote><h3>Moonshine</h3>
<h4>Episode 1: Blue Sun Blues</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/931/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:00</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:23<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/86/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/88/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3620>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
