<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 19</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 19</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/94/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/96/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_319_20071011.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_319_20071011.mp3 download=signal_season03_19.mp3>Download audio file</a></div>
<div class=info>Thursday 11th October 2007</div>
Produced by James Parkinson<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:37</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/997/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:57</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.seanharry.com/StarfuryUSA/serenityLA/index.html>Nathan no longer at Starfury LA</a></li>
<li><a href=../../../external.html#http://www.scifi.com/scifiwire/index.php?category=0&amp;id=44471>Jewel State in movie &quot;Tribe&quot;</a></li>
<li><a href=../../../external.html#http://podcastawards.com>Firefly Talk win Best Produced podcast award</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/10/03/serenity-lunchbox-back-on/>The Serenity lunchbox is back</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/10/03/new-serenity-comic-mini-series-now-coming-out-in-march/>&quot;Better Days&quot; to be published in March 2008</a></li>
<li><a href=../../../external.html#http://www.quantummechanix.com/HOME.html>QMx Mal's Stunt Pistol</a> (<a href=../../../external.html#http://www.serenitystuff.com/2007/10/02/qmx-mal-stunt-pistol-the-first-look/>pictures)</a></li>
<li><a href=../../../external.html#http://www.tfaw.com/Search?quick_sstring=serenity%2Bthose%2Bleft%2Bbehind>&quot;Those Left Behind&quot; in hardcover</a></li>
<li><a href=../../../external.html#http://www.geekstravaganza.com>Bedlam Bards at Geekstravaganza</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/998/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:04</td>
<td class=shownote><h3>Interview</h3>
<h4>Brian Wiser</h4>
<div>Interview with Brian Wiser from <a href=../../../external.html#http://www.donetheimpossible.com>Done the Impossible</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1000/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://heroescast.libsyn.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:25:43</td>
<td class=shownote><h3>Promo: The 9th</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:50</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Spaced</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1001/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/87/index.html><img src=../../../image/image/105/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:38:39</td>
<td class=shownote><h3>Inside Serenity</h3>
<h4>Kaylee's Log</h4>
<p>Written by <a href=../../../human/view/81/index.html>Andy Gore</a>; starring <a href=../../../human/view/89/index.html>Shannon Hilchie</a></p>
</td>
<td><a href=../../../segment/view/977/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://buffybetweenthelines.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:48:17</td>
<td class=shownote><h3>Promo: Buffy between the Lines</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:30</td>
<td class=shownote><h3>Music Section</h3>
<h4>I'm on Firefly</h4>
<p>Music by <a href=../../../human/view/91/index.html>Tom Smith</a></p>
</td>
<td><a href=../../../segment/view/994/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:25</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 10: Teef</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1003/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:39</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Jason - More sequel rumors</li>
<li>Simon - Vera on Halo 3</li>
<li>Dan - Conversion story</li>
<li>Music used is All That Has Come To Pass, by Floyd Salazar</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/999/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/81/index.html><img src=../../../image/image/103/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:06:20</td>
<td class=shownote><h3>Bold Moves</h3>
<h4>Shared Game Creation</h4>
<p>Written by <a href=../../../human/view/18/index.html>David Moore</a>; read by <a href=../../../human/view/18/index.html>David Moore</a></p>
</td>
<td><a href=../../../segment/view/984/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:12:17</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:12:41<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/94/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/96/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3790>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
