<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Tangled Yarn</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Tangled Yarn</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/130/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/48/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/198/2/album/image.png width=300 height=300 alt></div>
<div>A look at the relationships between the characters of Firefly and Serenity.</div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Pull One String, You Pull Them All</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2402/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Mal and Book</td>
<td>The Signal: Season 7, Episode 14</td>
<td><a href=../../../segment/view/2446/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Kaylee and Inara</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2499/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Jayne and Book</td>
<td>The Signal: Season 7, Episode 17</td>
<td><a href=../../../segment/view/2544/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The War Buddy Bond</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2557/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Mal and Jayne</td>
<td>The Signal: Season 8, Episode 1</td>
<td><a href=../../../segment/view/2589/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Simon and River</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2663/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Jayne and Kaylee</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2695/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mal and Saffron</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/3070/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/130/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/48/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
