<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1862/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1907/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 17: Through Fire and Water</h2>

<audio src=../../../../yonder/signal_terraformers_17.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_terraformers_17.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/180/index.html>The Signal: Season 6, Episode 15</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Announcer</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>You know, Taya Ray, I&#x2019;m starting to warm to your theory about Black Rock being a penal moon. The longer we&#x2019;re here, the more this whole assignment feels like one long series of punishments.</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>Yeah, and as punishments go, you&#x2019;ve got to say Mr Spall has gone for a classic this time.</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>After the latest stunt the pair of you pulled, you are in so much hot water .</dd>
<dt>NARRATOR</dt>
<dd>Episode number 17 &#x2013; Through Fire and Water</dd>
</dl>


<hr>
<p><em>Location: Outside at Black Rock Training Centre. We hear the sounds associated with washing a car &#x2013; water being slopped about, wrung from a cloth and so on. The sounds continue over the following dialogue.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Gruff.)</em> You missed a bit.</dd>
<dt>SARAH</dt>
<dd><em>(Through gritted teeth.)</em> Thank you, Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>I want to be able to see my face in her when you&#x2019;ve finished.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Similarly through gritted teeth.)</em> Yes, Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>Well, I&#x2019;m heading inside for a spot of elevenses, but you two just keep going. I&#x2019;ll be checking up on your progress later. No funny business while I&#x2019;m gone, all right?</dd>
<dt>SARAH and TAYA RAY</dt>
<dd><em>(In unison, depressed and dutiful.)</em> Yes, Mr Spall.</dd>
</dl>


<p><em>Footsteps fading out as Mr Spall walks off. Washing sounds continue.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Frustrated and fed up.)</em> Ugh. This really is the pits. Washing an entire shuttle by hand?! By the time we&#x2019;ve gone over the whole thing once, the first bits we did will be dirty again! We&#x2019;ll never finish!</dd>
<dt>TAYA RAY</dt>
<dd>I think that might be the idea.</dd>
<dt>SARAH</dt>
<dd>Yeah, a perpetual punishment. Now we know how Sisyphus felt rolling that rock up the hill.</dd>
<dt>TAYA RAY</dt>
<dd>Sissy who?</dd>
<dt>SARAH</dt>
<dd>Never mind. I don&#x2019;t want to go any further with that analogy because if we&#x2019;re Sisyphus, that makes Mr Spall Zeus and that&#x2019;s not a thought that I really want to dwell on.</dd>
<dt>TAYA RAY</dt>
<dd>Is there any way we can get this done faster?</dd>
<dt>SARAH</dt>
<dd>There are many ways we could get this done faster. Like, I don&#x2019;t know, say, using machines like any self-respecting sentient creature. But, no, there is no way to speed things up without going against Mr Spall&#x2019;s strict instructions to do it all by hand.</dd>
<dt>TAYA RAY</dt>
<dd>And I guess we don&#x2019;t want to do that.</dd>
<dt>SARAH</dt>
<dd>I think we&#x2019;ve tested Mr Spall&#x2019;s patience enough for one lifetime. Unless you particularly want to get fired, I don&#x2019;t think we can risk any short cuts this time.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Straining as she tries to reach up high.)</em> I think I&#x2019;ve just about got to my limit here. I can&#x2019;t reach any higher from down here.</dd>
<dt>SARAH</dt>
<dd>Yeah, me too. Let&#x2019;s go and get the ladders then.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em>
<em>Location as before, but no washing sounds. Instead, metallic sounds as the ladders are put up against the shuttle sides.</em></p>


<dl><dt>SARAH</dt>
<dd>No, left a bit. <em>(Beat.)</em> The other left. That&#x2019;s it. Ok, that&#x2019;ll do.</dd>
</dl>


<p><em>Footsteps up the ladder as Taya Ray climbs up, overlapping with next line.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Ok, pass me up the bucket before I get any higher.</dd>
</dl>


<p><em>Sound of water slopping in a bucket.</em></p>


<dl><dt>SARAH</dt>
<dd>Here you go.</dd>
</dl>


<p><em>Footsteps continue up the ladder as Taya Ray climbs further, overlapping with next line.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Calling down to Sarah.)</em> At least there&#x2019;s a good view from up here.</dd>
<dt>SARAH</dt>
<dd><em>(Calling up.)</em> A view of what exactly?</dd>
</dl>


<p><em>(Washing sounds start up again, overlapping with the following dialogue.)</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Well, ok. There would be a good view if there were actually something to, you know, view.</dd>
<dt>SARAH</dt>
<dd>Precisely. Watch out, Taya Ray. You&#x2019;re starting to show classic signs of space dementia. While planetside, which is quite impressive really. I guess that&#x2019;s what a prolonged stay at Black Rock does for you.</dd>
</dl>


<p><em>Washing sounds stop abruptly.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>No, wait. I can see something.</dd>
<dt>SARAH</dt>
<dd>Yep, that&#x2019;s how it starts. Space dementia. Very tragic.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Animated.)</em> I&#x2019;m serious, I can see smoke. Coming from the dorm! Grab the hoses! I&#x2019;m coming down.</dd>
</dl>


<p><em>Hurried footsteps down the ladder, overlapping with second half of previous line.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Urgently.)</em> I&#x2019;ve got &#x2018;em. Hurry!</dd>
</dl>


<p><em>Sounds of footsteps as they run to the dorm. Sounds of a crackling fire get louder.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Slightly breathless.)</em> Here, you point one down there. I&#x2019;ll take the other side.</dd>
</dl>


<p><em>Hoses are turned on, water gushes out.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Still a little breathless.)</em> I think we got here in time. It hasn&#x2019;t really taken hold.</dd>
<dt>SARAH</dt>
<dd><em>(Also still a little breathless.)</em> The whole block could have gone up.</dd>
</dl>


<p><em>Door opens and Mr Spall steps out.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Coughing from the smoke, barely choking the words out.)</em> Thank you!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Relieved.)</em> Mr Spall! You&#x2019;re alive!</dd>
<dt>SARAH</dt>
<dd>We saw the smoke and got here as quick as we could. What happened?</dd>
<dt>MR SPALL</dt>
<dd><em>(Still coughing a little, and slightly hoarse.)</em> I don&#x2019;t know. I just put the kettle on to make a cup of tea and when I came back, the whole kitchen was in flames. If you hadn&#x2019;t come when you did&#x2026; Thank you.</dd>
<dt>SARAH</dt>
<dd><em>(Slowly realising that something has gone her way for once.)</em> Yeah, we did kinda save the day here, didn&#x2019;t we?</dd>
<dt>MR SPALL</dt>
<dd>You did. Past transgressions very much atoned for now, I&#x2019;d say. Leave the shuttle and take the rest of the day off.</dd>
<dt>TAYA RAY</dt>
<dd>Thank you, Mr Spall!</dd>
<dt>SARAH</dt>
<dd>Yeah, much appreciated.</dd>
</dl>


<p><em>Two sets of footsteps as Sarah and Taya Ray walk off.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Brightly.)</em> Well, that was an unexpected turn of events!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Cheerfully.)</em> Yeah. Just a shame about my kettle though.</dd>
<dt>SARAH</dt>
<dd><em>(Beat.)</em> <em>Your</em> kettle?!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Blissfully unaware of the implications.)</em> Uh huh. I&#x2019;d only just got it working again after the last time it blew up.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1862/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1907/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/180/index.html>The Signal: Season 6, Episode 15</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
