<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Adventures in Serenity</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Adventures in Serenity</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <span class=greyed-out>Previous series</span> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/128/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/59/1/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Part 1</td>
<td>The Signal: Season 2, Episode 1</td>
<td><a href=../../../segment/view/453/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_adventuresinserenity_01.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Part 2</td>
<td>The Signal: Season 2, Episode 2</td>
<td><a href=../../../segment/view/470/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_adventuresinserenity_02.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Part 3</td>
<td>The Signal: Season 2, Episode 3</td>
<td><a href=../../../segment/view/480/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_adventuresinserenity_03.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Part 4</td>
<td>The Signal: Season 2, Episode 6</td>
<td><a href=../../../segment/view/499/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_adventuresinserenity_04.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Part 5</td>
<td>The Signal: Season 2, Episode 7</td>
<td><a href=../../../segment/view/527/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_adventuresinserenity_05.mp3 download>audio</a></td>
</tr>
</tbody>
</table>
<h2>See Also</h2>
<ul><li><a href=../../../series/view/81/index.html>Bold Moves</a></li>
<li><a href=../../../series/view/50/index.html>Gaming in the 'Verse</a></li>
<li><a href=../../../series/view/136/index.html>Getting Dicey</a></li>
<li><a href=../../../series/view/164/index.html>Queen of the Black</a></li>
</ul>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <span class=greyed-out>Previous series</span> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/128/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
