<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 3</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 3</h1>
<div><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/3/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/5/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_003_20050720.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_003_20050720.mp3 download=signal_season01_03.mp3>Download audio file</a></div>
<div class=info>Wednesday 20th July 2005</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 1</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:21</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div>Les and Kari talk about the Serenity release dates.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/56/4/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:29</td>
<td class=shownote><h3>Handsome Devils: Malcolm Reynolds and Han Solo</h3>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/57/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:29</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/52/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:13:20</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div>Les and Kari discuss the news.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/56/4/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:38</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<div>&quot;Ching jin&quot; (come in) and &quot;Jeo-shung yong-jur goo-jang. Jien-cha yong-chi gong yin&quot; (Life support failure. Check oxygen levels at once)</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/53/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/36/1/icon/image.png width=50 height=50 alt></td>
<td>0:21:08</td>
<td class=shownote><h3>Firefly DVD Boxed Set Promo</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/10/index.html><img src=../../../image/image/33/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:23:39</td>
<td class=shownote><h3>Blue Sun Public Service Announcement</h3>
<h4>Tragedy at New Macau</h4>
<p>Written by <a href=../../../human/view/13/index.html>Rich Adams</a>; starring <a href=../../../human/view/13/index.html>Rich Adams</a></p>
</td>
<td><a href=../../../segment/view/42/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:45</td>
<td class=shownote><h3>Who is Shepherd Book? - Epilogue</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/58/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:28:36</td>
<td class=shownote><h3>Music Section</h3>
<h4>Mal's Song, part 1 of 2</h4>
<p>Music by <a href=../../../human/view/32/index.html>Michelle Dockrey</a></p>
</td>
<td><a href=../../../segment/view/55/4/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:33:37</td>
<td class=shownote><h3>Interview</h3>
<h4>Michelle Dockrey</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/63/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/17/index.html><img src=../../../image/image/47/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:46:38</td>
<td class=shownote><h3>The Guerrilla Marketing Section</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/64/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/18/index.html><img src=../../../image/image/43/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:48:31</td>
<td class=shownote><h3>How to Host a Shindig</h3>
<h4>Part 1</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/67/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:50:09</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/59/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:56:31</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div>Les and Kari talk about podcast alley, podcast pickle, and our new announcement mailing list. You can also subscribe via email: <a href=../../../external.html#http://mailhide.recaptcha.net/d?k=01QYLrOyrtLGB_QqgoaGFEPA==&amp;c=FBa_n1J6ZeN5Xhy_CVQj5MXdxTfpcnmyD8ARtYgiHzHIdtiOyDGS0chcWJEO8w_E>email address</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/56/4/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:54</td>
<td class=shownote><h3>Music Section</h3>
<h4>Mal's Song, part 2 of 2</h4>
<p>Music by <a href=../../../human/view/32/index.html>Michelle Dockrey</a></p>
</td>
<td><a href=../../../segment/view/55/4/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 0:59:19<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/3/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/5/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=816>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
