<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Wendy Scott</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Wendy Scott</h1>
<div><h2>Segments starring Wendy Scott</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>The Terraformers: Episode 0: Attack of the Crazy, Demented, Killer Training Instructor</td>
<td>The Signal: Season 5, Episode 15.5: Live at Dragon*Con 2009</td>
<td><a href=../../../segment/view/1519/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Wendy Scott</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Banter</td>
<td>The Signal: Season 5, Episode 15.5: Live at Dragon*Con 2009</td>
<td><a href=../../../segment/view/1514/150/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Sending a Signal</td>
<td>The Signal: Season 5, Episode 14.8: Sending a Signal</td>
<td><a href=../../../segment/view/1504/147/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
