<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1394/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1331/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 4: Trapped!</h2>

<!-- audio src=signal_terraformers_04.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_04.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/136/index.html>The Signal: Season 5, Episode 8</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/19/index.html>Wayne Hutchinson</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>Absolutely no screw-ups this time, Taya Ray. We&#x2019;ve been warned. There will be severe consequences if this assignment goes belly up&#x2026;</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>Don&#x2019;t fret, Sarah. It&#x2019;s about time an assignment went smooth for us.</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>If you two mess this one up, you&#x2019;ll be on planetside delivery duty for a month!</dd>
<dt>NARRATOR</dt>
<dd>Episode number 4 &#x2013; Trapped!</dd>
</dl>


<hr>
<p><em>Location: Docks on New Melbourne. By the sea. Spaceships are landing and taking off, waves are breaking in the distance, there&#x2019;s the occasional squawk of a seagull and general background noise of people talking, hustle and bustle.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Flatly.)</em> No&#x2026; This did not go well.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>NARRATOR</dt>
<dd>Twenty four hours earlier.</dd>
</dl>


<p><em>Location: A passenger ship somewhere in space. General background hum and quiet conversation from other passengers.</em></p>


<dl><dt>SARAH</dt>
<dd>You know, I think Mr Spall has sent us as far away as possible just to get us out of what&#x2019;s left of his hair for a while. I would be entirely unsurprised if he had made this whole assignment up.</dd>
<dt>TAYA RAY</dt>
<dd>How do you mean?</dd>
<dt>SARAH</dt>
<dd>Well, all this travelling around just to collect a few atmospheric readings from a bunch of planets and moons terraformed long ago? You think there isn&#x2019;t an easier way for Mr Spall to get this done, without making us actually go to all these places?</dd>
<dt>TAYA RAY</dt>
<dd>Oh, I get you. You could be right. He really wasn&#x2019;t too happy after the incident with the squirrels.</dd>
<dt>SARAH</dt>
<dd>Yep. You remember how he threatened to keep us on planetside delivery duty for a month if we mess this assignment up? He meant it. If we don&#x2019;t want to end up as glorified delivery boys, we had really better get this job done right.</dd>
<dt>TAYA RAY</dt>
<dd>Well, there&#x2019;s not really much that can go wrong on this one. I mean&#x2014;</dd>
<dt>SARAH</dt>
<dd><em>(Cutting her off.)</em> Don&#x2019;t jinx it! We have to assume the &#x2018;verse is against us on this one, as it always is, may I add. Keep your head down and your guard up. Anything could go wrong, especially with all this travelling.</dd>
<dt>TAYA RAY</dt>
<dd>I suppose you&#x2019;re right. It&#x2019;s amazing we&#x2019;ve got this far without missing a connection somewhere.</dd>
<dt>SARAH</dt>
<dd><em>(Exasperated.)</em> There you go again! Stop tempting fate, Taya Ray!</dd>
<dt>TAYA RAY</dt>
<dd>Sorry!</dd>
<dt>CAPTAIN</dt>
<dd><em>(Over com.)</em> This is the captain speaking. We will shortly be landing in New Melbourne. For those so inclined, this would be a good time to strap yourselves in somewhere.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>

<p><em>Location: Docks on New Melbourne. As before. Same location for rest of episode.</em></p>


<dl><dt>SARAH</dt>
<dd>So this is New Melbourne, huh?</dd>
<dt>TAYA RAY</dt>
<dd><em>(With feeling.)</em> It&#x2026; stinks!</dd>
<dt>SARAH</dt>
<dd>There is something of a fishy odour about the place, it&#x2019;s true.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Incredulously.)</em> People choose to live here?</dd>
<dt>SARAH</dt>
<dd>I doubt choice comes into it for most people. Let&#x2019;s just be grateful that <em>we&#x2019;re</em> only passing through. One day here should be enough for us to get our work done. We&#x2019;re already booked on a transport leaving tomorrow.</dd>
<dt>TAYA RAY</dt>
<dd>Am I glad to hear that. Well, let&#x2019;s get on and get inland, if at all possible. We might start to grow gills if we stay here much longer.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>SARAH</dt>
<dd>And here we are back again at the docks, with two hours before the transport leaves. Not bad timing, if I do say so myself. I think I&#x2019;m finally starting to relax about this whole assignment. We&#x2019;re on the home straight now.</dd>
<dt>TAYA RAY</dt>
<dd>And you have to admit it&#x2019;s been good to have been out of yelling distance from Mr Spall for so long.</dd>
<dt>SARAH</dt>
<dd>You&#x2019;re right, but we probably should get on the cortex before we leave here and just check he hasn&#x2019;t left any further instructions for us. There&#x2019;s a public terminal over there. Come on.</dd>
</dl>


<p><em>Footsteps over the following conversation as Sarah and Taya Ray walk over to the terminal.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Just so long as he hasn&#x2019;t left us any instructions that involve staying on this planet a minute longer.</dd>
<dt>SARAH</dt>
<dd>I&#x2019;m with you there. <em>(Beat.)</em> Here we go.</dd>
</dl>


<p><em>Beeps and button pushes as Sarah does the &#x2018;verse equivalent of checking her email.</em></p>


<dl><dt>SARAH</dt>
<dd>And, yep, there&#x2019;s something from Mr Spall. <em>(With trepidation.)</em> Oh boy. Here goes.</dd>
</dl>


<p><em>Click/beep.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Recorded message.)</em>Brunel, Parsec. Not sure when you&#x2019;ll be getting this, but this is to let you know that when you get back, assuming you&#x2019;ve completed this assignment to my satisfaction, I have quite an interesting next job for you. You should like this one. A bit of actual terraforming for a change. Anyway, you&#x2019;ll need to be ready to go on Friday, but assuming your travel plans have worked out, you&#x2019;ll be back on Thursday, right? You&#x2019;ll be gutted if you miss out on this assignment! See you when you get back.</dd>
</dl>


<p><em>Click/beep.</em></p>


<dl><dt>SARAH</dt>
<dd>A piece of the terraforming action at last! That&#x2019;s what I like to hear. Well, it&#x2019;s Thursday and the transport leaves in a couple of hours. We&#x2019;ll be back in time.</dd>
<dt>MAN</dt>
<dd><em>(Some form of rural accent.)</em> Um, excuse me, Ma&#x2019;am, but I think you&#x2019;ll find you&#x2019;re mistaken on that one.</dd>
<dt>SARAH</dt>
<dd>I&#x2019;m sorry?</dd>
<dt>MAN</dt>
<dd>I don&#x2019;t mean to interrupt none, but, well, it&#x2019;s Friday today.</dd>
<dt>SARAH</dt>
<dd><em>(Worried, slowly.)</em> No, that can&#x2019;t be!</dd>
<dt>MAN</dt>
<dd>&#x2018;Fraid so. The weekly transport left yesterday. It always comes in and leaves again immediately. Folk don&#x2019;t like to stay too long on New Melbourne. <em>(Beat.)</em> Not rightly sure why.</dd>
<dt>SARAH</dt>
<dd><em>(In despair now.)</em> No! I don&#x2019;t believe it!</dd>
<dt>TAYA RAY</dt>
<dd>I don&#x2019;t get it. How can it be Friday today? It was Wednesday yesterday, wasn&#x2019;t it?</dd>
<dt>SARAH</dt>
<dd>All the travelling over the past few weeks. The different time zones&#x2026; We must have got a whole day out somehow. Sir, is there another way off this planet?</dd>
<dt>MAN</dt>
<dd>You can wait around the docks and see if you can get a ride someplace useful. Might get lucky. Should warn you though, the competition for places is mighty fierce. Much easier to get a ride <em>to</em> this planet than to get one <em>out</em> of here. <em>(Beat.)</em> Not rightly sure why.</dd>
</dl>


<p><em>Footsteps as man walks off.</em></p>

<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Line from the start, flatly.)</em> No&#x2026; This did not go well.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Beat.)</em> I spy with my little eye&#x2026; something beginning with&#x2026; &#x201C;f&#x201D;.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1394/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1331/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/136/index.html>The Signal: Season 5, Episode 8</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
