<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2435/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2450/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>The Vasty Nothingness</h2>
<div>First aired: <a href=../../../show/view/213/index.html>The Signal: Season 7, Episode 14</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/8/index.html>James Parkinson</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/96/index.html>Kara Helgren</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>KAYLEE</dt>
<dd>Shepherd Book said they was men who just... reached the edge of space, saw a vasty nothingness... and went bibbledy over it.</dd>
<dt>JAYNE</dt>
<dd>Oh, hell. I've been to the edge. Just looked like more space.</dd>
<dt>KAYLEE</dt>
<dd>I don't know. It can get awful lonely in the black. Like to get addlepated ourselves, we stay on this boat much longer.</dd>
</dl>


<p>The idea of living in space has fascinated me for a long time. Often when I&#x2019;ve watched films or television series set in space, I&#x2019;ve started wondering what it would be like to wake up every day somewhere out in the black. Well, in that context, as of course we all know, &#x201C;day&#x201D; would be a vestigial mode of time measurement, but you know what I mean.</p>

<p>Travelling in space would be an amazing experience, I&#x2019;m sure, but it&#x2019;s the idea of making a home surrounded by vasty nothingness that particularly intrigues me. It is clear from comments that characters make in Firefly that there are some beliefs about the effect that nothingness can have on a person. According to Kaylee, Shepherd Book attributes the origin of reavers to this effect. Simon expresses a similar view, describing reavers as &#x201C;men gone savage on the edge of space&#x201D;. Kaylee may not fully agree, but her comments on loneliness in the black suggest that she&#x2019;s willing to accept there is some truth in the view. And Mal makes a passing reference to &#x201C;tragic space dementia&#x201D;, which though a joke in the context, could be taken as the acknowledgment that such a condition exists, or at least is thought to exist.</p>

<p>It&#x2019;s not hard to imagine how prolonged time in space could start to eat away at a person&#x2019;s psychological well-being. There is no possibility of stepping outside for a breath of fresh air, if you are feeling claustrophobic. And then there is the realisation of the fragility of your situation, with very little separating and protecting you from the vacuum outside. Those with, let&#x2019;s say, more of a Jayne-style, down-to-earth (so to speak) approach to life would probably do better with this knowledge than those prone to over-thinking, like Simon:</p>


<dl><dt>JAYNE</dt>
<dd>Well, Cap and Zoe are going in first. We'll holler if we need ya. Somethin' wrong?</dd>
<dt>SIMON</dt>
<dd>Hmmm? Oh. No. No, I... well, I suppose it's just the thought of a little mylar and glass being the only thing separating a person from... nothing.</dd>
<dt>JAYNE</dt>
<dd>It&#x2019;s impressive what &quot;nothing&quot; can do to a man.</dd>
</dl>


<p>The crew of Serenity seems relatively well-adjusted and not to be suffering too many ill effects from living out in the black. Other characters we meet in Firefly are not such a good advert for the life though. With the exception of Amnon, the friendly postal worker in The Message, most people we come across seem to have a very unneighbourly attitude, to put it mildly, to those around them. Corbin and Breed, the carrion house operators we meet in Our Mrs Reynolds, for example, don&#x2019;t think twice about killing all those aboard a ship just to get its parts for scrap. The captain of the salvage crew who boards Serenity in Out of Gas has a similar attitude. Niska, with his fondness for torture and quoting psychotic dictators, is an even more extreme example.</p>

<p>It is, of course, possible that characters such as these would have been equally inhumane, had they lived planetside. There are plenty of examples in Firefly of people clearly in a &#x201C;killing mood&#x201D; who have their feet firmly on the ground. Rance Burgess and Patience are just two examples which come to mind. But perhaps there is something about living in the vasty nothingness that brings out the worst in people. As we all know, in space, no one can hear you scream. Maybe the knowledge that the nearest feds are likely to be many hours away contributes to the general lawlessness of those who spend their lives in the black.</p>

<p>How then do those on board Serenity manage to maintain their humanity and sanity? Jayne clearly hovers on the edge with respect to the former, but even he has moments when he shows his concern for fellow crew members, watching Kaylee being operated on in the pilot, for example, or joining in the mission to rescue Mal from Niska in War Stories. In the main, Serenity&#x2019;s occupants look out for each other and although Mal, Zoe and Jayne are not averse to killing shots (or kicks), they do on several occasions spare people&#x2019;s lives. Patience and Saffron, for example, are both allowed to live to fight and scheme another day.</p>

<p>Perhaps the reason that Serenity&#x2019;s occupants seem to be dealing well with life in space is that they are exactly where they want to be:</p>


<dl><dt>MAL</dt>
<dd>I tell ya, Zoe, we get a mechanic, get her up and running again. Hire a good pilot. Maybe a cook. Live like real people. Small crew, them as feel the need to be free. Take jobs as they come&#x2014; ain&#x2019;t never have to be under the heel of nobody ever again. No matter how long the arm of the Alliance might get... we'll just get ourselves a little further.</dd>
</dl>


<p>Mal wants to be in the black, away from the meddling of the Alliance and the planetside memories of lost battles and lost hope. Zoe wants to be with her captain and Wash, having escaped a polluted home planet, wants to be with the wife he has found. Kaylee loves ships and Jayne loves having his own bunk. Inara seems to be running from something. Shepherd Book thinks the journey is the worthier part and Simon just wants to keep River safe. Each character has a reason to want to make a life in space.</p>


<dl><dt>MAL</dt>
<dd>So we got a course set?</dd>
<dt>WASH</dt>
<dd>We do. Took a little creative navigating, but we should make it all the way to Greenleaf without running afoul of any Alliance patrols. Or a single living soul, for that matter.</dd>
<dt>MAL</dt>
<dd>Good. Way it should be.</dd>
</dl>


<p>As Kaylee says, it can get awful lonely out in the black. But it seems that this loneliness can be averted when a group of people gets together and creates a family, regardless of the different reasons for the individual members wanting to be there in the first place. Perhaps also the hostility of the vacuum outside, and of the others that make their homes there, serves to make those on the inside more of a family, and what separates them from the vasty nothingness even more of a home.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2435/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2450/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/213/index.html>The Signal: Season 7, Episode 14</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
