<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 9</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 9</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/52/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/54/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_209_20060517.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_209_20060517.mp3 download=signal_season02_09.mp3>Download audio file</a></div>
<div class=info>Wednesday 17th May 2006</div>
Produced by Miranda Thomas<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:19</td>
<td class=shownote><h3>Banter</h3>
<div><ul><li>Firefly/Serenity craft swaps</li>
<li><ul><li>[../../../external.html#http://www.craftster.org/forum/index.php?topic=75820.0%5D</li>
<li>[../../../external.html#http://www.craftster.org/forum/index.php?topic=88305.0%5D</li>
</ul>
</li>
<li>Ariel Ambulence Day</li>
<li><a href=../../../external.html#http://cantstoptheserenity.com/#current>Cinemas showing Serenity</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/544/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:04:54</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.locusmag.com/2006/News/05_NebulaWinners.html>Joss wins Nebula award for Serenity</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=10251>Summer wins Saturn Award for Best Supporting Actress in Serenity</a></li>
<li><a href=../../../external.html#http://dvd.ign.com/articles/705/705038p3.html>Firefly reaches number 5 on IGN.com</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=10305>Firefly available from the iTunes in US</a></li>
<li><a href=../../../external.html#http://www.wired.com/wired/archive/14.05/play.html?pg=4>Wired magazine article: Why Firefly will Never Die</a></li>
<li><a href=../../../external.html#http://akin.livejournal.com/262143.html>Ariel Ambulance in Browncoat hands</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/547/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://talesfromtheverse.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:06:21</td>
<td class=shownote><h3>Promo: Tales from the 'Verse</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/49/index.html><img src=../../../image/image/62/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:13</td>
<td class=shownote><h3>Tricks from the Training House</h3>
<h4>Control</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; starring <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/553/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:14:21</td>
<td class=shownote><h3>The Hidden Depths of David Newman's Soundtrack</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/546/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/48/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:36</td>
<td class=shownote><h3>The Firefly Technical Manual</h3>
<div><ul><li>When Mal enters the bridge in the movie, where does the door on the left go?</li>
<li>How does the life support/air support system on Serenity work?</li>
<li>If the damage to River's brain was physical, how does seeing the hologram on Miranda help?</li>
<li>How many worlds supported the Independence?</li>
<li>What food does River try to eat in The Message?</li>
<li>What is a blackout zone?</li>
<li>Why can't Vera breach Serenity's hull in Objects in Space but could breach the Scrap Shot net in Our Mrs Reynolds?</li>
<li>What is &quot;shimmerwine&quot;?</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/552/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.podshock.net><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:29:27</td>
<td class=shownote><h3>Promo: Doctor Who Podshock</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:29</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/550/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:33:15</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Matt - Conversion by Car</li>
<li>Melissa - Guerilla market by the guest stars and favorite television show</li>
<li>Eric - What is <a href=../../../external.html#http://www.equalitynow.org>Equality Now</a>?</li>
<li><ul><li>Equality Now was founded in 1992 to work for the protection and promotion of the human rights of women around the world. Working with national human rights organizations and individual activists, Equality Now documents violence and discrimination against women and mobilizes international action to support their efforts to stop these human rights abuses. Through its Women&#x2019;s Action Network of concerned groups and individuals around the world, Equality Now:</li>
<li><ul><li>distributes information about human rights violations</li>
<li>takes action to protest these violations</li>
<li>brings public attention to human rights violations against women</li>
</ul>
</li>
</ul>
</li>
<li>Myke - Quadrant as distance from the core?</li>
<li>Andreas - Conversion story</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/548/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:36</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Lost</h4>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/551/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:23</td>
<td class=shownote><h3>Music Section</h3>
<h4>Unsere-Crew Serenity (in German)</h4>
<div><ul><li>Lyrics: Kessie</li>
<li>Original german dub voices collected by: Captain Serenity</li>
<li>Spoken Voice: Djini und Princess of darkness</li>
<li>Choir: Sternchen and Laura</li>
<li>All other instruments, male Chorus voicerecording and production: Kaywin</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/549/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:00:00</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:00:22<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/52/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/54/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2472>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
