<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2048/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Reunion Panel</h2>

<audio src=https://traffic.libsyn.com/secure/thesignal/signal_terraformers_33.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_terraformers_33.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/235/index.html>The Signal: Season 8, Episode 18</a></div>
<div>Austin, Leroy and Lenore are in the audience for the Terraformers reunion panel. On stage are actors Kari Haley, Miranda Thomas and Nick Edwards, plus writer-director Wallop Doorfat and writer Jean Uwazi.</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/2/index.html>Les Howard</a></td>
<td>as Wallop Doorfat</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec and Miranda Thomas</td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel and Lenore and Kari Haley</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall and Austin and Nick Edwards</td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td>as Jean Uwazi</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td>as Leroy</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/479/index.html>Bindiya Dale</a></td>
<td>as Female Fan</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/485/index.html>Craig Kurumada</a></td>
<td>as Host</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a></td>
<td>as Male Fan</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><a></a><h2><span class=mw-headline>The Terraformers Reunion Panel</span></h2>


<p><strong>By Helen Eaton</strong></p>

<p><em>Location: Big hall at the con. Panel members, the host and those asking questions have some kind of microphone effect to distinguish them from the lines from Austin, Leroy and Lenore, who are sitting in the audience. We join the scene just as a clip is being played on the screens for the panel and audience.</em></p>

<p><strong>INSERT CLIP from It Came From Beneath</strong></p>


<dl><dt>BOWMAN</dt>
<dd><em>(Very worried now.)</em> Merciful Buddha! The owner of that rather splendid new shuttle over there should probably move it before&#x2014;</dd>
<dt>MR SPALL, SARAH, TAYA RAY</dt>
<dd>Nooooooo!</dd>
</dl>


<p><em>Big crash as shuttle falls into hole.</em></p>


<dl><dt>MR SPALL</dt>
<dd>BRUNEL, PARSEC!</dd>
</dl>


<p><em>End credits music, fading out. Laughter and applause from audience overlaps with music.</em></p>


<dl><dt>HOST</dt>
<dd>And that was, of course, a clip from the fan favourite episode, It Came From Beneath. It looks like that episode had a somewhat bigger budget than some of the earlier episodes &#x2013; trashing a shuttle can&#x2019;t have been cheap!</dd>
<dt>WALLOP</dt>
<dd>Well, of course, it was an old shuttle dressed up to look new and shiny, but, yes, we used up more than our fair share of credits for that episode. Do you remember, Kari?</dd>
<dt>KARI</dt>
<dd>Yeah, I don&#x2019;t think the director of the episode that followed that one has forgiven you yet &#x2013; her episode had to have a lot of indoor scenes, if I remember correctly!</dd>
</dl>


<p><em>Audience laughter. The host&#x2019;s lines below are faded into the background as we hear the conversation between Austin, Leroy and Lenore.</em></p>


<dl><dt>HOST</dt>
<dd>Now we&#x2019;re coming to the end of our hour, but we still have some time for a few more questions and a couple of clips. And don&#x2019;t forget that we have a surprise lined up to finish with. Don&#x2019;t leave before the end! Well, who am I kidding? I don&#x2019;t think there&#x2019;s anyone here who is going to leave until everything is well and truly over!</dd>
<dt>LEROY</dt>
<dd>Oh, I can&#x2019;t believe it&#x2019;s nearly over! I&#x2019;ve got to ask my question!</dd>
<dt>AUSTIN</dt>
<dd><em>(Bored and grumpy.)</em> Well, go and get in the queue then. Don&#x2019;t sit here bellyaching about it. I can&#x2019;t believe you made me sit through this.</dd>
<dt>LENORE</dt>
<dd>I&#x2019;m glad <em>I</em> came. I think that Kari Haley is really cool.</dd>
<dt>AUSTIN</dt>
<dd>Oh good Lord, not you too!</dd>
<dt>FEMALE FAN</dt>
<dd><em>(Nervous and giggly.)</em> My question is for Nick. Um, hi!</dd>
<dt>NICK</dt>
<dd><em>(Exaggerated RP accent.)</em> Hello.</dd>
<dt>FEMALE FAN</dt>
<dd>Um, what was your favourite part about playing Mr Spall?</dd>
<dt>NICK</dt>
<dd>Well, it wasn&#x2019;t doing the accent, that&#x2019;s for sure. I always felt like it cramped my dramatic style. I mean, <em>(slips into Mr Spall accent)</em> it&#x2019;s hard to convey emotional depth when you sound like this, you know?</dd>
</dl>


<p><em>Laughter and applause from the audience.</em></p>


<dl><dt>NICK</dt>
<dd><em>(Overlapping with laughter and applause, back to RP accent.)</em> A lot of people never realised the accent was put on.</dd>
<dt>AUSTIN</dt>
<dd><em>(Muttering to self.)</em> Well I always knew it was fake.</dd>
<dt>MIRANDA</dt>
<dd><em>(Bright, intelligent sounding, accent not like Taya Ray&#x2019;s.)</em> Well, you weren&#x2019;t the only one who had to wrestle with another accent! After playing Taya Ray, it was a long time before any casting director would consider me for anything other than ditzy oddballs&#x2026; But the question what was your <em>favourite</em> part of playing Mr Spall, Nick? <em>(Teasing.)</em> And don&#x2019;t say the pay check!</dd>
<dt>NICK</dt>
<dd>I suppose it was the variety. After I had played Lear and Joseph Hill on stage, the only way was&#x2014; Well, I don&#x2019;t want to say down! But...</dd>
<dt>KARI</dt>
<dd>Diagonally?</dd>
<dt>MIRANDA</dt>
<dd>Perpendicular?</dd>
</dl>


<p><em>Laughter from the audience.</em></p>


<dl><dt>NICK</dt>
<dd>Let&#x2019;s say sideways. To new territory.</dd>
<dt>MIRANDA</dt>
<dd>To new terraformer-tory, you might say.</dd>
<dt>KARI</dt>
<dd>Oh, that&#x2019;s bad! Even for you!</dd>
</dl>


<p><em>Laughter from the audience.</em></p>


<dl><dt>HOST</dt>
<dd>Now before you actor types use up all our time with your witty banter, I must just bring in our fourth panel member, Jean. We haven&#x2019;t heard so much from you during the panel. In fact, we haven&#x2019;t heard much from you at all over the years.</dd>
<dt>JEAN</dt>
<dd>Well, I live on the rim, on Shepherd&#x2019;s Mission, which is why I don&#x2019;t get to many cons. In fact, confession time &#x2013; this is my first!</dd>
</dl>


<p><em>Applause.</em></p>


<dl><dt>JEAN</dt>
<dd>Yeah, I&#x2019;m a con newbie!</dd>
<dt>HOST</dt>
<dd>So, what have you been up to since The Terraformers?</dd>
<dt>JEAN</dt>
<dd>I actually gave up writing after The Terraformers ended. I left the writing game with no hard feelings and no regrets though. It was just time for something different. I run adult literacy classes on Shepherd&#x2019;s Mission now, which is, yeah, just about as different as you can get!</dd>
<dt>KARI</dt>
<dd>Your episodes were always my favourites!</dd>
<dt>WALLOP</dt>
<dd><em>(Mock annoyance.)</em> Sitting right here!</dd>
<dt>KARI</dt>
<dd><em>(Hastily.)</em> Except for Wallop&#x2019;s, of course, which were also my favourites!</dd>
<dt>NICK</dt>
<dd>Nice save!</dd>
<dt>MIRANDA</dt>
<dd>You wrote how many, Jean? Was it 21?</dd>
<dt>JEAN</dt>
<dd>Yeah, that sounds about right.</dd>
<dt>MIRANDA</dt>
<dd>I think my favourites were the ones where you managed to work in some social commentary and make a few pointed remarks, under the cover of the comedy.</dd>
<dt>HOST</dt>
<dd>Actually we have a clip to illustrate that. Thanks for the unintended introduction, Miranda!</dd>
<dt>MIRANDA</dt>
<dd>You&#x2019;re welcome!</dd>
</dl>


<p><strong>INSERT CLIP from Vandals</strong></p>


<dl><dt>TAYA RAY</dt>
<dd>How do you know for sure that I&#x2019;m wrong though? What about all those terraformers who&#x2019;ve died over the years? You&#x2019;re sure that none of them died while on an assignment just like this one?</dd>
<dt>SARAH</dt>
<dd>Well, maybe some of them died on an assignment like this after the co-worker they had driven insane with their paranoia started to harbour murderous thoughts toward them. <em>(Beat.)</em> Look, Taya Ray, I&#x2019;ve read the history pages of the Cortex. I know how many early terraformers died. The job was more dangerous then.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Serious now.)</em> People still die doing terraforming now, Sarah.</dd>
<dt>SARAH</dt>
<dd><em>(Also serious.)</em> Yeah, I know. I&#x2019;ve heard the stories too.</dd>
<dt>TAYA RAY</dt>
<dd>Do you think the stories are true?</dd>
<dt>SARAH</dt>
<dd>I figure some of them are, and some of them aren&#x2019;t. But the thought that there could be even worse stories to be told that were covered up? That&#x2019;s the thought that scares me the most.</dd>
<dt>TAYA RAY</dt>
<dd>Well, now it scares me too. You mean you think there have been terraforming incidents where people died and it was never reported?</dd>
<dt>SARAH</dt>
<dd>It wouldn&#x2019;t be the first time, would it?</dd>
</dl>


<p><em>Sober applause from audience.</em></p>


<dl><dt>WALLOP</dt>
<dd>Don&#x2019;t forget, everyone, that was aired before we all found about the Miranda cover-up.</dd>
<dt>HOST</dt>
<dd><em>(Serious.)</em> Indeed. <em>(Back in enthusiastic host mode.)</em> We have time for just two more questions.</dd>
<dt>MALE FAN</dt>
<dd><em>(Excited, gushing.)</em> I just want to say that you were awesome in Awaara, Kari!</dd>
<dt>KARI</dt>
<dd>Thank you! I had to do some pretty hard-core Hindi practice before I could do take that part on!</dd>
<dt>MALE FAN</dt>
<dd>But my question is for, well, anyone who wants to answer, really. What was your favourite reference in The Terraformers? I mean, a reference to popular culture or history or something.</dd>
<dt>NICK</dt>
<dd>For me it was a couple of character names in Ghost Moon - Celestine Briggs and Mary Dewis. Now that was a classy reference.</dd>
<dt>JEAN</dt>
<dd>Thank you!</dd>
<dt>NICK</dt>
<dd>Oh, that was one of yours, darling? Good show! I expect I&#x2019;m one of very few to have got it without looking it up on the cortex. I&#x2019;ll leave you all guessing for now though, unless you&#x2019;ve already looked it up as I was talking.</dd>
<dt>MIRANDA</dt>
<dd>I think my favourite was the title of the first part of our final trilogy of episodes &#x2013; The Phantom Hope.</dd>
<dt>KARI</dt>
<dd>Oh, yeah, I liked that one too. That&#x2019;s another historical one, isn&#x2019;t it? The name is a mash-up of a couple of titles of really old famous movies &#x2013; both the first parts of trilogies even. Were they from the 22nd century, Miranda?</dd>
<dt>MIRANDA</dt>
<dd>Late 20th actually. I&#x2019;m a movie history buff! If you don&#x2019;t know what I&#x2019;m talking about, everyone, your homework is to get searching on the cortex!</dd>
<dt>HOST</dt>
<dd>Well, before everyone scuttles off to do their homework, we have time for one last question. <em>(To Leroy.)</em> Go ahead.</dd>
<dt>LEROY</dt>
<dd>Hi! I&#x2019;m Leroy and, um, I just want to say thanks first, for all the fun you&#x2019;ve given us.</dd>
<dt>NICK</dt>
<dd>It was our pleasure, young man.</dd>
<dt>LEROY</dt>
<dd>Um, and my question is, <em>(beat)</em> were the squirrels real or CGI?</dd>
</dl>


<p><em>Laughter from the audience.</em></p>


<dl><dt>AUSTIN</dt>
<dd><em>(Incredulous, half to himself.)</em> <em>That</em> was his question?! We sat through all this for <em>that</em>?!</dd>
<dt>LENORE</dt>
<dd>I think it&#x2019;s a great question. Who doesn&#x2019;t love squirrels?</dd>
<dt>WALLOP</dt>
<dd>Pay up, everyone! I should explain that we had a bet earlier &#x2013; I said that one of you would ask about squirrels and these four said no one cared about the squirrels. <em>(To panel members who are giving him money.)</em> Thank you, thank you. I&#x2019;ll get your cut to you later, Leroy, was it?</dd>
</dl>


<p><em>Laughter from the audience.</em></p>


<dl><dt>WALLOP</dt>
<dd>Kidding!</dd>
</dl>


<p><em>Laughter from the audience.</em></p>


<dl><dt>WALLOP</dt>
<dd>So, the squirrels, yes. <em>(Knowing that there is a story behind this one.)</em> Kari, do you want to take this one?</dd>
<dt>KARI</dt>
<dd><em>(Mock puzzlement at why she is being asked to answer.)</em> Now why would you ask me to answer this one?! The ones we were putting into the sacks were definitely real. I have the scars to prove it!</dd>
<dt>MIRANDA</dt>
<dd><em>(Confidential tone, explaining.)</em> Squirrels are small, but fierce.</dd>
<dt>NICK</dt>
<dd>I was so glad I wasn&#x2019;t in that scene!</dd>
<dt>MIRANDA</dt>
<dd>The ones in the trees were CGI though. Oh, the one that opened the van door was real. And wasn&#x2019;t she a diva?</dd>
</dl>


<p><em>Laughter from the audience.</em></p>


<dl><dt>MIRANDA</dt>
<dd>She was CGI-enhanced though &#x2013; have you ever tried getting a squirrel to open a van door?</dd>
</dl>


<p><em>Laughter from the audience.</em></p>


<dl><dt>HOST</dt>
<dd>Well, I think that is a great place to end our Terraformers reunion panel. Nick, Kari, Miranda, Jean and, of course, Wallop, thank you!</dd>
</dl>


<p><em>Applause and cheering from the audience.</em></p>


<dl><dt>HOST</dt>
<dd><em>(To audience, trying to whip up some excitement.)</em> But before we go, do you want your surprise?</dd>
<dt>AUDIENCE</dt>
<dd><em>(Various voices. Leroy and Lenore&#x2019;s voices can be be heard.)</em> Yes! Yes! Terraformers! Terraformers!</dd>
<dt>HOST</dt>
<dd>Well, brace yourselves for this, because you&#x2019;re in for a treat. <em>(Announces dramatically.)</em> We have uncovered some never before seen outtakes from The Terraformers!</dd>
</dl>


<p><em>Excited cheering from the audience.</em></p>


<dl><dt>HOST</dt>
<dd>So, here are The Terraformers as you&#x2019;ve never seen them before, and as they probably didn&#x2019;t ever want you to see them&#x2026;</dd>
</dl>


<p><strong>Clip 1. Location: Studio. (From Invasion of the Killer Squirrels.)</strong></p>


<dl><dt>MR SPALL</dt>
<dd>A Type 3 biodiversity distribution readjustment potocrol. <em>(Breaks character, back to RP accent.)</em> Potocrol? Did I really just say that?</dd>
</dl>


<p><strong>Clip 2. Location: Outside, rainforest noises, frogs croaking. (From Secrets of the Deep.)</strong></p>


<dl><dt>SARAH</dt>
<dd>Oh, yes, I forgot. You are of course the one who thought it would be fun to live in Squirrel World, so perhaps we shouldn&#x2019;t be trusting your judgment on what makes for an inhabitable world!</dd>
<dt>TAYA RAY</dt>
<dd>If only the frogs could talk!</dd>
<dt>SARAH</dt>
<dd><em>(Hesitating.)</em> Yes?</dd>
<dt>TAYA RAY/MIRANDA</dt>
<dd><em>(Laughing hysterically, trying to recover.)</em> I&#x2019;m sorry. Oh dear.</dd>
<dt>SARAH/KARI</dt>
<dd><em>(Laughing too.)</em> Don&#x2019;t get me going as well!</dd>
</dl>


<p><strong>Clip 3. Location: Studio. (From Invasion of the Killer Squirrels.)</strong></p>


<dl><dt>MR SPALL</dt>
<dd>A Type 3 biodiversity adjustment redistribution protocol.</dd>
<dt>WALLOP</dt>
<dd><em>(Calling out to correct him.)</em> Distribution readjustment!</dd>
<dt>MR SPALL/NICK</dt>
<dd>Go se! Sorry! Sorry everyone!</dd>
</dl>


<p><strong>Clip 4. Location: Outside, birdsong, wind in trees. (From Invasion of the Killer Squirrels.)</strong></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Slightly out of breath.)</em> Do you think there&#x2019;s anything in the manual about how to get squirrels down from trees?</dd>
<dt>SARAH/KARI</dt>
<dd>Yeah, it&#x2019;s probably called an&#x2014;Ouch! It bit me! The squirrel bit me!</dd>
</dl>


<p><em>Squirrel chatter sound.</em></p>

<p><strong>Clip 5. Location: Studio. (From Invasion of the Killer Squirrels.)</strong></p>


<dl><dt>MR SPALL</dt>
<dd>A Type 3 biodi&#x2014; Arrgh! I give up. Who writes this stuff?!</dd>
<dt>WALLOP</dt>
<dd><em>(Calling out from behind the camera.)</em> And again!</dd>
</dl>


<p><strong>Clip 6. Location: Staffroom, background noises of chatting and chairs scraping. (From The Phantom Hope.)</strong></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Excitedly.)</em> That&#x2019;s it, Sarah! That&#x2019;s the way we can keep our jobs! We can solve the Rack Block mystery!</dd>
<dt>SARAH/KARI</dt>
<dd><em>(Laughing.)</em> The Rack Block mystery?!</dd>
<dt>TAYA RAY/MIRANDA</dt>
<dd><em>(Laughing, but just about holding it together.)</em> Uh huh, and when we&#x2019;re finished with the Rack Block mystery, we&#x2019;ll turn our attention to the Black Rock mystery!</dd>
</dl>


<p><em>Laughter from crew members.</em></p>

<p><strong>Clip 7. Location: Studio. (From Invasion of the Killer Squirrels.)</strong></p>


<dl><dt>MR SPALL</dt>
<dd>A Type 3 biodiversity distribution readjustment protocol.</dd>
<dt>WALLOP, KARI, MIRANDA</dt>
<dd>Woo hoo! Yay! Go, Nick!</dd>
</dl>


<p><em>Clip montage ends with ending credits music of The Terraformers.</em></p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2048/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/235/index.html>The Signal: Season 8, Episode 18</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
