<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Clay McClure</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Clay McClure</h1>
<div><h2>Segments written by Clay McClure</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Blue Sun Public Service Announcement: Pork Bao Recipe</td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/187/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Blue Sun Public Service Announcement: Scentsations commercial</td>
<td>The Signal: Season 1, Episode 10</td>
<td><a href=../../../segment/view/202/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Blue Sun Public Service Announcement: Care of Protein Packets</td>
<td>The Signal: Season 1, Episode 12</td>
<td><a href=../../../segment/view/214/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Captain Reynolds' Way: Lesson 1: Selecting and Organizing a Strong Crew</td>
<td>The Signal: Season 2, Episode 1</td>
<td><a href=../../../segment/view/450/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Captain Reynolds' Way: Lesson 2: Teambuilding in the Black</td>
<td>The Signal: Season 2, Episode 2</td>
<td><a href=../../../segment/view/467/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Captain Reynolds' Way: Lesson 3: Getting the Most from your Employees</td>
<td>The Signal: Season 2, Episode 3</td>
<td><a href=../../../segment/view/477/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Captain Reynolds' Way: Lesson 4: Communication</td>
<td>The Signal: Season 2, Episode 5</td>
<td><a href=../../../segment/view/496/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Fantasy Firefly: Fox Nightmares</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/420/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Food from the Edge</td>
<td>The Signal: Season 1, Episode 5</td>
<td><a href=../../../segment/view/65/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Fruity Oaty Bar</td>
<td>The Signal: Season 1, Episode 16</td>
<td><a href=../../../segment/view/282/index.html>shownotes</a></td>
</tr>
<tr class=even><td>In Defense of <q>The Train Job</q></td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/184/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Kaylee, the Soul of Serenity</td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/146/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Mudders' Milk How-To</td>
<td>The Signal: Season 1, Episode 17.3: Solstice Special, part 3</td>
<td><a href=../../../segment/view/398/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Our Mrs. Reynolds and Trash: the Saffron Arc</td>
<td>The Signal: Season 1, Episode 17.1: Solstice Special, part 1</td>
<td><a href=../../../segment/view/365/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Spamalot Review</td>
<td>The Signal: Season 1, Episode 13</td>
<td><a href=../../../segment/view/259/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Sci-Fi Review: Babylon 5</td>
<td>The Signal: Season 2, Episode 3</td>
<td><a href=../../../segment/view/479/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments read by Clay McClure</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Captain Reynolds' Way: Lesson 1: Selecting and Organizing a Strong Crew</td>
<td>The Signal: Season 2, Episode 1</td>
<td><a href=../../../segment/view/450/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Captain Reynolds' Way: Lesson 2: Teambuilding in the Black</td>
<td>The Signal: Season 2, Episode 2</td>
<td><a href=../../../segment/view/467/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Captain Reynolds' Way: Lesson 3: Getting the Most from your Employees</td>
<td>The Signal: Season 2, Episode 3</td>
<td><a href=../../../segment/view/477/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Captain Reynolds' Way: Lesson 4: Communication</td>
<td>The Signal: Season 2, Episode 5</td>
<td><a href=../../../segment/view/496/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 1, Episode 16.5: November Bonus Show</td>
<td><a href=../../../segment/view/313/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefilk</td>
<td>The Signal: Season 1, Episode 17.2: Solstice Special, part 2</td>
<td><a href=../../../segment/view/359/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Fruity Oaty Bar</td>
<td>The Signal: Season 1, Episode 16</td>
<td><a href=../../../segment/view/282/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Mudders' Milk How-To</td>
<td>The Signal: Season 1, Episode 17.3: Solstice Special, part 3</td>
<td><a href=../../../segment/view/398/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Browncoat Wish List</td>
<td>The Signal: Season 1, Episode 16.5: November Bonus Show</td>
<td><a href=../../../segment/view/310/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments starring Clay McClure</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Fantasy Firefly: Serenity Interview</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/422/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Signal Promo: Hands on knees and heads bowed down</td>
<td>Signal Promo</td>
<td><a href=../../../segment/view/1989/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Clay McClure</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Banter</td>
<td>The Signal: Season 1, Episode 16.6: Bits of the Signal</td>
<td><a href=../../../segment/view/320/23/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
