<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2376/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2391/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>When the Stars Align</h2>
<div>First aired: <a href=../../../show/view/205/index.html>The Signal: Season 7, Episode 11</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>I have never tried to work out the various components which would need to come together to create the perfect television series for me. Even if I had, I know I wouldn&#x2019;t have been creative enough to come up with Firefly, and that&#x2019;s why I&#x2019;m glad this world has a Joss Whedon. But with hindsight, I can start with Firefly and work backwards to see how it brings together the best elements of other fictional worlds, stories and characters I have loved.</p>


<dl><dt>SAFFRON</dt>
<dd>I've never been off world before.</dd>
<dt>WASH</dt>
<dd>It&#x2019;s beautiful, isn't it?</dd>
<dt>SAFFRON</dt>
<dd>It's like a dream.</dd>
</dl>


<p>As a child I was an avid reader and loved stories which were set in worlds other than my own. These might be fantasy worlds like C.S. Lewis&#x2019; Narnia, or worlds which were real, but removed from my experience in time and space, like the America of Laura Ingalls Wilder&#x2019;s Little House on the Prairie stories. I couldn&#x2019;t see the point to reading stories about children growing up in England in the twentieth century, since I knew perfectly well what that was like from my own life. I wanted to escape &#x2013; into the past or future, into another country, or even another world &#x2013; and experience something new.</p>

<p>This desire to be taken to a new world is something that is very much met by Firefly. And the &#x2018;verse is not just one world, but many, each promising something new. I don&#x2019;t even have to choose between escaping into the past or the future, because the &#x2018;verse offers me both, mixed together in varying proportions on different worlds. In one episode we might be experiencing the world of fancy shindigs and sword fighting on Persephone, and in another the oppression of the mudders on Higgins&#x2019; Moon. And perhaps one day we&#x2019;ll get to visit the fabled moon where geese are juggled.</p>


<dl><dt>MAL</dt>
<dd>This is my boat, they're part of my crew. No one's getting left. Best you get used to that.</dd>
</dl>


<p>When I think back to the television programmes that I enjoyed as I was growing up, many of them involved exploring unfamiliar worlds, much like the books I enjoyed. Another thread that ran through many of them was a focus on a group of individuals not related by blood, who become a gang, or family, sticking together either by choice or being forced to by circumstances. M*A*S*H was one of these programmes, as was Press Gang, a drama for children about a group of young people producing a newspaper together. Press Gang is unlikely to be known to many who didn&#x2019;t grow up in the UK at the appropriate time, but if I tell you that the writer was Steven Moffat, now the lead writer at Doctor Who, I think many of you can imagine that it was a quality show.</p>

<p>Again, this focus on created families rather than actual families is something I love in Firefly. Throwing together people from very different backgrounds is a great way to create drama. Often characters initially stay together only because circumstances force them to, but over time stay through choice. The journeys characters take to get to this point are for me often the most interesting stories of all.</p>


<dl><dt>SAFFRON</dt>
<dd>Now we're alone. Just us and the stars.</dd>
</dl>


<p>Space travel is another component of Firefly which I have loved in other fiction. I&#x2019;m not a scientist and am definitely more one for the fiction part of science fiction than the science part, but I love the beauty and majesty of space. And I would love to be able to look up one day and see the view behind Mal when he is thrown out of the bar at the start of the Train Job, or to see the stars the way River does when she is clinging to the outside of Serenity in Bushwhacked.</p>

<p>I like my fiction to take spaceships seriously, but I wish that didn&#x2019;t mean getting an earful of technobabble. I love how Firefly manages to have ships which are beautifully designed and full of character, yet still look capable enough of flying to not be distracting.</p>

<p>Spaceships figure quite prominently in my DVD collection, as do horses and dancing. In my book, there aren&#x2019;t many films which can&#x2019;t be improved by a space ship or two, a few horses and a couple of dances. I jest, of course, but now I come to think about, my Firefly DVD set is the only one I own that combines exactly that trio of elements.</p>

<p>If Firefly had combined all the components I&#x2019;ve mentioned to create a wonderful world for storytelling, but not filled this world with characters I could warm to, there would be something very important missing. I cannot pick a least favourite out of the nine main characters of Firefly, and I don&#x2019;t think that is something I can often say about an ensemble drama.</p>


<dl><dt>ZOE</dt>
<dd>Don't think it's a good spot, sir. She still has the advantage over us.</dd>
<dt>MAL</dt>
<dd>Everyone always does. That's what makes us special.</dd>
</dl>


<p>Something that runs through three Joss Whedon series which I like - Buffy the Vampire Slayer, Angel and Dollhouse - is that the main characters are special. In fact, Buffy, Angel and Echo are not just special, they are unique. And between them they save the world. A lot. As much as I enjoy these three series, for me personally, the uniqueness of the main characters creates something of a barrier in how I relate to them and care for them as characters. There is no such barrier between Mal and me though. He is certainly a hero by the end of the film, but he spends the whole series and most of the film just looking out for his crew and trying to keep flying. That I can relate to. Even River, who does share some characteristics with Buffy, Angel and Echo, spends a lot more time as a troubled girl than as a psychic assassin, and so I am able to warm to her.</p>

<p>The quality of the acting, writing, music, costumes, set dressing and so on are certainly important factors in my enjoyment of Firefly, but it is the content of the series &#x2013; the created world and the stories and characters within it &#x2013; rather than how it is presented which tip me over from enjoying the series to loving it.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2376/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2391/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/205/index.html>The Signal: Season 7, Episode 11</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
