<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 10</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 10</h1>
<div><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/11/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/14/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_010_20050914.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_010_20050914.mp3 download=signal_season01_10.mp3>Download audio file</a></div>
<div class=info>Wednesday 14th September 2005</div>
Produced by J. D. Ravatt<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 3</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:17</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div>Les and Kari introduce the show and talk about Serenity release dates around the world, reaching number one on Podcast Alley  and Podcast Pickle, guerrilla marketing by changing your job, Dragon*Con, and the Serenity roleplaying game.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/198/13/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:35</td>
<td class=shownote><h3>Civilization and Solidarity: A Bushwhacked Review</h3>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/199/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:22:46</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Twelve new Serenity Screenings in Britain and Ireland</li>
<li>Serenity Screening in Australia</li>
<li>Transcript from webchat now online</li>
<li>New international poster available</li>
<li>Mosquito fan movie now available</li>
<li>Third Serenity comic now available</li>
<li>Browncoats support hurricane relief</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/201/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:39</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<div>Jayne's T-shirts
<ul><li>&#x65E5; (Blue Sun)</li>
<li>&#x52C7; (soldier)</li>
<li>&#x95F9; (troublemaker)</li>
<li>&#x7075; (the militant elves)</li>
<li>&#x732B; (perfect cat)</li>
<li>&#x9E21; (dumb as a wooden chicken, paralysed by fear)</li>
</ul>
</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/203/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/10/index.html><img src=../../../image/image/33/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:24</td>
<td class=shownote><h3>Blue Sun Public Service Announcement</h3>
<h4>Scentsations commercial</h4>
<p>Written by <a href=../../../human/view/9/index.html>Clay McClure</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/202/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:38:12</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Ballad of Serenity (instrumental)</h4>
<p>Music by <a href=../../../human/view/29/index.html>Greg Edmonson</a> and <a href=../../../human/view/36/index.html>Joss Whedon</a></p>
</td>
<td><a href=../../../segment/view/205/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:50</td>
<td class=shownote><h3>What's in a Name, part 2</h3>
<p>Written by <a href=../../../human/view/13/index.html>Rich Adams</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/200/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:50</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Tim - narrative choice in &quot;Out of Gas&quot;</li>
<li>David - Blake's 7</li>
<li>Stacey - conversion story</li>
<li>Rick - conversion story (follow-up)</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/204/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:56:09</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>Les and Kari talk about Derek from Skepticality.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/198/13/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:57:04</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Instrumental version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:57:25<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/11/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/14/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1046>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
