<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 16.6</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 16.6</h1>
<div><h2>Bits of the Signal</h2>
<div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/22/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/24/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_016.6_20051130.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_016.6_20051130.mp3 download=signal_season01_16.6.mp3>Download audio file</a></div>
<div class=info>Wednesday 30th November 2005</div>
Produced by Jill Arroway<p>This is a <q>Best of</q> show, highlighting a (not necessarily) representative selection of bits from previous shows.</p>
<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 3</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:15</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div>Clay introduces the show and talks about the release of Serenity on DVD, and in theaters around the world.</div>
<p>Hosted by <a href=../../../human/view/9/index.html>Clay McClure</a></p>
</td>
<td><a href=../../../segment/view/320/23/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/18/index.html><img src=../../../image/image/43/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:02:07</td>
<td class=shownote><h3>How to Host a Shindig</h3>
<h4>Part 3</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/111/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/10/index.html><img src=../../../image/image/33/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:04:03</td>
<td class=shownote><h3>Blue Sun Public Service Announcement</h3>
<h4>Alliance Military Recruitment Campaign</h4>
<p></p>
</td>
<td><a href=../../../segment/view/105/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:04</td>
<td class=shownote><h3>Review of Serenity (the pilot)</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/75/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://elmocast.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:18:50</td>
<td class=shownote><h3>Promo: ElmoCast</h3>
<h4>The top ten ways to tell if you are a browncoat</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:20:52</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<div>Jayne's T-shirts
<ul><li>&#x65E5; (Blue Sun)</li>
<li>&#x52C7; (soldier)</li>
<li>&#x95F9; (troublemaker)</li>
<li>&#x7075; (the militant elves)</li>
<li>&#x732B; (perfect cat)</li>
<li>&#x9E21; (dumb as a wooden chicken, paralysed by fear)</li>
</ul>
</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/203/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:27:34</td>
<td class=shownote><h3>Interview</h3>
<h4>Morena Baccarin</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/206/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:44:59</td>
<td class=shownote><h3>Vote for us</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/17/index.html><img src=../../../image/image/47/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:45:54</td>
<td class=shownote><h3>The Guerrilla Marketing Section</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/82/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/28/index.html><img src=../../../image/image/46/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:49:08</td>
<td class=shownote><h3>Those Left Behind</h3>
<h4>Part 2</h4>
<p>Written by <a href=../../../human/view/33/index.html>Bubbafett</a>; read by <a href=../../../human/view/33/index.html>Bubbafett</a></p>
</td>
<td><a href=../../../segment/view/171/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:05</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Colby - The nickname &quot;Ambassador&quot;</li>
<li>John - the Adam Baldwin easter egg</li>
<li>Matthew - convertion story</li>
<li>James - Signal closing theme tune</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/323/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:55</td>
<td class=shownote><h3>Music Section</h3>
<h4>Mal's Song</h4>
<p>Music by <a href=../../../human/view/32/index.html>Michelle Dockrey</a></p>
</td>
<td><a href=../../../segment/view/234/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:04:18</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>Clay talks about the Podcast Pickle Hall of Fame.</div>
<p>Hosted by <a href=../../../human/view/9/index.html>Clay McClure</a></p>
</td>
<td><a href=../../../segment/view/320/23/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:05:03</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:05:26<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/22/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/24/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1682>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
