<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Songs from the Black II</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Songs from the Black II</h1>
<div><div class=transport-bar><a href=../../../segment/view/2028/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2033/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/159/index.html>Up</a> &#x2022; <a href=../../../segment/view/2035/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2046/index.html>Last episode</a></div>
<h2>Captain Mal (Aiming to Misbehave) - Possible Oscar</h2>

<!-- audio src signal_sftb2_07-possibleoscar-captainmal.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_sftb2_07-possibleoscar-captainmal.mp3>Download audio file</span></div>
<div><ul><li>A parody of &quot;Major Tom (Coming Home)&quot; by Peter Schilling</li>
<li>Original song composed by David Harland Lodge, Pierre Schilling</li>
<li>Published by Songs of Peer Ltd</li>
<li>Parody lyrics by Jared Ringold</li>
<li>Arrangement by Possible Oscar</li>
<li>Vocals, drums, keyboards - Jared Ringold</li>
<li>Guitars, bass - John Mapes</li>
<li><em>(previously played on the Signal, season 3, episode 11)</em></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Music by</td>
<td><a href=../../../human/view/64/index.html>Possible Oscar</a></td>
<td>Captain Mal (Aiming to Misbehave)</td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2028/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2033/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/159/index.html>Up</a> &#x2022; <a href=../../../segment/view/2035/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2046/index.html>Last episode</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
