<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7, Episode 4</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7, Episode 4</h1>
<div><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/196/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/198/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0704_20110308.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0704_20110308.mp3 download=signal_season07_04.mp3>Download audio file</a></div>
<div class=info>Tuesday 8th March 2011</div>
Produced by Anna Snyder<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/168/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 7 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:05</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2218/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:20</td>
<td class=shownote><h3>Editorial</h3>
<h4>The Squeaky Wheel</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2225/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/155/index.html><img src=../../../image/image/153/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:44</td>
<td class=shownote><h3>The Shipworks</h3>
<h4>Superpolynomial Subexponential Runtimes</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/23/index.html>Anna Snyder</a>; music by <a href=../../../human/view/467/index.html>Great Big Sea</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2189/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/165/index.html><img src=../../../image/image/170/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:42</td>
<td class=shownote><h3>The Poetry of the 'Verse</h3>
<h4>The Language of Time Travel</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/2215/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:11</td>
<td class=shownote><h3>He Looks Better in Red</h3>
<p>Written by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/479/index.html>Bindiya Dale</a></p>
</td>
<td><a href=../../../segment/view/2200/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:58</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2221/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:44</td>
<td class=shownote><h3>Interview</h3>
<h4>John Mullaney, part 1 of 2</h4>
<div>Architectural Illustrator - Serenity Architectural Cutaway Set<p>Spot the Prop contest - extended through end of March 2011.  No entrant has spotted all 11 yet.</p>
<p></p>
<ul><li><a href=../../../external.html#http://www.thetopdraw.com/>TheTopDraw</a></li>
<li><a href=../../../external.html#http://www.thetopdraw.com/serenity.html>Spot the Prize Competition & ltd edition prints</a></li>
<li><a href=../../../external.html#http://store.qmxonline.com/Serenity-Architectural-Cutaway-Set_p_105.html>Architectural Cutaway prints from QMx</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/2217/197/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/128/index.html><img src=../../../image/image/136/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:26</td>
<td class=shownote><h3>Around the 'Verse in 80 Days</h3>
<h4>Xing Yun</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; featuring <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2209/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://tuningintoscifitv.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:01:02</td>
<td class=shownote><h3>Promo: Tuning Into Sci-Fi TV</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:01:13</td>
<td class=shownote><h3>Interview</h3>
<h4>John Mullaney, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/2217/197/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:18:33</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:19:04<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/196/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/198/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
