<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Banter</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Banter</h1>
<div><div class=transport-bar><a href=../../../segment/view/22/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2733/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/2/index.html>Up</a> &#x2022; <a href=../../../segment/view/2758/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3150/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/232/index.html>The Signal: Season 8, Episode 10</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Hosted by</td>
<td><a href=../../../human/view/2/index.html>Les Howard</a></td>
<td></td>
</tr>
<tr class=odd><td>Hosted by</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/22/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2733/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/2/index.html>Up</a> &#x2022; <a href=../../../segment/view/2758/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3150/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/232/index.html>The Signal: Season 8, Episode 10</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
