<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Dear BDH</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Dear BDH</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/152/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/125/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/64/1/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Dear Inara: Distraught</td>
<td>The Signal: Season 2, Episode 16</td>
<td><a href=../../../segment/view/653/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dear Jayne: Snake</td>
<td>The Signal: Season 2, Episode 16</td>
<td><a href=../../../segment/view/654/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dear Inara: Unified</td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/663/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dear Kaylee: Worried Mother</td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/664/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dear Wash: Wrong Career Move</td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/684/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dear Shepherd Book: Worried about my Kids</td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/685/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dear Shepherd Book: Powerless on Persephone</td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/708/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dear Cap'n Reynolds: Free Bird</td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/709/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dear Inara: Leery Dancer</td>
<td>The Signal: Season 2, Episode 21</td>
<td><a href=../../../segment/view/735/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dear Doctor Tam: Worried Patient</td>
<td>The Signal: Season 2, Episode 21</td>
<td><a href=../../../segment/view/736/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dear Zoe: Undefended</td>
<td>The Signal: Season 2, Episode 22</td>
<td><a href=../../../segment/view/747/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dear Mal: The End</td>
<td>The Signal: Season 2, Episode 22</td>
<td><a href=../../../segment/view/748/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dear River: Curious Scientist</td>
<td>The Signal: Season 2, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/761/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/152/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/125/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
