<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Broadwaves</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Broadwaves</h1>
<div><div class=transport-bar><a href=../../../segment/view/1348/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2086/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/120/index.html>Up</a> &#x2022; <a href=../../../segment/view/2169/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3077/index.html>Last episode</a></div>
<h2>Dollhouse</h2>

<!-- audio src=signal_broadwaves_dollhouse2.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_broadwaves_dollhouse2.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/192/index.html>The Signal: Season 6, Episode 20</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>A little over three years ago, the announcement came that Joss Whedon was developing a new television show with the intriguing name of &#x201C;Dollhouse&#x201D;. Like many Browncoats, this was news which, though ranking below the announcement of a sequel to Serenity on the excitement scale, still registered pretty high for me.  Having enjoyed Buffy and Angel and then having fallen madly in love with Firefly, I eagerly anticipated the day when I would get to dive into Dollhouse and experience a new Joss Whedon world. It was a further two years before that day came and although Dollhouse has definitely not dislodged Firefly from the first place in my heart with respect to all things Whedon, it was certainly worth the wait.</p>

<p>Dollhouse is set in a recognisably real, modern-day world, but with a twist. There exists across the globe a network of secret establishments called &#x201C;dollhouses&#x201D;, which hire out programmable people, known as &#x201C;dolls&#x201D;, or more charitably, &#x201C;actives&#x201D;, to the very wealthy. These actives are people whose original personalities have been temporarily removed in order to make way for the &#x201C;imprint&#x201D; of the personality and skills specifically combined to meet the requirements of those who engage them.</p>

<p>Adelle DeWitt runs the LA dollhouse and from her sales pitch to prospective clients, it seems that she has no qualms about the apparently dubious ethics of her job:</p>


<dl><dt>Adelle</dt>
<dd>I know you&#x2019;ve heard colourful rumours about what an active is. Robots, zombie slaves. Mostly people just think they&#x2019;re very good liars. They are of course quite the opposite. An active is the truest soul among us.</dd>
</dl>


<p>Once an active returns to the dollhouse, he or she is wiped of all memories of the engagement and reverts to a child-like, innocent state, until called on again to be imprinted for the next engagement. In the LA dollhouse, Topher Brink is the one responsible for the imprinting and wiping technology. Like DeWitt, he - at least at first - has no moral dilemmas about what he does for a living:</p>


<dl><dt>Adelle</dt>
<dd>The cold reality is that everyone here was chosen because their morals had been compromised in some way. Everyone except you. You, Topher, were chosen because you had no morals. You have always thought of people as playthings. This is not a judgement. You always take very good care of your toys.</dd>
</dl>


<p>Echo is one of these &#x201C;toys&#x201D; and the central character in the series. Like the other actives, Echo has a handler, who accompanies her on engagements and whom she is imprinted to trust with her life. Echo&#x2019;s handler is Boyd Langton, who is fiercely protective of his charge. Two other actives whom we follow closely are Victor and Sierra, who like Echo are known by their code names while they are in the employ of the dollhouse. How Echo, Victor and Sierra come to be in the dollhouse, and how freely or not they chose to do so, is gradually revealed over the course of the two seasons.</p>

<p>Rounding out the main cast of characters at the start of the series is Paul Ballard, an FBI agent who is investigating the dollhouse, despite derision and opposition from colleagues, bosses and informants alike:</p>


<dl><dt>Paul</dt>
<dd>The technology exists.</dd>
<dt>Lubov</dt>
<dd>It... somebody made a monkey tango, right? It doesn't mean it's being used on people.</dd>
<dt>Paul</dt>
<dd>It does. It means that.</dd>
<dt>Lubov</dt>
<dd>How do you know?</dd>
<dt>Paul</dt>
<dd>We split the atom, we make a bomb. We come up with anything new, the first thing we do is destroy, manipulate, control. It's human nature.</dd>
<dt>Lubov</dt>
<dd>Yeah, people are mostly crap.</dd>
</dl>


<p>This judgment on humanity is borne out to some extent in the cast of main characters. Fascinating though they are, it is not that easy to feel attached to the characters in Dollhouse and in some cases that is because they are, quite simply, not that likable. Adelle and Topher appear to be immoral and amoral respectively, although we gradually see more nuance in Adelle&#x2019;s stance and by the end Topher has clearly developed a conscience. On the other hand, we have Boyd and Paul, both apparently &#x201C;tall, morally judgmental men&#x201D;, as Topher might say, but both very much morally compromised as well. Boyd is already working for the dollhouse at the start of the first episode and Paul ends up in a similar position by the end of the first season, believing that if he can&#x2019;t beat the dollhouse, the best he can do is join it.</p>

<p>And then we have Echo, Victor and Sierra. It is hard to form an attachment to these characters for a different reason, namely, because at least at first, they <em>have</em> no characters. They are &#x201C;empty hats&#x201D;, waiting for Topher to stuff a rabbit in them, as Boyd remarks.</p>

<p>For me, this is one of the difficulties Dollhouse has to surmount. There are no instantly lovable characters bringing warmth and heart to the proceedings. There are no Kaylees or Willows to lead the viewers in and make them feel comfortable. But for me this is also part of the brilliance of Dollhouse. I don&#x2019;t always feel that comfortable when I watch it, but when it puts up a mirror to reflect some of the immorality that we humans are capable of, I don&#x2019;t think I <em>should</em> feel comfortable. Dollhouse is not mindless entertainment and any viewer who sits down to watch it expecting to always feel good afterwards is likely to be disappointed.</p>

<p>That said, there is much to appreciate in the portrayal of the main characters and many of the minor ones too. They are brilliantly drawn, both well-written and well-acted. Olivia Williams as Adelle is a standout for me, delivering her lines with great relish and feeling, and wholly believable on the occasions when her mask slips:</p>


<dl><dt>Adelle</dt>
<dd>I would no sooner let you near another one of our other actives than I'd let a mad dog near a child.</dd>
<dt>Nolan</dt>
<dd>What did you say?</dd>
<dt>Adelle</dt>
<dd>Given that you're a rapist scumbag just one tick short of a murderer. I can&#x2019;t recall, do you take sugar?</dd>
</dl>


<p>Fran Kranz is also fantastic as Topher, both when in geeky, funny mode and later when things take a tragic turn. Tahmoh Penikett does a great job at showing us Paul&#x2019;s disorientation as his world crumbles around him and Dichen Lachman and Enver Gjokaj are both refreshingly natural when they play their true selves, and very convincing in their other roles too, especially in the latter&#x2019;s uncannily accurate impersonation of Topher. Harry Lennix as Boyd has an impressive presence throughout the show, but comes into his own towards the end of the second season, as more of his background is revealed.</p>

<p>Eliza Dushku, as Echo, has the most to do of all the actors, playing multiple roles per episode. It is perhaps because of this, that I find her the hardest active to come to know. I&#x2019;ve &#x201C;seen too many versions of her to be sure&#x201D;, you might say. As we see Echo playing a character in the story of the week, with the more serious ones, it can feel a little like watching an acting class, albeit a very impressive one, and when the characters are being played for laughs, like a sketch show, albeit a very funny one:</p>


<dl><dt>Echo</dt>
<dd>Okay, so I probably never should have taken this course to begin with, but I figured it was Mid-Evil Lit, not Advanced Evil. How hard could it be? So I skipped Intro to Evil, or whatever, but how is it that I get an 'F' when this guy that we're reading, Chauncey, can't even spell?</dd>
<dt>Professor Gossen</dt>
<dd>It's Chaucer. It's Middle English.</dd>
<dt>Echo</dt>
<dd>Like hobbits or something?</dd>
</dl>


<p>Of the recurring cast, Alan Tudyk and Amy Acker (who will be known to some as Fred from Angel) are quite simply brilliant. On the evidence we see in Dollhouse, it is clear why this is not the first time Joss Whedon has cast them in a show of his. Alan Tudyk plays Stephen Kepler, an agoraphobic environmental systems designer, whom Paul goes to see in an effort to get into the dollhouse. On entering his apartment, Paul discovers some not at all cunningly disguised marijuana plants and the response from Kepler is one of my favourite lines in the whole show:</p>


<dl><dt>Stephen Kepler</dt>
<dd>Carrots! Medicinal carrots! Personal-use medicinal carrots that were here when I moved in and I'm holding it for a friend!</dd>
</dl>


<p>Amy Acker is Claire Saunders, the dollhouse&#x2019;s resident doctor. She has severe facial scarring after a run-in with Alpha, a rogue active who through a technological anomaly had 48 imprints accidentally uploaded into him simultaneously. Amy Acker&#x2019;s performance as Saunders is fantastic, particularly in the second season, when she struggles to come to terms with who she is:</p>


<dl><dt>Saunders</dt>
<dd>How do I live, how do I go through my day knowing everything I think comes from something I can&#x2019;t abide.</dd>
</dl>


<p>There is also room for Alexis Denisof, who played Wesley Wyndam-Pryce in Buffy and Angel, as a senator intent on bringing down the dollhouse and Summer Glau as Topher&#x2019;s counterpart from the Washington DC dollhouse, in reference to whom there is a great blink-and-you&#x2019;ll-miss-it shout-out to Firefly:</p>


<dl><dt>Echo</dt>
<dd>Off-the-charts smart&#x2026; I bet you could kill me with your brain.</dd>
</dl>


<p>Several familiar faces from Battlestar Galactica also put in appearances and if the thought of seeing Helo beating up Apollo makes you happy, you&#x2019;ll definitely enjoy the opening episode of the second season.</p>

<p>As we would expect from a Joss Whedon show, there are story arcs that spread right through from the very first to the very last episode. On first viewing, however, some episodes (such as the first five of the first season) contribute little to these arcs. Episodes such as these focus more on the stories of the week, which usually revolve around Echo&#x2019;s engagements, and although these are often well-crafted and compelling stories, it is easy to see why many viewers struggled to connect with Dollhouse at the beginning. The show effectively keeps its distance from the viewer as we spend a large part of time in each episode with the guest cast and Echo, who effectively is a guest character most of the time. I confess that I found myself tuning out sometimes when watching the story of the week, wanting to get back to what was going on with Adelle, Topher, Paul and the other &#x201C;real&#x201D; characters.</p>

<p>By episode 6 of season one, &#x201C;Man on the Street&#x201D;, I was very much hooked though. In this episode, Paul meets Echo for the first time, a rapist is revealed within the dollhouse and we learn a shocking secret about Paul&#x2019;s neighbour and love interest Mellie. For me the whole show stepped up a notch at this point and even though some subsequent episodes fall back into story-of-the-week territory, the pace has changed and the overall story is more compelling.</p>

<p>So what is this overall story? There are several themes and arcs that run through both seasons. One is that actions have consequences, as Adelle tells Caroline, whom we will come to know as Echo, in the pilot episode, when she is about to sign her up to a five-year term at the dollhouse:</p>


<dl><dt>Adelle</dt>
<dd>Caroline, actions have consequences.</dd>
<dt>Caroline</dt>
<dd>God, you&#x2019;re loving this, aren&#x2019;t you.</dd>
<dt>Adelle</dt>
<dd>I&#x2019;m sorry you don&#x2019;t understand what I&#x2019;m offering here. But what we do helps people.</dd>
</dl>


<p>To anyone familiar with Joss Whedon&#x2019;s work, the idea that actions have consequences is a recognisable recurring theme. Adelle though goes on to also express the opposite view:</p>


<dl><dt>Caroline</dt>
<dd>I know. I know, actions have consequences.</dd>
<dt>Adelle</dt>
<dd>What if they didn&#x2019;t?</dd>
</dl>


<p>Adelle believes that the actives&#x2019; actions do not have consequences for them because their memories are wiped after each engagement. But as Caroline points out:</p>


<dl><dt>Caroline</dt>
<dd>You ever try and clean an actual slate? You always see what was on it before.</dd>
</dl>


<p>We see this idea played out primarily in the appropriately named Echo, who slowly starts to retain parts of her imprints and is eventually able to control when and how they come to the fore:</p>


<dl><dt>Boyd</dt>
<dd>So how exactly does this work? You accessing other personalities.</dd>
<dt>Echo</dt>
<dd>I used to have to make an effort to switch between imprints. But now I can slip back and forth without even thinking.</dd>
</dl>


<p>The first signs of Echo&#x2019;s evolution can be seen in the early episodes of season one, as she retains certain mannerisms or other partial memories of her imprints after being wiped:</p>


<dl><dt>Richard O'Connell</dt>
<dd>Shoulder to the wheel! Prove you're not just an echo.</dd>
</dl>


<p>There are also other hints at the direction Echo is taking, such as in the episode &#x201C;True Believer&#x201D;, when Echo is Esther, a blind woman who infiltrates a cult:</p>


<dl><dt>Boyd</dt>
<dd>You want to become a new person?</dd>
<dt>Echo/Esther</dt>
<dd>More than anything.</dd>
</dl>


<p>As season one draws to a close, although Echo is evolving, she still considers herself &#x201C;just the porch light&#x201D;, waiting for Caroline to return. But by the end of season two, Echo has asserted herself as her own woman:</p>


<dl><dt>Boyd</dt>
<dd>Who am I talking to now?</dd>
<dt>Echo</dt>
<dd>Echo. You're always talking to Echo.</dd>
</dl>


<p>Echo&#x2019;s ability to juggle the personalities she has been imprinted with is unique among the actives, but she is not the only one to be proving Caroline&#x2019;s point that a slate can never really be wiped clean. Victor and Sierra have a love for each other which transcends their imprints and is present even when they can&#x2019;t remember each other&#x2019;s names:</p>


<dl><dt>Sierra</dt>
<dd>That's him. What's his name?</dd>
<dt>Topher</dt>
<dd>Victor.</dd>
<dt>Sierra</dt>
<dd>I love him... Is that real?</dd>
<dt>Topher</dt>
<dd>Yes. Yes, it's real. He loves you back.</dd>
</dl>


<p>Their relationship has a warmth and sweetness, which the show would definitely be the poorer without. In contrast, in Alpha&#x2019;s case, his original personality &#x2013; an attempted murderer &#x2013; asserts itself in the way he kills people after his composite event, supporting Paul&#x2019;s belief that even after all the imprinting and wiping is done, a person has a soul:</p>


<dl><dt>Paul</dt>
<dd>I know you're all very invested in your vaunted technology. And it is very impressive. But I still don't believe you can wipe away a person's soul.</dd>
<dt>Topher</dt>
<dd>Their what?</dd>
<dt>Paul</dt>
<dd>Their soul. Who they are. At their core. I don't think that goes away.</dd>
<dt>Topher</dt>
<dd>You'd be wrong about that.</dd>
</dl>


<p>Alpha is the &#x201C;big bad&#x201D; of season one, but in season two, the scale of the drama increases as the Rossum Cooperation, which is the organisation behind the dollhouses, takes on that role itself. The thirteenth and final episode of season one, &#x201C;Epitaph One&#x201D;, sets up the second season by jumping forward ten years into a post-apocalyptic future where the imprinting technology is out of control:</p>


<dl><dt>Mag</dt>
<dd>They really thought they were helping, huh. Giving people what they needed. Is this what we needed?</dd>
<dt>Caroline</dt>
<dd>No, kids playing with matches, and they burned the house down.</dd>
</dl>


<p>In the special feature &#x201C;Making Dollhouse&#x201D; from the season one DVD, Joss Whedon explains that the uncertainty regarding whether a second season would be made was part of the rationale behind the jump forward. If there were to be no second season, &#x201C;Epitaph One&#x201D; would be a &#x201C;nice capper&#x201D;, and if there were, it would be a &#x201C;swell tease&#x201D;. Happily, the latter scenario prevailed and a second season was commissioned.</p>

<p>With &#x201C;Epitaph One&#x201D; showing us where the show is heading, but not revealing exactly how it will get there, we as viewers watch the events of season two unfolding with knowledge that the characters do not have, which gives this season an edge which the first one does not have. Hints at the direction the show will take are also found in other episodes of the first season:</p>


<dl><dt>Man</dt>
<dd>If that technology exists-it'll be used. It'll be abused. It'll be global. And we will be over. As a species. We will cease to matter. I don't know, maybe we should.</dd>
</dl>


<p>One way which the imprinting technology can be used is to offer life after death, which is something we see in the first season episode &#x201C;Haunted&#x201D;, when Adelle allows a favour to an old friend, imprinting her consciousness into Echo after the friend has died:</p>


<dl><dt>Boyd</dt>
<dd>Eternal life.</dd>
<dt>Adelle</dt>
<dd>Nice adjective, excellent noun. Is there more?</dd>
<dt>Boyd</dt>
<dd>Is that something we offer now? Because if it is, that&#x2019;s, you realise, that&#x2019;s the beginning of the end. Life everlasting. It&#x2019;s, it&#x2019;s the ultimate quest. Christianity, most religion, morality, doesn&#x2019;t exist without the fear of death.</dd>
<dt>Adelle DeWitt</dt>
<dd>I'm not planning on presiding over the end of Western civilization. This is a one-time situation.</dd>
</dl>


<p>Of course, this is Joss Whedon so we shouldn&#x2019;t be too surprised when in season two Adelle finds herself doing just that, and more than that, being partly to blame, along with Topher:</p>


<dl><dt>Topher</dt>
<dd>I'm the one who brings about the thought-pocalypse.</dd>
<dt>Adelle</dt>
<dd>Thought-pocalypse?</dd>
<dt>Topher</dt>
<dd>Is brain-pocalypse better? I figure, if I'm responsible for the end of the world, I get to name it.</dd>
<dt>Adelle</dt>
<dd>I gave the plans to Harding, I'm just as culpable.</dd>
<dt>Topher</dt>
<dd>Thanks Adelle. You handed someone a piece of paper. I invented it. Which means I have to destroy it.</dd>
</dl>


<p>Without giving the whole game away, Echo leads the gang from the LA dollhouse to Rossum HQ and apparently succeeds in destroying the technology:</p>


<dl><dt>Paul</dt>
<dd>So, did we save the world?</dd>
<dt>Echo</dt>
<dd>I guess we did.</dd>
</dl>


<p>This exchange reminded me very much of Buffy. The disaster has been averted, the damage is localised and although there are always consequences, life can go on. But the very next scene jumps forward to the post-apocalyptic future we had already tasted in &#x201C;Epitaph One&#x201D;. Clearly the disaster had only been temporarily averted and the world is very much still in need of saving.</p>

<p>As the endgame plays out, Topher&#x2019;s character arc is one of the most interesting. He goes from believing that &#x201C;there&#x2019;s nothing good or bad, but thinking makes it so&#x201D;, as he says to Boyd in the pilot episode, to being driven to heart-breaking confusion and insanity by the knowledge of what his inventions have caused:</p>


<dl><dt>Topher</dt>
<dd>An entire army in a single instant. That's all it takes. That's brilliant. That's so brilliant. Why didn't I think of that? Did I think of that? Did I? Oh god, oh my god... oh my god, oh my god...</dd>
</dl>


<p>Other character arcs also come to satisfying conclusions, although not necessarily happy ones. As for Echo, she has become her own person, a self-made woman in a very literal sense.</p>


<dl><dt>Echo</dt>
<dd>You didn&#x2019;t make me. I made me.</dd>
</dl>


<p>There is so much more that could be said about Dollhouse, and I&#x2019;m sure much more will be said, as people continue to discover it via the DVDs. It may not have the heart and warmth of Firefly, but it has moments of genius, fascinating characters and tackles big questions about morality, identity and responsibility in a thoughtful yet entertaining way. Only two short seasons were made before cancellation hit, but they are two seasons so full of ideas and stories that I&#x2019;m sure I&#x2019;ll be rewatching them for years to come.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1348/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2086/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/120/index.html>Up</a> &#x2022; <a href=../../../segment/view/2169/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3077/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/192/index.html>The Signal: Season 6, Episode 20</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
