<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Banter</title>
<link rel=stylesheet type=text/css href=../../../../common.css><link rel=stylesheet type=text/css href=../../../../gorram.css><link rel=stylesheet type=text/css href=../../../../geometry.css></head>
<body><p><a href=../../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../../season/index.html>Seasons</a> &#x2022; <a href=../../../../series/index.html>Series</a> &#x2022; <a href=../../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Banter</h1>
<div><div class=transport-bar><a href=../../../../segment/view/22/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/1562/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/2/index.html>Up</a> &#x2022; <a href=../../../../segment/view/1584/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3150/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></div>
<div><ul><li>Another year in the Verse.</li>
<li>The Chicago Tribune Article on Joss: <a href=../../../../external.html#http://featuresblogs.chicagotribune.com/entertainment_tv/2009/12/dollhouse-fox-joss-whedon.html>Sex, secrets and 'Dollhouse': Joss Whedon talks about the end of his Fox show</a></li>
<li>The Podcast Awards - thanks for voting! Winners will be announced on December 12th.</li>
<li>Uncensored versions of three segments. These contain strong language, and are intended for a mature audience only (which is why they're not on our feed). Download at your own risk.</li>
<li><ul><li><a href=https://media.libsyn.com/media/thesignal/signal_x_deadwood.mp3 download>Broadwaves: Deadwood</a></li>
<li><a href=https://media.libsyn.com/media/thesignal/signal_x_hex.mp3 download>Sci-Fi Review: Hex</a></li>
<li><a href=https://media.libsyn.com/media/thesignal/signal_x_spaced.mp3 download>Broadwave Trivia: Spaced</a></li>
</ul>
</li>
<li>Our search for new Signal crew</li>
</ul>
</div>
<h3>Parts, as aired in The Signal: Season 5, Episode 21</h3>
<dl><dt>Part 1</dt>
<dd><div>Les and Kari introduce the show and talk about another year in the Verse.</div>
</dd>
<dt>Part 2</dt>
<dd><div><ul><li>The Chicago Tribune Article on Joss: <a href=../../../../external.html#http://featuresblogs.chicagotribune.com/entertainment_tv/2009/12/dollhouse-fox-joss-whedon.html>Sex, secrets and 'Dollhouse': Joss Whedon talks about the end of his Fox show</a></li>
<li>The Podcast Awards - thanks for voting! Winners will be announced on December 12th.</li>
</ul>
</div>
</dd>
<dt>Part 3</dt>
<dd><div>Uncensored versions of three segments. These contain strong language, and are intended for a mature audience only (which is why they're not on our feed). Download at your own risk.
<ul><li><a href=https://media.libsyn.com/media/thesignal/signal_x_deadwood.mp3 download>Broadwaves: Deadwood</a></li>
<li><a href=https://media.libsyn.com/media/thesignal/signal_x_hex.mp3 download>Sci-Fi Review: Hex</a></li>
<li><a href=https://media.libsyn.com/media/thesignal/signal_x_spaced.mp3 download>Broadwave Trivia: Spaced</a></li>
</ul>
</div>
</dd>
<dt>Part 4</dt>
<dd><div>Our search for new Signal crew</div>
</dd>
<dt>Part 5</dt>
<dd><div>Les and Kari close the show</div>
</dd>
</dl>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Hosted by</td>
<td><a href=../../../../human/view/2/index.html>Les Howard</a></td>
<td></td>
</tr>
<tr class=odd><td>Hosted by</td>
<td><a href=../../../../human/view/6/index.html>Kari Haley</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../../segment/view/22/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/1562/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/2/index.html>Up</a> &#x2022; <a href=../../../../segment/view/1584/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3150/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
<li><a href=../../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
<li><a href=../../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
<li><a href=../../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
<li><a href=../../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
