<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Around the 'Verse in 80 Days</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Around the 'Verse in 80 Days</h1>
<div><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1773/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/2191/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
<h2>Isabel</h2>

<!-- audio src=signal_aroundtheverse_day36.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_aroundtheverse_day36.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/180/index.html>The Signal: Season 6, Episode 15</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Martin Hammond</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/2/index.html>Les Howard</a></td>
<td>as George Rice</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/109/index.html>Dave Tomasic</a></td>
<td>as Dave Rice</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>MARTIN</dt>
<dd>Day 36, and I find myself on the smallest moon I've ever visited. This is Isabel, the innermost moon of Zeus. It's not actually <em>the</em> smallest moon on the map of the 'Verse of course - that honor goes to Bullet - which doesn't really count. But it's still pretty small; so small that the horizon looks unnervingly close, less than a mile away. You definitely get the sense that you're on a globe, especially if, like me, you're more familiar with larger worlds. But, the gravity is Earth-norm, so I guess that's all that matters.</dd>
<dt>MARTIN</dt>
<dd>So at last, I have made it to the Kalidasa system. With me is my guide, Dave Rice. So, Dave, what are we looking at here?</dd>
<dt>DAVE</dt>
<dd>This is prob'ly the greatest engineerin' project on Isabel. This is the Gorge Aquaduct - or the Gorgeous Aquaduct as we care to call it. <em>(grandly)</em> It is the single largest navigable aquaduct in the 'verse. <em>(normal)</em> And it's near a mile from end to end--</dd>
<dt>MARTIN</dt>
<dd>A mile!?</dd>
<dt>DAVE</dt>
<dd>Yes, we are very proud of it. It takes canal boats back and forth, right across the Edlund Gorge there. 150 feet wide; sixteen feet deep...</dd>
<dt>MARTIN</dt>
<dd>So wait - 150 feet wide? So this canal is as wide as a swimming pool is long?</dd>
<dt>DAVE</dt>
<dd>Yep, it surely is a spectacular construction. And on a small moon like this, the other end of the canal dips away <em>below the horizon</em>.</dd>
<dt>MARTIN</dt>
<dd>That truly is a sight that has to be seen to be believed. And you're right - I can't see the other end of it. It just seems to curve over the edge of the world. When and why was it built?</dd>
<dt>DAVE</dt>
<dd>They finished building it just last year. Part of the Alliance's program to rejuvenate the outer worlds. Course, we always had the <em>idea</em> to unite the two great waterways of Isabel, but we didn't got the Alliance credits to make it happpen. No way we could have done this alone.</dd>
<dt>MARTIN</dt>
<dd>So in fact, Unification has been very good for this moon?</dd>
<dt>DAVE</dt>
<dd>Looks that way to me. There's only 60,000 people living on this moon, so the Alliance pulled all the stops out for very little reward. We got two cities, Arbor and Den Lynn, and the canal is might important to both of them. Now we can travel between them, which is a convenience. It's great for us - but maybe not so good for the Alliance.</dd>
<dt>MARTIN</dt>
<dd>So why do you suppose they did it?</dd>
<dt>DAVE</dt>
<dd>They wanted to give the 'verse the impression that they care. Course that all changed last year. Fortunate for us, this aquaduct got made done just weeks before Miranda.</dd>
<dt>MARTIN</dt>
<dd>What effect has the aquaduct had on your way of life?</dd>
<dt>DAVE</dt>
<dd>Truth be told, it's completely changed everything. The Edlund Gorge always was unpassable by boat, and this has always been a world of canals. Our two cities were just straight cut off from each other. Fact was, most convenient way to get from Arbor to Den Lynn used to be by spaceship!</dd>
<dt>MARTIN</dt>
<dd>By spaceship?</dd>
<dt>DAVE</dt>
<dd>By spaceship - to travel between two cities, one mile apart.</dd>
<dt>MARTIN</dt>
<dd>That is astonishing.</dd>
<dt>DAVE</dt>
<dd>Course, there's always been one or two folk willing to travel the long way round - head off in the exact opposite direction and go right the way round the moon. Can't be done by boat o' course, but you can do it on horseback if you're prepared to spend a couple of months travelling, and you take good care of the horse. That's a journey getting on for two thousand miles.</dd>
<dt>MARTIN</dt>
<dd>Did anyone not try travelling across the gorge itself?</dd>
<dt>DAVE</dt>
<dd>Dangerous. It's a five mile drop, and then a five mile climb on the other side. Goes halfway round the moon. Air pressure down there's nearly double. The gorge got it's own weather. It ain't natural. I mean <em>literally</em> it ain't natural. Crack opened up a hundred years or so back, when they squoze the moon to make the gravity. It's stable - but ain't no one in their right mind gonna go down there. No, we are very pleased with the way things turned out. Come on - you wanna go on a boat ride?</dd>
</dl>


<p>Music to indicate the passage of time. Later, Martin and Dave emerge at the other end of the canal.</p>


<dl><dt>DAVE</dt>
<dd>Martin Hammond, I want you to meet George Rice, my Dad.</dd>
<dt>MARTIN</dt>
<dd>How do you do?</dd>
<dt>GEORGE</dt>
<dd>We don't stand on ceremony here son. You just call me George, and none of that howdy do talk.</dd>
<dt>MARTIN</dt>
<dd>Your son Dave says you've lived here all your life.</dd>
<dt>GEORGE</dt>
<dd>True enough, son, true enough.</dd>
<dt>MARTIN</dt>
<dd>So how has the aquaduct changed your life?</dd>
<dt>GEORGE</dt>
<dd>For worse, as you might well imagine. Oh, young Dave here, he likes it, but I can remember when this was all fields, far as the eye could see. We never needed no aquaduct. If we wanted to travel to Den Lynn we-- <em>(beat)</em> We <em>never</em> wanted to travel to Den Lynn.</dd>
<dt>MARTIN</dt>
<dd>May I take it you don't care too much for the Alliance either?</dd>
<dt>GEORGE</dt>
<dd>Never had nothin' to do with them when I was a lad. Then they came, all rich and fanciful. &quot;Why not give us food?&quot;, we all asked. But no - they wanted to give us an aquee duct. Said would help with tourism. Tourism! I ask you! Right out here in the borderlands.</dd>
<dt>MARTIN</dt>
<dd>Has there been much tourism?</dd>
<dt>DAVE</dt>
<dd><em>(interrupting)</em> Actual fact, yes there has. Look at yourself, for example. You're here.</dd>
<dt>MARTIN</dt>
<dd>Well I certainly can't argue with that.</dd>
<dt>GEORGE</dt>
<dd>The question is, what are they going to do now?</dd>
<dt>MARTIN</dt>
<dd>Who?</dd>
<dt>GEORGE</dt>
<dd>The Alliance? They got showed up good and proper with that Miranda wave.</dd>
<dt>MARTIN</dt>
<dd>The Miranda revelation was very disruptive, I agree, but we have a new government now. Things are settling down again.</dd>
<dt>GEORGE</dt>
<dd>Pah! New gov'ment, old gov'ment - same difference. Alliance is still in charge.</dd>
<dt>MARTIN</dt>
<dd>I'm interested to hear what people make of all this. It must be very odd: One minute you're an independent world, the next minute you're in the fold of the Alliance, and I can't deny, the Alliance is not without its scandals.</dd>
<dt>DAVE</dt>
<dd>We was independent, that's for sure. But we was also poor. This boat bridge has brought the money in. It <em>has</em> made a difference.</dd>
<dt>GEORGE</dt>
<dd>Pah! The man said he want's to know what <em>people</em> think, not what <em>you</em> think, and people don't always think like you. Let me tell you something - this place used to have character. It used to be a joy to walk around, to build the boats out of wood, to herd the sheep and the cows. But then them Den Lynnians went and let the Alliance land on this moon and take over, and everything changed.</dd>
<dt>DAVE</dt>
<dd>They landed here too.</dd>
<dt>GEORGE</dt>
<dd>Now there's no more singing and dancing in the streets, no more--</dd>
<dt>DAVE</dt>
<dd>There was <em>never</em> singing and dancing in the streets, and what's wrong with bars anyway? Why does it always have to be the street?</dd>
<dt>GEORGE</dt>
<dd>As I was saying, no more fun, no more joy. The youngsters are just acceptin' it o' course, and that's a mite sad, coz it means our culture just got wiped out in one generation.</dd>
<dt>MARTIN</dt>
<dd>Gosh, that's astonishing.</dd>
<dt>DAVE</dt>
<dd>I think it's better than that. Alliance never came here with troops during the war. There was no fighting here. Alliance left us alone until <em>after</em> the war was over. When they came, they came with money, and helped us build one of the engineerin' wonders of the 'verse. Not everyone here thinks they're bad. And as for our culture - I don't see it changed all that much. And even if it did, we'll get over it.</dd>
<dt>GEORGE</dt>
<dd>Like I said, there's some might take a different opinion.</dd>
<dt>DAVE</dt>
<dd>Dad--</dd>
<dt>MARTIN</dt>
<dd>So how do you see the future? Do you think Isabel will petition for independence again?</dd>
</dl>


<p>(there is a long silence. No one wants to answer that question)</p>


<dl><dt>MARTIN</dt>
<dd>Well, thank you for taking the time and trouble to allow me into your company.</dd>
</dl>


<p>Music to indicate the passage of time. The next bit takes place in the studio.</p>


<dl><dt>MARTIN</dt>
<dd>My flying visit to the Kalidasa system is nearly over, and my next stop will be Blue Sun. Not the company, the star or at least, some of its planets. See you there.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1773/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/2191/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/180/index.html>The Signal: Season 6, Episode 15</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
