<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>JC Hutchins</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>JC Hutchins</h1>
<div><h2>Website</h2>
<p><a href=../../../external.html#http://jchutchins.net/>External website</a></p>
<h2>Segments featuring JC Hutchins</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Earthburn: Articles of Alliance</td>
<td>The Signal: Season 6, Episode 20: Holiday Special</td>
<td><a href=../../../segment/view/1971/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Earthburn: Fire in the Darkness</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/2984/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by JC Hutchins</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Nathan Fillion on Seventh Son</td>
<td>The Signal: Season 2, Episode 21</td>
<td><a href=../../../segment/view/739/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
