<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3</h1>
<div><div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/3/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/5/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
<div class=logo><img class=auto-size src=../../../image/image/100/1/full/image.png alt style="min-width:300px; max-width:480px"></div>
<h3>The 'Verse just got Bigger</h3>
<p>Regular features include: News from the 'Verse, Listener Emails, Expanding the 'Verse Music Section, Badger's World Borderline, Moonshine, Bold Moves, Sci-Fi Review, Big Damn Test Kitchen and the Speculation Segment This season also includes many special features, and interviews with Multiverse, Julie Rampke (Julesong, Big Damn Chefs), Sharon Hilchie and Jack Ward (Firefly Old Wounds), The Bellflower crew, JC Hutchins (Seventh Son), The Into the Black crew, Wayne Hutchinson (Dragon*Con), Andy Gore (QMx), Martin Firrell (the Hero project), Brian Wiser (Done the Impossible), Tabitha Smith (Strangely Literal), PJ Haarsma (Kids Need to Read), Jane Espenson (Serenity Found) and The Persephone Pickers.

Segment timings provided by Erik Hesse (aka Ironbandit).</p>
<p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><a href=../../../season/rss/4/index.xml><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></a></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<br><table class=simple-table><tbody><tr class=even><td><img src=../../../image/image/98/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 23.5</h3>
<h4>Persephone Pickers Special</h4>
<p>Features include: Interview: The Persephone Pickers; Real Life Roleplaying</p>
</td>
<td><a href=../../../show/view/100/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_323.5_20071220.mp3 download=signal_season03_23.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/93/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 23</h3>
<p>Features include: Recollections: Kevin; Recollections: James; From Firefly to Future; Recollections: Les and Kari; The Aries Commonwealth; Recollections: David; Elizabeth Adams and Malcolm Reynolds; The Sci-Fi Review: Seventh Son; Recollections: Claire; Moonshine: Episode 6: The Gentlemen with the Blue Hands; Music Section: Origins; Recollections: Miranda; Music Section: Gaza Strip Mall; Recollections: Nick; Permanent Waves; Recollections: Carolyn; Interview: George Hrab; Robot Chicken Extract</p>
</td>
<td><a href=../../../show/view/99/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_323_20071206.mp3 download=signal_season03_23.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/92/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 22</h3>
<p>Features include: Big Damn Test Kitchen: Big Damn Heroes' Feast; Interview: Jane Espenson; Music Section: Nate's Theme; Badger's World: Episode 13: The End?; Moonbrained Mike: Christmas; Moonshine: Episode 5: Shadowed Woman</p>
</td>
<td><a href=../../../show/view/98/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_322_20071122.mp3 download=signal_season03_22.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/91/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 21</h3>
<p>Features include: Serenity Found, a Review; A Proud and Lonely Thing; Moonshine: Episode 4: Academy of Murder; The Sci-Fi Review: The Adventures of Brisco County Junior; Music Section: Drama On The Prairie; Badger's World: Episode 12: Special Delivery</p>
</td>
<td><a href=../../../show/view/97/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_321_20071108.mp3 download=signal_season03_21.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/90/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 20</h3>
<p>Features include: Big Damn Test Kitchen: A Tale of Two Baos, Part 2; QMx Malcolm Reynolds Stunt Pistol Replica Review; Interview: QMx; Serenity Speculation: Blackout Zone; Badger's World: Episode 11: Laydeez; Moonbrained Mike: End of Season Sale; Music Section: Did you See Serenity?; QMx Blueprints Reference Pack Review</p>
</td>
<td><a href=../../../show/view/96/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_320_20071025.mp3 download=signal_season03_20.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/89/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 19</h3>
<p>Features include: Interview: Brian Wiser; The Sci-Fi Review: Spaced; Inside Serenity: Kaylee's Log; Music Section: I'm on Firefly; Badger's World: Episode 10: Teef; Bold Moves: Shared Game Creation</p>
</td>
<td><a href=../../../show/view/95/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_319_20071011.mp3 download=signal_season03_19.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/88/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 18</h3>
<p>Features include: Moonshine: Episode 3: Darkling River; Interview: PJ Haarsma; The Sci-Fi Review: Robin of Sherwood; Badger's World: Episode 9: Prodigal</p>
</td>
<td><a href=../../../show/view/94/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_318_20070927.mp3 download=signal_season03_18.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/87/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 17</h3>
<p>Features include: Music Section: She Said Her Name was Saffron; Music Section: Exclamation!; Big Damn Test Kitchen: Grunt; Interview: Brian Wiser; Music Section: Johnny Jump Up; Music Section: Kaylee; Interview: Tabz; Live Question and Answer Session</p>
</td>
<td><a href=../../../show/view/93/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_317_20070913.mp3 download=signal_season03_17.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/86/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 16</h3>
<p>Features include: Bold Moves: Plot Points and Enriching Your Game; Interview: Martin Firrell; The Sci-Fi Review: ReBoot; Badger's World: Episode 8: Food; Music Section: Austin Browncoats Video Theme; Big Damn Test Kitchen: A Tale of Two Baos, Part 1</p>
</td>
<td><a href=../../../show/view/92/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_316_20070830.mp3 download=signal_season03_16.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/85/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 15</h3>
<p>Features include: Interview: QMx; Serenity Speculation: The Academy; Inside Serenity: Boost Your Boat</p>
</td>
<td><a href=../../../show/view/91/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_315_20070816.mp3 download=signal_season03_15.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/84/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 14</h3>
<p>Features include: Screening Report; The Sci-Fi Review: Odyssey 5; Music Section: Air through the Engine; Badger's World: Episode 7: Dirt; Moonshine: Episode 2: The Mysterious Doctor; Chen, Chen and Shaw: Attorneys at Law; What I'd like to see in the Big Damn Trilogy</p>
</td>
<td><a href=../../../show/view/90/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_314_20070802.mp3 download=signal_season03_14.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/98/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13.5</h3>
<p>Features include: Interview: Wayne Hutchinson</p>
</td>
<td><a href=../../../show/view/89/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_313.5_20070728.mp3 download=signal_season03_13.5.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/83/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13</h3>
<p>Features include: Serenity Speculation: The Cortex; Interview: Into the Black; Signal Promo: Borderline</p>
</td>
<td><a href=../../../show/view/88/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_313_20070719.mp3 download=signal_season03_13.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/82/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 12</h3>
<p>Features include: Moonbrained Mike: Spring Cleaning Sale; Review of Firefly: The Official Companion; Interview: JC Hutchins; Badger's World: Episode 6: Revenge; Music Section: Smoke Spirit; Moonshine: Episode 1: Blue Sun Blues</p>
</td>
<td><a href=../../../show/view/87/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_312_20070705.mp3 download=signal_season03_12.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/98/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 11.5</h3>
<p>Features include: Interview: Can't Stop the Serenity; Music Section: Can't Stop the Signal</p>
</td>
<td><a href=../../../show/view/86/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_311.5_20070621.mp3 download=signal_season03_11.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/81/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 11</h3>
<p>Features include: Badger's World: Episode 5: Anxiety; Big Damn Test Kitchen: Hot Cheese; Serenity Speculation: Families; The Sci-Fi Review: Star Trek: The Original Series; Music Section: Captain Mal; Borderline: Paquin</p>
</td>
<td><a href=../../../show/view/85/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_311_20070607.mp3 download=signal_season03_11.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/80/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 10</h3>
<p>Features include: Serenity Blueprint Review; The Sci-Fi Review: The Hitchhikers' Guide to the Galaxy; Borderline: Hera; Inside Serenity: Evolution of a Firefly</p>
</td>
<td><a href=../../../show/view/84/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_310_20070524.mp3 download=signal_season03_10.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/79/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 9</h3>
<p>Features include: Interview: Bellflower; Big Damn Test Kitchen: Londinium Vegetable Curry; Badger's World: Episode 4: Conversations with Drunk People; Bold Moves: Technology in the 'Verse; Music Section: Book's Farewell; White Noise 2 Clip</p>
</td>
<td><a href=../../../show/view/83/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_309_20070510.mp3 download=signal_season03_09.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/78/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 8</h3>
<p>Features include: Big Damn Test Kitchen: Kaylee Cake; RockyPod; Serenity Speculation: What Happened to Earth-That-Was; Badger's World: Episode 3: D&#x00E9;j&#x00E0; Vu; Bold Moves: Adventure; Whedon Track at Dragon*Con; Borderline: Ezra</p>
</td>
<td><a href=../../../show/view/82/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_308_20070426.mp3 download=signal_season03_08.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/77/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 7</h3>
<p>Features include: Serenity Speculation: Grav Boots and World Building; Big Damn Test Kitchen: Pickled Protein; Moonbrained Mike: Spaceship Bazaar; The Oldest Profession in the 'Verse; Badger's World: Episode 2: Philosophy; Bold Moves: Inspiration; The Sci-Fi Review: Hex; Music Section: Mason Rocket (Spy Extraordinaire)</p>
</td>
<td><a href=../../../show/view/81/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_307_20070412.mp3 download=signal_season03_07.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/76/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 6</h3>
<p>Features include: Bold Moves: Role Playing in the 'Verse; Badger's World: Episode 1: Reasonable; Interview: QMx; The Sci-Fi Review: Red Dwarf; Borderline: Shadow (revisited); Music Section: Into the Black</p>
</td>
<td><a href=../../../show/view/80/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_306_20070329.mp3 download=signal_season03_06.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/75/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 5</h3>
<p>Features include: Music Section: Good Answer; Borderline: Angel; Interview: Old Wounds; Shepherd Book Revisited</p>
</td>
<td><a href=../../../show/view/79/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_305_20070315.mp3 download=signal_season03_05.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/74/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 4</h3>
<p>Features include: Music Section: Approaching the Training House; What if we Don't?; Interview: Big Damn Chefs; Big Damn Test Kitchen: Too Gorram Easy Baked Fish and Chicken Throw-Together Wraps; Serenity Speculation: Gangstas in da 'Verse</p>
</td>
<td><a href=../../../show/view/78/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_304_20070301.mp3 download=signal_season03_04.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/73/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 3</h3>
<p>Features include: Music Section: The Maidenhead; Downtime: Gun Safety; Everything Looks Good from Here; Serenity Speculation: The Geography of the 'Verse; Borderline: Jiangyin; The Sci-Fi Review: Dead Like Me</p>
</td>
<td><a href=../../../show/view/77/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_303_20070215.mp3 download=signal_season03_03.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/72/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 2</h3>
<p>Features include: Big Damn Chefs Review; Interview: Multiverse; The Sci-Fi Review: Star Wars</p>
</td>
<td><a href=../../../show/view/76/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_302_20070201.mp3 download=signal_season03_02.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/98/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 1.6</h3>
<p>Episode Chat: Serenity (the pilot), part two</p>
<p>Features include: ; Episode Chat</p>
</td>
<td><a href=../../../show/view/75/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_301.6_20070131.mp3 download=signal_season03_01.6.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/98/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 1.5</h3>
<p>Episode Chat: Serenity (the pilot), part one</p>
<p>Features include: ; Episode Chat</p>
</td>
<td><a href=../../../show/view/74/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_301.5_20070130.mp3 download=signal_season03_01.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/71/2/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 1</h3>
<p>Features include: Browncoats Backup Bash; Downtime: Dangerous Women; The Things that Last; Borderline: Athens; Music Section: The Hero of Canton (new arrangement); The Sci-Fi Review: Battlestar Galactica</p>
</td>
<td><a href=../../../show/view/73/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_301_20070118.mp3 download=signal_season03_01.mp3>audio</a></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/3/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/5/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
