<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Borderline</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Borderline</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/81/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/146/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/61/2/album/image.png width=300 height=300 alt></div>
<div>Borderline is a series of five-minute audio drama documentaries set in the universe of Joss Whedon's Firefly, documenting life on some of the Border and Rim worlds through the years of the Unification War ... from an Alliance point of view<p>Borderline is brought to you by Yoshida-Kendall Captures. Apparently. Well, actually, it's brought to you by the people who make The Signal  - but don't tell the Alliance!</p>
</div>
<div></div>
<hr class=no-float><p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Shadow</td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/675/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_01.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Santo</td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/686/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_02.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Perth</td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/710/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_03.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Silverhold</td>
<td>The Signal: Season 2, Episode 22</td>
<td><a href=../../../segment/view/737/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_04.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Athens</td>
<td>The Signal: Season 3, Episode 1</td>
<td><a href=../../../segment/view/762/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_05.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Jiangyin</td>
<td>The Signal: Season 3, Episode 3</td>
<td><a href=../../../segment/view/802/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_06.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Angel</td>
<td>The Signal: Season 3, Episode 5</td>
<td><a href=../../../segment/view/824/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_07.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Shadow (revisited)</td>
<td>The Signal: Season 3, Episode 6</td>
<td><a href=../../../segment/view/851/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_08.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Ezra</td>
<td>The Signal: Season 3, Episode 8</td>
<td><a href=../../../segment/view/862/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_09.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Hera</td>
<td>The Signal: Season 3, Episode 10</td>
<td><a href=../../../segment/view/890/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_10.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Hard Burn: Star in a Reasonably Priced Spaceship</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2598/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_11_hardburn.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Paquin</td>
<td>The Signal: Season 3, Episode 11<br>The Signal: Season 7, Episode 13.1: Blast from the Past, part one</td>
<td><a href=../../../segment/view/913/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_12.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Cortex Talk</td>
<td>The Signal: Season 5, Episode 14.7: The Clip Show</td>
<td><a href=../../../segment/view/1492/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_13_cortextalk.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>The Counterfeit Companion</td>
<td>The Signal: Season 5, Episode 14.9: The Counterfeit Companion</td>
<td><a href=../../../segment/view/1507/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_14_counterfeitcompanion.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Hera (revisited)</td>
<td>The Signal: Season 5, Episode 15</td>
<td><a href=../../../segment/view/1513/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_15.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Santo (revisited)</td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1581/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_borderline_16.mp3 download>audio</a></td>
</tr>
</tbody>
</table>
<h2>See Also</h2>
<ul><li><a href=../../../series/view/152/index.html>Dark Places</a></li>
<li><a href=../../../series/view/174/index.html>Going Dark</a></li>
</ul>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/81/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/146/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
