<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Around the 'Verse in 80 Days</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Around the 'Verse in 80 Days</h1>
<div><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1431/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/1483/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
<h2>Persephone</h2>

<audio src=../../../../yonder/signal_aroundtheverse_day15.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_aroundtheverse_day15.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/143/index.html>The Signal: Season 5, Episode 14</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Martin Hammond</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/2/index.html>Les Howard</a></td>
<td>as Man</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Mirriam Onassis</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>MARTIN</dt>
<dd>Day 15, and this beautiful mansion you see before me is the home of the Duchess of Puck, Mirriam Onassis. Duchess Onassis has kindly invited me to tour this marvellous 26th century building, and it's a great privilege because so few people ever get to see the inside of these walls.</dd>
<dt>MIRRIAM</dt>
<dd>Please, you must call me Mirriam.</dd>
<dt>MARTIN</dt>
<dd>Well that's very kind of you. My word, these tapestries are just breathtaking. Have they been in the family for long?</dd>
<dt>MIRRIAM</dt>
<dd>Oh for a very long time indeed. This one here, for example, which is absolutely gorgeous, was made nearly three and a half centuries ago by the great William Brookhaven, and as you can see it depicts a rather abstract representation of the Core.</dd>
<dt>MARTIN</dt>
<dd>I must say, that is rather splendid. But three and half centuries ago? Surely that places it before humanity's arrival on the 'verse. I remember talking to someone on Londinium about two weeks ago who was involved in preparing for next year's tricentenial.</dd>
<dt>MIRRIAM</dt>
<dd>You are absolutely correct. All of Brookhaven's work was completed in transit. Brookhaven was born, lived, and died, aboard the Prometheus, as it traveled from Earth-that-was to Bernadette, During his time aboard that great vessel, he completed many great works of art, of which this is but one.</dd>
<dt>MARTIN</dt>
<dd>That really is astonishing. (To the camera) Well, get a good look, viewers, because it's really not often you get to see something like this. (To Mirriam) So, have you and your family lived here long?</dd>
<dt>MIRRIAM</dt>
<dd>Actually, Woodhaven Mansion has a long and interesting history all of its own, but the short answer is no. The Onassis family have traditionally lived on Londinium, until about fifty years ago when the Dukedom became available. My father, bless his heart, just couldn't resist the idea of holding a title, so he moved here to claim it - and of course that title is now hereditory, lucky for me. (mild laugh)</dd>
<dt>MARTIN</dt>
<dd>So, what sort of things go on in a grand house like this?</dd>
<dt>MIRRIAM</dt>
<dd>Oh a great many things; you would be surprised. Everything from charity balls to equitation classes. At our last charity ball, we were able to raise hundreds of credits for children orphaned during the war, which is <em>such</em> a good cause.</dd>
<dt>MARTIN</dt>
<dd>I'm sorry, what was that word you used? Equi-what?</dd>
<dt>MIRRIAM</dt>
<dd>Equitation. <em>(beat)</em> Horsemanship, my good man, horsemanship! Do you ride?</dd>
<dt>MARTIN</dt>
<dd>Well, I can't say I've ever tried.</dd>
<dt>MIRRIAM</dt>
<dd>Oh, but you must!</dd>
<dt>MARTIN</dt>
<dd>Any other time, I would love to, but you see I have to travel around the 'verse in eighty days, so I really don't think I have time.</dd>
<dt>MIRRIAM</dt>
<dd>Nonsense! Come on, we'll soon saddle you up!</dd>
</dl>


<hr>
<dl><dt>MARTIN (STUDIO)</dt>
<dd>I had never sat on a horse before, so as you can imagine, I didn't do particularly well on my first lesson. Mirriam told me that I had potential, but I'm sure she was just being polite. What it did mean, however, was that I missed my flight!</dd>
</dl>


<hr>
<dl><dt>MARTIN</dt>
<dd>(panting, out of breath) I don't believe it. Just ... excuse me while I get my breath back ... it seems my flight took off just two minutes before my arrival here at Eavesdown Docks. My schedule is so tight that I'm really not sure how this affects my overall journey. We did allow a little bit of a safety margin, but I'm really not sure how much.</dd>
<dt>MARTIN</dt>
<dd>Well ... Excuse me ... Ah, OK, one of the film crew has just gone off to find when the next flight is. ... Oh dear, this really is most unfortunate.</dd>
<dt>MARTIN</dt>
<dd>Well no matter. While we're here, we might as well wander around the docks, and this place is really quite fantastic, quite unlike any other space dock I've ever seen. It's almost like a marketplace, or perhaps a carnival. All around me, there are traders - many are travelers who have just arrived from some exotic location trying to sell their wares; others are locals, selling food and other items to the people who pass through. Let's see if we can't find something interesting--</dd>
<dt>MAN</dt>
<dd>Where ya headin, Granpa?</dd>
<dt>MARTIN</dt>
<dd>I'm sorry?</dd>
<dt>MAN</dt>
<dd>You lookin for passage? The Brutus is the best ship in the 'verse. We're headin out for the Phoenix. If that's headin your way, you're mighty welcome to join us. We're lookin to take on passengers, and you look the friendly kind.</dd>
<dt>MARTIN</dt>
<dd>The Phoenix? As in Red Phoenix? As in Red Sun?</dd>
<dt>MAN</dt>
<dd>The one and only. And we can get you there faster than that passenger liner you just missed too.</dd>
<dt>MARTIN</dt>
<dd>Why thank you, that's a kind offer.</dd>
<dt>MAN</dt>
<dd>Course, there'd have to be payment.</dd>
<dt>MARTIN</dt>
<dd>Well ... of course.</dd>
<dt>MAN</dt>
<dd>And that's each, so your film crew there'd have to pay separately. But you'd be gettin a mighty fine ride for your money.</dd>
<dt>MARTIN</dt>
<dd>You can take all of us? Do you know, I think you might just have saved the day.</dd>
<dt>MAN</dt>
<dd>I don't want no filmin on the ship though. You turn those fancy captures off when you board, you hear?</dd>
<dt>MARTIN</dt>
<dd>I assure you that won't be a problem.</dd>
</dl>


<hr>
<dl><dt>MARTIN (STUDIO)</dt>
<dd>And so it was that we were able to continue on, despite the unexpected change of plan, and if my new unintended guide is anything to go by, we'll make New Melbourne in less than two weeks, all set for our next leg around the 'verse...</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1431/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/1483/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/143/index.html>The Signal: Season 5, Episode 14</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
