<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7, Episode 16</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7, Episode 16</h1>
<div><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/217/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/218/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0716_20111011.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0716_20111011.mp3 download=signal_season07_16.mp3>Download audio file</a></div>
<div class=info>Tuesday 11th October 2011</div>
Produced by Jutta Jordans<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/168/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 7 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:11</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2503/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/154/index.html><img src=../../../image/image/152/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:17</td>
<td class=shownote><h3>Earthburn</h3>
<h4>Conventional Wisdom</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/8/index.html>James Parkinson</a> and <a href=../../../human/view/108/index.html>Jutta Jordans</a>; featuring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/84/index.html>Ben Edwards</a>, <a href=../../../human/view/485/index.html>Craig Kurumada</a>, <a href=../../../human/view/25/index.html>Helen Eaton</a>, <a href=../../../human/view/96/index.html>Kara Helgren</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; music by <a href=../../../human/view/469/index.html>Ken Kurland</a> and <a href=../../../human/view/442/index.html>Star One</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a> and <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2371/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:50</td>
<td class=shownote><h3>Feedback</h3>
<p>Emails read by <a href=../../../human/view/17/index.html>Nick Edwards</a>; emails edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2506/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/173/index.html><img src=../../../image/image/198/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:55</td>
<td class=shownote><h3>Tangled Yarn</h3>
<h4>Kaylee and Inara</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/96/index.html>Kara Helgren</a>; edited by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/2499/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/161/index.html><img src=../../../image/image/158/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:40</td>
<td class=shownote><h3>Firefly in Five Lines</h3>
<h4>Craig's Choice</h4>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2511/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:18</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>What Did The Operative Want?</h4>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2502/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/166/index.html><img src=../../../image/image/172/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:37:39</td>
<td class=shownote><h3>Vote</h3>
<h4>Interview: Niska Headquarters</h4>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/485/index.html>Craig Kurumada</a>; featuring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/479/index.html>Bindiya Dale</a>, <a href=../../../human/view/25/index.html>Helen Eaton</a> and <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2498/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/174/index.html><img src=../../../image/image/199/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:42:08</td>
<td class=shownote><h3>Going Dark</h3>
<h4>First Shots Fired</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/84/index.html>Ben Edwards</a>, <a href=../../../human/view/98/index.html>Jocelyn Fultz</a> and <a href=../../../human/view/308/index.html>Mary McKay Eaton</a>; music by <a href=../../../human/view/82/index.html>Dreamweaver</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2512/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:51:03</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:51:40<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/217/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/218/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
