<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Poetry of the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Poetry of the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/2215/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2233/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/165/index.html>Up</a> &#x2022; <a href=../../../segment/view/2295/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2296/index.html>Last episode</a></div>
<h2>Whedony</h2>

<!-- audio src signal_poetryoftheverse_03.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_poetryoftheverse_03.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/199/index.html>The Signal: Season 7, Episode 6</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>In the Official Visual Companion to Serenity, Joss Whedon describes the language of the verse as &#x201C;basically based on everything&#x201D;, but with &#x201C;a healthy dollop of made-up Joss talk&#x201D;. It&#x2019;s this &#x201C;made-up Joss talk&#x201D; that I&#x2019;d like to consider in this article. We all know it when we hear it, but what is it that gives something that Whedon flavour?</p>

<p>Much has been written in answer to this question, but mainly with reference to the dialogue of Buffy the Vampire Slayer, rather than Firefly. In some ways, the language of the two worlds is quite different. There is no reason, for example, why the characters in Firefly would make pop culture reference that we as viewers would understand, and so they don&#x2019;t, unlike the characters in Buffy. The main characters in Firefly are also in the main older than those in Buffy and therefore don&#x2019;t sound like teenagers. Leaving those differences aside, there is much in the language of Firefly that has that Whedon touch previously heard in Buffy.</p>

<p>For a start, there&#x2019;s the use of the adjectivising suffix &#x2013;y in unexpected and amusing ways:</p>


<dl><dt>MAL</dt>
<dd>I have captain-y things I have to do, but truthfully, that's a fine meal. Thank you.</dd>
<dt>MAL</dt>
<dd>They get paid in cashy money, which once a month rests here.</dd>
<dt>KAYLEE</dt>
<dd>Shepherd Book said they was men who just... reached the edge of space, saw a vasty nothingness... and went bibbledy over it.</dd>
</dl>


<p>This use of the suffix may sound modern to us, but in fact in the case of &#x201C;vasty&#x201D;, we don&#x2019;t have a new word at all, but an archaic one, which dates back to the late sixteenth century, and was used by Shakespeare on several occasions. In fact, Kaylee&#x2019;s &#x201C;vasty nothingness&#x201D;, referring to space, is very reminiscent of Shakespeare&#x2019;s &#x201C;the vasty deep&#x201D;, referring to the underworld. It is also an example of the often seamless blending of the past and present in the language of the &#x2018;verse, happily taking its place amongst the more modern uses of the &#x2013;y suffix.</p>

<p>Other distinctly, well, <em>Whedony</em> elements to the language of Firefly are also the results of suffixation allowed to run free:</p>


<dl><dt>WASH</dt>
<dd>&#x201C;Here lies my beloved Zoe, my autumn flower, somewhat less attractive now that she's all corpsified and gross...&#x201D;</dd>
<dt>MAL</dt>
<dd>See, morbid and creepifying, I got no problem with. Long as she does it quiet-like.</dd>
<dt>JAYNE</dt>
<dd>This place gives me an uncomfortableness.</dd>
</dl>


<p>On first listening, &#x201C;corpsify&#x201D; and &#x201C;creepify&#x201D; probably sound slightly odd and therefore raise a smile, but, like many Whedonisms, given time, they take hold and begin to sound just as normal to the average Browncoat as &#x201C;shiny&#x201D; as a synonym for &#x201C;cool&#x201D;.</p>

<p>Jayne&#x2019;s use of &#x201C;uncomfortableness&#x201D; is a slightly different case as this is a perfectly respectable word, found in dictionaries today, although &#x201C;discomfort&#x201D; is more common for the same meaning. However, Jayne treats &#x201C;uncomfortableness&#x201D; as a countable noun by using the indefinite article &#x201C;an&#x201D; with it and this is what makes the line stand out as unusual.</p>

<p>Another Whedon trait in dialogue is to drop part of an established phrase and allow the listeners to fill in the blanks themselves, such as &#x201C;off the beaten&#x201D; for &#x201C;off the beaten track&#x201D;, or this example from Mal:</p>


<dl><dt>KAYLEE</dt>
<dd>Let&#x2019;s not do anything hasty!</dd>
<dt>MAL</dt>
<dd>No, shiny! We'll be on Beaumonde ten hours' time... you can pick up your earnings and be on your merry.</dd>
</dl>


<p>This leaves an adjective standing in for a noun, in the way Joss Whedon often did with Buffy, letting &#x201C;a happy&#x201D; stand for a positive thing, for example, or &#x201C;a funny&#x201D; for a joke.</p>

<p>Another aspect of the language of Firefly which I associate specifically with Joss Whedon is simply the creativity shown in putting certain words together. Jayne describes Simon&#x2019;s care for River as &#x201C;noble as a grape&#x201D;, for example. I&#x2019;m not sure why exactly a grape would be considered noble, but somehow, like many Whedonisms, it fits perfectly:</p>


<dl><dt>MAL</dt>
<dd>What the hell&#x2019;s going on in the engine room? Were there monkeys, some terrifying space monkeys maybe got loose?</dd>
<dt>ZOE</dt>
<dd>Next time we smuggle stock, let's make it something smaller.</dd>
<dt>WASH</dt>
<dd>Yeah, we should start dealing in those black-market beagles.</dd>
<dt>MAL</dt>
<dd>Now you could luxuriate in a nice jail cell but if your hand touches metal, I swear by my pretty floral bonnet I will end you.</dd>
</dl>


<p>It is often the creative combination of adjective and noun that makes phrases like &#x201C;terrifying space monkeys&#x201D; and &#x201C;black-market beagles&#x201D; so memorable. In contrast, there is nothing particularly creative about combining &#x201C;pretty&#x201D;, &#x201C;floral&#x201D; and &#x201C;bonnet&#x201D;, but the idea of swearing by one, and of the person doing that swearing being Mal, certainly does make this line stand out.</p>

<p>The rhythm with which lines are delivered in Firefly also often has a distinct Whedon touch to it.</p>


<dl><dt>WASH</dt>
<dd>Oh my god, it's grotesque! Oh, and there's something in a jar.</dd>
<dt>JAYNE</dt>
<dd>Not as deceiving as a low down dirty... deceiver!</dd>
<dt>MAL</dt>
<dd>I mean, let's say you did kill us. Or didn't. There could be torture. Whatever.</dd>
</dl>


<p>So many lines in Firefly and Serenity could be used as illustrations in a masterclass on comic timing. Yes, the lines themselves are extremely well-written and very, very funny, but in the hands of our BDHs, they become even better. All the major characters have their moments to shine when it comes to funny lines and the humour in these lines tends to flow naturally from their characters, as good humour should. Jayne, for example, is often unintentionally very funny, when he is trying to be serious:</p>


<dl><dt>JAYNE</dt>
<dd>Six men came to kill me one time, and the best of them carried this. It's a Callahan fullbore autolock, customized trigger, double cartridge thorough-gage. It is my very favorite gun.</dd>
</dl>


<p>Wash, on the other hand, tends to be intentionally funny:</p>


<dl><dt>ZOE</dt>
<dd>Proximity alert. We must be coming up on something.</dd>
<dt>WASH</dt>
<dd>Oh, my god! What can it beee? We're all dooomed! Who's flyin' this thing? Oh, right, that would be me. Back to work.</dd>
</dl>


<p>For all the differences between the ways humour is expressed through the various characters, there is still something recognisably Whedon-like in the dry delivery and masterful use of pausing.</p>

<p>There are many voices competing to be heard in the linguistic melting pot that is the language of the Firefly &#x2018;verse, but in amongst the influences of different time periods and different dialects, the voice of Joss Whedon is one that can be heard loud and clear.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2215/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2233/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/165/index.html>Up</a> &#x2022; <a href=../../../segment/view/2295/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2296/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/199/index.html>The Signal: Season 7, Episode 6</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
