<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 16</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 16</h1>
<div><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/20/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/22/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_016_20051028.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_016_20051028.mp3 download=signal_season01_16.mp3>Download audio file</a></div>
<div class=info>Friday 28th October 2005</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 3</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:15</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div>Les and Kari introduce the show and talk about the future of the Signal.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/297/21/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/32/index.html><img src=../../../image/image/49/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:30</td>
<td class=shownote><h3>Done the Impossible</h3>
<h4>Part 4</h4>
<p>Hosted by <a href=../../../human/view/12/index.html>Brian Wiser</a> and <a href=../../../human/view/11/index.html>Jeremy Neish</a></p>
</td>
<td><a href=../../../segment/view/304/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:57</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<div>&quot;Dong mah?&quot; (Understand?) &quot;Dong luh mah? &quot; (Are we clear here?) &quot;Ai ya! &quot; (Damn!) &quot;Ai ya, wo mun wan leh &quot; (We're in big trouble) &quot;Ai yah. Tyen-ah! &quot; (Merciless hell) &quot;Bee jway!&quot; (Shut up!) and &quot;Bai-tuo, an-jing-eedyen!&quot; (We will enjoy your silence now)</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/286/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:47</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Tracy - Where to buy Serenity clothing</li>
<li>Jason and Brittany - Nathan Fillion in &quot;Slither&quot;</li>
<li>Cider - Jerry Lee &quot;Wash&quot; Warren and Nathan's relative Jubal Early</li>
<li>Leonie - Badges/buttons/pins</li>
<li>Rebecca - Was Book an Operative?</li>
<li>Bridget - Conversion story via the Signal</li>
<li>Katie - Conversion story and friendship - and Wonderfalls</li>
<li>Rel - Starfury Serenity Squared convention</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/301/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:29</td>
<td class=shownote><h3>River</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/298/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:48:04</td>
<td class=shownote><h3>Fruity Oaty Bar</h3>
<div>See below for recipes.</div>
<p>Written by <a href=../../../human/view/9/index.html>Clay McClure</a>; read by <a href=../../../human/view/9/index.html>Clay McClure</a></p>
</td>
<td><a href=../../../segment/view/282/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:16</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Firefly DVD boxed set enters US top 20 DVD charts at number 17</li>
<li>Summer Glau to appear at Wizard World from 4th to 6th November</li>
<li>Serenity Trade Paperback now on sale</li>
<li>New Serenity Fan Film: &quot;Waiting for Serenity&quot; now available</li>
<li>Two Serenity RPG supplements confirmed</li>
<li>Serenity to go straight to DVD in some countries</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/299/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:23</td>
<td class=shownote><h3>Why Wash?</h3>
<p>Written by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; read by <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/305/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://beyondthestorm.us/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:59:04</td>
<td class=shownote><h3>Promo: Beyond the Storm - Shadows of the Big Easy</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:00:14</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>Les and Kari talk about the soundtrack albums</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/297/21/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:01:46</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Ballad of Serenity (movie version)</h4>
<p>Music by <a href=../../../human/view/34/index.html>David Newman</a> and <a href=../../../human/view/36/index.html>Joss Whedon</a></p>
</td>
<td><a href=../../../segment/view/302/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/37/1/icon/image.png width=50 height=50 alt></td>
<td>1:03:34</td>
<td class=shownote><h3>Serenity Trailer</h3>
<h4>US Trailer, version 2</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:05:20</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:05:44<div class=wiki-local><div><a></a><h2><span class=mw-headline>Fruity Oaty Bar Recipes</span></h2>


<a></a><h3><span class=mw-headline>Fruity Oaty Bars</span></h3>


<p>These bars are quite tasty (and free of subliminal messages). You can use any fruit combination you like. I found a pre-packaged mix of chopped apples, cherries, golden raisins, apricots, peaches and plums that worked really well.</p>


<ul><li>1 cup (240 ml/225 g) butter, softened</li>
<li>1/2 cup (120 ml/96 g) brown sugar or light brown soft sugar</li>
<li>1/2 cup (120 ml/96 g) granulated or castor sugar</li>
<li>2 eggs</li>
<li>3/4 cup (180 ml/90 g) whole-wheat or wholemeal flour</li>
<li>1/4 cup (60 ml/32 g) wheat germ</li>
<li>1 cup (240 ml/80 g) rolled oats or porridge oats</li>
<li>1 cup (240 ml/160 g) mixed dried fruit, chopped</li>
<li>1/2 cup (120 ml/80 g) chopped dates</li>
</ul>


<p>Pre-heat oven to 350&#x00B0;F (175&#x00B0;C, gas mark 4). Mix butter and sugars thoroughly. Mix in eggs. Stir in flour, wheat germ, oats and fruit. Spread mixture in greased rectangular baking pan, 9x13&quot; (22.5x32.5 cm approx.). Bake 25-30 minutes. Cool 10 minutes then cut into bars. Makes about 24.</p>


<a></a><h3><span class=mw-headline>Holiday Fruity Oaty Bars</span></h3>


<p>An orange glazed bar with winter holiday flavor. Try these as an alternative to fruitcake this year.</p>


<ul><li>1 cup (240 ml/225 g) butter, softened</li>
<li>1/2 cup (120 ml/96 g) brown sugar or light brown soft sugar</li>
<li>1/2 cup (120 ml/96 g) granulated or castor sugar</li>
<li>2 eggs</li>
<li>3/4 cup (180 ml/90 g) whole-wheat or wholemeal flour</li>
<li>1/4 cup (60 ml/32 g) wheat germ</li>
<li>1 teaspoon (5 ml/4 g) cinnamon</li>
<li>1/2 teaspoon (2.5 ml/2 g) allspice</li>
<li>1/2 teaspoon (2.5 ml/2 g) ground cloves</li>
<li>1/2 teaspoon (2.5 ml/2 g) nutmeg</li>
<li>1 cup (240 ml/80 g) rolled oats or porridge oats</li>
<li>1 cup (240 ml/160 g) mixed candied or glac&#x00E8;ed fruit, chopped (such as cherries, pineapple, orange rind and citron)</li>
<li>1/2 cup (120 ml/55 g) chopped nuts</li>
</ul>


<p>Pre-heat oven to 350&#x00B0;F (175&#x00B0;C, gas mark 4). Mix butter and sugars thoroughly. Mix in eggs. Stir in flour, wheat germ,spices, oats, fruit and nuts. Spread mixture in greased square baking pan, 9x9&quot; (22.5x22.5 cm approx.). Bake 25-30 minutes. While baking make glaze.</p>

<p><em>Glaze:</em></p>


<ul><li>1/2 cup (120 ml/96 grams) granulated or castor sugar</li>
<li>3 tablespoons (45 ml) of fresh orange juice</li>
</ul>


<p>grated rind (orange part only) of 1 orange</p>

<p>Mix sugar and juice in a small saucepan. Bring to a boil just before bars are done then remove syrup from heat and stir in grated orange rind. When bars come out of the oven pour hot syrup over all. Cool before cutting. Makes about 27 small bars.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/20/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/22/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1506>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
