<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4</h1>
<div><div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/4/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/6/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
<div class=logo><img src=../../../image/image/113/1/full/image.png width=277 height=200 alt></div>
<h3>We Hold</h3>
<p>Regular features include: News from the 'Verse, Listener Emails, What's Your Serenity?, The Tale of the Verse, Music Section, Badger's World, Bold Moves, Sci-Fi Review, Big Damn Test Kitchen and the Speculation Segment This season also includes many special features, and interviews with Scott Allie (Dark Horse Comics editor), Beth Nelson (Can't Stop the Serenity coordinator), Andy Gore (QMx), Jason Palmer (Serenity prints artist), Jack Ward and Shannon Hilchie (Sonic Society), Steven Brust (author, My Kind of Freedom) and Marian Call (musician, Got to Fly).

Segment timings provided by Erik Hesse (aka Ironbandit).</p>
<p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><a href=../../../season/rss/5/index.xml><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></a></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<br><table class=simple-table><tbody><tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 23.5</h3>
<p>Features include: The Train Job (Musical version)</p>
</td>
<td><a href=../../../show/view/128/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_423.5_20081223.mp3 download=signal_season04_23.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/124/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 23</h3>
<h4>Holiday Special</h4>
<p>Features include: Stepping Up to the Plate: Back to Basics; Music Section: The Chef they call Jayne; Interview: Beth Nelson; Can't Stop the Cheesecake; What's Your Cheesecake?; Badger's World: Episode 26: Beginnings, part 2; Big Damn Test Kitchen: Cheesecake; Cheesecake Sightings: Body and Soul; Les on Cheesecake; The Terraformers: Episode 5: Attack of the Space Pirates; Cheesy Pun Fest: The Movies; Music Section: Cheesecake</p>
</td>
<td><a href=../../../show/view/127/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_423_20081209.mp3 download=signal_season04_23.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 22</h3>
<p>Features include: What's Your Serenity?: V; Interview: Marian Call and Andy Gore; The Tale of the 'Verse: How the 'Verse will End; Music Section: In the Black; Badger's World: Episode 25: Beginnings, part 1</p>
</td>
<td><a href=../../../show/view/126/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_422_20081125.mp3 download=signal_season04_22.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 21</h3>
<p>Features include: Music Section: Mal's Song; Kaylee Maquette Review; Interview: Andy Gore; Badger's World: Episode 24: Pigeons; What's in a Signal?: Sci-Fi Review</p>
</td>
<td><a href=../../../show/view/125/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_421_20081118.mp3 download=signal_season04_21.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 20.5</h3>
<p>Features include: The Signal Live from Dragon*Con 2008 starts; Music Section: Celtic music; Badger's World: Episode 20.5: Live!; Serenity Prints Collection; Anticipating a Shepherd's Tale; Music Section: song premier</p>
</td>
<td><a href=../../../show/view/124/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_420.5_20081111.mp3 download=signal_season04_20.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 20</h3>
<p>Features include: Anatomy of a Signal; Interview: Nathan Town; The Sci-Fi Review: Pushing Daisies; Badger's World: Episode 23: The Noob</p>
</td>
<td><a href=../../../show/view/123/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_420_20081104.mp3 download=signal_season04_20.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 19</h3>
<p>Features include: Dragon*Con 2008 Report; All That's Decent And Nice; The Sci-Fi Review: Star Trek: The Next Generation; Serenity Speculation: Dude, Where's My Planet?; Music Section: Missing Part; Badger's World: Episode 22: Posh</p>
</td>
<td><a href=../../../show/view/122/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_419_20081021.mp3 download=signal_season04_19.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 18</h3>
<p>Features include: Serenity Speculation: Preserving; Editorial: Thoughts from the Rim; The Sci-Fi Review: Terminator: The Sarah Connor Chronicles; Codename Kestrel; The Tale of the 'Verse: Sic Itur Ad Astra; Music Section: Summer Glau; Badger's World: Episode 21: Omens; They've All Got Stories: Inara: Mistress of Mystery</p>
</td>
<td><a href=../../../show/view/121/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_418_20081007.mp3 download=signal_season04_18.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 17</h3>
<p>Features include: Crooked Little Vein review; QMx and Big Haul Giveaway; The Very Shiny Announcement; Signal LIVE Recording part 2; The Sci-Fi Review: The Office, An American Workplace; Music Section: War Is Bad</p>
</td>
<td><a href=../../../show/view/120/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_417_20080923.mp3 download=signal_season04_17.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 16</h3>
<p>Features include: A review of Steven Brust's <q>My Kind of Freedom</q>; Interview: Steven Brust</p>
</td>
<td><a href=../../../show/view/119/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_416_20080909.mp3 download=signal_season04_16.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 15.5</h3>
<p>Features include: Interview: Jack Ward and Shannon Hilchie; Dragon*Con Update</p>
</td>
<td><a href=../../../show/view/118/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_415.5_20080826.mp3 download=signal_season04_15.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 15</h3>
<p>Features include: Coffee in the 'Verse; Editorial: The Light That Burns Half as Long...; Sex and the Special Hell; The Sci-Fi Review: Sapphire and Steel; Serenity Speculation: Where are the Fireflies?; Music Section: Can't Stop the Oaty Bar; They've All Got Stories: Badger - Dodgy Geezer or Misunderstood Philanthropist?</p>
</td>
<td><a href=../../../show/view/117/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_415_20080812.mp3 download=signal_season04_15.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 14</h3>
<p>Features include: The Sci-Fi Review: Indiana Jones; Editorial: How is Firefly?; They've All Got Stories: Can't Take the Sky From Me; Serenity Speculation: Tea in the 'Verse; Read the Script; The Tale of the 'Verse: Weather and Water; Bold Moves: Interview - Jamie Chambers of MWP; Music Section: Monahanns Mudder's Milk</p>
</td>
<td><a href=../../../show/view/116/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_414_20080729.mp3 download=signal_season04_14.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13.5</h3>
<p>Features include: The Browncoats' Wish List; Interview: Jason Palmer; Music Section: Drake's Eulogy</p>
</td>
<td><a href=../../../show/view/115/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_413.5_20080722.mp3 download=signal_season04_13.5.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13</h3>
<p>Features include: QMx and Big Haul Giveaway; Interview: California Browncoats; Moonbrained Mike: Going out of Business; The Sci-Fi Review: The Tripods; Fighting In Firefly, part 2: Stage Combat</p>
</td>
<td><a href=../../../show/view/114/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_413_20080715.mp3 download=signal_season04_13.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 12</h3>
<p>Features include: Review of Ben Mund's QMx Serenity Valley Lithograph; Interview: Andy Gore; What's Your Serenity?: IV; They've All Got Stories: Jayne's Morality; Joss's new summer release: Dr. Horrible's Sing-Along Blog</p>
</td>
<td><a href=../../../show/view/113/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_412_20080701.mp3 download=signal_season04_12.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 11</h3>
<p>Features include: The Sci-Fi Review: Angel; Dollhouse Trailer; Big Damn Test Kitchen: Chicken Korma; Music Section: The Volvo Song; Serenity Speculation: 'Verse Entertainment; They've All Got Stories: River's Reading Habits; Bold Moves: Browncoat Captains; Badger's World: Episode 20: Convention</p>
</td>
<td><a href=../../../show/view/112/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_411_20080617.mp3 download=signal_season04_11.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 10.5</h3>
<p>Features include: Crew Chat: Better Days; Serenity Speculation: The Aries Commonwealth; Dollhouse Trailer</p>
</td>
<td><a href=../../../show/view/111/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_410.5_20080603.mp3 download=signal_season04_10.5.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 10</h3>
<p>Features include: Badger's World: Episode 19: Lights Out; Interview: Beth Nelson; The Sci-Fi Review: Father Ted; Serenity Speculation: Training The Browncoats, part 2; Big Damn Test Kitchen: Fresh Bao III</p>
</td>
<td><a href=../../../show/view/110/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_410_20080527.mp3 download=signal_season04_10.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 9</h3>
<p>Features include: Firefly: The Happy Dystopia; CSTS: The Phantom Screenings; Serenity Speculation: Training the Browncoats; The Tale of the 'Verse: Bringing the Worlds to Life; Fighting in Firefly, Part One; Serenity Speculation: Advertising in the 'Verse</p>
</td>
<td><a href=../../../show/view/109/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_409_20080513.mp3 download=signal_season04_09.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 8</h3>
<p>Features include: Editorial: Why Firefly?; The Sci-Fi Review: Randall and Hopkirk (Deceased); Vera: Jayne's Very Favorite Gun; Music Section: Vera Flew The Coop; Serenity Complete 2008 Con Report</p>
</td>
<td><a href=../../../show/view/108/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_408_20080429.mp3 download=signal_season04_08.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 7</h3>
<p>Features include: What's Your Serenity?: III; Serenity Speculation: Creating the Browncoats; Bold Moves: Free-Form Roleplaying; Badger's World: Episode 18: Coffeeee!; The Sci-Fi Review: Blood Ties; Editorial: Where the Writers Go</p>
</td>
<td><a href=../../../show/view/107/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_407_20080415.mp3 download=signal_season04_07.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 6</h3>
<p>Features include: The Firefly Dialect; Interview: Scott Allie; Music Section: Uncharted Theme</p>
</td>
<td><a href=../../../show/view/106/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_406_20080401.mp3 download=signal_season04_06.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 5</h3>
<p>Features include: Shindiggery; The Tale of the 'Verse: Making Planets; The Sci-Fi Review: Roswell; Serenity Speculation: The Tams' Society; Music Section: Evil Laugh; Badger's World: Episode 17: Ink; Bold Moves: Fleshing out the factions - Hidel Audding</p>
</td>
<td><a href=../../../show/view/105/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_405_20080318.mp3 download=signal_season04_05.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 4</h3>
<p>Features include: What's Your Serenity?: II; The Sci-Fi Review: Numb3rs; Serenity Speculation: Family Values; The Case for Comics; Big Damn Test Kitchen: Cargo Bay Rice and Beans; Music Section: Book2B</p>
</td>
<td><a href=../../../show/view/104/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_404_20080304.mp3 download=signal_season04_04.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 3</h3>
<p>Features include: Conversion Season; Serenity Speculation: Red Sun; Music Section: Praise to Joss Whedon; The Sci-Fi Review: Stargate: Atlantis; Badger's World: Episode 16: Downtime; Bold Moves: Politics in the 'verse and Your Game; Guns of the Verse; Big Damn Test Kitchen: Ma Cobb's Garlic-Chicken Soup; Music Section: Jayne's Hat</p>
</td>
<td><a href=../../../show/view/103/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_403_20080219.mp3 download=signal_season04_03.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 2</h3>
<p>Features include: Badger's World: Episode 15: Sick; Science versus Ideology in Joss Whedon's Firefly; What's Your Serenity?: I; The Sci-Fi Review: Jeremiah; Big Damn Test Kitchen: Non-Alcoholic Drinks</p>
</td>
<td><a href=../../../show/view/102/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_402_20080205.mp3 download=signal_season04_02.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/114/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 1</h3>
<p>Features include: Editorial: Revisiting The 'Verse; The Sci-Fi Review: Survivors; Badger's World: Episode 14: After The Fall; Bold Moves: Gen Con MWP Interview; Big Damn Test Kitchen: Alcoholic Beverages; Picking The Tunes; Music Section: It Was Good For You Too</p>
</td>
<td><a href=../../../show/view/101/index.html>shownotes</a><br><a href=https://traffic.libsyn.com/secure/thesignal/signal_401_20080122.mp3 download=signal_season04_01.mp3>audio</a></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/4/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/6/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
