<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 16</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 16</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/91/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/93/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_316_20070830.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_316_20070830.mp3 download=signal_season03_16.mp3>Download audio file</a></div>
<div class=info>Thursday 30th August 2007</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:30</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div><ul><li><a href=../../../external.html#http://fireflytalk.com>Firefly Talk</a>'s win at the <a href=../../../external.html#http://podcastawards.com>Podcast Awards</a>.</li>
<li>The Serenity Collector's Edition DVD</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/972/92/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/81/index.html><img src=../../../image/image/103/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:11</td>
<td class=shownote><h3>Bold Moves</h3>
<h4>Plot Points and Enriching Your Game</h4>
<p>Written by <a href=../../../human/view/18/index.html>David Moore</a>; read by <a href=../../../human/view/18/index.html>David Moore</a></p>
</td>
<td><a href=../../../segment/view/903/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:38</td>
<td class=shownote><h3>Interview</h3>
<h4>Martin Firrell, part 1 of 2</h4>
<div><a href=../../../external.html#http://www.completehero.com>Hero Project</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/975/92/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:00</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>ReBoot</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/965/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:40:50</td>
<td class=shownote><h3>Interview</h3>
<h4>Martin Firrell, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/975/92/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:55:15</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 8: Food</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/967/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:00:21</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://podcastawards.com>Firefly Talk wins the Movies/Film category of the podcast awards</a></li>
<li><a href=../../../external.html#http://www.londonfilmandcomiccon.com/>Martin Firrell to attend London Film and Comic Con</a></li>
<li><a href=../../../external.html#http://www.dragoncon.org>Adam Baldwin cancels Dragon*Con appearance</a></li>
<li><a href=../../../external.html#http://www.icv2.com/articles/home/11152.html>Three more Serenity RPG products coming out in 2008</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/08/16/serenity-cast-hoodies-coming-from-tfawcom/>Serenity cast hoodies coming from TFAW.com</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/08/16/first-official-look-at-the-new-reaver-ship-ornament/>First official look at the new Reaver ship ornament</a></li>
<li><a href=../../../external.html#http://www.zoicstudios.com/Web/Creations/Showcase.aspx?ShowType=21&amp;ShowID=37>Zoic Studios' Serenity reels</a></li>
<li><a href=../../../external.html#http://www.timminear.net/archives/firefly/000149.html>Shooting script for Out of Gas posted to Tim Minear's website</a></li>
<li><a href=../../../external.html#http://www.avclub.com/content/interview/joss_whedon/>Long Joss interview about all kinds of topics</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/973/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:02:55</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>September 20th - World Shindig Day</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/972/92/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:05:25</td>
<td class=shownote><h3>Music Section</h3>
<h4>Austin Browncoats Video Theme</h4>
<p>Music by <a href=../../../human/view/48/index.html>Sheena Harden</a></p>
</td>
<td><a href=../../../segment/view/964/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/77/index.html><img src=../../../image/image/104/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:06:47</td>
<td class=shownote><h3>Big Damn Test Kitchen</h3>
<h4>A Tale of Two Baos, Part 1</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/926/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:36</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:14:00<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/91/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/93/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3722>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
