<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 8, Episode 10</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 8, Episode 10</h1>
<div><div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/231/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/233/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0810_20120703.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0810_20120703.mp3 download=signal_season08_10.mp3>Download audio file</a></div>
<div class=info>Tuesday 3rd July 2012</div>
Produced by Jutta Jordans<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/206/3/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 8 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:06</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2745/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/180/index.html><img src=../../../image/image/218/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:49</td>
<td class=shownote><h3>Does that Seem Right to You?</h3>
<h4>The Earth Got Used Up</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/592/index.html>Elam</a>; edited by <a href=../../../human/view/560/index.html>Yi Weng</a></p>
</td>
<td><a href=../../../segment/view/2744/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:12</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Companion Supply and Demand</h4>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2718/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/174/index.html><img src=../../../image/image/199/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:34</td>
<td class=shownote><h3>Going Dark</h3>
<h4>The Birth of the Reavers</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/96/index.html>Kara Helgren</a>; music by <a href=../../../human/view/82/index.html>Dreamweaver</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2748/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:20:58</td>
<td class=shownote><h3>Feedback</h3>
<p>Emails read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; emails edited by <a href=../../../human/view/560/index.html>Yi Weng</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2723/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/176/index.html><img src=../../../image/image/214/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:58</td>
<td class=shownote><h3>Silence in Space</h3>
<h4>Ariel</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2717/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:40:40</td>
<td class=shownote><h3>Bigger Damn Heroes?  - A Browncoat's Guide to the Avengers</h3>
<p>Written by <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2700/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:27</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/479/index.html>Bindiya Dale</a></p>
</td>
<td><a href=../../../segment/view/2746/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:30</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Out of Gas</h4>
<div>Translation of the Chinese used in this episode.</div>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2747/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:00:52</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:01:28<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/231/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/233/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
