<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1657/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1842/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 14: The Inquisition</h2>

<audio src=../../../../yonder/signal_terraformers_14.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_terraformers_14.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/168/index.html>The Signal: Season 6, Episode 8</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Announcer</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td>as Trainee #1</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/108/index.html>Jutta Jordans</a></td>
<td>as Trainee #3</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/109/index.html>Dave Tomasic</a></td>
<td>as Trainee #2</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>I sure hope the trainees do well on the test. I just know Mr Spall will find a way to blame <em>us</em> if they don&#x2019;t.</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>But when <em>we</em> screw up it&#x2019;s never <em>his</em> fault, so how does that work?</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>My hopes for your trainees are not what you&#x2019;d call high at this moment, but I&#x2019;d be happy to be proved wrong.</dd>
<dt>NARRATOR</dt>
<dd>Episode number 14 &#x2013; The Inquisition</dd>
</dl>


<hr>
<p><em>Location: The office. General office noises in background.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Finishing a long and bizarre story.)</em> &#x2026;So I say, &#x201C;If you&#x2019;re gonna try and eat that much halibut, it&#x2019;s no wonder your lawyer can afford such a great shuttle. <em>(Sarah is giving her a bemused look)</em> What?!</dd>
</dl>


<p><em>Knock on door.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Loudly)</em> Come in! <em>(To herself)</em>For the love of all that&#x2019;s sane, please come in.</dd>
</dl>


<p><em>Door opens.</em></p>


<dl><dt>TRAINEE #1</dt>
<dd><em>(Sounding nervous and hesitant.)</em> Um, hey, sorry to bother you, but, um, I wanted to talk to you about the test on Friday.</dd>
<dt>SARAH</dt>
<dd>Ah yes, Creative Solutions to Terraforming Problems.</dd>
<dt>TRAINEE #1</dt>
<dd>How can I study for it?</dd>
<dt>SARAH</dt>
<dd>Well, you can&#x2019;t really. It&#x2019;s not so much about memorising facts as about seeing whether you can think on your feet and be creative in response to problems.</dd>
<dt>TAYA RAY</dt>
<dd>Like that time we used Nitro-9 for the biodiversity distribution readjustment thingy. <em>(beat)</em> Well, maybe that&#x2019;s not the best example.</dd>
<dt>SARAH</dt>
<dd>Er, no. But how about the time we used a squirrel to get into a locked van?</dd>
<dt>TRAINEE #1</dt>
<dd>Huh? You used a squirrel as a key?</dd>
<dt>SARAH</dt>
<dd>No, silly, it was inside the van. We just got it to let us in.</dd>
<dt>TAYA RAY</dt>
<dd>And then just the other day we used a cat to fetch us a sample of a poisonous plant.</dd>
<dt>TRAINEE #1</dt>
<dd><em>(A little nonplussed.)</em> Do all your creative solutions involve animals?</dd>
<dt>SARAH</dt>
<dd>Well, now you mention it, many of them have, but that&#x2019;s not really the point. You&#x2019;ve just got to use whatever is handy, including your brain.</dd>
<dt>TAYA RAY</dt>
<dd>And use it creatively.</dd>
<dt>TRAINEE</dt>
<dd><em>(Not exactly convinced.)</em> Oh-kay.</dd>
<dt>TAYA RAY</dt>
<dd>Good luck, and we&#x2019;ll see you on Friday!</dd>
</dl>


<p><em>Door shuts as trainee leaves.</em></p>


<dl><dt>SARAH</dt>
<dd>Let&#x2019;s hope that the other trainees are slightly less clueless, otherwise this is not going to end well.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Speaking to a room of trainees.)</em> Okay, we&#x2019;re ready to start. The first candidates to their assigned examiners now, please.</dd>
</dl>


<p><em>Door shuts and examiner and candidate take their seats.</em></p>


<dl><dt>SARAH</dt>
<dd>The first question is as follows. You have begun a level 4 gravity regulation protocol and the WTF reading is below the expected 2.5. What do you do?</dd>
<dt>TRAINEE #1</dt>
<dd><em>(Without confidence.)</em> Um, I wait in my ship for someone to tell me what to do?</dd>
</dl>


<p><em>Sound effect to indicate cutting between different trainees.</em></p>


<dl><dt>TRAINEE #2</dt>
<dd><em>(Confident, but very wrong.)</em> 2.5 is just a guideline. There&#x2019;s no danger. I&#x2019;d just carry on. Gravity never hurt anyone, right?</dd>
</dl>


<p><em>Sound effect to indicate cutting between different trainees.</em></p>


<dl><dt>TRAINEE #3</dt>
<dd><em>(Taya Ray-esque in her craziness, we come in part way through her answer)</em>&#x2026;and then I&#x2019;d connect that to the grav meter, light the match and stand well back.</dd>
<dt>SARAH</dt>
<dd>Ooh-kay. Next question. When introducing rock disintegration nanobots during a stage 2 decomposition procedure, you notice a change in oxygen saturation levels. What is the likely cause?</dd>
<dt>TRAINEE #3</dt>
<dd>I guess the nanobots must have exerted themselves too much and needed extra oxygen?</dd>
</dl>


<p><em>Sound effect to indicate cutting between different trainees.</em></p>


<dl><dt>TRAINEE #1</dt>
<dd>Maybe I used the wrong type of nanobot?</dd>
</dl>


<p><em>Sound effect to indicate cutting between different trainees.</em></p>


<dl><dt>TRAINEE #2</dt>
<dd>Fluctuations in oxygen levels are common during terraforming. It&#x2019;s just due to environmental factors. Nothing serious.</dd>
<dt>SARAH</dt>
<dd>(<em>He&#x2019;s so very wrong&#x2026;</em>) Right. <em>(beat)</em> You have created a class C bioluminescent lake, but the colour is unacceptable to your clients. What do you do?</dd>
<dt>TRAINEE #2</dt>
<dd>Poison the lake to kill off all the organisms and start again.</dd>
</dl>


<p><em>Sound effect to indicate cutting between different trainees.</em></p>


<dl><dt>TRAINEE #1</dt>
<dd>Beg their forgiveness and leave as quickly as I can?</dd>
</dl>


<p><em>Sound effect to indicate cutting between different trainees.</em></p>


<dl><dt>TRAINEE #3</dt>
<dd>Hand out coloured glasses to use whenever they look at the lake.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Genuine.)</em> Nice answer!</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>SARAH</dt>
<dd>Oh man. What a disaster! I don&#x2019;t think any of my guys gave a single answer that wouldn&#x2019;t have got them fired or have led to some form of serious injury. What were yours like?</dd>
<dt>TAYA RAY</dt>
<dd>Kinda the same. I mean, some of them sure were creative in their answers, but very, very wrong.</dd>
<dt>SARAH</dt>
<dd>What are we going to do? When we send Mr Spall the recordings, he&#x2019;s going to blame us for our trainees' incredible ineptitude and we&#x2019;ll never get off this gorram rock and back into some real terraforming!</dd>
<dt>TAYA RAY</dt>
<dd>Hey, I&#x2019;ve got an idea! Why don&#x2019;t we edit the audio a little? If we switched some of the answers around and chopped out the really crazy bits, maybe we could make them sound half competent? It wouldn&#x2019;t be cheating exactly...</dd>
<dt>SARAH</dt>
<dd>That&#x2019;s genius, Taya Ray! Let&#x2019;s do it! <em>(beat, remembering)</em> Wait, I thought Mr Spall said he was going to listen in live though? Oh no&#x2026; <em>(whispering)</em> Why&#x2019;s that red light on over there?!</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> You twonks!</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1657/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1842/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/168/index.html>The Signal: Season 6, Episode 8</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
