<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 20</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 20</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/95/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/97/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_320_20071025.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_320_20071025.mp3 download=signal_season03_20.mp3>Download audio file</a></div>
<div class=info>Thursday 25th October 2007</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:34</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div>Sending a Wavecard</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1005/96/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:31</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Bentley - Bellflower</li>
<li>Hans - Conversion story</li>
<li>Rob - Big Damn Collectors' Edition (<a href=../../../external.html#http://www.script-o-rama.com/movie_scripts/s/serenity-script-transcript-joss-whedon.html>Serenity transcript</a>)</li>
<li>Mary - Family</li>
<li>Music used is All That Has Come To Pass, by Floyd Salazar</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1007/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/77/index.html><img src=../../../image/image/104/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:40</td>
<td class=shownote><h3>Big Damn Test Kitchen</h3>
<h4>A Tale of Two Baos, Part 2</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/996/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:21:02</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.zap2it.com/tv/news/zap-alantudyknbcpilot%2C0%2C2448046.story>Alan Tudyk to star in new NBC pilot</a></li>
<li><a href=../../../external.html#http://carpedm.mypodcast.com/index.html>New podcast covers Serenity RPG</a></li>
<li><ul><li><a href=../../../external.html#http://carpedm.mypodcast.com/rss.xml>RSS feed</a></li>
</ul>
</li>
<li><a href=../../../external.html#http://whedonesque.com/comments/14494>Jane Espenson announces blog tour to promote &quot;Serenity Found&quot;</a></li>
<li><a href=../../../external.html#http://www.serenityrpg.com/features_articles.htm>Margaret Weis Productions to make new RPG products</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/10/09/the-serenity-lunch-box-is-now-two-serenity-lunchboxes/>Serenity Lunchbox becomes two</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/10/07/river-axe-and-reaver-sword-replicas-on-sale/>River axe and Reaver sword replicas on sale</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1006/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:40</td>
<td class=shownote><h3>QMx Malcolm Reynolds Stunt Pistol Replica Review</h3>
<p></p>
</td>
<td><a href=../../../segment/view/991/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.scottsigler.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:27:05</td>
<td class=shownote><h3>Promo: Scott Sigler</h3>
<h4>Nocturnal</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:28:08</td>
<td class=shownote><h3>Interview</h3>
<h4>QMx</h4>
<div>Mal's Pistol</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1009/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:08</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Blackout Zone</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/976/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:36</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 11: Laydeez</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1012/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/84/index.html><img src=../../../image/image/106/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:59:05</td>
<td class=shownote><h3>Moonbrained Mike</h3>
<h4>End of Season Sale</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; starring <a href=../../../human/view/8/index.html>James Parkinson</a>; featuring <a href=../../../human/view/14/index.html>Claire Musso</a> and <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/939/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:01:04</td>
<td class=shownote><h3>Music Section</h3>
<h4>Did you See Serenity?</h4>
<p>Music by <a href=../../../human/view/94/index.html>Stan Peal</a></p>
</td>
<td><a href=../../../segment/view/1008/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:04:13</td>
<td class=shownote><h3>QMx Blueprints Reference Pack Review</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/961/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:11:32</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div><a href=../../../external.html#http://www.mystudiyo.com/activity.php?act=520>A Firefly quiz</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1005/96/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:32</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:55<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/95/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/97/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3817>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
