<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Borderline</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Borderline</h1>
<div><div class=transport-bar><a href=../../../segment/view/675/index.html>First episode</a> &#x2022; <a href=../../../segment/view/675/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/52/index.html>Up</a> &#x2022; <a href=../../../segment/view/710/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/1581/index.html>Last episode</a></div>
<h2>Santo</h2>

<audio src=https://traffic.libsyn.com/secure/thesignal/signal_borderline_02.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_borderline_02.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/66/index.html>The Signal: Season 2, Episode 19</a></div>
<div>Four months ago, the Alliance began to enforce the declaration of Unification. Many of the Border and Rim worlds were happy to support Unification. Others, like Shadow, have declared open hostility toward the elected Parliament, with many of its young people volunteering to fight for independence. But most of the Border worlds are simply caught in the middle. How has the war affected them? We're here to find out.</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/7/index.html>Carolyn Parkinson</a></td>
<td>as Romana Ling</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Conrad Hallman</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/16/index.html>Trampas Whiteman</a></td>
<td>as Voiceover</td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/675/index.html>First episode</a> &#x2022; <a href=../../../segment/view/675/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/52/index.html>Up</a> &#x2022; <a href=../../../segment/view/710/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/1581/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/66/index.html>The Signal: Season 2, Episode 19</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
