<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/742/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/797/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/73/index.html>The Signal: Season 3, Episode 1</a></div>
<div><ul><li><a href=../../../external.html#http://blog.quantummechanix.com/?p=16>Video taken at Browncoats Backup Bash</a></li>
<li><a href=../../../external.html#http://community.livejournal.com/be_victims/13813.html>Personal statement regarding Flanvention II</a></li>
<li><a href=../../../external.html#http://browncoatcruise.com/>Browncoat cruise</a></li>
<li><a href=../../../external.html#http://www.fxshow.com/guests.htm>Adam Baldwin to appear at FX</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/12210>Farpoint loses Summer, gains Ron</a></li>
<li><a href=../../../external.html#http://www.browncoatball.com/future/>Bids for city for Browncoat Ball 2007 being considered</a></li>
<li><a href=../../../external.html#http://cantstoptheserenity.com/>Serenity charity screenings for June 2007</a></li>
<li><a href=../../../external.html#http://www.serenitysaturdays.blogspot.com/>Serenity Saturdays - Firefly on the big screen</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=11905>Firefly and Serenity in Amazon bestselling list</a></li>
<li><a href=../../../external.html#http://www.multiverse.net/>Firefly MMO</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/12/27/firefly-companion-vol-2-available-for-pre-order/>Firefly Companion Vol. 2 available for pre-order</a></li>
<li><a href=../../../external.html#http://www.scifi.com/scifiwire/index.php?category=4&amp;id=39281>Reaverized Serenity ornament</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/12/05/new-serenity-pvc-figures-from-dark-horse/>New Serenity PVC figures from Dark Horse</a></li>
<li><a href=../../../external.html#http://serenitytales.typepad.com/serenity_tales/2006/12/pretty_much_eve.html>Pretty Much Every 'Firefly' and 'Serenity' Webcomic Reference Ever (We Think)</a></li>
<li><a href=../../../external.html#http://quantummechanix.com>Limited Edition Money Packs ending Jan 31</a></li>
<li><a href=../../../external.html#http://quantummechanix.com>Limited Edition Serenity Blueprints</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/742/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/797/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/73/index.html>The Signal: Season 3, Episode 1</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
