<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1553/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1556/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>Xie xie, Browncoats</h2>
<div>First aired: <a href=../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>KAYLEE</dt>
<dd>Xie xie, captain!</dd>
</dl>


<p>A recent invitation to a Thanksgiving meal with some American friends got me thinking of what I have to be thankful for. Now of course the big things &#x2013; such as family, friends, a job I love, good health and so on &#x2013; are nothing to do with Firefly or Serenity. But as I started thinking about it, I realised that I could also come up with a pretty long list of reasons to be thankful that stem either directly or indirectly from being a part of the Firefly fandom.</p>


<dl><dt>SIMON</dt>
<dd>Thank you. I'm really, I&#x2019;m very deeply moved. Thank you.</dd>
</dl>


<p>For a start, I&#x2019;m simply grateful to have found a group of people who share my love for Firefly and Serenity. Being a fan is great, but being a fan and sharing the experience with other fans is miles better. My main contact with other Browncoats is via the internet, but even though we are geographically separated, our shared love brings us close together. Isn&#x2019;t it brilliant to be around people who &#x2013; rather than rolling their eyes or tolerating our love for Firefly with a bemused smile &#x2013;  just &#x201C;get it&#x201D;?</p>

<p>And these people are often the ones who know just what to say to cheer me up when I need it. I remember a couple of years ago returning from a slightly awkward work meeting. After a tiring day I was faced with the prospect of a four-hour journey home on dirt roads that had turned to mud in the rain. A friend texted me to ask how the meeting went and, quoting Mal&#x2019;s line to Patience from Serenity the pilot episode, said I should have told one of the attendees to &#x201C;Go run his little world.&#x201D; The smile that that text put on my face stayed there all the way home.</p>

<p>Thinking of journeys brings me to another reason to be thankful to the Firefly fandom &#x2013; podcasts. The Signal was the first podcast I listened to and it introduced me to a wonderful world of free entertainment that keeps me company on the twelve-hour bus trips I have to take from time to time. The Signal itself, of course, remains a firm favourite amongst the various podcasts I listen to now. There&#x2019;s nothing quite like listening to fellow fans talk about their love for Firefly, whether it be through conversion stories, articles about the show and the fandom, or simply the banter between segments.</p>

<p>And then later as I joined The Signal crew, I could be grateful for the fun that comes from being a part of creating a podcast. Suddenly I found myself writing stories for the first time since I left secondary school and having so much fun doing so I couldn&#x2019;t understand why I had ever stopped. I once wrote an entire episode of The Terraformers in the front of my diary while waiting for a bus in a town near Lake Victoria, of all places. Then my lines ended up being recorded by people thousands of miles away and put together into something that made me &#x2013; and hopefully others &#x2013; smile. What fun I would be missing out on without Firefly to have got me into this!</p>

<p>I&#x2019;m also grateful to Firefly for other new experiences it has led me to try out. When Those Left Behind came out, I found myself reading a comic for the first time as an adult. And, guess what? I enjoyed it! It was a short step from there to entering the world of webcomics. It wasn&#x2019;t just new media that Firefly has inspired me to try out though. Recently I decided to have a go at watching something from the Western genre, which I would not previously have considered. I watched the film Unforgiven, enjoyed it immensely and realised a whole new genre had opened up for me.</p>

<p>Another reason to be thankful to the Firefly fandom is for the suggestions of other Browncoats, which have got me into all sorts of fun stuff. On returning from a recent trip to the UK I used precious suitcase space for Dr Horrible and Dollhouse DVDs, plus books by Larry Niven and Orson Scott Card, all based on recommendations by fellow Browncoats. And now that I&#x2019;ve seen and read them for myself, and enjoyed all thoroughly, I have further evidence that Browncoats have great taste!</p>

<p>And as the years pass since the BDM came out, I&#x2019;m grateful to be part of a fandom that is full of hope and far from stagnant. The fandom is ever growing and ever moving forward. We continue to hear of fan-created content on its way and the recent news about QMX&#x2019;s deal with Fox to produce licenced Firefly collectibles is the very definition of shiny. As Browncoats we can be both grateful for what we have now and hopeful for what&#x2019;s to come.</p>


<dl><dt>JAYNE</dt>
<dd>But I want to thank y'all, for bein' here, and thinking so much of me...</dd>
</dl>


<p>So thank you, Joss Whedon, and everyone else involved in creating Firefly and Serenity. For creating something so special that in turn it inspired a very special fandom, which I am thankful to be a part of.</p>


<dl><dt>KAYLEE</dt>
<dd>Good work, Captain!</dd>
<dt>MAL</dt>
<dd>Thank you, Kaylee. Good day.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1553/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1556/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
