<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 5</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 5</h1>
<div><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/132/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/134/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_505_20090324.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_505_20090324.mp3 download=signal_season05_05.mp3>Download audio file</a></div>
<div class=info>Tuesday 24th March 2009</div>
Produced by Nick Edwards<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:09</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1381/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:51</td>
<td class=shownote><h3>Editorial</h3>
<h4>Jayne's Hat</h4>
<p>Written by <a href=../../../human/view/24/index.html>Jenn Baldwin</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1364/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/130/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:06:57</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Neverwhere</h4>
<div><ul><li><a href=../../../external.html#http://www.amazon.co.uk/Neverwhere-Complete-BBC-Gary-Bakewell/dp/B000MGB100/>Listing on Amazon UK</a></li>
<li><a href=../../../external.html#http://www.amazon.com/Neil-Gaimans-Neverwhere-Gary-Bakewell/dp/B0000A14WF>Listing on Amazon.com</a></li>
<li><a href=../../../external.html#http://www.imdb.com/title/tt0115288/>Listing on IMDB</a></li>
</ul>
</div>
<p></p>
</td>
<td><a href=../../../segment/view/1355/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/112/index.html><img src=../../../image/image/116/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:18:45</td>
<td class=shownote><h3>They've All Got Stories</h3>
<h4>Zo&#x00EB; Washburne: Tough But Not Hard</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a></p>
</td>
<td><a href=../../../segment/view/1377/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/117/index.html><img src=../../../image/image/125/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:50</td>
<td class=shownote><h3>What's in a Signal?</h3>
<h4>The Tale of the 'Verse</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1366/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:37:35</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Dustin Cooper with a technical question</li>
<li>David O'Reilly in Ireland has a story</li>
<li>Ruby from Scotland comments on our Season 5 episodes</li>
<li>Corey sends us an MP3</li>
<li>David tells us how he listens to the show</li>
<li>Chris in New Zealand tells us about his conversion</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1374/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:30</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 2: Terror of the Bug-Eyed Monster</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1367/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:34</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/19461>Firefly wins &quot;Show We&#x2019;d Bring Back&quot; award from Hulu.com</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/19474>Jewel Staite scheduled to appear at the Calgary Comic & Entertainment Expo</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/mthread.asp?b=2&amp;t=37181>A Browncoat is back in the Black for real</a></li>
<li><a href=../../../external.html#http://www.tvguide.com/News/Pilot-Baccarin-Blanchard-1003805.aspx>Morena Baccarin has been cast in a pilot on ABC</a></li>
<li><a href=../../../external.html#http://fireflycruise.wordpress.com/2009/03/10/cruise-postponed/>Browncoat Cruise 2 has been indefinitely postponed</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1384/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.podculture.net><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:59:22</td>
<td class=shownote><h3>Promo: Podculture</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:32</td>
<td class=shownote><h3>Music Section</h3>
<h4>Of Mercy</h4>
<p>Music by <a href=../../../human/view/128/index.html>Browncoat</a></p>
</td>
<td><a href=../../../segment/view/1385/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:04:01</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:04:24<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/132/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/134/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4724>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
