<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1563/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1586/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>We Make our Own Path</h2>
<div>First aired: <a href=../../../show/view/158/index.html>The Signal: Season 6, Episode 1</a></div>
<div><ul><li><a href=../../../external.html#http://www.geekyclean.com>Browncoat Field Ration</a></li>
<li><a href=../../../external.html#http://www.serenityverse.com>Jessi's Jewelry</a></li>
<li><a href=../../../external.html#http://www.serenitygear.com>Jayne Leather Cuffs</a></li>
<li><a href=../../../external.html#http://www.cafepress.com/10thcrew>T-Shirts and Oval Stickers</a></li>
<li><a href=../../../external.html#http://www.abbyshot.com>Jayne Hat Hoodie</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/23/index.html>Anna Snyder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/23/index.html>Anna Snyder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1563/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1586/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/158/index.html>The Signal: Season 6, Episode 1</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
