<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Interview</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Interview</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/87/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/149/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/48/2/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Michelle Dockrey</td>
<td>The Signal: Season 1, Episode 3</td>
<td><a href=../../../segment/view/63/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Adam Baldwin</td>
<td>The Signal: Season 1, Episode 4<br>The Signal: Season 7, Episode 13.1: Blast from the Past, part one</td>
<td><a href=../../../segment/view/81/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Gina Torres</td>
<td>The Signal: Season 1, Episode 5<br>The Signal: Season 7, Episode 13.4: Blast from the Past, part two</td>
<td><a href=../../../segment/view/109/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Ron Glass</td>
<td>The Signal: Season 1, Episode 6</td>
<td><a href=../../../segment/view/122/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Greg Edmonson</td>
<td>The Signal: Season 1, Episode 7</td>
<td><a href=../../../segment/view/142/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Jewel Staite</td>
<td>The Signal: Season 1, Episode 8.5</td>
<td><a href=../../../segment/view/164/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Morena Baccarin</td>
<td>The Signal: Season 1, Episode 12<br>The Signal: Season 1, Episode 16.6: Bits of the Signal</td>
<td><a href=../../../segment/view/206/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Nathan and Sandra Town</td>
<td>The Signal: Season 1, Episode 12.5: Dragon*Con 2005 Bonus Show<br>The Signal: Season 7, Episode 13.5: Blast from the Past, part three</td>
<td><a href=../../../segment/view/249/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Keith R. A. DeCandido</td>
<td>The Signal: Season 1, Episode 13</td>
<td><a href=../../../segment/view/261/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Tracy Hickman</td>
<td>The Signal: Season 1, Episode 15</td>
<td><a href=../../../segment/view/273/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Bedlam Bards</td>
<td>The Signal: Season 1, Episode 16.7: December Bonus Show</td>
<td><a href=../../../segment/view/329/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Chris Buchanan</td>
<td>The Signal: Season 1, Episode 17.1: Solstice Special, part 1</td>
<td><a href=../../../segment/view/363/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>David Newman</td>
<td>The Signal: Season 2, Episode 5</td>
<td><a href=../../../segment/view/410/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The One True B!x</td>
<td>The Signal: Season 2, Episode 13</td>
<td><a href=../../../segment/view/512/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Firefly Music Project</td>
<td>The Signal: Season 2, Episode 15</td>
<td><a href=../../../segment/view/617/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>QMx</td>
<td>The Signal: Season 2, Episode 16</td>
<td><a href=../../../segment/view/646/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Tracy and Laura Hickman</td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/660/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Andrew Dorfman and Jack Ward</td>
<td>The Signal: Season 2, Episode 18</td>
<td><a href=../../../segment/view/680/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Serenity Tales</td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/695/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Done the Impossible</td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/705/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Multiverse</td>
<td>The Signal: Season 3, Episode 2</td>
<td><a href=../../../segment/view/732/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Big Damn Chefs</td>
<td>The Signal: Season 3, Episode 4</td>
<td><a href=../../../segment/view/814/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Old Wounds</td>
<td>The Signal: Season 3, Episode 5</td>
<td><a href=../../../segment/view/836/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>QMx</td>
<td>The Signal: Season 3, Episode 6</td>
<td><a href=../../../segment/view/850/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Bellflower</td>
<td>The Signal: Season 3, Episode 9</td>
<td><a href=../../../segment/view/860/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Can't Stop the Serenity</td>
<td>The Signal: Season 3, Episode 11.5</td>
<td><a href=../../../segment/view/901/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>JC Hutchins</td>
<td>The Signal: Season 3, Episode 12</td>
<td><a href=../../../segment/view/929/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Into the Black</td>
<td>The Signal: Season 3, Episode 13</td>
<td><a href=../../../segment/view/937/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Wayne Hutchinson</td>
<td>The Signal: Season 3, Episode 13.5</td>
<td><a href=../../../segment/view/947/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>QMx</td>
<td>The Signal: Season 3, Episode 15</td>
<td><a href=../../../segment/view/955/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Martin Firrell</td>
<td>The Signal: Season 3, Episode 16</td>
<td><a href=../../../segment/view/975/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Brian Wiser</td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/981/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Tabz</td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/989/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>PJ Haarsma</td>
<td>The Signal: Season 3, Episode 18</td>
<td><a href=../../../segment/view/995/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Brian Wiser</td>
<td>The Signal: Season 3, Episode 19</td>
<td><a href=../../../segment/view/1000/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>QMx</td>
<td>The Signal: Season 3, Episode 20</td>
<td><a href=../../../segment/view/1009/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Jane Espenson</td>
<td>The Signal: Season 3, Episode 22</td>
<td><a href=../../../segment/view/1020/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>George Hrab</td>
<td>The Signal: Season 3, Episode 23</td>
<td><a href=../../../segment/view/1041/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Persephone Pickers</td>
<td>The Signal: Season 3, Episode 23.5: Persephone Pickers Special</td>
<td><a href=../../../segment/view/1067/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Scott Allie</td>
<td>The Signal: Season 4, Episode 6</td>
<td><a href=../../../segment/view/1076/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Beth Nelson</td>
<td>The Signal: Season 4, Episode 10</td>
<td><a href=../../../segment/view/1148/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Andy Gore</td>
<td>The Signal: Season 4, Episode 12</td>
<td><a href=../../../segment/view/1184/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>California Browncoats</td>
<td>The Signal: Season 4, Episode 13</td>
<td><a href=../../../segment/view/1216/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Jason Palmer</td>
<td>The Signal: Season 4, Episode 13.5</td>
<td><a href=../../../segment/view/1225/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Jack Ward and Shannon Hilchie</td>
<td>The Signal: Season 4, Episode 15.5</td>
<td><a href=../../../segment/view/1233/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Steven Brust</td>
<td>The Signal: Season 4, Episode 16</td>
<td><a href=../../../segment/view/1258/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Nathan Town</td>
<td>The Signal: Season 4, Episode 20</td>
<td><a href=../../../segment/view/1262/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Andy Gore</td>
<td>The Signal: Season 4, Episode 21</td>
<td><a href=../../../segment/view/1297/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Marian Call and Andy Gore</td>
<td>The Signal: Season 4, Episode 22</td>
<td><a href=../../../segment/view/1316/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Beth Nelson</td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1323/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>MJ and Bentley of Bellflower</td>
<td>The Signal: Season 5, Episode 3</td>
<td><a href=../../../segment/view/1340/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Sonny Rhodes</td>
<td>The Signal: Season 5, Episode 4</td>
<td><a href=../../../segment/view/1376/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Bentley Ousley of Bellflower</td>
<td>The Signal: Season 5, Episode 6</td>
<td><a href=../../../segment/view/1386/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Browncoats: Redemption</td>
<td>The Signal: Season 5, Episode 7</td>
<td><a href=../../../segment/view/1405/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Bellflower CGI</td>
<td>The Signal: Season 5, Episode 9</td>
<td><a href=../../../segment/view/1415/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Anne Barringer</td>
<td>The Signal: Season 5, Episode 11</td>
<td><a href=../../../segment/view/1435/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Phil Rossi</td>
<td>The Signal: Season 5, Episode 12</td>
<td><a href=../../../segment/view/1450/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>JC Hutchins</td>
<td>The Signal: Season 5, Episode 12.5: JC Hutchins Interview</td>
<td><a href=../../../segment/view/1458/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Andy Gore</td>
<td>The Signal: Season 5, Episode 13</td>
<td><a href=../../../segment/view/1465/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dae Low</td>
<td>The Signal: Season 5, Episode 14.5: Browncoat Ball Special</td>
<td><a href=../../../segment/view/1473/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Browncoats</td>
<td>The Signal: Season 5, Episode 19</td>
<td><a href=../../../segment/view/1485/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>QMx</td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1566/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Abbeyshot</td>
<td>The Signal: Season 6, Episode 1</td>
<td><a href=../../../segment/view/1589/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Browncoats Redemption</td>
<td>The Signal: Season 6, Episode 2</td>
<td><a href=../../../segment/view/1602/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Ben Mund</td>
<td>The Signal: Season 6, Episode 4</td>
<td><a href=../../../segment/view/1632/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Michael Dougherty</td>
<td>The Signal: Season 6, Episode 9</td>
<td><a href=../../../segment/view/1728/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Can't Stop the Serenity 2010</td>
<td>The Signal: Season 6, Episode 10</td>
<td><a href=../../../segment/view/1810/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>QMx</td>
<td>The Signal: Season 6, Episode 13</td>
<td><a href=../../../segment/view/1837/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Wayne Hutchinson</td>
<td>The Signal: Season 6, Episode 12</td>
<td><a href=../../../segment/view/1865/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Browncoats Redemption</td>
<td>The Signal: Season 6, Episode 14.4: Live at Dragon*Con 2010</td>
<td><a href=../../../segment/view/1948/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>QMx</td>
<td>The Signal: Season 6, Episode 14.4: Live at Dragon*Con 2010</td>
<td><a href=../../../segment/view/1949/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Michael Dougherty</td>
<td>The Signal: Season 6, Episode 15</td>
<td><a href=../../../segment/view/1952/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mike Dougherty</td>
<td>The Signal: Season 7, Episode 2</td>
<td><a href=../../../segment/view/2165/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Heather Fagan</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2196/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>John Mullaney</td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2217/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Melissa Honig - Browncoat Ball</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2245/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mikey Mason</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2312/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Denise Gary</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2328/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Marc Gunn &amp; Cedric</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2373/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Lisa Anderson of Whedonfest 2011</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2389/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Andy Gore</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2413/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Browncoats</td>
<td>The Signal: Season 7, Episode 14</td>
<td><a href=../../../segment/view/2416/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mike Doherty (Redemption)</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2448/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Mike Dougherty</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2520/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Jane Espenson</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2724/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Patric Reynolds</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2779/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Marian Call</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2791/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>GB Hajim</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2803/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Firefly Online</td>
<td>The Signal: Season 9, Episode 6</td>
<td><a href=../../../segment/view/2954/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Scott Allie (Dark Horse Comics)</td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2959/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>MWP (Part 2)</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3008/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>MWP Interview</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/3075/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Julian Higgins</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3110/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Morena Baccarin</td>
<td>The Signal: Season 10, Episode 5.1: The Last....Bonus Show!</td>
<td><a href=../../../segment/view/3169/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Andrea Romano</td>
<td>The Signal: Season 10, Episode 5.1: The Last....Bonus Show!</td>
<td><a href=../../../segment/view/3172/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>QMx and Sparkplug Games talk FFO</td>
<td>The Signal: Season 10, Episode 5.1: The Last....Bonus Show!</td>
<td><a href=../../../segment/view/3174/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/87/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/149/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
