<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Steve Kaszycki</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Steve Kaszycki</h1>
<div><h2>Website</h2>
<p><a href=../../../external.html#http://www.leafontheweb.com>External website</a></p>
<h2>Segments written by Steve Kaszycki</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>A Tale of Two Crews</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2572/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>A Tale of Two Equilibria</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2376/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Analyzing Laura</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2452/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Analyzing Unification Day</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2595/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Defending the Alliance</td>
<td>The Signal: Season 9, Episode 4</td>
<td><a href=../../../segment/view/2887/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: Moments of Irrational Optimism</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2356/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Editorial: Introducing Lost and Found</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2738/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: Life on the Move</td>
<td>The Signal: Season 9, Episode 3</td>
<td><a href=../../../segment/view/2893/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Everyone Lies</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2673/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly and Me: Better Late than Even Later</td>
<td>The Signal: Season 7, Episode 1</td>
<td><a href=../../../segment/view/2171/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Steve's Choice</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2212/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Life on the Raggedy Edge</td>
<td>The Signal: Season 7, Episode 9</td>
<td><a href=../../../segment/view/2324/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Listener Article: When does Mal Kill?</td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1879/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Listener Article: What's in a Name?</td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1935/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Listener Article: Meet the Crew</td>
<td>The Signal: Season 6, Episode 18.1</td>
<td><a href=../../../segment/view/1957/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Listener Article: A New Look at Shepherd Book</td>
<td>The Signal: Season 6, Episode 18.1</td>
<td><a href=../../../segment/view/1997/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Out of Renewable Biofuel</td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2841/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Passion of Mal</td>
<td>The Signal: Season 9, Episode 8</td>
<td><a href=../../../segment/view/2960/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Reaver Chase: The Game</td>
<td>The Signal: Season 7, Episode 1</td>
<td><a href=../../../segment/view/2161/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Redressing the Balance</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2453/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Resistance in the 'Verse</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2699/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: Alliance Inaction, Considered</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2246/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: For What Was the Alliance Training River?</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2313/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: What is the Backstory of the Operative?</td>
<td>The Signal: Season 7, Episode 9</td>
<td><a href=../../../segment/view/2351/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: Reaver Expansion</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2380/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: What's Patience's Game Plan?</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2496/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: What Did The Operative Want?</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2502/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: Is the Alliance a Democracy?</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2626/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: Keeping Time in the 'Verse</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2628/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: The Military Industrial Complex of the 'Verse</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2705/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: Companion Supply and Demand</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2718/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: The Political Economy of the 'Verse</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2719/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: How'd Mal Pay for Serenity?</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2757/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: The Beginning of the End?</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2863/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: Reputation</td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2880/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: Health and Medicine</td>
<td>The Signal: Season 9, Episode 4</td>
<td><a href=../../../segment/view/2924/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Bipolar World of Malcolm Reynolds</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2636/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Clothes and the Characters</td>
<td>The Signal: Season 7, Episode 2</td>
<td><a href=../../../segment/view/2181/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Clothes and the Characters, Part II</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2219/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Heroes of Firefly</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2392/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Industrial Characters of the 'Verse</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2266/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Value of Life, Part 1</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2435/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote Patience</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2216/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Vote Niska</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2235/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote Badger</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2273/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Vote Sheriff Bourne</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2320/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Don't Vote Badger</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2338/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Vote Jayne</td>
<td>The Signal: Season 7, Episode 9</td>
<td><a href=../../../segment/view/2363/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Debate</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2372/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Interview: Mo Wenti</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2388/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Interview: Badger headquarters</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2399/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Interview: Niska Headquarters</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2498/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote: Election Day</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2588/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>What's in a Signal?: Speculating, Signal Style</td>
<td>The Signal: Season 7, Episode 14</td>
<td><a href=../../../segment/view/2447/index.html>shownotes</a></td>
</tr>
<tr class=even><td>What's in a Signal?: Levels of Analysis</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2566/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments read by Steve Kaszycki</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Editorial: Introducing Lost and Found</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2738/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Redressing the Balance</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2453/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: What's Patience's Game Plan?</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2496/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>What's in a Signal?: Speculating, Signal Style</td>
<td>The Signal: Season 7, Episode 14</td>
<td><a href=../../../segment/view/2447/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments featuring Steve Kaszycki</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Earthburn: Imagine what Tomorrow could be Like</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2693/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote Badger</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2273/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Steve Kaszycki</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Banter</td>
<td>The Signal: Season 7, Episode 13.5: Blast from the Past, part three</td>
<td><a href=../../../segment/view/2487/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Redemption Talk</td>
<td>The Signal: Season 7, Episode 13.3: Redemption Talk</td>
<td><a href=../../../segment/view/2460/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
