<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 1</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 1</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/45/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_001_20060201.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_001_20060201.mp3 download=signal_season01_01.mp3>Download audio file</a></div>
<div class=info>Wednesday 1st February 2006</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:20</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 7</h4>
<div>Les and Kevin introduce the show and talk about
<ul><li>What this podcast is all about</li>
<li>What happened to Kari</li>
<li>The different incarnations of the Serenity DVD</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/404/44/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:23</td>
<td class=shownote><h3>A Beginner's Guide to Serenity</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/405/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:08:50</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 7</h4>
<div>Les and Kevin talk about the Spoilers Serenity commentary.</div>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/404/44/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/44/index.html><img src=../../../image/image/56/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:41</td>
<td class=shownote><h3>Captain Reynolds' Way</h3>
<h4>Lesson 1: Selecting and Organizing a Strong Crew</h4>
<p>Written by <a href=../../../human/view/9/index.html>Clay McClure</a>; read by <a href=../../../human/view/9/index.html>Clay McClure</a></p>
</td>
<td><a href=../../../segment/view/450/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:14:55</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 7</h4>
<div>Les and Kevin talk about
<ul><li>The links page</li>
<li>The crew page</li>
<li>Done the Impossible</li>
<li>Serenity paper model</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/404/44/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:45</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>I Con convention</li>
<li>Moonlight Rising convention</li>
<li>Dragon*Con convention</li>
<li>Serenity Cubed convention</li>
<li>The Big Damned Flanvention II convention</li>
<li>Done the Impossible to premiere at WonderCon</li>
<li>Dragon*Con 2005 panel video</li>
<li>Nathan, Morena, and Summer at will be appearing at Grand Slam fourteen</li>
<li>Jewel Staite will be appearing at Hub Productions Presents</li>
<li>Serenity DVD release dates</li>
<li>Serenity Trade Paperback</li>
<li>Unofficial Firefly Episode Guide</li>
<li>Serenity Zippo lighter</li>
<li>Serenity ornament</li>
<li>Serenity Trading cards from Non Sport Update</li>
<li>Titan Books acquire rights for Firefly: The Official Companion</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/407/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:19:45</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/451/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:24:37</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 7</h4>
<div>Les and Kevin talk about
<ul><li>Firefly Talk</li>
<li>DragonHearth</li>
<li>Josscentricality</li>
<li>Derek from Skepticality</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/404/44/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.skepticality.com><img src=../../../image/image/45/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:26:59</td>
<td class=shownote><h3>Promo: Skepticality</h3>
<h4>Skeptical Toads</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:53</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Firefly</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/452/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://dragonhearthproductions.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:37:23</td>
<td class=shownote><h3>Promo: DragonHearth</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/47/index.html><img src=../../../image/image/59/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:38:40</td>
<td class=shownote><h3>Adventures in Serenity</h3>
<h4>Part 1</h4>
<p>Written by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; read by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; edited by <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/453/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:46:10</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 5 of 7</h4>
<div>Les and Kevin talk about
<ul><li>Our forum</li>
<li>Our frappr map</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/404/44/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:39</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Mike - conversion story from the podcast</li>
<li>The One True Bix - cinemas still running Serenity and the Sessions story</li>
<li>Anthony - Blue Sun shirt on CTRL+ALT+DEL</li>
<li>Maia - conversion story and guerrilla marketing at the Starfest convention</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/408/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:55:56</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 6 of 7</h4>
<div>Les and Kevin talk about
<ul><li>Using a podcatching client</li>
<li>Our mailing list</li>
<li>Using a newsreading client</li>
<li>Season 1 of the Signal</li>
<li>The Firefly Technical Manual</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/404/44/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:22</td>
<td class=shownote><h3>The Man they call Jayne</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/406/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:04:15</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Hero of Canton (sans dialog)</h4>
<p>Music by <a href=../../../human/view/30/index.html>Ben Edlund</a> and <a href=../../../human/view/29/index.html>Greg Edmonson</a></p>
</td>
<td><a href=../../../segment/view/409/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:07:58</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 7 of 7</h4>
<div>Les and Kevin talk about voting for the Signal</div>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/404/44/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:09:54</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Ballad of Serenity (cover)</h4>
<div>performed by
<ul><li>Tree Leyburn (vocals)</li>
<li>Henry Kaiser (guitar)</li>
<li>Joe Rut (guitar)</li>
<li>John Hanes (drums)</li>
<li>Dave Jess (bass)</li>
</ul>
</div>
<p></p>
</td>
<td><a href=../../../segment/view/460/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:11:07<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/45/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2062>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
