<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4, Episode 12</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4, Episode 12</h1>
<div><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/112/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/114/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_412_20080701.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_412_20080701.mp3 download=signal_season04_12.mp3>Download audio file</a></div>
<div class=info>Tuesday 1st July 2008</div>
Produced by Kari Haley<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/114/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 4 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:00:42</td>
<td class=shownote><h3>Banter</h3>
<div><ul><li>Kari's Vacation</li>
<li>Surpassing 1.5 million downloads</li>
<li>Can't Stop the Serenity 2008 screenings</li>
<li>Phantom Screenings</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1199/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:01</td>
<td class=shownote><h3>Review of Ben Mund's QMx Serenity Valley Lithograph</h3>
<div><ul><li><a href=../../../external.html#http://www.qmxonline.com/>QMx</a></li>
<li><a href=../../../external.html#http://www.quantummechanix.com/serenityvalley.html>Serenity Valley Lithograph</a></li>
</ul>
</div>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1171/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:55</td>
<td class=shownote><h3>Interview</h3>
<h4>Andy Gore</h4>
<div>Interview with Andy Gore from <a href=../../../external.html#http://www.qmxonline.com/>QMx</a> about the <a href=../../../external.html#http://www.fireflyshipworks.com/>Firefly Shipworks</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1184/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/105/index.html><img src=../../../image/image/197/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:46:22</td>
<td class=shownote><h3>What's Your Serenity?</h3>
<h4>IV</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1157/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></td>
<td>0:53:30</td>
<td class=shownote><h3>Promo: Lara Bond</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/112/index.html><img src=../../../image/image/116/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:33</td>
<td class=shownote><h3>They've All Got Stories</h3>
<h4>Jayne's Morality</h4>
<p>Written by <a href=../../../human/view/21/index.html>Merry King</a>; read by <a href=../../../human/view/21/index.html>Merry King</a></p>
</td>
<td><a href=../../../segment/view/1208/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:52</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/16640>Special Give-Aways During Firefly on Universal HD</a></li>
<li><a href=../../../external.html#http://www.tfaw.com/Profile/Serenity%3A-Better-Days-TPB___324277>Serenity Better Days TPB Available for preorder</a></li>
<li><a href=../../../external.html#http://www.whedon.info/Scott-Allie-Serenity-Shepherd-s.html>Scott Allie - &quot;Serenity : Shepherd&#x2019;s Tale&quot; Comic Book & Comicmix.com Interview</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16607>New podcast interview with Nathan Fillion</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16579>Serenity Adventures available for pre-order</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16572>Some more Serenity Tales</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/06/10/get-the-ultimate-browncoat-book-collection-from-kids-need-to-read/>Get the Ultimate Browncoat Book Collection from Kids Need to Read</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1200/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:02:11</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1201/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:10:13</td>
<td class=shownote><h3>Joss's new summer release: Dr. Horrible's Sing-Along Blog</h3>
<p></p>
</td>
<td><a href=../../../segment/view/1172/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:30</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Isleen Moore version (and horses)</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:11:53<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/112/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/114/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4393>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
