<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 13</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 13</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/87/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/89/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_313_20070719.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_313_20070719.mp3 download=signal_season03_13.mp3>Download audio file</a></div>
<div class=info>Thursday 19th July 2007</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:25</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/932/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:58</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>The Cortex</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/925/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:50</td>
<td class=shownote><h3>Interview</h3>
<h4>Into the Black, part 1 of 2</h4>
<div>Interview with the crew of <a href=../../../external.html#http://intotheblack.ca>Into the Black</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/937/88/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:32</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://cantstoptheserenity.com/>Can't Stop The Serenity raises more than US$100,000 for Equality Now</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/07/02/qmx-becomes-first-charter-sponsor-of-cant-stop-the-serenity/>QMx becomes first charter sponsor of Can&#x2019;t Stop the Serenity</a></li>
<li><a href=../../../external.html#http://www.martinfirrell.com/supersecretthingy.html>Nathan takes part in Martin Firrell video, Hero</a></li>
<li><a href=../../../external.html#http://www.mxsportz.com/invasions/games/10/index.html>Firefly Paintball Game</a></li>
<li><a href=../../../external.html#http://FireflyMission.com/>Firefly on the Big Screen</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13632>Joss Whedon's Comic-Con panel Officially Announced</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13610>iF Magazine interviews Morena Baccarin about Heartland</a></li>
<li><a href=../../../external.html#http://cdbaby.com/cd/persephonepickers>Persephone Pickers album now available</a></li>
<li><a href=../../../external.html#http://www.comicscontinuum.com/stories/0707/10/darkhorseoct.htm>Serenity Ornament: Inara's Shuttle due in Feb</a></li>
<li><a href=../../../external.html#http://www.creationent.com/se/index.htm>Officially Licensed Serenity U.S. Postage Stamps</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13689>Zoe's Revenge Statue</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/07/06/new-serenity-stencil-tee>New Serenity stencil tee shirt</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/07/08/more-new-serenity-shirts/>More new Serenity shirts</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/934/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/40/index.html><img src=../../../image/image/61/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:38:31</td>
<td class=shownote><h3>Signal Promo</h3>
<h4>Borderline</h4>
<p></p>
</td>
<td><a href=../../../segment/view/941/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:40:13</td>
<td class=shownote><h3>Interview</h3>
<h4>Into the Black, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/937/88/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:32</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Sheena - &quot;Hands&quot;</li>
<li>Odile - Thank you and Serenity money</li>
<li>Bob - Zoe and <a href=../../../external.html#http://www.serenitystuff.com/2006/07/01/the-earlier-longer-script-for-serenity>the earlier Serenity script</a></li>
<li>Ziv - <a href=../../../external.html#http://www.serenitystuff.com/saffron/entries.htm>Sing a Song of Saffron</a></li>
<li>Shane - Lover's Knot</li>
<li>Music used is All That Has Come To Pass, by Floyd Salazar</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/935/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://buffybetweenthelines.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:09:34</td>
<td class=shownote><h3>Promo: Buffy between the Lines</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:02</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:11:26<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/87/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/89/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3644>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
