<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 8, Episode 12.2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 8, Episode 12.2</h1>
<div><h2>The Signal Live 2012 at DragonCon</h2>
<div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/236/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/237/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_0812.2_20120920.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_0812.2_20120920.mp3 download=signal_season08_12.2.mp3>Download audio file</a></div>
<div class=info>Thursday 20th September 2012</div>
Produced by Les Howard<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/206/3/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 8 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:07</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/23/index.html>Anna Snyder</a>, <a href=../../../human/view/479/index.html>Bindiya Dale</a>, <a href=../../../human/view/485/index.html>Craig Kurumada</a>, <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2799/238/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:35</td>
<td class=shownote><h3>Interview</h3>
<h4>GB Hajim</h4>
<div>GB Hajim joins the crew live at Dragon*Con to talk about his film Strange Frame. The cast includes Firefly alumni Ron Glass and Alan Tudyk and the story. Strange Frame was judged Best Film at Dragon*Con. More details are available at:<p>../../../external.html#http://strangeframe.com</p>
</div>
<p>Hosted by <a href=../../../human/view/23/index.html>Anna Snyder</a>, <a href=../../../human/view/479/index.html>Bindiya Dale</a>, <a href=../../../human/view/485/index.html>Craig Kurumada</a>, <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2803/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:02</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2801/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:32</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Juggling Geese</h4>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2789/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:16:35</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>The crew discuss the fan film Bellflower, the first few minutes of which were premiered at Dragon*Con to the Signal's live show audience. Look out for a wider release shortly. For info at: ../../../external.html#http://thebellflower.com</div>
<p>Hosted by <a href=../../../human/view/23/index.html>Anna Snyder</a>, <a href=../../../human/view/479/index.html>Bindiya Dale</a>, <a href=../../../human/view/485/index.html>Craig Kurumada</a>, <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2799/238/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:04</td>
<td class=shownote><h3>In Character Live Q&amp;A Session</h3>
<div>Our crew at Dragon Con answer questions from the audience, but&#x2026; as one of their characters from a Signal audio drama.</div>
<p>Written by <a href=../../../human/view/2/index.html>Les Howard</a>; hosted by <a href=../../../human/view/23/index.html>Anna Snyder</a>, <a href=../../../human/view/479/index.html>Bindiya Dale</a>, <a href=../../../human/view/485/index.html>Craig Kurumada</a>, <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2810/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:41:40</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:42:16<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/236/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/237/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
