<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 4</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 4</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/77/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/79/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_304_20070301.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_304_20070301.mp3 download=signal_season03_04.mp3>Download audio file</a></div>
<div class=info>Thursday 1st March 2007</div>
Produced by James Parkinson<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:45</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div><ul><li>Nicholas Brendon in <a href=../../../external.html#http://imdb.com/title/tt0471561/>Fire Serpent</a></li>
<li><a href=../../../external.html#http://www.jchutchins.net/7Son/Home/Home.html>Seventh Son</a></li>
<li>Gina Torres in <a href=../../../external.html#http://imdb.com/title/tt0770772/>I Think I Love my Wife</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/818/78/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:03:34</td>
<td class=shownote><h3>Music Section</h3>
<h4>Approaching the Training House, part 1 of 2</h4>
<p>Music by <a href=../../../human/view/34/index.html>David Newman</a></p>
</td>
<td><a href=../../../segment/view/822/78/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:20</td>
<td class=shownote><h3>What if we Don't?</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/791/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:09:02</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div><ul><li>Alien life</li>
<li>Alien food</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/818/78/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:22</td>
<td class=shownote><h3>Interview</h3>
<h4>Big Damn Chefs, part 1 of 2</h4>
<div>Les and Carolyn interview Julesong, from Big Damn Chefs</div>
<p>Hosted by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/814/78/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://heroescast.libsyn.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:29:26</td>
<td class=shownote><h3>Promo: The 9th</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/50/index.html><img src=../../../image/image/63/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:34</td>
<td class=shownote><h3>Gaming in the 'Verse</h3>
<h4>The Unification War</h4>
<p>Written by <a href=../../../human/view/16/index.html>Trampas Whiteman</a>; read by <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/801/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:34:13</td>
<td class=shownote><h3>Interview</h3>
<h4>Big Damn Chefs, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/814/78/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:51:35</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.kodakgallery.com/ShareLandingReg.jsp?Uc=ekhorlf.24ok35ob&amp;Uy=-bjbomd&amp;Upost_signin=Slideshow.jsp%3Fmode=fromshare&amp;Ux=0&amp;UV=325170865826_762080626403>Firefly in Space</a></li>
<li><a href=../../../external.html#http://www.amazon.com/Firefly-Music-Original-Television-Soundtrack/dp/142342056X/sr=8-2/qid=1172301846/ref=pd_bbs_sr_2/103-1137366-3065406?ie=UTF8&amp;s=books>Firefly sheet music book available for pre-order</a></li>
<li><a href=../../../external.html#http://www.jchutchins.net/7Son/Home/Home.html>Ron Glass on Seventh Son</a></li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com>Serenity Serenity double bill</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/820/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/77/index.html><img src=../../../image/image/104/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:21</td>
<td class=shownote><h3>Big Damn Test Kitchen</h3>
<h4>Too Gorram Easy Baked Fish and Chicken Throw-Together Wraps</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/830/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:31</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div><ul><li>New writer needed for Gaming in the 'Verse</li>
<li>New crew member Nick Edwards</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/818/78/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:58:46</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Gangstas in da 'Verse</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/825/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.fireflytalk.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:07:14</td>
<td class=shownote><h3>Promo: Firefly Talk</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/75/index.html><img src=../../../image/image/101/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:08:26</td>
<td class=shownote><h3>Expanding the 'Verse</h3>
<h4>The Second Browncoat Cookbook</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/826/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:10:10</td>
<td class=shownote><h3>Music Section</h3>
<h4>Approaching the Training House, part 2 of 2</h4>
<div>(and this time with dialog).</div>
<p>Music by <a href=../../../human/view/34/index.html>David Newman</a></p>
</td>
<td><a href=../../../segment/view/822/78/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:11:10</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div><ul><li><a href=../../../external.html#http://www.podcastalley.com/one_vote2.php?pod_id=5174>Podcast Alley</a></li>
<li>Spread the word</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/818/78/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:39</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:12:03<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/77/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/79/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3407>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
