<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Doug Moran</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Doug Moran</h1>
<div><h2>Segments written by Doug Moran</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Dear BDH: Dear Jayne: Snake</td>
<td>The Signal: Season 2, Episode 16</td>
<td><a href=../../../segment/view/654/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dear BDH: Dear Inara: Unified</td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/663/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Dear BDH: Dear Kaylee: Worried Mother</td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/664/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dear BDH: Dear Wash: Wrong Career Move</td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/684/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Dear BDH: Dear Shepherd Book: Worried about my Kids</td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/685/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dear BDH: Dear Shepherd Book: Powerless on Persephone</td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/708/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Dear BDH: Dear Cap'n Reynolds: Free Bird</td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/709/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dear BDH: Dear Inara: Leery Dancer</td>
<td>The Signal: Season 2, Episode 21</td>
<td><a href=../../../segment/view/735/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Downtime: Dangerous Women</td>
<td>The Signal: Season 3, Episode 1</td>
<td><a href=../../../segment/view/790/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Downtime: Gun Safety</td>
<td>The Signal: Season 3, Episode 3</td>
<td><a href=../../../segment/view/817/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: History of the 'Verse</td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/687/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: Other Immigrants to the 'Verse</td>
<td>The Signal: Season 2, Episode 21</td>
<td><a href=../../../segment/view/711/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Sci-Fi Review: Star Wars</td>
<td>The Signal: Season 3, Episode 2</td>
<td><a href=../../../segment/view/800/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Structure of Out of Gas</td>
<td>The Signal: Season 2, Episode 14</td>
<td><a href=../../../segment/view/599/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Things that Last</td>
<td>The Signal: Season 3, Episode 1</td>
<td><a href=../../../segment/view/752/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments read by Doug Moran</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Serenity Speculation: King Robin and the Cellphones</td>
<td>The Signal: Season 2, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/749/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments starring Doug Moran</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Dear BDH: Dear Zoe: Undefended</td>
<td>The Signal: Season 2, Episode 22</td>
<td><a href=../../../segment/view/747/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Downtime: Gun Safety</td>
<td>The Signal: Season 3, Episode 3</td>
<td><a href=../../../segment/view/817/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Rimline</td>
<td>The Signal: Season 2, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/766/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments featuring Doug Moran</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Borderline: Jiangyin</td>
<td>The Signal: Season 3, Episode 3</td>
<td><a href=../../../segment/view/802/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Doug Moran</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Banter</td>
<td>The Signal: Season 2, Episode 23.5: The Money Show</td>
<td><a href=../../../segment/view/769/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 2, Episode 23.5: The Money Show</td>
<td><a href=../../../segment/view/755/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
