<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../../common.css><link rel=stylesheet type=text/css href=../../../../gorram.css><link rel=stylesheet type=text/css href=../../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../../season/index.html>Seasons</a> &#x2022; <a href=../../../../series/index.html>Series</a> &#x2022; <a href=../../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/1006/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../../segment/view/1032/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../../show/view/97/index.html>The Signal: Season 3, Episode 21</a></div>
<div><ul><li>Joss is doing another TV series: Dollhouse</li>
<li><ul><li><a href=../../../../external.html#http://www.eonline.com/gossip/kristin/blog/index.jsp?uuid=972f7d73-e0a2-43ea-abad-0abf6afba1f3>E's Kristin</a></li>
<li><a href=../../../../external.html#http://community.tvguide.com/blog/TVGuide-Editors-Blog/Ausiello-Report/700000049>Ausiello</a></li>
<li><a href=../../../../external.html#http://www.variety.com/article/VR1117975136.html?categoryid=14&amp;cs=1>Variety</a></li>
<li><a href=../../../../external.html#http://www.tvweek.com/blogs/james-hibberd/2007/10/joss_whedon_returns_to_fox_wit.php>TV Week</a></li>
<li><a href=../../../../external.html#http://latimesblogs.latimes.com/showtracker/2007/10/whedon-returns-.html>LA Times</a></li>
<li><a href=../../../../external.html#http://hollywoodinsider.ew.com/2007/10/whedon-returns-.html>Entertainment Weekly</a></li>
<li><a href=../../../../external.html#http://www.hollywoodreporter.com/hr/content_display/news/e3ifabb1526bf648422a2d53ac7422bd528>The Hollywood Reporter</a></li>
</ul>
</li>
<li><a href=../../../../external.html#http://www.jossd.com>Joss'd - new Whedon podcast</a></li>
<li><ul><li><a href=../../../../external.html#http://jossd.com/?feed=rss2>RSS feed</a></li>
</ul>
</li>
<li><a href=../../../../external.html#http://www.scifinow.co.uk>Firefly article in SciFiNow magazine issue #6</a></li>
<li><a href=../../../../external.html#http://community.tvguide.com/blog-entry/TVGuide-Editors-Blog/Joy-Sets/800026000>Joss Interview - Angel</a></li>
<li><a href=../../../../external.html#http://www.eonline.com/gossip/kristin/detail/index.jsp?uuid=4cbc3286-ec0d-4bdf-969d-4cf399db7165>Joss video interview - The Office</a></li>
<li><a href=../../../../external.html#http://newsblaze.com/story/20071025060021tsop.nb/newsblaze/TOPSTORY/Top-Stories.html>Ron Glass interview</a></li>
<li><a href=../../../../external.html#http://www.whedon.info/Jewel-Staite-Firefly-Tv-Series.html>Jewel Staite interview</a></li>
<li><ul><li><a href=../../../../external.html#http://raygunrevival.com/Published/RGR_0032_2007_10_15.pdf>pdf copy</a></li>
</ul>
</li>
</ul>
</div>
<h3>Parts, as aired in The Signal: Season 3, Episode 21</h3>
<dl><dt>Part 1</dt>
<dd><div><ul><li>Joss is doing another TV series: Dollhouse</li>
<li><ul><li><a href=../../../../external.html#http://www.eonline.com/gossip/kristin/blog/index.jsp?uuid=972f7d73-e0a2-43ea-abad-0abf6afba1f3>E's Kristin</a></li>
<li><a href=../../../../external.html#http://community.tvguide.com/blog/TVGuide-Editors-Blog/Ausiello-Report/700000049>Ausiello</a></li>
<li><a href=../../../../external.html#http://www.variety.com/article/VR1117975136.html?categoryid=14&amp;cs=1>Variety</a></li>
<li><a href=../../../../external.html#http://www.tvweek.com/blogs/james-hibberd/2007/10/joss_whedon_returns_to_fox_wit.php>TV Week</a></li>
<li><a href=../../../../external.html#http://latimesblogs.latimes.com/showtracker/2007/10/whedon-returns-.html>LA Times</a></li>
<li><a href=../../../../external.html#http://hollywoodinsider.ew.com/2007/10/whedon-returns-.html>Entertainment Weekly</a></li>
<li><a href=../../../../external.html#http://www.hollywoodreporter.com/hr/content_display/news/e3ifabb1526bf648422a2d53ac7422bd528>The Hollywood Reporter</a></li>
</ul>
</li>
</ul>
</div>
</dd>
<dt>Part 2</dt>
<dd><div><ul><li><a href=../../../../external.html#http://www.jossd.com>Joss'd - new Whedon podcast</a></li>
<li><ul><li><a href=../../../../external.html#http://jossd.com/?feed=rss2>RSS feed</a></li>
</ul>
</li>
<li><a href=../../../../external.html#http://www.scifinow.co.uk>Firefly article in SciFiNow magazine issue #6</a></li>
<li><a href=../../../../external.html#http://community.tvguide.com/blog-entry/TVGuide-Editors-Blog/Joy-Sets/800026000>Joss Interview - Angel</a></li>
<li><a href=../../../../external.html#http://www.eonline.com/gossip/kristin/detail/index.jsp?uuid=4cbc3286-ec0d-4bdf-969d-4cf399db7165>Joss video interview - The Office</a></li>
<li><a href=../../../../external.html#http://newsblaze.com/story/20071025060021tsop.nb/newsblaze/TOPSTORY/Top-Stories.html>Ron Glass interview</a></li>
<li><a href=../../../../external.html#http://www.whedon.info/Jewel-Staite-Firefly-Tv-Series.html>Jewel Staite interview</a></li>
<li><ul><li><a href=../../../../external.html#http://raygunrevival.com/Published/RGR_0032_2007_10_15.pdf>pdf copy</a></li>
</ul>
</li>
</ul>
</div>
</dd>
</dl>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../../human/view/14/index.html>Claire Musso</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/1006/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../../segment/view/1032/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../../show/view/97/index.html>The Signal: Season 3, Episode 21</a></li>
<li><a href=../../../../show/view/97/index.html>The Signal: Season 3, Episode 21</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
