<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 6</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 6</h1>
<div><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/6/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/8/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_006_20050810.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_006_20050810.mp3 download=signal_season01_06.mp3>Download audio file</a></div>
<div class=info>Wednesday 10th August 2005</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 1</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:28</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div>Les and Kari introduce the show.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/116/7/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:03</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Serenity comic #2 now on sale</li>
<li>Browncoats raise US$12,374.79 for</li>
<li>Blackfilm.com posts Gina Torres interview</li>
<li>InFocus posts Joss Whedon interview</li>
<li>Millar World posts Adam Baldwin interview</li>
<li>Dreamwatch magazine has feature article from Serenity set</li>
<li>About.com posts video Serenity interview</li>
<li>Joss Whedon not attending Dragon*Con</li>
<li>Canadian TV channel Space running Firefly marathon</li>
<li>The US Sci-Fi Channel running Firefly marathon</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/118/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:43</td>
<td class=shownote><h3>Review of Serenity (the pilot)</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/75/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/17/index.html><img src=../../../image/image/47/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:21:30</td>
<td class=shownote><h3>The Guerrilla Marketing Section</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/123/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:24:04</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Part 1 of 2</h4>
<div>&quot;Dong ma?&quot; (Understand?) and &quot;Shiong-tsan sha-sho&quot; (ass kicking killer)</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/120/7/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/18/index.html><img src=../../../image/image/43/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:49</td>
<td class=shownote><h3>How to Host a Shindig</h3>
<h4>Part 4</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/124/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:29:53</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div>Les and Kari talk about the upcoming Ron Glass Interview.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/116/7/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:44</td>
<td class=shownote><h3>Interview</h3>
<h4>Ron Glass, part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/122/7/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.skepticality.com><img src=../../../image/image/45/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:44:08</td>
<td class=shownote><h3>Promo: Skepticality</h3>
<h4>Are you gonna finish that sandwich?</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/10/index.html><img src=../../../image/image/33/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:44:43</td>
<td class=shownote><h3>Blue Sun Public Service Announcement</h3>
<h4>Alliance Resettlement Commercial</h4>
<p></p>
</td>
<td><a href=../../../segment/view/119/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.skepticality.com><img src=../../../image/image/45/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:45:33</td>
<td class=shownote><h3>Promo: Skepticality</h3>
<h4>Skeptical Toads</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:46:28</td>
<td class=shownote><h3>Interview</h3>
<h4>Ron Glass, part 2 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/122/7/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:17</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div>Les and Kari talk more about the Ron Glass Interview, the Ballad of Joss, and the campaign for a Firefly soundtrack album.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/116/7/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:01:58</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Jubal Early Theme</h4>
<p>Music by <a href=../../../human/view/29/index.html>Greg Edmonson</a></p>
</td>
<td><a href=../../../segment/view/108/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:06:44</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div>Les and Kari talk about podcasting.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/116/7/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:10:55</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Part 2 of 2</h4>
<div>&quot;Dong ma?&quot; (Understand?) and &quot;Shiong-tsan sha-sho&quot; (ass kicking killer)</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/120/7/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:13</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/37/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:35</td>
<td class=shownote><h3>Serenity Trailer</h3>
<h4>US Trailer, version 2</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:14:08<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/6/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/8/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=873>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
