<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 6, Episode 8</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 6, Episode 8</h1>
<div><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/165/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/170/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_608_20100518.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_608_20100518.mp3 download=signal_season06_08.mp3>Download audio file</a></div>
<div class=info>Tuesday 18th May 2010</div>
Produced by Kevin Bachelder<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/127/2/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 6 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:20</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1717/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:26</td>
<td class=shownote><h3>Pioneers of the 'Verse, Part 2</h3>
<p>Written by <a href=../../../human/view/109/index.html>Dave Tomasic</a>; read by <a href=../../../human/view/109/index.html>Dave Tomasic</a>; edited by <a href=../../../human/view/109/index.html>Dave Tomasic</a></p>
</td>
<td><a href=../../../segment/view/1714/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:20</td>
<td class=shownote><h3>Feedback</h3>
<p>Emails read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; emails edited by <a href=../../../human/view/96/index.html>Kara Helgren</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1719/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.parsecawards.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:22:38</td>
<td class=shownote><h3>Promo: Parsec Awards</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/117/index.html><img src=../../../image/image/125/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:53</td>
<td class=shownote><h3>What's in a Signal?</h3>
<h4>Getting Dicey</h4>
<p>Written by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; read by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/1721/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:28:35</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.creationent.com/cal/firefly.htm>Sean Maher to appear at Creation convention</a></li>
<li>Dragon*Con 2010 first Firefly guests announcements</li>
<li><ul><li><a href=../../../external.html#http://dragoncon.org/dc_guest_detail.php?id=1225>Jewel Staite</a></li>
<li><a href=../../../external.html#http://dragoncon.org/dc_guest_detail.php?id=2232>Sean Maher</a></li>
<li><a href=../../../external.html#http://dragoncon.org/dc_guest_detail.php?id=119>Morena Baccarin</a></li>
</ul>
</li>
<li><a href=../../../external.html#http://store.quantummechanix.com/Serenity-Troublemaker-Replica-T-shirt_p_93.html>QMx announce Jayne T-shirt replica</a></li>
<li><ul><li>See <a href=../../../external.html#http://farm5.static.flickr.com/4011/4529356510_890434db27.jpg>Les wearing one</a>!</li>
</ul>
</li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com/csts-global/browncoats-redemption-is-coming-to-csts/>Browncoats: Redemption is coming to CSTS</a></li>
<li><a href=../../../external.html#http://www.airlockalpha.com/node/7368>Gina Torres Out, Tia Carrere in, at &quot;Warehouse 13&quot;</a></li>
<li><a href=../../../external.html#http://www.televisionwithoutpity.com/brilliantbutcancelled/2010/05/firefly-10-things-we-didnt-kno.php>Ten things you didn't know about Firefly</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; edited by <a href=../../../human/view/109/index.html>Dave Tomasic</a></p>
</td>
<td><a href=../../../segment/view/1689/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:04</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 11</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1684/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://southernscifisociety.libsyn.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:37:57</td>
<td class=shownote><h3>Promo: SafeHaven podcast</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/124/index.html><img src=../../../image/image/117/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:40:36</td>
<td class=shownote><h3>Heart of Firefly</h3>
<h4>It's Called a Life</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1683/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:24</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 14: The Inquisition</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/109/index.html>Dave Tomasic</a>, <a href=../../../human/view/108/index.html>Jutta Jordans</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1682/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:56</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Fish, Flesh and Fowl ... Animals in the 'Verse</h4>
<div>Apart from the obvious horses and cows, what other animals can be found in the 'Verse and how do folks relate to them?</div>
<p>Written by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; read by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/1655/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:01:38</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:02:08<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/165/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/170/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
