<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Badger's World: Season 2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Badger's World: Season 2</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/82/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/2/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/111/2/album/image.png width=300 height=300 alt></div>
<div>It's a tough life being a henchman for Badger. Or at least, that's what Burt and Harry will tell you while sitting down to a quiet pint at Chen's Throat Emporium at the end of a long day's henching...again</div>
<div></div>
<hr class=no-float><p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Episode 14: After The Fall</td>
<td>The Signal: Season 4, Episode 1</td>
<td><a href=../../../segment/view/1079/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_14.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 15: Sick</td>
<td>The Signal: Season 4, Episode 2</td>
<td><a href=../../../segment/view/1091/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_15.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 16: Downtime</td>
<td>The Signal: Season 4, Episode 3</td>
<td><a href=../../../segment/view/1104/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_16.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 17: Ink</td>
<td>The Signal: Season 4, Episode 5</td>
<td><a href=../../../segment/view/1119/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_17.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 18: Coffeeee!</td>
<td>The Signal: Season 4, Episode 7</td>
<td><a href=../../../segment/view/1141/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_18.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 19: Lights Out</td>
<td>The Signal: Season 4, Episode 10</td>
<td><a href=../../../segment/view/1155/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_19.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 20: Convention</td>
<td>The Signal: Season 4, Episode 11</td>
<td><a href=../../../segment/view/1188/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_20.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 20.5: Live!</td>
<td>The Signal: Season 4, Episode 20.5</td>
<td><a href=../../../segment/view/1299/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_20.5.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 21: Omens</td>
<td>The Signal: Season 4, Episode 18</td>
<td><a href=../../../segment/view/1207/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_21.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 22: Posh</td>
<td>The Signal: Season 4, Episode 19</td>
<td><a href=../../../segment/view/1280/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_22.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 23: The Noob</td>
<td>The Signal: Season 4, Episode 20</td>
<td><a href=../../../segment/view/1292/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_23.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 24: Pigeons</td>
<td>The Signal: Season 4, Episode 21</td>
<td><a href=../../../segment/view/1307/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_24.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 25: Beginnings, part 1</td>
<td>The Signal: Season 4, Episode 22</td>
<td><a href=../../../segment/view/1317/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_25.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 26: Beginnings, part 2</td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1324/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_26.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 27: 'Tis the Season</td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1582/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_27.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 28: Notes from the Edge</td>
<td>The Signal: Season 6, Episode 14.4: Live at Dragon*Con 2010</td>
<td><a href=../../../segment/view/1946/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_28.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 29: Deck The Halls</td>
<td>The Signal: Season 6, Episode 20: Holiday Special</td>
<td><a href=../../../segment/view/2105/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_29.mp3 download>audio</a></td>
</tr>
<tr class=odd><td>Episode 30: Flying Visit</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2501/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_30.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Episode 34: Out To The Black</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3089/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_badgersworld_34.mp3 download>audio</a></td>
</tr>
</tbody>
</table>
<h2>See Also</h2>
<ul><li><a href=../../../series/view/82/index.html>Badger's World: Season 1</a></li>
</ul>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/82/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/2/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
