<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Banter</title>
<link rel=stylesheet type=text/css href=../../../../common.css><link rel=stylesheet type=text/css href=../../../../gorram.css><link rel=stylesheet type=text/css href=../../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../../season/index.html>Seasons</a> &#x2022; <a href=../../../../series/index.html>Series</a> &#x2022; <a href=../../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Banter</h1>
<div><div class=transport-bar><a href=../../../../segment/view/22/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/558/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/2/index.html>Up</a> &#x2022; <a href=../../../../segment/view/581/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3150/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../../show/view/55/index.html>The Signal: Season 2, Episode 11</a></div>
<div><ul><li>Why this show is late</li>
<li>Forthcoming bonus show</li>
<li>The Signal's birthday (We are one year old!)</li>
<li>Joss's birthday</li>
<li><a href=../../../../external.html#http://cantstoptheserenity.com>Equality Now/Serenity Now</a> Serenity screenings</li>
<li>The Sci-Fi Review segment</li>
<li>Music Competition Winner: Sean Hughes - The Ballad of Serenity at a wedding</li>
</ul>

The <a href=../../../../external.html#http://www.podcastawards.com>People's Choice Podcast Awards</a>. Please nominate us for:
<ul><li><ul><li>Best Produced</li>
<li>Movies/Film</li>
</ul>
</li>
</ul>
</div>
<h3>Parts, as aired in The Signal: Season 2, Episode 11</h3>
<dl><dt>Part 1</dt>
<dd><div><ul><li>Why this show is late</li>
<li>Forthcoming bonus show</li>
<li>The Signal's birthday (We are one year old!)</li>
<li>Joss's birthday</li>
<li><a href=../../../../external.html#http://cantstoptheserenity.com>Equality Now/Serenity Now</a> Serenity screenings</li>
</ul>
</div>
</dd>
<dt>Part 2</dt>
<dd><div>The Sci-Fi Review segment</div>
</dd>
<dt>Part 3</dt>
<dd><div>Music Competition Winner: Sean Hughes - The Ballad of Serenity at a wedding</div>
</dd>
<dt>Part 4</dt>
<dd><div>The <a href=../../../../external.html#http://www.podcastawards.com>People's Choice Podcast Awards</a>. Please nominate us for:
<ul><li>Best Produced</li>
<li>Movies/Film</li>
</ul>
</div>
</dd>
</dl>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Hosted by</td>
<td><a href=../../../../human/view/2/index.html>Les Howard</a></td>
<td></td>
</tr>
<tr class=odd><td>Hosted by</td>
<td><a href=../../../../human/view/6/index.html>Kari Haley</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../../segment/view/22/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/558/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/2/index.html>Up</a> &#x2022; <a href=../../../../segment/view/581/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3150/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../../show/view/55/index.html>The Signal: Season 2, Episode 11</a></li>
<li><a href=../../../../show/view/55/index.html>The Signal: Season 2, Episode 11</a></li>
<li><a href=../../../../show/view/55/index.html>The Signal: Season 2, Episode 11</a></li>
<li><a href=../../../../show/view/55/index.html>The Signal: Season 2, Episode 11</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
