<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1474/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1567/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 9: Ghost Moon</h2>

<audio src=https://traffic.libsyn.com/secure/thesignal/signal_terraformers_09.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_terraformers_09.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/154/index.html>The Signal: Season 5, Episode 19</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/19/index.html>Wayne Hutchinson</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>You know, I really think we&#x2019;re starting to make a name for ourselves with Mr Spall as terraforming troubleshooters.</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>As long as we don&#x2019;t come across the kind of trouble that you actually have to shoot at, I&#x2019;m fine with that.</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>When did I start thinking of Brunel and Parsec as a team I could rely on? I&#x2019;m not sure the &#x2018;verse makes sense any more.</dd>
<dt>NARRATOR</dt>
<dd>Episode number 9 &#x2013; Ghost Moon</dd>
</dl>


<hr>
<p><em>Location: Office where Sarah and Taya Ray are communicating with Mr Spall regarding their next assignment.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Fades in, over com.)</em> I&#x2019;ve lost contact with a team, you see. Briggs and Dewis. Their assignment was a stage two meteorological. The details aren&#x2019;t important. What is important is that they&#x2019;ve gone quiet and we don&#x2019;t know what&#x2019;s wrong.</dd>
<dt>SARAH</dt>
<dd>So we&#x2019;re to head to this moon to check it out?</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> That&#x2019;s the nub of it. You&#x2019;re to get to Persephone by transport and then pick up a vessel that&#x2019;ll be waiting there for you. Further details are being uploaded to you now.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Chipper as ever.)</em> Wilco, Mr Spall!</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Spall out.</dd>
</dl>


<p><em>Click</em></p>


<dl><dt>TAYA RAY</dt>
<dd>I remember Briggs and Dewis. Celestine and Mary, I think they were called. They started at the same time as us.</dd>
<dt>SARAH</dt>
<dd>Yeah, they were paired up in the same psychobabble-inspired way we were. <em>(Beat.)</em> I wonder whether they get on well?</dd>
<dt>TAYA RAY</dt>
<dd>Or <em>got</em> on well. They&#x2019;re AWOL, remember?</dd>
<dt>SARAH</dt>
<dd><em>(Sarcastically.)</em> Hmm, on that cheerful note, I guess we&#x2019;d better get going.</dd>
</dl>


<p><em>Short musical cue to indicate passing of time.</em></p>

<p><em>Location: on board small private vessel. Fade into Sarah&#x2019;s speech.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Musing half to herself.)</em> ... but that would mean they must have taken weapons with them, which, though not impossible, would be against protocol under the circumstances. At least since that rule change after the Wong-Longstreet incident. Then again bare hands could do the job ok. What do you think, Taya Ray? <em>(Beat.)</em> Taya Ray?</dd>
<dt>TAYA RAY</dt>
<dd><em>Snores.</em></dd>
<dt>SARAH</dt>
<dd><em>(Louder.)</em> Taya Ray?!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Sleepily.)</em> Sorry, what did you say?</dd>
<dt>SARAH</dt>
<dd><em>(Sarcastically.)</em> Oh I was just mulling over a nice upbeat theory for the loss of contact with Briggs and Dewis.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Missing the sarcasm.)</em> Oh goody. I hope you&#x2019;re right then.</dd>
<dt>SARAH</dt>
<dd><em>(Flatly.)</em> Yeah. <em>(Beat.)</em> Well, anyway, look lively. The moon should be coming into view any moment.... now. Whoa! <em>Han ni hai.</em></dd>
<dt>TAYA RAY</dt>
<dd>You said it! They were doing a stage 2 meteor-whatsit on that?</dd>
<dt>SARAH</dt>
<dd>A stage 2 meteorological, Taya Ray. Do try to keep up. Anyway, the point is they clearly didn&#x2019;t get very far. Look at those storms! Oh, it's going to be fun landing down there. Talk about putting the terror into terraforming...</dd>
</dl>


<p><em>Short musical cue to indicate passing of time</em></p>

<p><em>Location: outside, on moon, sheltering by their own vessel. Sounds of fierce storm raging.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Shouting against the storm.)</em> There&#x2019;s the building! Can&#x2019;t see their ship, can you?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Shouting against the storm.)</em> Can&#x2019;t see anything through this rain! Let&#x2019;s make a run for it.</dd>
</dl>


<p><em>Sounds of footsteps, splashes and door opening and then shutting. Storm noises are now much quieter.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Beat.)</em> Well, we&#x2019;re in the right place, that&#x2019;s for sure. But no sign of Briggs or Dewis.</dd>
<dt>TAYA RAY</dt>
<dd>Looks like they got flooded out.</dd>
<dt>SARAH</dt>
<dd>And more than once judging by the tide marks on the wall. See?</dd>
<dt>TAYA RAY</dt>
<dd>Do you think they got washed away?</dd>
<dt>SARAH</dt>
<dd>Not unless their ship got washed away with them. Which, bearing in mind the storm out there, might not be as crazy as it sounds.</dd>
<dt>TAYA RAY</dt>
<dd>Wait, what&#x2019;s this?</dd>
<dt>SARAH</dt>
<dd>A note stuck to the wall. The plot thickens... &#x201C;To anyone unfortunate enough to have been sent here after us&#x201D;. I guess that&#x2019;s us.</dd>
</dl>


<p><em>Sound of envelope being opened and letter being taken out.</em></p>


<dl><dt>SARAH</dt>
<dd>Here we go. It says: <em>(Reading.)</em> &#x201C;Flooded for the fourth time today. Have had enough. We hereby quit. You&#x2019;ll find the shuttle at Pelorum, where we&#x2019;ll be until our credits run out. Thereafter, who knows? But it won&#x2019;t be terraforming for Mr Spall even if Sihnon starts rotating backward and the skies turn orange. Yours resignedly, Celestine Briggs and Mary Dewis.&#x201D;</dd>
<dt>TAYA RAY</dt>
<dd>Oh.</dd>
<dt>SARAH</dt>
<dd>Exactly. I don&#x2019;t think this little mystery will become the stuff of legend.</dd>
<dt>TAYA RAY</dt>
<dd>And now we have to tell Mr Spall? And he&#x2019;s going to get mad and take it out on us! <em>(Whiny.)</em> I don&#x2019;t want to get him mad at us. We&#x2019;ve been in his good books for a while now and I was starting to get settled there.</dd>
<dt>SARAH</dt>
<dd>Well, he doesn&#x2019;t actually have to see the note, does he? We could do a little judicious editorialising.  <em>(Beat.)</em> I think I know how to spin this one. Let&#x2019;s get back to the ship.</dd>
</dl>


<p><em>Short musical cue to indicate passing of time</em></p>

<p><em>Clicks and beeps as Sarah calls up Mr Spall</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Spall here. I hope you have good news to report, Brunel.</dd>
<dt>SARAH</dt>
<dd><em>(Feigning distress.)</em> Oh Mr Spall, I don&#x2019;t. It&#x2019;s terrible. We found a note... It says: &#x201C;Bandits attacking. Want to steal our ship. We&#x2019;re trying to hold them off, but if we don&#x2019;t make it, tell Mr Spall it was an honour working for him. Yours respectfully, CB and MD.&#x201D;</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com, genuinely touched, but trying to hide it.)</em> It was an honour having them on my crew. <em>Sniffs.</em></dd>
<dt>SARAH</dt>
<dd><em>(Feigning more distress.)</em> This has been very upsetting for us, as you can imagine.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Taking Sarah&#x2019;s cue.)</em> I think we may need a few days to recover...</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Well, why don&#x2019;t you head over to Pelorum for a little holiday since you&#x2019;re close. Stay there a few days. On the company, of course. I&#x2019;ll hold off on your next assignment for a while. Out of respect. <em>Sniffs.</em> Spall out.</dd>
</dl>


<p><em>Click</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Nice work, Sarah! Yay!</dd>
</dl>


<p><em>Sound of high five.</em></p>


<dl><dt>SARAH</dt>
<dd>Woo hoo! Job done to Mr Spall&#x2019;s satisfaction <em>and</em> we get a bonus vacation! Not bad at all! And who knows? Perhaps we&#x2019;ll happen upon the stolen shuttle &#x2013; mysteriously abandoned on Pelorum &#x2013; and find ourselves continuing our rather pleasant sojourn in Mr Spall&#x2019;s good books!</dd>
<dt>TAYA RAY</dt>
<dd>Pelorum here we come then! And if we see Celestine and Mary, the drinks are on us!</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1474/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1567/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/154/index.html>The Signal: Season 5, Episode 19</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
