<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 6, Episode 10</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 6, Episode 10</h1>
<div><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/170/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/176/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_610_20100615.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_610_20100615.mp3 download=signal_season06_10.mp3>Download audio file</a></div>
<div class=info>Tuesday 15th June 2010</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/127/2/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 6 Opening Theme</h3>
<h4>Version 2</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:15</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div>Les and Kari introduce the show and talk about:
<ul><li>Other podcasts called &quot;The Signal&quot;'</li>
<li><ul><li><a href=../../../external.html#http://www.cbc.ca/radio2/programs/thesignal/>The CBC Signal</a></li>
<li><a href=../../../external.html#http://www.signalradio.org/>The Baltimore Signal</a></li>
</ul>
</li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com>Can't Stop the Serenity</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1798/172/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:50</td>
<td class=shownote><h3>Can't Stop the Serenity: Five Years On and Still Going Strong</h3>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/1811/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:16</td>
<td class=shownote><h3>Interview</h3>
<h4>Can't Stop the Serenity 2010</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1810/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/164/index.html><img src=../../../image/image/142/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:28:54</td>
<td class=shownote><h3>Queen of the Black</h3>
<h4>Part 3: Vaccine Your Head?</h4>
<div>The next installment of the play-by-mp3 interactive audio drama.<p>Lynnie is in a dicey situation, but she has friends to call on who are trying to help her out.</p>
</div>
<p>Written by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; starring <a href=../../../human/view/108/index.html>Jutta Jordans</a>; featuring <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/1724/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:41:21</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>Les and Kari discuss our article contest</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1798/172/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:44:56</td>
<td class=shownote><h3>Reavers and Frankenstein</h3>
<p>Written by <a href=../../../human/view/96/index.html>Kara Helgren</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/1763/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:50:59</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 12</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1772/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.babylonpodcast.com/><img src=../../../image/image/68/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:03</td>
<td class=shownote><h3>Promo: The Babylon Podcast</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:38</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://creationent.com/cal/firefly.htm>Morena Baccarin to appear at Creation</a></li>
<li><a href=../../../external.html#http://www.comicbookresources.com/?page=article&amp;id=26377>Shepherd's Tale cover art preview</a></li>
<li><a href=../../../external.html#http://www.whedonuniverse.com/forum/index.php?topic=448.0>Dragon*Con Whedon Track now at Westin hotel</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1784/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/124/index.html><img src=../../../image/image/117/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:08</td>
<td class=shownote><h3>Heart of Firefly</h3>
<h4>Independence and Strength</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/1779/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:09:35</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li><a href=../../../external.html#http://www.ajc.com/news/dekalb/dekalb-power-outage-possibly-529653.html>Wayne's squirrel story</a></li>
</ul>
</div>
<p>Emails read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; emails edited by <a href=../../../human/view/1/index.html>Jill Arroway</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1801/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:15:19</td>
<td class=shownote><h3>Music Section</h3>
<h4>They Fall Right Out Of The Sky</h4>
<p>Music by <a href=../../../human/view/472/index.html>'Verse</a></p>
</td>
<td><a href=../../../segment/view/1802/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:19:49</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Vixy and Tony version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:20:15<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/170/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/176/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
