<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Bedlam Bards</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Bedlam Bards</h1>
<div><h2>Website</h2>
<p><a href=../../../external.html#http://www.bedlambards.com/>External website</a></p>
<h2>Music by The Bedlam Bards</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Badger's World: Season 1: Episode 1: Reasonable</td>
<td>The Signal: Season 3, Episode 6</td>
<td><a href=../../../segment/view/855/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 1: Episode 2: Philosophy</td>
<td>The Signal: Season 3, Episode 7</td>
<td><a href=../../../segment/view/864/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 1: Episode 3: D&#x00E9;j&#x00E0; Vu</td>
<td>The Signal: Season 3, Episode 8</td>
<td><a href=../../../segment/view/879/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 1: Episode 4: Conversations with Drunk People</td>
<td>The Signal: Season 3, Episode 9</td>
<td><a href=../../../segment/view/895/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 1: Episode 5: Anxiety</td>
<td>The Signal: Season 3, Episode 11</td>
<td><a href=../../../segment/view/904/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 1: Episode 6: Revenge</td>
<td>The Signal: Season 3, Episode 12</td>
<td><a href=../../../segment/view/927/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 1: Episode 7: Dirt</td>
<td>The Signal: Season 3, Episode 14</td>
<td><a href=../../../segment/view/938/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 1: Episode 8: Food</td>
<td>The Signal: Season 3, Episode 16</td>
<td><a href=../../../segment/view/967/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 1: Episode 9: Prodigal</td>
<td>The Signal: Season 3, Episode 18</td>
<td><a href=../../../segment/view/985/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 1: Episode 10: Teef</td>
<td>The Signal: Season 3, Episode 19</td>
<td><a href=../../../segment/view/1003/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 1: Episode 11: Laydeez</td>
<td>The Signal: Season 3, Episode 20</td>
<td><a href=../../../segment/view/1012/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 1: Episode 12: Special Delivery</td>
<td>The Signal: Season 3, Episode 21</td>
<td><a href=../../../segment/view/1023/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 1: Episode 13: The End?</td>
<td>The Signal: Season 3, Episode 22</td>
<td><a href=../../../segment/view/1035/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 1: Episode 501: Slings and Arrows</td>
<td>The Signal: Season 5, Episode 14.7: The Clip Show</td>
<td><a href=../../../segment/view/1491/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 14: After The Fall</td>
<td>The Signal: Season 4, Episode 1</td>
<td><a href=../../../segment/view/1079/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 2: Episode 15: Sick</td>
<td>The Signal: Season 4, Episode 2</td>
<td><a href=../../../segment/view/1091/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 16: Downtime</td>
<td>The Signal: Season 4, Episode 3</td>
<td><a href=../../../segment/view/1104/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 2: Episode 17: Ink</td>
<td>The Signal: Season 4, Episode 5</td>
<td><a href=../../../segment/view/1119/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 18: Coffeeee!</td>
<td>The Signal: Season 4, Episode 7</td>
<td><a href=../../../segment/view/1141/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 2: Episode 19: Lights Out</td>
<td>The Signal: Season 4, Episode 10</td>
<td><a href=../../../segment/view/1155/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 20: Convention</td>
<td>The Signal: Season 4, Episode 11</td>
<td><a href=../../../segment/view/1188/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 2: Episode 20.5: Live!</td>
<td>The Signal: Season 4, Episode 20.5</td>
<td><a href=../../../segment/view/1299/124/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 21: Omens</td>
<td>The Signal: Season 4, Episode 18</td>
<td><a href=../../../segment/view/1207/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 2: Episode 22: Posh</td>
<td>The Signal: Season 4, Episode 19</td>
<td><a href=../../../segment/view/1280/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 23: The Noob</td>
<td>The Signal: Season 4, Episode 20</td>
<td><a href=../../../segment/view/1292/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 2: Episode 24: Pigeons</td>
<td>The Signal: Season 4, Episode 21</td>
<td><a href=../../../segment/view/1307/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 25: Beginnings, part 1</td>
<td>The Signal: Season 4, Episode 22</td>
<td><a href=../../../segment/view/1317/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Badger's World: Season 2: Episode 26: Beginnings, part 2</td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1324/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Badger's World: Season 2: Episode 27: 'Tis the Season</td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1582/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Big Damn Trilogy</td>
<td>The Signal: Season 1, Episode 17.2: Solstice Special, part 2</td>
<td><a href=../../../segment/view/369/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Big Damn Trilogy</td>
<td>The Signal: Season 1, Episode 17.5: January Bonus Show</td>
<td><a href=../../../segment/view/376/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Miscellaneous</td>
<td>The Signal: Season 2, Episode 16.5: Live at Dragon*Con 2006</td>
<td><a href=../../../segment/view/659/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Johnny Jump Up</td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/987/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Kaylee</td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/988/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: song premier</td>
<td>The Signal: Season 4, Episode 20.5</td>
<td><a href=../../../segment/view/1301/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Hush Little Citizen</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2456/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Songs from the Black II: Kaylee - The Bedlam Bards</td>
<td>Songs from the Black II</td>
<td><a href=../../../segment/view/2044/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
