<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4, Episode 18</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4, Episode 18</h1>
<div><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/120/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/122/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_418_20081007.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_418_20081007.mp3 download=signal_season04_18.mp3>Download audio file</a></div>
<div class=info>Tuesday 7th October 2008</div>
Produced by Claire Musso<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/114/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 4 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:00:40</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<div><ul><li>Our <a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4590>Shiny Competition</a> to win tickets to <a href=../../../external.html#http://www.creationent.com/cal/serenity.htm>Creation's Serenity Salute convention</a></li>
<li>QMX will be at the Serenity Salute convention and are sponsoring <a href=../../../external.html#http://www.mariancall.com/>Marian Call</a> to play at the dinner</li>
<li>Nominations for the <a href=../../../external.html#http://www.podcastawards.com/>Podcast Awards</a> are now closed and we will be hearing soon whether The Signal made the cut. Thanks to everyone to took the time to nominate us!</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1265/121/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:30</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Preserving</h4>
<div><ul><li><a href=../../../external.html#http://www.mahalo.com/How_to_Can_Tomatoes>How to Can Tomatoes</a></li>
<li><a href=../../../external.html#http://www.foodnetwork.com/recipes/alton-brown/beef-jerky-recipe/index.html>Beef Jerky</a></li>
<li><a href=../../../external.html#http://www.foodnetwork.com/recipes/alton-brown/abs-b-and-bs-recipe/index.html>Garlic Dill Pickles</a></li>
</ul>
</div>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1252/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:45</td>
<td class=shownote><h3>Editorial</h3>
<h4>Thoughts from the Rim</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1253/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:00</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Terminator: The Sarah Connor Chronicles</h4>
<p>Written by <a href=../../../human/view/21/index.html>Merry King</a>; read by <a href=../../../human/view/21/index.html>Merry King</a></p>
</td>
<td><a href=../../../segment/view/1270/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:23:50</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div><ul><li>Terminator: The Sarah Connor Chronicles</li>
<li>Still looking for volunteers to help turn Steven Brust's Firefly novel <a href=../../../external.html#http://dreamcafe.com/firefly.html>My Own Kind of Freedom</a> into a podiobook.</li>
<li><ul><li>About 15 people have volunteered thus far - need 15 more</li>
<li>Need voices and audio editors</li>
<li>Go to the <a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4575>My Own Kind of Freedom Audio Book thread</a> on our forums to volunteer</li>
</ul>
</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1265/121/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:20</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Voicemail - Mark from Miami</li>
<li>Email - Molly Glenn</li>
<li>Voicemail - David from Missouri</li>
<li>Email - Mike Smithwick</li>
<li><ul><li><a href=../../../external.html#http://www.teavana.com>Teavana</a></li>
</ul>
</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1268/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:35:30</td>
<td class=shownote><h3>Codename Kestrel</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1266/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.jerichopodcast.blogspot.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:40:20</td>
<td class=shownote><h3>Promo: Future Traditions: Jericho</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:41:55</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/17704>Morena to appear at New England Fan Experience in Cambridge, Massachusetts</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/17677>Jewel Staite to make a special appearance at the Sci-Fi Expo in Plano, Texas, October 25-26</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/17658>Serenity makes Empire's Top 500 movies of all time</a></li>
<li><a href=../../../external.html#http://www.imdb.com/title/tt0303461/videogallery>All Firefly episodes now streaming free on IMDB</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1267/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/108/index.html><img src=../../../image/image/18/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:40</td>
<td class=shownote><h3>The Tale of the 'Verse</h3>
<h4>Sic Itur Ad Astra</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/1243/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:52:30</td>
<td class=shownote><h3>Music Section</h3>
<h4>Summer Glau</h4>
<p>Music by <a href=../../../human/view/118/index.html>John Anealio</a> and <a href=../../../human/view/119/index.html>John DeNardo</a></p>
</td>
<td><a href=../../../segment/view/1269/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/101/index.html><img src=../../../image/image/111/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:55:53</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 21: Omens</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1207/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/112/index.html><img src=../../../image/image/116/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:02:00</td>
<td class=shownote><h3>They've All Got Stories</h3>
<h4>Inara: Mistress of Mystery</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1254/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:12:28</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:12:52<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/120/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/122/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4595>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
