<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Ben Edwards</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Ben Edwards</h1>
<div><h2>Segments starring Ben Edwards</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Blue Sun Public Service Announcement: Browncoats</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3107/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Borderline: Hard Burn: Star in a Reasonably Priced Spaceship</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2598/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Going Dark: I Never Want to Grow Up</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2500/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Going Dark: First Shots Fired</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2512/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments featuring Ben Edwards</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Badger's World: Season 2: Episode 26: Beginnings, part 2</td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1324/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Borderline: Paquin</td>
<td>The Signal: Season 3, Episode 11</td>
<td><a href=../../../segment/view/913/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dark Places: Dark Places</td>
<td>Dark Places</td>
<td><a href=../../../segment/view/1938/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Earthburn: Conventional Wisdom</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2371/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Earthburn: Flying Mother Nature's Silver Seed</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3047/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Hard Burn: The Firefly</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2594/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Hard Burn: The Race</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2599/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Permanent Waves</td>
<td>The Signal: Season 3, Episode 23</td>
<td><a href=../../../segment/view/1058/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Ben Edwards</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Banter</td>
<td>The Signal: Season 3, Episode 13.5</td>
<td><a href=../../../segment/view/944/89/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Sending a Signal</td>
<td>The Signal: Season 5, Episode 14.8: Sending a Signal</td>
<td><a href=../../../segment/view/1504/147/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
