<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Dark Places</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Dark Places</h1>
<div><div class=transport-bar><a href=../../../segment/view/1929/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1929/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/152/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/1938/index.html>Last episode</a></div>
<h2>Dark Places</h2>

<!-- audio src signal_darkplaces_02.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_darkplaces_02.mp3>Download audio file</span></div>
<div>Episode two of the now-abandoned series &quot;Dark Places&quot;. Only two episodes were ever made.<p>Sound effects were provided by Digital Juice. The script editor was Carolyn Parkinson.</p>
<p><strong>This episode (and the novel) contains sex, violence and swearing.<br>Definitely not safe for work!</strong></p>
<p></p>
<ul><li><span class=grayed-out>Dark Places, the Novel (UK edition, ePub)</span></li>
<li><span class=grayed-out>Dark Places, the Novel (UK edition, PDF)</span></li>
<li><span class=grayed-out>Dark Places, the Novel (US edition, ePub)</span></li>
<li><span class=grayed-out>Dark Places, the Novel (US edition, PDF)</span></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/98/index.html>Jocelyn Fultz</a></td>
<td>as Jade Slater</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/274/index.html>Scott McCoy</a></td>
<td>as Slate</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/7/index.html>Carolyn Parkinson</a></td>
<td>as Agnes</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/84/index.html>Ben Edwards</a></td>
<td>as Joe O'Hanlon</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/100/index.html>Joy Edwards</a></td>
<td>as Abigail</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/293/index.html>Casey Ford</a></td>
<td>as Geng</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/306/index.html>Deborah Thompson</a></td>
<td>as Martha</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/308/index.html>Mary McKay Eaton</a></td>
<td>as Rory</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/311/index.html>Lin Pyatt</a></td>
<td>as Reaver</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/311/index.html>Lin Pyatt</a></td>
<td>as Jeanette</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/313/index.html>Mark Smith</a></td>
<td>as Hagar</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/315/index.html>Dorian Townsend</a></td>
<td>as Li Chow</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/317/index.html>Phil Rossi</a></td>
<td>as Mike Turner</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/321/index.html>Shane Burley</a></td>
<td>as Reaver</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/51/index.html>The Firefly Music Project</a></td>
<td>Reavers</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Journey to Paradise</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Endless Love</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/82/index.html>Dreamweaver</a></td>
<td>Moods Around the World</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/333/index.html>Maria Daines</a></td>
<td>Deeper Than We Know</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/335/index.html>Dave Seidel</a></td>
<td>Drift Dhikr</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/337/index.html>Maestross</a></td>
<td>Friends part one</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/339/index.html>Jon Lyle Smith</a></td>
<td>Piano and Trio in D#</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/341/index.html>Prent Rogers</a></td>
<td>Trumpet Song</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/343/index.html>Green Druid</a></td>
<td>Dignity</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/347/index.html>Margo Schulter</a></td>
<td>In Hora Observationis</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/324/index.html>Mario Crystal</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div></div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1929/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1929/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/152/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/1938/index.html>Last episode</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
