<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1555/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1563/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>Love Keeps Her In the Air</h2>
<div>First aired: <a href=../../../show/view/154/index.html>The Signal: Season 5, Episode 19</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>JOSS WHEDON</dt>
<dd>I think the thing that&#x2019;s helped my work is that, yes, I'm an artist; I have things to say, etc, etc, suffering, blah blah blah. But at the same time I'm a fan and it's a huge part of who I am. It's a huge part of, you know, why I do this. It's not to make things that people like, it's never to make things that people like. It's only to make things that they love. And these people have just reservoirs of love that are&#x2026; impressive.</dd>
</dl>


<p>It is not uncommon to talk about &#x201C;loving&#x201D; a television show. Usually we mean that we enjoy a particular show very much, try not to miss it when it is on, and would be a little disappointed if it came to an end. But when Browncoats talk about loving Firefly, we usually mean a lot more than that. We mean the kind of love that gets translated into actions.</p>

<p>If you&#x2019;re a Browncoat, the chances are that your love for Firefly has inspired you to take action. Perhaps you have posted on a forum, or written to Fox or Universal. Maybe you have hosted a shindig, or participated in a Can&#x2019;t Stop The Serenity screening. It could be that you have actively tried to convert a friend to the &#x2018;verse, or indulged in some guerrilla marketing in a store by a little judicious rearranging of certain DVDs. Perhaps you&#x2019;ve been inspired to do some things you&#x2019;ve never done before, like go to a con or write fan fiction. Maybe you&#x2019;ve bought a comic book for the first time since childhood, or contributed to a fan podcast.</p>

<p>If you&#x2019;ve done any of these things, then it would probably be fair to say that you&#x2019;ve fallen in love with Firefly. But rest assured, you&#x2019;re not the only one, and you are in very good company:</p>


<dl><dt>NATHAN FILLION</dt>
<dd>I fell in love with Firefly, I fell in love with my character, I fell in love with the other characters and the cast.</dd>
<dt>JOSS WHEDON</dt>
<dd>That love that the cast and the crew were actually feeling for each other, and for the work, and for what we were doing, shows up on-screen.</dd>
</dl>


<p>The distinction between the creators of Firefly and the fans of the show is not always so clear-cut. The creators &#x2013; cast and crew alike &#x2013; seem to love the show as much as the fans do. Just listen again to some of the DVD special features to hear Nathan Fillion expound the wonders of the music in Firefly, or Greg Edmonson return the favour by raving about the acting. This is not the usual talking up of a show for the sake of good PR. The genuine love that members of the cast and crew of Firefly have for their show comes through loud and clear. Their willingness to continue to turn up to conventions and interact with the fandom speaks volumes for their commitment.</p>

<p>As time goes on, the distinction between the creators of Firefly and its fans is becoming blurred in another sense too. Just as the creators are fans of the show, so some of the fans are becoming creators themselves.</p>


<dl><dt>ADAM BALDWIN</dt>
<dd>We&#x2019;re all fans of the &#x2018;verse that we've created, so we're sharing it between each other. And that can only grow, it can only grow forward and expand.</dd>
</dl>


<p>And the content being created by fans is not simply enriching and expanding the &#x2018;verse, but in some cases it's been turned into licensed merchandise, as can be seen in the QMX Map of the Verse. Firefly &#x2013; six years after cancellation and more than three since the BDM &#x2013; is most definitely alive and well.</p>


<dl><dt>SIMON</dt>
<dd>She loves this ship. I think it's more home to her than any place she's been.</dd>
</dl>


<p>For those of us who have embraced the expanded &#x2018;verse and all it has to offer, we can also say that we have found ourselves a home. We have made new friends, both in person and online. We have tried our hand at new things and found our places in a truly interactive fandom. We have had a go at expanding the &#x2018;verse in our own way and we have enjoyed each other&#x2019;s creative efforts to do the same. But most of all, we have simply had fun.</p>

<p>Love has also inspired us to fight. Just as a love for independence and freedom kept the original Browncoats fighting against the Alliance, so our love as fans keeps us fighting to continue the &#x2018;verse in all its forms.</p>


<dl><dt>INARA</dt>
<dd>I learned something from Nandi. Not just from what happened, but from her. The family she made, the strength of her love for them. That's what kept them together.</dd>
</dl>


<p>As Browncoats, our love for Firefly keeps us together and stops us from walking away from the fight. We may currently be on the losing side of the battle, but we know it is the right side. Perhaps sometimes despondency sets in, when we realise how much time has passed since the movie came out, and how slight the prospect of getting our sequel seems. But our love for all things Firefly keeps us going. As does each time we hear a conversion story from a freshly minted Browncoat. Do we ever hear the opposite kind of story? Of how Browncoats have walked away from the &#x2018;verse?! No! Once a Browncoat, always a Browncoat! Our active involvement in the fandom may wax and wane according to real life commitments, but our love doesn&#x2019;t. The Browncoat army is always recruiting, always growing.</p>

<p>Our continued fight for new official content is not one that just gives us false hope and makes us feel better. We know it might work, because it already has done. We&#x2019;ve done the impossible once, and we&#x2019;re still mighty. The fans&#x2019; love for Firefly in the early days kept the creators fighting for their show and later for the movie:</p>


<dl><dt>JOSS WHEDON</dt>
<dd>To know that the fans were becoming as obsessive about the show as we were, that quickly, was really just gratifying. It's easy to discount something like that, but in our situation it wasn't, because if we had gone on the boards and found a lacklustre response, or even just &quot;Well, oh that's very nice&quot;. At some point we would have given up.  We would have stopped fighting.</dd>
</dl>


<p>And so we continue to fight, in the hope that maybe one day we&#x2019;ll get the next instalment of our Big Damn Trilogy. But even if we don&#x2019;t, well, we&#x2019;re having too much fun to stop now! We&#x2019;ll just go on loving what we&#x2019;ve already got, and continue to enjoy the &#x2018;verse as it keeps on expanding.</p>


<dl><dt>THE OPERATIVE</dt>
<dd>Have you looked at this scan carefully, Doctor? At his face? It's love, in point of fact. Something a good deal more dangerous.</dd>
</dl>


<p>Let&#x2019;s be honest, a Browncoat&#x2019;s love for Firefly does include a touch of madness. We can verge on the obsessive at times. But that&#x2019;s only because Firefly is worth it. We are privileged to be able to enjoy, and continue to enjoy, such a wonderful creation in all its forms.</p>

<p>Firefly really ought to have died by now. A cancelled television show should not have resulted in a runaway DVD hit or a movie. And the relatively small amount of official content should not have kept the fans going so strong for so long. But, as we all know, &#x201C;all the math in the &#x2018;verse&#x201D; can be wrong when it comes to love. Love keeps Serenity and her crew flying, and it keeps us Browncoats flying too.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1555/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1563/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/154/index.html>The Signal: Season 5, Episode 19</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
