<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1639/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1683/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>The Real Me</h2>

<audio src=../../../../yonder/signal_heartoffirefly_10.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_heartoffirefly_10.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/162/index.html>The Signal: Season 6, Episode 5</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/108/index.html>Jutta Jordans</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NISKA</dt>
<dd>I think this is not enough. Not enough for two. But sufficient, perhaps, for one. Ahh, you now have&#x2014;</dd>
<dt>ZOE</dt>
<dd>Him. I'm sorry. You were going to ask me to choose, right? Do you wanna finish?</dd>
</dl>


<p>According to Cheryl Cain, the writer of War Stories, this is the moment around which the whole episode was built. Zoe is asked to choose who she would save &#x2013; her husband or her captain. The relationship between these three characters is at the heart of the episode. The crisis that leads up to Zoe needing to make her choice, and the consequences that follow on from it, serve to reveal a lot about who these, and other, characters really are. It&#x2019;s as Book says at the beginning of the episode, quoting the psychotic dictator and warrior poet, Shan Yu:</p>


<dl><dt>BOOK</dt>
<dd>Live with a man 40 years, share his house, his meals, speak on every subject. Then tie him up and hold him over the volcano's edge. And on that day you will finally meet the man.</dd>
</dl>


<p>War Stories provides our characters with a metaphorical volcano&#x2019;s edge and we get to see something of their true selves as they are dangled over it.</p>

<p>Before we get to the main storyline of Mal and Wash&#x2019;s capture by Niska, the focus is on River. The drugs Simon is treating River with appear to be working and we get to see what seems to be the real River as she makes off with Kaylee&#x2019;s apple and is chased playfully around Serenity. But it doesn&#x2019;t last and before long the confusion is back:</p>


<dl><dt>RIVER</dt>
<dd>Played with Kaylee, the sun came out and I walked on my feet, and heard with my ears... I hate the bits, the bits that stay down and I work, I function like I'm a girl. I hate it because I know it'll go away, the sun goes dark and chaos is come again. Bits. Fluids. What am I?</dd>
</dl>


<p>This question will be answered in a shocking way when we get towards the end of the episode, as we will see another side to the real River once she picks up Kaylee&#x2019;s gun.</p>

<p>Meanwhile, Niska, who we first met in The Train Job, is busy trying out Shan Yu&#x2019;s philosophy in a very practical way, as he tortures a man who has betrayed him:</p>


<dl><dt>NISKA</dt>
<dd>Now. We get to spend some time finding out about your true self. Tell me - Are you familiar with the works of Shan Yu?</dd>
</dl>


<p>Back on Serenity, Wash discovers that Zoe has lied to him about not telling Mal his idea of cutting out the middle man when selling the stolen drugs. The argument that ensues between them shows us that this issue is really just one outworking of an underlying tension in how Zoe relates to Wash as her husband and Mal as her captain:</p>


<dl><dt>ZOE</dt>
<dd>Right, &#x2018;cause what this marriage needs is one more shouting match.</dd>
<dt>WASH</dt>
<dd>No, what this marriage needs is one less husband. Right now it's kind of crowded.</dd>
</dl>


<p>This particular exchange sets us up for the moment later in the episode when Zoe will have to choose between her two &#x201C;husbands&#x201D;.</p>

<p>As Mal and Wash fly off in one of the shuttles, we take a moment to look at the theme of being real from a different angle &#x2013; Inara&#x2019;s:</p>


<dl><dt>INARA</dt>
<dd>If I choose a woman, she tends to be extraordinary in some way. And the fact is, I occasionally have the exact same need you do. One cannot always be one's self in the company of men.</dd>
<dt>COUNCILOR</dt>
<dd>Never, actually.</dd>
</dl>


<p>As Mal puts it in the BDM, Inara is &#x201C;schooled in telling a man what he wants to hear&#x201D;. Her profession involves playing parts and hiding her true self. And even when she is not working, Inara tends to hide her real feelings, as we&#x2019;ve seen earlier in the series in Our Mrs Reynolds and as we&#x2019;ll see again in Heart of Gold.</p>

<p>Meanwhile, Mal and Wash find their &#x201C;milk run&#x201D; of a mission turns serious when they are captured by Niska&#x2019;s men and Zoe has to make her choice when she is able to save only one of them. Perhaps, like Niska, we as viewers are surprised by the calmness and speed with which Zoe makes her decision. The conflict we&#x2019;ve seen played out between Mal, Wash and Zoe may have led us to expect a big dramatic scene with lots of hand wringing and tortured deliberating, but this is Zoe after all &#x2013; coolness personified and a woman who knows what she wants.</p>

<p>Why does Zoe choose Wash? According to writer Cheryl Cain, when the story was pitched, Joss Whedon expressed the view that Zoe would choose Wash because she would trust Mal to save himself, but not believe Wash would be able to. In the official companion to the series, editor Lisa Lassek also puts forward a view. She says, quote, &#x201C;It shows that the relationship between Zoe and her husband is so different to the relationship between Zoe and Mal. [&#x2026;] Zoe&#x2019;s decision comes from a place of love. I mean that&#x2019;s just where you are when you&#x2019;re in that relationship,&#x201D; end quote. Perhaps both reasons play a part in Zoe&#x2019;s decision. Saving Wash is both a pragmatic choice, as he appears to be less able to withstand the torture, and an emotional one, as he is her husband and she loves him.</p>

<p>Mal&#x2019;s strength may have been on display during the torture, but Wash&#x2019;s comes out afterwards. He&#x2019;s barely off the skyplex and into the shuttle before he is expressing his determination to go back and save Mal:</p>


<dl><dt>WASH</dt>
<dd>Niska's gonna kill him.</dd>
<dt>ZOE</dt>
<dd>He's gonna make it last as long as possible. Days, if he can.</dd>
<dt>WASH</dt>
<dd>Bastard's not gonna get days.</dd>
</dl>


<p>The shooting script for this scene tells us, &#x201C;A look of stoic resolve crosses Wash&#x2019;s face. He rises shakily but surely to his feet.&#x201D; That&#x2019;s the real Wash. He may not have been in a firefight before, but he is prepared to risk returning to the place where he was horribly tortured in order to save his captain.</p>

<p>If that&#x2019;s the real Wash, who is the real Mal? In the BDM, he tells Inara that if he starts fighting a war, he guarantees she&#x2019;ll see something new. Are we getting a glimpse of this version of Mal when he is tortured by Niska? Wash has certainly seen something new in Mal through the experience and describes him to Zoe as &#x201C;insane&#x201D;. He&#x2019;d heard the war stories before, but now he has seen the real Mal. And so will Niska:</p>


<dl><dt>MAL</dt>
<dd>Looks like business ain't running so much as crawling away... You wanna meet the &quot;real me&quot; now...?</dd>
</dl>


<p>The mission to rescue Mal is something of a volcano&#x2019;s edge, in Shan Yu&#x2019;s words, for those crew members who join in, but do not usually get involved in gun fights. Book, Simon, Kaylee and later River all take up arms to help. The knowledge about guns Book shows earlier in the episode back on Ezra and the accuracy with which he uses them at the end suggest that he is perhaps revealing something about his true self in this episode. Simon is able to fire his gun (although according to Book he doesn&#x2019;t actually shoot anyone), but Kaylee doesn&#x2019;t even manage to do that. It is River though, who is the revelation.She takes the gun from Kaylee and fires off three perfectly aimed and deadly shots. Is this the real River now, and not the carefree girl we saw playing with Kaylee at the start of the episode?</p>

<p>At the end of the episode, harmony between Mal, Wash and Zoe is restored. After all the torture and the gunfighting, we end on a domestic note, with Zoe making soup for her husband. After Zoe and Wash leave to &#x201C;be in their bunk&#x201D;, Jayne&#x2019;s face lights up at the prospect of a free bowl of soup and he unthinkingly whacks Mal in the chest where Niska&#x2019;s torture device had been placed.</p>

<p>For an episode that has revealed something of the &#x201C;real me&#x201D; of several characters, it is somehow comforting to give the last line to Jayne, a character whose real self seems to be on show all the time.</p>


<dl><dt>MAL</dt>
<dd>I know it's a difficult mission&#x2014; But you and I have to get it on.</dd>
<dt>ZOE</dt>
<dd>I understand. We have no choice. Take me, sir. Take me hard.</dd>
<dt>JAYNE</dt>
<dd>Now somethin' about that is just downright unsettlin'.</dd>
<dt>WASH</dt>
<dd>We'll be in our bunk.</dd>
<dt>ZOE</dt>
<dd>Oh.</dd>
<dt>JAYNE</dt>
<dd>Hey. Free soup.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1639/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1683/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/162/index.html>The Signal: Season 6, Episode 5</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
