<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Around the 'Verse in 80 Days</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Around the 'Verse in 80 Days</h1>
<div><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1461/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/1773/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
<h2>New Melbourne</h2>

<!-- audio src signal_aroundtheverse_day19.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_aroundtheverse_day19.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/160/index.html>The Signal: Season 6, Episode 3</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Martin Hammond</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/23/index.html>Anna Snyder</a></td>
<td>as Mary Tate</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>MARTIN</dt>
<dd>Day 19, and I'm standing here in Essendon Docks, which is surely one of the most marvellous places in New Melbourne - certainly among my travels anyway. Thanks to the unexpected ride I picked up from Persephone, I'm actually here two days earlier than expected. Now this actually caused a bit of a problem for my film crew, because dear old YKC planned for us getting delayed, but they never actually planned for us arriving ahead of schedule, so as you can imagine there's been a lot of scrabbling out looking for hotel rooms and such.</dd>
<dt>MARTIN</dt>
<dd>However, none of that affects me, because I'm staying with my guide, Mary Tate, who, when she's not looking after tired old YKC presenters like me, is a freelance cargo pilot, with her own ship. Mary, thank you very much for having me.</dd>
<dt>MARY</dt>
<dd>You're welcome.</dd>
<dt>MARTIN</dt>
<dd>So, tell me something about these docks, because they really are something quite special.</dd>
<dt>MARY</dt>
<dd>Yes, the whole dock complex is built on an artificial island. You can see the city of New Melbourne itself over on the mainland, just peeking over the horizon there.</dd>
<dt>MARTIN</dt>
<dd>Yes I always found it interesting that there's a city called New Melbourne, on the planet of New Melbourne.</dd>
<dt>MARY</dt>
<dd>There's actually a good historical reason for that. In actual fact, the city was named first, and the planet was named after it. New Melbourne was the first world to be colonized outside the Core, and the settlers settled right over there in New Melbourne, the city, except of course it wasn't a city back then, and they called their settlement New Melbourne after somewhere on Earth-That-Was. Everything grew up around that city, and so, when people travelled to this world, they would always say &quot;We're going to New Melbourne&quot;, not &quot;We're going to Redland&quot;, which is what the Alliance wanted to call the world originally. Fortunately, the new name stuck, and you don't see anyone complaining.</dd>
<dt>MARTIN</dt>
<dd><em>(amused)</em> And all the maps had to be changed.</dd>
<dt>MARY</dt>
<dd>Yes, but that was a long time ago. I mean, here we are, we're coming up to the three hundredth anniversary of the 'verse. One more year now.</dd>
<dt>MARTIN</dt>
<dd>Well, I must thank you again for putting me up at such short notice. I was supposed to be staying with a family over in Stravinsky, but of course because I got here early, they're not ready for me. But I must say, I think I got the better part of the deal.</dd>
<dt>MARY</dt>
<dd>You're welcome. So, let me show you around. This is actually a freight space port, not a passenger space port, so, if you're hoping to get a lift to the wherever you're going next, you're probably in the wrong place.</dd>
<dt>MARTIN</dt>
<dd>Wherever I am is always the right place.</dd>
<dt>MARY</dt>
<dd>I like that attitude. So, you can see here, Aircom Airfreight, where I work. I'm actually freelance, but Aircom is where I get most of my jobs. They subcontract to Blue Sun Postal, and we get to go ... basically where no one else wants to go.</dd>
<dt>MARTIN</dt>
<dd>My word, that sounds exciting.</dd>
<dt>MARY</dt>
<dd>Well, it can be pretty dangerous sometimes, but we - my crew and I - we've learned how to look after ourselves.</dd>
<dt>MARTIN</dt>
<dd>And, is this your ship?</dd>
<dt>MARY</dt>
<dd>No, this is Bellflower. She's a Sandfly class transport, owned by friends of mine. She's a beautiful ship - really something special. No, <em>this</em> is my ship.</dd>
<dt>MARTIN</dt>
<dd><em>(beat) (surprised, and wondering if the thing can even fly)</em> Ah!</dd>
<dt>MARY</dt>
<dd>This is my ship, Come-A-Gutser.</dd>
<dt>MARTIN</dt>
<dd>And ... this is really a space ship is it? May I see inside?</dd>
<dt>MARY</dt>
<dd>She certainly is, but no access right now I'm afraid. She's just about to be loaded up, and we don't want to get in the way. But I'll tell you what I can show you - If you come with me, there's a little party going on over on the mainland.</dd>
<dt>MARTIN</dt>
<dd>A party?</dd>
<dt>MARY</dt>
<dd>Yes, a little mulled wine, a little beer. It's the semifinals of the Phoenix Motorsport championships - lots of racing, fast cars, and of course this year all the locals are rooting for Jules Sytow, because he's a local man. Will you come?</dd>
<dt>MARTIN</dt>
<dd>Well I mustn't get too tipsy, but I don't see why not.</dd>
<dt>MARY</dt>
<dd>You'll need a hat.</dd>
<dt>MARTIN</dt>
<dd>A hat? Not one of those snake head things I hope? I've heard about those.</dd>
<dt>MARY</dt>
<dd>A racing hat. Shows your alliegance. Shows who you want to win, who you'll be cheering for. Don't worry - I'll look after you; you'll be fine.</dd>
</dl>


<p>Later, at the party...</p>


<dl><dt>MARTIN</dt>
<dd><em>(to the audience)</em> Well, Mary was true to her word. We took a hovercar from the island to here in the New Melbourne itself - the city, not the planet - although also the planet. My word, this is confusing, having two places with the same name. Anyway, as you can see, we're in the stalls at the famous Ravenstone racing circuit. The race hasn't yet started, but already you can feel the tension mounting</dd>
<dt>MARY</dt>
<dd>Try one of these.</dd>
<dt>MARTIN</dt>
<dd>What is it?</dd>
<dt>MARY</dt>
<dd>It's a local delicacy. It's called &quot;pirate cake&quot;. It's basically protein-based meat substitute wrapped up in a baked dough casing - and then laced with an awful lot of rum.</dd>
<dt>MARTIN</dt>
<dd>Rum?</dd>
<dt>MARY</dt>
<dd>Absolutely. Try some.</dd>
<dt>MARTIN</dt>
<dd><em>(with mouth full)</em> Mmmmmh! Oh, that is good. But you don't normally live here, do you?</dd>
<dt>MARY</dt>
<dd>No, that's true. I actually live on Come-A-Gutser, but this is race season. These races only happen once every four years, so this is a good excuse to get off-ship and actually have some decent shore-leave for a change.</dd>
<dt>MARTIN</dt>
<dd>So we will be going back to Come-A-Gutser later on?</dd>
<dt>MARY</dt>
<dd>Yes, we've made a room for you. You'll be all cozy.</dd>
<dt>MARTIN</dt>
<dd>Maybe I should bring along some of this pirate cake?</dd>
<dt>MARY</dt>
<dd>Maybe you should. <em>(suddenly)</em> The race is starting.</dd>
</dl>


<p>Later, on board Come-A-Gutser...</p>


<dl><dt>MARTIN</dt>
<dd><em>(to the audience)</em> Well I don't know if that was a good sign or a bad one, but local boy Jules Sytow actually lost the race. I think he came fourth or something, but they only give you a medal if you're in the top three, so lots of commiserating around New Melbourne City. But we've left all that behind, and we're back here on Essendon Docks, and I'm - as you can see - all comfy in my little room, here in this little freighter. It's an odd feeling, being in a space ship which is actually parked. I can only imagine what this would feel like actually in space. But even though I won't get to experience that pleasure, I can still show you around.</dd>
<dt>MARTIN</dt>
<dd>This really is a tiny little space ship. Officially it's a freight hauler, but actually it's more of a tug. The freight has to be carried separately in its own container, and then the tug literally tows it up into orbit and across space. It really is the most extraordinary thing I've ever seen.</dd>
</dl>


<p>Mary rushes into Martin's room...</p>


<dl><dt>MARY</dt>
<dd>Change of plan. We gotta go.</dd>
<dt>MARTIN</dt>
<dd>What? Why?</dd>
<dt>MARY</dt>
<dd>Something's come up. Sorry, but this is the kind of life we lead. You can either leave the ship now, or come with us.</dd>
<dt>MARTIN</dt>
<dd><em>(flustered)</em> Well - where are you going?</dd>
<dt>MARY</dt>
<dd>Steele - but we can drop you off on Anson's World if you like - you can get a passenger transport from there all the way to Kalidassa.</dd>
<dt>MARTIN</dt>
<dd>I ... just need to consult with my film unit.</dd>
<dt>MARY</dt>
<dd>Don't take too long. Lift off in ten.</dd>
<dt>MARTIN</dt>
<dd><em>(to the audience)</em> Without anywhere else to sleep, I had to make up my mind pretty quickly. Fortunately, the very informative researchers at YKC have confirmed that I will be able to journey on from Anson's World, so - it looks like I'll get to see this ship in space after all. Let's just hope this journey turns out to be unadventurous.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1461/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/1773/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/160/index.html>The Signal: Season 6, Episode 3</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
