<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/3085/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/2047/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 30: The Phantom Hope</h2>

<!-- audio src=signal_terraformers_30.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_30.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/187/index.html>The Signal: Season 6, Episode 17</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Announcer</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>The only upside to our latest disaster is that Mr Spall is now not talking to us. The downsides, however, are so epic as to provide enough material for a thousand sagas.</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>All right already! I said I was sorry! How was I to know his ship wouldn&#x2019;t work properly without that compression coil?</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>If we weren&#x2019;t so short-staffed and so close to the end of term, I would have fired those two incompetents in a nanosecond.</dd>
<dt>NARRATOR</dt>
<dd>Episode number 30 &#x2013; The Phantom Hope</dd>
</dl>


<hr>
<p><em>Location: Staff room at Black Rock Training Centre. Background chatter. Door opens as Mr Spall walks in.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(In a bad mood and very sarcastic.)</em> All right, all right, settle down. Let&#x2019;s get this morning&#x2019;s announcements over with and you can all get on with the joyous task of trying to drum some sense into our wonderful trainees. Are we all here? No one else has quit overnight, I hope? Now there are just six of you, you&#x2019;ll have to work extra hard next week to cover all the exams.</dd>
<dt>TEACHER</dt>
<dd><em>(Timidly.)</em> Um, Mr Spall? There are eight of us.</dd>
<dt>MR SPALL</dt>
<dd><em>(Pointedly.)</em> I&#x2019;m not counting the two people who will be fired the very moment time is called on the last exam. They are as good as gone already. Any other pointless interruptions? No, right, let&#x2019;s continue. Here are the final exam schedules.</dd>
</dl>


<p><em>Mr Spall walks around to each desk, handing out papers. Background noise of the other teachers in the classroom talking to each other. The following dialogue plays over the sounds of this.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Whispering, despairing.)</em> Why don&#x2019;t we just quit now, Sarah? All we&#x2019;re going to do is work out another boring week and <em>then</em> get fired. What&#x2019;s the point?</dd>
<dt>SARAH</dt>
<dd><em>(Whispering.)</em> The point is that if we quit, that&#x2019;s it. We&#x2019;re out. No one will ever hire us again as terraformers. But if we hang in here for another week, maybe, just maybe, we can find a way back into Mr Spall&#x2019;s good books.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Whispering, not particularly enthusiastically.)</em> I suppose so.</dd>
<dt>SARAH</dt>
<dd><em>(Whispering.)</em> Well, what&#x2019;s the worst he can do? We&#x2019;re already fired!</dd>
<dt>MR SPALL</dt>
<dd><em>(Loudly.)</em> All right, enough of that chatter. What has got into you lot? Anybody would think you were excited at the prospect of a week spent invigilating exams.</dd>
<dt>TEACHER</dt>
<dd>It&#x2019;s the announcement about the Black Rock prize fund, Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd><em>(Wearily.)</em> I didn&#x2019;t hear it. Will you please enlighten me?</dd>
<dt>TEACHER</dt>
<dd>The fund has just gone over a million credits. If anyone works out how to fix Black Rock&#x2019;s terraforming problems, they&#x2019;d become a millionaire overnight!</dd>
<dt>MR SPALL</dt>
<dd><em>(Laying on the sarcasm very thickly.)</em> Oh, well, now the prize is a million credits, I guess it&#x2019;s time for me to own up. <em>(Beat.)</em> I worked it out ages ago. I was just waiting for the prize fund to get nice and high before I let everyone in on the secret. <em>(Beat. Scathingly.)</em> Oh, you bunch of backbirths! Of course I haven&#x2019;t worked it out! You think I&#x2019;d still be here with you if I had? Honestly! Get back to work, the lot of you.</dd>
</dl>


<p><em>Sounds of chatting and chairs scraping as people leave the staffroom.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Excitedly.)</em> That&#x2019;s it, Sarah! That&#x2019;s the way we can keep our jobs! We can solve the Black Rock mystery!</dd>
<dt>SARAH</dt>
<dd><em>(Soberly and slightly sarcastically.)</em> I like your optimism, Taya Ray. Let&#x2019;s aim high! I should add though that if we did solve the mystery and claim the prize, I don&#x2019;t know about you, but I don&#x2019;t think I&#x2019;d be keeping <em>this</em> job. <em>(Beat.)</em> Come on, I think we have a lab to clean.</dd>
</dl>


<p><em>Musical cue to indicate passing of time. Then noises of water sloshing around as Sarah and Taya Ray mop the lab floor. We come in as Taya Ray is nearing the end of her list of possible solutions to the Black Rock mystery.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Or, it could be that the nanobots got confused because the electromagnetism made time speed up for them&#x2014; <em>(Beat.)</em> No, wait, that doesn&#x2019;t make any sense.</dd>
<dt>SARAH</dt>
<dd>Solving the Black Rock mystery not quite as easy as you thought, huh?</dd>
<dt>TAYA RAY</dt>
<dd>Yeah, I guess if it were just a matter of something like, oh, I don&#x2019;t know, using the Bellum catalyst <em>before</em> the second stage of the geothermal regularisation protocol and not <em>after</em> it, someone would have done it already.</dd>
<dt>SARAH</dt>
<dd><em>(Beat. Water sounds stop.)</em> What did you just say?</dd>
<dt>TAYA RAY</dt>
<dd>Huh? If it were just a matter of using the Bellum catalyst <em>before</em> the second stage of&#x2014; What? Why are you looking at me like that? I was just being silly.</dd>
<dt>SARAH</dt>
<dd><em>(Starting to sound excited.)</em> Well, yes, of course, but what if you used the catalyst before the geothermal regularisation even began? I bet no one&#x2019;s tried that!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Joining in with the excitement.)</em> It&#x2019;s crazy, but it just might work!</dd>
<dt>SARAH</dt>
<dd>Quick, bring me a condenser and a couple of flasks!</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Trying to contain her excitement.)</em> Ok, the moment of truth. Hand me that microscope, will you?</dd>
<dt>TAYA RAY</dt>
<dd>Here you go. Can you see anything?</dd>
<dt>SARAH</dt>
<dd>Give me a moment to focus it! Ok, I&#x2019;m looking for a small whitish translucent mark&#x2026; That will tell us our theory works. <em>(Beat.)</em> I don&#x2019;t believe it! It&#x2019;s there! I can see it!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Excited.)</em> Let me look! Yes, I can see it too. We&#x2019;ve done it! Something so little that it could just be a smear on the lens, but it&#x2019;s saved us. We&#x2019;re outta here and we&#x2019;re gonna be rich! <em>(Beat.)</em> What? Why aren&#x2019;t you celebrating, Sarah?</dd>
<dt>SARAH</dt>
<dd><em>(Beat. Flatly.)</em> <em>Tzao gao. (Beat.)</em> Pass me that lens cloth.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/3085/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/2047/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/187/index.html>The Signal: Season 6, Episode 17</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
