<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 22</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 22</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/97/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/99/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_322_20071122.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_322_20071122.mp3 download=signal_season03_22.mp3>Download audio file</a></div>
<div class=info>Thursday 22nd November 2007</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:25</td>
<td class=shownote><h3>Banter</h3>
<div><ul><li>The WGA strike - International Day of Solidarity on Wednesday, November 28, 2007.</li>
<li><ul><li><a href=../../../external.html#http://www.writersguildofcanada.com/>Writers Guild of Canada</a></li>
<li><a href=../../../external.html#http://www.writersguild.org.uk/public/003_WritersGuil/172_WGGBNewsInt.html>Writers' Guild of Great Britain</a></li>
<li><a href=../../../external.html#http://www.script.ie/>Irish Playwrights and Screenwriters Guild</a></li>
<li><a href=../../../external.html#http://www.awg.com.au/>Australian Writers Guild</a></li>
<li><a href=../../../external.html#http://www.wgaeast.org/>Writers Guild of America East</a></li>
<li><a href=../../../external.html#http://www.wga.org/>Writers Guild of America West</a></li>
</ul>
</li>
<li><a href=../../../external.html#http://bigdamnsequel.com>The campaign for Serenity II</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1029/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/77/index.html><img src=../../../image/image/104/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:35</td>
<td class=shownote><h3>Big Damn Test Kitchen</h3>
<h4>Big Damn Heroes' Feast</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1022/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:10:28</td>
<td class=shownote><h3>Interview</h3>
<h4>Jane Espenson, part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1020/98/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:22:08</td>
<td class=shownote><h3>Music Section</h3>
<h4>Nate's Theme</h4>
<p>Music by <a href=../../../human/view/29/index.html>Greg Edmonson</a></p>
</td>
<td><a href=../../../segment/view/1033/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:23:51</td>
<td class=shownote><h3>Interview</h3>
<h4>Jane Espenson, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1020/98/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:36:56</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 13: The End?</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/14/index.html>Claire Musso</a>, <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1035/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:53</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Cory - Conversion story</li>
<li>Patrick - Continuing Firefly</li>
<li>Merry - The Sci-Fi Review</li>
<li>Matt - BDHs on Halo</li>
<li>Music used is All That Has Come To Pass, by Floyd Salazar</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1018/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/84/index.html><img src=../../../image/image/106/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:53:38</td>
<td class=shownote><h3>Moonbrained Mike</h3>
<h4>Christmas</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; starring <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1024/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/75/index.html><img src=../../../image/image/101/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:37</td>
<td class=shownote><h3>Expanding the 'Verse</h3>
<h4>Podcasts</h4>
<div><ul><li><a href=../../../index.html>The Signal</a> (<span class=grayed-out>RSS</span>)</li>
<li><a href=../../../external.html#http://www.fireflytalk.com>Firefly Talk</a> (<a href=../../../external.html#http://fireflytalk.libsyn.com/rss>RSS</a>)</li>
<li><a href=../../../external.html#http://sendingawave.blogspot.com/>Sending a Wave</a> (<a href=../../../external.html#http://www.futilityradio.com/sawlist.xml>RSS</a>)</li>
<li><a href=../../../external.html#http://talesfromtheverse.com/>Tales from the 'Verse</a> (<a href=../../../external.html#http://talesfromtheverse.libsyn.com/rss>RSS</a>)</li>
<li><a href=../../../external.html#http://strangelyliteral.libsyn.com/>Strangely Literal</a> (<a href=../../../external.html#http://strangelyliteral.libsyn.com/rss>RSS</a>)</li>
<li><a href=../../../external.html#http://afterserenity.libsyn.com/>After Serenity</a> (<a href=../../../external.html#http://afterserenity.libsyn.com/rss>RSS</a>)</li>
<li><a href=../../../external.html#http://carpedm.mypodcast.com/>Carpe DM</a> (<a href=../../../external.html#http://carpedm.mypodcast.com/rss.xml>RSS</a>)</li>
<li><a href=../../../external.html#http://www.jossd.com>Joss'd</a> (<a href=../../../external.html#http://jossd.libsyn.com/rss>RSS</a>)</li>
<li><span class=grayed-out>Borderline</span> (<a href=../../../external.html#http://badger.serenityfirefly.com>Smart RSS</a>)</li>
<li><span class=grayed-out>Fantasy Firefly</span> (<span class=grayed-out>RSS</span>)</li>
<li><a href=../../../series/view/158/index.html>Songs from the Black</a> (<a href=../../../external.html#http://badger.serenityfirefly.com>Smart RSS</a>) (<span class=grayed-out>RSS</span>)</li>
<li><a href=../../../external.html#http://sonic.libsyn.com/index.php?post_category=Firefly>Old Wounds</a> (<a href=../../../external.html#http://badger.serenityfirefly.com>Smart RSS</a>) (<a href=../../../external.html#http://serenityfirefly.com/firefly_old_wounds_rss.php>RSS</a>)</li>
<li><span class=grayed-out>Thoughts of Firefly</span> (<span class=grayed-out>RSS</span>)</li>
<li><span class=grayed-out>Summer of Serenity</span> (<span class=grayed-out>RSS</span>)</li>
</ul>
</div>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1002/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:01:44</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/14656>Joss interview with Publishers Weekly</a></li>
<li><a href=../../../external.html#http://www.blogtalkradio.com/Geekerati/blog/2007/11/17/Tim-Minear-Talks-the-Strike>Tim Minear on Geekerati radio show</a></li>
<li><a href=../../../external.html#http://www.californiabrowncoats.org/CABC/abshirts.html>Adam Baldwin auctioning T-shirts</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/11/16/final-images-of-mal-mini-bust/>Mal mini-bust now on sale</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1032/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/91/index.html><img src=../../../image/image/102/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:03:36</td>
<td class=shownote><h3>Moonshine</h3>
<h4>Episode 5: Shadowed Woman</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1036/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:35</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:57<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/97/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/99/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3892>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
