<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1567/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1637/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 11: Catastrophe at Black Rock</h2>

<!-- audio src=signal_terraformers_11.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_11.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/158/index.html>The Signal: Season 6, Episode 1</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/19/index.html>Wayne Hutchinson</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>Mr Spall is never going to forgive us for trashing his new shuttle at the ground-breaking ceremony. He was so mad &#x2013; I didn&#x2019;t think human faces could turn that colour.</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>He sure was purple, wasn&#x2019;t he? It was a nice colour for a sweater, but for a face, not so much.</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>For the sake of my nerves, there should be several worlds between you two and me for a little while.</dd>
<dt>NARRATOR</dt>
<dd>Episode number 11 &#x2013; Catastrophe at Black Rock</dd>
</dl>


<hr>
<p><em>Location: Inside shuttle</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Over com, still angry.)</em> The length of your assignment at Black Rock will depend on your record there, or on my mood, whichever is blackest.</dd>
<dt>SARAH, TAYA RAY</dt>
<dd><em>(Dutiful, depressed.)</em> Yes, Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com, resigned.)</em> Just try not to infect any of the trainees with your inexhaustible ability to find ways to screw things up. Spall out.</dd>
</dl>


<p><em>Beeps/clicks to indicate end of com conversation.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Boy, he still sounds so mad.</dd>
<dt>SARAH</dt>
<dd>Yeah, but not so mad that he couldn&#x2019;t come up with an inventive punishment. Assigned to Black Rock Training Centre. Indefinitely. <em>(Sarcastic.)</em> Fantastic.</dd>
<dt>TAYA RAY</dt>
<dd>I don&#x2019;t get why it&#x2019;s such a bad assignment.</dd>
<dt>SARAH</dt>
<dd>Are you serious? Black Rock&#x2019;s got to be the most depressing assignment a terraformer can ever get. The clue&#x2019;s in the name, Taya Ray! The centre&#x2019;s the only part of the moon where the terraforming held properly. There&#x2019;s nowhere else to go and nothing else to do.</dd>
<dt>TAYA RAY</dt>
<dd>Then why build a training centre there?</dd>
<dt>SARAH</dt>
<dd>The powers that be realised it was safer letting trainee terraformers loose on a moon that was already a black rock. It&#x2019;s not like they can make it any worse.</dd>
<dt>TAYA RAY</dt>
<dd>I guess that makes sense. I remember some of the things we messed up in training... Yeah, it probably would have been better if we&#x2019;d done those things away from where people were, you know, actually living...</dd>
<dt>SARAH</dt>
<dd>Exactly. <em>(Sarcastic.)</em> Well, we missed out on the joyful experience of being trainees at Black Rock, but now we get to enjoy life there as instructors. Yay for us!</dd>
<dt>TAYA RAY</dt>
<dd>And I&#x2019;m guessing that being given this old junker of a shuttle to use is another part of Mr Spall&#x2019;s punishment?</dd>
<dt>SARAH</dt>
<dd>Oh yes. <em>(Sarcastic.)</em> We get to arrive in style, assuming we arrive at all, that is.</dd>
</dl>


<p><em>Clunks and scrapes over next line as Taya Ray tries to adjust her seat.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Breathing heavily from the effort.)</em> I can&#x2019;t even get this seat into the right position&#x2014;</dd>
<dt>SARAH</dt>
<dd>Oh, don&#x2019;t try to move it! Mr Spall said&#x2014;</dd>
<dt>SHUTTLE WARNING SYSTEM</dt>
<dd>Life support failure. Check oxygen levels at once.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Panicked.)</em> What?! Help!</dd>
<dt>SARAH</dt>
<dd><em>(Resigned.)</em> Don&#x2019;t panic. It&#x2019;s a false alarm. Mr Spall said that warning always comes on if you try to adjust the seats.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Sheepish.)</em> Oh.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>

<p><em>Location: Inside shuttle</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Sarcastic.)</em> Well, isn&#x2019;t this fun? Our first training exercise involves sitting in this piece of <em>fei oo</em> shuttle, enjoying a magnificent vista of absolute nothingness and checking in with our trainee teams every hour.</dd>
<dt>TAYA RAY</dt>
<dd>It&#x2019;s not really the most thrilling of assignments, is it?</dd>
<dt>SARAH</dt>
<dd>Nothing slips by you, does it? <em>(beat.)</em> Well, it&#x2019;s time to see what shenanigans our dear trainees have gotten themselves into...</dd>
</dl>


<p><em>Beeps/clicks to indicate use of com as appropriate over following lines.</em></p>


<dl><dt>SARAH</dt>
<dd>Team Alpha, this is Brunel. Do you read?</dd>
</dl>


<p><em>Silence...</em></p>


<dl><dt>TAYA RAY</dt>
<dd>I guess not.</dd>
<dt>SARAH</dt>
<dd>Team Bravo, this is your chance to shine. Do you read?</dd>
</dl>


<p><em>Silence...</em></p>


<dl><dt>TAYA RAY</dt>
<dd>At what point do we start to get worried, Sarah?</dd>
<dt>SARAH</dt>
<dd>Team Charlie, we&#x2019;re 0 for 2 here. Talk to us...</dd>
</dl>


<p><em>Silence...</em></p>


<dl><dt>SARAH</dt>
<dd>Ok, this is officially our cue to get worried. Please tell me that we haven&#x2019;t just lost all three teams on our first day.</dd>
<dt>TAYA RAY</dt>
<dd>Lost them where? There&#x2019;s nowhere for them to go!</dd>
<dt>SARAH</dt>
<dd>Fair point. But you let newbies play with big boy terraforming toys and who knows what can happen...</dd>
</dl>


<p><em>Muffled sound of cat purring.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Curious, without panic.)</em> What was that?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Animated.)</em> It sounded like a wild animal roaring in the distance! Do you think the teams have been eaten?!</dd>
<dt>SARAH</dt>
<dd>Um, that would be a no. Don&#x2019;t think large animal far away &#x2013; think small animal very close...</dd>
</dl>


<p><em>Creak as Sarah opens a panel under the console and then non-muffled sounds of a cat miaowing.</em></p>


<dl><dt>SARAH</dt>
<dd>Out you come, kitty. Was that a nice spot for your nap? Next time try not to pull out the com wires!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Getting it.)</em> Oh!</dd>
<dt>SARAH</dt>
<dd><em>(Talking to herself as she puts the wires back where they should be.)</em> That one goes in there, that one in there, and there we go.</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Brunel, Parsec, do you read?</dd>
<dt>SARAH</dt>
<dd>Well, that was close!</dd>
</dl>


<p><em>Beeps/clicks as Sarah answers com.</em></p>


<dl><dt>SARAH</dt>
<dd>We&#x2019;re here, Mr Spall. All present and correct.</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Really? I&#x2019;m not sure I can believe that. Come on, let&#x2019;s hear it then. What&#x2019;s your latest catastrophe?</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1567/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1637/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/158/index.html>The Signal: Season 6, Episode 1</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
