<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Around the 'Verse in 80 Days</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Around the 'Verse in 80 Days</h1>
<div><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1483/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/1897/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
<h2>Anson's World</h2>

<audio src=../../../../yonder/signal_aroundtheverse_day26.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_aroundtheverse_day26.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/170/index.html>The Signal: Season 6, Episode 9</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Martin Hammond</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/96/index.html>Kara Helgren</a></td>
<td>as Erica Skywalker</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>MARTIN</dt>
<dd>In the year 1740, Commodore George Anson set sail with eight sailing ships on a journey which would take him around the world-that-was. There was a war at the time: it was called &quot;The War of Jenkin's Ear&quot;, although nobody today knows why. Perhaps Jenkin's ear was particularly valuable? You have to wonder why the other one wasn't also valuable. In any case, Jenkin's ear was sufficent cause for two great nations, called Britain and Spain, to go to war. And it was in that climate that George Anson set sail, on a journey that would eventually take him all the way around Earth-that-was.</dd>
<dt>MARTIN (cont'd)</dt>
<dd>He never actually set out to travel around the world; his mission was one of conquest. But, a series of disasters forced him - eventually - to circumnavigate the globe, by accident. He arrived back in Britain four years after he set out. I imagine that the people of the time were probably quite surprised to see him.</dd>
<dt>MARTIN (cont'd)</dt>
<dd>Anson's tale of disaster turning into triumph now seems bitterly ironic to me. My own carefully planned out schedule to circumnavigate the 'Verse seems to be falling apart, thanks to a series of disasters of my own, and now I have to confess - I really don't know whether or not I'll be able to make the journey within my alloted eighty days. And the reason I say that's &quot;ironic&quot; is because <em>this</em> - is Anson's World.</dd>
<dt>MARTIN (cont'd)</dt>
<dd>Day 25, and I'm travelling across the Watacha mountains - by mule!</dd>
</dl>


<p><em>(music to indicate vast and lonely landscape)</em></p>


<dl><dt>MARTIN</dt>
<dd><em>(sounding slightly despondent...)</em> If you watched last week's programme, you'll know that the good folk of Come-A-Gutser said they'd drop me off on Anson's world. Well, they were true to their word, but what they neglected to mention was exactly <em>where</em> on Anson's world they'd drop me off. I'm not quite sure what I expected, but inhospitable, uninhabited plains, weren't high on my list of desirable destinations.</dd>
<dt>MARTIN (cont'd)</dt>
<dd>That's not the only problem. The rules of this adventure state that I'm only allowed to use public transport. Some of the big boss types at YKC decided that the last leg of my journey on Come-A-Gutser was against the rules. A freight hauler, they say, is not public transport. So, as punishment, they've given me a three day penalty. When I do eventually get back to civilization, that penalty means I'll have to stay put for three more days, before I'll be allowed to continue onto the next leg. And they've given me strict instructions not to not to take any more private ships, for any part of the journey.</dd>
<dt>MARTIN (cont'd)</dt>
<dd>My mother always told me not to accept lifts from strangers. Guess I should have listened.</dd>
<dt>MARTIN (cont'd)</dt>
<dd>We came down on the outskirts of a small town, called Dead Man's Creek. The only regular public transport there was a stagecoach which visited the town every two weeks, and of course I'd just missed one. But I was able to hire a mule, so I checked with YKC that hiring a mule does count as public transport. Then I checked again, just to make sure. &quot;No problem&quot;, they said. I wouldn't be surprised if after I'd hung up, they all laughed.</dd>
</dl>


<p><em>(music to indicate the passage of time)</em></p>

<p>EXT - MUSEUM FORECOURT</p>


<dl><dt>MARTIN</dt>
<dd><em>(sounding much more cheerful now)</em> Day 26, and here I am, at last, in civilisation. With me is my hastily recruited guide, Erica Skywalker. Erica - first of all, thanks very much for putting me up at short notice.</dd>
<dt>ERICA</dt>
<dd>You're very welcome.</dd>
<dt>MARTIN</dt>
<dd>I hope you don't mind my asking, but ... <em>Skywalker</em>? Is that your real name?</dd>
<dt>ERICA</dt>
<dd>Yes, my mother was a Skywalker; my father was a Skywalker. There have been Skywalkers in my family for over one hundred fifty years that we've been able to trace.</dd>
<dt>MARTIN</dt>
<dd>That's very interesting, because of course whenever I hear the name &quot;Skywalker&quot; I immediately think of Harry Skywalker, the inventor of the carbon spinerette.</dd>
<dt>ERICA</dt>
<dd>He's no relation, I'm afraid. No one in my family has ever been <em>quite</em> that famous, although there was a great uncle on my father's side who was some sort of Lord on Persephone.</dd>
<dt>MARTIN</dt>
<dd>Well I'm sure that your own family is every bit as illustrious.</dd>
<dt>ERICA</dt>
<dd>Thank you.</dd>
<dt>MARTIN</dt>
<dd>My bosses have commanded me to stay here for three days before I'm allowed to continue on my journey, but looking around me, I can see that's really going to be no hardship at all. In fact, I think I might stay longer.</dd>
<dt>ERICA</dt>
<dd><em>(laughs)</em></dd>
<dt>MARTIN</dt>
<dd>Well maybe I could come back for a holiday sometime.</dd>
<dt>ERICA</dt>
<dd>You'd be more than welcome.</dd>
<dt>MARTIN</dt>
<dd>So tell me about this place. Where are we now?</dd>
<dt>ERICA</dt>
<dd>This city is Musk, and we are standing in the forecourt of the Musk Museum of Antiquity. As you can see it is very busy. It attracts lots of visitors, mostly from St Albans but also from Jubilee and other nearby worlds, and also a surprising number of visitors from the Kalidassa system.</dd>
<dt>MARTIN</dt>
<dd>Now this world - Anson's World. I've read conflicting reports. Some say it was named after George Anson, a seafarer from Earth-that-Was. Is that true?</dd>
<dt>ERICA</dt>
<dd>No actually that is completely <em>un</em>true.</dd>
<dt>MARTIN</dt>
<dd><em>(surprised)</em> Really?</dd>
<dt>ERICA</dt>
<dd>Yes that is an urban myth. This planet is <em>in fact</em> named after Straker Anson, who was the first leader of this world. His family continued to lead here until the war for Unification ended their reign. The most recent leader from the Anson family was Shada Durras. She didn't bear the Anson surname, but she was of that family, and was actually still running this world on the day we surrendered, nine years ago.</dd>
<dt>MARTIN</dt>
<dd>That does surprise me, I have to say. When I was in Dead Man's Creek, one of the locals there told me the story of George Anson's accidental trip around Earth-that-Was after going to war over someone's ear, and I just assumed it was all true.</dd>
<dt>ERICA</dt>
<dd><em>(silence)</em></dd>
<dt>MARTIN</dt>
<dd><em>(embarrassed)</em> Well, it seemed believable at the time.</dd>
<dt>ERICA</dt>
<dd>Let me show you something.</dd>
</dl>


<p><em>(Sounds of footsteps)</em></p>


<dl><dt>MARTIN</dt>
<dd><em>(surprised and amused)</em> My word, I never expected-- This is a pub?</dd>
<dt>ERICA</dt>
<dd>This is a pub.</dd>
<dt>MARTIN</dt>
<dd>&quot;The Jenkin's Ear&quot;.</dd>
<dt>ERICA</dt>
<dd>Named with a sense of humor. Come on, let's go inside.</dd>
</dl>


<p>INT - &quot;THE JENKIN'S EAR&quot; PUB</p>


<dl><dt>MARTIN</dt>
<dd><em>(gleeful)</em> Oh look - our viewers are going to love this. Look, there's a plaque that tells you all about the War of Jenkin's Ear, on Earth-that-Was from 1739 to 1748. It says that the war started when Spanish ships boarded a British ship and cut the captain's ear off. Ouch. And you're saying none of that's really true?</dd>
<dt>ERICA</dt>
<dd>I think history is written by the winners. This is the story the Alliance prefers to tell.</dd>
<dt>MARTIN</dt>
<dd>Because...?</dd>
<dt>ERICA</dt>
<dd>Because they don't like the idea of Straker Anson. They don't like the idea that a world can govern itself peacefully, can look after itself. There is much bitterness here about the war. This is an Independent world. The police you see around here - we call them &quot;purplebellies&quot;, and they are not local.</dd>
<dt>MARTIN</dt>
<dd>And ... may I assume from the tone of your voice, you see that as an intrusion?</dd>
<dt>ERICA</dt>
<dd><em>(beat)</em> In a manner of speaking. The war's been over a long time now, and it's long past time to put it behind us and move on. But these ... troops ... do make that difficult. Many people are sad about the surrender. These Alliance soldiers - they just keep reminding us of it. But enough of the past. I should buy you a drink. What will you have?</dd>
<dt>MARTIN</dt>
<dd>Oh I don't want any--</dd>
<dt>ERICA</dt>
<dd>Nonsense. You're off duty. You're stuck here for three days. Why not treat it like a holiday? Eat, drink, be merry.</dd>
<dt>MARTIN</dt>
<dd>I guess just one drink won't hurt...</dd>
</dl>


<p><em>(Music to indicate time passing)</em></p>


<dl><dt>MARTIN</dt>
<dd><em>(drunk and singing, badly)</em> Won't you pour me a glass, of Monaghan's Mudder's Milk? We'll wash the mud away..</dd>
<dt>ERICA</dt>
<dd><em>(drunk and singing, not so badly)</em> Won't you pour me a glass, of Monaghan's Mudder's Milk? We'll wash the mud away..</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1425/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1483/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/128/index.html>Up</a> &#x2022; <a href=../../../segment/view/1897/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2249/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/170/index.html>The Signal: Season 6, Episode 9</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
