<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1983/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/2048/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 31: Judgment Day</h2>

<!-- audio src=signal_terraformers_31.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_31.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/188/index.html>The Signal: Season 6, Episode 18</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Announcer</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>I think it&#x2019;s time to admit defeat. Unless we come up something spectacular in the next couple of hours, we&#x2019;ll be looking for new careers. Time to start updating those resumes, I guess.</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>Do you think Mr Spall will give us some good references? No, ok, probably not.</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>The end of an era approaches. In just a few hours those two will be out of my hair for good. I can hardly believe it.</dd>
<dt>NARRATOR</dt>
<dd>Episode number 31 &#x2013; Judgment Day</dd>
</dl>


<hr>
<p><em>Location: Staff room at Black Rock Training Centre.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Business-like.)</em> Right, I think that&#x2019;s it. I would appreciate it if you could end your ignominious stay at Black Rock without any fireworks. Just make sure you do everything on the list and then take the shuttle back to HQ. No funny business, all right?</dd>
<dt>SARAH</dt>
<dd><em>(Weary and dutiful.)</em> Yes, Mr Spall.</dd>
<dt>TAYA RAY</dt>
<dd>Is no one going to be here over the summer? Well, not that it is ever &#x201C;summer&#x201D; here, but you know what I mean.</dd>
<dt>MR SPALL</dt>
<dd>The place will be deserted until the new term. You two will be the last to leave. Hence the pre-departure checklist I just gave you.</dd>
<dt>SARAH</dt>
<dd>Where are you going when you leave here, Mr Spall?</dd>
<dt>MR SPALL</dt>
<dd>Far away from you, that&#x2019;s for sure. I&#x2019;m going to my old home for a spell, back to the Midlands</dd>
<dt>TAYA RAY</dt>
<dd>You&#x2019;re from the Midlands? You sure sound funny for someone who&#x2019;s from Londinium.</dd>
<dt>MR SPALL</dt>
<dd>I&#x2019;m from the Midlands of <em>Albion</em>, Taya Ray. Lots of planets have a middle. <em>(Beat.)</em> Right, I think that&#x2019;s it. So, this is goodbye.</dd>
<dt>SARAH</dt>
<dd><em>(Not very hopeful, but giving it a go.)</em> Yeah. No chance of a last-minute reprieve?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Brightly.)</em> We promise to turn over a new leaf. Lots of new leaves. A whole forest full of them, if it means we can keep our jobs.</dd>
<dt>MR SPALL</dt>
<dd><em>(Not unkindly.)</em> You blew up a bunch of squirrels, destroyed my new shuttle, disintegrated a Blue Sun statue, set fire to the dorm, infected a training house with Bowden&#x2019;s Malady and crashed a Scarab into an Alliance cruiser. Did I forget anything?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Helpfully.)</em> The mutated bullfrogs? The ice sculpture? <em>(Beat.)</em> Oh, wait, darn. You didn&#x2019;t know about those, did you?</dd>
<dt>MR SPALL</dt>
<dd>I think it&#x2019;s best we call it quits before you blow anything else up, don&#x2019;t you?</dd>
<dt>SARAH</dt>
<dd><em>(No answer to this.)</em> I guess so, Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd><em>(Showing a softer side for once.)</em> Look, take this as a chance to find a career you&#x2019;re more suited to. <em>(Beat.)</em> I recommend something in the demolition trade. <em>(Brusquely.)</em> Goodbye, Brunel, Parsec.</dd>
<dt>SARAH, TAYA RAY</dt>
<dd><em>(In unison.)</em> Goodbye, Mr Spall.</dd>
</dl>


<p><em>Musical cue to indicate passing of time. Location: laboratory.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Reading out the list to herself.)</em> Switch off dorm lights. Check. Unplug geotropic chambers. Check. That&#x2019;s it. <em>(Calling.)</em> Sarah, are you done? I&#x2019;ve done my half.</dd>
<dt>SARAH</dt>
<dd><em>(Voice coming from a distance away, then getting closer.)</em> Yeah, just coming. Ok, let&#x2019;s get out of here.</dd>
<dt>TAYA RAY</dt>
<dd>Yeah, I thought this place was depressing when there were other people here, but without anyone, it&#x2019;s even worse. Talk about creepy.</dd>
<dt>SARAH</dt>
<dd>It seems fitting though, to end our terraforming careers at the place that gave its name to terraforming disasters. Come on, let&#x2019;s get to the shuttle.</dd>
</dl>


<p><em>Musical cue to indicate passing of time. Location: shuttle.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>It looks so odd, doesn&#x2019;t it?</dd>
<dt>SARAH</dt>
<dd>Hmm?</dd>
<dt>TAYA RAY</dt>
<dd>Black Rock, I mean. When you see it from space. All smooth and just one colour. It looks so lifeless.</dd>
<dt>SARAH</dt>
<dd>That would be because it is exactly that. Not a single living soul down there, now that we&#x2019;ve gone. Oh, except that old cat that hung around the dorms. I guess he&#x2019;s still there.</dd>
</dl>


<p><em>Miaowing in the background.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(With a sigh.)</em> Or not. Taya Ray! Are you practising for a future career as an animal smuggler?</dd>
<dt>TAYA RAY</dt>
<dd>Well, I couldn&#x2019;t leave him down there all alone! He would have starved without anybody to feed him!</dd>
<dt>SARAH</dt>
<dd>I suppose so, but I really wish one of these days&#x2014; <em>(Cuts herself off mid-sentence. Then, very excitedly.</em>) Look!</dd>
<dt>TAYA RAY</dt>
<dd>What? Where?</dd>
<dt>SARAH</dt>
<dd>At Black Rock! The whole moon is&#x2014;Whoa!</dd>
<dt>TAYA RAY</dt>
<dd><em>Wuh de ma!</em></dd>
<dt>SARAH</dt>
<dd><em>(Disbelieving and very shocked.)</em> Did you see that?!</dd>
<dt>TAYA RAY</dt>
<dd>Did Black Rock just blow up?</dd>
<dt>SARAH</dt>
<dd>Well, it&#x2019;s still there, but it kind of went all wacky for a moment.</dd>
<dt>TAYA RAY</dt>
<dd>It looked like the kind of explosion you get when you warm up nitro-10. I had a prof who demonstrated it once. He used the teeniest drop of it and we weren&#x2019;t allowed anywhere near it, the explosion was so huge.</dd>
<dt>SARAH</dt>
<dd>Yeah, I saw that once too. It kind of looked like that, but, well, if it had been a whole bucket of the stuff.</dd>
</dl>


<p><em>(A long beat.)</em></p>


<dl><dt>SARAH</dt>
<dd><em>(A sinking feeling&#x2026;)</em> Taya Ray, did you switch the lab fridges over from the mains to the battery system?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Oblivious.)</em> No, I thought that was on your half of the list. I did switch the mains power off though. I remember doing that.</dd>
<dt>SARAH</dt>
<dd><em>(Shocked.)</em> Taya Ray! There was nitro-10 in one of the fridges! We just caused that explosion!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Realising it now and starting to panic.)</em> Oh no! Sarah, we just blew up a moon! What are we going to do!</dd>
<dt>SARAH</dt>
<dd><em>(Also starting to panic.)</em> I don&#x2019;t know! I&#x2019;ve never blown up an entire moon before!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Slightly calmer.)</em> Well, we blew it up, but it sort of found its way back together again straight afterward. It looks kind of normal now. Maybe a bit smaller, but perhaps no one will notice?</dd>
<dt>SARAH</dt>
<dd><em>(Incredulously.)</em> Perhaps no one will notice?! <em>(Beat.)</em> Wait, just let me run a G-42 scan.</dd>
</dl>


<p><em>(Beeps as Sarah starts the scan.)</em></p>


<dl><dt>SARAH</dt>
<dd>If it doesn&#x2019;t look too bad, maybe no one will notice until the new term and then we can be several worlds away. <em>(Beat. Excitedly.)</em> I don&#x2019;t believe it!</dd>
<dt>TAYA RAY</dt>
<dd>What?</dd>
<dt>SARAH</dt>
<dd>Look at the scan readings!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Still not getting it.)</em> What do you mean? They look normal.</dd>
<dt>SARAH</dt>
<dd>Exactly!</dd>
<dt>TAYA RAY</dt>
<dd>So? What are you going on about, Sarah?</dd>
<dt>SARAH</dt>
<dd>Don&#x2019;t you get it, Taya Ray? We&#x2019;ve done it!</dd>
<dt>TAYA RAY</dt>
<dd>Done what?</dd>
<dt>SARAH</dt>
<dd>The explosion must have, I don&#x2019;t know, done something. We&#x2019;ve fixed it!</dd>
<dt>TAYA RAY</dt>
<dd>(<em>Slightly exasperated now. )</em> We&#x2019;ve fixed what?</dd>
<dt>SARAH</dt>
<dd>We&#x2019;ve fixed Black Rock!</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1983/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/2048/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/188/index.html>The Signal: Season 6, Episode 18</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
