<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1594/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1639/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>Created Family</h2>

<!-- audio src signal_heartoffirefly_08.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_heartoffirefly_08.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/160/index.html>The Signal: Season 6, Episode 3</a></div>
<div>A discussion of Out of Gas.</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>If, like me, you rate Out of Gas as one of your favourite Firefly episodes, you&#x2019;re in good company. According to the Official Companion to the series, none other than Joss Whedon himself counts this episode as his favourite. As does Tim Minear, the writer of the episode.  So what is it about Out of Gas that makes it so beloved? Different people may well have different reasons, but for me, the main reason is the theme of created family running through the episode.</p>


<dl><dt>JOSS WHEDON</dt>
<dd>Every show I do is about created family. As opposed to actual family.</dd>
</dl>


<p>I love the created family at the heart of Firefly and I love Out of Gas because it shows how that family was created. Sure, the flashback structure of the episode is inspired and expertly and intricately put together, but brilliant though the style may be, it&#x2019;s the substance which hooks me into Out of Gas.</p>

<p>By the time we get to Out of Gas, we&#x2019;ve had the pilot plus six other episodes to come to know and love the crew of Serenity. This means that the origin flashbacks carry more poignance. We already know from the pilot episode how Book, Simon and River come to be on Serenity, so the flashbacks focus on Zoe, Wash, Kaylee, Inara and Jayne, in that order, and how Mal persuades each one to join him on Serenity. And at the very end of the episode we also get to see how Mal himself finds Serenity.</p>

<p>The dynamic we see between Mal and Zoe in the first flashback is a very familiar, and very funny, one. Mal is enthusiastic and positive about Serenity, but Zoe cuts him down with her dry wit. The two characters are already close, having fought together in the war, and it isn&#x2019;t surprising that they banter in the way we know well from previous episodes. Mal attempts to convince Zoe that Serenity is the key to freedom and staying out of the way of the Alliance. It is not clear whether this is what persuades Zoe to join Mal on Serenity, or whether it is her existing relationship with him, or perhaps another reason. As ever, Zoe keeps her cards close to her chest.</p>

<p>Part of the effectiveness of the flashback structure comes from the fact that we as viewers know something about the characters&#x2019; futures, and they do not. In some cases the effect is a humorous one, whereas in others it is an ominous one.</p>


<dl><dt>MAL</dt>
<dd>Ship like this, be with ya 'till the day you die.</dd>
<dt>ZOE</dt>
<dd>Because it's a deathtrap.</dd>
</dl>


<p>This line foreshadows what we know so far to be happening in the present timeline: Serenity is on the drift and Mal is lying bleeding in the cargo bay.</p>

<p>In contrast, a humorous effect is achieved in the next origin flashback, as Zoe&#x2019;s initial reaction to Wash is that something about him &#x201C;bothers&#x201D; her. But the effect is also poignant as we contrast Zoe&#x2019;s first impression of Wash with the love he shows for her as she is injured in the explosion on board Serenity.</p>

<p>Having seen Wash coming on board in a regular way, we are primed to assume that the &#x201C;genius mechanic&#x201D; Mal refers to is Kaylee. But instead we learn that Kaylee&#x2019;s way on to Serenity is more original. In contrast to Zoe and Wash, Kaylee needs no persuading to join the crew.</p>


<dl><dt>MAL</dt>
<dd>You got much experience with a vessel like this?</dd>
<dt>KAYLEE</dt>
<dd>I never even been up in one before.</dd>
<dt>MAL</dt>
<dd>Wanna?</dd>
<dt>KAYLEE</dt>
<dd>You mean...?</dd>
<dt>MAL</dt>
<dd>Sure.</dd>
<dt>KAYLEE</dt>
<dd>For how long?</dd>
<dt>MAL</dt>
<dd>Long as you like. Long as you can keep her in the sky.</dd>
</dl>


<p>Again we have an exchange that carries ominous overtones in the light of the present events. There are also contrasts that can be drawn between the flashback scene and the one that follows. After seeing a cheerful and excited Kaylee fix Serenity in the flashback, we see her heartbroken and despondent as she realises she can&#x2019;t fix the all important catalyser in the present.</p>

<p>Next it is Inara&#x2019;s turn and again there is some foreshadowing in the flashback, although this time it is of a humorous nature. Inara asks for assurance from Mal that neither he nor any of his crew would enter her shuttle uninvited and that he would ensure she would be able to keep appointments with clients. We the viewers know from other episodes that Mal is not particularly good at honouring either of these requests. Mal&#x2019;s assurance that he will &#x201C;never again&#x201D; call Inara a whore is also rather amusing in the light of what we know from later events.</p>

<p>The business-like way in which Inara deals with Mal in the flashback is neatly contrasted with the following scene, in which Inara tries to persuade Mal to come with her in the shuttle and not go down with his ship. There is much left unsaid in this scene, but there is also an undeniable warmth and affection between the two characters.</p>

<p>This warmth contrasts markedly with the next origin flashback, in which we see how Jayne is persuaded to betray his current crew and join Mal with the promise of more money and his own bunk. I think it&#x2019;s fair to say that Jayne really doesn&#x2019;t seem to have changed all that much since then!</p>

<p>Out of Gas is an episode that shows us in flashback how the family that is Serenity&#x2019;s crew was created, but it also shows us that family on the verge of being destroyed, through the events of the present timeline. We start with a scene that gives us a picture of happy family life: a dinner table, laughter, a birthday cake. Of course, Firefly is a Joss Whedon show, so we shouldn&#x2019;t be surprised that this happiness does not last and disaster turns out to be just around the corner. First, Zoe&#x2019;s life is in danger as she is caught in the blast from the explosion. Then the future looks bleak for the whole crew when Kaylee realises they have no life support. And so the family splits up, with the shuttles going off in opposite directions, leaving Mal and Serenity behind.</p>


<dl><dt>MAL</dt>
<dd>I'm not leaving Serenity.</dd>
<dt>INARA</dt>
<dd>Mal&#x2014; you don't have to die alone.</dd>
<dt>MAL</dt>
<dd>Everybody dies alone.</dd>
</dl>


<p>Mal does not consider life worth living without freedom and since Serenity is his freedom, he will not leave her. Either they will be rescued together, or they will go down together. Mal may have created a family &#x2013; whether he meant to or not &#x2013; in Serenity&#x2019;s crew, but he still maintains that everybody &#x201C;dies alone&#x201D;. He very nearly gets to do just that, but the day is saved by the strength of the family he has created, as the crews of both shuttles decide to return to Serenity to be with their captain.</p>

<p>Maybe everybody does die alone, but, at least for now, Mal, his crew and their beloved Serenity will live together.</p>


<dl><dt>MAL</dt>
<dd>You all gonna be here when I wake up?</dd>
<dt>BOOK</dt>
<dd>We'll be here.</dd>
<dt>MAL</dt>
<dd>Good. That's good...</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1594/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1639/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/160/index.html>The Signal: Season 6, Episode 3</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
