<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Matthew Tyler-Jones</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Matthew Tyler-Jones</h1>
<div><h2>Segments written by Matthew Tyler-Jones</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Bigger Damn Heroes?  - A Browncoat's Guide to the Avengers</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2700/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Broadwaves: Songs from the Floodplain</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2727/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Broadwaves: Homeland</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2766/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Broadwaves: Game of Thrones</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2819/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Broadwaves: The Windup Girl</td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2843/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Broadwaves: Corto Maltese</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2983/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Broadwaves: Agents of Shield</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3012/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Broadwaves: The Gamers: Hands of Fate</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3046/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Dead System 2: Travellin' the 'Verse</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2800/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dead System 3: In the Savage Black</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2848/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Dead System 4: Reborn?</td>
<td>The Signal: Season 9, Episode 3</td>
<td><a href=../../../segment/view/2913/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: Dead System?</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2772/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Matthew's Choice</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2785/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly RPG Corebook review</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2975/index.html>shownotes</a></td>
</tr>
<tr class=even><td>From Signal Speculation to the Tabletop</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2788/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Gaming in the 'Verse</td>
<td>The Signal: Season 9, Episode 8</td>
<td><a href=../../../segment/view/2962/index.html>shownotes</a></td>
</tr>
<tr class=even><td>My coat's kind of a brownish colour</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2721/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Review: Serenity Firefly Class 03-K64 Leaves on the wind</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/2991/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: The Origins of Indenture</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2780/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: Oil, and why I know Crow comes from Bellepheron</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3043/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Shindig</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2832/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Tangled Yarn: Jayne and Kaylee</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2695/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Raggedy Edge</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3087/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments read by Matthew Tyler-Jones</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Broadwaves: Songs from the Floodplain</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2727/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Broadwaves: The Gamers: Hands of Fate</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3046/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dead System 2: Travellin' the 'Verse</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2800/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Dead System 3: In the Savage Black</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2848/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: Dead System?</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2772/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Matthew's Choice</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2785/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>From Signal Speculation to the Tabletop</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2788/index.html>shownotes</a></td>
</tr>
<tr class=even><td>My coat's kind of a brownish colour</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2721/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: How'd Mal Pay for Serenity?</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2757/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: The Origins of Indenture</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2780/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: Oil, and why I know Crow comes from Bellepheron</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3043/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Tangled Yarn: Jayne and Kaylee</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2695/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Raggedy Edge</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3087/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments starring Matthew Tyler-Jones</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Around the 'Verse in 80 Days: Highgate</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3121/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Recruitment Drive</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2830/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Road Trip: Farnham, England</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3133/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments featuring Matthew Tyler-Jones</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Earthburn: Recycling the World</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2643/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Earthburn: The Day we Lost the Internet</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2767/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: Sparks for the Monkey</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2739/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Terraformers: Reunion Panel</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2831/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Matthew Tyler-Jones</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Interview: MWP (Part 2)</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3008/253/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Interview: MWP Interview</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/3075/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Panel Talk</td>
<td>The Signal: Season 8, Episode 12.1: Firefly's 10th Anniversary Panel</td>
<td><a href=../../../segment/view/2798/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
