<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Paul Korswagen</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Paul Korswagen</h1>
<div><h2>Emails edited by Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2222/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2369/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2395/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2405/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2437/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2494/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2506/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2578/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2790/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2802/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2869/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2931/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2943/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments written by Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Broadwaves: Podcastnovel: Shadowmagic</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2226/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Paul's Choice</td>
<td>The Signal: Season 7, Episode 2</td>
<td><a href=../../../segment/view/2190/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Signal Promo: We're just happy to be doing good works</td>
<td>Signal Promo</td>
<td><a href=../../../segment/view/2179/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Signal Promo: We Aim to Misbehave</td>
<td>Signal Promo</td>
<td><a href=../../../segment/view/2633/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: Discovery</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2676/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: Life, the 'Verse and Everything Else</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2694/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: Ares I</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2706/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: Sparks for the Monkey</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2739/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: The Blue Detour</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2825/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Voice of Serenity</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2367/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>What's in a Signal?: Catching Clips</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2415/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments read by Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Broadwaves: Podcastnovel: Shadowmagic</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2226/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly in Five Lines: Paul's Choice</td>
<td>The Signal: Season 7, Episode 2</td>
<td><a href=../../../segment/view/2190/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly RPG Corebook review</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2975/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Much Ado about Much Ado about Nothing</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3118/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Value of Life, Part 1</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2435/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>What's in a Signal?: Catching Clips</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2415/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments starring Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Recruitment Drive</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2830/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Road Trip: Delft, the Netherlands</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3128/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Road Trip: Uelzen,Germany</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3130/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Shindig</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3124/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments featuring Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Broadwaves: The Sandman (Series of Comic Books by Neil Gaiman)</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2410/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Earthburn: Imagine what Tomorrow could be Like</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2693/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Earthburn: Recycling the World</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2643/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Earthburn: The Day we Lost the Internet</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2767/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Earthburn: Martial Law</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/2998/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Life in the 'Verse Special: Remembering Serenity Valley</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2591/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Promoting the Guild</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2829/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: Glitch Hunt (part three of <q>Beer</q>)</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2361/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: The Brainpan (part two of <q>Beer</q>)</td>
<td>The Signal: Season 7, Episode 17</td>
<td><a href=../../../segment/view/2398/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: Chance Encounter</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2556/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Terraformers: Episode 25: The Day of Plagues</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2464/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote: Election Day</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2588/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Banter</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2573/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2774/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2578/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Shindig</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3124/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments edited by Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>A Tale of Two Crews</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2572/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2218/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2375/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2390/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2417/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2461/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2513/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2549/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2573/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2668/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2745/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2774/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2787/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 12.1: Firefly's 10th Anniversary Panel</td>
<td><a href=../../../segment/view/2797/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2799/238/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2815/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2849/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2864/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2885/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2926/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2955/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/2974/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3001/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Broadwaves: Podcastnovel: Shadowmagic</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2226/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Broadwaves: Songs from the Floodplain</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2727/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Browncoat Cosplay: An Introduction</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2241/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Defending the Alliance</td>
<td>The Signal: Season 9, Episode 4</td>
<td><a href=../../../segment/view/2887/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Diary of a Companion: Part  19</td>
<td>The Signal: Season 7, Episode 1</td>
<td><a href=../../../segment/view/2170/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Diary of a Companion: Part 20</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2208/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Diary of a Companion: Part 23</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2397/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Diary of a Companion: Part 24</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2443/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Diary of a Companion: Part 26</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2553/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: Shades of Brown</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2314/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Editorial: Still Talking</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2934/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2369/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2395/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2437/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2551/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2578/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2657/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2723/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2790/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2802/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2869/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2931/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2943/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly and Me: They Call it the Law</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2335/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Miranda's Choice</td>
<td>The Signal: Season 7, Episode 1</td>
<td><a href=../../../segment/view/2174/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly in Five Lines: Paul's Choice</td>
<td>The Signal: Season 7, Episode 2</td>
<td><a href=../../../segment/view/2190/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Steve's Choice</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2212/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly in Five Lines: Kara's Choice</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2251/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly RPG Corebook review</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2975/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly's 10th Anniversary Panel at Comic-Con</td>
<td>The Signal: Season 8, Episode 12.1: Firefly's 10th Anniversary Panel</td>
<td><a href=../../../segment/view/2796/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese: Fruity Oaty Bar</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2517/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese: Juggling Geese</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2789/index.html>shownotes</a></td>
</tr>
<tr class=even><td>In Character Live Q&amp;A Session</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2810/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Interview: Melissa Honig - Browncoat Ball</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2245/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Interview: Mikey Mason</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2312/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Interview: Lisa Anderson of Whedonfest 2011</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2389/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Interview: Mike Doherty (Redemption)</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2448/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Interview: Mike Dougherty</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2520/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Interview: GB Hajim</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2803/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Much Ado about Much Ado about Nothing</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3118/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2516/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2685/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2801/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Panel Talk</td>
<td>The Signal: Season 8, Episode 12.1: Firefly's 10th Anniversary Panel</td>
<td><a href=../../../segment/view/2798/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Permanent Waves</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2488/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Q&amp;A Session</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2534/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Redemption in Five Lines</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2449/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: For What Was the Alliance Training River?</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2313/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: What's Patience's Game Plan?</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2496/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: What Did The Operative Want?</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2502/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: No Love for thy Neighbors?</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2672/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: No Love for thy Neighbors, Part 2</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2712/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Signal Promo: We're just happy to be doing good works</td>
<td>Signal Promo</td>
<td><a href=../../../segment/view/2179/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Signal Promo: We Aim to Misbehave</td>
<td>Signal Promo</td>
<td><a href=../../../segment/view/2633/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Silence in Space: Safe</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2708/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Silence in Space: Heart of Gold</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2808/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Tangled Yarn: Jayne and Kaylee</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2695/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Tangled Yarn: Mal and Saffron</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/3070/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Ten Years On; Still Going Strong</td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2850/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Clothes and the Characters</td>
<td>The Signal: Season 7, Episode 2</td>
<td><a href=../../../segment/view/2181/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Heroes of Firefly</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2392/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: &#x00A1;Cuidado!</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2319/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: The Brainpan (part two of <q>Beer</q>)</td>
<td>The Signal: Season 7, Episode 17</td>
<td><a href=../../../segment/view/2398/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: Chance Encounter</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2556/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: The Entropy Within (part one of <q>Beer</q>)</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2644/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: Discovery</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2676/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: Life, the 'Verse and Everything Else</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2694/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: Ares I</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2706/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: Sparks for the Monkey</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2739/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: The Broken Contacts in Emotional Chemistry</td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2795/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: The Blue Detour</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2825/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: The Line</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2828/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Shipworks: Meet on the Ledge</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2768/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Shipworks: Gang Aft Agley</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3083/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Value of Life, Part 1</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2435/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Voice of Serenity</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2367/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote Badger</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2273/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Vote Sheriff Bourne</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2320/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Debate</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2372/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Interview: Niska Headquarters</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2498/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote: Election Day</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2588/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>What's in a Signal?: Catching Clips</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2415/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Shows produced by Paul Korswagen</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>The Signal: Season 7, Episode 13.3: Redemption Talk</td>
<td><a href=../../../show/view/210/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Signal: Season 8, Episode 12.1: Firefly's 10th Anniversary Panel</td>
<td><a href=../../../show/view/236/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../show/view/240/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../show/view/243/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Signal: Season 9, Episode 3</td>
<td><a href=../../../show/view/245/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../show/view/247/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../show/view/249/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../show/view/251/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../show/view/253/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../show/view/255/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
