<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/614/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/645/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/60/index.html>The Signal: Season 2, Episode 15</a></div>
<div><ul><li><a href=../../../external.html#http://www.hbo.com/apps/schedule/ScheduleServlet?ACTION_DETAIL=DETAIL&amp;FOCUS_ID=615884>Serenity to premiere on HBO</a></li>
<li><a href=../../../external.html#http://www.universalhd.com/Schedule/daily.bravo?start_date=2006-09-24&amp;end_date=2006-09-24>Firefly to be broadcast on Universal HD</a></li>
<li><a href=../../../external.html#http://cni.libsyn.com/index.php?post_id=116116&amp;comments=on>Joss Whedon interview in Episode 48 of the Comic Insider podcast</a></li>
<li><a href=../../../external.html#http://eclipsemagazine.com/modules/news/article.php?storyid=1720>Eclipse Magazine interview with Morena Baccarin</a></li>
<li><a href=../../../external.html#http://www.supermegashow.com/>Morena Baccarin apparence at Super Mega Show canceled</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/thread.asp?b=19&amp;t=21898>Online calendar for all browncoat events</a></li>
<li><a href=../../../external.html#http://www.ArielAmbulance.org>Ariel Ambulance restoration and loading day</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/614/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/645/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/60/index.html>The Signal: Season 2, Episode 15</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
