<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4, Episode 20.5</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4, Episode 20.5</h1>
<div><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/123/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/125/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_420.5_20081111.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_420.5_20081111.mp3 download=signal_season04_20.5.mp3>Download audio file</a></div>
<div class=info>Tuesday 11th November 2008</div>
Produced by Wayne Hutchinson<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/114/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 4 Opening Theme</h3>
<h4>Bonus Show Version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:08</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1293/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:02:04</td>
<td class=shownote><h3>The Signal Live from Dragon*Con 2008 starts</h3>
<p></p>
</td>
<td><a href=../../../segment/view/1300/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:50</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.browncoatcruise.com/>Brian Wiser Talks about the Kaylee Maquette and the Next Browncoat Cruise</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1295/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:40</td>
<td class=shownote><h3>Music Section</h3>
<h4>Celtic music</h4>
<div>The guys from Emerald Rose treated us to come awesome Celtic music</div>
<p>Music by <a href=../../../human/view/66/index.html>Emerald Rose</a></p>
</td>
<td><a href=../../../segment/view/1289/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://galacticaquorum.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:29:50</td>
<td class=shownote><h3>Promo: Galactica Quorum</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/101/index.html><img src=../../../image/image/111/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:20</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 20.5: Live!, part 1 of 2</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1299/124/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:35:55</td>
<td class=shownote><h3>Serenity Prints Collection</h3>
<p>Hosted by <a href=../../../human/view/121/index.html>Jason Palmer</a></p>
</td>
<td><a href=../../../segment/view/1303/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:40</td>
<td class=shownote><h3>Anticipating a Shepherd's Tale</h3>
<div>Scott Allie Joins us to talk about the upcoming Shepherd Book Series</div>
<p>Hosted by <a href=../../../human/view/120/index.html>Scott Allie</a></p>
</td>
<td><a href=../../../segment/view/1302/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/101/index.html><img src=../../../image/image/111/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:54:00</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 20.5: Live!, part 2 of 2</h4>
<div>Continued...</div>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1299/124/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:57:35</td>
<td class=shownote><h3>Music Section</h3>
<h4>song premier</h4>
<div>Cedric from the Bedlam Bards provided us with a song premier!</div>
<p>Music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a></p>
</td>
<td><a href=../../../segment/view/1301/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:02:27</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:02:51<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/123/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/125/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4631>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
