<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Serenity Speculation</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Serenity Speculation</h1>
<div><div class=transport-bar><a href=../../../segment/view/632/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1891/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/65/index.html>Up</a> &#x2022; <a href=../../../segment/view/2056/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3043/index.html>Last episode</a></div>
<h2>Dozens of planets and hundreds of moons, but how many languages?</h2>
<div>First aired: <a href=../../../show/view/187/index.html>The Signal: Season 6, Episode 17</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>SIMON</dt>
<dd>So, how&#x2019;d the Independents cut us off?</dd>
<dt>RIVER</dt>
<dd>They were using dinosaurs.</dd>
<dt>SIMON</dt>
<dd>&lt;Like hell!&gt;</dd>
<dt>GABRIEL</dt>
<dd>Language, young man.</dd>
</dl>


<p>There are around 6,000 languages spoken today on Earth-that-still-is. Some of these are vital and spoken by many people. Others are struggling and spoken by mere handfuls. By this time next year, some of these languages will have given up that struggle and died out completely. In less than a hundred years from now &#x2013; if we follow QMx&#x2019;s timeline &#x2013; humanity will build ark ships and set sail for the &#x2018;verse. Predictions vary as to how fast languages will die out in future decades, but we can certainly expect several thousand still to exist in a century&#x2019;s time.</p>

<p>Of the languages that we assume were represented on the ark ships at the start of the exodus then, how many survived all the way to the &#x2018;verse? According to the role-playing guide, English and Chinese become the two dominant languages during the trip, but what about all the other languages? We know for sure that at least two other languages survived in some form. In War Stories, Niska uses Czech to tell the torturer to cut off Mal&#x2019;s ear:</p>


<dl><dt>NISKA</dt>
<dd>A moment, please. This money... It is too much. &lt;Cut off his ear.&gt; You should have some small refund.</dd>
</dl>


<p>It seems reasonable to assume that Czech is Niska&#x2019;s native language and he slips into it at this point to maintain the element of surprise for poor Mal. The torturer clearly also understands the language and judging by Crow&#x2019;s accent, he may have too, before he was put through Serenity&#x2019;s engine, that is. Perhaps Niska&#x2019;s other henchmen are likewise Czech speakers. Today there are about 12 million native speakers of Czech, ranking it below some sixty or so other languages in the world in terms of numbers of native speakers. Based on numbers alone then, languages as diverse as Amharic, Yoruba and Thai have as much of a chance of surviving into the &#x2018;verse as Czech.</p>

<p>After English, Chinese and Czech, the fourth language we hear spoken is Russian:</p>


<dl><dt>SIMON</dt>
<dd>Eta kooram nah smech!</dd>
</dl>


<p>Why was Russian chosen for River&#x2019;s safe word? Perhaps Russian is a dead language in the &#x2018;verse and therefore it is very unlikely that someone would speak it in River&#x2019;s presence and accidentally send her to sleep. However, Russian today has more than twenty times as many speakers as Czech so it seems likely that it also survived humanity&#x2019;s move to the &#x2018;verse.</p>

<p>Niska and his henchmen are not the only ones to speak with eastern European accents. Jayne&#x2019;s former boss, Marco, and the foreman at the Canton mudworks both speak similarly accented English. As we do not hear either of these two characters speak a language other than English, we cannot be sure that their first languages are not simply the versions of English which we hear them speak. However, it is possible that like Niska they also retain the ability to speak a language other than English or Chinese.</p>

<p>The journey to the &#x2018;verse was long enough for languages to die out en route, especially if ethnic groups were deliberately mixed, in an attempt to encourage the dominance of English and Chinese as languages of unity. If this were the case, people not in favour of the political dominance of the two super powers may have chosen to rebel by deliberately continuing to use their native languages.</p>

<p>Once the ships reached the &#x2018;verse and colonisation spread through the core and beyond, what happened to the languages that survived the journey? If enough speakers of a certain language found themselves together in a colony, the future of that language would depend partly on the extent of the interaction between the language community and its neighbours. It isn&#x2019;t hard to imagine the early settlers wanting to do just that &#x2013; settle &#x2013; and not see the inside of a space ship again for a very long time. If people did not have the desire to travel, communities would be isolated and local languages other than English and Chinese could take hold.</p>

<p>What might official Alliance policy be on the use of minority languages? It seems likely that with its emphasis on unification, the Alliance would strongly promote English and Chinese as the languages of civilisation. Perhaps it would go further than that and outlaw minority languages. Even if languages other than English and Chinese were simply ignored and tolerated rather than outlawed, would it be possible to attend a Russian or Czech school, for example? And if not, would the minority languages survive as spoken languages only, their writing systems forgotten?</p>

<p>There are only two languages which we see written down in the &#x2018;verse: English and Chinese. In the Serenity special feature &#x201C;Future History&#x201D;, Joss Whedon comments that America and China &#x201C;merged into the beginnings of the Alliance, and that is why everyone who's American speaks Chinese&#x201D;. It is certainly true that all the main characters and many of the supporting ones speak Chinese, but would, for example, the children growing up in the hill settlement seen in Safe learn Chinese? Are there pockets of the &#x2018;verse where people speak only English and not Chinese, and vice versa?</p>

<p>It is very uncommon for two languages to exist for long with the same status in a single multilingual community. Instead either one language dies out, or the functions of the two varieties diverge and the result is a state called &#x201C;diglossia&#x201D;. One language becomes the &#x201C;High&#x201D; variety and is used in formal or official contexts, while the other becomes the &#x201C;Low&#x201D; variety and is restricted to more informal contexts.</p>

<p>It is not clear whether English and Chinese exist in a diglossic relationship in the &#x2018;verse. English is always the main language in informal situations, which suggests it is the Low variety, but Chinese is often used for swearing and in moments of high emotion. Chinese, in its written form at least, is also used in formal contexts. Simon&#x2019;s father reads a Chinese newspaper in Safe, for example, and at the start of the BDM, the young River works with Chinese symbols on a desktop screen. In contrast, we see English rather than Chinese in the bulletin Badger shows to Mal in the pilot episode and on Niska&#x2019;s map in The Train Job.</p>

<p>Even if most inhabitants of the &#x2018;verse speak both English and Chinese, the question remains as to whether they are literate in both languages, which after all have entirely different writing systems. Are children taught both languages as first languages at school or is one introduced later and treated as a foreign language? If the latter is true, perhaps some schools are English medium, treating Chinese as the foreign language to be learned later and other schools are Chinese medium, leaving English learning until later.</p>

<p>The existence of both English and Chinese in logos and on signs might suggest that not everyone is able to read both languages, but perhaps there are other reasons for using both languages in these situations. Maybe there are two factions in Parliament: a Chinese-speaking one and and an English-speaking one, both needing to be placated.</p>

<p>So how many languages are there in the &#x2018;verse? Perhaps the answer lies in Simon&#x2019;s digital notebook, which we glimpse in the pilot episode. On the left hand side, we see six data sticks, with the following labels: Medical Science, Universal Encyclopedia, Anatomical Engineering, Bio-Physical Atlas, Human History and, lastly, Languages. What I wouldn&#x2019;t give to slot that last data-stick into the reader and let the digital paper light up to reveal the linguistic secrets of the &#x2018;verse!</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/632/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1891/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/65/index.html>Up</a> &#x2022; <a href=../../../segment/view/2056/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3043/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/187/index.html>The Signal: Season 6, Episode 17</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
