<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 9, Episode 8</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 9, Episode 8</h1>
<div><div class=transport-bar><a href=../../../show/view/243/index.html>First show</a> &#x2022; <a href=../../../show/view/249/index.html>Previous show</a> &#x2022; <a href=../../../season/view/10/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/250/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_0908_20131213.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_0908_20131213.mp3 download=signal_season09_08.mp3>Download audio file</a></div>
<div class=info>Friday 13th December 2013</div>
Produced by Andy King<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/220/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 9 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:15</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2966/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:02</td>
<td class=shownote><h3>Editorial</h3>
<h4>That's Something</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/657/index.html>Firefly Music Project</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2961/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:47</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 22: Revenge of the Mutant Lizards</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2972/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:10:31</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Those Left Behind Vol. 3</h4>
<div>The final two Chinese expressions from Part III of &quot;Those Left Behind.&quot;</div>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2968/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/50/index.html><img src=../../../image/image/63/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:51</td>
<td class=shownote><h3>Gaming in the 'Verse</h3>
<p>Written by <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2962/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:50</td>
<td class=shownote><h3>Passion of Mal</h3>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2960/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:49</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/479/index.html>Bindiya Dale</a></p>
</td>
<td><a href=../../../segment/view/2967/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:35:16</td>
<td class=shownote><h3>CSTS</h3>
<div>Craig's first CSTS event in his small town of Arcata, California.</div>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2956/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/154/index.html><img src=../../../image/image/152/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:03</td>
<td class=shownote><h3>Earthburn</h3>
<h4>Far Above the World</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/8/index.html>James Parkinson</a>, <a href=../../../human/view/108/index.html>Jutta Jordans</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/485/index.html>Craig Kurumada</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/469/index.html>Ken Kurland</a> and <a href=../../../human/view/442/index.html>Star One</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2937/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:51:19</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:51:54<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/243/index.html>First show</a> &#x2022; <a href=../../../show/view/249/index.html>Previous show</a> &#x2022; <a href=../../../season/view/10/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/250/index.html>Last show</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
