<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 18</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 18</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/63/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/65/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_218_20060927.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_218_20060927.mp3 download=signal_season02_18.mp3>Download audio file</a></div>
<div class=info>Wednesday 27th September 2006</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:21</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div><ul><li><a href=../../../external.html#http://serenitytales.com>Serenity Tales</a></li>
<li><a href=../../../external.html#http://www.amazon.com/Black-Serenity-Role-Playing-Game/dp/1931567522/sr=8-1/qid=1159302775/ref=pd_bbs_1/102-8851698-3489752?ie=UTF8&amp;s=books>Out in the Black</a></li>
<li><a href=../../../external.html#http://www.amazon.com/Firefly-Official-Companion-Vol-1/dp/1845763149/sr=1-1/qid=1159302825/ref=pd_bbs_1/102-8851698-3489752?ie=UTF8&amp;s=books>The Firefly Companion, Volume One</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/676/64/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:28</td>
<td class=shownote><h3>The Case for a Sequel</h3>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/644/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:40</td>
<td class=shownote><h3>Trampas's Letter to Universal</h3>
<p>Written by <a href=../../../human/view/16/index.html>Trampas Whiteman</a>; read by <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/688/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:15:41</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div><ul><li><a href=../../../external.html#http://scottsigler.net/>Scott Sigler</a> novels</li>
<li>Firefly: Old Wounds interview</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/676/64/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:22:05</td>
<td class=shownote><h3>Interview</h3>
<h4>Andrew Dorfman and Jack Ward, part 1 of 2</h4>
<div>The creators of <a href=../../../series/view/66/index.html>Firefly: Old Wounds</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/680/64/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/50/index.html><img src=../../../image/image/63/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:38:20</td>
<td class=shownote><h3>Gaming in the 'Verse</h3>
<h4>The Companion</h4>
<p>Written by <a href=../../../human/view/16/index.html>Trampas Whiteman</a>; read by <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/683/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:42:44</td>
<td class=shownote><h3>Les's Letter to Universal</h3>
<p>Written by <a href=../../../human/view/2/index.html>Les Howard</a>; read by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/689/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:44:11</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/16/index.html>Trampas Whiteman</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/681/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:46:50</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div><a href=../../../external.html#http://www.eff.org/IP/WIPO/broadcasting_treaty/>WIPO Broadcasting Treaty</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/676/64/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:44</td>
<td class=shownote><h3>Music Section</h3>
<h4>Old Wounds: Reel Violin Only</h4>
<p>Music by <a href=../../../human/view/63/index.html>Sharon Bee</a></p>
</td>
<td><a href=../../../segment/view/673/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:50:19</td>
<td class=shownote><h3>Interview</h3>
<h4>Andrew Dorfman and Jack Ward, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/680/64/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:04:08</td>
<td class=shownote><h3>Carolyn's Letter to Universal</h3>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/690/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:06:05</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.afterserenity.com/modules.php?name=News&amp;file=article&amp;sid=23>Serenity wins Prometheus Award</a></li>
<li>The fan documentary <a href=../../../external.html#http://www.donetheimpossible.com>Done The Impossible</a> is now listed on <a href=../../../external.html#http://www.amazon.com/Done-Impossible-Fans-Firefly-Serenity/dp/B000IJFJDG>Amazon.com</a></li>
<li><a href=../../../external.html#http://www.unitedfancon.com/modules.php?name=Content&amp;pa=showpage&amp;pid=3>Jewel Staite will be appearing at United Fan Con</a></li>
<li><a href=../../../external.html#http://www.collectormania.com/>Adam Baldwin cancels appearance at Collectormania 10</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/thread.asp?b=2&amp;t=23562>Firefly listed in Netflix Top 25 Most Rented TV Shows</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/11327>Firefly on French Sci-Fi channel</a></li>
<li><a href=../../../external.html#http://www.uk.scifi.com/firefly/>Firefly on UK Sci-Fi channel</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/09/14/bluesunshirtscom-gets-a-c-and-d-letter-from-fox>BlueSunShirts.com get cease and desist letter</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=11331>Interview with Sean Maher at BrilliantButCancelled.com</a></li>
<li><a href=../../../external.html#http://www.bigdamnthankyou.com>The Big Damn Thank You</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/678/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:08:48</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div><ul><li>J. Whedon owned the Firefly Shipworks</li>
<li>First aired:</li>
<li><ul><li>Trash - Monday 21st July 2003</li>
<li>The Message - Monday 28th July 2003</li>
<li>Heart of Gold - Monday 4th Aug 2003</li>
</ul>
</li>
<li>Kari's kickball game</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/676/64/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:10:54</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:11:18<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/63/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/65/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3012>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
