<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Editorial</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Editorial</h1>
<div><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2073/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/2184/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
<h2>Charity Begins in the 'Verse</h2>
<div>First aired: <a href=../../../show/view/194/index.html>The Signal: Season 7, Episode 1</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>The day I climb Mount Kilimanjaro will be the day the Earth starts rotating backward and the skies turn orange. Similarly apocalyptic conditions would be required to induce me to attempt to run a marathon. I have friends who have taken on both these challenges though , for which I admire them very much, especially because they have done so in the name of charity. If in a parallel dimension, there is a me who just loves walking uphill and running ridiculously long distances, I&#x2019;d like to think she uses these hobbies from time to time to raise money for charity. As it is, the me stuck in this dimension knows that exertion can lead to sweatiness, which can cause the pain and heartbreak of stinkiness. Better to just stay put.</p>

<p>So that&#x2019;s a no thanks to exertion, but what about charity? I&#x2019;m all in favour of helping a good cause, so what can I do, beyond sponsoring my crazy friends who do climb mountains and run marathons? What do I like doing that I can use to raise money for charity? I like playing the oboe, so maybe I could busk for charity? I like baking bread, so maybe I could run a bake sale? Not so bad as ideas go, but I don&#x2019;t live in a buskers-and-bake-sales kind of culture so they&#x2019;re out. What else do I like? I like Firefly and Serenity! Can I use my enjoyment of the Firefly &#x2018;verse for charity?</p>

<p>A few years ago, the idea of using my love for all things Firefly to raise money for charity would have sounded very odd indeed to me. But now, as Can&#x2019;t Stop the Serenity settles in for a sixth year and sales of the Browncoats: Redemption DVD continue, being a Browncoat is becoming very much linked with charity in my mind. How has this come about?
Now, I&#x2019;m not going to try to argue that Browncoats are inherently more charitable than anyone else, although in my experience, they&#x2019;re certainly a decent bunch. Plenty of non-Browncoats use their hobbies, such as hiking or swimming , to support charitable causes. But that&#x2019;s just what I think might warrant a moment&#x2019;s consideration. It is perfectly normal to use a <em>hobby</em> for charity, but is being a Browncoat a hobby?</p>

<p>A hobby can be defined as a &#x201C;favourite leisure-time <em>activity</em> or occupation&#x201D;. It tends to be about doing, not being. Before I discovered Firefly, I had appreciated plenty of television series or films, but none in a way that involved any activity as such, beyond the watching and rewatching of the object of my appreciation. In my opinion, being a Browncoat is different. It is an active pursuit, not a passive one. Yes, I do spend time rewatching Firefly and Serenity, rereading the comics and enjoying related content, but being a Browncoat is much more than that for me.</p>

<p>The activities related to being a Browncoat may vary according to the individual involved, and the individual&#x2019;s circumstances. For me, my first active involvement was in spreading the word as best I could, lending out my DVDs to friends and rearranging DVD displays in shops to give Firefly and Serenity more prominence. My next activity was contributing to fan-created content by joining the Signal crew. And finally, more recently, I made a first small step in joining in with Browncoat charitable efforts by purchasing the Redemption DVD.</p>

<p>Being involved in charity-related activities  is a step which some Browncoats took several years ago, while others, like me, have taken it only recently, but it seems to me to be a natural step in the progression of Browncoat activities, regardless of when it is taken. Perhaps one reason for this progression is that it gives us some justification for, say, going along to a BDM screening yet again, as, when it is part of Can&#x2019;t Stop the Serenity, it is, after all, all in a good cause. Like the avid golfer who takes part in a fundraising tournament for charity, it simply feels good to be able to do something we love for philanthropic reasons. And perhaps it helps to justify our love to those who may view it as verging slightly on the obsessive.</p>

<p>Being a Browncoat could simply be a lot about waiting and hoping, but charitable activities give us a worthwhile focus as we keep the signal going. Of course, we do also eagerly await more Firefly and Serenity content and continue to hope for a sequel to the BDM, but in the meantime, we really are just happy to be doing good works.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2073/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/2184/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/194/index.html>The Signal: Season 7, Episode 1</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
