<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 8, Episode 11</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 8, Episode 11</h1>
<div><div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/232/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/234/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_0811_20120717.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_0811_20120717.mp3 download=signal_season08_11.mp3>Download audio file</a></div>
<div class=info>Tuesday 17th July 2012</div>
Produced by Anna Snyder<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/206/3/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 8 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:08</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2758/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:21</td>
<td class=shownote><h3>Interview</h3>
<h4>Jane Espenson, part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/560/index.html>Yi Weng</a></p>
</td>
<td><a href=../../../segment/view/2724/233/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/154/index.html><img src=../../../image/image/152/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:18:00</td>
<td class=shownote><h3>Earthburn</h3>
<h4>Recycling the World</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/8/index.html>James Parkinson</a>, <a href=../../../human/view/108/index.html>Jutta Jordans</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/23/index.html>Anna Snyder</a>, <a href=../../../human/view/479/index.html>Bindiya Dale</a>, <a href=../../../human/view/25/index.html>Helen Eaton</a>, <a href=../../../human/view/2/index.html>Les Howard</a>, <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a> and <a href=../../../human/view/477/index.html>Paul Korswagen</a>; music by <a href=../../../human/view/469/index.html>Ken Kurland</a> and <a href=../../../human/view/442/index.html>Star One</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a> and <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2643/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:20</td>
<td class=shownote><h3>Spreading the Word by Deed</h3>
<div>How to reinvigorate your own Browncoat group.</div>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2759/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/176/index.html><img src=../../../image/image/214/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:33:58</td>
<td class=shownote><h3>Silence in Space</h3>
<h4>War Stories</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; edited by <a href=../../../human/view/560/index.html>Yi Weng</a></p>
</td>
<td><a href=../../../segment/view/2770/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/180/index.html><img src=../../../image/image/218/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:41:09</td>
<td class=shownote><h3>Does that Seem Right to You?</h3>
<h4>So we Found a New Solar System</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/592/index.html>Elam</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2771/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:49:47</td>
<td class=shownote><h3>Interview</h3>
<h4>Jane Espenson, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/560/index.html>Yi Weng</a></p>
</td>
<td><a href=../../../segment/view/2724/233/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/174/index.html><img src=../../../image/image/199/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:04:30</td>
<td class=shownote><h3>Going Dark</h3>
<h4>Lullaby</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/82/index.html>Dreamweaver</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2769/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:13:48</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/479/index.html>Bindiya Dale</a></p>
</td>
<td><a href=../../../segment/view/2761/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:15:04</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:17:06<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/223/index.html>First show</a> &#x2022; <a href=../../../show/view/232/index.html>Previous show</a> &#x2022; <a href=../../../season/view/9/index.html>Up</a> &#x2022; <a href=../../../show/view/234/index.html>Next show</a> &#x2022; <a href=../../../show/view/235/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
