<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1556/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1585/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>Killer Angels and Dust Devils</h2>
<div>First aired: <a href=../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Recently I finally got round to reading &#x201C;The Killer Angels&#x201D; by Michael Shaara, a novel which Joss Whedon has said was part of the inspiration behind Firefly. &#x201C;The Killer Angels&#x201D; recounts the Battle of Gettysburg &#x2013; a turning point during the American Civil War &#x2013; from the point of view of the various leaders of the two armies.  I would thoroughly recommend the novel as a good read, even if it hadn&#x2019;t contributed to bringing our beloved Firefly into being. The author draws the reader in by filling out the known facts of the battle with well-rounded characters and believable dialogue. Even though the outcome of the battle would not be a surprise to most readers, there is plenty of tension as the narrator&#x2019;s perspective switches back and forth between the two sides.</p>

<p>Reading &#x201C;The Killer Angels&#x201D; has not inspired me to create anything of the kind that Joss Whedon did with Firefly &#x2013; I wish! &#x2013; but it certainly has got me thinking. What would it be like to be on the losing side of a civil war? Or to fight against unification and lose? What would it be like to continue to live in a country, or a planetary system, and be surrounded by constant reminders of your defeat? It is one thing to go out to war, lose and return home, but quite another to lose a war and your home at the same time.</p>

<p>I found that following who was fighting on which side in &#x201C;The Killer Angels&#x201D; was something of a challenge for me as a Brit not at all well-versed in matters relating to the American Civil War. Union or Confederacy, North or South, Blue or Gray &#x2013; the divisions might be clear, but that doesn&#x2019;t mean it is easy to remember who is on which side. Each side has its fair share of good guys and bad guys. People speak the same language on both sides. Families and neighbours can be divided between the two sides. And when the final battle is over, these two sides have to become one again.</p>

<p>We know something of how Mal dealt with being on the losing side of the Unification War. He no longer had faith in anyone or anything and made it his mission to stay as far out of the way of the Alliance as he could. But what about the other crew member we know fought for the Independents &#x2013; Zoe?</p>


<dl><dt>SIMON</dt>
<dd>If that battle was so horrible, why&#x2019;d he name the ship after it?</dd>
<dt>ZOE</dt>
<dd>Once you&#x2019;ve been in Serenity, you never leave. You just learn to live there.</dd>
</dl>


<p>So how did Zoe learn to live in Serenity Valley? How did the war change her? We can start to try to answer this question by looking at Zoe as we see her during flashbacks to the war in the episodes Serenity and The Message. In Serenity the pilot episode, we see a Zoe who questions Mal, but is always at his side, and at the ready:</p>


<dl><dt>ZOE</dt>
<dd>Really think we can bring her down, sir?</dd>
<dt>MAL</dt>
<dd>You even need to ask? Ready?</dd>
<dt>ZOE</dt>
<dd>Always.</dd>
</dl>


<p>In The Message we see Zoe&#x2019;s professionalism illustrated by contrast with Tracey&#x2019;s incompetence, which also gives us the chance for her extremely dry wit to surface:</p>


<dl><dt>ZOE</dt>
<dd>First rule of battle, little one. Don&#x2019;t ever let 'em know where you are.</dd>
<dt>MAL</dt>
<dd>I&#x2019;m right here! I&#x2019;m right here! You want some of me?! Yeah, you do! Come on! Come on! Woo-hoo.</dd>
<dt>ZOE</dt>
<dd>Of course, there's other schools of thought...</dd>
</dl>


<p>How is the Zoe we see on Serenity the ship different from the Zoe we see in the Unification War? At first glance it appears that she has not changed at all. The same efficient professionalism, respect for authority, loyalty to Mal and dry humour are all present and correct as Zoe goes about her job as part of Serenity&#x2019;s crew. But there is at least one person who sees a change in her &#x2013; Tracey:</p>


<dl><dt>KAYLEE</dt>
<dd>He's married to Zoe.</dd>
<dt>TRACEY</dt>
<dd>Zoe got married?</dd>
<dt>KAYLEE</dt>
<dd>Yeah.</dd>
<dt>TRACEY</dt>
<dd>Yeah, next you&#x2019;ll be telling me she smiles, has emotions.</dd>
<dt>KAYLEE</dt>
<dd>She must have been such a stone-cold &lt;ass-kicking killer&gt; during the war.</dd>
<dt>TRACEY</dt>
<dd>I think the sarge was even a little bit afraid of her. Now she&#x2019;s married. Well, that&#x2019;s good. People making a life for each other.</dd>
</dl>


<p>We could certainly tell Tracey that Zoe smiles and has emotions &#x2013; we see evidence aplenty of that in Firefly. The ways in which she expresses her love for Wash being prime examples of this.</p>

<p>Tracey&#x2019;s conversation with Kaylee shows that he did not know Zoe had got married. However, he sends his message (and his body), to both Mal and Zoe, suggesting that either  he did at least know they were together, or that he assumed they would be. It&#x2019;s worth spending a moment to consider that assumption. Often in stories of war we read how comrades-in-arms go their separate ways after the final battle is fought. If we assume that Mal and Zoe met during the war, it is interesting to see that they remained together afterwards. One was a volunteer and the other a career soldier so presumably their pre-war lives were very different. But the war brought them together and, as Zoe said to Simon in the pilot episode, once you&#x2019;ve been in Serenity, you never leave. You just learn to live there.</p>

<p>There must have been a point after the war when Zoe made the choice to stay with Mal, and how fascinating it would be to see how that played out! However, we can conclude something about how this choice was made by the way in which Mal appeals to Zoe to join him on his new ship Serenity:</p>


<dl><dt>MAL</dt>
<dd>I tell ya, Zoe, we get a mechanic, get her up and running again. Hire a good pilot. Maybe a cook. Live like real people. Small crew, them as feel the need to be free. Take jobs as they come&#x2014; ain&#x2019;t never have to be under the heel of nobody ever again. No matter how long the arm of the Alliance might get... we'll just get ourselves a little further.</dd>
</dl>


<p>It seems that Mal believes the desire to stay out of the way of the meddling Alliance is one that Zoe shares with him. And since Zoe stays with Mal, we might assume he&#x2019;s right.</p>

<p>There is one aspect of Zoe&#x2019;s post-war life that we know differs from Mal&#x2019;s experience. We learn in the comic series Better Days that Zoe, and not Mal, became a &#x201C;dust devil&#x201D; after the war, continuing to fight after the Independents had surrendered. When we learn this, we share the surprise expressed by Jayne that it was Zoe and not Mal who became a dust devil. Zoe says, &#x201C;Mal was a volunteer. Brass gave up the cause, he took it personal. Shut down some. Some of us was still just soldiers. Fightin&#x2019; soldiers&#x2014;who happened to call themselves &#x201C;peacemakers&#x201D;.&#x201D; Zoe makes it sound like in contrast she didn&#x2019;t take it personally when the Independents laid down arms, but once a soldier, always a soldier &#x2013; she chose to carry on the fight.</p>

<p>Zoe&#x2019;s description of dust devils as peacemakers is interesting. It contrasts with the statement made by Ephraim Sanda, who is hunting dust devils, that they &#x201C;made it that much harder for a unified peace to take hold&#x201D;. Perhaps one day we will learn more about how each side justifies its position.</p>

<p>For now though, we must admit that, like woman, as Mal might say, Zoe is a mystery. There is much we don&#x2019;t know about how her experiences in the war shaped her. But what we do know suggests there are many more stories that could be told about how after the war ended she learned to live in Serenity Valley.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1556/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1585/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
