<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1842/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1894/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 16: The Turn of the Worlds</h2>

<audio src=../../../../yonder/signal_terraformers_16.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_terraformers_16.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/178/index.html>The Signal: Season 6, Episode 13</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Announcer</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>How are we supposed to teach the trainees with Mr Spall breathing down our necks? It was hard enough to avoid him when he was several moons away!</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>Well, at least we know exactly where he is this time.</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>If you try any funny business, I&#x2019;ll be right there to nip it in the bud, just you wait.</dd>
<dt>NARRATOR</dt>
<dd>Episode number 16 &#x2013; The Turn of the Worlds</dd>
</dl>


<hr>
<p><em>Location: In the classroom where Sarah and Taya Ray are preparing for the lesson before the trainees arrive.They are whispering because Mr Spall is sitting nearby and they don&#x2019;t want him listening in.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Whispering conspiratorially.)</em> Ok, so I&#x2019;ll go now to check everything looks ok for the demonstration. You stay behind to distract you-know-who.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Whispering.)</em> Why do I have to be the one to stay back with you-know-who?</dd>
<dt>SARAH</dt>
<dd><em>(Whispering.)</em> You&#x2019;re just so good at distracting people, Taya Ray. I know! Why don&#x2019;t you tell him all about your theory that Black Rock is really a penal moon and everyone here has been brainwashed into thinking it&#x2019;s a training establishment?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Whispering, warming to the idea.)</em> Ooh, yes, I could, couldn&#x2019;t I? Maybe he&#x2019;ll let slip that he&#x2019;s really a prison guard &#x2013; that would not surprise me.</dd>
<dt>MR SPALL</dt>
<dd><em>(Loudly, from the back of the room.)</em> What are you two whispering about? You&#x2019;re supposed to be preparing for a lesson on geotropism  - not exactly a top-secret subject, last time I looked.</dd>
<dt>SARAH</dt>
<dd><em>(Normal voice, covering.)</em> Um, we just didn&#x2019;t want to disturb you, Mr Spall. We know you&#x2019;re so busy and all.</dd>
<dt>MR SPALL</dt>
<dd>Well, I do have important work to do, of course, but right now my main job is to observe you two at work and write a report on you to my superiors. Just carry on as if I wasn&#x2019;t here.</dd>
<dt>TAYA RAY</dt>
<dd>Uh, ok, Mr Spall. Um, Sarah just has to go check on the demonstration set-up next door, but while she does that, I, um, would really appreciate your input on a theory I have about Black Rock.</dd>
<dt>MR SPALL</dt>
<dd>Well, ok then. I do of course have my own theories on the age-old mystery of why the terraforming went so wrong here, so I&#x2019;d be happy to give you the benefit of my wisdom and experience.</dd>
<dt>TAYA RAY</dt>
<dd>Well, my theory&#x2019;s not so much about what when wrong &#x2013; more about what this place actually is. <em>(Beat.)</em> Mr Spall, have you ever been to a penal moon?</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em>
<em>Sarah opens the door and walks into the lab.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Speaking to herself.)</em> Well, Mr Spall should be tied up for a good few minutes of Taya Ray-style craziness while I check everything&#x2019;s ship-shape here. Right, here are our plants, right where we left them. I guess that&#x2019;s a good start at least. <em>(Beat.)</em> Oh no! I don&#x2019;t believe it! I knew I shouldn&#x2019;t have left Taya Ray to finish this by herself. <em>(Despairing.)</em> We&#x2019;re going to be a laughing stock in front of the trainees and Mr Spall will have a front-row seat.</dd>
</dl>


<p><em>Sound of door opening.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Slightly panicked.)</em> Who&#x2019;s there?</dd>
<dt>TAYA RAY</dt>
<dd>It&#x2019;s just me. <em>(Innocently oblivious&#x2026;)</em> I&#x2019;d hardly started telling Mr Spall my theory, when he suddenly remembered something urgent he had to do and made for the door, with the strangest look on his face. He said he&#x2019;d be back for the lesson though.</dd>
<dt>SARAH</dt>
<dd><em>(Sarcastically.)</em> Well, that&#x2019;s fantastic. He wouldn&#x2019;t want to miss out on seeing our utter humiliation.</dd>
<dt>TAYA RAY</dt>
<dd>Why? What&#x2019;s wrong?</dd>
<dt>SARAH</dt>
<dd>Take a look at the plants and you tell me, my friend.</dd>
<dt>TAYA RAY</dt>
<dd>Wow! Shiny! They&#x2019;ve turned out well, haven&#x2019;t they? I like that spindly one. Oh, and that short, fat one&#x2019;s pretty funky looking. <em>(Beat.)</em> What are you looking at me like that for?</dd>
<dt>SARAH</dt>
<dd><em>(Exasperated.)</em> Taya Ray! The point of the demonstration was to show how we can use bio-adjustment technology to counteract slight variations in gravity.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Beat.)</em> Oops.</dd>
<dt>SARAH</dt>
<dd>Uh-huh.</dd>
<dt>TAYA RAY</dt>
<dd>I thought we were supposed to be showing how gravity affects plant growth. I fiddled with the grav controls for the chambers so the differences were really clear.</dd>
<dt>SARAH</dt>
<dd>I can see that.</dd>
<dt>TAYA RAY</dt>
<dd>So what do we do now? Tell Mr Spall?</dd>
<dt>SARAH</dt>
<dd>You&#x2019;re kidding right? He&#x2019;s here to write a report on us!</dd>
<dt>TAYA RAY</dt>
<dd>We could say squirrels got in and messed with the grav controls!</dd>
<dt>SARAH</dt>
<dd>Taya Ray, there are no squirrels anywhere on this moon!</dd>
<dt>TAYA RAY</dt>
<dd>Well, what about that cat that&#x2019;s always hanging around? We could say the cat did it!</dd>
<dt>SARAH</dt>
<dd>Yeah, and the dog ate our homework. I don&#x2019;t think we can rely on any furry friends to get us out of this one.</dd>
<dt>TAYA RAY</dt>
<dd>Well anyway, what would have been the point of showing the class a bunch of perfectly boring regular-shaped plants to illustrate the bio-adjustment technology? I mean, we could just as well have stuck the seedlings in chambers with earth-norm gravity and no bio-adjustment tech and we would have got the same result! Like these spare ones over there that I didn&#x2019;t put in the chambers.</dd>
<dt>SARAH</dt>
<dd><em>(Exasperated.)</em> Taya Ray! Why didn&#x2019;t you say something before!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Not getting it.)</em> What?</dd>
<dt>SARAH</dt>
<dd>All we need to do is stick the spare plants in the chambers and Mr Spall will never know!</dd>
</dl>


<p><em>Door opens.</em></p>


<dl><dt>MR SPALL</dt>
<dd>And Mr Spall will never know what?</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1842/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1894/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/178/index.html>The Signal: Season 6, Episode 13</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
