<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Badger's World: Season 2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Badger's World: Season 2</h1>
<div><div class=transport-bar><a href=../../../segment/view/1079/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1155/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/101/index.html>Up</a> &#x2022; <a href=../../../segment/view/1299/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3089/index.html>Last episode</a></div>
<h2>Episode 20: Convention</h2>

<!-- audio src=signal_badgersworld_20.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_badgersworld_20.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/112/index.html>The Signal: Season 4, Episode 11</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/2/index.html>Les Howard</a></td>
<td>as Harry</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Burt</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Narrator</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Chen</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/19/index.html>Wayne Hutchinson</a></td>
<td>as Bobby Badger</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/197/index.html>The Edwards Clan</a></td>
<td>as The Green Boots</td>
</tr>
<tr class=odd><td>Music by</td>
<td><a href=../../../human/view/43/index.html>The Bedlam Bards</a></td>
<td>Eavesdown Docks</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1079/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1155/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/101/index.html>Up</a> &#x2022; <a href=../../../segment/view/1299/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3089/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/112/index.html>The Signal: Season 4, Episode 11</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
