<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Tangled Yarn</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Tangled Yarn</h1>
<div><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2446/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <a href=../../../segment/view/2544/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
<h2>Kaylee and Inara</h2>
<div>First aired: <a href=../../../show/view/216/index.html>The Signal: Season 7, Episode 16</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/96/index.html>Kara Helgren</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Looking at Serenity&#x2019;s crew as a whole, it seems natural that Kaylee and Inara would become friends. Until River arrives on the scene, the only other possible female companionship on board ship is Zoe, who, of course, has Wash. However, looking at the characters as individuals, Kaylee and Inara are in some senses an unlikely pairing. Inara, who was born on Sihnon, is very much a woman of the Core, whereas Kaylee is clearly not. Inara&#x2019;s profession is well-respected and glamorous, while Kaylee&#x2019;s is more about grease than glamour. Yet for all their differences, they clearly have a close friendship:</p>


<dl><dt>KAYLEE</dt>
<dd>Hey you.</dd>
<dt>INARA</dt>
<dd>Hey you.</dd>
</dl>


<p>This exchange between Kaylee and Inara is the first time we see these two characters interact on Firefly. Their greetings are simple, sweet and equal, and it strikes me that these words could also be used to describe their relationship. It is simple in the sense of open and uncomplicated. It is also sweet in that they are both caring and kind to each other. And it is a relationship in which the individuals involved exist on an equal footing, despite the differences in their social status.</p>

<p>We see early examples of how Kaylee and Inara care for each other in Serenity, the pilot episode. First we see Kaylee leap to Inara&#x2019;s defence when Mal calls her a whore by telling him curtly, &#x201C;The term is companion.&#x201D; Then later, as Kaylee is shot, Inara rushes to her side:</p>


<dl><dt>INARA</dt>
<dd>Kaylee, &lt;little sister&gt;, you have to focus.</dd>
<dt>KAYLEE</dt>
<dd>Everybody's so mad...</dd>
<dt>INARA</dt>
<dd>It's okay, baby...</dd>
</dl>


<p>Inara also mentions to Simon that, &#x201C;Kaylee&#x2019;s very dear. To all of us.&#x201D;</p>

<p>If our first introduction to the dynamic between Kaylee and Inara is not the original pilot episode, but The Train Job, we get as an initial exchange an interaction which conveys slightly different information about their relationship:</p>


<dl><dt>INARA</dt>
<dd>Do you want me to put it up?</dd>
<dt>KAYLEE</dt>
<dd>No, that's okay...</dd>
<dt>INARA</dt>
<dd>You have such lovely hair. I'm sure the doctor would agree.</dd>
<dt>KAYLEE</dt>
<dd>Simon? No, he's much too... I'm just... do you think it looks better up?</dd>
<dt>INARA</dt>
<dd>We can experiment... We might even get wild later and wash your face.</dd>
</dl>


<p>In this exchange, the focus is less on the equality of their friendship and more on the differences between them as individuals. The contrast between the companion and the mechanic, and the glamour and the grease associated with their respective lifestyles, could not be clearer. Inara is as elegant and immaculate as ever, while Kaylee is in her usual jumpsuit and has a smudged face.</p>

<p>Mal comments that Inara appears to be holding Kaylee &#x201C;in thrall&#x201D; and there is clearly a lot about Inara&#x2019;s life which Kaylee finds attractive. The clothes she wears are one such example, as we see in Shindig, when Kaylee admires the dresses on display:</p>


<dl><dt>KAYLEE</dt>
<dd>The only place I seen something so nice is some of the things Inara has.</dd>
<dt>ZOE</dt>
<dd>I guess she needs all that stuff, life she leads.</dd>
<dt>KAYLEE</dt>
<dd>Well, sure. Sometimes the customers buy her things. She knows some real rich men&#x2014;</dd>
<dt>MAL</dt>
<dd>Come on. These ain't feathers I'm toting here, you know.</dd>
<dt>KAYLEE</dt>
<dd>I like the ruffles. Inara gets to wear whatever she wants.</dd>
</dl>


<p>I find it particularly interesting how Kaylee&#x2019;s lines are delivered in this scene. There is no hint of envy in her comments. She wishes she could wear clothes like Inara&#x2019;s, but she does not begrudge her friend the good fortune that she has a job which means she can.</p>

<p>Kaylee and Inara are not only quite different in their backgrounds and professions, but also in the extent to which they open up about their true feelings for those around them:</p>


<dl><dt>KAYLEE</dt>
<dd>You think this'd make a nice gift?</dd>
<dt>INARA</dt>
<dd>A gift? For whom?</dd>
<dt>KAYLEE</dt>
<dd>I just kinda like it. It&#x2019;s rich, you know.</dd>
<dt>INARA</dt>
<dd>Oh. For Simon.</dd>
<dt>KAYLEE</dt>
<dd>I didn't say that.</dd>
<dt>INARA</dt>
<dd>You don't do a very good job of hiding your interest.</dd>
<dt>KAYLEE</dt>
<dd>He's just so &lt;cute&gt;. You just wanna take a bite out of him all over, you know?</dd>
<dt>INARA</dt>
<dd>Careful.</dd>
</dl>


<p>Kaylee wears her heart on her sleeve and tries her hardest to make Simon notice her. Inara, in contrast, is ever the professional companion and keeps the feelings she has for Mal hidden. Kaylee is happy to talk to Inara about how things are going with Simon, but we don&#x2019;t see Inara responding in kind and confiding in Kaylee about Mal. We do get a glimpse of Inara&#x2019;s frustration with Mal during the film Serenity though, and it is in conversation with Kaylee when this happens:</p>


<dl><dt>INARA</dt>
<dd>Kaylee, are you ever going to put that capture down?</dd>
<dt>KAYLEE</dt>
<dd>We got to have records of everything, Inara. A bona fide companion entertained clients on this very ship. In this very bed.</dd>
<dt>INARA</dt>
<dd>Well, I can't do my work here. And I don't think the Captain approves.</dd>
<dt>KAYLEE</dt>
<dd>The Captain wants you to stay...</dd>
<dt>INARA</dt>
<dd>That man doesn't know what he wants. I don't have time to...</dd>
</dl>


<p>There is something of a sisterly quality to the relationship between Kaylee and Inara. Kaylee looks at Inara as a sophisticated older sister to be admired, while Inara looks at Kaylee as a sweet younger sister to be looked after. On three separate occasions Inara makes a comment about her desire for Kaylee to stay out trouble, which is a commendable and necessary desire, considering Mal&#x2019;s tendency to find trouble on a regular basis.</p>

<p>It is not surprising that after Inara leaves Serenity, she misses Kaylee and Kaylee misses her:</p>


<dl><dt>MAL</dt>
<dd>Well, it would be... I mean, I'd like to. Kaylee's been missing you something fierce.</dd>
<dt>KAYLEE</dt>
<dd>Oh, man.</dd>
<dt>INARA</dt>
<dd>I miss her, too. I even miss my shuttle, occasionally.</dd>
</dl>


<p>It seems that the friendship between Kaylee and Inara has not changed in the time they were apart. In fact, we don&#x2019;t see any particular changes in their dynamic over the course of the series or the film. Theirs is one of the most stable relationships in Firefly and Serenity, which is not to say that it is not interesting or well played. And its stability makes me wonder in what direction it might have headed, had the series not been cut short. Perhaps there would have been a temporary falling out, or a change in the dynamic as a new character was introduced. Maybe Kaylee&#x2019;s openness would have started to have an influence on Inara, or Inara would have had the chance to invite Kaylee further into her world. Whatever might have happened though, I think that ultimately their friendship would have endured.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2446/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <a href=../../../segment/view/2544/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/216/index.html>The Signal: Season 7, Episode 16</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
