<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 22</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 22</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/68/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/70/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_222_20061122.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_222_20061122.mp3 download=signal_season02_22.mp3>Download audio file</a></div>
<div class=info>Wednesday 22nd November 2006</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:19</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div>Les and Kari introduce the show</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/740/69/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/52/index.html><img src=../../../image/image/61/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:02</td>
<td class=shownote><h3>Borderline</h3>
<h4>Silverhold</h4>
<div>Silverhold has been in the news more than once, thanks to the abundance of precious metals below its surface. But while justly famous for its gold and silver mines, Silverhold is making news now for a far less romantic reason. Like Shadow, Silverhold has declared open hostility to the Alliance. For the first time, we'll be taking you behind enemy lines.</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; featuring <a href=../../../human/view/8/index.html>James Parkinson</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/737/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:22</td>
<td class=shownote><h3>A Browncoat Thank You</h3>
<p>Written by <a href=../../../human/view/2/index.html>Les Howard</a>; read by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/741/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:43</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Quantum Leap</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/745/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/51/index.html><img src=../../../image/image/64/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:24:20</td>
<td class=shownote><h3>Dear BDH</h3>
<h4>Dear Zoe: Undefended</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/14/index.html>Claire Musso</a> and <a href=../../../human/view/15/index.html>Doug Moran</a></p>
</td>
<td><a href=../../../segment/view/747/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://sendingawave.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:24:42</td>
<td class=shownote><h3>Promo: Sending a Wave</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:50</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Jennifer - Converted to the Signal by Kari</li>
<li>Andy - Two conversions</li>
<li>William - New England Browncoats</li>
<li><ul><li><a href=../../../external.html#http://www.nebrowncoats.com>New England Browncoats</a></li>
<li><a href=../../../external.html#http://www.bigdamnboard.com/websites/groups>Big Damn Board listing of local Browncoat groups</a></li>
</ul>
</li>
<li>Christine - Awesome adjectives</li>
<li>Linn - Conversion story</li>
<li>Patrick - Conversion Story</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/743/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/50/index.html><img src=../../../image/image/63/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:41:35</td>
<td class=shownote><h3>Gaming in the 'Verse</h3>
<h4>The Bard</h4>
<p>Written by <a href=../../../human/view/16/index.html>Trampas Whiteman</a>; read by <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/746/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:45:41</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div><ul><li>the first air dates of Trash, etc.</li>
<li><a href=../../../external.html#http://talesfromtheverse.com>Tales from the 'Verse</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/740/69/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:54</td>
<td class=shownote><h3>Games and Sports in Firefly</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/677/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://geekacres.libsyn.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:54:09</td>
<td class=shownote><h3>Promo: Geek Acres</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/51/index.html><img src=../../../image/image/64/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:54:40</td>
<td class=shownote><h3>Dear BDH</h3>
<h4>Dear Mal: The End</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/8/index.html>James Parkinson</a>, <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/748/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:55:36</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://quantummechanix.com>QMx</a> have started shipping replica money packs</li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=11800>Ron Glass to appear at the FX Show in Orlando, Jan 2007</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/742/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:42</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/733/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:03</td>
<td class=shownote><h3>Music Section</h3>
<h4>Reavers</h4>
<p>Music by <a href=../../../human/view/68/index.html>Lich King</a></p>
</td>
<td><a href=../../../segment/view/744/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:03:28</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div><ul><li><a href=../../../external.html#http://quantummechanix.com>QMx replica money</a></li>
<li>The BDHs in other shows</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/740/69/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:05:35</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Isleen Moore version (and horses)</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:06:00</td>
<td class=shownote><h3>Carolyn sings the Quantum Leap theme song</h3>
<p>Music by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/750/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:07:06<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/68/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/70/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3136>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
