<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2392/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2435/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>Psychic Definitions - What is a Reader?</h2>
<div>First aired: <a href=../../../show/view/206/index.html>The Signal: Season 7, Episode 12</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/485/index.html>Craig Kurumada</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/485/index.html>Craig Kurumada</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/96/index.html>Kara Helgren</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><a></a><h2><span class=mw-headline>Psychic Definitions: What is a Reader?</span></h2>


<p>As a follower of science fiction and fantasy, I have often fallen into 
the various debates of plots involving supernatural events, undiscovered
science and trying to find the logic which governs how these alternative 
universes run. It leads to picking apart stories, finding flaws in the 
writer's work or, even better, seeing where a really good writer stays 
consistent and believable. Good stories give us the conditions under 
which super powers function and what their limitations are. Superman can 
do all his super deeds, except when there's Kryptonite around. Star Trek 
transporters can't work through shields, well, usually anyway. Vampires 
are super strong, but can't be exposed to daylight (unless they're 
living in Bristol and move to Wales.) All of these rules are necessary 
so we don't just chalk it up to &quot;magic&quot; and not care what the 
limitations are. I'm afraid I'm one of those guys who says out loud, 
&quot;Hey! How come Spike can smoke a cigarette, but Angel doesn't have 
breath to give a drowned Buffy mouth-to-mouth resuscitation?&quot;</p>

<p>It was this kind of &quot;how does it work?&quot; question which led me to 
speculating about River's condition.</p>

<p>So should we really make a difference between someone who can predict 
the future or someone who can read minds? To me, there is a huge 
difference in the &quot;logic&quot; of these abilities. Reading minds seems much 
easier to believe for me. It would simply be an enhanced form of 
communication between sentient beings. In the same way, in the so-called 
normal world, some non-amygdala-ravaged people can pick up on unspoken 
communication, body language and mood. My wife is one of those. She can 
walk into a party and immediately know who is interested in whom, even 
across the room.</p>

<p>Seeing the future, however, requires a lot more investment regarding 
belief in supernatural abilities, a bit of time travel and astral 
projection thrown together. It's harder for me to believe that it could 
be induced by any amount of brain surgery.</p>

<p>In the Firefly 'Verse, River's brain has been conditioned to be 
ultra-sensitive to all things around her.</p>

<p><strong>INSERT CLIP [ARIEL]:</strong>
Simon: &quot;She feels everything. She can't not.&quot;</p>

<p><br>
So, I suspect the Alliance's work on River created a person 
super-sensitive and even able to read current thoughts. Mal even says so 
himself:</p>

<p><strong>INSERT CLIP [BDM]:</strong>
MAL: &quot;She reads the way of things. Sees trouble before it comes, which is of use to me.&quot;</p>

<p><br>
But, &quot;seeing trouble before it comes&quot; could just be knowing what someone 
is thinking before they act, as is demonstrated by River's letting Zoe 
know who's planning to draw a gun on them.</p>

<p>Every scene where River demonstrates her psychic abilities requires that 
there be a mind present to read. From Ruby and the Patron on Jiangyin,  
Jayne and the Blue Hands on &quot;Ariel&quot; to the poor settlers on Lilac being 
attacked by Reavers and, of course, the key members of Parliament all 
were able to think about their history, secrets and, ultimately, crimes.</p>

<p><strong>INSERT CLIP:[Bushwacked]</strong>
RIVER: &quot;No, can't sleep. Too much screaming.&quot;
SIMON: &quot;River. There is no screaming.&quot;
RIVER: &quot;There was.&quot;</p>

<p>So, River can hear the screams of the victims of the cargo ship, but 
this could be explained by the lone survivor who held those memories in 
his mind.</p>

<p>Running contrary to this theory that she only reads minds; however, are 
some seldom seen, but nevertheless present moments where River 
understands what will happen in the future.</p>

<p>In Ariel, as she, Simon and Jayne are making their way through the 
treatment room in the hospital:</p>

<p><strong>Insert clip [ARIEL]:</strong>
SIMON: &quot;No one here is going to die.&quot;
RIVER: &quot;He is.&quot;</p>

<p>I suppose one could argue that some technician or even the incompetent 
doctor was thinking that the patient was doomed and, thus, had the idea 
for River to  pick up.</p>

<p>But, there is one scene which always gives me pause about River as just 
a &quot;mind-reader&quot; and not someone who can read the future. This is from 
&quot;Out of Gas&quot;.</p>

<p><strong>INSERT CLIP [OUT OF GAS]: RIVER: &quot;Fire.&quot;</strong></p>

<p>All the crew are in the dining area. No one could see the fire 
approaching or mentions it. But, River knows about it before it reaches 
the crew.</p>

<p>My favorite conclusion from this is that, in this moment, she's not 
predicting the future, but that River IS only a mind-reader. So whose 
mind is she reading? Why, Serenity's, of course. Our tenth character. 
Serenity knows about the fire on its way through the ship, and River 
senses it.</p>

<p>Steve's previous article about Serenity's &quot;voice&quot;, the crew's love and 
personification of the ship and the bonus feature in the DVD box set all 
speak of Serenity as a part of the cast and crew. So, when River says, 
&quot;Fire&quot;, is she being prescient or is she simply reading Serenity's mind?</p>

<p>I prefer the latter interpretation.  Let us know if you think otherwise.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2392/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2435/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/206/index.html>The Signal: Season 7, Episode 12</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
