<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Editorial</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Editorial</h1>
<div><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1547/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/1679/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
<h2>The Wheel Keeps Turning</h2>
<div>First aired: <a href=../../../show/view/162/index.html>The Signal: Season 6, Episode 5</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/1/index.html>Jill Arroway</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Browncoats continue to surprise me. I'm a browncoat myself, of course, so maybe I shouldn't be so surprised, but somehow I never cease to be amazed that the passion I have for Firefly is actually shared by other people - <em>lots</em> of other people, and to stunningly great degree.</p>

<p>I've been a little absent from the Signal over the first four episodes of this season. There's a reason for that. While the old crew were continuing to do the amazing job that they do, and the new crew were getting up to speed, and doing brilliantly at it, I was slaving over a hot keyboard putting together one tiny part of the non-audio side of the Signal's presence on the web. I wasn't alone in this, of course. Much credit must go to Kevin, for setting up a new domain name and getting the blog and the forum going, and to the many other people who contributed in a whole variety of ways. My own contribution was modest: I worked on the part of our website that doesn't have a name - the index to the Signal's content, as it were.</p>

<p>But at the back of my mind, I was secretly concerned: Would it all really be worth it? Let's wind the clock back a year, to see where we were then, and retrospectively look ahead to the challenges that we then faced. The Signal didn't have its own forum back then, but we did have our own section on the forums of SerenityMovie.net - a very popular Firefly forum suite run by Jeremy Neish, one of the co-creators of Done the Impossible - and a minor actor, as it happens, in Serenity the movie. The idea of leaving the safe haven of those forums and striking out on our own was a scary one. Did we have the &quot;pull&quot;? Would our listeners follow? Clearly we would be venturing into the unknown.</p>

<p>I was equally unsure about the blog. I like to think of myself as reasonably computer techy, but the social networking revolution had left me behind. I knew nothing of Facebook and Twitter, and even cellphones left me cold. I had no idea what a blog was even <em>for</em>. I had certainly never visited one. I think I'm finally beginning to suss it out, now that we have one of our own, but again, would anyone visit it? That was the unknowable question, lurking there, at the back of my mind.</p>

<p>And then we come to my own contribution to the effort. Our old website, affectionately dubbed the <em>classic</em> site, was getting old. The Signal needed a facelift. Additionally, we wanted to be able to offer our content in new and interesting ways. Writing the web app which delivers our new site was a major challenge, and while I <em>loved</em> doing it, I still remained unsure about one important question: would it all be worth it?</p>

<p>Because you see, here's the thing - the Signal is six years old! Firefly itself is now <em>eight</em> years old. How much sense does it <em>really</em> make, to create a brand new blog, a brand new forum, and a brand new index of the Signal's content, all dedicated to a TV show which ran for fourteen episodes and then got cancelled, eight years ago? Put like that, it's a wonder we even bothered at all - but bother we did, because <em>we</em> are still passionate.</p>

<p>But then came the big surprise: our forums were <em>popular</em>. Not only that, we now have an actively growing and thriving forum community. New posts appear with staggering frequency on all manner of topics. Firefly, it seems, is loved by you guys as much as by us.</p>

<p>Our theme and focus for 2010 is the browncoat community. This is our year; this is your year. This is the year when the browncoat community as a whole can come together and work together as one. One example of that is the Signal's summer break - every year, for the past few years, the Signal proper has gone off the air for a few weeks around Dragon*Con, to be replaced by bonus shows. This year, we'll be doing the same, but with a difference - this year, we want the bonus shows to be every bit as good as the regular shows - and the way we're doing that is by giving a voice to you guys. We'll be airing <em>your</em> articles and features. No sooner had we announced that we were planning this, QMx stepped in and offered us prizes. (And we're hoping they won't be alone). Such generousity is staggering.</p>

<p>And who knows? Maybe it will grow beyond one summer break? Maybe the talent shown by you guys can be transformed into a whole new podcast, filling the gap painfully left by the - hopefully temporary - absence of our sister podcast, Firefly Talk.</p>

<p>That's the big thing for me - it's not the <em>Signal</em> community we're talking about here; it's the <em>browncoat</em> community. We are but a small part of a much greater whole, and when we work together, we are mighty. So you can expect collaborations in 2010. As a podcast, we will try to join forces once again with Sending a Wave, and other Firefly-friendly podcasts and podcasters. Originally we did all this with a singular goal - to get Firefly back on the air. Now we do this with a different goal - simply to be together, to help each other, and to keep each other company during Firefly's, again, hopefully temporary, hiatus. We will do more than simply hold the line, in this interim; we will <em>have fun</em> while we're waiting. We will take pleasure in each other's company, we will tell each other stories, and sing each other songs, and the world will be a better place for all that love.</p>

<p>So in hindsight, was it worth it, to put in all that effort at this late stage in the game?</p>

<p>Damn straight it was! Browncoats are here to stay.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1547/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/1679/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/162/index.html>The Signal: Season 6, Episode 5</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
