<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Getting Dicey</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Getting Dicey</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/50/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/174/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/142/1/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Dicey Events</td>
<td>The Signal: Season 6, Episode 2</td>
<td><a href=../../../segment/view/1607/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dicey Strangers</td>
<td>The Signal: Season 6, Episode 3</td>
<td><a href=../../../segment/view/1617/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dicey Battles</td>
<td>The Signal: Season 6, Episode 6</td>
<td><a href=../../../segment/view/1642/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dicey Heroes</td>
<td>The Signal: Season 6, Episode 18</td>
<td><a href=../../../segment/view/1987/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dicey Crews</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2334/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Dicey Details</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2359/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Dicey Adventures</td>
<td>The Signal: Season 7, Episode 14</td>
<td><a href=../../../segment/view/2444/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<h2>See Also</h2>
<ul><li><a href=../../../series/view/47/index.html>Adventures in Serenity</a></li>
<li><a href=../../../series/view/81/index.html>Bold Moves</a></li>
<li><a href=../../../series/view/50/index.html>Gaming in the 'Verse</a></li>
<li><a href=../../../series/view/164/index.html>Queen of the Black</a></li>
</ul>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/50/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/174/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
