<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Greg Edmonson</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Greg Edmonson</h1>
<div><h2>Website</h2>
<p><a href=../../../external.html#http://www.imdb.com/name/nm0249557/>External website</a></p>
<h2>Music by Greg Edmonson</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Music Section: River's Dance</td>
<td>The Signal: Season 1, Episode 1</td>
<td><a href=../../../segment/view/32/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: <q>The Hero of Canton</q>, from <q>Jaynestown</q></td>
<td>The Signal: Season 1, Episode 2</td>
<td><a href=../../../segment/view/45/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Indian Chant</td>
<td>The Signal: Season 1, Episode 4</td>
<td><a href=../../../segment/view/80/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: The Jubal Early Theme</td>
<td>The Signal: Season 1, Episode 6</td>
<td><a href=../../../segment/view/108/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: The Funeral music from <q>The Message</q></td>
<td>The Signal: Season 1, Episode 7</td>
<td><a href=../../../segment/view/141/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Going Down with the Ship (from <q>Out of Gas</q>)</td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/190/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: The Ballad of Serenity (instrumental)</td>
<td>The Signal: Season 1, Episode 10</td>
<td><a href=../../../segment/view/205/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Bar music from <q>The Train Job</q></td>
<td>The Signal: Season 1, Episode 11</td>
<td><a href=../../../segment/view/217/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Music from <q>Bushwhacked</q>, including River and Simon's spacewalk</td>
<td>The Signal: Season 1, Episode 13</td>
<td><a href=../../../segment/view/248/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Saffron's wedding music from <q>Safe</q></td>
<td>The Signal: Season 1, Episode 14</td>
<td><a href=../../../segment/view/272/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: The Hero of Canton (sans dialog)</td>
<td>The Signal: Season 2, Episode 1</td>
<td><a href=../../../segment/view/409/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: The Jubal Early Theme</td>
<td>The Signal: Season 2, Episode 2</td>
<td><a href=../../../segment/view/466/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Nate's Theme</td>
<td>The Signal: Season 3, Episode 22</td>
<td><a href=../../../segment/view/1033/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Uncharted Theme</td>
<td>The Signal: Season 4, Episode 6</td>
<td><a href=../../../segment/view/1137/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Drake's Eulogy</td>
<td>The Signal: Season 4, Episode 13.5</td>
<td><a href=../../../segment/view/1202/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: The Ballad of Serenity</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2600/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Songs from the Black: The Ballad of Serenity (instrumental) - Greg Edmonson</td>
<td>Songs from the Black</td>
<td><a href=../../../segment/view/2025/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
