<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Poetry of the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Poetry of the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/2215/index.html>First episode</a> &#x2022; <span class=greyed-out>Previous episode</span> &#x2022; <a href=../../../series/view/165/index.html>Up</a> &#x2022; <a href=../../../segment/view/2233/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2296/index.html>Last episode</a></div>
<h2>The Language of Time Travel</h2>

<audio src=../../../../yonder/signal_poetryoftheverse_01.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_poetryoftheverse_01.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/197/index.html>The Signal: Season 7, Episode 4</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>I love language. I&#x2019;ve been analysing languages my whole working life and my enthusiasm is yet to wane. I love reading and writing, word puzzles and puns, cryptic crosswords and poems. And I love &#x2013; just, love &#x2013; the language of Firefly and Serenity. I love the care and attention that went into creating a natural and believable way of speaking, which at the same time is incredibly distinctive.</p>

<p>So what is it that makes the language of the &#x2018;verse so special? What are the ingredients that come together to create the way the characters speak? In this article, I&#x2019;m going to tackle just one of those ingredients: the combination of the old and the new. Joss Whedon described Firefly as a whole as &#x201C;a show that took the past and the future and put them together by making them feel like the present&#x201D;. This could also apply very aptly to the language specifically.</p>

<p>One way in which the past is brought into the language of Firefly is through the revival of words which have fallen out of use on Earth-that-still-is today:</p>


<dl><dt>ZOE</dt>
<dd>You sanguine about the kinda reception we're apt to receive on an Alliance ship, Captain?</dd>
<dt>MAL</dt>
<dd>Absolutely. What's sanguine mean?</dd>
<dt>ZOE</dt>
<dd>Sanguine, hopeful. Plus, point of interest, it also means bloody.</dd>
<dt>MAL</dt>
<dd>Well, that pretty much covers the options, don't it?</dd>
</dl>


<p>I could spend a long time simply listing the weird and wonderful words that we hear in Firefly, but here are just a few of my favourites: frippery, birddogging, foofaraw, brainpan, palaver, passel, sistren, blubberous, shindig, tweaked, sasquatch, addlepated, Grizwald. All words that add richness to the language of the &#x2018;verse.</p>

<p>There are some words and phrases that set us very much in the past: &#x201C;bound by law&#x201D;, &#x201C;spoiled dandy&#x201D;, &#x201C;whole mess a&#x2019; pistols&#x201D;, &#x201C;pretty fits&#x201D; and Kaylee&#x2019;s memorable &#x201C;twixt my nethers&#x201D;, for example. Taken together with the new words used in Firefly, and the old words used with new meanings, these phrasings form a temporal melting pot out of which the language of the &#x2018;verse emerges.</p>

<p>Some of the words in this melting pot are common today, but have undergone a semantic shift by the time they reach the &#x2018;verse. Chief amongst these is, of course, &#x201C;shiny&#x201D;:</p>


<dl><dt>JAYNE</dt>
<dd>Shiny. Let's be bad guys.</dd>
</dl>


<p>I find it very believable that in five hundred years from now, no one is saying &#x201C;cool&#x201D; and another adjective has taken its place. In current usage, &#x201C;shine&#x201D; can mean to excel at something. Someone can &#x201C;shine at maths&#x201D; for example, or be a &#x201C;shining example of politeness&#x201D;. It isn&#x2019;t much of a leap to take the adjective derived from the verb and have it mean excellent.</p>

<p>Another example of semantic shift can be seen in the word &#x201C;sly&#x201D; to mean gay:</p>


<dl><dt>NANDI</dt>
<dd>You're not sly, are you? &#x2018;Cause I got my boys...</dd>
<dt>MAL</dt>
<dd>Sly? No. I lean toward womenfolk. Just, one thing at a time.</dd>
</dl>


<p>The change in meaning here is less easily reconstructed in comparison to that of &#x201C;shiny&#x201D;. Today, &#x201C;sly&#x201D; tends to have negative connotations, meaning crafty, covertly (in the sense of &#x201C;on the sly&#x201D;) or even illicit, but I don&#x2019;t think this necessarily means that homosexuality is viewed negatively in the &#x2018;verse. The way Mal reacts when Nandi uses the word does not suggest that, at least. Words change in meaning all the time. Bad can become good.</p>

<p>Bad can also stay bad, as in the case of &#x201C;reaver&#x201D;. This word may sound newly created for the &#x2018;verse, but it is derived from the current (though archaic) English word &#x201C;reave&#x201D;, meaning to raid, plunder or take by force, which is wholly appropriate for the reavers of the &#x2018;verse.</p>

<p>And then we have &#x201C;gorramn&#x201D;, a word which has not changed in meaning, but in pronunciation.</p>


<dl><dt>JAYNE</dt>
<dd>The gorramn Reavers followed us! / Gorramn it, let&#x2019;s get us moving. / Gorramn freak&#x2019;s completely off her axel!</dd>
</dl>


<p>When I first heard this word used in Firefly, the linguist in me rejoiced. The sound change from &#x201C;d&#x201D; to &#x201C;r&#x201D;, creating &#x201C;gorramn&#x201D; from &#x201C;goddamn&#x201D; is a very natural one in languages all round the world and so common that it even gets its own name &#x2013; rhotacisation. The word &#x201C;gorramn&#x201D; is following a well-worn path of sound change, in the footsteps of words such as &#x201C;begorra&#x201D;, which came from &#x201C;by God&#x201D;. Even the presumably unintentional variation in spelling in the shooting scripts between a final &#x201C;m&#x201D; and &#x201C;n&#x201D; in &#x201C;gorramn&#x201D; fits nicely with the idea of a word in flux.</p>

<p>Many existing English words are used without alteration to describe the &#x2018;verse and life in it.</p>


<dl><dt>MAL</dt>
<dd>Wheel never stops turning, Badger.</dd>
<dt>BADGER</dt>
<dd>That only matters to the people on the rim.</dd>
</dl>


<p>The words &#x201C;core&#x201D;, &#x201C;border&#x201D; and &#x201C;rim&#x201D;, for example, not only describe the geography of the &#x2018;verse, but also tell us something of what to expect of life in the different areas. &#x201C;Core&#x201D; suggests importance and attention, &#x201C;border&#x201D; tension and conflicts, and &#x201C;rim&#x201D; isolated and ignored. And then there is &#x201C;the black&#x201D;, which is also an evocative term for me, suggesting the grandeur but also the loneliness of space. Similarly, &#x201C;blackrock&#x201D;, stressed carefully to show that it is not a &#x201C;black rock&#x201D;, is the perfect term for a failed attempt at terraforming. And as befits people who live in a system with dozens of planets and hundreds of moons, we hear the expressions &#x201C;moon-brained&#x201D;, &#x201C;sure as a hundred moons&#x201D;, &#x201C;turn of the worlds&#x201D; and &#x201C;every world spinning&#x201D;.</p>


<dl><dt>INARA</dt>
<dd>Mal, this isn't the ancient sea. You don't have to go down with your ship.</dd>
</dl>


<p>The language of space travel in Firefly takes much of its vocabulary from seafaring. Words like &#x201C;cruiser&#x201D;, &#x201C;scow&#x201D;, &#x201C;lifeboat&#x201D;, &#x201C;aft&#x201D;, &#x201C;helm&#x201D; and &#x201C;sail&#x201D; and phrases such &#x201C;dead in the water&#x201D;, &#x201C;on the drift&#x201D; and &#x201C;haul anchor&#x201D; are used in relation to space ships. There are also some more technical terms, such as &#x201C;pulse beacon&#x201D;, &#x201C;primary buffer panel&#x201D;, &#x201C;nav sat trajectory&#x201D;, &#x201C;compression coil&#x201D; and many others. When I started looking for these terms, I was surprised how many there were, because they are not intrusive or distracting. This is partly because, like the words for the geography of the &#x2018;verse, they are recognisably real words, just sometimes used in unexpected combinations, or abbreviated, as in the case of &#x201C;atmo&#x201D; and &#x201C;grav&#x201D;, or &#x2019;verse&#x201D; itself.</p>

<p>The same is true of words for new communication technology:</p>


<dl><dt>SIMON</dt>
<dd>Did you get my wave?</dd>
<dt>GABRIEL</dt>
<dd>I got it. Your text shorted. I got the whole thing during a board meeting. Thank you.</dd>
<dt>SIMON</dt>
<dd>If I had a dedicated source box, it wouldn&#x2019;t short out. I lost half my essay.</dd>
<dt>GABRIEL</dt>
<dd>Yes, and you&#x2019;d have access to any &lt;God knows what&gt; that filtered in from the cortex. I absolutely forbid it.</dd>
</dl>


<p>My favourite of these words is &#x201C;wave&#x201D;, as it suggests both the technical sense of &#x201C;sound wave&#x201D; and the communicative aspect involved in the gesture of waving a hand.</p>

<p>It is not just new technology which has resulted in the need for new vocabulary in the &#x2018;verse. There is new currency, so the talk is of &#x201C;credits&#x201D; and &#x201C;platinum&#x201D;. The way money is referred to in Firefly captures the mix of old and new in minature as we also hear characters talk of &#x201C;coin&#x201D;, &#x201C;a bag of silver&#x201D; and, of course, &#x201C;cashy money&#x201D;. There is also rich vocabulary for weapons, such as &#x201C;rollers&#x201D;, &#x201C;seekers&#x201D; and &#x201C;full-yield mag drops&#x201D;, medicine, as in &#x201C;dilaftin&#x201D; and &#x201C;delcium&#x201D;, and diseases, such as &#x201C;damplung&#x201D; and &#x201C;Bowden&#x2019;s Malady&#x201D;. Just what causes the damplung, I wonder? And who was Bowden?</p>

<p>There are also new terms for professions, in &#x201C;companion&#x201D; and &#x201C;shepherd&#x201D;. The latter of these harks back to the original meaning of &#x201C;pastor&#x201D;, which comes from the Latin for &#x201C;shepherd&#x201D;, so it is both new and old. The war has also left its mark on the language of the &#x2018;verse, in the expressions &#x201C;browncoat&#x201D; and &#x201C;purple belly&#x201D;. Instead of the blue and the gray of the American civil war, the conflict is between the earthy brown and the imperial purple.</p>

<p>The more I look at, and listen to, the language of the &#x2018;verse, the more I see how rich and evocative it is, and the more I fall in love with it.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2215/index.html>First episode</a> &#x2022; <span class=greyed-out>Previous episode</span> &#x2022; <a href=../../../series/view/165/index.html>Up</a> &#x2022; <a href=../../../segment/view/2233/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2296/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/197/index.html>The Signal: Season 7, Episode 4</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
