<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Blue Sun Public Service Announcement</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Blue Sun Public Service Announcement</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/77/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/81/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/33/3/album/image.png width=300 height=300 alt></div>
<div>Live life, with Blue Sun</div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Wanted: River and Simon Tam</td>
<td>The Signal: Season 1, Episode 1</td>
<td><a href=../../../segment/view/29/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Tragedy at New Macau</td>
<td>The Signal: Season 1, Episode 3</td>
<td><a href=../../../segment/view/42/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Recruitment Commercial</td>
<td>The Signal: Season 1, Episode 4</td>
<td><a href=../../../segment/view/77/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Alliance Military Recruitment Campaign</td>
<td>The Signal: Season 1, Episode 5<br>The Signal: Season 1, Episode 16.6: Bits of the Signal</td>
<td><a href=../../../segment/view/105/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Alliance Resettlement Commercial</td>
<td>The Signal: Season 1, Episode 6</td>
<td><a href=../../../segment/view/119/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Flavornix Commercial</td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/149/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Pork Bao Recipe</td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/187/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Scentsations commercial</td>
<td>The Signal: Season 1, Episode 10</td>
<td><a href=../../../segment/view/202/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Care of Protein Packets</td>
<td>The Signal: Season 1, Episode 12</td>
<td><a href=../../../segment/view/214/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Alliance News</td>
<td>The Signal: Season 1, Episode 14</td>
<td><a href=../../../segment/view/245/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Alliance News</td>
<td>The Signal: Season 1, Episode 15</td>
<td><a href=../../../segment/view/285/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Alliance News</td>
<td>The Signal: Season 1, Episode 16.5: November Bonus Show</td>
<td><a href=../../../segment/view/300/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Miranda advertisement</td>
<td>The Signal: Season 1, Episode 17.3: Solstice Special, part 3</td>
<td><a href=../../../segment/view/395/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Browncoats</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3107/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/77/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/81/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
