<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Interview</title>
<link rel=stylesheet type=text/css href=../../../../common.css><link rel=stylesheet type=text/css href=../../../../gorram.css><link rel=stylesheet type=text/css href=../../../../geometry.css></head>
<body><p><a href=../../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../../season/index.html>Seasons</a> &#x2022; <a href=../../../../series/index.html>Series</a> &#x2022; <a href=../../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Interview</h1>
<div><div class=transport-bar><a href=../../../../segment/view/63/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/947/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/16/index.html>Up</a> &#x2022; <a href=../../../../segment/view/975/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3174/index.html>Last episode</a></div>
<h2>QMx</h2>
<div>First aired: <a href=../../../../show/view/91/index.html>The Signal: Season 3, Episode 15</a></div>
<div><ul><li>Music used is Autumn in AsheVille by <a href=../../../../external.html#http://www.emeraldrose.com/>Emerald Rose</a>, from the <a href=../../../../external.html#http://donetheimpossible.com>Done the Impossible</a> soundtrack album</li>
<li>More information on the Ships Papers will be available on the <a href=../../../../external.html#http://www.quantummechanix.com/>QMx website</a> on August 21st.  They will be available for purchase on August 25th.</li>
<li>For a sneak peek at the papers check out this <a href=../../../../external.html#http://www.serenitystuff.com/2007/08/16/official-ships-papers-coming-from-qmx/>article</a> from <a href=../../../../external.html#http://www.serenitystuff.com/>SerenityStuff.com</a></li>
</ul>
</div>
<h3>Parts, as aired in The Signal: Season 3, Episode 15</h3>
<dl><dt>Part 1</dt>
<dt>Part 2</dt>
<dd><div>Continued...</div>
</dd>
</dl>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Hosted by</td>
<td><a href=../../../../human/view/2/index.html>Les Howard</a></td>
<td></td>
</tr>
<tr class=odd><td>Hosted by</td>
<td><a href=../../../../human/view/6/index.html>Kari Haley</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../../segment/view/63/index.html>First episode</a> &#x2022; <a href=../../../../segment/view/947/index.html>Previous episode</a> &#x2022; <a href=../../../../series/view/16/index.html>Up</a> &#x2022; <a href=../../../../segment/view/975/index.html>Next episode</a> &#x2022; <a href=../../../../segment/view/3174/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../../show/view/91/index.html>The Signal: Season 3, Episode 15</a></li>
<li><a href=../../../../show/view/91/index.html>The Signal: Season 3, Episode 15</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
