<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 10, Episode 1</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 10, Episode 1</h1>
<div><div class=transport-bar><a href=../../../show/view/251/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/11/index.html>Up</a> &#x2022; <a href=../../../show/view/252/index.html>Next show</a> &#x2022; <a href=../../../show/view/256/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_1001_20140401.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_1001_20140401.mp3 download=signal_season10_01.mp3>Download audio file</a></div>
<div class=info>Friday 11th April 2014</div>
Produced by Paul Korswagen<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/227/2/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 10 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:00</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2974/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:12</td>
<td class=shownote><h3>Editorial</h3>
<h4>The End of the Line</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/479/index.html>Bindiya Dale</a></p>
</td>
<td><a href=../../../segment/view/2982/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/173/index.html><img src=../../../image/image/198/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:21</td>
<td class=shownote><h3>Tangled Yarn</h3>
<h4>Mal and Saffron</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/3070/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:25</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2977/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/130/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:20:10</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>The Booth at the End</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/3069/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:33</td>
<td class=shownote><h3>Review: Serenity Firefly Class 03-K64 Leaves on the wind</h3>
<p>Written by <a href=../../../human/view/577/index.html>Matthew Tyler-Jones</a>; read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2991/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://quantumleappodcast.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:38:30</td>
<td class=shownote><h3>Promo: The Quantum Leap Podcast</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/183/index.html><img src=../../../image/image/230/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:50</td>
<td class=shownote><h3>Three Times a Charm</h3>
<h4>The Ship</h4>
<p>Written by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; read by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2988/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:34</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Maxwell's Links</li>
<li><ul><li><a href=../../../external.html#http://www.comicbookresources.com/?page=article&amp;id=48004>Serenity regular comic</a></li>
<li><a href=../../../external.html#http://www.toyvault.com/Firefly/index.html>Card game (1)</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/31605>Card game (2)</a></li>
</ul>
</li>
<li>Matt's Links</li>
<li><ul><li><a href=../../../external.html#http://www.geeksaresexy.net/2013/12/07/fillion-update-dresses-as-lord-vader-for-charity-you-can-purchase-prints/>Nathan Fillion as Darth Vader</a></li>
</ul>
</li>
</ul>
</div>
<p>Emails read by <a href=../../../human/view/485/index.html>Craig Kurumada</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; emails edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2979/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>1:05:25</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Better Days Part I</h4>
<div>Translation and pronunciation of the written Chinese in Part I of Better Days.</div>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2978/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:08:44</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:09:19<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/251/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/11/index.html>Up</a> &#x2022; <a href=../../../show/view/252/index.html>Next show</a> &#x2022; <a href=../../../show/view/256/index.html>Last show</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
