<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Operation Sequel</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Operation Sequel</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/66/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/164/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/57/1/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td></td>
<td>The Signal: Season 2, Episode 1</td>
<td><a href=../../../segment/view/451/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 2</td>
<td><a href=../../../segment/view/468/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 3</td>
<td><a href=../../../segment/view/478/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 5</td>
<td><a href=../../../segment/view/497/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 6</td>
<td><a href=../../../segment/view/514/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 7</td>
<td><a href=../../../segment/view/525/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 8</td>
<td><a href=../../../segment/view/536/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 9</td>
<td><a href=../../../segment/view/550/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 10</td>
<td><a href=../../../segment/view/563/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 11</td>
<td><a href=../../../segment/view/576/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 12</td>
<td><a href=../../../segment/view/587/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 13</td>
<td><a href=../../../segment/view/604/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 14</td>
<td><a href=../../../segment/view/618/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 15</td>
<td><a href=../../../segment/view/627/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 16</td>
<td><a href=../../../segment/view/647/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 16.5: Live at Dragon*Con 2006</td>
<td><a href=../../../segment/view/661/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/674/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 18</td>
<td><a href=../../../segment/view/681/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/696/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 22</td>
<td><a href=../../../segment/view/733/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/757/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Big Damn Special Edition</td>
<td>The Signal: Season 3, Episode 15</td>
<td><a href=../../../segment/view/969/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/66/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/164/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
