<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 23</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 23</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/98/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/100/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_323_20071206.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_323_20071206.mp3 download=signal_season03_23.mp3>Download audio file</a></div>
<div class=info>Thursday 6th December 2007</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Season 25 Opening theme</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:00:58</td>
<td class=shownote><h3>Banter</h3>
<p>Featuring <a href=../../../human/view/98/index.html>Jocelyn Fultz</a> and <a href=../../../human/view/96/index.html>Kara Helgren</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1037/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:03:50</td>
<td class=shownote><h3>Recollections</h3>
<h4>Kevin</h4>
<p>Hosted by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1049/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:45</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Serenity VI wins Prometheus Award</li>
<li>Jocelyn Fultz no longer at Starfury Serenity Singapore</li>
<li>Sean Maher in movie &quot;Crescent&quot;</li>
<li>Patricia Olver appearing at Collectormania 50</li>
<li>Tabitha Smith interviewed by SFX Magazine</li>
<li>&quot;Calm before the Storm&quot; now available</li>
<li>Australian Browncoats to stage &quot;Cannon in D&quot;</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1038/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:07:07</td>
<td class=shownote><h3>Recollections</h3>
<h4>James</h4>
<p>Hosted by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1050/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:15</td>
<td class=shownote><h3>From Firefly to Future</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1031/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:14:18</td>
<td class=shownote><h3>Recollections</h3>
<h4>Les and Kari</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1051/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:24</td>
<td class=shownote><h3>The Aries Commonwealth</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/1030/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:21:47</td>
<td class=shownote><h3>Recollections</h3>
<h4>David</h4>
<p>Hosted by <a href=../../../human/view/18/index.html>David Moore</a></p>
</td>
<td><a href=../../../segment/view/1052/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:32</td>
<td class=shownote><h3>Elizabeth Adams and Malcolm Reynolds</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1056/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:51</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Seventh Son</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/100/index.html>Joy Edwards</a></p>
</td>
<td><a href=../../../segment/view/1034/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:41:28</td>
<td class=shownote><h3>Recollections</h3>
<h4>Claire</h4>
<p>Hosted by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/1053/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/91/index.html><img src=../../../image/image/102/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:42</td>
<td class=shownote><h3>Moonshine</h3>
<h4>Episode 6: The Gentlemen with the Blue Hands</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1046/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:52</td>
<td class=shownote><h3>Music Section</h3>
<h4>Origins</h4>
<p>Music by <a href=../../../human/view/101/index.html>Hidden Secret</a></p>
</td>
<td><a href=../../../segment/view/1040/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:55:53</td>
<td class=shownote><h3>Recollections</h3>
<h4>Miranda</h4>
<p>Hosted by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1054/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:57</td>
<td class=shownote><h3>Music Section</h3>
<h4>Gaza Strip Mall</h4>
<p>Music by <a href=../../../human/view/102/index.html>Amanda Monaco 4</a></p>
</td>
<td><a href=../../../segment/view/1057/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:02:56</td>
<td class=shownote><h3>Recollections</h3>
<h4>Nick</h4>
<p>Hosted by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1055/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:05:46</td>
<td class=shownote><h3>Permanent Waves</h3>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/205/index.html>Kevin Cummings</a> and <a href=../../../human/view/207/index.html>Larissa Myhowych</a>; featuring <a href=../../../human/view/84/index.html>Ben Edwards</a>, <a href=../../../human/view/100/index.html>Joy Edwards</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1058/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/99/index.html><img src=../../../image/image/110/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:09:56</td>
<td class=shownote><h3>Recollections</h3>
<h4>Carolyn</h4>
<p>Hosted by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1059/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:11:15</td>
<td class=shownote><h3>Interview</h3>
<h4>George Hrab</h4>
<p>Hosted by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1041/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:31:24</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Mahuru - Conversion Story</li>
<li>Maddox - Guerilla marketing</li>
<li>Olivia - Action figures</li>
<li>Jack - Hello from Mars</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1039/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:37:26</td>
<td class=shownote><h3>Robot Chicken Extract</h3>
<p></p>
</td>
<td><a href=../../../segment/view/1060/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:38:10<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/98/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/100/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3925>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
