<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1112/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1135/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/105/index.html>The Signal: Season 4, Episode 5</a></div>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/15625>Serenity: Better Days Complete Cover</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15717>Brett Matthews talks &quot;Serenity: Better Days&quot;</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15725>More from Brett Matthews on 'Serenity: Better Days'</a></li>
<li><a href=../../../external.html#http://www.emeraldcitycomiccon.com/>Adam Baldwin will be attending Emerald City ComicCon</a></li>
<li><a href=../../../external.html#http://www.scifiexpo.com/DCC/Home/Entries/2008/3/5_Firefly_Guests_Jump_To_The_DCC.html>Jewel Staite Cancels Dallas Comic-Con Appearance</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15688>Christina Hendricks to attend Dallas Comic-Con</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15730>Jewel Staite reconfirms Supanova 2008 Melbourne & Brisbane</a></li>
<li><a href=../../../external.html#http://community.livejournal.com/whedontrack_dc/174174.html>Morena Baccarin and Jewel Staite confirmed for Dragon*Con</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/02/21/wanna-buy-a-bard-huge-ebay-auction-includes-a-bedlam-bards-performance/>Cedric's Auction for Can't Stop the Serenity raises $4000 for Equality Now</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1112/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1135/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/105/index.html>The Signal: Season 4, Episode 5</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
