<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>FAQ</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>FAQ</h1>
<div><div class=wiki-local><div><ul><li><strong>Q</strong>. Where did you get the audience singalong version of the Ballad of Serenity in your closing theme tune?
<ul><li><strong>A</strong>. We mixed it together from various sources. See <a class="external text" href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1272>here</a> and <a class="external text" href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1728>here</a>.</li>
</ul>
</li>
<li><strong>Q</strong>. How can I get older seasons of the Signal via my podcatcher?
<ul><li><strong>A</strong>. Subscribe to our season 1, season 2, season 3, season 4, season 5 or season 6 archive feed. See <a class="external text" href=../../../season/index.html>here</a>.</li>
</ul>
</li>
<li><strong>Q</strong>. I sent a question to the show's email address but I never got a reply. Why is that?
<ul><li><strong>A</strong>. Our email address is solely for stuff to be read out on the show, and not for correspondence. If you actually would like a reply, please use the forum since most of our crew members visit the forum on a regular basis.</li>
</ul>
</li>
<li><strong>Q</strong>. iTunes only downloads the latest show. How do I get the rest?
<ul><li><strong>A</strong>. Just show it who's boss. See <a class="external text" href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1970>here</a> and <a class="external text" href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2076>here</a>.</li>
</ul>
</li>
<li><strong>Q</strong>. I haven't heard such-and-such a news item on the Signal. Did I miss it?
<ul><li><strong>A</strong>. Chances are, if we didn't report something, it's probably because it's an unconfirmed rumor. Unlike other &quot;news&quot; sources, the Signal does not report rumor as news. Recent rumors have included: Firefly is coming back; Firefly is dead; Firefly is going straight to DVD; and Firefly is to be made by the WB network. You will not hear these or similar items on the Signal news. (If nothing else, it saves us the effort of having to deny them a couple of weeks later).</li>
</ul>
</li>
<li><strong>Q</strong>. I tried downloading one of your earlier episodes and got an error 404.
<ul><li><strong>A</strong>. Try again tomorrow. Our hosts, libsyn, occasionally have problems, especially with older episodes, but they are usually temporary problems.</li>
</ul>
</li>
</ul>
</div>

</div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
