<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1371/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1380/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>The Search For Serenity</h2>
<div>First aired: <a href=../../../show/view/132/index.html>The Signal: Season 5, Episode 4</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>A desire for serenity &#x2013; to be at peace with ourselves and with the world around us &#x2013; is something we can all relate to, whether we are out there in the &#x2018;verse or living on earth-that-still-is. But how do we find that serenity? The search for serenity &#x2013; with a small &#x201C;s&#x201D; &#x2013; is one of the themes we see running through the film Serenity. Different characters search for serenity in different ways, with varying degrees of success.</p>

<p>Mal&#x2019;s approach seems to be to simply keep flying, staying as far out of the way of the Alliance as he possibly can. He is aiming at nothing more than to stay free and independent. In Inara&#x2019;s words in the pilot episode of the television series, he&#x2019;s &#x201C;lost in the woods&#x201D;, but he likes it that way. Serenity for him is staying detached, not caring, not believing. He did once believe, in the cause of the Independents in the war, but that belief died in Serenity Valley. It takes the discovery of the horrific events on Miranda for him to start believing in something again.</p>

<p>In contrast, the Operative finds serenity in his belief that he is working to make &#x201C;better worlds&#x201D;. It doesn&#x2019;t matter what he has to do to achieve his aim &#x2013; be it to force a man to literally fall on his sword, or to murder children. He can justify anything he does in the pursuit of a &#x201C;world without sin&#x201D;. The Operative calmly describes himself as a &#x201C;monster&#x201D; and admits that what he does is evil, but his belief enables him to do anything and still be at peace with himself.</p>

<p>The Operative is working for the Alliance and we can assume that the Alliance holds to the kind of views we hear him express. We also learn something about how the Alliance views the concept of serenity in the speech River&#x2019;s teacher gives at the start of the film:</p>


<dl><dt>TEACHER</dt>
<dd>The central planets formed the Alliance. Ruled by an interplanetary parliament&#x2026; the Alliance was a beacon of civilization. The savage outer planets were not so enlightened... and refused Alliance control. The war was devastating. But the Alliance's victory over the Independents... ensured a safer universe. And now, everyone can enjoy the comfort... and enlightenment of true civilization.</dd>
</dl>


<p>The war was fought to give the Alliance control over the outer planets in order to ensure a &#x201C;safer universe&#x201D;. For the Alliance, serenity is about control and safety, as becomes clear when we realise what happened on Miranda.</p>

<p>The young River&#x2019;s answer to why the Independents fought so hard against the Alliance shows that she can see why the Alliance&#x2019;s desire for control was not accepted by the outer planets:</p>


<dl><dt>RIVER</dt>
<dd>We meddle.</dd>
<dt>TEACHER</dt>
<dd>River?</dd>
<dt>RIVER</dt>
<dd>People don't like to be meddled with. We tell them what to do, what to think. Don't run, don't walk. We're in their homes and in their heads and we haven't the right. We're meddlesome.</dd>
</dl>


<p>We can easily imagine River&#x2019;s words here coming out of Mal&#x2019;s mouth. He says something similar in the episode The Train Job, when he describes the Alliance as uniting the planets under one rule in order to interfere with them or ignore them equally. Hence serenity for Mal is staying as far out of the reach of the meddling arm of the Alliance as he can.</p>

<p>The Alliance&#x2019;s belief that it is possible to make people better leads to the tragedy of Miranda.</p>


<dl><dt>DR CARON</dt>
<dd>It's the Pax. The G-  Paxilon Hydroclorate that we added to the air processors. It was supposed to calm the population, weed out aggression. Well, it works. The people here stopped fighting. And then they stopped everything else. They stopped going to work... they stopped breeding, talking, eating. There's 30 million people here, and they all just let themselves die.</dd>
</dl>


<p>The irony of the Pax experiment is not only that it created exactly what it was intended to prevent &#x2013; aggression, in the form of the reavers &#x2013; but also that even when it worked, it worked too well and resulted in so much calmness that people let themselves die. The doctor also comments that &#x201C;we meant it for the best&#x2026; to make people safer&#x201D;. The Alliance thought the appropriately named Pax would enforce the peace. As River might say, &#x201C;Pax. Peace. In the Latin.&#x201D;</p>

<p>As we watch the film for the first time, it is at this point that we understand what River says regarding the reaver who crashes into Serenity&#x2019;s cargo bay after the chase on Lilac &#x2013; &#x201C;He didn&#x2019;t lie down. They never lie down.&#x201D; Reavers are those who didn&#x2019;t lie down in reaction to the Pax.</p>

<p>This idea is also explored in the flashback with River and her teacher. The teacher says that, &#x201C;A little peace and quiet will make everything better&#x201D; and tells the class to lie down, but River doesn&#x2019;t want to. She doesn&#x2019;t want to be told what to do. Again, we can see a parallel between River and Mal here. After finding out what the Alliance did on Miranda, Mal decides that he will not lie down and take it. It is time to stop running and start fighting.</p>

<p>This is the turning point in Mal&#x2019;s personal search for serenity. He knows too much now to be at peace by simply keeping his head down and staying away from the Alliance. He has to speak for the people of Miranda. Once the job is done and he has got the word out, Mal is free to go back to his old ways of achieving serenity by not believing in anything or anyone enough to get involved. But it doesn&#x2019;t seem like he will do that. He has dared to believe and, although it has cost him and his crew dear, he has come out the other side with his belief still intact, in contrast with how he was after Serenity Valley.</p>

<p>Mal is not the only one who seems to have found a form of serenity through the events of the film. River has also changed. She may not be completely whole again, but revealing the secret of Miranda helps her to become more at peace with herself. Immediately after hearing the recording describing the effects of the Pax, River says to Simon, &#x201C;I&#x2019;m all right. I&#x2019;m all right.&#x201D; When she repeats the words, she sounds surprised, as if she is only just then realising what she is saying is true. Even all the way back in the pilot episode of the series, River is disturbed by knowing something that needs to be brought out into the open. But she is unable to articulate it at that stage:</p>


<dl><dt>RIVER</dt>
<dd>Simon... They talk to me, they want me to... to talk...</dd>
<dt>SIMON</dt>
<dd>They're gone... they're gone, they&#x2019;re gone, they&#x2019;re gone, we're safe now.</dd>
</dl>


<p>As the secrets of Miranda are finally revealed, River is able to find some degree of serenity.</p>

<p>The closing scenes of the film show us Serenity with a capital &#x201C;S&#x201D; being restored literally, and serenity with a small &#x201C;s&#x201D; being restored figuratively for the ship&#x2019;s crew. After the loss of Book and Wash, things will never be quite the same again, but for those who are left, life goes on.</p>


<dl><dt>MAL</dt>
<dd>Could be bumpy.</dd>
<dt>ZOE</dt>
<dd>Always is.</dd>
</dl>


<p>Mal&#x2019;s words here are meant metaphorically, as well as literally. It isn&#x2019;t just travelling with an old ship like Serenity that is bumpy. Life tends to be somewhat bumpy too. But serenity is not achieved by trying to smooth out those bumps by force, as the Alliance tried on Miranda. Nor is it achieved by remaining detached from life and not caring about anyone or anything, as Mal had tried. Serenity is about finding tranquility in the midst of the inevitable storms of life.</p>


<dl><dt>RIVER</dt>
<dd>Storm's getting worse.</dd>
<dt>MAL</dt>
<dd>We'll pass through it soon enough.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1371/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1380/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/132/index.html>The Signal: Season 5, Episode 4</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
