<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 22</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 22</h1>
<div><h2>The First Rule of Flying</h2>
<div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/156/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_522_20091223.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_522_20091223.mp3 download=signal_season05_22.mp3>Download audio file</a></div>
<div class=info>Wednesday 23rd December 2009</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/99/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Songs from the Black Intro</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:00:14</td>
<td class=shownote><h3>Music Section</h3>
<h4>Austin Browncoats Video Theme</h4>
<p>Music by <a href=../../../human/view/48/index.html>Sheena Harden</a></p>
</td>
<td><a href=../../../segment/view/964/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:38</td>
<td class=shownote><h3>Music Section</h3>
<h4>In the Black</h4>
<div>From her new album <a href=../../../external.html#http://www.quantummechanix.com/Got_to_Fly.html>Got to Fly</a></div>
<p>Music by <a href=../../../human/view/107/index.html>Marian Call</a></p>
</td>
<td><a href=../../../segment/view/1315/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:06:37</td>
<td class=shownote><h3>Music Section</h3>
<h4>Did you See Serenity?</h4>
<p>Music by <a href=../../../human/view/94/index.html>Stan Peal</a></p>
</td>
<td><a href=../../../segment/view/1008/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:34</td>
<td class=shownote><h3>Music Section</h3>
<h4>Air through the Engine</h4>
<p>Music by <a href=../../../human/view/85/index.html>The Persephone Pickers</a></p>
</td>
<td><a href=../../../segment/view/936/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:02</td>
<td class=shownote><h3>Music Section</h3>
<h4>Jayne's Hat</h4>
<p>Music by <a href=../../../human/view/94/index.html>Stan Peal</a></p>
</td>
<td><a href=../../../segment/view/1108/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:02</td>
<td class=shownote><h3>Music Section</h3>
<h4>Into the Black</h4>
<p>Music by <a href=../../../human/view/77/index.html>Rob Kuhlman</a></p>
</td>
<td><a href=../../../segment/view/849/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:07</td>
<td class=shownote><h3>Music Section</h3>
<h4>Captain Mal</h4>
<p>Music by <a href=../../../human/view/64/index.html>Possible Oscar</a></p>
</td>
<td><a href=../../../segment/view/900/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:21:15</td>
<td class=shownote><h3>Music Section</h3>
<h4>I'm on Firefly</h4>
<p>Music by <a href=../../../human/view/91/index.html>Tom Smith</a></p>
</td>
<td><a href=../../../segment/view/994/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:48</td>
<td class=shownote><h3>Music Section</h3>
<h4>Monahanns Mudder's Milk</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a></p>
</td>
<td><a href=../../../segment/view/1232/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:28:36</td>
<td class=shownote><h3>Music Section</h3>
<h4>Evil Laugh</h4>
<p>Music by <a href=../../../human/view/113/index.html>Seanan McGuire</a></p>
</td>
<td><a href=../../../segment/view/1126/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:57</td>
<td class=shownote><h3>Music Section</h3>
<h4>Summer Glau</h4>
<p>Music by <a href=../../../human/view/118/index.html>John Anealio</a> and <a href=../../../human/view/119/index.html>John DeNardo</a></p>
</td>
<td><a href=../../../segment/view/1269/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:34:58</td>
<td class=shownote><h3>Music Section</h3>
<h4>Drama On The Prairie</h4>
<div>Music from the Bellflower</div>
<p>Music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1019/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:37:09</td>
<td class=shownote><h3>Music Section</h3>
<h4>Book2B</h4>
<p>Music by <a href=../../../human/view/111/index.html>Perry Younker</a></p>
</td>
<td><a href=../../../segment/view/1114/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:48</td>
<td class=shownote><h3>Music Section</h3>
<h4>Missing Part</h4>
<p>Music by <a href=../../../human/view/113/index.html>Seanan McGuire</a></p>
</td>
<td><a href=../../../segment/view/1277/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:42:53</td>
<td class=shownote><h3>Music Section</h3>
<h4>She Said Her Name was Saffron</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a> and <a href=../../../human/view/88/index.html>The Brobdingnagian Bards</a></p>
</td>
<td><a href=../../../segment/view/980/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:45:17</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Hero of Canton (new arrangement)</h4>
<p>Music by <a href=../../../human/view/30/index.html>Ben Edlund</a> and <a href=../../../human/view/72/index.html>Ned Chancery</a></p>
</td>
<td><a href=../../../segment/view/788/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:52</td>
<td class=shownote><h3>Music Section</h3>
<h4>Kaylee</h4>
<p>Music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a></p>
</td>
<td><a href=../../../segment/view/988/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:52:29</td>
<td class=shownote><h3>Music Section</h3>
<h4>It Was Good For You Too</h4>
<p>Music by <a href=../../../human/view/107/index.html>Marian Call</a></p>
</td>
<td><a href=../../../segment/view/1066/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:46</td>
<td class=shownote><h3>Music Section</h3>
<h4>Mal's Song</h4>
<p>Music by <a href=../../../human/view/122/index.html>Vixy and Tony</a></p>
</td>
<td><a href=../../../segment/view/1306/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 0:59:07<div class=wiki-local><div><p>You can also download all of these songs individually (as well as album cover art, etc.) by visiting the <a class="external text" href=../../../series/view/159/index.html>Songs from the Black II</a> page.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/156/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4865>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
