<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Chinese</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Chinese</h1>
<div><div class=wiki-local><div><a></a><h3><span class=mw-headline>Xiao Ka's Firefly Pinyinary</span></h3>


<div class=use-dl><a></a><h4><span class=mw-headline>I am a browncoat</span></h4>


<dl><dt>&#x4EBA; <a class="external text" href=../../../chinese/im_a_browncoat.mp3>listen</a></dt>
<dd>wo3 shi4 he4 shang4 yi1 ren2</dd>
<dd>oo'oh shr heh shang ee ren</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Serenity</span></h4>


<dl><dt>&#x975C; <a class="external text" href=../../../chinese/serenity.mp3>listen</a></dt>
<dd>ning2 jing4</dd>
<dd>ning jing</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>The Signal</span></h4>


<dl><dt>&#x6CE2; (electric wave) <a class="external text" href=../../../chinese/the_signal.mp3>listen</a>&#x00A0;</dt>
<dd>dian4 bo1</dd>
<dd>dee'en boh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>You can't stop the Signal</span></h4>


<dl><dt>&#x4E86; (you cannot cut the signal) <a class="external text" href=../../../chinese/you_cant_stop_the_signal.mp3>listen</a></dt>
<dd>ni3 bu4 neng6 ba3 dian4 bo1 jian3 diao4 le</dd>
<dd>nee boo nung ba dee'en boh jee'en dee'ao luh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Live life with Blue Sun</span></h4>


<dl><dt>&#x5B50; (depend on blue sun to live/pass the days) <a class="external text" href=../../../chinese/live_life_with_blue_sun_-_depend.mp3>listen</a></dt>
<dd>kao1 lan2 ri4 guo4 ri4 zi</dd>
<dd>kao lan r guo r dz</dd>
<dt>&#x5B50; (live/pass the days with blue sun) <a class="external text" href=../../../chinese/live_life_with_blue_sun_-_with.mp3>listen</a></dt>
<dd>gen1 lan2 ri4 guo4 ri4 zi</dd>
<dd>gen lan r guo r dz</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>You're listening to the Signal</span></h4>


<dl><dt>&#x6CE2; <a class="external text" href=../../../chinese/youre_listening_to_the_signal.mp3>listen</a></dt>
<dd>ni3 zai4 ting1 zhe3 dian4 bo1</dd>
<dd>nee dzai ting jeh dee'en boh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Congratulations</span></h4>


<dl><dt>&#x559C; (usually said twice) <a class="external text" href=../../../chinese/congratulations.mp3>listen</a></dt>
<dd>gong1 xi3</dd>
<dd>goh'ng shee</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>You look nice</span></h4>


<dl><dt>&#x5E25; (so handsome) <a class="external text" href=../../../chinese/you_look_nice_-_handsome.mp3>listen</a></dt>
<dd>hao3 shuai4</dd>
<dd>hao shoo'ai</dd>
<dt>&#x4EAE; (so pretty) <a class="external text" href=../../../chinese/you_look_nice_-_pretty.mp3>listen</a></dt>
<dd>zhen1 piao4 liang4</dd>
<dd>jen pee'ao liang</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Please</span></h4>


<dl><dt>&#x554A; (as in &quot;please, I'm begging you&quot;) <a class="external text" href=../../../chinese/please_-_begging.mp3>listen</a></dt>
<dd>qiu2 qiu2 ni3 a (the 'a' is just the sound at the end to make it sound better ... can put lo, a, lei ... whatever you feel like kinda depending on your tone of voice)</dd>
<dd>cheeou cheeou nee ah</dd>
<dt>&#x6258; (as in &quot;pu-leeaase&quot; or &quot;come-ON, you gotta be kidding me&quot; but also as in requesting someone to do something) <a class="external text" href=../../../chinese/please_-_comeON.mp3>listen</a></dt>
<dd>bai4 tuo1</dd>
<dd>bai too'oh</dd>
<dt>&#x8ACB; + verb (as in please sit down, please come in, please etc. ... invitational please) <a class="external text" href=../../../chinese/please_-_invitational.mp3>listen</a></dt>
<dd>qing3</dd>
<dd>ching</dd>
<dt>&#x4F60; ... (can/will you please ... ) <a class="external text" href=../../../chinese/please_-_will_you.mp3>listen</a></dt>
<dd>qing3 ni3</dd>
<dd>ching nee</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Thank you</span></h4>


<dl><dt>&#x8B1D; (thanks) <a class="external text" href=../../../chinese/thank_you.mp3>listen</a></dt>
<dd>xie4 xie4</dd>
<dd>shee'eh shee'eh</dd>
<dt>&#x8B1D; (lots of thanks) <a class="external text" href=../../../chinese/thank_you_-_a_lot.mp3>listen</a></dt>
<dd>duo1 xie4</dd>
<dd>doo'oh shee'eh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Excuse me</span></h4>


<dl><dt>&#x8D77; (sorry) <a class="external text" href=../../../chinese/excuse_me_-_sorry.mp3>listen</a></dt>
<dd>dui4 bu4 qi3</dd>
<dd>doo'ei boo chee</dd>
<dt>&#x904E; (excuse me ... as in please let me past/get through) <a class="external text" href=../../../chinese/excuse_me_-_may_i_pass.mp3>listen</a></dt>
<dd>jie4 guo4</dd>
<dd>gee'eh goo'oh</dd>
<dt>&#x554F; (excuse me ... as in may I ask a question?) <a class="external text" href=../../../chinese/excuse_me_-_may_i_ask.mp3>listen</a></dt>
<dd>qing3 wen4</dd>
<dd>ching oo'en</dd>
<dt>&#x601D; (sorry ... as in 'I'm embarrassed' I cannot do something, I need something etc. etc.) <a class="external text" href=../../../chinese/excuse_me_-_embarrassed.mp3>listen</a></dt>
<dd>bu4 hao3 yi4 si1</dd>
<dd>boo ha'oo ee suh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>May I?</span></h4>


<dl><dt>(&#x6211;)&#x4EE5; ... &#x55CE; <a class="external text" href=../../../chinese/may_i.mp3>listen</a></dt>
<dd>ke3 yi3</dd>
<dd>keh ee</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Long time no see</span></h4>


<dl><dt>&#x898B; <a class="external text" href=../../../chinese/long_time_no_see.mp3>listen</a></dt>
<dd>hao3 jiu3 bu4 jian4</dd>
<dd>ha'oo gee'ou boo gee'en</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>How are you?</span></h4>


<dl><dt>&#x55CE; (this means &quot;are you ok&quot; or &quot;are you so-so&quot; literally ... used more when someone looks like they might not be doing so well or you know they've been having a rough time etc.) <a class="external text" href=../../../chinese/how_are_you.mp3>listen</a></dt>
<dd>ni3 hai2 hao3 ma</dd>
<dd>nee hai hao ma</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Let's go</span></h4>


<dl><dt>&#x5427;/&#x4E86; <a class="external text" href=../../../chinese/lets_go_-_ba.mp3>listen</a> or <a class="external text" href=../../../chinese/lets_go_-_le.mp3>listen</a></dt>
<dd>zou3 ba or zou3 le</dd>
<dd>dzou ba or dzou luh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>I'm leaving</span></h4>


<dl><dt>&#x6211;(&#x5148;)&#x4E86; (if you add the 2nd character it's literal meaning is I'm leaving first ... but it's common to say it as a more polite yet casual way) <a class="external text" href=../../../chinese/im_leaving.mp3>listen</a></dt>
<dd>wo3 (xian1) zou3 le</dd>
<dd>woh (shee'en) dzou luh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Eat!</span></h4>


<dl><dt>&#x554A;/&#x5427; (more of a nudge, depending on the situation can be rude) <a class="external text" href=../../../chinese/eat_-_a.mp3>listen</a> or <a class="external text" href=../../../chinese/eat_-_ba.mp3>listen</a></dt>
<dd>chi1 a/ba</dd>
<dd>chr ah/bah</dd>
<dt>&#x5403; (means eat slowly ... but common to say to start the meal off) <a class="external text" href=../../../chinese/eat_-_slowly.mp3>listen</a></dt>
<dd>man4 man4 chi1</dd>
<dd>mah'n mah'n chr</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Really?</span></h4>


<dl><dt>&#x55CE;/&#x554A; (ma and a can both be used ... ma makes it more of a question, while a makes it more of a statement) <a class="external text" href=../../../chinese/really_-_ma.mp3>listen</a> or <a class="external text" href=../../../chinese/really_-_a.mp3>listen</a></dt>
<dd>zhen1 de ma/a</dd>
<dd>jen duh mah/ah</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>How come / why?</span></h4>


<dl><dt>&#x9EBC;? <a class="external text" href=../../../chinese/why.mp3>listen</a></dt>
<dd>Wei4 shen me</dd>
<dd>Oo'ei shemmeh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Who is it?</span></h4>


<dl><dt>&#x8AB0; <a class="external text" href=../../../chinese/who_is_it.mp3>listen</a></dt>
<dd>shi4 shei2</dd>
<dd>shr shei</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Whose is it?</span></h4>


<dl><dt>&#x7684; <a class="external text" href=../../../chinese/whose_is_it.mp3>listen</a></dt>
<dd>shi4 shei2 de</dd>
<dd>shr shei duh</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Well, in that case</span></h4>


<dl><dt>&#x90A3;, (subj + &#x5C31; + verb + &#x554A;) <a class="external text" href=../../../chinese/well_in_that_case.mp3>listen</a></dt>
<dd>na4, (subj + jiu4 + verb + a)</dd>
<dd>nah, (subj + gee'ou + verb + ah)</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>No problem</span></h4>


<dl><dt>&#x4FC2; (it's ok, no problem) <a class="external text" href=../../../chinese/no_problem_-_its_ok.mp3>listen</a></dt>
<dd>mei2 guan1 xi4</dd>
<dt>mei guan shee</dt>
<dt>&#x984C; (no problem) <a class="external text" href=../../../chinese/no_problem.mp3>listen</a></dt>
<dd>mei2 wen4 ti2</dd>
<dd>mei oo'en tee</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Hello</span></h4>


<dl><dt>&#x597D; <a class="external text" href=../../../chinese/hello.mp3>listen</a></dt>
<dd>ni3 hao3</dd>
<dd>nee hao</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Goodbye</span></h4>


<dl><dt>&#x898B; <a class="external text" href=../../../chinese/good_bye.mp3>listen</a></dt>
<dd>zai4 jian4</dd>
<dd>dzai gee'en</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>See you (time, e.g. tomorrow)</span></h4>


<dl><dt>(&#x5929;)&#x898B; <a class="external text" href=../../../chinese/see_you_tomorrow.mp3>listen</a></dt>
<dd>ming2 tian1) jian4</dd>
<dd>(ming tee'en) gee'en</dd>
</dl>


<hr>
<a></a><h4><span class=mw-headline>Shiny</span></h4>


<dl><dt>&#x723D; (slang for sweet ... actually means feels good amongst other things) <a class="external text" href=../../../chinese/shiny_-_sweet.mp3>listen</a></dt>
<dd>shuang3</dd>
<dd>shoo'ang</dd>
</dl>
</div>


<a></a><h3><span class=mw-headline>How to Speak Chinese</span></h3>


<p>For more phrases and examples found in Firefly, Serenity and the comics listen to our series &quot;How to Speak Chinese&quot;, found on various episodes of the Signal.</p>

<p><a class="external text" href=../../../series/view/12/index.html>How to Speak Chinese series page</a></p>
</div>

</div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
