<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 12</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 12</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/56/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/58/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_212_20060705.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_212_20060705.mp3 download=signal_season02_12.mp3>Download audio file</a></div>
<div class=info>Wednesday 5th July 2006</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:19</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div><ul><li>The word &quot;Podcast&quot;</li>
<li>The Signal at Dragon*Con</li>
<li>The <a href=../../../external.html#http://www.podcastawards.com>People's Choice Podcast Awards</a>. Please nominate us for:</li>
<li><ul><li>Best Produced</li>
<li>Movies/Film</li>
</ul>
</li>
<li>The Sci-Fi Review segment</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/592/57/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:51</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>The 4400</h4>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/577/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/48/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:00</td>
<td class=shownote><h3>The Firefly Technical Manual</h3>
<div><ul><li>Where are the showers? (answer from previous shows) See <a href=../../../external.html#http://www.fireflywiki.org/img/Serenity-map-BEST.gif>Map</a></li>
<li>Why don't we see Chinese or Asian people in Firefly?</li>
<li>What is fresh Bao? See <a href=../../../show/view/6/index.html>Recipe</a></li>
<li>What is the effect of blue rods in Ariel and Those Left Behind?</li>
<li>What is the strongest metal in the 'verse</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/588/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:12</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/587/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.scapecast.org><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:19:20</td>
<td class=shownote><h3>Promo: The Scapecast</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:20:38</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Carl - Firefly season 2?</li>
<li>Annie - The names &quot;Ariel&quot; and &quot;Miranda&quot;</li>
<li>Justin - DVD sales?</li>
<li>Lee - Seeing Joss (see picture below)</li>
<li>Kyle - Feedback on &quot;How Many 'L's in Malco(l)m&quot;</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/593/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:25</td>
<td class=shownote><h3>Virtual Firefly</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/583/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:37:37</td>
<td class=shownote><h3>Music Section</h3>
<h4>Serenity (guitar version)</h4>
<p>Music by <a href=../../../human/view/34/index.html>David Newman</a> and <a href=../../../human/view/36/index.html>Joss Whedon</a></p>
</td>
<td><a href=../../../segment/view/594/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:40:11</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.browncoatball.com/>Registration now open for the Browncoat Ball</a></li>
<li><a href=../../../external.html#http://www.scifiexpo.com/dcc/Next-Convention.html>Alan Tudyk named as guest at Sci-Fi Expo</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/06/24/serenity-and-firefly-2-and-3-at-amazon/>Serenity and Firefly reached #2 and #3 at Amazon</a></li>
<li><a href=../../../external.html#http://www.youtube.com/watch?v=cYaczoJMRhs>Equality Now  honor Joss and makes available his speech</a></li>
<li><a href=../../../external.html#http://blogcritics.org/archives/2006/06/20/123929.php>New, free, online RPG - Serenity: Leaf on the Wind</a></li>
<li><a href=../../../external.html#http://www.californiabrowncoats.org/CABC/index.htm>California Browncoats to run charity auction and draw at Comic-Con</a></li>
<li>The Canadian TV channels <a href=../../../external.html#http://moviecentral.ca/cgi-bin/schedule2/2006/main4.cgi>Movie Central</a> and <a href=../../../external.html#http://www.themovienetwork.ca/>The Movie Network</a> will be premiering Serenity on July 7th.</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/584/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/49/index.html><img src=../../../image/image/62/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:42:43</td>
<td class=shownote><h3>Tricks from the Training House</h3>
<h4>Seduction</h4>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; starring <a href=../../../human/view/59/index.html>Michael R Menninga</a></p>
</td>
<td><a href=../../../segment/view/589/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:47:11</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div><ul><li>Our special guest Companion, Luc De Vall, played by Michael R Menninga</li>
<li>Future Signal segments</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/592/57/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:58</td>
<td class=shownote><h3>The Migration</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/582/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:58:10</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div><a href=../../../external.html#http://www.realartways.org>More Serenity Screenings</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/592/57/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:59:05</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:59:27</td>
<td class=shownote><h3>Appeal</h3>
<div>Eric from the Force.Net asks for votes for the Signal for the PCPA.</div>
<p></p>
</td>
<td><a href=../../../segment/view/597/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:00:17<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/56/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/58/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2619>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
