<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Tom Smith</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Tom Smith</h1>
<div><h2>Website</h2>
<p><a href=../../../external.html#http://www.tomsmithonline.com/>External website</a></p>
<h2>Music by Tom Smith</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Music Section: I'm on Firefly</td>
<td>The Signal: Season 3, Episode 19</td>
<td><a href=../../../segment/view/994/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: The Chef they call Jayne</td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1322/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Spoiler Alert</td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1574/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Songs from the Black II: I'm on Firefly - Tom Smith</td>
<td>Songs from the Black II</td>
<td><a href=../../../segment/view/2035/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
