<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Podcast Feed Offer</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Podcast Feed Offer</h1>
<div><div class=wiki-local><div><p>We at the Signal wish to encourage the creation of as many new Firefly podcasts as possible. For this reason, we make the following offer. If you create a new Firefly podcast, we offer to put one episode of your podcast onto our feed. What this means is that all of our subscribed listeners will hear that episode.</p>

<p>We believe that this offer benefits everyone. It benefits our listeners, because they will get new Firefly content, and they will be made aware of the existence of a new Firefly podcast. It benefits you, the podcast creator, because you get an automatic audience of around 10,000 listeners for your selected episode.</p>

<p>In order to qualify for this offer, your podcast must comply with the following conditions:</p>

<p>You must have an RSS feed
Your podcast must be about Firefly and/or Serenity. (i.e. every episode on your feed must be about Firefly and/or Serenity)
The episode you select must be PG rated or below
There is no requirement that your podcast be in English. We encourage the creation of podcasts in other languages</p>

<p>If you would like to take us up on this offer, you'll need to make an episode with this feed offer in mind. (We anticipate that this will usually be your first&#x00A0; episode, but it doesn't have to be). Within your chosen episode, you'll need to tell your listeners the following information:</p>


<ul><li>&quot;You might be hearing this on the Signal's feed.&quot;</li>
<li>&quot;If you're hearing this because you're subscribed to the Signal's feed, then you will only get the one episode.&quot;</li>
<li>&quot;If you like what you hear and want to get more episodes, you'll need to subscribe to our&#x00A0; feed.&quot; (Give instructions).</li>
<li>&quot;If you decide that you don't want any more, you need do nothing.&quot;</li>
</ul>


<p>You don't have to use those exact words, but certainly words to that effect. This information must be provided in the English language.</p>

<p>Then just get in touch with us at , and we will get together and sort things out.</p>
</div>

</div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
