<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7, Episode 11</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7, Episode 11</h1>
<div><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/204/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/206/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0711_20110621.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0711_20110621.mp3 download=signal_season07_11.mp3>Download audio file</a></div>
<div class=info>Tuesday 21st June 2011</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/168/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 7 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:04</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2375/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:06:25</td>
<td class=shownote><h3>Of Love and Money</h3>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; read by <a href=../../../human/view/96/index.html>Kara Helgren</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2355/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/155/index.html><img src=../../../image/image/153/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:10:17</td>
<td class=shownote><h3>The Shipworks</h3>
<h4>Glitch Hunt (part three of <q>Beer</q>)</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/477/index.html>Paul Korswagen</a>; music by <a href=../../../human/view/467/index.html>Great Big Sea</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2361/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:18:48</td>
<td class=shownote><h3>Interview</h3>
<h4>Denise Gary, part 1 of 2</h4>
<div><a href=../../../external.html#http://www.kidsneedtoread.org/>Kids Need to Read</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2328/205/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/136/index.html><img src=../../../image/image/142/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:33:23</td>
<td class=shownote><h3>Getting Dicey</h3>
<h4>Dicey Details</h4>
<p>Written by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; read by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2359/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:36:43</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#https://store.qmxonline.com/Blue-Sun-Replica-T-Shirt_p_134.html>QMx Releases Jayne's Blue Sun T-Shirt Replica</a></li>
<li><a href=../../../external.html#http://airlockalpha.com/node/8537/>Morena Baccarin and Summer Glau nominated for 2011 Portal Awards</a></li>
<li><a href=../../../external.html#http://www.gallifreyone.com/>Mark Sheppard and Jane Espenson, writer of Shindig, to attend Gallifrey 23, a Dr. Who Convention</a></li>
<li><a href=../../../external.html#http://www.tvline.com/2011/05/scoop-vs-morena-baccarin-joins-homeland/>Morena Baccarin joins cast of Showtime's Homeland</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2378/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:38:32</td>
<td class=shownote><h3>Feedback</h3>
<p>Emails read by <a href=../../../human/view/17/index.html>Nick Edwards</a>; emails edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2369/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:50:22</td>
<td class=shownote><h3>Interview</h3>
<h4>Denise Gary, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2328/205/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:04:49</td>
<td class=shownote><h3>When the Stars Align</h3>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/2377/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:40</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:12:16<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/204/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/206/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
