<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1682/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1862/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 15: Appointment With Doom</h2>

<!-- audio src=signal_terraformers_15.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_15.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/177/index.html>The Signal: Season 6, Episode 12</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Announcer</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>Why did I ever complain about those assignments when we were out in the middle of nowhere? Being stuck in the classroom with a bunch of embarrassingly incompetent trainees is so much worse!</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>And teaching the history and theory of terraforming is such a snooze &#x2013; I can hardly stay awake myself, even when I&#x2019;m the one teaching!</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>This will serve you right for trying to cheat on the last test! You try anything like that again and you&#x2019;ll never leave Black Rock!</dd>
<dt>NARRATOR</dt>
<dd>Episode number 15 &#x2013; Appointment with Doom</dd>
</dl>


<hr>
<p><em>Location: In the classroom. Some background noise &#x2013; a fly buzzing, a chair creaking, some gentle snoring.</em></p>


<dl><dt>SARAH</dt>
<dd>[&#x2026;] and that was how we discovered that the Baker-Bendis theory of meteorological levelling did not, uh, hold water, so to speak. Any questions?</dd>
</dl>


<p><em>Silence, but for the noises previously mentioned.</em></p>


<dl><dt>SARAH</dt>
<dd>I&#x2019;ll take that as a &#x201C;no&#x201D; then. <em>(With a sigh)</em> Class dismissed.</dd>
</dl>


<p><em>Background noise increases as chairs scrape, people start talking, the door opens, etc.</em></p>


<dl><dt>SARAH</dt>
<dd>Taya Ray, do you think <em>anyone</em> was listening?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Clearly Taya Ray wasn&#x2019;t listening for one&#x2026;)</em> Hm, sorry?</dd>
<dt>SARAH</dt>
<dd>Never mind, I think I have my answer. Well, one down, how many of these lectures to go?</dd>
<dt>TAYA RAY</dt>
<dd>Nine. We&#x2019;ve still got more than five centuries to cover.</dd>
<dt>SARAH</dt>
<dd>Fantastic. <em>(beat)</em> I don&#x2019;t know why we have to start so far back &#x2013; pretty much everything we&#x2019;re supposed to cover in the first half of the course was obsolete before humanity even left Earth-that-was! It wouldn&#x2019;t surprise me if Mr Spall added that part just to punish us even more.</dd>
<dt>TAYA RAY</dt>
<dd>Well, it looks pretty black outside. Let&#x2019;s just get back to the dorm before it starts to&#x2014;</dd>
</dl>


<p><em>Clap of thunder. Rain starts to fall.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>&#x2014;rain. Arrgh! The whole &#x2018;verse is against us!</dd>
<dt>SARAH</dt>
<dd>It&#x2019;s not raining frogs, is it? That would be about right.</dd>
</dl>


<p><em>Door opens and sounds of storm get louder.</em></p>


<dl><dt>SARAH</dt>
<dd>Let&#x2019;s wait until it passes. No sense in sitting in that leaky van and getting rained all over when there&#x2019;s no rush to get back.</dd>
</dl>


<p><em>Door closes and sounds of storm get quieter, but continue over the rest of the scene.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Yeah, it&#x2019;s not like we have a social life to get back for or anything. I thought where we trained was pretty bleak, but it had nothing on this place.</dd>
<dt>SARAH</dt>
<dd>Have you ever been to a penal moon?</dd>
<dt>TAYA RAY</dt>
<dd>No. Have you?</dd>
<dt>SARAH</dt>
<dd>No, but I&#x2019;m starting to wonder whether even a penal moon could be more depressing than this rock.</dd>
<dt>TAYA RAY</dt>
<dd><em>(A crazy idea is beginning to form&#x2026;)</em> Maybe this place is a prison and we just don&#x2019;t know it!</dd>
<dt>SARAH</dt>
<dd><em>(Incredulously.)</em> Taya Ray, what are you on?!</dd>
<dt>TAYA RAY</dt>
<dd>No, wait, hear me out. Do you want to leave here?</dd>
<dt>SARAH</dt>
<dd>Of course I do!</dd>
<dt>TAYA RAY</dt>
<dd>Are there any shuttles based here that are capable of breaking atmo?</dd>
<dt>SARAH</dt>
<dd>Well, no, but&#x2014;</dd>
<dt>TAYA RAY</dt>
<dd>So, you want to leave, but you can&#x2019;t. Sounds like a prison to me!</dd>
<dt>SARAH</dt>
<dd>Ok, fair point. A <em>crazy</em> point, but, yes, a fair one.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Excitedly, getting even more carried away now.) Or maybe we died and this is some kind of special hell for terraformers who destroy their boss&#x2019;s new shuttle!</em></dd>
<dt>SARAH</dt>
<dd><em>(Weary, with a sigh.)</em> Come back to the reservation, Taya Ray. We&#x2019;re still alive. We&#x2019;re just stuck with a rotten assignment for now. At least we know things can&#x2019;t get any worse though.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em>
<em>Location: In the classroom. Door opens as next line is spoken. The rains sounds are now very gentle.</em></p>


<dl><dt>SARAH</dt>
<dd>It&#x2019;s just about stopped. We might as well go now.</dd>
</dl>


<p><em>Footsteps through puddles as Sarah and Taya Ray make their way over to the van. These sounds can overlap with the following lines.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Oh look, I&#x2019;ve never noticed that river before!</dd>
<dt>SARAH</dt>
<dd>That&#x2019;s not a river, Taya Ray. That&#x2019;s the road back to the dorm.</dd>
<dt>TAYA RAY</dt>
<dd>Oh. Wow. I&#x2019;m suddenly grateful for our leaky old van.</dd>
</dl>


<p><em>Van doors open and close. Location: In the van.</em></p>


<dl><dt>SARAH</dt>
<dd>Leaky is the word. There&#x2019;s almost as much water in here as there is outside.</dd>
</dl>


<p><em>Sarah starts the van and they drive off.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Oh, look, we&#x2019;ve got a wave from Mr Spall.</dd>
</dl>


<p><em>Beeps for start of wave.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Recorded voice. Perfunctorily.)</em> Brunel, Parsec. After your class today, you need to pick up an <em>important package</em> at the junction on your way back to the dorm. Don&#x2019;t be late.</dd>
<dt>SARAH</dt>
<dd>Well, we are late, naturally, but he doesn&#x2019;t need to know that.</dd>
<dt>TAYA RAY</dt>
<dd>Why is there a package waiting for us in the middle of nowhere and why would it matter if we were late picking it up?</dd>
<dt>SARAH</dt>
<dd>Those are both fair questions, Taya Ray. Let&#x2019;s just hope the package is waterproof.</dd>
<dt>TAYA RAY</dt>
<dd>Oh, I can see it already. That must be one big package. No, wait, it&#x2019;s not a package, it&#x2019;s a person. A very wet person.</dd>
<dt>SARAH</dt>
<dd>Oh no, the profile looks horribly familiar. The nose, that gut, those chins&#x2026; An &#x201C;important package&#x201D; to pick up? It couldn&#x2019;t be&#x2026;? <em>(With rising panic.)</em> It is!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Also with panic.)</em> You&#x2019;re right&#x2014; <em>(Cuts herself off mid sentence.) Watch out for that puddle, you&#x2019;re going to&#x2014;</em></dd>
</dl>


<p><em>Big splash as van drives through puddle and then comes to a stop. Then the sound of a window being wound down.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Spluttering, livid.)</em> Where the ruttin&#x2019; hell have you two been?!</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1682/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1862/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/177/index.html>The Signal: Season 6, Episode 12</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
