<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Tangled Yarn</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Tangled Yarn</h1>
<div><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2499/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <a href=../../../segment/view/2557/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
<h2>Jayne and Book</h2>
<div>First aired: <a href=../../../show/view/218/index.html>The Signal: Season 7, Episode 17</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>The mercenary and the shepherd. One who will kill people for a variety of reasons (although mostly only when he&#x2019;s getting paid) and one who follows a book which has some pretty specific things to say about killing. At first glance, it seems unlikely that a friendship would develop between Jayne and Book, but over the course of time, that is exactly what happens.</p>

<p>Soon after Book arrives on Serenity, he asks Mal&#x2019;s permission to say a prayer of thanks before the group meal. Having not been allowed to pray out loud, Book bows his head in silence instead and Jayne is one of those who follows suit. It seems that - unlike Mal - Jayne has no problem with Book being a shepherd. However, the first time we see Jayne and Book interact verbally, they are very definitely in conflict:</p>


<dl><dt>JAYNE</dt>
<dd>Out of the way.</dd>
<dt>BOOK</dt>
<dd>You're not killing this man.</dd>
<dt>JAYNE</dt>
<dd>Not right away...</dd>
<dt>KAYLEE</dt>
<dd>Why'd he... oh...</dd>
<dt>MAL</dt>
<dd>Well, that ain't hardly a mosquito bite.</dd>
<dt>KAYLEE</dt>
<dd>Big... mosquito...</dd>
<dt>BOOK</dt>
<dd>He's no threat.</dd>
<dt>JAYNE</dt>
<dd>Move.</dd>
<dt>BOOK</dt>
<dd>Not gonna happen.</dd>
<dt>JAYNE</dt>
<dd>I ain&#x2019;t joking with you, Preacher&#x2014;</dd>
<dt>ZOE</dt>
<dd>Jayne!</dd>
</dl>


<p>Jayne not only wants to kill Dobson, he wants to cause him pain first, whereas Book says he will not &#x201C;sit by while there&#x2019;s killing&#x201D;. They are equally firm in their convictions, and very much in opposition. Later, in Bushwhacked, they are similarly opposed both on what to do about the derelict ship and in their views on the nature of reavers:</p>


<dl><dt>BOOK</dt>
<dd>All the more reason for us to do the right thing.</dd>
<dt>JAYNE</dt>
<dd>How&#x2019;s about you just say a prayer when we slide on by?</dd>
</dl>


<p><br></p>


<dl><dt>BOOK</dt>
<dd>Whatever horror he witnessed, whatever acts of barbarism, it was done by men. Nothing more.</dd>
<dt>JAYNE</dt>
<dd>Reavers ain't men.</dd>
<dt>BOOK</dt>
<dd>Of course they are. Too long removed from civilization, perhaps&#x2014; but men.</dd>
</dl>


<p>Despite these differences, we see Jayne and Book, together with Simon, playing cards in Shindig. With Inara, Mal and Kaylee attending the ball, Wash and Zoe otherwise occupied and River off on a mission in the galley, the three men are left as an unlikely trio. It is hard to imagine Jayne and Simon voluntarily sitting down to play cards together without Book taking part as well. He bridges the very large gap between Jayne and Simon.</p>

<p>In the next episode, Safe, Book is shot:</p>


<dl><dt>MAL</dt>
<dd>Hey, stay with me, shepherd.</dd>
<dt>BOOK</dt>
<dd>That's... that's quite a lot of blood, isn't it?</dd>
<dt>MAL</dt>
<dd>Just means you ain't dead.</dd>
<dt>BOOK</dt>
<dd>'fraid I might be needin' a preacher.</dd>
<dt>MAL</dt>
<dd>That's good. You lie there and be ironical. Stretcher. Jayne.</dd>
<dt>JAYNE</dt>
<dd>They're goin'</dd>
<dt>MAL</dt>
<dd>'course. Got what they came here for.</dd>
<dt>JAYNE</dt>
<dd>You get the cash?</dd>
</dl>


<p>Jayne does not seem the slightest bit bothered that Book is seriously wounded. Mal is the one who shows compassion, whereas Jayne ignores Book&#x2019;s plight and focuses on whether they got paid for the job. In Jayne&#x2019;s defence, in his line of work, getting shot is an occupational hazard and he has presumably seen many of the men he&#x2019;s with go down. However, the same could be said of Mal and it&#x2019;s interesting to compare the reactions of the two men in this scene. Mal is concerned for Book as a member of his crew, whereas Jayne still seems to look on him as simply a passenger. It is the same distinction which is highlighted later in Ariel, in relation to Simon and River, when Jayne betrays them.</p>

<p>On two occasions, Jayne expresses his curiosity about Book&#x2019;s knowledge of things a shepherd would not ordinarily be aware of:</p>


<dl><dt>BOOK</dt>
<dd>Some of the newer ones'll just hold you, and then the scrappers'll override the airlocks, pull the O2, or just gas you. They're not looking to deal with survivors.</dd>
<dt>JAYNE</dt>
<dd>One day you're gonna tell us all how a preacher knows so damn much about crime.</dd>
</dl>


<p><br></p>


<dl><dt>BOOK</dt>
<dd>This is precision work. Sharpshooters. From the look of these wounds, I'd say a 54R sniper rifle. Laser sights.</dd>
<dt>JAYNE</dt>
<dd>You do a lot of shootin' at the abbey there, Shepherd?</dd>
<dt>BOOK</dt>
<dd>Rabbits.</dd>
<dt>JAYNE</dt>
<dd>For stew. Sure.</dd>
</dl>


<p>In both cases, other crew members are present, but it is Jayne who picks up on the oddity of a shepherd knowing so much about crime and weapons, and comments on it. He seems to be beginning to realise that he might have more in common with Book than he first thought.</p>

<p>By the time of The Message, there is an ease in the interaction between Jayne and Book which suggests that their friendship is growing:</p>


<dl><dt>JAYNE</dt>
<dd>Oh, sorry, Preacher. Am I makin' too much noise?</dd>
<dt>BOOK</dt>
<dd>No, no, I was just.... saying a few words. Don't know the boy's denomination, but...</dd>
<dt>JAYNE</dt>
<dd>Oh, no, it's good. The Lord should oughta look after the dead.</dd>
</dl>


<p>Jayne&#x2019;s apology and concern seem genuine. For all their differences, the two men see eye to eye in this particular religious matter of saying some words over a dead body. Theirs is not simply a friendship based on enjoying working out together, but one in which they share at least some views regarding more serious matters.</p>


<dl><dt>JAYNE</dt>
<dd>My kind of life don't last long, preacher. So I expect I'm invested in making good sport of it whilst I can. You gonna read over me when I get taken down, Shepherd?</dd>
</dl>


<p>As the series comes to an end, we see more of Jayne and Book conversing in friendly terms, but there are still clearly conflicts between them regarding how they view life. In Heart of Gold, for example, Jayne doesn&#x2019;t see the benefit in getting involved in strangers&#x2019; troubles without the promise of financial reward, whereas Book sees the benefit as helping people who need assistance.</p>

<p>In Objects in Space, we follow River as she observes a conversation between Jayne and Book. Jayne is curious about the &#x201C;narrower path&#x201D; Book follows as a shepherd and Book jokes about Jayne following him into the profession:</p>


<dl><dt>JAYNE</dt>
<dd>It ain't impossible! Saint Jayne, It's got a ring to it.</dd>
<dt>BOOK</dt>
<dd>I'm just trying to remember how many miracles you've performed.</dd>
<dt>JAYNE</dt>
<dd>I once hit a guy in the neck from five hundred yards with a bent scope, don't that count upstairs?</dd>
<dt>BOOK</dt>
<dd>Oh, it'll be taken into consideration...</dd>
<dt>JAYNE</dt>
<dd>You made that sound kinda ominous...</dd>
</dl>


<p>Their friendship has developed to a point where they are comfortable joking about such matters.</p>

<p>As the series ends, the last conversation we hear between Jayne and Book takes place as they head off to lift some weights together:</p>


<dl><dt>BOOK</dt>
<dd>I just feel such a fool.</dd>
<dt>JAYNE</dt>
<dd>Yeah, all them years of priest training, get taken out by one bounty hunter.</dd>
<dt>BOOK</dt>
<dd>Don't get me wrong&#x2014; I gave him a hell of a fight.</dd>
<dt>JAYNE</dt>
<dd>Epic, I'm guessing.</dd>
<dt>BOOK</dt>
<dd>There'll be poems and songs, just you wait.</dd>
<dt>JAYNE</dt>
<dd>Least you got some play. I missed every damn thing.</dd>
</dl>


<p>They have come a long way since their first conversation, where they clashed over what to do with Dobson, in the pilot episode. The circumstances in this last episode are quite similar, with Early replacing Dobson as the threat on board Serenity, and this serves to emphasise the contrast in the tone of their two conversations. The tense conflict of their first conversation is replaced with gentle banter in their last.</p>

<p>Although there is no interaction between Jayne and Book in the film Serenity, we see further evidence of how things have changed between them since the early days of their acquaintance. As Mal comes across the dying Book, he tells Jayne to &#x201C;get the doc&#x201D; and Jayne does not hesitate. Again, there is a parallel with an earlier incident. In Safe, Jayne was told by Mal to get a stretcher for Book, who had just been shot, but he didn&#x2019;t go immediately as he was more concerned about whether Mal had got the money for the job.</p>

<p>In the film, when Jayne returns with Simon and realises Book is dead, his wordless reaction speaks volumes about the feelings he had for his friend. The situation does not allow any of the crew time to express their feelings about Book&#x2019;s death, but looking at Jayne&#x2019;s face as he struggles to keep his emotions in check shows us that for all his experience with death and killing, this is one loss he feels deeply.</p>

<p>Book&#x2019;s death is not the final note in the story of the relationship between Book and Jayne. As Mal calls on the crew to &#x201C;aim to misbehave&#x201D;, the person we might least expect to respond is Jayne, but he is the first to speak up, and he uses Book&#x2019;s words to do so:</p>


<dl><dt>JAYNE</dt>
<dd>Shepherd Book used to tell me: &quot;If you can't do something smart... do something right.&quot;</dd>
</dl>


<p>It is a fitting epilogue to the unlikely friendship of Jayne and Book.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2499/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <a href=../../../segment/view/2557/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/218/index.html>The Signal: Season 7, Episode 17</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
