<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1341/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1394/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 2: Terror of the Bug-Eyed Monster</h2>

<!-- audio src signal_terraformers_02.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_02.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/133/index.html>The Signal: Season 5, Episode 5</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/19/index.html>Wayne Hutchinson</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>Just one more reading left to get. Can it really be that we&#x2019;re actually going to complete this assignment to Mr Spall&#x2019;s satisfaction?</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>Wait, what&#x2019;s that over there by those bushes?</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>Amateurs, I&#x2019;m surrounded by amateurs!</dd>
<dt>NARRATOR</dt>
<dd>Episode number 2 &#x2013; Terror of the Bug-Eyed Monster</dd>
</dl>


<hr>
<p><em>Location: Inside van.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Is it still there? I can&#x2019;t see it&#x2026;</dd>
<dt>SARAH</dt>
<dd>Oh, it&#x2019;s there all right. I can&#x2019;t see it either, but I sure can feel it. It&#x2019;s watching us, I know it. The moment we step outside, it will be on us with all the ravenous ferocity of a lion that&#x2019;s been sent to bed without any supper and has just spotted a zebra hiding in the wardrobe.</dd>
<dt>TAYA RAY</dt>
<dd>At least you managed to shut the door before it followed us in here.</dd>
<dt>SARAH</dt>
<dd>Yeah, but now we&#x2019;re stuck in the van, the equipment&#x2019;s outside and the sun&#x2019;s about to set. If we don&#x2019;t get that last reading before the sun goes down, we&#x2019;ll have blown the whole assignment. And our reputation with Mr Spall, which, I might add, is already on life support, will finally be deader than a dodo&#x2019;s doornail on Earth-that-was.</dd>
<dt>TAYA RAY</dt>
<dd>I know, but I&#x2019;m not going out there. I&#x2019;d rather face Mr Spall than that&#x2026; thing. Its slobbering jaws, the evil glint in its eyes, its blubberous belly.</dd>
<dt>SARAH</dt>
<dd>And the difference would be? Now you start describing it, the distinction between it and Mr Spall is starting to blur.</dd>
<dt>TAYA RAY</dt>
<dd>Well, Mr Spall doesn&#x2019;t move quite so fast. That would be one way to tell them apart.</dd>
<dt>SARAH</dt>
<dd>All that aside, what I do know is that Mr Spall didn&#x2019;t warn us that we were going to run into such a monstrous creature on this rock and I resent him for it.</dd>
<dt>TAYA RAY</dt>
<dd>Maybe he didn&#x2019;t know about it? Perhaps we&#x2019;re the first to discover this creature. We could get it named after us. People would call it: <em>(Beat, grandly.)</em> &#x201C;The creature that was first discovered by Parsec and Brunel.&#x201D;</dd>
<dt>SARAH</dt>
<dd>You&#x2019;d want that thing named after you? I&#x2019;d say the &#x201C;Spallus Horrificus&#x201D; would be more appropriate. <em>(Beat.)</em> You know, now I come to think of it, he did say we should read that bulletin from the Wildlife Department before we came to this moon. <em>(Beat.)</em> I didn&#x2019;t. Did you?</dd>
<dt>TAYA RAY</dt>
<dd>Nope.</dd>
</dl>


<p><em>Noise of paper rustling.</em></p>


<dl><dt>SARAH</dt>
<dd>Here it is. <em>(Sarcastically.)</em> Visitors should behave like good little tourists, spend as much money as possible, and avoid disturbing all wildlife, even the ones that would like to have you for lunch. So on and so forth&#x2026; Oh, here we go. Reports have been made of an unusually large species of insect, which appears to be related to the hornet family. Exercise extreme caution on encountering this insect and avoid provoking it at all costs.</dd>
<dt>TAYA RAY</dt>
<dd>&#x201C;Unusually large&#x201D;?! I think the words they were looking for were &#x201C;ruttin&#x2019; gigantic&#x201D;.</dd>
<dt>SARAH</dt>
<dd>Indeed. I guess hiding in the van was a good way to avoid provoking it, even if it was at the cost of our assignment. <em>(Beat.)</em> It really has gone now, hasn&#x2019;t it? Maybe it&#x2019;s afraid of the dark.</dd>
<dt>TAYA RAY</dt>
<dd>I&#x2019;m surprised the dark isn&#x2019;t afraid of it. If I were the dark, I&#x2019;d put off my arrival for a while, until I was sure it had gone.</dd>
<dt>SARAH</dt>
<dd><em>(Hesitantly, humouring her crazy friend.)</em> Yes, I know what you mean. Anyway&#x2026; You just get the equipment and then we can contact Mr Spall and try to talk our way out of this latest escapade.</dd>
<dt>TAYA RAY</dt>
<dd>Wait, why do I have to be the one to go out there?</dd>
<dt>SARAH</dt>
<dd>Well, the equipment&#x2019;s not heavy. We don&#x2019;t both need to go.</dd>
<dt>TAYA RAY</dt>
<dd>Yeah, but why me? You&#x2019;re the one that said the bug&#x2019;s gone. You go.</dd>
<dt>SARAH</dt>
<dd>I&#x2019;ll keep a look-out for you. I&#x2019;ll warn you if it comes back.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Reluctantly.)</em> Oh, all right. Here goes&#x2026;</dd>
</dl>


<p><em>Sound of van door opening. Background noise of insects chirping and general night-time ambience from here until when van door shuts.</em></p>


<dl><dt>SARAH</dt>
<dd>Coast is clear. Go for it!</dd>
<dt>TAYA RAY</dt>
<dd><em>(From far away, slightly panicky.)</em> Is it coming? I think I can hear something&#x2026;</dd>
<dt>SARAH</dt>
<dd>You&#x2019;re fine. Just come on back with the stuff and hurry up about it!</dd>
</dl>


<p><em>Sound of van door shutting.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Next time someone has to risk life and limb, can it not be me?</dd>
<dt>SARAH</dt>
<dd>Next time is right now, I&#x2019;m afraid. It&#x2019;s time to check in with Mr Spall.</dd>
<dt>TAYA RAY</dt>
<dd>Well, you&#x2019;re up then. Perhaps I got off lightly after all. Good luck&#x2026;</dd>
</dl>


<p><em>Click.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Ah, Parsec. All finished? I hope this assignment proved to be one of your rare uneventful ones?</dd>
<dt>SARAH</dt>
<dd><em>(Hesitantly.)</em> Well, not exactly.</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com, resigned.)</em> Oh, Parsec! Out with it then. What happened this time?</dd>
<dt>SARAH</dt>
<dd><em>(Deep breath.)</em> Well, we were doing fine. The equipment was working fine, the readings were fine, everything was fine. (Beat.) But then, there was this bug&#x2026;</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Oh no, not you too! You&#x2019;re the third team in as many hours that has reported back with a bug problem.</dd>
<dt>SARAH</dt>
<dd><em>(Puzzled.)</em> We are?</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Those machines they give us. They say they&#x2019;re fine, properly tested and whatnot, but no, they&#x2019;re riddled with bugs.</dd>
<dt>SARAH</dt>
<dd><em>(Recovering.)</em> Oh, yeah, absolutely. The bug, uh, prevented us from doing the last reading.</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Not your fault this time. Sorry for casting aspersions earlier. Just come on back to the office. Spall out.</dd>
</dl>


<p><em>Click.</em></p>


<dl><dt>SARAH</dt>
<dd>Well, that went surprisingly well!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Totally missing the point.)</em> Yes, fancy those other machines having bugs already in them. Do you suppose the machines had been used here on this moon before and the bugs had snuck inside?</dd>
<dt>SARAH</dt>
<dd><em>(Beat.)</em> Uh, yeah, that&#x2019;s exactly it, Taya Ray.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1341/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1394/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/133/index.html>The Signal: Season 5, Episode 5</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
