<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7, Episode 17</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7, Episode 17</h1>
<div><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/216/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/219/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0717_20111025.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0717_20111025.mp3 download=signal_season07_17.mp3>Download audio file</a></div>
<div class=info>Tuesday 25th October 2011</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/168/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 7 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:04</td>
<td class=shownote><h3>Banter</h3>
<div><ul><li><a href=../../../external.html#http://www.cantstoptheserenity.com/media/2012-official-artwork-contest/>Can't Stop the Serenity artwork contest</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/96/index.html>Kara Helgren</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2535/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.terranovapodcast.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:03:03</td>
<td class=shownote><h3>Promo: TerraNova Podcast</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/161/index.html><img src=../../../image/image/158/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:05</td>
<td class=shownote><h3>Firefly in Five Lines</h3>
<h4>Les's Choice</h4>
<p>Written by <a href=../../../human/view/2/index.html>Les Howard</a>; read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2542/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/155/index.html><img src=../../../image/image/153/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:30</td>
<td class=shownote><h3>The Shipworks</h3>
<h4>The Brainpan (part two of <q>Beer</q>)</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/5/index.html>Miranda Thomas</a> and <a href=../../../human/view/477/index.html>Paul Korswagen</a>; music by <a href=../../../human/view/467/index.html>Great Big Sea</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2398/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/173/index.html><img src=../../../image/image/198/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:35</td>
<td class=shownote><h3>Tangled Yarn</h3>
<h4>Jayne and Book</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/2544/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:27:40</td>
<td class=shownote><h3>Music Section</h3>
<h4>Firefly</h4>
<div><ul><li><a href=../../../external.html#http://gammasquad.uproxx.com/2011/09/firefly-fans-can-download-adam-warrocks-the-browncoats-mixtape-for-free>Download album for free</a></li>
</ul>
</div>
<p>Music by <a href=../../../human/view/523/index.html>Adam Warrock</a></p>
</td>
<td><a href=../../../segment/view/2538/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:17</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li><a href=../../../external.html#http://www.daemonstv.com/2011/05/10/netflix-reviving-the-dead-company-considers-saving-cancelled-tv-shows/>Netflix reviving Firefly?</a></li>
</ul>
</div>
<p>Emails read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; emails edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; hosted by <a href=../../../human/view/96/index.html>Kara Helgren</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2537/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:51</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 25</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2541/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:46:15</td>
<td class=shownote><h3>Editorial</h3>
<h4>So Long and Thanks for All the Fish</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2507/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:51:45</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:52:20<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/216/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/219/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
