<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Silence in Space</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Silence in Space</h1>
<div><div class=transport-bar><a href=../../../segment/view/2617/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2716/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/176/index.html>Up</a> &#x2022; <a href=../../../segment/view/2770/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2846/index.html>Last episode</a></div>
<h2>Ariel</h2>
<div>First aired: <a href=../../../show/view/232/index.html>The Signal: Season 8, Episode 10</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/23/index.html>Anna Snyder</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/108/index.html>Jutta Jordans</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Ariel begins with a shot of Serenity flying through space, which is particularly comforting since this episode follows Out of Gas, which started with a shot of a powerless, drifting Serenity. In Ariel all is as it should be, if only for a short while. The opening scene is a picture of domesticity. Kaylee and Inara are enjoying a game, while Simon and River have some food and Jayne cleans his weapons. Zoe and Wash enter the scene talking and Zoe gets herself a drink. Mal arrives last and it is clear from everyone&#x2019;s facial expressions that the previous lighthearted mood has been dampened somewhat by his appearance. Mal&#x2019;s aversion to the Core is clearly not a laughing matter.</p>

<p>Things are, of course, about to become even more serious though, as River slips away from the table and picks up a knife. There is a reflection of the knife on Jayne&#x2019;s face a brief moment before River slashes at his chest, but River&#x2019;s actions are still as much of a shock to us as viewers as they are to Jayne and everyone else looking on. Mal is calm and steely in his reaction, but Jayne, naturally enough, is angry. Simon meanwhile is ever the professional, quietly stitching up Jayne&#x2019;s wound as Jayne rants to Mal.</p>

<p>As Serenity arrives on Ariel, we get a glimpse of what the Core looks like. There are tall, reflective buildings and towers, huge outdoor screens and a lot of air traffic. Meanwhile inside Serenity, Mal and Jayne are playing the ancient game of horseshoes. Bearing in mind Mal&#x2019;s feelings about the Core, this almost seems like a deliberate act of defiance on his part. He chooses to stay inside his ship and play an old game that is the antithesis of all the technology and modern living on display around him.</p>

<p>There is soon no time for game playing though, as Simon explains his idea for a job to Mal and the others. Their reactions to the value of the medicines Simon passes around clearly show they are interested, although there is also a good deal of wariness in their expressions. As the heist planning continues, there are moments when there is something in the way the camera lingers on Jayne, or something about Jayne&#x2019;s eyes as he looks at Simon, which hints at what is to come. It is not clear though at what point Jayne makes his decision to betray Simon and River.</p>

<p>As part of the heist preparation, the infirmary becomes a schoolroom and Simon gets to be in charge and in his element for once. It is appropriate that his attempts to train Mal, Jayne and Zoe in what they need to say should take place in the one part of the ship where he fits in and is in control. Simon&#x2019;s pupils on this occasion appear not to be the sharpest scalpels in the drawer though.</p>

<p>The heist begins and we get a glimpse of Ariel at night. The air is as full of traffic as it was during the day. Inside the hospital the lights are bright and blue-tinged and much of the d&#x00E9;cor is white, which fits as much with the Alliance, and particularly with Blue Sun, as it does with what we would normally expect of a hospital.</p>

<p>In amongst the many dramatic incidents that follow the arrival at the hospital, there are some wonderful moments of visual humour. Jayne blurting out his long-practised line to the receiving doctor, for example, provokes a classic look from Mal to Jayne and a similarly amusing one in response. Then there is River sitting straight up in the style of a reanimated corpse and giving Jayne something of a shock. And of course there is the look on Zoe&#x2019;s face as she deftly applies the cardiac infusers to the officious doctor. She may not have had the opportunity to say her lines about them, but she certainly puts her knowledge of how they work to good use.</p>

<p>Before things start to go very wrong for Jayne, Simon and River, we have the interesting interlude of Simon risking being found out by intervening in the treatment of a patient who is about to die. This incident could be removed from the episode without affecting the main story, but its presence does tell us something about Simon&#x2019;s character, and make Jayne&#x2019;s betrayal seem even worse. Simon helps a stranger with no prospect of a reward and thereby delays his getaway, whereas Jayne has betrayed two fellow crew members for money. Simon doesn&#x2019;t even just save the patient and then leave, but takes the time to teach the young intern a lesson as well. River&#x2019;s look of pride in her brother is well founded.</p>

<p>When Jayne, Simon and River are captured, the expression on Simon&#x2019;s face as his worst fears are realised is surely enough to prick Jayne&#x2019;s conscience. If it were not enough though, there is then the moment when Simon thanks Jayne for trying to fight back. Surely that is a flicker of remorse which we can see on Jayne&#x2019;s face? There is perhaps also even a glimmer of respect for Simon, as he stands up to Agent McGinnis and demands to know what is about to happen.</p>

<p>The fight between Jayne and Simon and the Feds is an ugly one, and not short. Simon manages to be just as effective as Jayne, but without being quite as brutal. He also is quick-witted enough to pick up a gun, but he only takes one of the two on offer and gives it to Jayne straightaway. Meanwhile the Hands of Blue have arrived on the scene and make swift work of Agent McGinnis with their rod-like device, which, appropriately, glows blue, but has a very red, and extremely gruesome, effect.</p>

<p>As the crew regroups on Serenity, it seems like it has been one of those rare good days, leaving aside the not so smooth middle part of the heist. But of course the day is not over for Jayne. He looks a little groggy as he steps out of the ambulance, which could simply be the result of his head wound, but perhaps is also a sign that he does have a conscience somewhere deep inside. He soon brightens up though and appears to think he has got away with his betrayal, until he comes face-to-face with Mal&#x2019;s wrench.</p>

<p>Mal leaves a communicator on the floor for Jayne so he clearly wants to have a discussion with him. Does this mean that Mal wants to give Jayne the chance to show contrition? Perhaps Mal does not consciously have in mind a magic word which Jayne could say to save his life, but it seems that at some level he does want to give him the opportunity to redeem himself. As Mal talks to Jayne, he is intense, but calm, and only gets angry when Jayne&#x2019;s words show how he really doesn&#x2019;t understand Mal&#x2019;s view of his crew as part of himself. The two men are physically separated by the airlock doors and this matches the gulf of understanding between them.</p>

<p>Although Jayne seems to have made slight progress in understanding Mal&#x2019;s point of view, this would still be quite a downbeat way to end the episode, if it were in fact the end. Instead we finish on a far more hopeful note. Simon enters River&#x2019;s room and finds her drawing a set of nesting dolls. Perhaps there is hope that the scan Simon made of River&#x2019;s brain will help him to peel back the layers of damage the Alliance did, and find his sister inside.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2617/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2716/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/176/index.html>Up</a> &#x2022; <a href=../../../segment/view/2770/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2846/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/232/index.html>The Signal: Season 8, Episode 10</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
