<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Tangled Yarn</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Tangled Yarn</h1>
<div><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2402/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <a href=../../../segment/view/2499/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
<h2>Mal and Book</h2>
<div>First aired: <a href=../../../show/view/213/index.html>The Signal: Season 7, Episode 14</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>The relationship between Captain Mal Reynolds and Shepherd Derrial Book does not get off to a good start:</p>


<dl><dt>KAYLEE</dt>
<dd>I think Shepherd Book has offered to help me prepare something.</dd>
<dt>MAL</dt>
<dd>You're a shepherd.</dd>
<dt>BOOK</dt>
<dd>Thought the outfit gave it away. Is it a problem?</dd>
</dl>


<p>Mal&#x2019;s expression makes it clear that Book being a shepherd is a problem. The viewer, having seen in a flashback the moment when Mal&#x2019;s faith in God died, in Serenity Valley, has a good idea why this might be, but Book is in the dark. However, he is aware enough of Mal&#x2019;s apparent hostility to what he represents to later ask permission before praying at the meal table:</p>


<dl><dt>BOOK</dt>
<dd>Captain, you mind if I say grace?</dd>
<dt>MAL</dt>
<dd>Only if you say it out loud.</dd>
</dl>


<p>Mal&#x2019;s response suggests that he has no problem with Book having his own personal faith, as long as it stays personal. As he says later, Book is welcome on his boat, but God isn&#x2019;t.</p>

<p>Book&#x2019;s initial reaction to Mal is one of fascination, as Inara notices:</p>


<dl><dt>BOOK</dt>
<dd>He&#x2019;s not wildly interested in ingratiating himself with anyone. Yet he seems very protective of his crew. It&#x2019;s odd.</dd>
<dt>INARA</dt>
<dd>Why are you so fascinated by him?</dd>
<dt>BOOK</dt>
<dd>Because he&#x2019;s something of a mystery. Why are you?</dd>
<dt>INARA</dt>
<dd>Because so few men are.</dd>
</dl>


<p>Later, in The Train Job, Book expresses his curiosity that Mal would take the risk of having Simon and River on board, when they are wanted by the Alliance.</p>

<p>Mal in turn clearly views Book as something of a mystery:</p>


<dl><dt>MAL</dt>
<dd>Well, what about you? How come you're flying about with us brigands? Shouldn't you be off bringing religiosity to the Fuzzie-Wuzzies or some such?</dd>
<dt>BOOK</dt>
<dd>Oh, I got heathens aplenty right here.</dd>
<dt>MAL</dt>
<dd>If I'm your mission, Shepherd, best give it up. You're welcome on my boat. God ain't.</dd>
</dl>


<p>Mal and Book&#x2019;s relationship starts from this point of mutual curiosity. Book is wondering why Mal would take him on as a passenger when he seems to have an aversion to outward shows of religion, and Mal is wondering why Book would want to stay after he realises the kind of crew he has fallen in with.</p>

<p>Mal, as a captain, is used to having the final say and also to having the respect of his crew. Book, as a shepherd, has presumably also had some experience of having a congregation which listens to him and respects him. There is clearly the potential for conflict between them, but Book seems to recognise that on board ship, a captain outranks a shepherd, even if the captain is younger in years than than the shepherd. Despite this, Book does challenge Mal, even in the early days of his time on Serenity. In the pilot, for example, when it looks like Dobson will be killed, Book speaks up, saying &#x201C;we&#x2019;re very close to true stupidity here&#x201D;. And in Bushwhacked, he tries to persuade Mal to stop to investigate whether there are survivors on the derelict ship:</p>


<dl><dt>JAYNE</dt>
<dd>How&#x2019;s about you just say a prayer when we slide on by?</dd>
<dt>BOOK</dt>
<dd>Shall I remind you of the story of the Good Samaritan?</dd>
<dt>MAL</dt>
<dd>I&#x2019;d rather you didn't.</dd>
</dl>


<p>In the first few episodes of Firefly, the interaction between Mal and Book often involves disagreement. Their views of the survivor of the reaver attack in Bushwhacked, for example, are in opposition. Mal believes that the survivor will never escape from the barbarism he witnessed, whereas Book believes there is &#x201C;a power greater than men. A power that heals&#x201D;.</p>

<p>As time passes, the relationship between Mal and Book begins to change. Book&#x2019;s involvement in the crew&#x2019;s capers becomes more than simply a dissenting voice. He gets stuck in with the cattle smuggling in Safe, for example. He does continue to attempt to prick Mal&#x2019;s conscience though, most notably in his comments about the &#x201C;special hell&#x201D;. Perhaps by this point, during the events of Our Mrs Reynolds, Book has realised that a wryly humorous description of a special level of hell reserved for child molesters and people who talk at the theatre is a better way to get to Mal&#x2019;s conscience than a simple reference to the parable of the good Samaritan. By the time of The Message, Mal trusts Book enough to go with his risky plan to deal with Womack.</p>

<p>The change in their relationship - from one of mutual curiosity to a degree of respect and understanding - happens despite other things staying the same:</p>


<dl><dt>BOOK</dt>
<dd>I am a shepherd. Folks like a man of God.</dd>
<dt>MAL</dt>
<dd>No they don't. Men of God make everyone feel guilty and judged. That's not what I saw. You like to tell me what really happened?</dd>
<dt>BOOK</dt>
<dd>I surely would. And maybe someday I will. It's good to be home.</dd>
</dl>


<p>Mal&#x2019;s view of &#x201C;men of God&#x201D; in general does not change, despite his warming to Book as an individual. And Book beginning to feel at home on Serenity is not enough for him to respond to his captain&#x2019;s attempts to get him to talk about his background.</p>

<p>In the time between the events of the series and the film, the relationship between Mal and Book takes a turn for the worse. In the comic Those Left Behind, Book challenges Mal for going back on his word to Inara to take her to her destination before he accepts another job. Mal responds by questioning Book&#x2019;s faithfulness to the words he preaches, asking him whether when things are tough, he gets on his knees to pray or steals a vehicle to deal with the situation directly, the latter of which is exactly what Book has just done. Book&#x2019;s shame at being reminded of that causes him to lash out and punch Mal. This is the incident which causes Book to leave Serenity. When he tells Mal he is leaving, Mal responds by saying that it doesn&#x2019;t matter to him that Book hit him. Book replies, &#x201C;Which is exactly why I need to be away from you. Because sooner or later, it won&#x2019;t matter to me, either.&#x201D;</p>

<p>Book arrived on Serenity believing there were &#x201C;heathens aplenty&#x201D; right there and hoping to be a positive influence on those on board. By the time he leaves, it appears that the influence has worked in the opposite direction, and has been a negative one. He wants to get away from Mal before he becomes like him.</p>

<p>We have to assume that there are more interactions between Mal and Book from the time Book leaves Serenity to the time of the events of the film. When Mal and Book talk on Haven, there is no bad feeling between them. Mal&#x2019;s view on the unlikelihood of &#x201C;help from on high&#x201D; arriving hasn&#x2019;t changed, but he freely admits to Book that he always looks to him for counsel. Book&#x2019;s reluctance to tell Mal about his life before being a shepherd is also unchanged.</p>

<p>Mal and Book&#x2019;s final exchange brings together much of what is at the heart of the relationship between the two men:</p>


<dl><dt>BOOK</dt>
<dd>I killed the ship that killed us. Not very Christian of me.</dd>
<dt>MAL</dt>
<dd>You did what's right.</dd>
<dt>BOOK</dt>
<dd>Coming from you, that means almost nothing. I'm long gone.</dd>
<dt>MAL</dt>
<dd>No, Doc will bring you around. I look to be bored by many more sermons before you slip. Just don't move.</dd>
<dt>BOOK</dt>
<dd>Can't order me around, boy. I'm not one of your crew.</dd>
<dt>MAL</dt>
<dd>Yes, you are.</dd>
</dl>


<p>Their views on what is right are still different, as are their views on religion and on whether Book is a part of Mal&#x2019;s crew. Yet at the end there is mutual understanding and respect that is not there in their early disagreements.</p>

<p>The relationship between Mal and Book is one of the relationships in Firefly and Serenity that changes the most over time. Each man has clearly had an influence on the other, whether for better or worse, and each has come to understand the other&#x2019;s position better. If asked, Mal would not consider himself part of Book&#x2019;s flock and Book would not consider himself part of Mal&#x2019;s crew, but in an important sense, both would be wrong.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2402/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2402/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/173/index.html>Up</a> &#x2022; <a href=../../../segment/view/2499/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3070/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/213/index.html>The Signal: Season 7, Episode 14</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
