<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Banter</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Banter</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/101/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/137/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/16/3/album/image.png width=300 height=300 alt></div>
<div>Les and Kari are your hosts, as we tour the worlds of Firefly</div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td></td>
<td>The Signal: Season 1, Episode 1</td>
<td><a href=../../../segment/view/22/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 2</td>
<td><a href=../../../segment/view/38/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 2.5</td>
<td><a href=../../../segment/view/49/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 3</td>
<td><a href=../../../segment/view/56/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 4</td>
<td><a href=../../../segment/view/74/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 5</td>
<td><a href=../../../segment/view/103/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 6</td>
<td><a href=../../../segment/view/116/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 7</td>
<td><a href=../../../segment/view/167/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/145/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 8.5</td>
<td><a href=../../../segment/view/156/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/183/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 10</td>
<td><a href=../../../segment/view/198/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 11</td>
<td><a href=../../../segment/view/210/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 12</td>
<td><a href=../../../segment/view/229/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 12.5: Dragon*Con 2005 Bonus Show</td>
<td><a href=../../../segment/view/242/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 13</td>
<td><a href=../../../segment/view/258/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 14</td>
<td><a href=../../../segment/view/266/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 14.5: Spoilerful Bonus Show</td>
<td><a href=../../../segment/view/281/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 15</td>
<td><a href=../../../segment/view/293/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 16</td>
<td><a href=../../../segment/view/297/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 16.5: November Bonus Show</td>
<td><a href=../../../segment/view/309/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 16.6: Bits of the Signal</td>
<td><a href=../../../segment/view/320/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 16.7: December Bonus Show</td>
<td><a href=../../../segment/view/328/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 17.2: Solstice Special, part 2</td>
<td><a href=../../../segment/view/357/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 17.5: January Bonus Show</td>
<td><a href=../../../segment/view/364/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 1, Episode 17.3: Solstice Special, part 3</td>
<td><a href=../../../segment/view/371/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 1, Episode 17.1: Solstice Special, part 1</td>
<td><a href=../../../segment/view/378/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 1</td>
<td><a href=../../../segment/view/404/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 2</td>
<td><a href=../../../segment/view/461/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 2.5</td>
<td><a href=../../../segment/view/471/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 3</td>
<td><a href=../../../segment/view/485/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 4</td>
<td><a href=../../../segment/view/492/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 5</td>
<td><a href=../../../segment/view/501/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 6</td>
<td><a href=../../../segment/view/509/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 7</td>
<td><a href=../../../segment/view/520/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 8</td>
<td><a href=../../../segment/view/531/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 9</td>
<td><a href=../../../segment/view/544/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 10</td>
<td><a href=../../../segment/view/558/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 11</td>
<td><a href=../../../segment/view/570/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 11.5</td>
<td><a href=../../../segment/view/581/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 12</td>
<td><a href=../../../segment/view/592/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 13</td>
<td><a href=../../../segment/view/598/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 14</td>
<td><a href=../../../segment/view/612/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 15</td>
<td><a href=../../../segment/view/621/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 16</td>
<td><a href=../../../segment/view/643/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 16.5: Live at Dragon*Con 2006</td>
<td><a href=../../../segment/view/656/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 17</td>
<td><a href=../../../segment/view/670/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 18</td>
<td><a href=../../../segment/view/676/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 18.5: Convention Wrapup</td>
<td><a href=../../../segment/view/691/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 19</td>
<td><a href=../../../segment/view/699/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/703/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 21</td>
<td><a href=../../../segment/view/727/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 22</td>
<td><a href=../../../segment/view/740/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 2, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/751/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 2, Episode 23.5: The Money Show</td>
<td><a href=../../../segment/view/769/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 1</td>
<td><a href=../../../segment/view/778/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 1.5</td>
<td><a href=../../../segment/view/794/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 1.6</td>
<td><a href=../../../segment/view/806/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 2</td>
<td><a href=../../../segment/view/809/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 3</td>
<td><a href=../../../segment/view/810/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 4</td>
<td><a href=../../../segment/view/818/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 5</td>
<td><a href=../../../segment/view/833/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 6</td>
<td><a href=../../../segment/view/845/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 7</td>
<td><a href=../../../segment/view/856/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 8</td>
<td><a href=../../../segment/view/869/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 9</td>
<td><a href=../../../segment/view/887/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 10</td>
<td><a href=../../../segment/view/897/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 11</td>
<td><a href=../../../segment/view/909/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 11.5</td>
<td><a href=../../../segment/view/920/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 12</td>
<td><a href=../../../segment/view/928/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 13</td>
<td><a href=../../../segment/view/932/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 13.5</td>
<td><a href=../../../segment/view/944/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 14</td>
<td><a href=../../../segment/view/953/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 15</td>
<td><a href=../../../segment/view/959/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 16</td>
<td><a href=../../../segment/view/972/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/978/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 18</td>
<td><a href=../../../segment/view/990/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 19</td>
<td><a href=../../../segment/view/997/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 20</td>
<td><a href=../../../segment/view/1005/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 21</td>
<td><a href=../../../segment/view/1014/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 22</td>
<td><a href=../../../segment/view/1029/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 3, Episode 23</td>
<td><a href=../../../segment/view/1037/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 3, Episode 23.5: Persephone Pickers Special</td>
<td><a href=../../../segment/view/1061/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 1</td>
<td><a href=../../../segment/view/1072/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 2</td>
<td><a href=../../../segment/view/1083/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 3</td>
<td><a href=../../../segment/view/1098/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 4</td>
<td><a href=../../../segment/view/1109/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 5</td>
<td><a href=../../../segment/view/1122/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 6</td>
<td><a href=../../../segment/view/1133/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 7</td>
<td><a href=../../../segment/view/1143/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 8</td>
<td><a href=../../../segment/view/1149/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 9</td>
<td><a href=../../../segment/view/1161/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 10</td>
<td><a href=../../../segment/view/1170/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 10.5</td>
<td><a href=../../../segment/view/1181/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 11</td>
<td><a href=../../../segment/view/1192/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 12</td>
<td><a href=../../../segment/view/1199/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 13</td>
<td><a href=../../../segment/view/1211/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 13.5</td>
<td><a href=../../../segment/view/1221/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 14</td>
<td><a href=../../../segment/view/1229/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 15</td>
<td><a href=../../../segment/view/1234/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 15.5</td>
<td><a href=../../../segment/view/1245/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 16</td>
<td><a href=../../../segment/view/1256/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 17</td>
<td><a href=../../../segment/view/1259/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 18</td>
<td><a href=../../../segment/view/1265/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 19</td>
<td><a href=../../../segment/view/1273/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 20</td>
<td><a href=../../../segment/view/1284/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 20.5</td>
<td><a href=../../../segment/view/1293/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 21</td>
<td><a href=../../../segment/view/1304/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 4, Episode 22</td>
<td><a href=../../../segment/view/1312/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1320/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 1</td>
<td><a href=../../../segment/view/1334/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 4, Episode 23.5</td>
<td><a href=../../../segment/view/1343/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 2</td>
<td><a href=../../../segment/view/1349/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 3</td>
<td><a href=../../../segment/view/1359/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 4</td>
<td><a href=../../../segment/view/1370/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 5</td>
<td><a href=../../../segment/view/1381/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 6</td>
<td><a href=../../../segment/view/1387/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 7</td>
<td><a href=../../../segment/view/1400/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 8</td>
<td><a href=../../../segment/view/1410/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 9</td>
<td><a href=../../../segment/view/1426/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 10</td>
<td><a href=../../../segment/view/1433/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 11</td>
<td><a href=../../../segment/view/1440/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 12</td>
<td><a href=../../../segment/view/1447/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 12.5: JC Hutchins Interview</td>
<td><a href=../../../segment/view/1454/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 13</td>
<td><a href=../../../segment/view/1464/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 14</td>
<td><a href=../../../segment/view/1468/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 14.5: Browncoat Ball Special</td>
<td><a href=../../../segment/view/1477/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 14.6: Doctor Horrible's Singalong Blog Cross-Podcast Crew Chat</td>
<td><a href=../../../segment/view/1484/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 14.7: The Clip Show</td>
<td><a href=../../../segment/view/1489/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 14.8: Sending a Signal</td>
<td><a href=../../../segment/view/1497/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 14.9: The Counterfeit Companion</td>
<td><a href=../../../segment/view/1506/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 15</td>
<td><a href=../../../segment/view/1508/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 15.5: Live at Dragon*Con 2009</td>
<td><a href=../../../segment/view/1514/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 16</td>
<td><a href=../../../segment/view/1527/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 17</td>
<td><a href=../../../segment/view/1533/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 18</td>
<td><a href=../../../segment/view/1543/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 19</td>
<td><a href=../../../segment/view/1554/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 5, Episode 20</td>
<td><a href=../../../segment/view/1562/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1571/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 1</td>
<td><a href=../../../segment/view/1584/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 2</td>
<td><a href=../../../segment/view/1596/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 3</td>
<td><a href=../../../segment/view/1609/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 4</td>
<td><a href=../../../segment/view/1626/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 5</td>
<td><a href=../../../segment/view/1648/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 6</td>
<td><a href=../../../segment/view/1675/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 7</td>
<td><a href=../../../segment/view/1687/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 8</td>
<td><a href=../../../segment/view/1717/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 9</td>
<td><a href=../../../segment/view/1762/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 10</td>
<td><a href=../../../segment/view/1798/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 11</td>
<td><a href=../../../segment/view/1831/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 12</td>
<td><a href=../../../segment/view/1856/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 13</td>
<td><a href=../../../segment/view/1867/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 14</td>
<td><a href=../../../segment/view/1887/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 15</td>
<td><a href=../../../segment/view/1903/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 14.1</td>
<td><a href=../../../segment/view/1914/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 14.2: Dark Places</td>
<td><a href=../../../segment/view/1926/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1930/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 14.4: Live at Dragon*Con 2010</td>
<td><a href=../../../segment/view/1942/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 16</td>
<td><a href=../../../segment/view/1953/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 17</td>
<td><a href=../../../segment/view/1974/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 18</td>
<td><a href=../../../segment/view/2052/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 18.1</td>
<td><a href=../../../segment/view/2076/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 6, Episode 19</td>
<td><a href=../../../segment/view/2087/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 6, Episode 20: Holiday Special</td>
<td><a href=../../../segment/view/2094/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 1</td>
<td><a href=../../../segment/view/2160/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 2</td>
<td><a href=../../../segment/view/2180/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2199/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2218/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2239/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2260/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2306/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2323/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 9</td>
<td><a href=../../../segment/view/2350/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2366/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2375/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2390/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2403/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2417/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 13.1: Blast from the Past, part one</td>
<td><a href=../../../segment/view/2434/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 13.4: Blast from the Past, part two</td>
<td><a href=../../../segment/view/2457/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2461/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 14</td>
<td><a href=../../../segment/view/2465/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 13.5: Blast from the Past, part three</td>
<td><a href=../../../segment/view/2487/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2492/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2503/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2513/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 17</td>
<td><a href=../../../segment/view/2535/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2549/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2560/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2573/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 7, Episode 21.1: Theme Tune Quiz</td>
<td><a href=../../../segment/view/2602/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 1</td>
<td><a href=../../../segment/view/2618/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2634/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2652/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2668/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2682/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2698/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2709/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2720/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2733/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2745/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2758/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2774/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2787/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 12.1: Firefly's 10th Anniversary Panel</td>
<td><a href=../../../segment/view/2797/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2799/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2811/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2815/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2833/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2849/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2864/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2885/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 9, Episode 3</td>
<td><a href=../../../segment/view/2903/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 9, Episode 4</td>
<td><a href=../../../segment/view/2914/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2926/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 9, Episode 6</td>
<td><a href=../../../segment/view/2940/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2955/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 9, Episode 8</td>
<td><a href=../../../segment/view/2966/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/2974/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2992/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3001/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 10, Episode 4</td>
<td><a href=../../../segment/view/3018/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td></td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3035/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td></td>
<td>The Signal: Season 10, Episode 5.1: The Last....Bonus Show!</td>
<td><a href=../../../segment/view/3150/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/101/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/137/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
