<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 14.7</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 14.7</h1>
<div><h2>The Clip Show</h2>
<div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/145/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/147/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_514.7_20090825.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_514.7_20090825.mp3 download=signal_season05_14.7.mp3>Download audio file</a></div>
<div class=info>Tuesday 25th August 2009</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Alternative version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:07</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1489/146/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/43/index.html><img src=../../../image/image/55/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:55</td>
<td class=shownote><h3>Thoughts of Firefly</h3>
<h4>Greg Edmonson, the composer of Firefly</h4>
<div>Serenity, the pilot.</div>
<p>Edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/431/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:25</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/21275>Doctor Horrible's Singalong Blog wins Hugo award</a></li>
<li><a href=../../../external.html#http://www.ew.com/ew/gallery/0%2C%2C20037930%2C00.html>Serenity crew makes Buddy list</a></li>
<li><a href=../../../external.html#http://totalscifionline.com/features/3809-the-100-greatest-sci-fi-movies>Serenity in top 100 sci-fi movies</a></li>
<li><a href=../../../external.html#http://www.fireflyshipworks.com/2009/08/what-serenity-means-to-you/>QMX contest</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1480/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/42/index.html><img src=../../../image/image/53/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:00</td>
<td class=shownote><h3>Fantasy Firefly</h3>
<h4>Reaver Recipes</h4>
<div>A cookery lesson not for the fainthearted.
(Originally aired on Dragon Page Wingin' It #34).</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/28/index.html>J. D. Ravatt</a>; featuring <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/418/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:17</td>
<td class=shownote><h3>Music Section</h3>
<h4>What you Don't Know</h4>
<div><a href=../../../external.html#http://blogs.myspace.com/index.cfm?fuseaction=blog.view&amp;friendId=32799795&amp;blogId=491224537>What you Don't Know</a> (the <a href=../../../external.html#http://www.fox.com/dollhouse/>Dollhouse</a> theme tune), by <a href=../../../external.html#http://www.myspace.com/jonathabrooke>Jonatha Brooke</a> and <a href=../../../external.html#http://www.myspace.com/ericbazilian>Eric Bazilian</a></div>
<p>Music by <a href=../../../human/view/221/index.html>Eric Bazilian</a> and <a href=../../../human/view/219/index.html>Jonatha Brooke</a></p>
</td>
<td><a href=../../../segment/view/1472/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:58</td>
<td class=shownote><h3>The Idiot's Guide to Conversion</h3>
<div>First aired on Summer of Serenity #15, 2007-08-08</div>
<p>Written by <a href=../../../human/view/222/index.html>Writerserenyty</a></p>
</td>
<td><a href=../../../segment/view/1478/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:49</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 501: Slings and Arrows</h4>
<div>First aired on Summer of Serenity #2, 2007-07-26</div>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1491/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:04</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1481/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/52/index.html><img src=../../../image/image/151/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:14</td>
<td class=shownote><h3>Borderline</h3>
<h4>Cortex Talk</h4>
<div>First aired on Summer of Serenity #12, 2007-08-05</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/1492/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:30</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1489/146/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:59:34</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:59:56<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/145/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/147/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4806>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
