<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 6, Episode 16</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 6, Episode 16</h1>
<div><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/180/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/187/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_616_20101012.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_616_20101012.mp3 download=signal_season06_16.mp3>Download audio file</a></div>
<div class=info>Tuesday 12th October 2010</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/127/2/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 6 Opening Theme</h3>
<h4>Version 2</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:15</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1953/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:37</td>
<td class=shownote><h3>Editorial</h3>
<h4>It's The People You Meet</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/1958/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:14</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 15</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/1896/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:24</td>
<td class=shownote><h3>Music Section</h3>
<h4>Earth that Was</h4>
<p>Music by <a href=../../../human/view/442/index.html>Star One</a></p>
</td>
<td><a href=../../../segment/view/1973/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/117/index.html><img src=../../../image/image/125/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:03</td>
<td class=shownote><h3>What's in a Signal?</h3>
<h4>Bonus Shows</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1920/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:27:49</td>
<td class=shownote><h3>Feedback</h3>
<p>Emails read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; emails edited by <a href=../../../human/view/1/index.html>Jill Arroway</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1904/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:04</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 18: The Cup of Truth</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1907/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/157/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:03</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Cosmos</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1895/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:12:00</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Vixy and Tony version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:12:29<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/180/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <a href=../../../show/view/187/index.html>Next show</a> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
