<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1520/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1549/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>Fitting In</h2>

<audio src=../../../../yonder/signal_heartoffirefly_04.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_heartoffirefly_04.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/152/index.html>The Signal: Season 5, Episode 17</a></div>
<div>A discussion of Shindig.</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>MAL</dt>
<dd>Sure. It would be humiliating, having to lie there while the better man refuses to spill your blood. Mercy is the mark of a great man&#x2026; Guess I'm just a good man. Well, I'm all right.</dd>
</dl>


<p>There are many reasons why I love the episode Shindig and one of them is certainly those words of Mal&#x2019;s as he stands over Atherton Wing with his sword poised and delivers a couple of quick stabs, both literal and verbal. He really didn&#x2019;t have to do it, but boy, it sure was funny.</p>

<p>Shindig also includes the great &#x201C;Use of a s&#x2019;what?&#x201D; line, Wash&#x2019;s poem about his &#x201C;all corpsified and gross&#x201D; Zoe, River&#x2019;s reading of Badger and, of course, that dress. But what is it that holds the different threads of the episode together? The dominant theme that strikes me is one of trying to fit in. Much of the humour of the episode derives from Mal&#x2019;s inability to fit into Inara&#x2019;s world, but there are other characters, most notably Inara herself, Kaylee and Badger, who also have some experiences in relating to worlds other than their own.</p>

<p>Joss Whedon has said about Firefly that he wanted the characters to be dealing with issues that we as viewers could easily relate to, such as getting a job, for example. The problem of trying to fit in where we don&#x2019;t usually belong is one that clearly comes into this category of being an issue that we can relate to just as easily as the characters do, despite the gulf of time and space between earth-that-was and the &#x2018;verse.</p>

<p>Shindig represents a change of focus from the previous three episodes. In the original pilot Serenity, The Train Job and Bushwhacked, we were very definitely in Mal&#x2019;s world, dealing with characters such as Badger, Patience and Niska, and trying to avoid the Reavers and the Alliance. In The Train Job we had seen what happens when Inara steps into Mal&#x2019;s world. She was able to get Mal and Zoe out of a sticky situation simply because of who she is and the power and status she has as a companion. In Shindig Mal crosses over into Inara&#x2019;s world and the results are, to put it mildly, somewhat different. As Joss says in the official companion to the series, &#x201C;It&#x2019;s time for a little romantic comedy with Mal and Inara and to see a little bit of her world, and Mal being the fish-out-of-water guy, because that&#x2019;s never not fun.&#x201D;</p>

<p>We start the episode with Inara being the one out of place though. Mal and Jayne play pool in a typically disreputable-looking joint and soon get themselves into a fight. Inara sits to the side in a red dress holding a very pink drink. Jane Espenson, the writer of the episode, says on the DVD commentary that these colours were deliberately chosen to highlight how out of place Inara is in Mal&#x2019;s world. Despite being out of place though, Inara claims to find the game &#x201C;entertaining&#x201D; and she certainly does a better job of keeping out of the way of trouble compared to Mal&#x2019;s experiences in her world during the rest of the episode.</p>

<p>Inara knows that the ball on Persephone will not be the kind of place where Mal will fit in. She describes it as being, &#x201C;More conversation and somewhat less petty theft and getting hit with pool cues&#x201D;. Shortly after Mal and Inara&#x2019;s conversation about this in her shuttle, the crew arrives on Persephone and Kaylee catches sight of The Dress:</p>


<dl><dt>KAYLEE</dt>
<dd>I like the ruffles. Inara gets to wear whatever she wants.</dd>
<dt>MAL</dt>
<dd>What are you gonna do in that rig? Flounce around the engine room? Be like a sheep walkin' on its hind legs.</dd>
</dl>


<p>Mal is right, of course. The dress that Kaylee is looking longingly at does not belong in her world of engine grease and braced extenders. Kaylee knows this too, but it doesn&#x2019;t stop her dreaming and it doesn&#x2019;t stop her being hurt by Mal&#x2019;s insensitive comment.</p>

<p>Mal and Jayne&#x2019;s conversation with Badger reveals that Kaylee is not the only one who knows that she does not belong in certain worlds. Badger is unable to deal with Sir Warwick Harrow directly because he is not respectable enough to fit into his world:</p>


<dl><dt>BADGER</dt>
<dd>There's a local, by the name of Warrick Harrow. Got some property he wants to sell off-planet, fetch a higher price.</dd>
<dt>MAL</dt>
<dd>The local powers won't let him sell off-world.</dd>
<dt>BADGER</dt>
<dd>It's a conundrum. What my man Harrow needs hisself, is a smuggler. 'M willing to cut you in on it.</dd>
<dt>MAL</dt>
<dd>Why me? You have access to ships. You could do it yourself.</dd>
<dt>BADGER</dt>
<dd>He won't deal with me direct. He&#x2019;s taken an irrational dislike.</dd>
<dt>JAYNE</dt>
<dd>What happened? He see your face?</dd>
<dt>BADGER</dt>
<dd>He's a quality gent. Nose in the air like he never &lt;smelled a fart&gt;. Don't find me respectable. But you, you I figure, got a chance.</dd>
</dl>


<p>In the original pilot episode, Badger had expressed his displeasure that Mal considered himself above Badger and his world and claimed that in fact the reverse was true. Badger had his &#x201C;roots in the community&#x201D; and was &#x201C;better than&#x201D; Mal. But as River says later in Shindig when she &#x201C;reads&#x201D; Badger, he only has &#x201C;delusions of standing&#x201D; and not any real status. As Badger discusses the job here with Mal and Jayne, as much as it presumably pains him to say so, he recognises this and admits that Mal&#x2019;s &#x201C;pretentiousness&#x201D; will help him break into Harrow&#x2019;s world.</p>

<p>Meanwhile Atherton is enjoying Inara&#x2019;s company at the ball and attempts to convince her to stay with him on Persephone as his personal companion. He tells her, &#x201C;You belong here, Inara. Not on a flying piece of go se.&#x201D; Inara certainly appears to be at home at the ball and seems to know several of the other attendees from the way she greets them. She is both gracious and graceful and manages to stand out, by way of her beauty and manner, while fitting in.</p>

<p>We come down to earth, so to speak, with a bit of a jolt at this point. Back on Serenity, life in the real world continues for the rest of the crew. Book, Jayne and Simon play cards to avoid chores such as &#x201C;garbage&#x201D; and &#x201C;septic vac&#x201D;. Meanwhile Wash and Zoe find staying in their own intimate world is to be preferred:</p>


<dl><dt>ZOE</dt>
<dd>I thought you wanted to spend time off-ship this visit.</dd>
<dt>WASH</dt>
<dd>Out there, it seems like out there it's all fancy parties. I like our party better. The dress code's easier and I know all the steps.</dd>
</dl>


<p>The snobbery and class-consciousness at the ball are further reinforced by the wonderfully-named Banning, Destra, Cabott and Zelle, who make it very clear that Kaylee does not fit in with the &#x201C;standards&#x201D; of the ball. Sir Warwick Harrow&#x2019;s annoyance when Mal doesn&#x2019;t realise that his sash represents lordhood is another indication that class is important on Persephone, as is the following great exchange:</p>


<dl><dt>HARROW</dt>
<dd>Whom do you represent?</dd>
<dt>MAL</dt>
<dd>&quot;Represent&quot; isn't exactly the&#x2014;</dd>
<dt>HARROW</dt>
<dd>Don't waste my time.</dd>
<dt>MAL</dt>
<dd>Fellow called Badger.</dd>
<dt>HARROW</dt>
<dd>I know him. And I think he's a psychotic lowlife.</dd>
<dt>MAL</dt>
<dd>And I think calling him that is an offense to the psychotic lowlife community.</dd>
</dl>


<p>So far in the series we have seen that Mal and his crew are pretty much at the bottom of the heap. They are let down by Badger, double-crossed by Patience, exploited by Niska and chased by both the Alliance and the Reavers. But we have heard several references to slaves and indentured servants already so it is clear there is still further down that Mal and the crew could slide. And that is why life is all about getting the next job in order to stay flying and stay free.</p>

<p>In contrast, Inara seems to be contemplating giving up her freedom to stay with Atherton on Persephone:</p>


<dl><dt>INARA</dt>
<dd>He's made me an offer. You may think he doesn't honor me. But he wants me to live here. I&#x2019;d be his personal Companion. I could belong here. Call me pretentious, but there is some appeal in that.</dd>
</dl>


<p>By this point in the ball, Kaylee is also beginning to fit in. &#x201C;Pretentious&#x201D; is just about the last word that could be used to describe her though. She seems to have a knack for making friends anywhere and is right at home in a discussion about machines with a group of men, who all seem to be charmed by her. At the end of the episode, Kaylee is happily back on Serenity and in her own world again, enjoying the memory of wearing the dress, while she listens to the music from the ball and eats some mints. Her experience in another world, though short-lived, was a happy one.</p>

<p>For Mal though, things get serious at the ball as he talks and punches his way into a duel with Atherton:</p>


<dl><dt>MAL</dt>
<dd>This &lt;stupid&gt; duel is the result of rules of your society, not mine.</dd>
<dt>INARA</dt>
<dd>You are always breaking the rules, no matter what &quot;society&quot; you're in! You don't get along with ordinary criminals either! Which is why you're constantly getting in trouble!</dd>
<dt>MAL</dt>
<dd>You think following rules will buy you a nice life, even if the rules make you a slave. Don't take his offer.</dd>
</dl>


<p>A big part of fitting into any society is following its rules. Inara is right that Mal is always breaking the rules. In the duel itself, he defeats Atherton by punching him and throwing a sword at him, not exactly a conventional way to win a swordfight. Mal also breaks with convention by not killing Atherton once he is down, although he does allow himself a couple of quick stabs. It doesn&#x2019;t matter whether the weapons are pool cues or swords, for Mal a fight will always be a street fight.</p>

<p>Jane Espenson notes in the DVD commentary that by the end of the episode Mal and Inara have realised that they not only don&#x2019;t fit into each other&#x2019;s worlds, they don&#x2019;t really fit in their own worlds either. Mal doesn&#x2019;t fit in with the slave traders in the teaser or with Badger and his world, and Inara doesn&#x2019;t want to give up life on Serenity to stay on Persephone with Atherton. They are both misfits, no matter where they go. And in this Joss Whedon has certainly hit on an issue that we as viewers can relate to. Life in the &#x2018;verse is really not that different to life on earth-that-still-is:</p>


<dl><dt>INARA</dt>
<dd>I am grateful, you know, for the ill- conceived and high-handed attempt to defend my honor although I didn't want you to.</dd>
<dt>MAL</dt>
<dd>Gracious as that is, as I look back, I probably shoulda stayed outta your world.</dd>
<dt>INARA</dt>
<dd>My world. If it is that. I wasn't going to stay, you know.</dd>
<dt>MAL</dt>
<dd>Yeah? Why's that?</dd>
<dt>INARA</dt>
<dd>Oh, someone needs to keep Kaylee out of trouble. And all my things are here... Besides, why would I want to leave Serenity?</dd>
<dt>MAL</dt>
<dd>Can't think of a reason.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1520/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1549/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/152/index.html>The Signal: Season 5, Episode 17</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
