<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 9, Episode 2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 9, Episode 2</h1>
<div><div class=transport-bar><a href=../../../show/view/243/index.html>First show</a> &#x2022; <a href=../../../show/view/243/index.html>Previous show</a> &#x2022; <a href=../../../season/view/10/index.html>Up</a> &#x2022; <a href=../../../show/view/245/index.html>Next show</a> &#x2022; <a href=../../../show/view/250/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0902_20130326.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0902_20130326.mp3 download=signal_season09_02.mp3>Download audio file</a></div>
<div class=info>Tuesday 26th March 2013</div>
Produced by Andy King<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/220/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 9 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:17</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2885/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:35</td>
<td class=shownote><h3>Music Section</h3>
<h4>Browncoats of Summer</h4>
<p>Music by <a href=../../../human/view/492/index.html>Mikey Mason</a></p>
</td>
<td><a href=../../../segment/view/2902/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:58</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/479/index.html>Bindiya Dale</a></p>
</td>
<td><a href=../../../segment/view/2888/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:10:34</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Reputation</h4>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2880/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:19:35</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Objects in Space</h4>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2889/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/130/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:07</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Time Enough for Love</h4>
<div>An article about Robert A. Heinlein's novel featuring Lazarus Long and his family.</div>
<p>Written by <a href=../../../human/view/637/index.html>'dillo</a>; read by <a href=../../../human/view/637/index.html>'dillo</a> and <a href=../../../human/view/27/index.html>Andy King</a>; music by <a href=../../../human/view/639/index.html>Eliah Bossenbroek</a>; edited by <a href=../../../human/view/108/index.html>Jutta Jordans</a></p>
</td>
<td><a href=../../../segment/view/2874/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:53</td>
<td class=shownote><h3>101 uses for a Jayne's hat</h3>
<div>A feature article about the weird and wonderful things I have made using the Jayne's hat pattern.</div>
<p>Written by <a href=../../../human/view/637/index.html>'dillo</a>; read by <a href=../../../human/view/637/index.html>'dillo</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2886/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/174/index.html><img src=../../../image/image/199/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:37:17</td>
<td class=shownote><h3>Going Dark</h3>
<h4>I, Reaver</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/82/index.html>Dreamweaver</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2898/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:50:10</td>
<td class=shownote><h3>Same but Different</h3>
<div>Parallels between Serenity (the pilot) and The Message</div>
<p>Written by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; read by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; edited by <a href=../../../human/view/637/index.html>'dillo</a></p>
</td>
<td><a href=../../../segment/view/2899/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:56:03</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:56:39<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/243/index.html>First show</a> &#x2022; <a href=../../../show/view/243/index.html>Previous show</a> &#x2022; <a href=../../../season/view/10/index.html>Up</a> &#x2022; <a href=../../../show/view/245/index.html>Next show</a> &#x2022; <a href=../../../show/view/250/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
