<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>What's in a Signal?</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>What's in a Signal?</h1>
<div><div class=transport-bar><a href=../../../segment/view/1311/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2168/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/117/index.html>Up</a> &#x2022; <a href=../../../segment/view/2447/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3112/index.html>Last episode</a></div>
<h2>Catching Clips</h2>

<!-- audio src signal_whatsinasignal_16.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_whatsinasignal_16.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/207/index.html>The Signal: Season 7, Episode 13</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>When you listen to an article on the signal, it will probably include some clips from the series, the BDM, the comics or other sources. These are typically used to make a point, reinforce an idea, make you giggle or just to adorn the article; that depends on the writer.
If you've listened to some of the other segments of the series &quot;What's in a Signal&quot;, you'll know that the simple articles usually involve 3 different roles: a writer, a reader and an editor. On some occasions these roles are taken by the same person, but often, many of the crew get to play a part. I mostly help at editing.</p>

<p>So for a simple article (like this one), I'm in charge of getting all the pieces and arranging them together. The difficult part is getting the audio clips&#x2026; it's a long operation that sometimes can take up to two hours for a single 1 minute clip. That's what I want to tell you about here.
Don't get me wrong, looking for the clips is not very difficult. I'm very good at recognizing the episode of any Firefly clip you throw at me, most I know the scene of and usually I know where on the episode that scene plays. So, it's just a matter of skimming a couple of seconds through that section of the episode to find the clip.
Technically, it doesn't take too much time either. I have the episodes and the BDM ripped onto my hard-disk, so once I've opened the appropriate file and found the location of the clip, I just select the part and extract the audio. Timewise, the process doesn't take more than twice the length of the clip.</p>

<p>So, why does it take <strong>me</strong> from 10 to 119 minutes to get a clip?&#x2026; well, I cannot just get the clip, every time I find the scene with the right clip I need, I <strong>have</strong> to keep watching.</p>

<p><strong>Clip: Mal: &quot;You ready to get off this heap and back to a civilized life?&quot;</strong></p>

<p>Do you stop there? Of course not, you have to wait for Inara to tell Mal that she doesn't know if she wants to go back. The scene is lovely, you cannot cut it in the middle. And after that, comes the final scene between River and Mal: it's too good not to watch it.</p>

<p><strong>Clip: River: &quot;Going to die&#x2026; He is.&quot;</strong></p>

<p>Now, do you stop there? Or do you watch until Simon has saved the man and told the young apprentice&#x2026;</p>

<p><strong>Clip: Simon: &quot;Your patient should be dead.&quot;</strong></p>

<p>And while you're at it, why not watch the whole episode, and of course, that has to be from the beginning.</p>

<p>So, <strong>that's</strong> why it sometimes takes me a little longer than expected to get the clips the writer wants, specially if they pick very captivating scenes, which to be truthful, is the whole show. This is one of the reasons why Firefly continues to amaze me: I've watched every episode many times, but every time I catch any one part of it, I find myself enjoying it so much, that I have to watch usually the whole episode again.</p>

<p>So, the next time you hear a clip from Firefly played on the Signal, I challenge you to go find it and only watch that one clip. I assure you that you'll want to keep watching.</p>

<p><strong>Clip: Wash: &quot;Kaylee, how would you feel about pulling a Crazy Ivan?&quot;</strong></p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1311/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2168/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/117/index.html>Up</a> &#x2022; <a href=../../../segment/view/2447/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3112/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/207/index.html>The Signal: Season 7, Episode 13</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
