<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Marc Gunn</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Marc Gunn</h1>
<div><h2>Website</h2>
<p><a href=../../../external.html#http://www.marcgunn.com/>External website</a></p>
<h2>Segments starring Marc Gunn</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>The Shipworks: Of Electric Sheep</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2529/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Music by Marc Gunn</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Music Section: She Said Her Name was Saffron</td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/980/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Monahanns Mudder's Milk</td>
<td>The Signal: Season 4, Episode 14</td>
<td><a href=../../../segment/view/1232/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Monaghan Mother's Milk</td>
<td>The Signal: Season 5, Episode 15.5: Live at Dragon*Con 2009</td>
<td><a href=../../../segment/view/1517/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Suzannah</td>
<td>The Signal: Season 5, Episode 15.5: Live at Dragon*Con 2009</td>
<td><a href=../../../segment/view/1524/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: She Said Her Name was Saffron</td>
<td>The Signal: Season 5, Episode 16</td>
<td><a href=../../../segment/view/1528/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Bring Me Home and Monaghan Mudder's Milk</td>
<td>The Signal: Season 6, Episode 14.4: Live at Dragon*Con 2010</td>
<td><a href=../../../segment/view/1872/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Monahan's Mudders' Milk</td>
<td>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/2111/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Bring Me Home</td>
<td>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/2140/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Freedom Costs</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2519/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Marc Gunn - Browncoats Keep Flyin'</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3113/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Songs from the Black II: Monahan's Mudder's Milk - Marc Gunn</td>
<td>Songs from the Black II</td>
<td><a href=../../../segment/view/2036/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Songs from the Black III: Monahan's Mudders' Milk - Marc Gunn</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2144/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Songs from the Black III: She Said Her Name Was Saffron - Marc Gunn</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2147/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Songs from the Black III: Bring Me Home - Marc Gunn</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2153/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
