<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1536/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1572/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/155/index.html>The Signal: Season 5, Episode 20</a></div>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/22459>QMx has acquired a new license</a></li>
<li><a href=../../../external.html#http://store.quantummechanix.com/Serenity_c_1.html>QMx product page</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/22328#349440>Joss comments about the cancellation of Dollhouse</a></li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com/csts-global/its-our-best-year-ever-weve-raised-116k-and-still-climbing/>Cant Stop the Serenity sets a new record</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/mthread.asp?b=2&amp;t=40866&amp;newsid=0>Browncoat Ball location announced</a></li>
<li><a href=../../../external.html#http://www.realbrowncoats.com>AbbyShot website for Mal's coat</a></li>
<li><a href=../../../external.html#http://www.avclub.com/articles/the-best-tv-series-of-the-00s%2C35256/1/>AV Club Best of the Decade</a></li>
<li><a href=../../../external.html#http://www.pastemagazine.com/blogs/lists/2009/10/the-15-best-tv-shows-that-were-canceled-too-soon.html>Paste Magazine's 15 Best TV Shows That Were Canceled Too Soon</a></li>
<li><a href=../../../external.html#http://www.realtvaddict.com/2009/11/06/top-cult-shows-firefly/>Real TV Addict article</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1536/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1572/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/155/index.html>The Signal: Season 5, Episode 20</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
