<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/898/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/934/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/87/index.html>The Signal: Season 3, Episode 12</a></div>
<div><ul><li><a href=../../../external.html#http://www.breakingatmo.com/status/2007/06/gotta-have-records-of-everything>Firefly DVDs in space</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13567>Can't Stop the Serenity surpasses last year's total</a></li>
<li><a href=../../../external.html#http://comicbookresources.com/news/newsitem.cgi?id=10985>Dinner with Joss</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13515>Summer Glau to guest at Creation's Firefly convention</a></li>
<li><a href=../../../external.html#http://www.dragoncon.org>Ron Glass and Mark Sheppard confirmed for Dragon*Con</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/13463>Morena Baccarin to appear at Creation's Chicago Stargate convention</a></li>
<li><a href=../../../external.html#http://www.95bfm.com/assets/sm/178204/3/josswhedon290607.mp3>Joss Whedon audio interview</a></li>
<li><a href=../../../external.html#http://www.newsoftheverse.net/article.php?story=20070626060236989>US SciFi channel Firefly marathon</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/06/27/firefly-in-hd-wlive-chat/>Updated date for Firefly in HD with live chat</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/thread.asp?b=2&amp;t=29132&amp;newsid=0>New Firefly forum launched by Universal HD</a></li>
<li><a href=../../../external.html#http://browncoats.wikia.com/>New Browncoat wiki launched</a></li>
<li><a href=../../../external.html#http://www.newsoftheverse.net>New Firefly news site launched</a></li>
<li><a href=../../../external.html#http://www.serenitycollectors.com/darkhorse-pvc-review.html>Review of the Serenity PVC Figurines</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2007/06/22/mal-mini-bust-from-razors-edge-collectibles/>Mal mini-bust from Razor&#x2019;s Edge Collectibles</a></li>
<li><a href=../../../external.html#http://community.livejournal.com/dragoncon/1051211.html>Legendary Leatherworks is selling leather lanyards with sayings from Firefly and Serenity online and at Dragon*Con this year.</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/898/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/934/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/87/index.html>The Signal: Season 3, Episode 12</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
