<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1907/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/2464/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 22: Revenge of the Mutant Lizards</h2>

<!-- audio src signal_terraformers_22.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_22.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/250/index.html>The Signal: Season 9, Episode 8</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Announcer</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td>as Waiter</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/27/index.html>Andy King</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><a></a><h2><span class=mw-headline>Revenge of the Mutant Lizards</span></h2>


<p><strong>By Helen Eaton</strong></p>


<dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>At last! A proper vacation. No work to do and best of all, Mr Spall several worlds away. Out of sight, out of mind and &#x2013; thank merciful Buddha &#x2013; out of radio contact. Happy holidays to us!</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>And what a place to spend our vacation in! I don&#x2019;t think I&#x2019;ve ever seen anywhere so full of cool creatures. I can&#x2019;t wait to go exploring! Happy holidays to us indeed!</dd>
<dt>NARRATOR</dt>
<dd>Episode number 22 &#x2013; Revenge of the Mutant Lizards</dd>
</dl>


<hr>
<p><em>Location: Hotel garden. Rainforest noises, parrots squawking, monkeys calling, etc. Wind in the trees, creaking of hammocks. Sound effects are quiet at first, while we&#x2019;re in Taya Ray&#x2019;s dream, and then louder as she wakes up.</em></p>


<dl><dt>MR SPALL</dt>
<dd><em>(Take line from end of episode 10, It Came From Beneath.)</em> BRUNEL, PARSEC!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Mumbling in her sleep.)</em> Sorry, Mr Spall... We didn&#x2019;t mean it&#x2026; We won&#x2019;t do it again&#x2026;</dd>
<dt>SARAH</dt>
<dd><em>(Her voice sounds distant at first, gets closer as Taya Ray starts to wake up. Speaks kindly and not sarcastically for a change.)</em>. Wakey wakey, Taya Ray. I really don&#x2019;t think the subject matter of your dream is vacation-appropriate.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Awake now, but somewhat groggy.)</em> Huh, what? <em>(Impressed.)</em> How did you know what I was dreaming? Are you a reader?</dd>
<dt>SARAH</dt>
<dd>Given that you are still half-asleep, and that I&#x2019;m in a good mood, I&#x2019;ll resist the urge to give that last question the withering response it deserves. As for your other question, you were mumbling something about Mr Spall. It was not exactly a leap of galactic proportions to assume that the subject of your dream was therefore not a pleasant one.</dd>
<dt>TAYA RAY</dt>
<dd>You&#x2019;re not wrong there! I was dreaming that a gang of killer squirrels stole Mr Spall&#x2019;s new shuttle and took off in search of a purple lake, which was full of magical singing frogs. <em>(Beat. Uncertain)</em> Wait. That didn&#x2019;t actually happen, did it?</dd>
<dt>SARAH</dt>
<dd><em>(Can&#x2019;t resist the opportunity to tease.)</em> Of course it did! How could you have forgotten? I mean, the paperwork involved in bringing those squirrels to justice was memorable enough, but transcribing the witness statements from the frogs was an unforgettable, and very tuneful, experience.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Realising she is being teased.)</em> Oh ha ha, very funny. <em>(Yawning.)</em> It&#x2019;s very unfair to tease someone who is quite so sleepy.</dd>
<dt>SARAH</dt>
<dd>Unfair, but irresistible. I&#x2019;ve got to find my entertainment somewhere. This place might be paradise, but it is a mite lacking when it comes to entertainment.</dd>
<dt>TAYA RAY</dt>
<dd>It is pretty awesome here, isn&#x2019;t it? I&#x2019;m so glad we decided to come here. <em>(Beat.)</em> Eventually.</dd>
<dt>SARAH</dt>
<dd><em>(Somewhat defensive.)</em> Choosing where to go on vacation is not easy when you&#x2019;re in the terraforming business, Taya Ray. You know that. I only vetoed your choices when I knew that there had been a glitch in the terraforming which would have spoiled our vacation in some way. I mean, would you really have enjoyed staying on that moon with the gigantic hornets?</dd>
<dt>TAYA RAY</dt>
<dd><em>(With a sigh.)</em> No, you&#x2019;re right. It was worth spending the time to find this place. Terraforming sure is a glitch-y business, though, isn&#x2019;t it?</dd>
<dt>SARAH</dt>
<dd>Yeah, I think that much we can testify to more than most, but we won&#x2019;t dwell on that now since&#x2026; <em>(With enthusiasm.)</em> We&#x2019;re on vacation!</dd>
<dt>TAYA RAY</dt>
<dd><em>(Equally enthusiastically)</em> Woo hoo! <em>(Clink of glasses.)</em></dd>
<dt>SARAH</dt>
<dd>One day everyone will find out about this place and it will become another Pelorum &#x2013; out of the price range of anyone not on a decent Core salary &#x2013; but for now, it&#x2019;s a private paradise just for us.</dd>
<dt>TAYA RAY</dt>
<dd>And for those monkeys on the grass over there. And for those very spectacular parrots in that tree.</dd>
<dt>SARAH</dt>
<dd>And for them too. I&#x2019;m good with sharing.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Totally freaked out.)</em> Da-shiang bao-tza shr duh lah doo-tze! <em>(Mal&#x2019;s response to Jayne&#x2019;s offer to trade Vera for Saffron.)</em></dd>
<dt>SARAH</dt>
<dd>What are you going on about now?</dd>
<dt>TAYA RAY</dt>
<dd><em>(Still totally freaked.)</em> Over there in the bush. You didn&#x2019;t see it?</dd>
<dt>SARAH</dt>
<dd>No. See what?</dd>
<dt>TAYA RAY</dt>
<dd>It was a lizard. A big one. Blue body, orange head. And, um&#x2026; <em>(Realising how this sounds.)</em> Feathers.</dd>
<dt>SARAH</dt>
<dd><em>(Sarcastically, not believing a word of it.)</em> A lizard with feathers? Nice one, Taya Ray. You had me going for a minute.</dd>
<dt>TAYA RAY</dt>
<dd>There it is again! Oh, it&#x2019;s grotesque! I don&#x2019;t think I want to stay out here any longer, Sarah.</dd>
<dt>SARAH</dt>
<dd><em>(Still resolutely unconvinced.)</em> Uh huh. Oh, the waiter&#x2019;s coming. Good. I think it&#x2019;s time for another drink.</dd>
</dl>


<p><em>Footsteps as the waiter approaches.</em></p>


<dl><dt>SARAH</dt>
<dd>Could I get another of these, please? I think my friend has had enough&#x2026;</dd>
<dt>WAITER</dt>
<dd>Certainly, madam. I also have this message from you. It came in just now and was marked as high priority.</dd>
<dt>SARAH</dt>
<dd>Oh, thanks.</dd>
</dl>


<p><em>Footsteps as the waiter leaves.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>What is it, Sarah?</dd>
<dt>SARAH</dt>
<dd>It&#x2019;s from Mr Spall. I guess he misses us. Either that or he&#x2019;s got some work for us. <em>(Beat.)</em> Yeah, it&#x2019;s work. &#x201C;Brunel, Parsec. Do not return to base after your holiday as urgent biodiversity readjustment protocol required in your present location. Details to follow. Think you&#x2019;ll enjoy this one. <em>(Beat. Voice falters over next sentence as she realises Taya Ray was telling the truth.)</em> Involves lizards with feathers.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Triumphant.)</em> Ha!</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1907/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/2464/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/250/index.html>The Signal: Season 9, Episode 8</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
