<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 21</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 21</h1>
<div><h2>Holiday Special</h2>
<div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/155/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/157/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_521_20091208.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_521_20091208.mp3 download=signal_season05_21.mp3>Download audio file</a></div>
<div class=info>Tuesday 8th December 2009</div>
Produced by Claire Musso<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/127/2/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 6 Opening Theme</h3>
<h4>Tiny Theme</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:00:12</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 5</h4>
<div>Les and Kari introduce the show and talk about another year in the Verse.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1571/156/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/130/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:15</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Dollhouse, season 1</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1577/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:23:14</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 5</h4>
<div><ul><li>The Chicago Tribune Article on Joss: <a href=../../../external.html#http://featuresblogs.chicagotribune.com/entertainment_tv/2009/12/dollhouse-fox-joss-whedon.html>Sex, secrets and 'Dollhouse': Joss Whedon talks about the end of his Fox show</a></li>
<li>The Podcast Awards - thanks for voting! Winners will be announced on December 12th.</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1571/156/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:22</td>
<td class=shownote><h3>Music Section</h3>
<h4>Spoiler Alert</h4>
<p>Music by <a href=../../../human/view/91/index.html>Tom Smith</a></p>
</td>
<td><a href=../../../segment/view/1574/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:28:52</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 5</h4>
<div>Uncensored versions of three segments. These contain strong language, and are intended for a mature audience only (which is why they're not on our feed). Download at your own risk.
<ul><li><a href=https://media.libsyn.com/media/thesignal/signal_x_deadwood.mp3 download>Broadwaves: Deadwood</a></li>
<li><a href=https://media.libsyn.com/media/thesignal/signal_x_hex.mp3 download>Sci-Fi Review: Hex</a></li>
<li><a href=https://media.libsyn.com/media/thesignal/signal_x_spaced.mp3 download>Broadwave Trivia: Spaced</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1571/156/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:21</td>
<td class=shownote><h3>Interview</h3>
<h4>QMx, part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1566/156/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/52/index.html><img src=../../../image/image/150/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:40:04</td>
<td class=shownote><h3>Borderline</h3>
<h4>Santo (revisited)</h4>
<div>Before the war, Santo was known throughout the 'verse as the vacation destination of choice. But all that changed when the war started, and fear kept people away. Many businesses collapsed. Entire hotel chains were forced to close down. Over the course of the half-decade of the war, the face of Santo changed utterly. And yet, despite the chaos, some people, and even some businesses, managed to keep going, and now business of a different nature is booming on Santo.</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/230/index.html>Pat Olver</a>; featuring <a href=../../../human/view/100/index.html>Joy Edwards</a>, <a href=../../../human/view/284/index.html>Noah Allson</a> and <a href=../../../human/view/16/index.html>Trampas Whiteman</a></p>
</td>
<td><a href=../../../segment/view/1581/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/101/index.html><img src=../../../image/image/111/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:55</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 27: 'Tis the Season</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1582/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/124/index.html><img src=../../../image/image/117/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:04</td>
<td class=shownote><h3>Heart of Firefly</h3>
<h4>Playing Parts</h4>
<div>A discussion of Our Mrs Reynolds.</div>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/1578/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:02:03</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 8</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1579/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:12:34</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1573/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:20:52</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>River That Was</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1444/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:28:26</td>
<td class=shownote><h3>Interview</h3>
<h4>QMx, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1566/156/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:39:57</td>
<td class=shownote><h3>Killer Angels and Dust Devils</h3>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/1563/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:48:26</td>
<td class=shownote><h3>Music Section</h3>
<h4>Reels</h4>
<p>Music by <a href=../../../human/view/238/index.html>Aff the Cuff</a></p>
</td>
<td><a href=../../../segment/view/1583/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:52:28</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 5</h4>
<div>Our search for new Signal crew</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1571/156/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:53:20</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 10: It Came from Beneath</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1567/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/112/index.html><img src=../../../image/image/116/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:59:40</td>
<td class=shownote><h3>They've All Got Stories</h3>
<h4>YoSaffBridg</h4>
<p>Written by <a href=../../../human/view/21/index.html>Merry King</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1575/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>2:08:43</td>
<td class=shownote><h3>Xie xie, Browncoats</h3>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1555/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>2:13:48</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 5 of 5</h4>
<div>Les and Kari close the show</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1571/156/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>2:15:16</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 2:15:40<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/155/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/157/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4862>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
