<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Badger's World: Season 2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Badger's World: Season 2</h1>
<div><div class=transport-bar><a href=../../../segment/view/1079/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1324/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/101/index.html>Up</a> &#x2022; <a href=../../../segment/view/1946/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3089/index.html>Last episode</a></div>
<h2>Episode 27: 'Tis the Season</h2>

<audio src=../../../../yonder/signal_badgersworld_27.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_badgersworld_27.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/2/index.html>Les Howard</a></td>
<td>as Harry</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Burt</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td>as Narrator</td>
</tr>
<tr class=even><td>Featuring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Chen</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Susan</td>
</tr>
<tr class=even><td>Music by</td>
<td><a href=../../../human/view/43/index.html>The Bedlam Bards</a></td>
<td>Eavesdown Docks</td>
</tr>
<tr class=odd><td>Edited by</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p><strong>Badger&#x2019;s World</strong></p>

<p>Holiday Special</p>

<p><strong>&#x2019;Tis The Season&#x2026;</strong></p>


<dl><dt>Voiceover</dt>
<dd>In all the years since Humanity left Earth That Was, much has been forgotten. Old mistakes have been made anew and history has more than once repeated itself, along with some new twists that make the old errors look mild in comparison. And yet, many old traditions have continued almost unchanged since before the great exodus. Certain dates have retained their significance and the giving and exchanging of gifts remains a popular seasonal activity. With one or two exceptions of course&#x2026;Meanwhile, in Chen&#x2019;s Throat Emporium&#x2026;</dd>
</dl>


<p>&lt;SFX: sounds of pub, music and voices in background&gt;</p>


<dl><dt>Harry</dt>
<dd>All I&#x2019;m sayin&#x2019; is that it wouldn&#x2019;t hurt none for him to show a little bit of&#x2026;.</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Harry, this is Mister Badger we&#x2019;re talkin&#x2019; about</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Yeah but&#x2026;.</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Our employer</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Yeah but he&#x2026;.</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Does what he wants</dd>
</dl>


<dl><dt>Harry</dt>
<dd>That don&#x2019;t give him the right to&#x2026;</dd>
</dl>


<dl><dt>Burt</dt>
<dd>It gives him every right. Harry, Mister Badger is the boss. We&#x2019;re just the hired help as it were</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Aw hell Burt, I know that, it&#x2019;s just&#x2026;</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Might be nice if he showed a little bit of common human decency once in a while?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Well&#x2026;yeah</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Be grateful for services rendered every now and then?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>That too</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Maybe even receive a gift in the spirit it was intended?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Exactly my point Burt</dd>
</dl>


<p>&lt;beat&gt;</p>


<dl><dt>Burt</dt>
<dd>You still don&#x2019;t know Mister Badger very well do you.</dd>
</dl>


<dl><dt>Chen</dt>
<dd>Who doesn&#x2019;t?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Ah, Chen. I was just trying to explain to Harry the finer points of what to expect if you give Mister Badger a present at this time of year</dd>
</dl>


<dl><dt>Harry</dt>
<dd>And not explainin&#x2019; it very well</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Well, that&#x2019;s as maybe. Those our drinks?</dd>
</dl>


<dl><dt>Chen</dt>
<dd>No I just carry this heavy tray around for the exercise. You got coin?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Can&#x2019;t you just stick it on the&#x2026;.</dd>
</dl>


<dl><dt>Chen</dt>
<dd>No tab! Not since that last little credit incident. You drink, you pay</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Yeah yeah..</dd>
</dl>


<p>&lt;SFX: coins exchanged, drinks put down&gt;</p>


<dl><dt>Harry</dt>
<dd>And you can wipe that smile off your face Harry, it&#x2019;s your round next</dd>
</dl>


<p>&lt;beat&gt;</p>


<dl><dt>Chen</dt>
<dd>So who made the mistake of giving Badger a Christmas present?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Ah&#x2026;that&#x2019;d be me I guess</dd>
</dl>


<dl><dt>Burt</dt>
<dd>And the bigger mistake of expecting something in return</dd>
</dl>


<dl><dt>Chen</dt>
<dd>What? Your Christmas bonus a bit on the thin side this year Harry?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Nah, it&#x2019;s just&#x2026;</dd>
</dl>


<dl><dt>Burt</dt>
<dd>And here we go again</dd>
</dl>


<dl><dt>Chen</dt>
<dd>So what did you give him?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Ah&#x2026;.</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Go on. Tell her.</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Ah&#x2026;.The Little Book of Calm</dd>
</dl>


<p>&lt;beat&gt;</p>


<dl><dt>Chen</dt>
<dd>You&#x2019;re kidding</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Hey it&#x2019;s a genuine antique from Earth That Was</dd>
</dl>


<dl><dt>Chen</dt>
<dd>Just like this one?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Yeah exactly like&#x2026;.hey, wait a minute!</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Oh this is good</dd>
</dl>


<dl><dt>Harry</dt>
<dd>&lt;agitated&gt; That&#x2019;s the book I gave Badger! I mean the actual copy, I recognise the stains on the cover!</dd>
</dl>


<dl><dt>Chen</dt>
<dd>Well maybe you should take a look at page 43</dd>
</dl>


<dl><dt>Harry</dt>
<dd>&lt;very agitated now&gt;What!</dd>
</dl>


<p>&lt;SFX: sound of book being leafed through&gt;</p>


<dl><dt>Burt</dt>
<dd>Allow me. It says, &#x201C;Why not try a few drops of lavender oil in your bathwater, Let the scent gently waft your concerns away&#x201D;</dd>
</dl>


<dl><dt>Harry</dt>
<dd>&lt;not at all calm&gt; What in the sphincter of hell is that supposed to mean?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Or maybe the last page might be more edifying: &#x201C; If you have enjoyed this facsimile antique edition, why not pass it on&#x201D; Compliments of Waffler, Tat and Kitsch, a division of The Blue Sun Corporation</dd>
</dl>


<p>&lt;beat&gt;</p>


<dl><dt>Harry</dt>
<dd>Oh.</dd>
</dl>


<dl><dt>Chen</dt>
<dd>Can I have my book back now?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>What? Oh sorry Chen, there ya go.</dd>
</dl>


<dl><dt>Chen</dt>
<dd>&lt;very slightly annoyed&gt; Thank you!</dd>
</dl>


<p>&lt;Chen leaves&gt;</p>


<dl><dt>Harry</dt>
<dd>Look, that still doesn&#x2019;t explain why Badger not only didn&#x2019;t even say thank you, but now he&#x2019;s simply passing on gifts to the next acquaintance he bumps into?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Well it is the season of giving</dd>
</dl>


<dl><dt>Harry</dt>
<dd>That&#x2019;s what I thought!</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Yeah, but you didn&#x2019;t think it all the way through did you</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Huh?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>You failed to take into consideration the fact that Mister Badger is a tight arsed git with all the seasonal cheer of a plague ridden Reaver and just as likely to give you a hug and a kiss under the mistletoe as acknowledge a pressie from a minion as anything other than his rightful due to do with what he wishes.</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Oh. That.</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Never mind. It&#x2019;s your round</dd>
</dl>


<dl><dt>Harry</dt>
<dd>How&#x2019;s that supposed to make me feel better?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>It&#x2019;s not. But it will do me a world of good!</dd>
</dl>


<p>&lt;fade through pub music to end title/credit&gt;</p>


<dl><dt>Voiceover</dt>
<dd>Next time, Burt and Harry discuss trust and obligation in financial transactions&#x2026;.</dd>
</dl>


<dl><dt>Harry</dt>
<dd>I don&#x2019;t get it. That was a guaranteed authentic genuine centuries old..&#x2026;what?</dd>
</dl>


<dl><dt>Burt</dt>
<dd>Don&#x2019;t tell me. You got it from Sergei right?</dd>
</dl>


<dl><dt>Harry</dt>
<dd>Ah&#x2026;.yeah</dd>
</dl>


<dl><dt>Burt</dt>
<dd>I rest my case</dd>
</dl>


<p>&lt;end&gt;</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1079/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1324/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/101/index.html>Up</a> &#x2022; <a href=../../../segment/view/1946/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3089/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/156/index.html>The Signal: Season 5, Episode 21</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
