<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 16.7</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 16.7</h1>
<div><h2>December Bonus Show</h2>
<div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/23/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/35/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_016.7_20051207a.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_016.7_20051207a.mp3 download=signal_season01_16.7.mp3>Download audio file</a></div>
<div class=info>Wednesday 7th December 2005</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 3</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:29</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div>Les and Kari introduce the show and talk about<p></p>
<ul><li>The Bedlam Bards' soon-to-be-released album, &quot;On the Drift&quot;</li>
<li>The Serenity Trade Paperback</li>
<li>The Snack-Sized Lego model of Serenity</li>
<li>The Killer Angels</li>
<li>Done the Impossible</li>
<li>The Firefly Soundtrack resource</li>
</ul>

Also, Les and Kari talk about the Signal's stats - we now have 12,000 listeners, the format of Season 2 of the Signal, and Les's new kitten.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/328/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:03:47</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 1 of 12</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:10:16</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 2 of 12</h4>
<div>The Ballad of Joss</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.scifidig.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:10:46</td>
<td class=shownote><h3>Promo: SciFiDig</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:11:22</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 3 of 12</h4>
<div>Paguin Rendezvous</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:03</td>
<td class=shownote><h3>Feedback</h3>
<h4>Part 1 of 3</h4>
<div><ul><li>Derek - Another Firefly RPG game</li>
<li>Paul - The Serenity DVD</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/332/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:17:07</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 4 of 12</h4>
<div>Big Damn Trilogy</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:18:52</td>
<td class=shownote><h3>The Reaver Challenge</h3>
<p>Written by <a href=../../../human/view/37/index.html>Andrew Ippolito</a>; read by <a href=../../../human/view/37/index.html>Andrew Ippolito</a></p>
</td>
<td><a href=../../../segment/view/334/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:21:37</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 5 of 12</h4>
<div>On the Drift</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:22:22</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div>Les and Kari talk about the Signal's stats - we now have 12,000 listeners!</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/328/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:24:00</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 6 of 12</h4>
<div>Saffron's Wedding Dance</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://treksinscifi.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:25:30</td>
<td class=shownote><h3>Promo: Treks in Sci-Fi</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:26:29</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 7 of 12</h4>
<div>The Hero of Canton</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:27:18</td>
<td class=shownote><h3>Feedback</h3>
<h4>Part 2 of 3</h4>
<div><ul><li>Derek - Another Firefly RPG game</li>
<li>Paul - The Serenity DVD</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/332/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:31:03</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 8 of 12</h4>
<div>River's Jig</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:31:51</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div>Les and Kari talk about the format of Season 2 of the Signal.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/328/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/40/index.html><img src=../../../image/image/44/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:42</td>
<td class=shownote><h3>Signal Promo</h3>
<h4>These are just a few of the segments we've recorded</h4>
<p>Starring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/345/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:35:03</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 9 of 12</h4>
<div>Theme Song Parody</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:36:22</td>
<td class=shownote><h3>Feedback</h3>
<h4>Part 3 of 3</h4>
<div><ul><li>Derek - Another Firefly RPG game</li>
<li>Paul - The Serenity DVD</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/332/24/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:42:33</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 10 of 12</h4>
<div>Eavesdown Docks</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:21</td>
<td class=shownote><h3>The Official Forum Purplebelly - a tribute to Rich Adams by the Signal Crew</h3>
<p>Read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/349/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:49:50</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 11 of 12</h4>
<div>Leaf on the Wind</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:07</td>
<td class=shownote><h3>Firefly Talk</h3>
<p>Written by <a href=../../../human/view/38/index.html>Eric Olsen</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/38/index.html>Eric Olsen</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/351/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:57:32</td>
<td class=shownote><h3>Interview</h3>
<h4>The Bedlam Bards, part 12 of 12</h4>
<div>The Rock Garden</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/329/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:58:51</td>
<td class=shownote><h3>A thank you from for getting us into the Podcast Pickle Hall of Fame</h3>
<p></p>
</td>
<td><a href=../../../segment/view/354/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:59:18</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div>Les and Kari talk about the Les's new kitten.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/328/24/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:00:58</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:01:22<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/23/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/35/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1704>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
