<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 12</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 12</h1>
<div><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/139/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/141/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_512_20090707.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_512_20090707.mp3 download=signal_season05_12.mp3>Download audio file</a></div>
<div class=info>Tuesday 7th July 2009</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:09</td>
<td class=shownote><h3>Banter</h3>
<div>Les and Kari introduce the show and talk about the 4th of July, and our Twitter account.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1447/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:55</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1449/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/128/index.html><img src=../../../image/image/136/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:35</td>
<td class=shownote><h3>Around the 'Verse in 80 Days</h3>
<h4>Ariel</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; featuring <a href=../../../human/view/25/index.html>Helen Eaton</a> and <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1431/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:02</td>
<td class=shownote><h3>Interview</h3>
<h4>Phil Rossi</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1450/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.crescentstation.net/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:43:11</td>
<td class=shownote><h3>Promo: Phil Rossi</h3>
<h4>Crescent (the novel)</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/138/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:46:40</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Eleventh Hour</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/1446/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/117/index.html><img src=../../../image/image/125/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:02:20</td>
<td class=shownote><h3>What's in a Signal?</h3>
<h4>Music Section</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1445/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:09:24</td>
<td class=shownote><h3>Music Section</h3>
<h4>Inara's Lament</h4>
<p>Music by <a href=../../../human/view/116/index.html>Terrifying Space Monkeys</a></p>
</td>
<td><a href=../../../segment/view/1414/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://tuningintoscifitv.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:15:09</td>
<td class=shownote><h3>Promo: Tuning Into Sci-Fi TV</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:16:00</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.critical-hits.com/2009/06/27/origins-awards-2009/>Origins award for RPG supplement</a></li>
<li><a href=../../../external.html#http://www.creationent.com/cal/serenity.htm>Guests at Creation's Salute to Firefly</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/20654>Serenity Screenings on US Sci-Fi Channel</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/20764>Firefly Official Companion, Volume 3</a></li>
<li><a href=../../../external.html#http://bashinginminds.com/2009/05/23/river-and-jayne-get-bloody-on-new-shirts/>New T-Shirts</a></li>
<li><a href=../../../external.html#http://www.fireflyfans.net/mthread.asp?b=5&amp;t=38902>FireflyFans.net website future uncertain</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1434/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:18:16</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:18:50<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/139/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/141/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4777>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
