<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 12.5</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 12.5</h1>
<div><h2>Dragon*Con 2005 Bonus Show</h2>
<div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/15/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/17/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_dc2005.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_dc2005.mp3 download=signal_season1_12.5.mp3>Download audio file</a></div>
<div class=info>Tuesday 4th October 2005</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Dragon*Con Special Opening Theme</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/34/index.html><img src=../../../image/image/66/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:24</td>
<td class=shownote><h3>Browncoat Interview</h3>
<h4>Carmen</h4>
<p></p>
</td>
<td><a href=../../../segment/view/253/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:02:19</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/242/16/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:53</td>
<td class=shownote><h3>Memories of Dragon*Con</h3>
<h4>Part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/211/16/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/34/index.html><img src=../../../image/image/66/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:07:15</td>
<td class=shownote><h3>Browncoat Interview</h3>
<h4>Serenity</h4>
<p></p>
</td>
<td><a href=../../../segment/view/255/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:08:15</td>
<td class=shownote><h3>Memories of Dragon*Con</h3>
<h4>Part 2 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/211/16/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/34/index.html><img src=../../../image/image/66/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:38:33</td>
<td class=shownote><h3>Browncoat Interview</h3>
<h4>Rob</h4>
<p></p>
</td>
<td><a href=../../../segment/view/254/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:40:35</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Audio recordings of Dragon*Con available online</li>
<li>Starfury Serenity Squared convention</li>
<li>The Big Damned Flanvention</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/244/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/34/index.html><img src=../../../image/image/66/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:41:45</td>
<td class=shownote><h3>Browncoat Interview</h3>
<h4>Heather</h4>
<p></p>
</td>
<td><a href=../../../segment/view/252/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:00</td>
<td class=shownote><h3>Interview</h3>
<h4>Nathan and Sandra Town</h4>
<div>The creators of Mosquito</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/249/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/34/index.html><img src=../../../image/image/66/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:09:41</td>
<td class=shownote><h3>Browncoat Interview</h3>
<h4>Eric</h4>
<p></p>
</td>
<td><a href=../../../segment/view/251/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:11:25</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<p>Hosted by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/242/16/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:12:07</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Mosquito version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:12:31<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/15/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/17/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
