<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 8</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 8</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/51/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/53/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_208_20060503a.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_208_20060503a.mp3 download=signal_season02_08.mp3>Download audio file</a></div>
<div class=info>Wednesday 3rd May 2006</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:19</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div><ul><li><a href=../../../external.html#http://cantstoptheserenity.com/#current>Cinemas showing Serenity</a></li>
<li><a href=../../../external.html#http://cantstoptheserenity.com>June 23rd charity showings of Serenity</a></li>
<li>Other June 23rd campaigns</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/531/52/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:44</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/536/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:06:35</td>
<td class=shownote><h3>Conversions and Healing</h3>
<p>Written by <a href=../../../human/view/49/index.html>Christopher Wilson</a>; read by <a href=../../../human/view/49/index.html>Christopher Wilson</a></p>
</td>
<td><a href=../../../segment/view/521/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:13:45</td>
<td class=shownote><h3>The Two Serenities</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/532/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/48/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:05</td>
<td class=shownote><h3>The Firefly Technical Manual</h3>
<div><ul><li>What are &quot;quadrants&quot; in the 'verse?</li>
<li>Is the picture of planet on Firefly boxset Mars?</li>
<li>What keeps the tea service from flying about in Inara's shuttle?</li>
<li>Wash says there is no power on Miranda, so how come the screens work?</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/539/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:27:58</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://groups.yahoo.com/group/ArielAmbulance/>Ariel Ambulance Fund reachs target goal of US$4000</a></li>
<li><a href=../../../external.html#http://www.boosterevents.com/>Jewel Staite has just announced as a guest at Flanvention II</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/04/24/pics-of-the-firefly-autograph-cards-up-at-inkworks/>Inkworks has updated their Firefly cards page with pictures of the autograph cards</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/04/23/trivia-contest-win-a-serenity-card-base-set/>SerenityStuff is giving away three base set of the Serenity cards</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/533/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:56</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Farscape</h4>
<p>Written by <a href=../../../human/view/6/index.html>Kari Haley</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/537/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:40:40</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div><ul><li>Kari's first writing assignment</li>
<li>Voting for the Signal</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/531/52/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:42:44</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Darren - Firefly and Babylon 5</li>
<li>Pella - Original cast audio dramas? [<a href=../../../external.html#http://www.niteshdw.com>NiteShdw forum</a>] [<a href=../../../external.html#http://www.bigfinish.com>Big Finish</a>]</li>
<li>Mallory - Campaigning still going strong</li>
<li>Mike - June 23rd</li>
<li>Dante - Thanks</li>
<li>Alasdair - Skiing to the Signal</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/534/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.sonicsociety.org/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:53:24</td>
<td class=shownote><h3>Promo: The Sonic Society</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:54:26</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div><ul><li>The Firefly fan movie <a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2425>Redemption</a></li>
<li>Firefly audio dramas</li>
<li>The forthcoming podcast <a href=../../../external.html#http://talesfromtheverse.com>Tales from the 'Verse</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/531/52/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/49/index.html><img src=../../../image/image/62/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:58:18</td>
<td class=shownote><h3>Tricks from the Training House</h3>
<h4>Introduction</h4>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; starring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/455/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:01:30</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div><ul><li>Our competition to win signed Firefly and Serenity soundtracks</li>
<li>Ariel Ambulance Day</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/531/52/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:03:42</td>
<td class=shownote><h3>Music Section</h3>
<h4>Reaver</h4>
<div><ul><li>Lyrics: Kessie</li>
<li>Audioclips: Monika and Bernd / Kaywin</li>
<li>Keyboard and Sounds: Jacen</li>
<li>Male voice: Jacen</li>
<li>Female Voice: Djini</li>
<li>Soundclips: Firefly soundtrack of Greg Edmonson</li>
<li>Music, recording and production: Kaywin</li>
<li>All lead vocals, Guitars and Instruments: Kaywin</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/535/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://cantstoptheserenity.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:09:45</td>
<td class=shownote><h3>Promo: Can't Stop the Serenity</h3>
<h4>2006</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:30</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:11:54<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/51/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/53/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2430>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
