<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Yi Weng</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Yi Weng</h1>
<div><h2>Emails edited by Yi Weng</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Feedback</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2623/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2657/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2687/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2703/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2723/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments edited by Yi Weng</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2682/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2698/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2709/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2733/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2833/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Broadwaves: Homeland</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2766/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dead System 2: Travellin' the 'Verse</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2800/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Does that Seem Right to You?: The Earth Got Used Up</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2744/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: Those Little Reminders</td>
<td>The Signal: Season 8, Episode 1</td>
<td><a href=../../../segment/view/2627/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Editorial: Book Review - Firefly: A Celebration</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2792/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Everyone Lies</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2673/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2687/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2703/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Matthew's Choice</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2785/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>From Signal Speculation to the Tabletop</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2788/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Interview: Jane Espenson</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2724/233/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Interview: Patric Reynolds</td>
<td>The Signal: Season 8, Episode 12</td>
<td><a href=../../../segment/view/2779/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Interview: Marian Call</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2791/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2637/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2655/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2701/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2776/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the Con</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2827/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Nine Different Things</td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2851/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Not a Good-Bye</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2835/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Promoting the Guild</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2829/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Resistance in the 'Verse</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2699/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: Keeping Time in the 'Verse</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2628/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Serenity Speculation: How'd Mal Pay for Serenity?</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2757/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: The Origins of Indenture</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2780/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Silence in Space: Jaynestown</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2715/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Silence in Space: Out of Gas</td>
<td>The Signal: Season 8, Episode 9</td>
<td><a href=../../../segment/view/2716/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Silence in Space: War Stories</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2770/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Silence in Space: The Message</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2793/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Silence in Space: Objects in Space</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2822/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The Bipolar World of Malcolm Reynolds</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2636/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Tension is Killing Them</td>
<td>The Signal: Season 8, Episode 14</td>
<td><a href=../../../segment/view/2760/index.html>shownotes</a></td>
</tr>
<tr class=even><td>What Sounds Like Firefly? Pt. I</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2654/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
