<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 1</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 1</h1>
<div><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/130/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_501_20090127.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_501_20090127.mp3 download=signal_season05_01.mp3>Download audio file</a></div>
<div class=info>Tuesday 27th January 2009</div>
Produced by Merry King<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:09</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div>Our upcoming season 5</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1334/129/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:18</td>
<td class=shownote><h3>A Thousand Words</h3>
<div>Review of Jason Palmer's Limited Edition Serenity Portrait Set
<ul><li><a href=../../../external.html#http://www.jasonpalmer.net/>Jason Palmer Studios site with all the art. Click the main set image to get the special discount when ordering print sets</a></li>
<li><a href=../../../external.html#http://www.shop.serenityprint.com/main.sc>Jason Palmer Studios Inc online shop</a></li>
</ul>
</div>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1336/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:16:37</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div>Jason's prints, and our new crewmembers</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1334/129/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:19:05</td>
<td class=shownote><h3>How Did I Fall in Love with a Ship?</h3>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/1335/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://buffybetweenthelines.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:30:16</td>
<td class=shownote><h3>Promo: Buffy between the Lines</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:22</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/18644>Sonny Rhodes in ill health and financial difficulty. Browncoats encouraged to help.</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/18639>Can't Stop The Serenity needs YOU to be in their video.</a></li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com/?p=77>Competition to design the 2009 Can't Stop The Serenity logo!</a></li>
<li><ul><li><a href=../../../external.html#http://www.cantstoptheserenity.com/?p=28>Additional Info</a></li>
</ul>
</li>
<li><a href=../../../external.html#http://whedonesque.com/comments/18644>Sonny Rhodes in bad health, needs a hand up</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/18152>Summer Glau & Adam Baldwin at T1 Convention</a></li>
<li><a href=../../../external.html#http://www.fireflyshipworks.com/2008/11/keep-flyin/>Serenity Scenes animated posters from QMx</a></li>
<li><ul><li><a href=../../../external.html#http://store.quantummechanix.com/Keep-Flyin-Serenity-Scenes-Poster-Set_p_0-56.html>Additional Info</a></li>
</ul>
</li>
<li><a href=../../../external.html#http://www.newscientist.com/article/mg20026826.300-scifi-special-your-alltime-favourite-science-fiction.html>Serenity places third in New Scientist Magazine's Favorite SF films Poll</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1337/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:33:26</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div>Our new website, and Broadwaves - our new-look Sci-Fi Review</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1334/129/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/131/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:37:01</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Secret Army</h4>
<div><ul><li><a href=../../../external.html#http://www.amazon.co.uk/Secret-Army-Complete-Bernard-Hepton/dp/B0002XOZOM/ref=sr_1_1?ie=UTF8&amp;s=dvd&amp;qid=1230758425&amp;sr=8-1>Listing on Amazon UK</a></li>
<li><a href=../../../external.html#http://www.imdb.com/title/tt0075579/>Listing on IMDB</a></li>
<li><a href=../../../external.html#http://www.survivorstvseries.com/SecretArmy_Index.htm>Le Candide</a> Secret Army website</li>
</ul>
</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1348/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.scifitalk.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:52:44</td>
<td class=shownote><h3>Promo: Sci-Fi Talk</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:44</td>
<td class=shownote><h3>Music Section</h3>
<h4>Apprentice</h4>
<p>Music by <a href=../../../human/view/122/index.html>Vixy and Tony</a></p>
</td>
<td><a href=../../../segment/view/1339/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:00:39</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1344/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:07:52</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div>Doctor Horrible</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1334/129/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:09:31</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:09:54<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/130/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4678>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
