<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2850/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2886/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>Nine Different Things</h2>
<div>First aired: <a href=../../../show/view/242/index.html>The Signal: Season 8, Episode 17</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/560/index.html>Yi Weng</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>JOSS</dt>
<dd>It&#x2019;s about nine people looking into the blackness of space and seeing nine different things. That to me is what&#x2019;s interesting.</dd>
</dl>


<p>As I write now, the sun is setting on a cloudless day and it won&#x2019;t be long before I can look out into the night sky of Earth-that-still-is and enjoy an awe-inspiring starry African sky, unspoiled by light pollution. Sometimes when I am enjoying such a sight, I think of Firefly, and of nine people seeing nine different things. And I start to wonder. What is it that they see?</p>

<p>It is not hard to understand what Mal sees when he looks out into the blackness of space. For him, the black represents his best chance to get away from the meddling arm of the Alliance and be free. Mal is running away from something, rather than towards something. He is not travelling through space and visiting different worlds for the sake of adventure or excitement, but simply to get away from all who would thwart his desire for independence and freedom:</p>


<dl><dt>MAL</dt>
<dd>So we got a course set?</dd>
<dt>WASH</dt>
<dd>We do. Took a little creative navigating, but we should make it all the way to Greenleaf without running afoul of any Alliance patrols. Or a single living soul, for that matter.</dd>
<dt>MAL</dt>
<dd>Good. Way it should be.</dd>
</dl>


<p>As long as Mal has a working ship which can keep him flying, he can look out into the blackness of space and see freedom.</p>

<p>When Mal is persuading Zoe to join him on Serenity, he asks her to see past what the ship is and on to what she can be, namely, freedom. The fact that this is his strategy for convincing Zoe to become part of his crew suggests that for Zoe as well, the black represents freedom. For Zoe, I think, the black is more than freedom though. It is also home. In the shooting script for Heart of Gold, Wash asks her, &#x201C;And this beautiful baby of ours, you don&#x2019;t mind that it&#x2019;s going to grow up on a spaceship?&#x201D; Zoe replies, &#x201C;Worked fine for me.&#x201D; Space is not just the best way to avoid the Alliance, it is a place to make a home, and a family. The following exchange, as Serenity heads towards Persephone in Shindig, suggests that Zoe could more easily make her home planetside than Mal though:</p>


<dl><dt>MAL</dt>
<dd>Well, ain't that a joyful sight.</dd>
<dt>WASH</dt>
<dd>Gotta love a sunset.</dd>
<dt>ZOE</dt>
<dd>Startin' to get familiar, too. Like a second home.</dd>
<dt>MAL</dt>
<dd>Persephone ain&#x2019;t home. Too many people we need to avoid. Resupply, look for work, move along. We sniff the air, we don't kiss the dirt.</dd>
</dl>


<p>In the same conversation, Zoe queries Wash&#x2019;s enthusiasm for staying awhile on Persephone, saying, &#x201C;Thought you'd get land-crazy, that long in port.&#x201D; The suggestion is that for Wash, the black is also where he feels most at home. Perhaps it is simply that he feels most at home where he can do his job as a pilot. Maybe though it is something more romantic than that.</p>


<dl><dt>SAFFRON</dt>
<dd>I've never been off world before.</dd>
<dt>WASH</dt>
<dd>It&#x2019;s beautiful, isn't it?</dd>
<dt>SAFFRON</dt>
<dd>It's like a dream.</dd>
<dt>WASH</dt>
<dd>Planet I'm from, you couldn't see a one of &#x2018;em, pollution's so thick. Sometimes I think I entered flight school just to see what the hell everyone was talking about.</dd>
</dl>


<p>Wash looks into the blackness of space and sees beauty.</p>

<p>Kaylee is another character who, in contrast to Mal, seems to look at the black as a place of adventure and beauty, rather than simply as a place of escape. When Mal invites Kaylee to join Serenity&#x2019;s crew as a mechanic, her face is a picture of joyful anticipation. In another contrast with Mal, the black for Kaylee is not the best place for avoiding people, but quite the opposite:</p>


<dl><dt>KAYLEE</dt>
<dd>No, it's shiny! I like to meet new people. They've all got stories...</dd>
</dl>


<p>As for Jayne, his view of the vasty nothingness seems, at first glance, to be prosaic in the extreme:</p>


<dl><dt>JAYNE</dt>
<dd>Oh, hell. I've been to the edge. Just looked like more space.</dd>
</dl>


<p>Perhaps the black represents the best chance for someone with his skills to find employment, and a way to avoid damplung and be able to send some credits home to his family. Jayne is aware that his kind of life doesn&#x2019;t last long though, and tells Book, &#x201C;I expect I'm invested in making good sport of it whilst I can.&#x201D; He has no romantic illusions about space. He knows it is a hostile place, and that he is one of those making it that way.</p>

<p>Bearing in mind that space is indeed such a hostile environment, why then would someone like Inara, who could live somewhere far more comfortable, choose an itinerant life in the black?</p>


<dl><dt>INARA</dt>
<dd>Well, we're all running from something, I suppose.</dd>
</dl>


<p>What that &#x201C;something&#x201D; might be is not revealed. We know that Inara supported unification and is therefore not running from the Alliance in the way that Mal is, but beyond that, we can only speculate.</p>

<p>Another character whose view of the black comes obscured by some mystery is Book:</p>


<dl><dt>BOOK</dt>
<dd>Been out of the world for a spell. Like to walk it a while, maybe bring the word to them as need it told.</dd>
</dl>


<p>It is not until the comic The Shepherd&#x2019;s Tale that we get an explanation for why Book has been &#x201C;out of the world&#x201D;. What brings him back into the world though seems to be a missionary desire to share the faith he has found with those he meets. The black to him is therefore a place where there are people who may want to hear what he has to say. Like Kaylee, for Book, making a home in the black is a way to meet people, rather than to avoid them.</p>

<p>In contrast, Simon is clearly with Mal in seeing the black as the best way to avoid people, specifically those of the Alliance persuasion. Their reasons for wanting to avoid the Alliance are quite different, of course, and so are their views on life in the black:</p>


<dl><dt>SIMON</dt>
<dd>Fun. Right. I consider this &#x201C;fun.&#x201D; It's &#x201C;fun&#x201D; being forced to the ass-end of the galaxy, to get to live on a piece of &lt;crap&gt; wreck and eat molded protein and be bullied around by our &lt;stubborn martinet&gt; of a captain. It&#x2019;s &#x201C;fun.&#x201D;</dd>
</dl>


<p>For most of the series, Simon sees the black as a hostile environment which means all his attention must be on keeping River safe. But towards the end of the film, when death at the hands of the reavers is seemingly imminent, he finally sees that there could be more to life in the black than this for him, thanks to Kaylee.</p>

<p>And finally there is River. Her view of most things is hard to fathom, but we do get to see her reactions to a very literal view of the black. As she and Simon cling to Serenity&#x2019;s hull in order to hide from the Alliance in Bushwhacked, the contrast in their faces is clear. Simon is overwhelmed and afraid, whereas River, as the shooting script puts it, &#x201C;stares off into the limitless void of space, seemingly taking a kind of deep comfort from the vastness of it. She's doing something that we haven't really seen her do... she's smiling.&#x201D; Is it the emptiness of space which comforts her? Does the lack of people with their painful thoughts and feelings make the black a haven for a reader like River?</p>

<p>Firefly is about nine people looking out into the black and seeing nine different things. For me, in my sadly landlocked state, looking at the black involves looking up, rather than out. But when I do look up, what I see makes me think of a fictional spaceship I fell in love with several years ago, a crew of characters whose stories continue to fascinate me and a created world so rich that it could not die. And then I think of where my love for this &#x2018;verse has led me: to writing for a podcast, to new friends, to new actors and writers to follow, to new music to love and to a whole world of online geekery to enjoy. So, when I look up into the blackness of space, I see many, many reasons to be thankful.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2850/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/2886/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/242/index.html>The Signal: Season 8, Episode 17</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
