<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2393/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/2436/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/207/index.html>The Signal: Season 7, Episode 13</a></div>
<div><ul><li><a href=../../../external.html#http://www.darkhorse.com/Books/18-741/Serenity-Volume-2-Better-Days-and-Other-Stories-2nd-Edition-hardcover-collection>Dark Horse Comics to release hardcover Better Days and Other Stories 7 September 2011</a></li>
<li><a href=../../../external.html#http://www.fearnet.com/news/b23054_tucker_dale_vs_evil_vs_san_diego.html>Alan Tudyk at San Diego Comic Con for Tucker and Dale</a></li>
<li><a href=../../../external.html#https://www.facebook.com/knightsofbadassdom/posts/238587669502506>Summer Glau at San Diego Comic Con for Knights of Badassdom</a></li>
<li><a href=../../../external.html#http://www.armageddonexpo.com/nz/tv-movie-stars/mark-sheppard>Mark Sheppard at Armageddon Expo from October 28 through 31st, purchase tickets August 1st through iTicket</a></li>
<li><a href=../../../external.html#http://store.qmxonline.com/Kaylee--Big-Damn-Heroes-Animated-Maquette-2_p_128.html>QMx Kaylee Big Damn Heroes Animated Maquette</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/479/index.html>Bindiya Dale</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/479/index.html>Bindiya Dale</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/479/index.html>Bindiya Dale</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2393/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/2436/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/207/index.html>The Signal: Season 7, Episode 13</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
