<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Editorial</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Editorial</h1>
<div><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2225/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/2314/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
<h2>Taking a Journey</h2>
<div>First aired: <a href=../../../show/view/199/index.html>The Signal: Season 7, Episode 6</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/484/index.html>Cornelius Wilkening</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>DORALEE</dt>
<dd>Sometimes life takes you places you weren't expectin&#x2019; to go.</dd>
</dl>


<p>What did you think would happen when you sat down to watch Firefly for the first time? Did you expect simply to enjoy being entertained for a while and that would be it? That was certainly my expectation, and I imagine I&#x2019;m not alone in this. But when I first watched Firefly, I started a journey that would take me places I was not expecting to go. I had absolutely no idea that a television series could, and would, end up having such an impact on my life.</p>

<p>Now, before I go any further, I should clarify that Firefly has not changed the core (so to speak) of my life. I still have the same belief system, do the same job for the same reason, have the same relationships with family and friends, and so on. But what it has changed is the way I spend my leisure time, and it&#x2019;s changed it in a good way, introducing me to things that I would never have tried, or perhaps would have got to much later, without Firefly as a way in.</p>

<p>Let&#x2019;s start with the wonderful world of podcasts. The Signal was the first podcast I ever listened to and I find it hard now to remember what bus journeys, house cleaning and cooking were like without podcasts to keep me company. Prior to discovering The Signal and Firefly Talk, my impression of fan-created content was that it was simply celebrity-obsessed websites and dodgy fanfiction. I was surprised and happy to discover that amateur-made podcasts could be so, well, professional.</p>

<p>As I continued my journey into the fandom, I started to pay attention to the music that was being created in response to Firefly and Serenity. I learned a new word, &#x201C;filk&#x201D;, and discovered some musicians that I now count as among my favourites. I also followed some trails further afield and found that the non-filk recommendations of fellow Browncoats led me to some more great music. As I check my most played tracks now, I realise that 24 out of 25 are either directly or indirectly related to the &#x2018;verse.</p>

<p>Recommendations from Browncoats regarding books and television series also led me in some great directions. It&#x2019;s of course not the case that all Browncoats have the same taste, but in my experience, the likelihood of agreeing with each other&#x2019;s recommendations is a lot higher than chance. As an example, having heard Orson Scott Card interviewed expressing his appreciation for the storytelling in Firefly, I decided to try one of his books, thinking that an author who recognised great storytelling might well be a great storyteller himself. Happily, I discovered this to be true.</p>

<p>I&#x2019;ve had a particularly high success rate with recommendations from fellow Signal crew members. Nick mentioned in passing how he enjoyed Larry Niven&#x2019;s work so when I got the chance, I picked up Ringworld, and loved it. Miranda&#x2019;s enthusiasm for Chuck and Castle got me into those series and Jill&#x2019;s review of Odyssey 5 back in season 3 of The Signal encouraged me to pick that up. I now have a list as long as my leg of DVDs to buy and it will be a long time before I&#x2019;m at a loss for what to try next.</p>

<p>I imagine my experiences may sound familiar to many of you listening, but if you haven&#x2019;t set out on this kind of journey and would like to, why not start by reading some of the relevant posts over at The Signal forum? In my experience, it&#x2019;s a journey worth taking.</p>


<dl><dt>SALESMAN</dt>
<dd>A real beauty, ain't she? Yes sir. Tell you what, you buy this ship, treat her proper, she'll be with ya for the rest of your life.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2225/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/2314/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/199/index.html>The Signal: Season 7, Episode 6</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
