<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 1, Episode 12</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 1, Episode 12</h1>
<div><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/14/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/16/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_012_20050928b.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_012_20050928b.mp3 download=signal_season01_12.mp3>Download audio file</a></div>
<div class=info>Wednesday 28th September 2005</div>
Produced by Miranda Thomas<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 1 Opening Theme</h3>
<h4>Version 3</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:17</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div>Les and Kari introduce the show and talk about Serenity and how to avoid spoilers... and the forthcoming interview with Morena Baccarin.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/229/15/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:24</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Keith R. A. Decandido to appear at signing.</li>
<li>UK Sci-Fi Channel to have Firefly marathon weekend</li>
<li>Nathan and Summer to appear at England Red Carpet premiere</li>
<li>Serenity RPG now on sale</li>
<li>Firefly soundtrack available as digital download</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/231/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/10/index.html><img src=../../../image/image/33/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:07:34</td>
<td class=shownote><h3>Blue Sun Public Service Announcement</h3>
<h4>Care of Protein Packets</h4>
<p>Written by <a href=../../../human/view/9/index.html>Clay McClure</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/214/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:30</td>
<td class=shownote><h3>Interview</h3>
<h4>Morena Baccarin</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/206/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:24:50</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div>Les and Kari talk about Serenity and the Morena Baccarin interview.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/229/15/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://elmocast.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:25:57</td>
<td class=shownote><h3>Promo: ElmoCast</h3>
<h4>The top ten ways to tell if you are a browncoat</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/32/index.html><img src=../../../image/image/49/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:27:45</td>
<td class=shownote><h3>Done the Impossible</h3>
<h4>Part 1</h4>
<div><ul><li>Interview Highlights: Adam Baldwin, Joss Whedon, Ron Glass, Morena Baccarin, Jewel Staite, Orson Scott Card, Brett Matthews and JP Bernardo.</li>
<li>Opening & Closing Music: &quot;The Ballad of Joss&quot; by The Bedlam Bards</li>
<li>Background Music: &quot;Come To The Dance&quot; by Emerald Rose</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/12/index.html>Brian Wiser</a> and <a href=../../../human/view/11/index.html>Jeremy Neish</a></p>
</td>
<td><a href=../../../segment/view/235/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:29</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<div>Recap</div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/232/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:38:44</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div>Les and Kari talk about the Firefly soundtrack digital download.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/229/15/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:40:25</td>
<td class=shownote><h3>Music Section</h3>
<h4>Mal's Song</h4>
<p>Music by <a href=../../../human/view/32/index.html>Michelle Dockrey</a></p>
</td>
<td><a href=../../../segment/view/234/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:45:12</td>
<td class=shownote><h3>Blue, Grey, Purple, and Brown: Civil War Influences in Firefly</h3>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/28/index.html>J. D. Ravatt</a></p>
</td>
<td><a href=../../../segment/view/230/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:18</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Mary Sue - Why Book didn't realize Inara was a companion</li>
<li>Tom - The fate of the blue hand guys in &quot;Those Left Behind&quot;</li>
<li>Christina - &quot;Those Left Behind&quot; for the blind?</li>
<li>Baz - Thoughts of a movie critic</li>
<li>Agnieszka - Polish release date for Serenity</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/233/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:03:00</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div>Les and Kari talk about (and quash) the rumor that Joss isn't allowed to make Firefly.</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/229/15/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:04:26</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:04:53<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/1/index.html>First show</a> &#x2022; <a href=../../../show/view/14/index.html>Previous show</a> &#x2022; <a href=../../../season/view/1/index.html>Up</a> &#x2022; <a href=../../../show/view/16/index.html>Next show</a> &#x2022; <a href=../../../show/view/38/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=1148>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
