<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7, Episode 2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7, Episode 2</h1>
<div><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/194/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/196/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0702_20110208.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0702_20110208.mp3 download=signal_season07_02.mp3>Download audio file</a></div>
<div class=info>Tuesday 8th February 2011</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/168/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 7 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:04</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2180/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:35</td>
<td class=shownote><h3>Editorial</h3>
<h4>Celebrate</h4>
<p>Written by <a href=../../../human/view/96/index.html>Kara Helgren</a>; read by <a href=../../../human/view/96/index.html>Kara Helgren</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2184/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:10</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>Survival of the Fittest</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; edited by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/2198/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:13</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li><a href=../../../external.html#http://www.geeksversusnerds.com/podcasts/295-han-solo-versus-malcolm-reynolds-season-finale>Geeks versus Nerds</a> (Nathan Fillion phones in to defend Mal)</li>
</ul>
</div>
<p>Emails read by <a href=../../../human/view/17/index.html>Nick Edwards</a>; emails edited by <a href=../../../human/view/1/index.html>Jill Arroway</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2183/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:28</td>
<td class=shownote><h3>Interview</h3>
<h4>Mike Dougherty, part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2165/195/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:50</td>
<td class=shownote><h3>The Clothes and the Characters</h3>
<div>Learning about the characters through the clothes that they wear.</div>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2181/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/128/index.html><img src=../../../image/image/136/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:55:32</td>
<td class=shownote><h3>Around the 'Verse in 80 Days</h3>
<h4>Ezra</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; featuring <a href=../../../human/view/5/index.html>Miranda Thomas</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2191/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/161/index.html><img src=../../../image/image/158/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:02:22</td>
<td class=shownote><h3>Firefly in Five Lines</h3>
<h4>Paul's Choice</h4>
<p>Written by <a href=../../../human/view/477/index.html>Paul Korswagen</a>; read by <a href=../../../human/view/477/index.html>Paul Korswagen</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2190/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:07:02</td>
<td class=shownote><h3>Interview</h3>
<h4>Mike Dougherty, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2165/195/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:16:12</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:16:48<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/194/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/196/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
