<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>David Newman</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>David Newman</h1>
<div><h2>Music by David Newman</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Music Section: Going for a Ride</td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/152/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: An extended version of <q>Serenity</q></td>
<td>The Signal: Season 1, Episode 15</td>
<td><a href=../../../segment/view/288/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: The Ballad of Serenity (movie version)</td>
<td>The Signal: Season 1, Episode 16</td>
<td><a href=../../../segment/view/302/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: The Ballad of Serenity (movie version)</td>
<td>The Signal: Season 2, Episode 2.5</td>
<td><a href=../../../segment/view/476/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: River's Turn</td>
<td>The Signal: Season 2, Episode 4</td>
<td><a href=../../../segment/view/495/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Serenity (guitar version)</td>
<td>The Signal: Season 2, Episode 12</td>
<td><a href=../../../segment/view/594/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: The Maidenhead</td>
<td>The Signal: Season 3, Episode 3</td>
<td><a href=../../../segment/view/799/77/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Approaching the Training House</td>
<td>The Signal: Season 3, Episode 4</td>
<td><a href=../../../segment/view/822/78/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Good Answer</td>
<td>The Signal: Season 3, Episode 5</td>
<td><a href=../../../segment/view/835/79/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Movie Snippet</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2737/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Music Section: Clip - Flying to the Trap</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2932/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
