<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Road Trip</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Road Trip</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/145/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/65/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/231/1/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Portland, Oregon (1)</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3147/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Portland, Oregon (2)</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3146/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Portland, Oregon (3)</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3144/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Arcata, California</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3143/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Kansas City, Missouri</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3142/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Lansing, Michigan (1)</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3141/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Lansing, Michigan (2)</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3140/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Elsmere, Kentucky</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3139/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Atlanta, Georgia</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3138/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Boston, Massachusetts</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3137/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Cambridge, Massachusetts</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3136/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Banbury, England</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3135/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Milton Keynes, England</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3134/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Farnham, England</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3133/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Colchester, England</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3132/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Delft, the Netherlands</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3128/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Uelzen,Germany</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3130/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Hamburg, Germany</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3131/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mbeya, Tanzania</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3129/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/145/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/65/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
