<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1399/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1520/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>A Place in the Middle</h2>

<!-- audio src=signal_heartoffirefly_02.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_heartoffirefly_02.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/149/index.html>The Signal: Season 5, Episode 15</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Much has been said and written regarding the effectiveness of The Train Job as an introduction to the Firefly &#x2018;verse, but if we leave that discussion aside and avoid comparisons with the originally intended pilot episode, what do we have? Well, a great episode, in my opinion! I like to think of The Train Job as representing a time when things were going well for Mal and his crew, at least before the train job itself started to go wrong. Hence Mal&#x2019;s lighter mood at the start of the episode and his playful banter with many of the crew. Once that is explained away, I find I can enjoy this episode very much.</p>


<dl><dt>JAYNE</dt>
<dd>Your move.</dd>
<dt>ZOE</dt>
<dd>That's a bold move.</dd>
<dt>MAL</dt>
<dd>I live on the edge.</dd>
<dt>JAYNE</dt>
<dd>Nice work, dumbass.</dd>
<dt>MAL</dt>
<dd>I've given some thought to moving off the edge, not an ideal location... might get a place in the middle...</dd>
<dt>LUND</dt>
<dd>Toast. A toast. Quiet. Shut up!</dd>
</dl>


<p>So what is it that makes The Train Job good? Well, first up there&#x2019;s some great humour, and some great action, in the bar fight scene, topped off with a spectacular entrance by Serenity. Then there is some wonderful banter between Mal and pretty much everyone else on board Serenity, particularly Zoe, with whom he shares many witty exchanges, such as the following:</p>


<dl><dt>KAYLEE</dt>
<dd>They're fine. So, what happened? Was there a terrible brawl?</dd>
<dt>ZOE</dt>
<dd>Oddly enough, there was.</dd>
<dt>WASH</dt>
<dd>Are you getting my wife into trouble?</dd>
<dt>MAL</dt>
<dd>What? I didn't start it. Just wanted a quiet drink.</dd>
<dt>ZOE</dt>
<dd>Funny, Sir, how you always seem to find yourself in some Alliance-friendly bar come U-Day, looking for a &quot;quiet drink.&quot;</dd>
<dt>MAL</dt>
<dd>See, this is a sign of your tragic space dementia. All paranoid and crotchety, it breaks the heart.</dd>
</dl>


<p>And of course later Zoe has the brilliant line, &#x201C;Sir, I think you have a problem with your brain being missing.&#x201D;</p>

<p>Mal and Zoe are not the only ones to have great lines in this episode though. Jayne has three classics &#x2013; &#x201C;Time for some thrilling heroics&#x201D;, the chain of command speech and &#x201C;I was aimin&#x2019; for his head&#x201D; - plus some great physical humour when Simon dopes him. And while we&#x2019;re on physical humour, we mustn&#x2019;t forget that extremely memorable moment with Crow and a certain ship&#x2019;s engine.</p>

<p>But what I appreciate most about The Train Job is the way it clearly shows us the kind of world Mal and the crew of Serenity live in. Not in the sense that it is a multi-cultural world that mixes technology and pioneering hardship, although it does that very effectively, but in the sense that we get to see what right and wrong, and good and bad, mean in this world.</p>

<p>Our introduction to Mal sees him quite happily talk his way into a bar fight. This is clearly not someone who is averse to a bit of ungentlemanly behaviour. The fight is rough, but still playful in many respects. Mal kicks and punches, but he isn&#x2019;t the one to pull a gun and when someone does, we can see that this isn&#x2019;t the way he wanted the fight to develop.</p>


<dl><dt>MAL</dt>
<dd>Whoa, ha ha, ho ho ho. Well, there's just an acre of you fellows... This is why we lost, you know: superior numbers.</dd>
<dt>ZOE</dt>
<dd>Thanks for the reenactment, sir.</dd>
<dt>JAYNE</dt>
<dd>Hey, he, them ain't kosherized rules...</dd>
</dl>


<p>After coming back on Serenity, he announces &#x201C;Got us some crime to be done&#x201D;. He doesn&#x2019;t equivocate &#x2013; he knows which side of the law he&#x2019;s on.</p>

<p>As the episode progresses, our initial impression of Mal is softened by his interaction with the rest of the crew and some of the comments they make. Book expresses his curiosity that Mal would take Simon and River on and Mal&#x2019;s reply that it was the &#x201C;right thing to do&#x201D;, while clearly said in a mocking tone, doesn&#x2019;t rule out the possibility that there&#x2019;s some truth in it. Then later in conversation with Inara, Mal reveals a gentler side to his nature as he voices his concern for her safety as Serenity and her crew head to Niska&#x2019;s skyplex.</p>


<dl><dt>MAL</dt>
<dd>There&#x2019;s um&#x2026; We haven&#x2019;t go a location yet. We&#x2019;ll be landing on a skyplex in a bit, run by a fellow called Niska.</dd>
<dt>INARA</dt>
<dd>Never heard of him.</dd>
<dt>MAL</dt>
<dd>Well I have, and while we're there you'll stay confined to the ship.</dd>
<dt>INARA</dt>
<dd>Is the petty criminal perchance ashamed to be riding with a Companion?</dd>
<dt>MAL</dt>
<dd>Niska has a very unlovely rep. He's got work for me, fine, but I don't&#x2014; I'm not sure you'd be safe.</dd>
<dt>INARA</dt>
<dd>Mal, if you're being a gentleman I may die of shock.</dd>
</dl>


<p>When we meet Niska, we see that he is Mal&#x2019;s opposite as a criminal. He is a classic villain, doing despicable things with no apparent conscience. And his henchmen are &#x201C;stone killers&#x201D; that make Jayne look &#x201C;cuddly&#x201D; in comparison, according to Jayne, at least. Niska doesn&#x2019;t punch and kick in an &#x201C;honest brawl between folk&#x201D; as Mal does at the start of the episode. No, he tortures them and he kills them. If this is the world Mal lives in then his misdemeanours start to seem fairly minor in comparison.</p>


<dl><dt>NISKA</dt>
<dd>You do not like I kill this man.</dd>
<dt>MAL</dt>
<dd>Oh, no, I'm sure he was a... very bad person.</dd>
<dt>NISKA</dt>
<dd>Anything goes wrong... then your reputation only gossip, and things between us not so solid. Yes?</dd>
</dl>


<p>Inara&#x2019;s conversation with Book while the &#x201C;caper&#x201D; is taking place provides us with further understanding of the kind of world Mal lives in:</p>


<dl><dt>BOOK</dt>
<dd>I'm surprised a respectable companion would sail with this crew.</dd>
<dt>INARA</dt>
<dd>It's not always this sort of work. They take the jobs they can get. Even legitimate ones. But the further you get away from the central planets, the harder things are. So this is part of it.</dd>
<dt>BOOK</dt>
<dd>I wish I could help. I mean...</dd>
<dt>INARA</dt>
<dd>You could always pray they&#x2019;d make it back safely.</dd>
<dt>BOOK</dt>
<dd>I don't think the Captain would much like me praying for him.</dd>
<dt>INARA</dt>
<dd>Don't tell him. I never do.</dd>
</dl>


<p>Inara&#x2019;s comment suggests that Mal has not set out to be a criminal, but he needs work and he can&#x2019;t always be choosy.</p>

<p>However, when Mal finds out what the cargo was that he and the crew stole, and why it was needed, the look on his face suggests he wished he had been a little more choosy this time.</p>

<p>Mal&#x2019;s reaction mirrors that of the Sheriff&#x2019;s, but contrasts greatly with how the Alliance responds to the news. The Alliance officer shows no concern whatsoever for the plight of those who need the medicine. He comments that he has &#x201C;better things to do&#x201D;. What exactly these things might be is hard to imagine. As the Sheriff says, the Alliance is really not much use to those on the border planets.</p>

<p>And so we come to Mal&#x2019;s decision to return the medicine. We don&#x2019;t see him deliberate over the right thing to do, because, as he says later, he has no choice. But he knows that there will be consequences for him and his crew:</p>


<dl><dt>KAYLEE</dt>
<dd>He's just heavy.</dd>
<dt>WASH</dt>
<dd>Kept the engine running. We're good to go.</dd>
<dt>MAL</dt>
<dd>We're not going.</dd>
<dt>WASH</dt>
<dd>Not what? Not why?</dd>
<dt>MAL</dt>
<dd>We're bringing the cargo back.</dd>
<dt>JAYNE</dt>
<dd>What? Whaddya mean back? I waited for you guys!</dd>
<dt>WASH</dt>
<dd>What're you talking about? What about Niska? Won't this put him more or less in a killing mood?</dd>
<dt>MAL</dt>
<dd>There's others need this more.</dd>
<dt>ZOE</dt>
<dd>Let's get it on the Mule.</dd>
<dt>INARA</dt>
<dd>My shuttle is faster&#x2014;</dd>
</dl>


<p>Mal has no answer for Wash. It is clear that returning the medicine will do exactly what Wash predicts and put Niska in a &#x201C;killing mood&#x201D;, but there&#x2019;s something more important than that: the needs of the people in Paradiso.</p>

<p>Having just seen the humanitarian side of Mal, we now come to one of the most memorable moments of The Train Job: Crow&#x2019;s timely demise at the hands of &#x2013; or rather at the engine of &#x2013; Serenity.</p>


<dl><dt>MAL</dt>
<dd>Now this is all the money Niska gave us in advance. You bring it back to him, tell him the job didn't work out. We're not thieves&#x2014; well, we are thieves&#x2014; the point is, we're not taking what's his. We'll stay out of his way as best we can from here on in. You'll explain that's best for everyone, okay?</dd>
<dt>CROW</dt>
<dd>Keep the money. Use it to buy a funeral. It doesn't matter where you go, or how far you fly&#x2014; I will hunt you down and the last thing you see will be my blade.</dd>
<dt>MAL</dt>
<dd>Darn.</dd>
<dt>MAL</dt>
<dd>Now this is all the money Niska gave us in advance&#x2014;</dd>
<dt>HENCHMAN</dt>
<dd>Oh I get it. I'm good. Best thing for everyone, I'm right there with you.</dd>
</dl>


<p>Mal attempts to deal reasonably with Crow and gives him the chance to walk away, but when he rejects that chance, Mal does the necessary.</p>

<p>It is possible to see Crow&#x2019;s killing as simply a prelude to set up the extremely funny exchange that follows between Mal and the second henchman, as Tim Minear notes in the DVD commentary. However, Mal&#x2019;s actions are also completely consistent with what we have come to realise about the world he lives in. His killing of Crow is a kind of &#x201C;self-defence in advance&#x201D;, which admittedly wouldn&#x2019;t stand up well as a plea in a court of law, but in the context of the reality we&#x2019;re being introduced to in the episode, it seems justifiable. Mal&#x2019;s reaction immediately after kicking Crow into the engine does suggest that he is not quite killing in cold blood, as it does bother him. But such is life in the &#x2018;verse and after a moment he collects himself together again and moves on.</p>

<p>After the humour and violence of Crow&#x2019;s killing, we change gears yet again as Mal and Zoe take back the medicine. Mal&#x2019;s conversation with the Sheriff reveals that there is a deep understanding between them. They might be on different sides of the law, but there&#x2019;s more that unites them than separates them.</p>


<dl><dt>BOURNE</dt>
<dd>You were truthful back in town. These are tough times. A man can get a job, he might not look too close at what that job is. But a man learns all the details of a situation like ours, well then he has a choice.</dd>
<dt>MAL</dt>
<dd>I don't believe he does.</dd>
<dt>BOURNE</dt>
<dd>Let's get these crates back to town. Make yourselves useful.</dd>
</dl>


<p>So yes, The Train Job is in many ways a fun, light-hearted introduction to the &#x2018;verse, with fantastic dialogue and plenty of laugh-out-loud moments, but it is much more than just that. It is an episode that sets out clearly how the lines between right and wrong, and between good and bad, are blurred in the &#x2018;verse, just like they are in real life. Mal and his crew &#x2013; like most of us &#x2013; are somewhere in the middle.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1399/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1520/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/149/index.html>The Signal: Season 5, Episode 15</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
