<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4, Episode 8</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4, Episode 8</h1>
<div><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/107/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/109/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_408_20080429.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_408_20080429.mp3 download=signal_season04_08.mp3>Download audio file</a></div>
<div class=info>Tuesday 29th April 2008</div>
Produced by Claire Musso<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/114/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 4 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:00:41</td>
<td class=shownote><h3>Banter</h3>
<div><ul><li><a href=../../../external.html#http://www.darkhorse.com/profile/profile.php?sku=15-190>Serenity: Better Days comics</a></li>
<li><a href=../../../external.html#http://www.hulu.com/firefly>Firefly on Hulu.com</a></li>
<li><a href=../../../external.html#http://popwatch.ew.com/popwatch/firefly_fridays/index.html>Entertainment Weekly's &quot;Firefly Fridays&quot;</a></li>
<li><ul><li><a href=../../../external.html#http://popwatch.ew.com/popwatch/2008/03/firefly-fridays.html>Firefly Friday #1</a></li>
<li><a href=../../../external.html#http://popwatch.ew.com/popwatch/2008/04/firefly-fridays.html>Firefly Friday #2</a></li>
<li><a href=../../../external.html#http://popwatch.ew.com/popwatch/2008/04/firefly-frida-1.html>Firefly Friday #3</a></li>
</ul>
</li>
<li><span class=grayed-out>Dark Places - a Firefly audio drama currently in production</span></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1149/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:40</td>
<td class=shownote><h3>Editorial</h3>
<h4>Why Firefly?</h4>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1156/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://galacticaquorum.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:10:31</td>
<td class=shownote><h3>Promo: Galactica Quorum</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:45</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/16111>Potential Problem with Availability of Prints of Serenity for the CSTS Screenings</a></li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com>CantStopTheSerenity.com</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16073>Global Sponsors of CSTS Charity Screenings Donations Listed</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/04/11/2087/>New book - &#x201C;Faith and Choice in the Works of Joss Whedon&#x201D;</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16056>Charity Auction for Dinner with Jewel Staite and Paul McGillion Back On</a></li>
<li><a href=../../../external.html#http://severance.podomatic.com/>Severance Starts Releasing New Episodes Again</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16112>Original Pages from Serenity: Better Days #1 For Auction</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1150/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:13</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Randall and Hopkirk (Deceased)</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/1152/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:30:35</td>
<td class=shownote><h3>Feedback</h3>
<div><a href=../../../external.html#http://www.minhembio.com/Tomper>Tom's home theatre</a></div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1160/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.scifidig.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:43:49</td>
<td class=shownote><h3>Promo: SciFiDig</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:44:20</td>
<td class=shownote><h3>Vera: Jayne's Very Favorite Gun</h3>
<p>Written by <a href=../../../human/view/110/index.html>Les Winner</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/1144/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:50:30</td>
<td class=shownote><h3>Music Section</h3>
<h4>Vera Flew The Coop</h4>
<p>Music by <a href=../../../human/view/107/index.html>Marian Call</a></p>
</td>
<td><a href=../../../segment/view/1147/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:03</td>
<td class=shownote><h3>Serenity Complete 2008 Con Report</h3>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1134/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:07:48</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Isleen Moore version (and horses)</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:08:10<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/107/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/109/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4251>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
