<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>'Verse</h1>
<div><h2>Website</h2>
<p><a href=../../../external.html#http://soundcloud.com/nopowerintheverse>External website</a></p>
<h2>Music by 'Verse</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Music Section: They Fall Right Out Of The Sky</td>
<td>The Signal: Season 6, Episode 10</td>
<td><a href=../../../segment/view/1802/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Music Section: Tentative Radar</td>
<td>The Signal: Season 6, Episode 11</td>
<td><a href=../../../segment/view/1836/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Songs from the Black III: Tentative Radar - 'Verse</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2150/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Songs from the Black III: They Fall Right out of the Sky - 'Verse</td>
<td>Songs from the Black III</td>
<td><a href=../../../segment/view/2156/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
