<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Broadwaves</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Broadwaves</h1>
<div><div class=transport-bar><a href=../../../segment/view/1348/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1446/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/120/index.html>Up</a> &#x2022; <a href=../../../segment/view/1482/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3077/index.html>Last episode</a></div>
<h2>House</h2>

<audio src=../../../../yonder/signal_broadwaves_house.mp3 controls autobuffer></audio>
<div><a href=../../../../yonder/signal_broadwaves_house.mp3 download>Download audio file</a></div>
<div>First aired: <a href=../../../show/view/143/index.html>The Signal: Season 5, Episode 14</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Firefly is often described as a sci-fi-western, but it is more than that, of course. There are elements of other genres mixed in too and this is part of the brilliance of the show. Another show which mixes genres &#x2013; though not quite as many &#x2013; to great effect is House, which is a combination of those two old favourites: the crime procedural and the hospital drama. In House, the culprit that needs to be identified is a disease, and the detectives are diagnosticians Dr Greg House and his team.</p>


<dl><dt>CUDDY</dt>
<dd>She's had 4 days of work-ups. They've tested everyone who came anywhere near that room, everything in the room.</dd>
<dt>HOUSE</dt>
<dd>It's like an Agatha Christie mystery.</dd>
</dl>


<p>Most episodes follow a very similar structure. The teaser introduces us to the patient of the week, whose symptoms proceed to defy House&#x2019;s attempts at diagnosis for the best part of the episode. Then just when everything looks to be at its bleakest, House has a eureka moment and comes up with the right diagnosis. Throw in a few clinic patients with more mundane medical problems for comic relief and you have the formula for a hit show.</p>


<dl><dt>WILSON</dt>
<dd>So now you've got to drum up another excuse to be around the love of your life. Could hit another patient</dd>
<dt>HOUSE</dt>
<dd>Nyah, don't like to repeat myself. People will say I'm formulaic.</dd>
</dl>


<p>On paper, this formula could get old fast, but it&#x2019;s a testament to the inventiveness of the creators of the show, that it doesn&#x2019;t. Five seasons in and House is still going strong. The show is kept fresh by a combination of factors. For one thing, the creators are not averse to subverting the formula once in a while by, for example, playing with reality in some way, such as by taking us into House&#x2019;s mind. For another, the supporting cast of characters has gone through some major shake ups over recent seasons. The creators of House are not afraid to mess with the proven formula, and the show is all the better for it.</p>

<p>But perhaps the main reason why House the show remains fresh is down to Dr House the character. House is far from being your typical caring and noble television doctor. He is misanthropic, abrasive, sarcastic and at times simply nasty. He walks with a cane, having had a clot in his leg several years before which caused muscle damage. Rather than bear his pain stoically, he deals with it by taking the painkiller Vicodin, to which he is addicted. His pain does not make him sympathetic to his patients, but rather seems to have the opposite effect:</p>


<dl><dt>HOUSE</dt>
<dd>I am a bored... certified diagnostician with a double specialty of infectious disease and nephrology. I&#x2019;m also the only doctor currently employed at this clinic who is here against his will. That is true, isn&#x2019;t it? But not to worry, because for most of you this job could be done by a monkey with a bottle of Motrin. Speaking of which, if you&#x2019;re particularly annoying, you may see me reach for this. This is Vicodin. It&#x2019;s mine.  You can&#x2019;t have any. And no, I do not have a pain management problem, I have a pain problem. But who knows? Maybe I&#x2019;m wrong. Maybe I&#x2019;m too stoned to tell.</dd>
</dl>


<p>House&#x2019;s bedside manner certainly leaves a lot to be desired. It&#x2019;s also rarely seen, since his preference is to ignore his patients as much as possible so he can concentrate on their diseases:</p>


<dl><dt>HOUSE</dt>
<dd>What would you want, a doctor who holds your hand while you die, or a doctor who ignores you while you get better? I guess it would particularly suck to have a doctor who ignores you while you die.</dd>
</dl>


<p>One of House&#x2019;s favourite sayings is that &#x201C;Everybody lies&#x201D; and he&#x2019;s often proved right in this as the patients of the week do tend to make his job more difficult by lying to him, on the rare occasions that he actually goes to talk to them:</p>


<dl><dt>FOREMAN</dt>
<dd>Shouldn&#x2019;t we be speaking to the patient before we start diagnosing?</dd>
<dt>HOUSE</dt>
<dd>Is she a doctor?</dd>
<dt>FOREMAN</dt>
<dd>No, but&#x2026;</dd>
<dt>HOUSE</dt>
<dd>Everybody lies.</dd>
<dt>CAMERON</dt>
<dd>Dr. House doesn&#x2019;t like dealing with patients.</dd>
<dt>FOREMAN</dt>
<dd>Isn&#x2019;t treating patients why we became doctors?</dd>
<dt>HOUSE</dt>
<dd>No, treating illnesses is why we became doctors, treating patients is what makes most doctors miserable.</dd>
<dt>FOREMAN</dt>
<dd>So you&#x2019;re trying to eliminate the humanity from the practice of medicine.</dd>
<dt>HOUSE</dt>
<dd>If you don&#x2019;t talk to them they can&#x2019;t lie to us, and we can&#x2019;t lie to them. Humanity is overrated.</dd>
</dl>


<p>In contrast to his patients&#x2019; fondness for deception, House himself has a tendency to speak his mind at all times, sometimes saying things no one else would dare to. Often he makes a good, albeit cruel, point:</p>


<dl><dt>HOUSE</dt>
<dd>These cancer kids; you can&#x2019;t put them all on a pedestal. It&#x2019;s basic statistics some of them have to be whiny little fraidy cats.</dd>
<dt>WILSON</dt>
<dd>You&#x2019;re unbelievable.</dd>
<dt>HOUSE</dt>
<dd>If there&#x2019;s not one yellow-belly in the group then being brave doesn&#x2019;t have any meaning.</dd>
</dl>


<p>House is played by the British actor Hugh Laurie and if you know him best for playing upper-class twits on Blackadder or Jeeves and Wooster, then you may find it a little unsettling at first to see him playing a tortured and caustic character, and speaking with an American accent. But it is, quite simply, a brilliant portrayal. Laurie is clearly at home with the comedic side of the role, delivering House&#x2019;s bitterly sarcastic dialogue with appropriate relish and impeccable comic timing. But he also convinces in the more dramatic moments, such as in the following conversation with his best friend and fellow doctor, Wilson:</p>


<dl><dt>WILSON</dt>
<dd>You just said&#x2026;</dd>
<dt>HOUSE</dt>
<dd>I said I was an addict.  I didn&#x2019;t say I had a problem.  I pay my bills, I make my meals.  I function.</dd>
<dt>WILSON</dt>
<dd>Is that all you want?  You have no relationships.</dd>
<dt>HOUSE</dt>
<dd>I don&#x2019;t want any relationships.</dd>
<dt>WILSON</dt>
<dd>You alienate people.</dd>
<dt>HOUSE</dt>
<dd>I&#x2019;ve been alienating people since I was three.</dd>
<dt>WILSON</dt>
<dd>Oh, come on!  Drop it!  You don&#x2019;t think you&#x2019;ve changed in the last few years?</dd>
<dt>HOUSE</dt>
<dd>Well, of, of course I have.  I&#x2019;ve, I&#x2019;ve gotten older.  My hair&#x2019;s gotten thinner.  Sometimes I&#x2019;m bored, sometimes I&#x2019;m lonely, sometimes I wonder what it all means.</dd>
<dt>WILSON</dt>
<dd>No, I was there!  You are not just a regular guy who&#x2019;s getting older, you&#x2019;ve changed!  You&#x2019;re miserable, and you&#x2019;re afraid to face yourself &#x2013;</dd>
<dt>HOUSE</dt>
<dd>Of course I&#x2019;ve changed!</dd>
<dt>WILSON</dt>
<dd>And everything&#x2019;s the leg?  Nothing&#x2019;s the pills?  They haven&#x2019;t done a thing to you?</dd>
<dt>HOUSE</dt>
<dd>They let me do my job, and they take away my pain.</dd>
</dl>


<p>Wilson is the only main character who associates with House by choice, being neither his employee nor his boss. He is in some ways Dr Watson to House&#x2019;s Sherlock Holmes &#x2013; the resemblance in the names is not coincidental &#x2013; providing a stable counterpoint to House&#x2019;s unhinged brilliance.</p>

<p>The friendship between House and Wilson, while wholly believable, is an odd one, with the character of Wilson being closer to that of the stereotypical caring doctor. In the hands of a lesser actor, Wilson could easily slip into caricature, but Robert Sean Leonard brings depth and subtlety to the role and holds his own against Laurie as House.</p>

<p>Another character who stands toe-to-toe with House is his boss, the hospital&#x2019;s Dean of Medicine, Dr Lisa Cuddy. She has no illusions about what he&#x2019;s capable of:</p>


<dl><dt>CUDDY</dt>
<dd>You just don&#x2019;t want to deal with the epidemic.</dd>
<dt>HOUSE</dt>
<dd>That&#x2019;s right.  I&#x2019;m subjecting a 12-year-old to a battery of dangerous and evasive tests to avoid being bored. Okay, maybe I would do that, but I&#x2019;m not.</dd>
</dl>


<p>Cuddy is often one step behind House, but occasionally manages to exert a little control over her wayward employee.</p>


<dl><dt>HOUSE</dt>
<dd>Like I always say, there&#x2019;s no &#x201C;I&#x201D; in &#x201C;team&#x201D;.  There is a &#x201C;me&#x201D;, though, if you jumble it up.</dd>
</dl>


<p>Despite what he might prefer to believe, House does not solve his cases alone. At the start of season one, House has a team consisting of three doctors hired on the basis of his own unique and politically incorrect brand of reasoning:</p>


<dl><dt>CAMERON</dt>
<dd>You hired a black guy because he had a juvenile record.</dd>
<dt>HOUSE</dt>
<dd>No, it wasn&#x2019;t a racial thing, I didn&#x2019;t see a black guy. I just saw a doctor&#x2026;with a juvenile record. I hired Chase &#x2018;cause his dad made a phone call. I hired you because you are extremely pretty.</dd>
</dl>


<p>These three doctors are not in House&#x2019;s league when it comes to challenging the clich&#x00E9; of the compassionate doctor, but they also have their moments of petulance and selfishness, and are all in their different ways well-rounded and credible characters.</p>

<p>At times House&#x2019;s team, together with Wilson and Cuddy, are simply there as foils for House&#x2019;s biting wit. He has a never-ending stream of creative put-downs about Cuddy&#x2019;s dress sense and Foreman&#x2019;s criminal record, for example. But these characters also have interesting back stories which are gradually explored over the seasons. House investigates the mysteries of his co-workers&#x2019; personal lives with the same dispassionate curiosity that drives him as he tracks down the causes of his patients&#x2019; medical problems.</p>

<p>As you can probably tell by now, I&#x2019;m a big fan of House. It&#x2019;s a long way from replacing Firefly at the forefront of my affections, but it&#x2019;s a quality show with a compelling main character and some killer one-liners. And I find I like it for some of the same reasons that I like Firefly. There are some superficial parallels, of course, like the well-developed characters and the witty dialogue, but I think the fundamental similarity is that neither show is set in a simplistic black and white world, where the good guys wear white hats &#x2013; or white coats &#x2013; and the villains wear black ones. Grey areas make for interesting stories, and anti-heroes make for interesting protagonists.</p>


<dl><dt>HOUSE</dt>
<dd>Can&#x2019;t we just agree that you&#x2019;re incredibly annoying? Take the pills or I let you die, do an autopsy, call my own press conference, and make sure the world knows that you didn&#x2019;t die of TB. Corporate sponsors will be disappointed, but they&#x2019;ll find another disease.</dd>
<dt>SEBASTIAN</dt>
<dd>Why would you do that?</dd>
<dt>HOUSE</dt>
<dd>Because I&#x2019;m just a mean son of a bitch.</dd>
</dl>


<p>It&#x2019;s not hard to see something of Mal Reynolds in Greg House. They may have different reasons for cutting themselves off from their respective worlds, but they both carry with them the pain of past events. They are also both loners who prefer to keep others at a distance and want to live their lives out of reach of those who like to meddle. As viewers we are drawn in as these characters gradually reveal more of themselves to us.</p>

<p>And so while I wait in hope to see more of our favourite Firefly captain onscreen, I&#x2019;ll enjoy getting to know someone who could perhaps be one of his ancestors, as he investigates puzzling medical cases in a New Jersey hospital on Earth-that-Is.</p>


<dl><dt>STELLA</dt>
<dd>What's wrong with your foot?</dd>
<dt>HOUSE</dt>
<dd>War wound.</dd>
<dt>STELLA</dt>
<dd>Does it hurt?</dd>
<dt>HOUSE</dt>
<dd>Every day.</dd>
<dt>STELLA</dt>
<dd>Is that why you're so sad?</dd>
<dt>HOUSE</dt>
<dd>Oh, aren't you adorable. I'm not sad. I'm complicated. Chicks dig that. One day, you'll understand.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1348/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1446/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/120/index.html>Up</a> &#x2022; <a href=../../../segment/view/1482/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3077/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/143/index.html>The Signal: Season 5, Episode 14</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
