<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1135/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1150/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/107/index.html>The Signal: Season 4, Episode 7</a></div>
<div><ul><li><a href=../../../external.html#http://whedonesque.com/comments/15929>Jewel Staite says new special edition of Firefly DVD coming</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/16022>Firefly on Blu Ray Confirmed</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15993>Nathan and Ron are coming to Australia</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/15941>THE Original Browncoat back up on eBay</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/04/04/serenity-adventures-coming-for-the-serenity-rpg/>&#x201C;Serenity Adventures&#x201D; coming for the Serenity RPG</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/04/03/zoes-revenge-statue-cancelled/>&quot;Zoe&#x2019;s Revenge&quot; statue cancelled</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/04/04/limited-edition-fruity-oaty-bar-lithograph/>Limited edition Fruity Oaty Bar lithograph</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2008/03/27/worlds-of-the-alliance-numbered-and-signed-lithograph/>Worlds of the Alliance numbered and signed lithograph</a></li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1135/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/1150/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/107/index.html>The Signal: Season 4, Episode 7</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
