<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Summer of Serenity</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Summer of Serenity</h1>
<div><div class=transport-bar><a href=../../../segment/view/1494/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1706/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/130/index.html>Up</a> &#x2022; <a href=../../../segment/view/1708/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/1713/index.html>Last episode</a></div>
<h2>Cortex Talk</h2>

<!-- audio src sos_012.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=sos_012.mp3>Download audio file</span></div>
<div>Cortex Talk discusses Romana Ling, former host of <a href=../../../series/view/52/index.html>Borderline</a>. For full credits <a href=../../../segment/view/1492/index.html>see here</a>.</div>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1494/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1706/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/130/index.html>Up</a> &#x2022; <a href=../../../segment/view/1708/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/1713/index.html>Last episode</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
