<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Moonbrained Mike</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Moonbrained Mike</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/179/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/91/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/106/1/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=5>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Spaceship Bazaar</td>
<td>The Signal: Season 3, Episode 7</td>
<td><a href=../../../segment/view/868/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Spring Cleaning Sale</td>
<td>The Signal: Season 3, Episode 12</td>
<td><a href=../../../segment/view/880/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>End of Season Sale</td>
<td>The Signal: Season 3, Episode 20</td>
<td><a href=../../../segment/view/939/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Christmas</td>
<td>The Signal: Season 3, Episode 22</td>
<td><a href=../../../segment/view/1024/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Going out of Business</td>
<td>The Signal: Season 4, Episode 13</td>
<td><a href=../../../segment/view/1220/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>New Job</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3108/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/179/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/91/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
