<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 8</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 8</h1>
<div><div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/8/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/10/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
<div class=logo><img class=auto-size src=../../../image/image/208/1/full/image.png alt></div>
<h3>Aim to Misbehave</h3>
<p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><a href=../../../season/rss/9/index.xml><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></a></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<br><table class=simple-table><tbody><tr class=even><td><img src=../../../image/image/219/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 18</h3>
<h4>Holiday Special 2012</h4>
<p>What happens at the con, stays at the con!</p>
<p>Features include: The Shipworks: The Blue Detour; News from the Con; The Shipworks: The Line; Promoting the Guild; Recruitment Drive; The Terraformers: Reunion Panel; Shindig</p>
</td>
<td><a href=../../../show/view/235/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0818_20121221.mp3 download=signal_season08_18.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 17</h3>
<p>Features include: Ten Years On; Still Going Strong; How to Speak Chinese: The Message; Out of Renewable Biofuel; Broadwaves: The Windup Girl; The Shipworks: The Broken Contacts in Emotional Chemistry; Music Section: Please Bring Firefly Back (For Christmas); Nine Different Things</p>
</td>
<td><a href=../../../show/view/242/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0817_20121204.mp3 download=signal_season08_17.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 16</h3>
<p>Features include: Editorial: Book Review - Firefly: A Celebration; Earthburn: The Day we Lost the Internet; Does that Seem Right to You?: Grounded in Reality; Dead System 3: In the Savage Black; Not a Good-Bye; Silence in Space: Serenity, the film</p>
</td>
<td><a href=../../../show/view/241/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0816_20121120.mp3 download=signal_season08_16.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 15</h3>
<p>Features include: Silence in Space: Objects in Space; Broadwaves: Game of Thrones; Dead Canon; Music Section: Movie Snippet; From Signal Speculation to the Tabletop; How to Speak Chinese: Trash</p>
</td>
<td><a href=../../../show/view/240/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0815_20121106.mp3 download=signal_season08_15.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 14</h3>
<p>Features include: Silence in Space: Heart of Gold; The Tension is Killing Them; Serenity Speculation: The Origins of Indenture; Dead System 2: Travellin' the 'Verse; Broadwaves: Homeland; How to Speak Chinese: War Stories</p>
</td>
<td><a href=../../../show/view/239/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0814_20121016.mp3 download=signal_season08_14.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13</h3>
<p>Features include: Interview: Marian Call; Going Dark: Telling it Like it Ain't; Silence in Space: The Message; Firefly in Five Lines: Matthew's Choice; Does that Seem Right to You?: Getting There; Serenity Speculation: How'd Mal Pay for Serenity?</p>
</td>
<td><a href=../../../show/view/237/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0813_20120927.mp3 download=signal_season08_13.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 12.2</h3>
<h4>The Signal Live 2012 at DragonCon</h4>
<p>Features include: Interview: GB Hajim; How to Speak Chinese: Juggling Geese; In Character Live Q&amp;A Session</p>
</td>
<td><a href=../../../show/view/238/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0812.2_20120920.mp3 download=signal_season08_12.2.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 12.1</h3>
<h4>Firefly's 10th Anniversary Panel</h4>
<p>Features include: Firefly's 10th Anniversary Panel at Comic-Con; Panel Talk</p>
</td>
<td><a href=../../../show/view/236/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0812.1_20120913.mp3 download=signal_season08_12.1.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 12</h3>
<p>Features include: Editorial: Dead System?; How to Speak Chinese: Ariel; Tangled Yarn: Jayne and Kaylee; Interview: Patric Reynolds; The Shipworks: Sparks for the Monkey; Silence in Space: Trash</p>
</td>
<td><a href=../../../show/view/234/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0812_20120731.mp3 download=signal_season08_12.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 11</h3>
<p>Features include: Interview: Jane Espenson; Earthburn: Recycling the World; Spreading the Word by Deed; Silence in Space: War Stories; Does that Seem Right to You?: So we Found a New Solar System; Going Dark: Lullaby</p>
</td>
<td><a href=../../../show/view/233/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0811_20120717.mp3 download=signal_season08_11.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 10</h3>
<p>Features include: Does that Seem Right to You?: The Earth Got Used Up; Serenity Speculation: Companion Supply and Demand; Going Dark: The Birth of the Reavers; Silence in Space: Ariel; Bigger Damn Heroes?  - A Browncoat's Guide to the Avengers; How to Speak Chinese: Out of Gas</p>
</td>
<td><a href=../../../show/view/232/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0810_20120703.mp3 download=signal_season08_10.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 9</h3>
<p>Features include: Does that Seem Right to You?: Introduction; How to Speak Chinese: Jaynestown; Serenity Speculation: The Political Economy of the 'Verse; The Shipworks: Ares I; Silence in Space: Out of Gas; Editorial: Introducing Lost and Found; Going Dark: Inoculum</p>
</td>
<td><a href=../../../show/view/231/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0809_20120612.mp3 download=signal_season08_09.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 8</h3>
<p>Features include: My coat's kind of a brownish colour; Silence in Space: Jaynestown; Serenity Speculation: No Love for thy Neighbors, Part 2; Broadwaves: Songs from the Floodplain; Going Dark: Losing It; How to Speak Chinese: Our Mrs. Reynolds</p>
</td>
<td><a href=../../../show/view/230/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0808_20120529.mp3 download=signal_season08_08.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 7</h3>
<p>Features include: Serenity Speculation: The Military Industrial Complex of the 'Verse; Going Dark: Borders; Silence in Space: Our Mrs Reynolds; Music Section: Leaf on the Wind; How to Speak Chinese: Safe</p>
</td>
<td><a href=../../../show/view/229/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0807_20120515.mp3 download=signal_season08_07.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 6</h3>
<p>Features include: Silence in Space: Safe; Resistance in the 'Verse; How to Speak Chinese: Shindig; Earthburn: Imagine what Tomorrow could be Like; Serenity Speculation: No Love for thy Neighbors?; Going Dark: War and Pax</p>
</td>
<td><a href=../../../show/view/228/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0806_20120501.mp3 download=signal_season08_06.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 5</h3>
<p>Features include: Broadwaves: Dollhouse: Epitaphs; Serenity Speculation: It's About Time; Going Dark: Risk Assessment; The Shipworks: Life, the 'Verse and Everything Else; Silence in Space: Shindig</p>
</td>
<td><a href=../../../show/view/227/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0805_20120417.mp3 download=signal_season08_05.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 4</h3>
<p>Features include: Everyone Lies; How to Speak Chinese: Bushwacked; What Sounds Like Firefly? Pt. 2; The Shipworks: Discovery; Going Dark: A Moment of Truth; Silence in Space: Bushwhacked</p>
</td>
<td><a href=../../../show/view/226/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0804_20120403.mp3 download=signal_season08_04.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 3</h3>
<p>Features include: The Shipworks: The Entropy Within (part one of <q>Beer</q>); Tangled Yarn: Simon and River; What Sounds Like Firefly? Pt. I; Serenity Speculation: Keeping Time in the 'Verse; Music Section: Black Grace; Ten Years On; Going Dark: Ceasefire</p>
</td>
<td><a href=../../../show/view/225/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0803_20120313.mp3 download=signal_season08_03.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 2</h3>
<p>Features include: The Bipolar World of Malcolm Reynolds; Editorial: Coats of a Brownish Colour; Vote: Vote: Election Day; Serenity Speculation: Is the Alliance a Democracy?; The Shipworks: Chance Encounter; Silence in Space: The Train Job; How to Speak Chinese: The Train Job</p>
</td>
<td><a href=../../../show/view/224/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0802_20120228a.mp3 download=signal_season08_02.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/206/3/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 1</h3>
<p>Features include: Editorial: Those Little Reminders; Firefly in Five Lines: John's choice; Broadwaves: Keen Eddie; How to Speak Chinese: Pilot, part 3; Tangled Yarn: Mal and Jayne; Going Dark: Going Away; Silence in Space: Serenity, the pilot</p>
</td>
<td><a href=../../../show/view/223/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0801_20120214.mp3 download=signal_season08_01.mp3>audio</a></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/8/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/10/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
