<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Terraformers</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Terraformers</h1>
<div><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1367/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1407/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
<h2>Episode 3: Invasion of the Killer Squirrels</h2>

<!-- audio src signal_terraformers_03.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_terraformers_03.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/134/index.html>The Signal: Season 5, Episode 6</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Starring</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td>as Taya Ray Parsec</td>
</tr>
<tr class=even><td>Starring</td>
<td><a href=../../../human/view/6/index.html>Kari Haley</a></td>
<td>as Sarah Brunel</td>
</tr>
<tr class=odd><td>Featuring</td>
<td><a href=../../../human/view/17/index.html>Nick Edwards</a></td>
<td>as Mister Spall</td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/19/index.html>Wayne Hutchinson</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>NARRATOR</dt>
<dd>Starring Kari Haley as Sarah Brunel.</dd>
<dt>SARAH</dt>
<dd>You know, when I got this job, I really thought there would be at least the occasional assignment when I got to do something glamorous or exciting.</dd>
<dt>NARRATOR</dt>
<dd>And Miranda Thomas as Taya Ray Parsec.</dd>
<dt>TAYA RAY</dt>
<dd>Yeah, and Mr Spall doesn&#x2019;t seem to like it when we make our <em>own</em> excitement&#x2026;</dd>
<dt>NARRATOR</dt>
<dd>And featuring Nick Edwards as Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>Why don&#x2019;t my teams ever realise that improvising never ends well?</dd>
<dt>NARRATOR</dt>
<dd>Episode number 3 &#x2013; Invasion of the Killer Squirrels</dd>
</dl>


<hr>
<p><em>Location: Inside van.</em></p>


<dl><dt>SARAH</dt>
<dd>I&#x2019;m sorry, Mr Spall, could you repeat that? <em>(Not understanding.)</em> Our assignment is what?</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com, irritated by needing to repeat himself.)</em> A Type 3 biodiversity distribution readjustment protocol. You have the ecosystem balancing manual, right? It&#x2019;s all explained in there.</dd>
</dl>


<p><em>Click as Sarah mutes the com.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Quickly.)</em> Taya Ray, quick, pass me that blue book.</dd>
</dl>


<p><em>Click as Sarah un-mutes the com. Then sound of pages turning in the background.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Stalling for time.)</em> Um, yes, of course, Mr Spall. I&#x2019;m looking at it right now. Type 3, you said?</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Yes, there&#x2019;s been a bit of a &#x201C;terraforming event&#x201D;, as they say. Nothing too serious, but the ecosystem&#x2019;s a touch out of whack. I&#x2019;ve got other teams over there right now sorting out some of the other quirks. I&#x2019;m uploading the sector coordinates now along with some further details. Any questions?</dd>
<dt>SARAH</dt>
<dd><em>(Still has no clue what the assignment actually is.)</em> Uh, no, I don&#x2019;t think so, Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd><em>(Over com.)</em> Good. I&#x2019;ll check in on your progress later. Spall out.</dd>
<dt>TAYA RAY</dt>
<dd>So <em>what</em> do we have to do?</dd>
<dt>SARAH</dt>
<dd>I have absolutely no idea. It says here that a Type 3 biodiversity distribution readjustment protocol involves manual redistribution of organisms in order to create a balanced ecosystem. <em>(Beat.)</em> Well, that&#x2019;s as clear as a puddle of Higgins&#x2019; Moon mud.</dd>
</dl>


<p><em>Beep to show that the data transmission from Mr Spall has arrived.</em></p>


<dl><dt>TAYA RAY</dt>
<dd>Here&#x2019;s the data transmission from Mr Spall. Aw, there&#x2019;s a picture of a squirrel with it.</dd>
<dt>SARAH</dt>
<dd>Let me see that. <em>(Beat.)</em> Oh, you&#x2019;ve got to be kidding. It says, &#x201C;Burlap sacks are recommended for both the entrapment and translocation steps of the readjustment protocol&#x201D;.</dd>
<dt>TAYA RAY</dt>
<dd>What? I still don&#x2019;t get it. What&#x2019;s our assignment?</dd>
<dt>SARAH</dt>
<dd><em>(Resigned.)</em> Taya Ray, we&#x2019;re going to be putting squirrels in sacks.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>

<p><em>Sound of van coming to a halt.</em></p>


<dl><dt>SARAH</dt>
<dd>Okay, these are the coordinates. So, where are the&#x2014;</dd>
</dl>


<p><em>Thump of squirrel against the van.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Continued.)</em> &#x2014;squirrels? Forget I said that.</dd>
<dt>TAYA RAY</dt>
<dd>There are hundreds of them! Well, as terraforming events go, I kinda like this one. Why do we have to move the squirrels away? You could just turn this sector into &#x201C;Squirrelworld&#x201D; and charge people for entry.</dd>
<dt>SARAH</dt>
<dd><em>(Deadpan.)</em> You should mention that idea to Mr Spall.</dd>
<dt>TAYA RAY</dt>
<dd>Really?</dd>
<dt>SARAH</dt>
<dd>No.</dd>
<dt>TAYA RAY</dt>
<dd>But why do we have to move the squirrels? Why does every rock that gets terraformed have to have a balanced eco-thingy? It&#x2019;s boring.</dd>
<dt>SARAH</dt>
<dd>Boring, yes, but the alternative is to have rampaging squirrels stripping trees bare and causing other creatures to die off for lack of food. Better boring than unbalanced.</dd>
<dt>TAYA RAY</dt>
<dd>I suppose so.</dd>
<dt>SARAH</dt>
<dd>Well, let&#x2019;s gets on with this glamorous assignment then. <em>(With fake enthusiasm.)</em> Here&#x2019;s a sack for you, and one for me.</dd>
</dl>


<p><em>Sound of van door opening. Day time sounds (some birdsong, wind in the trees, occasional chattering of squirrels) from now until the explosion. Also, sounds of footsteps (some slower, some faster) until Sarah says &#x201C;Oh, this is ridiculous&#x201D;.</em></p>


<dl><dt>SARAH</dt>
<dd>There&#x2019;s one!</dd>
<dt>TAYA RAY <em>(From far away, as if the microphone is following Sarah.)</em></dt>
<dd>Got it!</dd>
<dt>SARAH</dt>
<dd><em>(Out of breath.)</em> I got one too!</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(Exasperated.)</em> You little critter you, get back down here right now!</dd>
<dt>SARAH</dt>
<dd>Oh, this is ridiculous. They&#x2019;re all in the trees now. How many have we got? Four between us? This is never going to work.</dd>
<dt>TAYA RAY</dt>
<dd><em>(Slightly out of breath.)</em> Do you think there&#x2019;s anything in the manual about how to get squirrels down from trees?</dd>
<dt>SARAH</dt>
<dd>Yeah, it&#x2019;s probably called an &#x201C;arboreal desquirrelification protocol&#x201D; and is written by the same helpful person who suggested using sacks for &#x201C;entrapment and translocation&#x201D;. <em>(Beat.)</em> You know, we could try blasting them out.</dd>
<dt>TAYA RAY</dt>
<dd>How do you mean?</dd>
<dt>SARAH</dt>
<dd>Just a little gunpowder at the base of the tree. Boom. Squirrels on the ground and hightailing it into the welcoming arms of our sacks.</dd>
<dt>TAYA RAY</dt>
<dd>Wouldn&#x2019;t that hurt the squirrels? I don&#x2019;t want to hurt my fellow living creatures. What if they have souls?</dd>
<dt>SARAH</dt>
<dd><em>(Beat.)</em> Taya Ray, squirrels have no souls. Come on, let&#x2019;s do this.</dd>
</dl>


<p><em>Musical cue to indicate passing of time.</em></p>


<dl><dt>SARAH</dt>
<dd>Okay, all set. Here goes.</dd>
</dl>


<p><em>Boom! Then silence. No birdsong, and</em>(Rather ominously.)<em>no squirrels chattering&#x2026;</em></p>


<dl><dt>TAYA RAY</dt>
<dd><em>(In awe.)</em> Was it supposed to be that big a boom? Sarah, where&#x2019;s the tree?</dd>
<dt>SARAH</dt>
<dd><em>(Slightly sheepish.)</em> Um, let&#x2019;s go back to the van. I think we need to regroup.</dd>
</dl>


<p><em>Sound of van door closing as Sarah and Taya Ray go inside.</em></p>


<dl><dt>MR SPALL</dt>
<dd>Brunel, Parsec? Spall here. Do you read?</dd>
<dt>SARAH</dt>
<dd><em>(Sarcastic.)</em> Oh man! Of course he has to choose now to check in on us.</dd>
</dl>


<p><em>Click as Sarah answers com.</em></p>


<dl><dt>SARAH</dt>
<dd><em>(Breezily, trying too hard to sound casual.)</em> Brunel here. Go ahead Mr Spall.</dd>
<dt>MR SPALL</dt>
<dd>Ah, good. Hope the redistribution is going well. Just wanted to check in and warn you not to try blasting the squirrels out of the trees. Another team tried that in the neighbouring sector and caused more damage to the trees than the squirrels had in the first place. Turns out there was a bit of a problem with the air processing during terraforming. The atmosphere&#x2019;s stable, but the mixture&#x2019;s not quite right somehow so using gunpowder&#x2019;s a bit of a no-no right now.</dd>
<dt>SARAH</dt>
<dd><em>(Beat, flatly.)</em> Uh, thanks, Mr Spall, good that you told us that.</dd>
</dl>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1519/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1367/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/118/index.html>Up</a> &#x2022; <a href=../../../segment/view/1407/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2831/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/134/index.html>The Signal: Season 5, Episode 6</a></li>
<li><a href=../../../show/view/208/index.html>The Signal: Season 7, Episode 13.1</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
