<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 3, Episode 14</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 3, Episode 14</h1>
<div><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/89/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/91/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_314_20070802.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_314_20070802.mp3 download=signal_season03_14.mp3>Download audio file</a></div>
<div class=info>Thursday 2nd August 2007</div>
Produced by James Parkinson<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/97/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 3 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:38</td>
<td class=shownote><h3>Banter</h3>
<div><ul><li>We have an interview-free show!</li>
<li>Voting for Firefly Talk at <a href=../../../external.html#http://podcastawards.com>PodcastAwards.com</a></li>
<li>How to download Summer of Serenity shows by hand (Just go <a href=../../../external.html#http://fireflytalk.libsyn.com/rss>here</a>)</li>
<li>It's nearly Serenity's birthday. Join <a href=../../../external.html#http://boards.nbcuni.com/universalHD/index.php>Universal's forum</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/953/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:48</td>
<td class=shownote><h3>Screening Report</h3>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/933/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:12:31</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.serenitystuff.com/2007/07/20/new-qmx-blue-sun-travel-posters-available-weeks-before-release/>New QMx Blue Sun Travel Posters available weeks before release</a></li>
<li><a href=../../../external.html#http://www.bigdamnzine.com>Premiere issue of the 'Big Damn Zine' released</a></li>
<li><a href=../../../external.html#http://www.creationent.com/cal/serenity.htm>Sean Maher to guest at Creation Firefly con</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/945/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:14:04</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Odyssey 5</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/924/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:27:32</td>
<td class=shownote><h3>Music Section</h3>
<h4>Air through the Engine</h4>
<p>Music by <a href=../../../human/view/85/index.html>The Persephone Pickers</a></p>
</td>
<td><a href=../../../segment/view/936/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.browncoatball.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:32:24</td>
<td class=shownote><h3>Promo: Browncoat Ball</h3>
<h4>Philadelphia 2007</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/82/index.html><img src=../../../image/image/107/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:53</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 7: Dirt</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/938/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:38:00</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Jason - Firefly reviewed as cult classic at <a href=../../../external.html#http://thenutgallery.com/>the Nut Gallery podcast</a></li>
<li>Josh - Fargo Fantasy Festival, aka <a href=../../../external.html#http://www.valleycon.com/>ValleyCon</a></li>
<li>Sophia - Conversion Story</li>
<li>Amanda - The <a href=../../../external.html#http://www.amandamonaco.com/>music</a> for Moonshine</li>
<li>Music used is All That Has Come To Pass, by Floyd Salazar</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/954/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/91/index.html><img src=../../../image/image/102/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:44:33</td>
<td class=shownote><h3>Moonshine</h3>
<h4>Episode 2: The Mysterious Doctor</h4>
<div>&quot;The Story So Far&quot; read by <a href=../../../external.html#http://jchutchins.net>JC Hutchins</a></div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/940/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:53:49</td>
<td class=shownote><h3>Chen, Chen and Shaw: Attorneys at Law</h3>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/958/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/75/index.html><img src=../../../image/image/101/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:54:53</td>
<td class=shownote><h3>Expanding the 'Verse</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/914/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:03:33</td>
<td class=shownote><h3>What I'd like to see in the Big Damn Trilogy</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/910/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:35</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:59<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/73/index.html>First show</a> &#x2022; <a href=../../../show/view/89/index.html>Previous show</a> &#x2022; <a href=../../../season/view/4/index.html>Up</a> &#x2022; <a href=../../../show/view/91/index.html>Next show</a> &#x2022; <a href=../../../show/view/100/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3660>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
