<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Poetry of the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Poetry of the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/2215/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2295/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/165/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/2296/index.html>Last episode</a></div>
<h2>Along for the Ride</h2>

<!-- audio src signal_poetryoftheverse_05.mp3 controls preload=metadata></audio -->
<div><span class="grayed-out audio-download" data-name=signal_poetryoftheverse_05.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/202/index.html>The Signal: Season 7, Episode 8</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/484/index.html>Cornelius Wilkening</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>In part four of this series, I considered the way in which Mal, Zoe, Wash, Kaylee, Jayne and Inara speak their own distinct versions of the language of the &#x2018;verse, in keeping with their equally distinct characters. In this instalment, I&#x2019;d like to continue to look at individual differences in the use of the language of the &#x2018;verse and take a look at the passengers Serenity picks up at the start of Firefly, as well some of the other characters we come across.</p>

<p>Let&#x2019;s start with Shepherd Book:</p>


<dl><dt>KAYLEE</dt>
<dd>So how come you don't care where you're going?</dd>
<dt>BOOK</dt>
<dd>&#x2018;Cause how you get there&#x2019;s the worthier part.</dd>
</dl>


<dl><dt>BOOK</dt>
<dd>A government is a body of people, usually notably ungoverned.</dd>
</dl>


<dl><dt>BOOK</dt>
<dd>You don't fix faith, River. It fixes you.</dd>
</dl>


<p>Several of Book&#x2019;s most memorable lines are proverb-like in nature. He delivers his pronouncements in measured tones and with an air of wisdom. This makes it all the funnier when he uses the same solemn delivery for statements that have a comic sting in the tail:</p>


<dl><dt>BOOK</dt>
<dd>If you take sexual advantage of her, you're going to burn in a very special level of hell. A level they reserve for child molesters and people who talk at the theater.</dd>
</dl>


<p>Book is a man who is guarded about his past and his speech is similarly guarded. It takes a lot for him to lose his calm, such as Niska sending Mal&#x2019;s ear back with Zoe, which prompts Book&#x2019;s only outburst in Chinese. Book&#x2019;s usual calm is also absent when River &#x201C;hears&#x201D; the following line in Objects in Space:</p>


<dl><dt>BOOK</dt>
<dd>I don't give half a hump if you're innocent or not! So where does that put you?</dd>
</dl>


<p>This glimpse of another side to Book is as shocking to us as viewers as it is to River, not just because of what he says, but because of how out of character he sounds when he says it.</p>

<p>Simon&#x2019;s privileged upbringing and education have left their mark on his speech. He, like Inara, tends not to use the Western slang favoured by most of Serenity&#x2019;s crew:</p>


<dl><dt>KAYLEE</dt>
<dd>Come on, admit it, it's true.</dd>
<dt>SIMON</dt>
<dd>No, I won't, because it's not. I use swear-words, like anybody else.</dd>
<dt>KAYLEE</dt>
<dd>Oh really? I never heard you. So when is it you do all this cussin'? After I go to bed or&#x2026;?</dd>
<dt>SIMON</dt>
<dd>I swear. When it's appropriate.</dd>
<dt>KAYLEE</dt>
<dd>Simon! The whole point of swearin' is that it ain't appropriate.</dd>
</dl>


<p>Simon is very much a buttoned-up individual, and so is his way of speaking. He needs to be drunk to let his guard down:</p>


<dl><dt>SIMON</dt>
<dd>To Jayne! The box dropping, man-ape-gone-wrong-thing.</dd>
</dl>


<p>In terms of his learning and the respectability of his profession, Simon has a lot in common with Inara, but he certainly does not normally share her confidence and eloquence:</p>


<dl><dt>SIMON</dt>
<dd>This may come as a shock, but I'm actually not very good at talking to girls.</dd>
<dt>ZOE</dt>
<dd>Why, is there someone you are good at talking to?</dd>
</dl>


<p>Simon does have his articulate moments though, such as when he stands up to Jubal Early or lets Jayne know how things stand between them at the end of Trash. His quiet strength of character is perfectly matched by the calm tone of voice he uses in both these encounters.</p>

<p>Out of the nine main characters of Firefly, it is River who has the most distinctive voice, by dint of the Alliance&#x2019;s meddling with her brain:</p>


<dl><dt>RIVER</dt>
<dd>Um, I'm&#x2014;I tore these out of your symbol, and they turned into paper&#x2014; but I want to put them back, so&#x2014;</dd>
</dl>


<dl><dt>RIVER</dt>
<dd>They say the snow on the roof is too heavy&#x2014;they say the ceiling will cave in&#x2014;his brains are in terrible danger&#x2014;</dd>
</dl>


<dl><dt>RIVER</dt>
<dd>They weren't cows inside. They were waiting to be, but they forgot. Now they see sky and they remember what they are.</dd>
<dt>MAL</dt>
<dd>Is it bad that what she said made perfect sense to me?</dd>
</dl>


<p>Like Mal, we as viewers do sometimes understand what River is trying to say. But it is on the rare occasions that she speaks lucidly, that her words have the most impact:</p>


<dl><dt>RIVER</dt>
<dd>I get confused. I remember everything. I remember too much. And some of it&#x2019;s made up. And some of it can&#x2019;t be quantified. And there&#x2019;s secrets.</dd>
<dt>SIMON</dt>
<dd>It&#x2019;s okay.</dd>
<dt>RIVER</dt>
<dd>But I understand. You gave up everything you had to find me. You found me broken. It&#x2019;s hard for you. You gave up everything you had.</dd>
</dl>


<p>River, of course, also gets to give a voice to the tenth character, Serenity, in Objects in Space. When she speaks for Serenity, it is the first time we hear her talk coherently for any length of time and this adds even more to the poignance of what she is saying:</p>


<dl><dt>RIVER (V.O.)</dt>
<dd>Everyone could just go on without me, and not have to worry. People could be what they wanted to be, could be with the people they wanted... could live simple. No secrets.</dd>
</dl>


<p>It is not just the nine main characters who were carefully created with their own distinctive voices. Many minor characters also manage to convey a clear sense of their individual voices, despite their relatively limited time on screen. Take Badger, for example, with his Dyton Colony accent and colourful use of both English and Chinese, or Saffron, who is not so much one character as several:</p>


<dl><dt>SAFFRON</dt>
<dd>I cried for I'd not dreamed to have a man so sweet, so kind and beautiful. Had I the dare to choose, I'd choose you from all the men on all the planets the night sky could show me.</dd>
</dl>


<dl><dt>SAFFRON</dt>
<dd>You know, you did pretty well. Most men, they're on me inside of ten minutes. Not trying to teach me to be strong and the like.</dd>
</dl>


<dl><dt>SAFFRON</dt>
<dd>I knew you wouldn't. That's the thought that kept me alive. We have so much time to make-up...</dd>
</dl>


<p>As Saffron switches from timid country girl to wily trickster to loving wife, her speech changes along with her.</p>

<p>Other characters, such as Patience, Atherton, Doralee, Mr Universe and the Operative, all also have their own unique ways of speaking. Even some characters who are on screen very briefly indeed make their own memorable contributions to the language of the &#x2018;verse, such as one of the ball attendees in Shindig:</p>


<dl><dt>MURPHY</dt>
<dd>Why Banning Miller, what a vision you are in your fine dress. It must have taken a dozen slaves a dozen days to get you into that get-up. 'Course your daddy tells me it takes the space of a schoolboy's wink to get you out of it again&#x2026; Forgive my rudeness. I cannot abide useless people.</dd>
</dl>


<p>It is not just the characters of the &#x2018;verse who speak the language of the &#x2018;verse. The language is so distinctive and so endlessly quotable that it very easily works its way into the speech of Browncoats on Earth-that-still-is. How many of us have signed emails or forum posts with &#x201C;stay shiny&#x201D; or &#x201C;keep flying&#x201D;? Or slipped a &#x201C;gorramn&#x201D; or a &#x201C;shiny&#x201D; into conversations? We talk of doing the impossible, going to shindigs and hoping for a sequel to the BDM. Sometimes the language of the &#x2018;verse even makes it into our everyday speech, as we tell people, &#x201C;Best of luck, though&#x201D;, &#x201C;That a fact?&#x201D; or, &#x201C;Not to fret&#x201D; with an intonation that would leave the initiated in no doubt as to where these phrases came from.</p>

<p>As I think now about the language of the &#x2018;verse, it occurs to me that it is a big part of why I find rewatching Firefly and Serenity so pleasurable. I rewatch my DVDs in the same way I listen again and again to my favourite music. I know how the stories will end, just as I know how each piece of music will end, but the journey really is the worthier part when the entertainment along the way is this good. In fact, like my favourite music, the more I listen to the language of Firefly, the more I notice its details and quirks, and the more I appreciate it and hear its beauty, and its poetry.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2215/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2295/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/165/index.html>Up</a> &#x2022; <span class=greyed-out>Next episode</span> &#x2022; <a href=../../../segment/view/2296/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/202/index.html>The Signal: Season 7, Episode 8</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
