<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 12.5</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 12.5</h1>
<div><h2>JC Hutchins Interview</h2>
<div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/140/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/142/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_512.5_20090714.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_512.5_20090714.mp3 download=signal_season05_12.5.mp3>Download audio file</a></div>
<div class=info>Tuesday 14th July 2009</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Bonus Show version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:36</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/23/index.html>Anna Snyder</a></p>
</td>
<td><a href=../../../segment/view/1454/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://jchutchins.net><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:03:02</td>
<td class=shownote><h3>Promo: JC Hutchins</h3>
<h4>Personal Effects: Dark Art</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:03</td>
<td class=shownote><h3>Interview</h3>
<h4>JC Hutchins, part 1 of 2</h4>
<div>Find Personal Effects: Dark Art at
<ul><li><a href=../../../external.html#http://www.amazon.com/Personal-Effects-Dark-J-Hutchins/dp/0312383827>Amazon US</a></li>
<li><a href=../../../external.html#http://www.amazon.ca/Personal-Effects-Dark-J-C-Hutchins/dp/0312383827>Amazon Canada</a></li>
<li><a href=../../../external.html#http://www.amazon.co.uk/Personal-Effects-Dark-J-Hutchins/dp/0312383827>Amazon UK</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1458/141/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://talesfromtheverse.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:26:11</td>
<td class=shownote><h3>Promo: Tales from the 'Verse</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://cantstoptheserenity.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:26:47</td>
<td class=shownote><h3>Promo: Can't Stop the Serenity</h3>
<h4>2009</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.podculture.net><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:27:27</td>
<td class=shownote><h3>Promo: Podculture</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:28:21</td>
<td class=shownote><h3>Interview</h3>
<h4>JC Hutchins, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1458/141/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:50:39</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:51:03<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/140/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/142/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4784>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
