<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 16</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 16</h1>
<div><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/150/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/152/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_516_20091006.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_516_20091006.mp3 download=signal_season05_16.mp3>Download audio file</a></div>
<div class=info>Tuesday 6th October 2009</div>
Produced by Merry King<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:09</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div>Les and Kari introduce the show and talk about The Signal Live</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1527/151/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:28</td>
<td class=shownote><h3>Editorial</h3>
<h4>A Moment of Quiet Reflection and Great Dedication</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; read by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1530/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/124/index.html><img src=../../../image/image/117/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:11</td>
<td class=shownote><h3>Heart of Firefly</h3>
<h4>The Rules of Civilization</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a></p>
</td>
<td><a href=../../../segment/view/1520/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:26</td>
<td class=shownote><h3>It's My Life</h3>
<p>Written by <a href=../../../human/view/21/index.html>Merry King</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1515/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.thedollhousepodcast.com/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:22:18</td>
<td class=shownote><h3>Promo: The Dollhouse Podcast</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:23:05</td>
<td class=shownote><h3>Warrior Woman and Childlike Pilot</h3>
<p>Written by <a href=../../../human/view/24/index.html>Jenn Baldwin</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1498/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:02</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.margaretweis.com/wp/2009/08/big-damn-heroes-handbook-were-still-flyin/>Margaret Weis Productions Announcement</a></li>
<li><a href=../../../external.html#http://bashinginminds.com/2009/08/19/serenity-rpg-big-damn-heroes-handbook-coming-soon/>Additional Fansite link with TFAW and Amazon details</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/21657>Whedonesque link to EW site</a></li>
<li><a href=../../../external.html#http://whedonesque.com/comments/21624>Whedonseque link to Emmy Site</a></li>
<li><a href=../../../external.html#http://sendingawave.wordpress.com/>Sending A Wave hosting of YouTube video of Dr Horrible&#x2019;s Interceptorizor broadcast</a></li>
<li><a href=../../../external.html#http://forum-network.org/lecture/joss-whedon-cultural-humanist>Forum Network video of full Joss Whedon acceptance speech and Q&A</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1499/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/141/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:31:50</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>Corner Gas</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a></p>
</td>
<td><a href=../../../segment/view/1482/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:48:50</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div>The People's Choice Podcast Awqards nominations are underway!</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1527/151/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/112/index.html><img src=../../../image/image/116/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:50:10</td>
<td class=shownote><h3>They've All Got Stories</h3>
<h4>Simon Tam: A Brother's Love</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/1518/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:55:44</td>
<td class=shownote><h3>Music Section</h3>
<h4>She Said Her Name was Saffron</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a></p>
</td>
<td><a href=../../../segment/view/1528/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:58:34</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div>Les and Kari close the show, and remind you to <a href=../../../external.html#http://podcastawards.com>nominate The Signal for Best Produced and Movies/Film</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1527/151/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:00:04</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:00:27<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/150/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/152/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4831>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
