<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Listener Article</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Listener Article</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/16/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/179/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/147/1/album/image.png width=300 height=300 alt></div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=4>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>A New Look at Shepherd Book</td>
<td>The Signal: Season 6, Episode 18.1</td>
<td><a href=../../../segment/view/1997/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Big Damn Wedding</td>
<td>The Signal: Season 6, Episode 14.1</td>
<td><a href=../../../segment/view/1878/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>How do you Lose 30 Million People?</td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1933/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Meet the Crew</td>
<td>The Signal: Season 6, Episode 18.1</td>
<td><a href=../../../segment/view/1957/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Post in the 'Verse</td>
<td>The Signal: Season 6, Episode 14.1</td>
<td><a href=../../../segment/view/1882/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Resources in the 'Verse</td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1934/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Serial Storytelling</td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1877/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Little Things in the Big Damn 'Verse</td>
<td>The Signal: Season 6, Episode 18.1</td>
<td><a href=../../../segment/view/1956/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>What Makes a Show More than Just a Show?</td>
<td>The Signal: Season 6, Episode 14.1</td>
<td><a href=../../../segment/view/1881/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>What's in a Name?</td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1935/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>When does Mal Kill?</td>
<td>The Signal: Season 6, Episode 14.3</td>
<td><a href=../../../segment/view/1879/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Why Browncoats?</td>
<td>The Signal: Season 6, Episode 14.1</td>
<td><a href=../../../segment/view/1880/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/16/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/179/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
