<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7</h1>
<div><div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/7/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/9/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
<div class=logo><img class=auto-size src=../../../image/image/169/1/full/image.png alt style="min-width:300px; max-width:800px"></div>
<h3>We're just happy to be doing good works</h3>
<p>You can download these mp3 files individually, but for your convenience we have also archived them into podcast feeds. Right-click on an RSS icon, copy the link target/location, then paste it into your podcatching client. Alternatively, you can choose your own download interval and starting point to make your own custom feed.</p>
<table class=rss-feeds><tbody><tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a week, from the start</td>
</tr>
<tr><td><span class=grayed-out><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me one episode a day, from the start</td>
</tr>
<tr><td><a href=../../../season/rss/8/index.xml><img src=../../../image/rss-logo-16x16.png width=16 height=16 alt></a></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-itunes-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zune-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-zencast-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-yahoo-16x16.png width=16 height=16 alt></span></td>
<td><span class=grayed-out><img src=../../../image/rss-logo-google-16x16.png width=16 height=16 alt></span></td>
<td>Give me all episodes at once. You may need to tell your podcatcher manually to get all the episodes, since by default, most podcatchers will start from the last episode - which is good for current feeds, but not so good for archive feeds such as this.</td>
</tr>
</tbody>
</table>

<br><table class=simple-table><tbody><tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 21.1</h3>
<h4>Theme Tune Quiz</h4>
<p>Features include: The Signal Theme Tune Quiz</p>
</td>
<td><a href=../../../show/view/222/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0721.1_20120117.mp3 download=signal_season07_21.1.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/204/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 21</h3>
<h4>Holiday Special</h4>
<p>Features include: Broadwaves: Killer Angels; The Terraformers: Episode 25: The Day of Plagues; Diary of a Companion: Part 27; Permanent Waves; Analyzing Unification Day; Hard Burn: The Firefly; Borderline: Hard Burn: Star in a Reasonably Priced Spaceship; Hard Burn: The Race; Tangled Yarn: The War Buddy Bond; Life in the 'Verse Special: Remembering Serenity Valley; Music Section: The Ballad of Serenity</p>
</td>
<td><a href=../../../show/view/212/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0721_20111222.mp3 download=signal_season07_21.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 20</h3>
<p>Features include: Editorial: The Future's so Bright; How to Speak Chinese: Pilot, part 2; Going Dark: Making Money on Miranda; Serenity Speculation: What's Patience's Game Plan?; What's in a Signal?: Holiday Specials; Badger's World: Episode 30: Flying Visit</p>
</td>
<td><a href=../../../show/view/221/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0720_20111208.mp3 download=signal_season07_20.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 19</h3>
<p>Features include: Editorial: Much Ado About Hope; Earthburn: The Summer of '69; What's in a Signal?: Levels of Analysis; A Tale of Two Crews; How to Speak Chinese: Pilot; Diary of a Companion: Part 26; Going Dark: Let's Get Outa Here</p>
</td>
<td><a href=../../../show/view/220/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0719_20111124.mp3 download=signal_season07_19.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 18</h3>
<p>Features include: Editorial: Flying Solo; Going Dark: Going Up; Music Section: Preacher Book; The Value of Life, Part 1; Firefly in Five Lines: Jill's Choice</p>
</td>
<td><a href=../../../show/view/219/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0718_20111108.mp3 download=signal_season07_18.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 17</h3>
<p>Features include: Firefly in Five Lines: Les's Choice; The Shipworks: The Brainpan (part two of <q>Beer</q>); Tangled Yarn: Jayne and Book; Music Section: Firefly; Diary of a Companion: Part 25; Editorial: So Long and Thanks for All the Fish</p>
</td>
<td><a href=../../../show/view/218/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0717_20111025.mp3 download=signal_season07_17.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 16</h3>
<p>Features include: Earthburn: Conventional Wisdom; Tangled Yarn: Kaylee and Inara; Firefly in Five Lines: Craig's Choice; Serenity Speculation: What Did The Operative Want?; Vote: Interview: Niska Headquarters; Going Dark: First Shots Fired</p>
</td>
<td><a href=../../../show/view/216/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0716_20111011.mp3 download=signal_season07_16.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 15.1</h3>
<h4>The Signal Live 2011</h4>
<p>Features include: Interview: Mike Dougherty; The Shipworks: Of Electric Sheep; Music Section: Freedom Costs; How to Speak Chinese: Fruity Oaty Bar; Q&amp;A Session</p>
</td>
<td><a href=../../../show/view/217/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0715.1_20111004.mp3 download=signal_season07_15.1.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 15</h3>
<p>Features include: Vote: Interview: Badger headquarters; Broadwaves: The Sandman (Series of Comic Books by Neil Gaiman); Firefly in Five Lines: Anna's Choice; Going Dark: I Never Want to Grow Up; Partners in Crime; Diary of a Companion: Part 24</p>
</td>
<td><a href=../../../show/view/215/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0715_20110927.mp3 download=signal_season07_15.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 14</h3>
<p>Features include: The Vasty Nothingness; What's in a Signal?: Speculating, Signal Style; Tangled Yarn: Mal and Book; Firefly in Five Lines: Andy's Choice; Interview: The Browncoats; Getting Dicey: Dicey Adventures</p>
</td>
<td><a href=../../../show/view/213/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0714_20110913.mp3 download=signal_season07_14.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13.5</h3>
<h4>Blast from the Past, part three</h4>
<p>Features include: Broadwaves: Secret Army; Interview: Nathan and Sandra Town; Diary of a Companion: Part 1; The Terraformers: Episode 12: Blast Off; Musical Evolution: From Firefly to Serenity; Earthburn: Articles of Alliance</p>
</td>
<td><a href=../../../show/view/214/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0713.5_20110906.mp3 download=signal_season07_13.5.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13.4</h3>
<h4>Blast from the Past, part two</h4>
<p>Features include: Mudders' Milk advertisement; Mudders' Milk How-To; Interview: Gina Torres; Reavers and Frankenstein; Badger's World: Episode 1: Reasonable</p>
</td>
<td><a href=../../../show/view/211/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0713.4_20110830.mp3 download=signal_season07_13.4.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13.3</h3>
<h4>Redemption Talk</h4>
<p>Features include: Redemption Talk</p>
</td>
<td><a href=../../../show/view/210/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0713.3_20110823.mp3 download=signal_season07_13.3.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13.2</h3>
<h4>Redemption Special</h4>
<p>Features include: Heart of Redemption; Redressing the Balance; The Good, the Bad, and the Alliance; Music Section: Hush Little Citizen; Redemption in Five Lines; Analyzing Laura; Interview: Mike Doherty (Redemption); The Sound of Redemption; Music Section: Redemption Trailer Four</p>
</td>
<td><a href=../../../show/view/209/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0713.2_20110816.mp3 download=signal_season07_13.2.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13.1</h3>
<h4>Blast from the Past, part one</h4>
<p>Features include: Serenity Speculation: Reavers; The Terraformers: Episode 0: Attack of the Crazy, Demented, Killer Training Instructor; The Terraformers: Episode 3: Invasion of the Killer Squirrels; Interview: Adam Baldwin; The Poetry of the 'Verse: Babelverse; The Science of Firefly; Borderline: Paquin</p>
</td>
<td><a href=../../../show/view/208/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0713.1_20110802.mp3 download=signal_season07_13.1.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 13</h3>
<p>Features include: What's in a Signal?: Catching Clips; Firefly in Five Lines: Jutta's Choice; Interview: Andy Gore; Tangled Yarn: Pull One String, You Pull Them All; Serenity Speculation: Reaver Expansion; Vote: Interview: Mo Wenti; The Heroes of Firefly</p>
</td>
<td><a href=../../../show/view/207/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0713_20110719.mp3 download=signal_season07_13.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 12</h3>
<p>Features include: Editorial: Long Live Firefly; How to Speak Chinese: The Five Suns; A Tale of Two Equilibria; Broadwaves: Being Human; Interview: Lisa Anderson of Whedonfest 2011; Psychic Definitions - What is a Reader?; Diary of a Companion: Part 23</p>
</td>
<td><a href=../../../show/view/206/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0712_20110705.mp3 download=signal_season07_12.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 11</h3>
<p>Features include: Of Love and Money; The Shipworks: Glitch Hunt (part three of <q>Beer</q>); Interview: Denise Gary; Getting Dicey: Dicey Details; When the Stars Align</p>
</td>
<td><a href=../../../show/view/205/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0711_20110621.mp3 download=signal_season07_11.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 10</h3>
<p>Features include: Editorial: Moments of Irrational Optimism; A Firefly Safari; Interview: Marc Gunn &amp; Cedric; The Expanding Whedonverse; Vote: Debate; Music Section: Freedom Costs; The Voice of Serenity</p>
</td>
<td><a href=../../../show/view/204/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0710_20110602.mp3 download=signal_season07_10.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 9</h3>
<p>Features include: What's in a Signal?: Hosting; Never Too Young to Wear a Brown Coat; Life on the Raggedy Edge; Vote: Vote Jayne; Firefly in Five Lines: Cornelius's Choice; Serenity Speculation: What is the Backstory of the Operative?; Diary of a Companion: Part 22; Around the 'Verse in 80 Days: Bernadette</p>
</td>
<td><a href=../../../show/view/203/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0709_20110517.mp3 download=signal_season07_09.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 8</h3>
<p>Features include: Editorial: Shades of Brown; Serenity Speculation: For What Was the Alliance Training River?; The Poetry of the 'Verse: Along for the Ride; The Shipworks: &#x00A1;Cuidado!; Vote: Don't Vote Badger; Getting Dicey: Dicey Crews; Firefly and Me: They Call it the Law; Music Section: Lay Me Down; Firefly in Five Lines: Nick's Choice</p>
</td>
<td><a href=../../../show/view/202/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0708_20110503.mp3 download=signal_season07_08.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 7</h3>
<p>Features include: The Industrial Characters of the 'Verse; The Shipworks: The Relativity of Simultaneity; An Indelible Mark; Vote: Vote Sheriff Bourne; Firefly in Five Lines: James's Choice; The Poetry of the 'Verse: Following the Voices; Interview: Mikey Mason; Music Section: She don't like Firefly</p>
</td>
<td><a href=../../../show/view/201/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0707_20110419.mp3 download=signal_season07_07.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 6</h3>
<p>Features include: Editorial: Taking a Journey; How to Speak Chinese: Liann Jiun and its moons; Firefly in Five Lines: Kara's Choice; Vote: Vote Badger; Diary of a Companion: Part 21; Serenity Speculation: Alliance Inaction, Considered; Firefly and Me: Doing Something Right; The Poetry of the 'Verse: Whedony; Browncoat Cosplay: An Introduction</p>
</td>
<td><a href=../../../show/view/199/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0706_20110405.mp3 download=signal_season07_06.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 5</h3>
<p>Features include: How to Speak Chinese: The Moons of Sihnon; Interview: Melissa Honig - Browncoat Ball; The Poetry of the 'Verse: Babelverse; Firefly in Five Lines: Bindiya's Choice; The Clothes and the Characters, Part II; Broadwaves: Podcastnovel: Shadowmagic; Vote: Vote Niska</p>
</td>
<td><a href=../../../show/view/198/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0705_20110322.mp3 download=signal_season07_05.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 4</h3>
<p>Features include: Editorial: The Squeaky Wheel; The Shipworks: Superpolynomial Subexponential Runtimes; The Poetry of the 'Verse: The Language of Time Travel; He Looks Better in Red; Interview: John Mullaney; Around the 'Verse in 80 Days: Xing Yun</p>
</td>
<td><a href=../../../show/view/197/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0704_20110308.mp3 download=signal_season07_04.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 3</h3>
<p>Features include: The Worthier Part; Heart of Firefly: The Heart of Serenity; Vote: Vote Patience; Interview: Heather Fagan; Diary of a Companion: Part 20; Firefly in Five Lines: Steve's Choice</p>
</td>
<td><a href=../../../show/view/196/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0703_20110222.mp3 download=signal_season07_03.mp3>audio</a></td>
</tr>
<tr class=even><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 2</h3>
<p>Features include: Editorial: Celebrate; Serenity Speculation: Survival of the Fittest; Interview: Mike Dougherty; The Clothes and the Characters; Around the 'Verse in 80 Days: Ezra; Firefly in Five Lines: Paul's Choice</p>
</td>
<td><a href=../../../show/view/195/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0702_20110208.mp3 download=signal_season07_02.mp3>audio</a></td>
</tr>
<tr class=odd><td><img src=../../../image/image/168/1/thumb/image.png width=100 height=100 alt></td>
<td><h3>Episode 1</h3>
<p>Features include: Editorial: Charity Begins in the 'Verse; Reaver Chase: The Game; Diary of a Companion: Part  19; Broadwaves: Jim Butcher's The Dresden Files series; Firefly and Me: Better Late than Even Later; Firefly in Five Lines: Miranda's Choice; The Shipworks: Minimal Expressionist Postmodern Neo-symbolist</p>
</td>
<td><a href=../../../show/view/194/index.html>shownotes</a><br><a href=https://media.libsyn.com/media/thesignal/signal_0701_20110125.mp3 download=signal_season07_01.mp3>audio</a></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../season/view/1/index.html>First season</a> &#x2022; <a href=../../../season/view/7/index.html>Previous season</a> &#x2022; <a href=../../../season/index.html>Up</a> &#x2022; <a href=../../../season/view/9/index.html>Next season</a> &#x2022; <a href=../../../season/view/11/index.html>Last season</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
