<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 7</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 7</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/50/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/52/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_207_20060419.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_207_20060419.mp3 download=signal_season02_07.mp3>Download audio file</a></div>
<div class=info>Wednesday 19th April 2006</div>
Produced by Miranda Thomas<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:19</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 3</h4>
<div>Les and Kari introduce the show and talk about
<ul><li>Kari's brand new podcastatarium</li>
<li>Show notes just got faster</li>
<li>The Signal forums</li>
<li>Competition - win signed soundtrack albums</li>
<li>Tales from the Verse</li>
<li><a href=../../../external.html#http://cantstoptheserenity.com/#current>Cinemas showing Serenity</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/520/51/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:05:09</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.thedigitalbits.com/articles/hdformats/highdefreleases.html>Serenity will be Universal's first HD-DVD</a></li>
<li><a href=../../../external.html#http://www.titanbooks.com/firefly>Firefly: The Official Companion, now in two volumes</a></li>
<li><a href=../../../external.html#http://www.supanova.com.au/>Summer Glau to appear at SupaNova Pop Culture Expo, Brisbane</a></li>
<li><a href=../../../external.html#http://www.pulpexpo.com/guests_Staite.htm>Jewel Staite to attend the Armageddon Pop Culture Expo, New Zealand</a></li>
<li><a href=../../../external.html#http://www.con-spiracy.org/>Ron Glass to Attend SF3 in Bloomington, Minesota</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/04/14/new-pics-of-the-firefly-card-set/>New pictures of Firefly card set available</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/523/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/47/index.html><img src=../../../image/image/59/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:06:57</td>
<td class=shownote><h3>Adventures in Serenity</h3>
<h4>Part 5</h4>
<p>Written by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; read by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; edited by <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/527/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.podculture.net><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:15:46</td>
<td class=shownote><h3>Promo: Podculture</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/48/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:40</td>
<td class=shownote><h3>The Firefly Technical Manual</h3>
<div><ul><li>Where does the parliament meet?</li>
<li>How far can Serenity go on a full tank and how long will it take?</li>
<li>Why don't we see moons or planets in the skies?</li>
<li>What is the extent of the Cortex?</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/528/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:21:05</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Buffy the Vampire Slayer</h4>
<p>Written by <a href=../../../human/view/14/index.html>Claire Musso</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/526/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:39</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Dave - Conversion story</li>
<li>Randy - Conversion story via RPG</li>
<li>Amy - Comments on Simon</li>
<li>Voicemail - Keep up the good work</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/524/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:42:07</td>
<td class=shownote><h3>Music Section</h3>
<h4>Hero of Canton</h4>
<p>Written by <a href=../../../human/view/30/index.html>Ben Edlund</a></p>
</td>
<td><a href=../../../segment/view/506/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:44:46</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 3</h4>
<div>Les and Kari talk about
<ul><li>How to Speak Chinese download</li>
<li>Serenity and digital downloads</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/520/51/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:48:01</td>
<td class=shownote><h3>DVD Differences</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/522/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:58:22</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/525/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:00:40</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 3</h4>
<div>Les and Kari talk about <a href=../../../external.html#http://www.intotheblack.ca>Into the Black</a></div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/520/51/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:02:11</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:02:35<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/50/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/52/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2373>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
