<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1693/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1844/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>Independence and Strength</h2>

<!-- audio src=signal_heartoffirefly_13.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_heartoffirefly_13.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/172/index.html>The Signal: Season 6, Episode 10</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>INARA</dt>
<dd>They're not companions. They're whores.</dd>
<dt>MAL</dt>
<dd>Thought you didn't much care for that word?</dd>
<dt>INARA</dt>
<dd>It applies. They&#x2019;re not registered with the Guild. They're&#x2014;</dd>
<dt>MAL</dt>
<dd>&#x2014; independent?</dd>
</dl>


<p>Independence is a theme that runs through Firefly as a whole. It is a key part both of Mal and Zoe&#x2019;s back story, in that they fought for the Independents during the war, and also of their current story, as it is the desire for independence from the Alliance that leads Mal to buy Serenity and people the crew with &#x201C;them as feel the need to be free&#x201D;. When we come to the episode Heart of Gold, we are introduced to another character who feels the need to be free and independent: Nandi, a former companion and a friend of Inara. As is often the case in Firefly, the introduction of an outsider is the catalyst for the main characters to discover more about themselves and each other. In this case, it is Mal and Inara who are at the forefront of the revelations.</p>

<p>Mal does not need the promise of pay to want to help Nandi out of her &#x201C;peck of trouble&#x201D;. He first asks Inara how Nandi is &#x201C;fixed for payment&#x201D;, but then once he finds out that Nandi&#x2019;s house is not registered with the Guild, he tells Inara that he won&#x2019;t be needing any payment after all. It seems that the prospect of helping out a fellow independently-minded sort is enough of an incentive to get involved.</p>

<p>When later Mal talks to Nandi, he finds out why she left her life as a companion:</p>


<dl><dt>NANDI</dt>
<dd>It was the dulcimer</dd>
<dt>MAL</dt>
<dd>The dulcimer drove you out of Sihnon. What, did you kill a dulcimer in a terrible passion?</dd>
<dt>NANDI</dt>
<dd>Actually, yes.</dd>
<dt>MAL</dt>
<dd>And now that dulcimer's family is out to get even. I get it.</dd>
<dt>NANDI</dt>
<dd>I was at practice. You never stop practicing, you know, not a true companion. Some baroque piece, and the instructor keeps saying &quot;You're playing it, not feeling it&quot;. And the fifth time he said it I took the damn thing and smashed it into kindling. And that's when it occurred to me that a companion's life might just be a little too constricting. So I trucked out to the border, learned to say &quot;ain't&quot; and came to find work. Found this place.</dd>
<dt>MAL</dt>
<dd>It's a nice place.</dd>
<dt>NANDI</dt>
<dd>It was a dungheap. Run by a pig who had half the girls strung out on drops. There's no Guild out here; they let men run the houses, and they don't ask for references. We didn't get along.</dd>
<dt>MAL</dt>
<dd>And where's he at now?</dd>
<dt>NANDI</dt>
<dd>Let's just say he ain't playing the dulcimer anymore either.</dd>
<dt>MAL</dt>
<dd>You are a remarkable woman, you don't mind my saying.</dd>
</dl>


<p>Nandi&#x2019;s story shows some parallels with Mal&#x2019;s. Her desire to escape the constricting life of a companion led her to move from the core to the border. Mal&#x2019;s desire to escape the constrictions of a &#x2018;verse run by the Alliance led him to buy a ship and head for the black. Mal&#x2019;s admiration for Nandi seems to be partly caused by his realisation that she shares his values of independence and freedom.</p>

<p>Mal and Nandi are also similar in that they have become the heads of their own created families. Though both are great believers in independence, their strong leadership has to some extent created followers, who are dependent on them, especially in a crisis. Mal&#x2019;s crew and Nandi&#x2019;s girls depend on their respective family heads to come up with a plan to get out of difficult situations. In the episode Safe, Zoe, for example, expresses to Kaylee her faith in Mal&#x2019;s ability to come up with a plan, when Book is shot and is in need of medical attention. Admittedly, she does also respond to Kaylee&#x2019;s question, &#x201C;That&#x2019;s good, right?&#x201D; with the wry answer, &#x201C;Possible you're not recalling some of his previous plans.&#x201D; Nonetheless, Zoe does look to her captain to lead the way in a crisis, as he is, after all, the captain.</p>

<p>When Rance Burgess vows to take Petaline&#x2019;s baby from her if he turns out to be the father, the whores naturally depend on their &#x201C;captain&#x201D;, Nandi, for a plan to stop him:</p>


<dl><dt>HELEN</dt>
<dd>How we gonna stop him, Nandi?</dd>
<dt>NANDI</dt>
<dd>We'll get help. That's how.</dd>
<dt>CHARI</dt>
<dd>Help? There's not a soul on this moon'd go up against Rance Burgess.</dd>
<dt>HELEN</dt>
<dd>She's right. Ain't nobody strong enough. And even if there was&#x2014; who'd help us?</dd>
</dl>


<p>It is interesting that Nandi&#x2019;s immediate response is &#x201C;We&#x2019;ll get help&#x201D;. She knows that she does not have the strength &#x2013; in the sense of manpower and gunpower &#x2013; to stand up to Burgess without outside help. She is not so independent that she will refuse to look to others for help when she needs it.</p>

<p>Nandi may not be a match for Burgess in the kind of strength that is measured by number of weapons, but she is strong in a different way:</p>


<dl><dt>NANDI</dt>
<dd>Captain Reynolds... It took me years to cut this piece of territory out of other men's hands. To build this business up from nothing.</dd>
<dt>MAL</dt>
<dd>Nandi&#x2014;</dd>
<dt>NANDI</dt>
<dd>It's who I am. And it's my home. I'm not going anywhere.</dd>
<dt>MAL</dt>
<dd>He'll kill you. Kill every last one of them, it comes to that. And he'll sleep well that night.</dd>
<dt>NANDI</dt>
<dd>Rance Burgess is just a man... And I won't let any man take what's mine. I doubt you'd do different, in my position.</dd>
<dt>MAL</dt>
<dd>Well, lady, I must say. You're my kinda stupid.</dd>
</dl>


<p>Nandi&#x2019;s strength is evidenced in the home and family she has built, in the face of opposition. It is also seen in her determination to fight for that home and family and not be scared into running away and letting others take what is hers.</p>

<p>In contrast, Rance Burgess has come to his position of strength by dominating others. Nandi tells Mal that he has the money to build a city, &#x201C;a real community&#x201D;, but instead he leaves the people to scratch out an existence in harsh conditions while he plays cowboy. Later in the episode, Burgess speaks to his men about the place of a woman in his idea of society.  His words reveal how to him power is about being able to oppress others:</p>


<dl><dt>BURGESS</dt>
<dd>Now Chari here, she understands a whore's place, don't she? But Nandi, and those others, they spit on our town. They've no respect for the sanctity of fatherhood, or decency or family. They have my child held hostage to their decadent ways and that I will not abide! We will show them what power is! We will show them what their position in this town is! Let us all remember, right here and now, what a woman is to a man! Get on your knees.</dd>
</dl>


<p>Nandi&#x2019;s desire for independence coupled with the strength she has which enables her to act on this desire results in her taking a stand against Burgess. Sadly, Mal&#x2019;s prediction that Burgess will kill Nandi comes true, although he does not &#x201C;sleep well that night&#x201D;, as Mal also predicted. Petaline steps up to fill the gap left by Nandi and ends Burgess&#x2019; domination in the most final way possible. As Inara later comments to Mal, Nandi has taught her girls well.</p>

<p>Nandi was willing to risk all for the sake of independence and freedom from oppression. This willingness to take risks is mirrored by Zoe in respect to something quite different, as she talks to Wash about having a baby:</p>


<dl><dt>ZOE</dt>
<dd>I don't give a good gorramn about relevant, Wash. Or objective. And I ain&#x2019;t so afraid of losing something that I ain&#x2019;t gonna try to have it.</dd>
</dl>


<p>Mal, in contrast, looks back at the risk he took in helping Nandi to make a stand against Burgess and regrets it:</p>


<dl><dt>INARA</dt>
<dd>I'm... I'm glad you were with her. Her last night. I am.</dd>
<dt>MAL</dt>
<dd>Yeah, well, I ain't. Hell, I wish I'd never met her. Then I wouldn't've failed her.</dd>
</dl>


<p>Mal takes Nandi&#x2019;s death as a reminder that life is too short for ifs and maybes and together with his regret at trying help her, this makes him feel &#x201C;kind of truthsome&#x201D; as he talks to Inara at the end of the episode. However, just as he appears to be about to open up to Inara about the feelings he has for her, she stops him from continuing by coming out with her own revelation, which ties together the twin themes of independence and strength that run through the episode:</p>


<dl><dt>INARA</dt>
<dd>I learned something from Nandi. Not just from what happened, but from her. The family she made, the strength of her love for them. That's what kept them together. When you live with that kind of strength, you get tied to it, you can't break away. And you never want to. There's something... There&#x2019;s something I should have done a long while ago. And I'm sorry&#x2014; for both of us&#x2014; that it took me this long. I'm leaving.</dd>
</dl>


<p>Although on the surface Inara is talking about the family Nandi made, and the strength of her love for that family, it seems that at a deeper level, she is referring to the family Mal has made on Serenity, and the strength he has which keeps it together. Inara feels tied to this strength and does not want to break away, but despite that she determines to do so. Is her desire for independence so strong that she feels she cannot remain tied to Mal&#x2019;s created family and enjoy the strength of it? Perhaps, however, she also has other reasons, which, at least for now, she is keeping to herself.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1693/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1844/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/172/index.html>The Signal: Season 6, Episode 10</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
