<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Feature</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Feature</h1>
<div><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1469/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1476/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
<h2>No More Running</h2>
<div>First aired: <a href=../../../show/view/143/index.html>The Signal: Season 5, Episode 14</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>MAL</dt>
<dd>You all got on this boat for different reasons... but you all come to the same place. So now I'm asking more of you than I have before. Maybe all. Sure as I know anything I know this, they will try again. Maybe on another world, maybe on this very ground swept clean. A year from now, ten, they'll swing back to the belief... that they can make people... better. And I do not hold to that. So no more running. I aim to misbehave.</dd>
</dl>


<p>These are stirring words, ones that we might expect to hear from a Big Damn Hero in a Big Damn Movie. But the journey that Mal takes in order for him to be able to say these words is not one that your average movie hero takes. As Joss Whedon notes in the DVD commentary, Mal doesn&#x2019;t go from &#x201C;hero to hero&#x201D;. His journey in the film is much more interesting than that.</p>

<p>At the start of the film, we meet Mal as he is preparing for a heist. He seems to be only just managing to keep control of his crew and his ship, the latter of which is falling apart on him. Even if we don&#x2019;t know of Mal&#x2019;s previous exploits from the television series, Jayne&#x2019;s comment that &#x201C;What you plan and what takes place ain&#x2019;t ever exactly been similar&#x201D; makes it clear that Mal is not someone with a reputation for smooth and successful operations.</p>

<p>Mal&#x2019;s concerns are simply for himself and those he considers his crew, as he tells Simon. His world is no bigger than that. He wants to finish the current job and then get another one. He has no grander plan than that. In his own words, his philosophy is &#x201C;Don&#x2019;t push me, and I won&#x2019;t push you.&#x201D; He has no mission, and, as he reveals in an exchange with Kaylee, he has no faith.</p>

<p>The Operative, in contrast, couldn&#x2019;t be more different. He is in complete control as he confronts Dr Mathias, despite being outnumbered. He is calm, smooth and methodical. Before he starts to kill people, he seems decent and gentle. But as Joss says in the DVD commentary, he is someone who believes so strongly in what he is doing that he will do anything to achieve his goal:</p>


<dl><dt>THE OPERATIVE</dt>
<dd>This is a good death. There's no shame in this... in a man's death. A man who has done fine works. We're making a better world. All of them... better worlds.</dd>
</dl>


<p>The Operative could have just run Dr Mathias through with his sword, but instead he chooses to force him to fall on his sword, literally. It is important to him that Dr Mathias be comforted in his death and that he know it is a noble and honourable one, suffered in the cause of something great.</p>

<p>In contrast, Mal lives in a different kind of world. His shooting of the young man on Lilac was, as Zoe puts it, &#x201C;a piece of mercy&#x201D;, but not taking him on the mule in the first place was more debatable. Mal might not be deliberately setting out to shoot unarmed men, but the fact that he does so without too much soul-searching afterwards suggests that he has lost his way somewhat.</p>

<p>Quite why Mal has lost his way in the time since the end of the events covered by the television series is not exactly clear, but one possible reason is that Mal and his crew have fallen on even harder times than usual. Mal comments that he couldn&#x2019;t have ditched the money in favour of the man from Lilac as he has bits falling off his ship and &#x201C;a powerful need to eat some time this month&#x201D;. Another possible reason is that he has lost the steadying influence of Shepherd Book, who has left Serenity by this point. And it isn&#x2019;t hard to see how Inara&#x2019;s departure could also have thrown Mal off course.</p>

<p>A turning point for Mal comes after the fight in the Maidenhead. He picks up River and brings her back to Serenity. Mal gives no answer when Jayne asks him why he brought River back. It seems that he doesn&#x2019;t even have one. He doesn&#x2019;t want to admit out loud, or perhaps even to himself, that he cares enough for anything, or anyone, to show mercy to Simon and River.</p>


<dl><dt>MAL</dt>
<dd>I could have left her there. I had an out. Hell, I had every reason in the 'verse... to leave her lay and haul anchor.</dd>
<dt>BOOK</dt>
<dd>It's not your way, Mal.</dd>
<dt>MAL</dt>
<dd>I have a way? That better than a plan?</dd>
<dt>BOOK</dt>
<dd>Only one thing is gonna walk you through this, Mal. Belief.</dd>
</dl>


<p>Book doesn&#x2019;t specify at this point what Mal needs to believe in, but later in the same conversation he describes the kind of man the Alliance would send after River as someone who &#x201C;believes hard, kills and never asks why&#x201D;. And when Inara comes back on Serenity, having encountered the Operative in person, she describes him as a &#x201C;believer&#x201D;, who is &#x201C;devout in his belief that killing River is the right thing to do&#x201D;. Mal&#x2019;s lack of belief in anything or anyone is thrown into sharp contrast here.</p>

<p>Mal&#x2019;s only plan after bringing Simon and River back on Serenity is to hide, but the wave from Inara forces him into action. Even then, as he meets the Operative, he still has no plan beyond maintaining his freedom. He tells the Operative that he doesn&#x2019;t want to beat the Alliance. He just wants to go his way.</p>


<dl><dt>THE OPERATIVE</dt>
<dd>Nothing here is what it seems. He isn't the plucky hero. The Alliance isn't some evil empire. This is not the grand arena.</dd>
</dl>


<p>The Operative may be the villain of the film, but his words here are very true at this point. Mal still has a long way to go to be considered a hero. Equally, the Alliance is far from being an evil empire. Its intentions are good, even if, as we find out later, they lead to tragedy.</p>

<p>Mal&#x2019;s confrontation with Jayne back on Serenity gives us some further insight into what might be behind Mal&#x2019;s reluctance to lead the crew with any purpose. In Serenity Valley he was a leader, and he led his men to their deaths.</p>


<dl><dt>INARA</dt>
<dd>This isn't the war, Mal.</dd>
<dt>MAL</dt>
<dd>You telling me that 'cause you think I don't know?</dd>
<dt>INARA</dt>
<dd>You came to the Training House looking for a fight.</dd>
<dt>MAL</dt>
<dd>I came looking for you.</dd>
<dt>INARA</dt>
<dd>I just want to know who I'm dealing with. I've seen too many versions of you to be sure.</dd>
<dt>MAL</dt>
<dd>I start fighting a war, I guarantee you'll see something new.</dd>
</dl>


<p>According to Joss&#x2019;s DVD commentary, Mal hesitates to start fighting this war because he knows that if he actually starts to care about something, and believe, he will become capable of terrible things, just like the Operative. At present, he has, in his own words, &#x201C;no rudder&#x201D;. If the wind blows northerly, he goes north. That is how he has been able to live with himself since Serenity Valley.</p>

<p>The idea of belief comes up again with Book&#x2019;s dying words to Mal, &#x201C;I don&#x2019;t care what you believe. Just believe it.&#x201D; But still Mal&#x2019;s reaction is to run away and hide some more. We&#x2019;re over halfway through the film at this point and Mal is still running.</p>

<p>The turning point for Mal comes when he sees on Miranda the consequences of the Alliance&#x2019;s belief in &#x201C;a better world, a world without sin&#x201D;, as the Operative puts it. Mal has finally been pushed enough and he&#x2019;s ready to stop running and push back. He has found the belief that Book talked about. His belief might simply be that the Alliance is wrong in their belief that people can be made better, but it is enough for Mal to have a purpose now. He is going to aim to misbehave, and to fight for the right to continue to misbehave.</p>

<p>Meanwhile, the Operative is starting to lose his cool. As Mal&#x2019;s star is in the ascendant, so to speak, the Operative&#x2019;s is definitely on the way down. When he kills Mr Universe, it is clear that his usual calm is starting to desert him. This killing is quick and silent. He offers no words of comfort to Mr Universe, as he did with Dr Mathias at the start of the film. And he doesn&#x2019;t let Mr Universe live while he lies in wait for Mal, as he did with Inara at the training house. By the time Serenity appears with the reavers hot on her heels, the Operative is clearly rattled and shouts &#x201C;Somebody fire!&#x201D; in desperation.</p>

<p>And so we come to the final showdown between Mal and the Operative. At this point they both hold onto their respective beliefs strongly enough to be willing to die for them. Mal has only just come to his belief and the Operative is shortly to lose his, but for now they are both believers and that can only lead to confrontation.</p>


<dl><dt>MAL</dt>
<dd>I know the secret. The truth that burned up River Tam's brain. Rest of the 'verse is going to know it, too. 'Cause they need to.</dd>
<dt>OP</dt>
<dd>Do you really believe that?</dd>
<dt>MAL</dt>
<dd>I do.</dd>
<dt>OP</dt>
<dd>You willing to die for that belief?</dd>
<dt>MAL</dt>
<dd>I am. Of course, that ain't exactly Plan A.</dd>
</dl>


<p>By the time the fight is over and the Operative sees what it is that the Alliance did on Miranda, only Mal walks away with his belief still intact. The Operative is no longer the Alliance&#x2019;s man. He says later to Mal that, &#x201C;There is nothing left to see&#x201D;. As a man who at the start of the film described himself as having no rank or name and not even existing, once his belief in the good intentions of the Alliance has gone, he is nothing.</p>

<p>In contrast, Mal has become the &#x201C;plucky hero&#x201D; the Operative mentioned during the fight at the training house. Unfortunately, Mal has also become the kind of hero that Zoe defined during the heist on Lilac &#x2013; &#x201C;someone who gets other people killed&#x201D;. The deaths of Book and Wash, and others, were the price paid for believing in something. Belief, like love, as the Operative told Dr Mathias, can be dangerous. But it also allows people to stop running and start living.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/26/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1469/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/6/index.html>Up</a> &#x2022; <a href=../../../segment/view/1476/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3091/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/143/index.html>The Signal: Season 5, Episode 14</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
