<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 6, Episode 21</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 6, Episode 21</h1>
<div><h2>Songs from the Black III: Rock the Boat!</h2>
<div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/192/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_621_20101228.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_621_20101228.mp3 download=signal_season06_21.mp3>Download audio file</a></div>
<div class=info>Tuesday 28th December 2010</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:00:00</td>
<td class=shownote><h3>Music Section</h3>
<h4>Monahan's Mudders' Milk</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a></p>
</td>
<td><a href=../../../segment/view/2111/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:45</td>
<td class=shownote><h3>Music Section</h3>
<h4>Missing Part</h4>
<div>Performed live, September 2009
<ul><li>Written by: <a href=../../../external.html#http://seananmcguire.com>Seanan McGuire</a></li>
<li>Lead Vocals: <a href=../../../external.html#http://vixyandtony.com>Michelle Dockrey</a></li>
<li>Guitar: <a href=../../../external.html#http://vixyandtony.com>Tony Fabris</a></li>
<li>Violin: <a href=../../../external.html#http://sunnie.org>Sunnie Larsen</a></li>
<li>Engineering and production: <a href=../../../external.html#http://segherssound.com>John Seghers</a></li>
<li>Recorded at <a href=../../../external.html#http://www.waywardcoffee.com>Wayward Coffeehouse</a> on September 26th, 2009</li>
<li><a href=../../../external.html#http://www.contabile.org.uk/vanderfilk/index.html>Van der Filk site</a></li>
</ul>
</div>
<p>Music by <a href=../../../human/view/113/index.html>Seanan McGuire</a> and <a href=../../../human/view/122/index.html>Vixy and Tony</a></p>
</td>
<td><a href=../../../segment/view/1565/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:21</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Hero of Canton</h4>
<div><ul><li>From the album Space Age Loser</li>
<li>Captain Moerke - Lead Vocals, Lead Guitar & Audio Engineering</li>
<li>Co-Pilot Miller - Drumming, Producing, Mudder's Milk</li>
<li>Air Marshall Bailey - Guitars, Cigarettes</li>
<li>Dominic - Bass, Management, Passenger Director, Baggage</li>
<li>Amy - Stage Lighting, Cleavage, Sunglasses</li>
<li>Chris - Cinematography, Cameras, In-Flight Movies</li>
<li>Rob - Information Technologist, Tobacconist</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/234/index.html>The Browncoats</a></p>
</td>
<td><a href=../../../segment/view/1537/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:11:10</td>
<td class=shownote><h3>Music Section</h3>
<h4>She Said Her Name was Saffron</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a></p>
</td>
<td><a href=../../../segment/view/1528/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:14:00</td>
<td class=shownote><h3>Music Section</h3>
<h4>Ode To Vera</h4>
<p>Music by <a href=../../../human/view/116/index.html>Terrifying Space Monkeys</a> and <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/1354/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:18:41</td>
<td class=shownote><h3>Music Section</h3>
<h4>Albatross</h4>
<p>Music by <a href=../../../human/view/229/index.html>A Portion For Reuben</a></p>
</td>
<td><a href=../../../segment/view/1509/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:22:27</td>
<td class=shownote><h3>Music Section</h3>
<h4>Tentative Radar</h4>
<p>Music by <a href=../../../human/view/472/index.html>'Verse</a></p>
</td>
<td><a href=../../../segment/view/1836/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:28:19</td>
<td class=shownote><h3>Music Section</h3>
<h4>Anchorage</h4>
<p>Music by <a href=../../../human/view/107/index.html>Marian Call</a></p>
</td>
<td><a href=../../../segment/view/1978/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:35:47</td>
<td class=shownote><h3>Music Section</h3>
<h4>Bellflower Medley</h4>
<p>Music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/2141/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:32</td>
<td class=shownote><h3>Music Section</h3>
<h4>Bring Me Home</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a></p>
</td>
<td><a href=../../../segment/view/2140/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:17</td>
<td class=shownote><h3>Music Section</h3>
<h4>Albatross</h4>
<p>Music by <a href=../../../human/view/214/index.html>River and The Reavers</a></p>
</td>
<td><a href=../../../segment/view/1501/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:47:08</td>
<td class=shownote><h3>Music Section</h3>
<h4>Inara's Lament</h4>
<p>Music by <a href=../../../human/view/116/index.html>Terrifying Space Monkeys</a></p>
</td>
<td><a href=../../../segment/view/1414/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:52:53</td>
<td class=shownote><h3>Music Section</h3>
<h4>They Fall Right Out Of The Sky</h4>
<p>Music by <a href=../../../human/view/472/index.html>'Verse</a></p>
</td>
<td><a href=../../../segment/view/1802/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:57:23</td>
<td class=shownote><h3>Music Section</h3>
<h4>Apprentice</h4>
<p>Music by <a href=../../../human/view/122/index.html>Vixy and Tony</a></p>
</td>
<td><a href=../../../segment/view/1339/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:04:18</td>
<td class=shownote><h3>Music Section</h3>
<h4>Earth that Was</h4>
<p>Music by <a href=../../../human/view/442/index.html>Star One</a></p>
</td>
<td><a href=../../../segment/view/1973/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:11:57</td>
<td class=shownote><h3>Music Section</h3>
<h4>To the Black (The Ballad of Serenity)</h4>
<div><ul><li>From the album The Browncoats:...Drunk</li>
<li>Featuring Matt Monad and Stepan Mezentsev on violins</li>
<li>Paul Moerke - Guitars, bass and vocals, engineering and general clucking</li>
<li>Gary Miller - Drums, vocals and booze, managing and producing</li>
<li>Baily Roberts -  Guitars, vocals and bottle openers</li>
<li>Dominic Anthony - Vocals, guitars, bass and general noise</li>
<li>Vincent Marshall - Bass, bouncer</li>
<li>Amy Jordan - Shots, lighting and stage management</li>
<li>Tim Orr - Fat Elvis impersonations and videography</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/234/index.html>The Browncoats</a></p>
</td>
<td><a href=../../../segment/view/2079/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:15:42<div class=wiki-local><div><p>You can also download all of these songs individually (as well as album cover art, etc.) by visiting the <a class="external text" href=../../../series/view/162/index.html>Songs from the Black III</a> page.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/158/index.html>First show</a> &#x2022; <a href=../../../show/view/192/index.html>Previous show</a> &#x2022; <a href=../../../season/view/7/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/193/index.html>Last show</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
