<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <span class=greyed-out>Previous episode</span> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1408/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>Glorious Surprises</h2>

<!-- audio src=signal_heartoffirefly_01.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_heartoffirefly_01.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/134/index.html>The Signal: Season 5, Episode 6</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><dl><dt>PATIENCE</dt>
<dd>Mal! How you doing, boy?</dd>
<dt>MAL</dt>
<dd>Walking and talking.</dd>
<dt>PATIENCE</dt>
<dd>Is that Zoe? You still sailing with this old bum.</dd>
<dt>ZOE</dt>
<dd>Awful lot of men to haul three crates.</dd>
<dt>PATIENCE</dt>
<dd>Yeah, well, I couldn&#x2019;t be sure my Mal here wouldn&#x2019;t be looking for some kind of payback. You understand.</dd>
<dt>MAL</dt>
<dd>We&#x2019;re just on the job, Patience. Not interested in any surprises.</dd>
</dl>


<p>Do you remember how you felt when you first watched Serenity, the series pilot? For many of us, it wasn&#x2019;t our introduction to the world of Firefly. Either we were there from the early days and watched The Train Job or another episode on television first, or we came on board later via the film. If, like me, you fall into one of those categories, you missed out on being led into the &#x2018;verse in the way Joss Whedon intended.</p>

<p>In the DVD commentary to the pilot, Joss talks about the episode being two hours filled with &#x201C;glorious surprises&#x201D;. But many of us are now so familiar with the world that the pilot introduces, and with the plot, that the impact of those surprises can be lost. Of course, this is only natural and it needn&#x2019;t detract in the slightest from our continued enjoyment of the pilot. But I think it is a fun exercise to look at it afresh, as if we were finding the &#x2018;verse for the very first time.</p>

<p>Before we even get into the episode itself, our first surprise is probably going to be the name of the show &#x2013; &#x201C;Firefly&#x201D;?! It&#x2019;s named after a bug?! Shouldn&#x2019;t spaceships be named after slightly more heroic and warrior-like creatures? Maybe a &#x201C;viper&#x201D;, or some kind of &#x201C;falcon&#x201D;? And what about &#x201C;Serenity&#x201D; herself? How did she end up with such a peaceful sounding name? We&#x2019;ve come to expect intrepid sounding names like, well, &#x201C;Intrepid&#x201D; perhaps, or even &#x201C;Enterprise&#x201D;. Something that sounds like it would be boldly going somewhere, not just floating serenely in space. Perhaps we shouldn&#x2019;t be too surprised by the names Joss chose though. This, after all, is a man who called a vampire slayer Buffy and a vampire Angel.</p>

<p>Now we come to the start of the episode itself. If we&#x2019;re expecting gleaming futuristic spaceships, we&#x2019;re in for another surprise. We seem to be looking at scenes from a war that could have taken place a hundred years ago. Yet, wait, there are ships of some kind in the air, and there&#x2019;s an incongruously futuristic looking anti-aircraft gun. What is going on? Are we in the past, or the future? And where are we exactly? Everything looks familiar, but yet, not quite.</p>

<p>This kind of surprise runs all the way through the pilot. We are repeatedly presented with what might sound like contradictions in terms of the setting. Take Eavesdown Docks, for example. There are spaceships, but also a horse and cart. Then we see Badger, who has a bulletin written on some kind of digital paper, but one of his men in the background appears to be working on some kind of manual adding machine. Somehow though, the lasting impression is that this world we are seeing is real. What might sound like contradictions or anachronisms on paper are totally convincing on screen.</p>

<p>And then there&#x2019;s the surprise of the filming style. There&#x2019;s a grittiness here that we&#x2019;re not used to in sci-fi television, a &#x201C;found footage&#x201D; feel. Remember, this was before the re-imagined Battlestar Galactica had first aired. Firefly was the pioneer in this. There are zooms, lens flares, misframings and shaky camera work, all contributing to a look that is Firefly&#x2019;s own.</p>

<p>Another area in which Firefly contrasts greatly with a lot of sci-fi television which had gone before is in its choice of protagonists. Are we as viewers going to be following the politicians, the high ranking military officers, the noble explorers, the ambassadors? No, none of the above. As we watch the pilot episode, we realise that our heroes &#x2013; if that&#x2019;s even the right word &#x2013; are very ordinary people, who make their living in an ever so slightly dodgy way, flying about in an old spaceship that has no guns on it.</p>

<p>Let&#x2019;s also take a moment to relive another one of the big surprises from the pilot:</p>


<dl><dt>MAL</dt>
<dd>What is it?</dd>
<dt>WASH</dt>
<dd>Signal. Somebody went on the Cortex, hailed the nearest Alliance Cruiser.</dd>
<dt>MAL</dt>
<dd>Tell me you scrambled it.</dd>
<dt>WASH</dt>
<dd>All to Hell, but I don't know how much got through. Alliance got a pin in us for sure.</dd>
<dt>MAL</dt>
<dd>&lt;F*** everyone in the universe to death.&gt;</dd>
<dt>WASH</dt>
<dd>We got a mole on board.</dd>
</dl>


<p>It might seem like the most natural thing in the &#x2018;verse to us now, but, people blurting out lines in Chinese? That probably wasn&#x2019;t something we were expecting!</p>

<p>Even when they&#x2019;re not speaking Chinese, the language the characters are using is something new. There are influences from the Old West mixed in with a definite modern touch and that unmistakeable Whedonesque way with words, resulting in a glorious mixture that perfectly fits the melting pot of cultures and time periods in the &#x2018;verse.</p>

<p>A similar effect is achieved with the music. I&#x2019;m sure that like me you can&#x2019;t imagine Firefly with any other kind of music now, but it certainly was a surprise the first time we heard it.</p>

<p>Before we have even started on the plot of the pilot episode, we have been presented with a surprising new world in a surprising new way. What kind of story will now follow? Well, as maybe we should be expecting by now, we&#x2019;re in for a few surprises!</p>

<p>One of the big surprises of the plot concerns what, or rather who, is contained in the box Simon brings on to Serenity. Well, I say this is a big surprise, but for many of us it wasn&#x2019;t, as we didn&#x2019;t watch the pilot first. If you were lucky enough to watch the episodes of Firefly in the right order and happened to inexplicably doze off during the opening credits, then you would have been in for a great surprise as Mal pushed off the lid of the box to discover River inside.</p>

<p>There are many other unexpected plot twists, both major and minor, in the pilot, but two of my particular favourites involve Mal, and his gun. As Patience takes cover behind a horse, her shotgun levelled at Mal, what does Mal do? Why, he shoots the horse, of course. But that&#x2019;s nothing compared to later, when Mal returns to Serenity to find Dobson holding a gun to River&#x2019;s head. The way in which Mal shoots Dobson shocks us with its suddenness, and matter-of-factness.</p>

<p>But what really stands out for me in the pilot with respect to surprises in the plot is the kind of surprise that involves deliberately misleading the viewers before the big reveal. Some of these surprises are fairly minor ones, that simply raise a smile. Take our introduction to Wash, for example:</p>


<dl><dt>WASH</dt>
<dd>Everything looks good from here...Yes. Yes, this is a fertile land, and we will thrive. We will rule over all this land, and we will call it... This Land. I think we should call it... your grave! Curse your sudden but inevitable betrayal! Ha ha HA! Mine is an evil laugh! Now die!</dd>
</dl>


<p>It is only after his &#x201C;Everything looks good from here&#x201D; line that we actually see the plastic dinosaurs and realise what he&#x2019;s doing. Another surprise in this category would have to be when we realise that the rather hulking, gruff individual, who is most definitely a man, is called&#x2026; Jayne.</p>

<p>Other surprises reveal something more about the world we&#x2019;re being introduced to. What is it that Book offers Kaylee that makes her eyes shine so? Strawberries. What are the &#x201C;awfully pretty&#x201D; gold-coloured bars in the crates that the crew steal? Food.</p>

<p>The way in which we are introduced to Inara and her profession is one of the most deliberately misleading parts of the pilot. Before we see Inara and what it is she actually does for a living, we hear her referred to as &#x201C;the Ambassador&#x201D; by Wash and her profession as &#x201C;an honest living&#x201D; by Mal. After we see Inara at work and realise what her job is, we get another reveal thrown in for good measure &#x2013; the sumptuous bedroom where she is entertaining her client turns out to be a shuttle. And if we haven&#x2019;t quite grasped what is going on by this point, we get to hear more about the surprising nature of Inara&#x2019;s status as she is introduced to Book.</p>

<p>The introduction of Serenity&#x2019;s passengers also involves a lot of deliberate misleading followed by some big reveals. At first, we think we know where we stand. Simon is clearly evil and the villain of the week, albeit a rather sweet-faced one. Book is open and genial with nothing to hide. Dobson is harmless and just making up the numbers. Eventually we realise that we couldn&#x2019;t be more wrong. Simon&#x2019;s actions have been motivated by love, Book&#x2019;s ability to disarm a man suggests there&#x2019;s more to him than he has let on, and Dobson is the very opposite of harmless.</p>

<p>A classic example of surprising the viewer with deliberate misdirection comes when Mal confronts Simon in the cargo bay:</p>


<dl><dt>MAL</dt>
<dd>I got exactly no time for games. What do they know.</dd>
<dt>SIMON</dt>
<dd>You are a lunatic.</dd>
<dt>MAL</dt>
<dd>And you're a gorramn Fed.</dd>
<dt>BOOK</dt>
<dd>Hate to say it, Captain, but you've got the wrong man.</dd>
<dt>MAL</dt>
<dd>Son of a bitch.</dd>
<dt>DOBSON</dt>
<dd>Drop that firearm, Captain Reynolds.</dd>
<dt>MAL</dt>
<dd>This is not my best day ever.</dd>
</dl>


<p>At first we think along with Mal that the fed is Simon, but then, wait, no, it&#x2019;s Book? Wrong again! It&#x2019;s Dobson.</p>

<p>And then Joss starts playing with us regarding who of what appears to be the main cast is actually going to make it through the pilot alive. If we know his previous work, we know that he&#x2019;s not averse to a shocking death or two. First we think it is Kaylee who isn&#x2019;t going to make it, then we see Zoe get shot and go down and we wonder if it will be her instead who won&#x2019;t be around for episode two.</p>


<dl><dt>SIMON</dt>
<dd>Are you always this sentimental?</dd>
<dt>MAL</dt>
<dd>I had a good day.</dd>
<dt>SIMON</dt>
<dd>You had the Alliance on you, criminals and savages... half the people on the ship have been shot or wounded including yourself, and you're harboring known fugitives.</dd>
<dt>MAL</dt>
<dd>We're still flying.</dd>
<dt>SIMON</dt>
<dd>That's not much.</dd>
<dt>MAL</dt>
<dd>It's enough.</dd>
</dl>


<p>It certainly is. In less than two hours, we&#x2019;ve been introduced to an entirely new &#x2018;verse inhabited by an abundance of intriguing characters, who&#x2019;ve &#x201C;all got stories&#x201D;. There have been surprises galore and all we need to do is keep watching, because there are more to come.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <span class=greyed-out>Previous episode</span> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1408/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/134/index.html>The Signal: Season 5, Episode 6</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
