<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>David Moore</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>David Moore</h1>
<div><h2>Segments written by David Moore</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Bold Moves: Role Playing in the 'Verse</td>
<td>The Signal: Season 3, Episode 6</td>
<td><a href=../../../segment/view/853/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Inspiration</td>
<td>The Signal: Season 3, Episode 7</td>
<td><a href=../../../segment/view/863/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Adventure</td>
<td>The Signal: Season 3, Episode 8</td>
<td><a href=../../../segment/view/878/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Technology in the 'Verse</td>
<td>The Signal: Season 3, Episode 9</td>
<td><a href=../../../segment/view/894/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Plot Points and Enriching Your Game</td>
<td>The Signal: Season 3, Episode 16</td>
<td><a href=../../../segment/view/903/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Shared Game Creation</td>
<td>The Signal: Season 3, Episode 19</td>
<td><a href=../../../segment/view/984/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Gen Con MWP Interview</td>
<td>The Signal: Season 4, Episode 1</td>
<td><a href=../../../segment/view/1078/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Politics in the 'verse and Your Game</td>
<td>The Signal: Season 4, Episode 3</td>
<td><a href=../../../segment/view/1090/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Fleshing out the factions - Hidel Audding</td>
<td>The Signal: Season 4, Episode 5</td>
<td><a href=../../../segment/view/1118/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Free-Form Roleplaying</td>
<td>The Signal: Season 4, Episode 7</td>
<td><a href=../../../segment/view/1140/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Browncoat Captains</td>
<td>The Signal: Season 4, Episode 11</td>
<td><a href=../../../segment/view/1154/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Interview - Jamie Chambers of MWP</td>
<td>The Signal: Season 4, Episode 14</td>
<td><a href=../../../segment/view/1206/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments read by David Moore</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Bold Moves: Role Playing in the 'Verse</td>
<td>The Signal: Season 3, Episode 6</td>
<td><a href=../../../segment/view/853/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Inspiration</td>
<td>The Signal: Season 3, Episode 7</td>
<td><a href=../../../segment/view/863/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Adventure</td>
<td>The Signal: Season 3, Episode 8</td>
<td><a href=../../../segment/view/878/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Technology in the 'Verse</td>
<td>The Signal: Season 3, Episode 9</td>
<td><a href=../../../segment/view/894/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Plot Points and Enriching Your Game</td>
<td>The Signal: Season 3, Episode 16</td>
<td><a href=../../../segment/view/903/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Shared Game Creation</td>
<td>The Signal: Season 3, Episode 19</td>
<td><a href=../../../segment/view/984/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Gen Con MWP Interview</td>
<td>The Signal: Season 4, Episode 1</td>
<td><a href=../../../segment/view/1078/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Politics in the 'verse and Your Game</td>
<td>The Signal: Season 4, Episode 3</td>
<td><a href=../../../segment/view/1090/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Fleshing out the factions - Hidel Audding</td>
<td>The Signal: Season 4, Episode 5</td>
<td><a href=../../../segment/view/1118/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Free-Form Roleplaying</td>
<td>The Signal: Season 4, Episode 7</td>
<td><a href=../../../segment/view/1140/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Bold Moves: Browncoat Captains</td>
<td>The Signal: Season 4, Episode 11</td>
<td><a href=../../../segment/view/1154/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Bold Moves: Interview - Jamie Chambers of MWP</td>
<td>The Signal: Season 4, Episode 14</td>
<td><a href=../../../segment/view/1206/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Real Life Roleplaying</td>
<td>The Signal: Season 3, Episode 23.5: Persephone Pickers Special</td>
<td><a href=../../../segment/view/1062/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments featuring David Moore</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Borderline: Hera</td>
<td>The Signal: Season 3, Episode 10</td>
<td><a href=../../../segment/view/890/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Borderline: Paquin</td>
<td>The Signal: Season 3, Episode 11</td>
<td><a href=../../../segment/view/913/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Moonbrained Mike: Going out of Business</td>
<td>The Signal: Season 4, Episode 13</td>
<td><a href=../../../segment/view/1220/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by David Moore</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Recollections: David</td>
<td>The Signal: Season 3, Episode 23</td>
<td><a href=../../../segment/view/1052/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
