<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 2</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 2</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/44/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/46/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_002_20060215.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_002_20060215.mp3 download=signal_season01_02.mp3>Download audio file</a></div>
<div class=info>Wednesday 15th February 2006</div>
Produced by Miranda Thomas<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:19</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div>Les and Tracy introduce the show and talk about
<ul><li>What happened to Kari?</li>
<li>Theaters still showing Serenity</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/461/45/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:12</td>
<td class=shownote><h3>Petty Thief with Delusions of Standing</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/462/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/48/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:09:01</td>
<td class=shownote><h3>The Firefly Technical Manual</h3>
<div><ul><li>How does Serenity create gravity?</li>
<li>What day is U-Day?</li>
<li>How do the pistols and rifles work?</li>
<li>Money in the 'verse?</li>
<li>How fast can Serenity go?</li>
<li>How does Mal know so much about flying?</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/454/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:14:27</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li>Adam replaces Nathan at Grand Slam</li>
<li>Alan and Ron appearing a Collectormania 9</li>
<li>Inara jewelry auction</li>
<li>HMV exclusive release of Serenity DVD</li>
<li>RPG Game Master's Screen now available</li>
<li>Sci-fi Collector and Sci-fi Space giving away signed poster</li>
<li>Hovermule spotted</li>
<li>Greg Edmonson Interview</li>
<li>Serenity ice sculpture</li>
<li>Serenity model kit in the works</li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/464/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/47/index.html><img src=../../../image/image/59/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:17:21</td>
<td class=shownote><h3>Adventures in Serenity</h3>
<h4>Part 2</h4>
<p>Written by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; read by <a href=../../../human/view/10/index.html>Tracy Hickman</a>; edited by <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/470/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/46/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:07</td>
<td class=shownote><h3>The Sci-Fi Review</h3>
<h4>Cowboy Bebop</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a></p>
</td>
<td><a href=../../../segment/view/469/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:30:55</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/468/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:32:22</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div>Les and Tracy talk about J. D. Ravatt</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/461/45/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:34:25</td>
<td class=shownote><h3>Why Serenity?</h3>
<p>Written by <a href=../../../human/view/47/index.html>Ami Yergen</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/463/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:42:02</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div>Les and Tracy talk about how to subscribe to the Signal season 1</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/461/45/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/40/index.html><img src=../../../image/image/44/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:43:14</td>
<td class=shownote><h3>Signal Promo</h3>
<h4>These are just a few of the segments we've recorded</h4>
<p>Starring <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/345/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/44/index.html><img src=../../../image/image/56/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:45:25</td>
<td class=shownote><h3>Captain Reynolds' Way</h3>
<h4>Lesson 2: Teambuilding in the Black</h4>
<p>Written by <a href=../../../human/view/9/index.html>Clay McClure</a>; read by <a href=../../../human/view/9/index.html>Clay McClure</a></p>
</td>
<td><a href=../../../segment/view/467/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:16</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Carolina - Converted by the Signal</li>
<li>Jo - Conversion story</li>
<li>David - Movie conversion story</li>
<li>John - Conversion story</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/465/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:08:51</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Jubal Early Theme</h4>
<p>Music by <a href=../../../human/view/29/index.html>Greg Edmonson</a></p>
</td>
<td><a href=../../../segment/view/466/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:11:30</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div>Les and Tracy talk about why we appear to be in the Yahoo! podcast charts twice</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a> and <a href=../../../human/view/10/index.html>Tracy Hickman</a></p>
</td>
<td><a href=../../../segment/view/461/45/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:13:17</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:13:41<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/44/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/46/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2134>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
