<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>News from the 'Verse</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>News from the 'Verse</h1>
<div><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/573/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/601/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
<h2></h2>
<div>First aired: <a href=../../../show/view/57/index.html>The Signal: Season 2, Episode 12</a></div>
<div><ul><li><a href=../../../external.html#http://www.browncoatball.com/>Registration now open for the Browncoat Ball</a></li>
<li><a href=../../../external.html#http://www.scifiexpo.com/dcc/Next-Convention.html>Alan Tudyk named as guest at Sci-Fi Expo</a></li>
<li><a href=../../../external.html#http://www.serenitystuff.com/2006/06/24/serenity-and-firefly-2-and-3-at-amazon/>Serenity and Firefly reached #2 and #3 at Amazon</a></li>
<li><a href=../../../external.html#http://www.youtube.com/watch?v=cYaczoJMRhs>Equality Now  honor Joss and makes available his speech</a></li>
<li><a href=../../../external.html#http://blogcritics.org/archives/2006/06/20/123929.php>New, free, online RPG - Serenity: Leaf on the Wind</a></li>
<li><a href=../../../external.html#http://www.californiabrowncoats.org/CABC/index.htm>California Browncoats to run charity auction and draw at Comic-Con</a></li>
<li>The Canadian TV channels <a href=../../../external.html#http://moviecentral.ca/cgi-bin/schedule2/2006/main4.cgi>Movie Central</a> and <a href=../../../external.html#http://www.themovienetwork.ca/>The Movie Network</a> will be premiering Serenity on July 7th.</li>
</ul>
</div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Researched by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/4/index.html>Kevin Bachelder</a></td>
<td></td>
</tr>
</tbody>
</table>
<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/28/index.html>First episode</a> &#x2022; <a href=../../../segment/view/573/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/7/index.html>Up</a> &#x2022; <a href=../../../segment/view/601/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3088/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/57/index.html>The Signal: Season 2, Episode 12</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
