<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 9, Episode 1</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 9, Episode 1</h1>
<div><div class=transport-bar><a href=../../../show/view/243/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/10/index.html>Up</a> &#x2022; <a href=../../../show/view/244/index.html>Next show</a> &#x2022; <a href=../../../show/view/250/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_0901_20130219.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_0901_20130219.mp3 download=signal_season09_01.mp3>Download audio file</a></div>
<div class=info>Tuesday 19th February 2013</div>
Produced by Paul Korswagen<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/220/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 9 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:16</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2864/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/102/index.html><img src=../../../image/image/118/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:36</td>
<td class=shownote><h3>Editorial</h3>
<h4>Why are we still talking about this?</h4>
<p>Written by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; read by <a href=../../../human/view/108/index.html>Jutta Jordans</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2872/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/155/index.html><img src=../../../image/image/153/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:31</td>
<td class=shownote><h3>The Shipworks</h3>
<h4>Meet on the Ledge</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/467/index.html>Great Big Sea</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2768/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/120/index.html><img src=../../../image/image/130/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:15:44</td>
<td class=shownote><h3>Broadwaves</h3>
<h4>The Joss Whedon Companion</h4>
<div>Review of Joss Whedon - The Complete Companion, The TV Series, The Movies, The Comic Books and More.
Published by Titan Books
ISBN:9780857689863</div>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2881/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:38</td>
<td class=shownote><h3>News from the 'Verse</h3>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/479/index.html>Bindiya Dale</a></p>
</td>
<td><a href=../../../segment/view/2867/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/65/index.html><img src=../../../image/image/65/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:20:54</td>
<td class=shownote><h3>Serenity Speculation</h3>
<h4>The Beginning of the End?</h4>
<div>Did Miranda deal a fatal blow to the Alliance's regime?</div>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/637/index.html>'dillo</a></p>
</td>
<td><a href=../../../segment/view/2863/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:21</td>
<td class=shownote><h3>Feedback</h3>
<p>Emails read by <a href=../../../human/view/403/index.html>Brad Bowyer</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; emails edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2869/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/161/index.html><img src=../../../image/image/158/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:32:05</td>
<td class=shownote><h3>Firefly in Five Lines</h3>
<h4>'dillo's Choice</h4>
<p>Written by <a href=../../../human/view/637/index.html>'dillo</a>; read by <a href=../../../human/view/637/index.html>'dillo</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2878/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/12/index.html><img src=../../../image/image/34/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:36:15</td>
<td class=shownote><h3>How to Speak Chinese</h3>
<h4>Heart of Gold</h4>
<div>All the Chinese lines from the episode &quot;Heart of Gold&quot;. Translations courtesy of the Firefly Pinyinary.</div>
<p>Written by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; read by <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2868/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/180/index.html><img src=../../../image/image/218/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:41:05</td>
<td class=shownote><h3>Does that Seem Right to You?</h3>
<h4>Terraforming</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; music by <a href=../../../human/view/592/index.html>Elam</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2877/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:48:56</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:49:31<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/243/index.html>First show</a> &#x2022; <span class=greyed-out>Previous show</span> &#x2022; <a href=../../../season/view/10/index.html>Up</a> &#x2022; <a href=../../../show/view/244/index.html>Next show</a> &#x2022; <a href=../../../show/view/250/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
