<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 15.5</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 15.5</h1>
<div><h2>Live at Dragon*Con 2009</h2>
<div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/149/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/151/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_515.5_20090929.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_515.5_20090929.mp3 download=signal_season05_15.5.mp3>Download audio file</a></div>
<div class=info>Tuesday 29th September 2009</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Bonus Show version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:35</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 2</h4>
<p>Hosted by <a href=../../../human/view/23/index.html>Anna Snyder</a>, <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a>, <a href=../../../human/view/2/index.html>Les Howard</a>, <a href=../../../human/view/19/index.html>Wayne Hutchinson</a> and <a href=../../../human/view/226/index.html>Wendy Scott</a></p>
</td>
<td><a href=../../../segment/view/1514/150/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:48</td>
<td class=shownote><h3>Browncoats Redemption Update</h3>
<div><a href=../../../external.html#http://browncoatsmovie.com/>Browncoats Redemption</a></div>
<p></p>
</td>
<td><a href=../../../segment/view/1522/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:14:24</td>
<td class=shownote><h3>QMx Update</h3>
<div><a href=../../../external.html#http://quantummechanix.com>QMx</a></div>
<p></p>
</td>
<td><a href=../../../segment/view/1523/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:36</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 0: Attack of the Crazy, Demented, Killer Training Instructor</h4>
<div>The Terraformer's live pilot episode, including an introduction by its writer and director.</div>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a> and <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/226/index.html>Wendy Scott</a>; featuring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1519/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:30</td>
<td class=shownote><h3>Music Section</h3>
<h4>Monaghan Mother's Milk</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a></p>
</td>
<td><a href=../../../segment/view/1517/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:45:00</td>
<td class=shownote><h3>Music Section</h3>
<h4>Suzannah</h4>
<p>Music by <a href=../../../human/view/87/index.html>Marc Gunn</a></p>
</td>
<td><a href=../../../segment/view/1524/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:14</td>
<td class=shownote><h3>Browncoat Ball Update</h3>
<div><a href=../../../external.html#http://www.browncoatball.com>Browncoat Ball</a></div>
<p></p>
</td>
<td><a href=../../../segment/view/1525/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:19</td>
<td class=shownote><h3>How Brown is your Browncoat?</h3>
<p></p>
</td>
<td><a href=../../../segment/view/1526/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:08:30</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/23/index.html>Anna Snyder</a>, <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a>, <a href=../../../human/view/2/index.html>Les Howard</a>, <a href=../../../human/view/19/index.html>Wayne Hutchinson</a> and <a href=../../../human/view/226/index.html>Wendy Scott</a></p>
</td>
<td><a href=../../../segment/view/1514/150/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:09:00</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:09:24<div class=wiki-local><div><p>Photos of our live show and other Whedon related events at <a class="external text" href=../../../external.html#http://www.dragoncon.org>Dragon*Con</a></p>


<ul><li>From Wayne Hutchinson via the <a class="external text" href=../../../external.html#http://twitter.com/whedonuniverse>Whedon Universe track Twitter account</a>
<ul><li>You don't need to be a Twitter user to view the photos.  Simply scroll down to the entries from Sept 3-7</li>
</ul>
</li>
<li>From Steve Guminski via his <a class="external text" href=../../../external.html#http://www.scifigeek.info/conventions/DragonCon2009/WhedonUniverse/>SciFiGeek.info</a> website</li>
<li>From Erin Brown <a class="external autonumber" href=../../../external.html#http://www.flickr.com/photos/vanolden/sets/72157622343786558/?page=3>[1]</a></li>
<li>From Jeff Roush of The Scotchcast <a class="external autonumber" href=../../../external.html#http://www.flickr.com/photos/alderfearn/sets/72157622217679917/?page=8>[2]</a></li>
</ul>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/149/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/151/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4825>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
