<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Firefly in Five Lines</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Firefly in Five Lines</h1>
<div><div class=transport-bar><a href=../../../segment/view/2090/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2090/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/161/index.html>Up</a> &#x2022; <a href=../../../segment/view/2190/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3082/index.html>Last episode</a></div>
<h2>Miranda's Choice</h2>

<!-- audio src=signal_fivelines_02.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_fivelines_02.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/194/index.html>The Signal: Season 7, Episode 1</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/5/index.html>Miranda Thomas</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/477/index.html>Paul Korswagen</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>I agreed to choose my five lines that represent Firefly second in hopes I could snatch some of the best quotes without repeating anyone else. Once I began selecting my favorites though I realized that in order to truly define Firefly there was only one character's voice I wanted to utilize.</p>

<p><strong>Never goes smooth, how come it never goes smooth - Mal, Safe</strong></p>

<p>Poor Mal. What he plans and what actually happens rarely show any similarity. It doesn't stop him from trying to succeed though and that's the message I hear each time Mal crawls across the dirt in Safe to pick up the bag of gold for the sale of the transported cattle. Rarely in real life do things go smoothly and I think that's something that touched each Firefly viewer, even though we are talking future worlds the problems are universal.</p>

<p><strong>Don't you ever stand for that sort of thing. Someone tries to kill you, you try to kill them right back. - Mal, Our Mrs. Reynolds</strong></p>

<p>This is quite possibly my favorite Mal line of the whole series. It clearly defines the view of all the characters on the series. The show is about survival, at it's most basic levels. I have to agree with Mal wholeheartedly with this one, if someone is trying to kill me, I may apologize for it afterward, but there will be no hesitation in defending myself.</p>

<p><strong>Way I remember it, albatross was a ship's good luck, 'til some idiot killed it. Yes, I've read a poem, try not to faint. - Mal, Serenity</strong></p>

<p>This quote from the movie was one that demonstrated the humor of the show, there were many others, but in terms of timing this one was point on. Here is Mal, getting ready to fight the Operative who believes that the captain is simply a dumb ex-soldier and Mal basically corrects the man's interpretation of The Rime of the Ancient Mariner. The comment to Inara that followed was just a fantastic insight to their relationship. The balance between light humor and serious drama is one that was handled fantastically in this series and in the movie.</p>

<p><strong>Everybody dies, Tracey. Someone's carryin' a bullet for you right now, doesn't even know it. The trick is, die of old age before it finds you. - Mal, The Message</strong></p>

<p>This quote comes from one of the most difficult episodes for me to watch. Mal doesn't know that he is the one holding the bullet that causes Tracey's death and the foreshadowing irony is one that chokes me up each time I hear this line. The death, resurrection, and death of Tracey always makes me cry. There is a lot to interpret from his character, but his line also sums up my perspective on death. Each day you have to do your best to live, in the case of the characters on the ship its about survival, for me, its about doing everything I can and want to do rather than putting it off until tomorrow. I wish we could all die of old age, but unfortunately that isn't the case, so take advantage of today.</p>

<p><br>
<strong>May have been the losing side. Still not convinced it was the wrong one. - Mal, Bushwhacked</strong></p>

<p>Conviction, our Capt. Tightpants certainly has it in abundance. For some people conviction is hard to come by, myself included. As you age you are supposed to choose your path and know who you are, but it doesn't always happen that way. This quote to me demonstrates the belief that Mal holds on to even when everything else he believes is lost. He is certain that his position in the war and battle for the Browncoats was right and just.</p>

<p>So, there you have my five picks! They represent to me the show as a whole and how it represents the world we live in through the characters and situations they survive, in five lines.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/2090/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2090/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/161/index.html>Up</a> &#x2022; <a href=../../../segment/view/2190/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3082/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/194/index.html>The Signal: Season 7, Episode 1</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
