<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Heart of Firefly</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Heart of Firefly</h1>
<div><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1408/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1540/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
<h2>The Rules of Civilization</h2>

<!-- audio src=signal_heartoffirefly_03.mp3 controls autobuffer></audio -->
<div><span class="grayed-out audio-download" data-name=signal_heartoffirefly_03.mp3>Download audio file</span></div>
<div>First aired: <a href=../../../show/view/151/index.html>The Signal: Season 5, Episode 16</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Bushwhacked is not an episode that often turns up on people&#x2019;s lists of favourite Firefly episodes, perhaps because in many ways it is very dark and bleak. But, like every episode, it has its own standout moments of action, drama, dialogue and &#x2013; even amidst the darkness &#x2013; humour. What I enjoy most about this episode though is how it explores the theme of the rules of civilisation. What we learn in respect to this theme increases our insight into what life is like on the &#x201C;raggedy edge&#x201D; for Mal and his crew. The episode can also be seen as a companion piece to the film Serenity, which follows some of the same themes through to a shocking conclusion.</p>

<p>For all its darkness, Bushwhacked has one of the most cheerfully optimistic opening sequences of all the episodes. The hoop ball game looks like a whole lot of fun and everyone playing seems to be enjoying themselves. Even Mal seems to be relaxed and having fun for a change. Wash&#x2019;s great &#x201C;Who&#x2019;s flying this thing?&#x201D; speech keeps the tone light, but thereafter things take a turn for the darker.</p>

<p>The game itself though does more than set up a contrast with the darkness that follows, it also introduces the theme of the rules of civilisation:</p>


<dl><dt>INARA</dt>
<dd>Who's winning?</dd>
<dt>SIMON</dt>
<dd>I can't really tell... they don't seem to be playing by any civilized rules that I know.</dd>
<dt>INARA</dt>
<dd>Well, we&#x2019;re pretty far from civilization.</dd>
</dl>


<p>Simon and Inara are too civilised to join in the game. In fact, they are literally looking down on it from the walkways. Simon doesn&#x2019;t seem to realise that the lack of civilised rules is exactly what is making the game so much fun for those who are participating in it. It isn&#x2019;t clear what River is doing as she watches the game, but she certainly seems interested in it. Perhaps she is looking for a pattern in the chaos of the game, just as she looks for sense in Book&#x2019;s Bible in Jaynestown.</p>

<p>As the derelict ship comes into view, the crew reacts largely in the way we would expect from what we know of them by this point. Jayne immediately assumes that something violent and barbaric has happened. He has no reason to expect civilised behaviour from people so he surmises that the person Serenity just bumped into murdered everyone on board and then took a walk in space. Book meanwhile, considers that Mal and the crew are duty-bound to be the Good Samaritan and see if there are any survivors that need help.</p>

<p>But when the bodies are found and the full horror of what happened on the ship becomes apparent, Mal&#x2019;s reactions are not quite what we might expect. He immediately knows that reavers were responsible for what happened. He also knows that reavers leave behind booby traps for rescue ships. Mal&#x2019;s quick grasp of the situation suggests that he has some first-hand experience of reavers. This is also hinted at later in the episode, as we will see in due course.</p>

<p>As Mal reveals to the rest of the crew what he thinks happened on the ship, the following exchange takes place:</p>


<dl><dt>BOOK</dt>
<dd>I don't accept that. Whatever horror he witnessed, whatever acts of barbarism, it was done by men. Nothing more.</dd>
<dt>JAYNE</dt>
<dd>Reavers ain't men.</dd>
<dt>BOOK</dt>
<dd>Of course they are. Too long removed from civilization, perhaps&#x2014; but men.</dd>
</dl>


<p>The irony of Book&#x2019;s statement is not apparent to us if we are watching Bushwhacked without also having watched the film Serenity. If we haven&#x2019;t yet seen the film, then we have no reason to doubt the theory on the origin of reavers, as it is expressed here by Book. But if we have seen the film, then we know that the exact opposite is true &#x2013; reavers are the product of too much &#x201C;civilisation&#x201D;, not too little.</p>

<p>When the proximity alert sounds again, the crew thinks the reavers have come back and we think the same, especially as the music we associate with the reavers plays at this point. But then the crew and the audience both discover that it is an Alliance ship which has arrived and the music switches to the theme we associate with the Alliance. Despite representing the opposite ends of the spectrum with respect to barbarism and civilisation, the reavers and the Alliance have in common that they are both most definitely threats to Mal and his crew.</p>

<p>Tim Minear, the writer and director of Bushwhacked, notes in the official companion to the series that the episode is about &#x201C;comparing the two extremes &#x2013; the Reavers and the Alliance. [&#x2026;] It&#x2019;s about the savagery of being too far away from civilisation [&#x2026;] [and] about civilisation being so civilised that it becomes the collectivist, bureaucratic behemoth that can&#x2019;t get anything done, and it&#x2019;s trying to control you too much. Really the story is about how our people inhabit a space in between those two extremes.&#x201D; In the same book, Joss Whedon comments that the episode tries to &#x201C;show exactly where they were in the universe &#x2013; caught between the most terrifying savages and the most antiseptic and annoying bureaucracy, and not really caring for either.&#x201D;</p>

<p>In this respect, Bushwhacked fulfils a similar function to the previous episode, The Train Job. In that episode we saw how Mal and his crew were caught in the middle between a world of villains like Niska and the law-abiding world represented by the Sheriff of Paradiso and the disinterested Alliance. In Bushwhacked, we see that this position of the crew planetside also holds out in the Black.</p>

<p>As the Alliance cruiser hails Serenity, Mal comments, &#x201C;Looks like civilisation finally caught up with us&#x201D;. The Alliance commander is the face of that civilisation and the first impression we get of him is that he is very concerned with rules. He notices as Serenity comes in to dock that she has no markings on the bow and he wants to cite the crew for that.</p>

<p>Before things take yet another turn for the darker, we get to enjoy some lighter moments as the Alliance commander interrogates the crew and this is intercut with scenes of the search on Serenity. The contrast of Zoe and Wash&#x2019;s responses, Kaylee&#x2019;s impassioned defence of Serenity and Jayne&#x2019;s silence are all great fun, but the interrogation sequence does also serve to reveal something to us about how the Alliance views life on the rim. The commander is curious that a woman of Inara&#x2019;s stature would fall in with &#x201C;these types&#x201D;, as he refers to Serenity&#x2019;s crew. He is also surprised that Book would be on board as he considers it an &#x201C;oddity&#x201D; that &#x201C;pirates&#x201D; would have their own chaplain. For the commander, life is black and white, and so are the rules. But as Book comments:</p>


<dl><dt>BOOK</dt>
<dd>Way of things not always so plain as on the central planets. Rules can be a mite fuzzier.</dd>
</dl>


<p>The shooting script gives us the commander&#x2019;s response to this as, &#x201C;Not for me. Our rules are written down. In books.&#x201D; To which the very appropriately named Book responds by saying, &#x201C;I take my rules from a book, too. But just the one.&#x201D; One of these rules is to love one&#x2019;s neighbour, as the Good Samaritan did, which is a rule that Book has already followed by voicing the opinion that the crew should go over to the derelict ship in the first place, to see if anyone had survived and needed help.</p>

<p>The Alliance commander&#x2019;s interrogation of Mal is the most revealing of all the interrogation scenes. Mal suggests firing the ship into space to be done with it, but the commander says that doing so would be destroying evidence, which he is not in the habit of doing. Mal replies &#x201C;Of course not. It&#x2019;d be against the rules.&#x201D; And then when Mal hears that the survivor has split his tongue down the middle, he makes the intriguing comment &#x201C;I shoulda known.&#x201D; He then goes on to talk about what he thinks happened to the survivor:</p>


<dl><dt>MAL</dt>
<dd>But I'll tell you who did&#x2014; that poor bastard you took off my ship. He looked right into the face of it. Was made to stare.</dd>
<dt>HARKEN</dt>
<dd>&quot;It?&quot;</dd>
<dt>MAL</dt>
<dd>The darkness. Kinda darkness you can't even imagine. Blacker than the space it moves through.</dd>
<dt>HARKEN</dt>
<dd>Very poetic.</dd>
<dt>MAL</dt>
<dd>They made him watch. He probably tried to turn away&#x2014; they wouldn't let him. You call him a &quot;survivor?&quot; He's not. A man comes up against that kind of will, the only way to deal with it, I suspect... is to become it. He's following the only course that's left to him. First he'll try to make himself look like one... cut on himself, desecrate his flesh... and then he'll start acting like one.</dd>
</dl>


<p>It is worth rewatching Mal&#x2019;s speech here a couple of times to appreciate the way Nathan Fillion delivers these lines. Mal keeps his cards very close to his chest and remains as closed off as he usually is, but nevertheless we get the hint that he has some first-hand experience of what he is talking about. When we talk about wanting to know the back stories of characters, we usually mean Book and Inara, as they both clearly have mysterious pasts. But the knowledge Mal displays about reavers in this episode intrigues me almost as much. How does he know so much?</p>

<p>The ending of Bushwhacked is a fairly downbeat one. We see the derelict ship being fired into space and Mal comments:</p>


<dl><dt>MAL</dt>
<dd>He had to. Couldn't let us profit. Wouldn't be civilized.</dd>
</dl>


<p>Although the Alliance commander didn&#x2019;t let the crew take the cargo they had &#x201C;rescued&#x201D; from the ship, he also didn&#x2019;t bind them by law either. And by firing the ship into space, he does exactly what he said to Mal that he wouldn&#x2019;t do &#x2013; break the rules by destroying the evidence. It seems that Mal has got to him at least partially and he has realised that sometimes the rules of civilisation need to be bent a little out on the rim.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1399/index.html>First episode</a> &#x2022; <a href=../../../segment/view/1408/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/124/index.html>Up</a> &#x2022; <a href=../../../segment/view/1540/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/2194/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/151/index.html>The Signal: Season 5, Episode 16</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
