<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 7, Episode 7</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 7, Episode 7</h1>
<div><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/199/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/202/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_0707_20110419.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_0707_20110419.mp3 download=signal_season07_07.mp3>Download audio file</a></div>
<div class=info>Tuesday 19th April 2011</div>
Produced by Jutta Jordans<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/168/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 7 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:04</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/485/index.html>Craig Kurumada</a></p>
</td>
<td><a href=../../../segment/view/2306/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:40</td>
<td class=shownote><h3>The Industrial Characters of the 'Verse</h3>
<div>The exploits of Serenity Inc.</div>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; read by <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2266/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/155/index.html><img src=../../../image/image/153/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:00</td>
<td class=shownote><h3>The Shipworks</h3>
<h4>The Relativity of Simultaneity</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/27/index.html>Andy King</a>, <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/485/index.html>Craig Kurumada</a>; music by <a href=../../../human/view/467/index.html>Great Big Sea</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/2230/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:48</td>
<td class=shownote><h3>An Indelible Mark</h3>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; read by <a href=../../../human/view/23/index.html>Anna Snyder</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2307/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/166/index.html><img src=../../../image/image/172/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:16:24</td>
<td class=shownote><h3>Vote</h3>
<h4>Vote Sheriff Bourne</h4>
<p>Written by <a href=../../../human/view/267/index.html>Steve Kaszycki</a>; starring <a href=../../../human/view/485/index.html>Craig Kurumada</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2320/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:19:37</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#https://store.qmxonline.com/Fighting-Elves-T-Shirt_p_125.html>QMX Jayne Fighting Elves T-Shirt</a></li>
<li><a href=../../../external.html#http://store.qmxonline.com/Firefly-Builders-Plaques-Metalized-Sticker-Set_p_122.html>QMX Metalized Sticker Set</a></li>
<li><a href=../../../external.html#http://dragoncon.org/dc_guests_list.php>DragonCon Guest List</a></li>
<li><a href=../../../external.html#http://www.wizardworld.com/home-newyork.html>Morena Guest at Comic Con NY</a></li>
<li><a href=../../../external.html#http://www.contagionoutbreak.com/>Jewel at Contagion Con</a></li>
<li><a href=../../../external.html#http://www.trekexpo.net/>Jewel at TrekExpo</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; read by <a href=../../../human/view/479/index.html>Bindiya Dale</a>; edited by <a href=../../../human/view/96/index.html>Kara Helgren</a></p>
</td>
<td><a href=../../../segment/view/2321/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/161/index.html><img src=../../../image/image/158/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:22:00</td>
<td class=shownote><h3>Firefly in Five Lines</h3>
<h4>James's Choice</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a> and <a href=../../../human/view/8/index.html>James Parkinson</a>; read by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a> and <a href=../../../human/view/8/index.html>James Parkinson</a>; edited by <a href=../../../human/view/27/index.html>Andy King</a></p>
</td>
<td><a href=../../../segment/view/2255/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://thebatmanuniverse.net/><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:27:35</td>
<td class=shownote><h3>Promo: The Batman Universe</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/165/index.html><img src=../../../image/image/170/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:05</td>
<td class=shownote><h3>The Poetry of the 'Verse</h3>
<h4>Following the Voices</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; read by <a href=../../../human/view/25/index.html>Helen Eaton</a>; edited by <a href=../../../human/view/484/index.html>Cornelius Wilkening</a></p>
</td>
<td><a href=../../../segment/view/2295/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../external.html#http://www.tuningintoscifitv.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:38:00</td>
<td class=shownote><h3>Promo: Saturday B Movie Reel</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:39:33</td>
<td class=shownote><h3>Interview</h3>
<h4>Mikey Mason</h4>
<div><a href=../../../external.html#http://mikeymason.com/>Mikey Mason website</a>
<a href=../../../external.html#http://www.kickstarter.com/projects/1282225399/mikey-masons-comedy-album-for-geeks-like-him>Impotent Nerd Rage project on Kickstarter</a></div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/477/index.html>Paul Korswagen</a></p>
</td>
<td><a href=../../../segment/view/2312/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:55:41</td>
<td class=shownote><h3>Music Section</h3>
<h4>She don't like Firefly</h4>
<p>Music by <a href=../../../human/view/492/index.html>Mikey Mason</a></p>
</td>
<td><a href=../../../segment/view/2311/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:58:04</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Browncoats version</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 0:58:38<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/194/index.html>First show</a> &#x2022; <a href=../../../show/view/199/index.html>Previous show</a> &#x2022; <a href=../../../season/view/8/index.html>Up</a> &#x2022; <a href=../../../show/view/202/index.html>Next show</a> &#x2022; <a href=../../../show/view/222/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><span class=grayed-out>Leave a comment</span></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
