<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Bindiya Dale</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Bindiya Dale</h1>
<div><h2>Segments researched by Bindiya Dale</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 1</td>
<td><a href=../../../segment/view/2162/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2202/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2221/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2321/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2325/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 9</td>
<td><a href=../../../segment/view/2352/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2368/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2378/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2393/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2404/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 13.4: Blast from the Past, part two</td>
<td><a href=../../../segment/view/2436/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2493/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2516/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2559/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2562/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2576/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 1</td>
<td><a href=../../../segment/view/2621/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2637/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2655/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2670/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2685/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2701/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2710/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2746/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2761/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2776/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2801/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2812/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2867/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2888/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 4</td>
<td><a href=../../../segment/view/2916/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2929/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2941/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 8</td>
<td><a href=../../../segment/view/2967/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/2977/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2993/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3004/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3038/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3088/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments written by Bindiya Dale</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Browncoat Cosplay: An Introduction</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2241/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly in Five Lines: Bindiya's Choice</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2231/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>He Looks Better in Red</td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2200/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the Con</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2827/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments read by Bindiya Dale</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Browncoat Cosplay: An Introduction</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2241/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: Long Live Firefly</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2381/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Editorial: The End of the Line</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/2982/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Firefly in Five Lines: Bindiya's Choice</td>
<td>The Signal: Season 7, Episode 5</td>
<td><a href=../../../segment/view/2231/index.html>shownotes</a></td>
</tr>
<tr class=even><td>He Looks Better in Red</td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2200/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 1</td>
<td><a href=../../../segment/view/2162/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2202/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2221/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2321/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2325/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 9</td>
<td><a href=../../../segment/view/2352/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2368/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 11</td>
<td><a href=../../../segment/view/2378/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2393/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2404/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 13.4: Blast from the Past, part two</td>
<td><a href=../../../segment/view/2436/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2493/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2516/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2559/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2562/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2576/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 1</td>
<td><a href=../../../segment/view/2621/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2637/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2655/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2670/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 5</td>
<td><a href=../../../segment/view/2685/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 8</td>
<td><a href=../../../segment/view/2701/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2710/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2746/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2761/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 13</td>
<td><a href=../../../segment/view/2776/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2801/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2812/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2867/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2888/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 4</td>
<td><a href=../../../segment/view/2916/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2929/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2941/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 8</td>
<td><a href=../../../segment/view/2967/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/2977/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2993/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3004/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3038/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3088/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the Con</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2827/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Worthier Part</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2195/index.html>shownotes</a></td>
</tr>
<tr class=even><td>They've All Got Stories: Genius Mechanic</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3115/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Don't Vote Badger</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2338/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Debate</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2372/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments starring Bindiya Dale</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Around the 'Verse in 80 Days: Highgate</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3121/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Permanent Waves</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2488/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Road Trip: Kansas City, Missouri</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3142/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Road Trip: Elsmere, Kentucky</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3139/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments featuring Bindiya Dale</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Dead System 4: Reborn?</td>
<td>The Signal: Season 9, Episode 3</td>
<td><a href=../../../segment/view/2913/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Earthburn: The Summer of '69</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2555/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Earthburn: Imagine what Tomorrow could be Like</td>
<td>The Signal: Season 8, Episode 6</td>
<td><a href=../../../segment/view/2693/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Earthburn: Recycling the World</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2643/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Earthburn: Martial Law</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/2998/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Road Trip: Lansing, Michigan (1)</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3141/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Road Trip: Atlanta, Georgia</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3138/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Terraformers: Reunion Panel</td>
<td>The Signal: Season 8, Episode 18: Holiday Special 2012</td>
<td><a href=../../../segment/view/2831/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Vote Badger</td>
<td>The Signal: Season 7, Episode 6</td>
<td><a href=../../../segment/view/2273/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Vote: Interview: Badger headquarters</td>
<td>The Signal: Season 7, Episode 15</td>
<td><a href=../../../segment/view/2399/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Vote: Interview: Niska Headquarters</td>
<td>The Signal: Season 7, Episode 16</td>
<td><a href=../../../segment/view/2498/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by Bindiya Dale</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Banter</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2390/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 7, Episode 13.1: Blast from the Past, part one</td>
<td><a href=../../../segment/view/2434/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2513/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 7, Episode 21.1: Theme Tune Quiz</td>
<td><a href=../../../segment/view/2602/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Banter</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2799/238/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2395/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2405/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Feedback</td>
<td>The Signal: Season 7, Episode 13.1: Blast from the Past, part one</td>
<td><a href=../../../segment/view/2432/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2437/index.html>shownotes</a></td>
</tr>
<tr class=even><td>In Character Live Q&amp;A Session</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2810/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Interview: GB Hajim</td>
<td>The Signal: Season 8, Episode 12.2: The Signal Live 2012 at DragonCon</td>
<td><a href=../../../segment/view/2803/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Shindig</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3124/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Signal Theme Tune Quiz</td>
<td>The Signal: Season 7, Episode 21.1: Theme Tune Quiz</td>
<td><a href=../../../segment/view/2615/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments edited by Bindiya Dale</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>Banter</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2652/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Dead System 4: Reborn?</td>
<td>The Signal: Season 9, Episode 3</td>
<td><a href=../../../segment/view/2913/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Does that Seem Right to You?: Grounded in Reality</td>
<td>The Signal: Season 8, Episode 16</td>
<td><a href=../../../segment/view/2809/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Does that Seem Right to You?: Cold Storage</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2939/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Editorial: Long Live Firefly</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2381/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Editorial: The Future's so Bright</td>
<td>The Signal: Season 7, Episode 20</td>
<td><a href=../../../segment/view/2574/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Editorial: The End of the Line</td>
<td>The Signal: Season 10, Episode 1</td>
<td><a href=../../../segment/view/2982/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>He Looks Better in Red</td>
<td>The Signal: Season 7, Episode 4</td>
<td><a href=../../../segment/view/2200/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 3</td>
<td><a href=../../../segment/view/2202/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2368/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 12</td>
<td><a href=../../../segment/view/2393/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2404/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 7, Episode 19</td>
<td><a href=../../../segment/view/2562/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 1</td>
<td><a href=../../../segment/view/2621/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 4</td>
<td><a href=../../../segment/view/2670/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2710/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 10</td>
<td><a href=../../../segment/view/2746/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 11</td>
<td><a href=../../../segment/view/2761/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2812/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 1</td>
<td><a href=../../../segment/view/2867/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2888/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 4</td>
<td><a href=../../../segment/view/2916/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2929/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 7</td>
<td><a href=../../../segment/view/2941/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 9, Episode 8</td>
<td><a href=../../../segment/view/2967/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 2</td>
<td><a href=../../../segment/view/2993/index.html>shownotes</a></td>
</tr>
<tr class=even><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3004/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>News from the 'Verse</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3038/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Serenity Speculation: Hierarchy in Alliance Constabulary</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2933/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Silence in Space: The Train Job</td>
<td>The Signal: Season 8, Episode 2</td>
<td><a href=../../../segment/view/2648/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Tangled Yarn: Pull One String, You Pull Them All</td>
<td>The Signal: Season 7, Episode 13</td>
<td><a href=../../../segment/view/2402/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
