<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 13</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 13</h1>
<div><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/57/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/59/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_213_20060719.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_213_20060719.mp3 download=signal_season02_13.mp3>Download audio file</a></div>
<div class=info>Wednesday 19th July 2006</div>
Produced by Miranda Thomas<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 2 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:30</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 1 of 4</h4>
<div><ul><li>Upcoming interview with the One True B!x ([../../../external.html#http://www.cantstoptheserenity.com%5D%29</li>
<li>Les's cat, Petaline</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/598/58/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:04:12</td>
<td class=shownote><h3>Interview</h3>
<h4>The One True B!x</h4>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/512/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:18:24</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 2 of 4</h4>
<div>Latest news on Firefly: Old Wounds</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/598/58/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:20:04</td>
<td class=shownote><h3>Music Section</h3>
<h4>Theme from Firefly: Old Wounds</h4>
<p>Music by <a href=../../../human/view/62/index.html>Jack Ward</a> and <a href=../../../human/view/63/index.html>Sharon Bee</a></p>
</td>
<td><a href=../../../segment/view/603/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/45/index.html><img src=../../../image/image/57/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:21:02</td>
<td class=shownote><h3>Operation Sequel</h3>
<p>Written by <a href=../../../human/view/5/index.html>Miranda Thomas</a>; read by <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/604/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:22:53</td>
<td class=shownote><h3><q>Infection</q>/<q>7th Son</q> crossover promo</h3>
<div>and contest announcement</div>
<p></p>
</td>
<td><a href=../../../segment/view/608/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:24:32</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div><ul><li><a href=../../../external.html#http://www.donetheimpossible.com>Done the Impossible now finished</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=10796>Serenity screening August 14th in Edinburgh</a></li>
<li><a href=../../../external.html#http://www.supermegashow.com/>Morena to appear at Super Mega Show, New Jersey</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=10772>Serenity RPG wins Gamers Choice award at the Origin Awards</a></li>
<li><a href=../../../external.html#http://www.whitepowdereddoughnuts.com/2006/06/29/up-close-and-personal-with-adam-baldwin/>Adam Baldwin interview</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=10742>EasyDVD to release Firefly boxed set in collectors' tin</a></li>
<li><a href=../../../external.html#http://whedonesque.com/?comments=10744>Firefly: The Official Companion content details</a></li>
</ul>
</div>
<p>Researched by <a href=../../../human/view/4/index.html>Kevin Bachelder</a>; read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/601/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/49/index.html><img src=../../../image/image/62/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:33</td>
<td class=shownote><h3>Tricks from the Training House</h3>
<h4>Control</h4>
<p>Written by <a href=../../../human/view/7/index.html>Carolyn Parkinson</a>; starring <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/607/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://www.donetheimpossible.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:30:11</td>
<td class=shownote><h3>Promo: Done the Impossible</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:33:02</td>
<td class=shownote><h3>Screening Feedback Segment</h3>
<div><ul><li>Boston USA, by Dick from Massachussets</li>
<li>Portland USA, by Kari Kaley</li>
<li>Anover Mitchegan USA, by James Parkinson</li>
<li>Boston USA (again) by Claire Musso</li>
<li>Kansas City USA, by Trampas Whitehouse</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/14/index.html>Claire Musso</a> and <a href=../../../human/view/8/index.html>James Parkinson</a></p>
</td>
<td><a href=../../../segment/view/600/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:50:04</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 3 of 4</h4>
<div><ul><li>All the screenings so far</li>
<li>[<a href=../../../external.html#http://www.realartways.org>one more screening</a>] in Connecticut</li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/598/58/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:51:46</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Kate - conversion story</li>
<li>Chuck - conversion story, and promoting via web page</li>
<li>Mike - Summer Glau on the 4400</li>
<li>Danielle - conversion story (and Pirates of the Carribean)</li>
<li>Paul - comments on our migration feature (<a href=../../../external.html#http://www.amazon.com/gp/product/0201328194/sr=1-1/qid=1153315727/ref=pd_bbs_1/104-9426776-3503931?ie=UTF8&amp;s=books>Mining the Sky</a>)</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/602/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/48/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:07:19</td>
<td class=shownote><h3>The Firefly Technical Manual</h3>
<div><ul><li>What is the shiny metal box on the side of the Mule?</li>
<li>Where is Mal watching the recording of Inara?</li>
<li>What does the 9995 mean?</li>
<li>What are the hose/masks for in Serenity?</li>
<li>What kind of weapons do the Alliance use?</li>
</ul>
</div>
<p>Read by <a href=../../../human/view/2/index.html>Les Howard</a>; edited by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/606/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>1:10:25</td>
<td class=shownote><h3>Banter</h3>
<h4>Part 4 of 4</h4>
<div><ul><li><a href=../../../external.html#http://blogs.macmerc.com/rick/?p=232>Adventures in Font Matching: Joss Whedon&#x2019;s Firefly</a></li>
<li><a href=../../../external.html#http://www.kpcenter.org>Serenity screening in Kirkland, Washington, USA</a></li>
<li><a href=../../../external.html#http://filmhousecinema.com/59years.html>Serenity screening in Edinburg, Scotland, UK</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/598/58/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:11:30</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Original version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/51/1/icon/image.png width=50 height=50 alt></a></td>
<td>1:11:52</td>
<td class=shownote><h3>Happy Birthday Joss</h3>
<p></p>
</td>
<td><a href=../../../segment/view/611/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:13:04<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/57/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <a href=../../../show/view/59/index.html>Next show</a> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=2663>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
