<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Music Section</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Music Section</h1>
<div><div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/91/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/7/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
<div class="float-left album-art"><img src=../../../image/image/39/2/album/image.png width=300 height=300 alt></div>
<div>There's a lot of good music in the 'verse, both in Firefly itself, and in the Browncoat community. We hope to bring you the best.</div>
<div></div>
<hr class=no-float><h2>Episodes</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Aired</th>
<th colspan=4>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td><q>The Hero of Canton</q>, from <q>Jaynestown</q></td>
<td>The Signal: Season 1, Episode 2</td>
<td><a href=../../../segment/view/45/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>A Man Named Jayne</td>
<td>The Signal: Season 2, Episode 11<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/575/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Air through the Engine</td>
<td>The Signal: Season 3, Episode 14<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/936/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Albatross</td>
<td>The Signal: Season 5, Episode 15<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1509/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Albatross</td>
<td>The Signal: Season 5, Episode 15<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1501/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>All That Has Come To Pass</td>
<td>The Signal: Season 2, Episode 23.5: The Money Show</td>
<td><a href=../../../segment/view/770/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>An extended version of <q>Serenity</q></td>
<td>The Signal: Season 1, Episode 15</td>
<td><a href=../../../segment/view/288/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Anchorage</td>
<td>The Signal: Season 6, Episode 17<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1978/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Apprentice</td>
<td>The Signal: Season 5, Episode 1<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1339/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Approaching the Training House</td>
<td>The Signal: Season 3, Episode 4</td>
<td><a href=../../../segment/view/822/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>At the Con</td>
<td>The Signal: Season 2, Episode 18.5: Convention Wrapup</td>
<td><a href=../../../segment/view/694/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Austin Browncoats Video Theme</td>
<td>The Signal: Season 3, Episode 16<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/964/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Bar music from <q>The Train Job</q></td>
<td>The Signal: Season 1, Episode 11</td>
<td><a href=../../../segment/view/217/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Bellflower Medley</td>
<td>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/2141/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Bellflower Medley</td>
<td>The Signal: Season 5, Episode 3</td>
<td><a href=../../../segment/view/1363/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Bellflower Medley 2</td>
<td>The Signal: Season 5, Episode 6</td>
<td><a href=../../../segment/view/1390/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Big Damn Trilogy</td>
<td>The Signal: Season 1, Episode 17.2: Solstice Special, part 2</td>
<td><a href=../../../segment/view/369/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Big Damn Trilogy</td>
<td>The Signal: Season 1, Episode 17.5: January Bonus Show</td>
<td><a href=../../../segment/view/376/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Black Grace</td>
<td>The Signal: Season 8, Episode 3</td>
<td><a href=../../../segment/view/2681/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Book's Farewell</td>
<td>The Signal: Season 3, Episode 9</td>
<td><a href=../../../segment/view/873/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Book2B</td>
<td>The Signal: Season 4, Episode 4<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1114/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Bring Me Home</td>
<td>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/2140/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Bring Me Home and Monaghan Mudder's Milk</td>
<td>The Signal: Season 6, Episode 14.4: Live at Dragon*Con 2010</td>
<td><a href=../../../segment/view/1872/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Browncoats of Summer</td>
<td>The Signal: Season 9, Episode 2</td>
<td><a href=../../../segment/view/2902/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Can't Dance Boogie</td>
<td>The Signal: Season 5, Episode 4</td>
<td><a href=../../../segment/view/1375/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Can't Stop the Oaty Bar</td>
<td>The Signal: Season 4, Episode 15</td>
<td><a href=../../../segment/view/1238/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Can't Stop the Signal</td>
<td>The Signal: Season 2, Episode 14<br>The Signal: Season 2, Episode 24: Songs from the Black<br>The Signal: Season 3, Episode 11.5<br>The Signal: Season 5, Episode 11</td>
<td><a href=../../../segment/view/616/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Captain Mal</td>
<td>The Signal: Season 3, Episode 11<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/900/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Celtic music</td>
<td>The Signal: Season 4, Episode 20.5</td>
<td><a href=../../../segment/view/1289/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Cheesecake</td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1333/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Clip - Flying to the Trap</td>
<td>The Signal: Season 9, Episode 5</td>
<td><a href=../../../segment/view/2932/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Come to the Dance</td>
<td>The Signal: Season 2, Episode 20</td>
<td><a href=../../../segment/view/702/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Crew of Serenity</td>
<td>The Signal: Season 2, Episode 21</td>
<td><a href=../../../segment/view/731/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Did you See Serenity?</td>
<td>The Signal: Season 3, Episode 20<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1008/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Drake's Eulogy</td>
<td>The Signal: Season 4, Episode 13.5</td>
<td><a href=../../../segment/view/1202/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Drama On The Prairie</td>
<td>The Signal: Season 3, Episode 21<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1019/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Earth that Was</td>
<td>The Signal: Season 6, Episode 16<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1973/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Engines Make Me Hot</td>
<td>The Signal: Season 6, Episode 6</td>
<td><a href=../../../segment/view/1653/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Evil Laugh</td>
<td>The Signal: Season 4, Episode 5<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1126/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Exclamation!</td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/986/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Firefly</td>
<td>The Signal: Season 7, Episode 17</td>
<td><a href=../../../segment/view/2538/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Firefly ...ROCKS!</td>
<td>The Signal: Season 9, Episode 6</td>
<td><a href=../../../segment/view/2944/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Firefly Browncoat Theme</td>
<td>The Signal: Season 5, Episode 7</td>
<td><a href=../../../segment/view/1404/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Firefly Theme</td>
<td>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/3114/index.html>shownotes</a></td>
<td><a href=../../../../yonder/signal_music_tvc-fireflytheme.mp3 download>audio</a></td>
</tr>
<tr class=even><td>Freedom Costs</td>
<td>The Signal: Season 7, Episode 10</td>
<td><a href=../../../segment/view/2354/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Freedom Costs</td>
<td>The Signal: Season 7, Episode 15.1: The Signal Live 2011</td>
<td><a href=../../../segment/view/2519/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Gaza Strip Mall</td>
<td>The Signal: Season 3, Episode 23</td>
<td><a href=../../../segment/view/1057/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Going Down with the Ship (from <q>Out of Gas</q>)</td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/190/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Going for a Ride</td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/152/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Good Answer</td>
<td>The Signal: Season 3, Episode 5<br>The Signal: Season 5, Episode 8</td>
<td><a href=../../../segment/view/835/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Hero of Canton</td>
<td>The Signal: Season 2, Episode 7<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/506/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Hush Little Citizen</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2456/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>I'm on Firefly</td>
<td>The Signal: Season 3, Episode 19<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/994/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>In My Sky (Serenity)</td>
<td>The Signal: Season 2, Episode 3<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/488/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>In the Black</td>
<td>The Signal: Season 4, Episode 22<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1315/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Inara's Lament</td>
<td>The Signal: Season 5, Episode 12<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1414/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Indian Chant</td>
<td>The Signal: Season 1, Episode 4</td>
<td><a href=../../../segment/view/80/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Into the Black</td>
<td>The Signal: Season 3, Episode 6<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/849/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>It Was Good For You Too</td>
<td>The Signal: Season 4, Episode 1<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1066/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>It Was Good For You Too (album version)</td>
<td>The Signal: Season 6, Episode 1</td>
<td><a href=../../../segment/view/1588/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Jack Baruzzini - The Ballad of Mr Universe</td>
<td>The Signal: Season 10, Episode 3</td>
<td><a href=../../../segment/view/3007/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Jayne's Hat</td>
<td>The Signal: Season 4, Episode 3<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1108/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Johnny Jump Up</td>
<td>The Signal: Season 3, Episode 17</td>
<td><a href=../../../segment/view/987/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Journey to Paradise</td>
<td>The Signal: Season 6, Episode 14.2: Dark Places</td>
<td><a href=../../../segment/view/1932/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Kaylee</td>
<td>The Signal: Season 3, Episode 17<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/988/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Kaylee's Lament</td>
<td>The Signal: Season 2, Episode 11.5<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/591/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Lay Me Down</td>
<td>The Signal: Season 7, Episode 8</td>
<td><a href=../../../segment/view/2327/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Leaf on the Wind</td>
<td>The Signal: Season 8, Episode 7</td>
<td><a href=../../../segment/view/2688/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mal's Song</td>
<td>The Signal: Season 1, Episode 12<br>The Signal: Season 1, Episode 16.6: Bits of the Signal<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/234/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Mal's Song</td>
<td>The Signal: Season 1, Episode 3</td>
<td><a href=../../../segment/view/55/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mal's Song</td>
<td>The Signal: Season 4, Episode 21<br>The Signal: Season 5, Episode 22: The First Rule of Flying<br>The Signal: Season 10, Episode 6: Signal: The Movie</td>
<td><a href=../../../segment/view/1306/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Marc Gunn - Browncoats Keep Flyin'</td>
<td>The Signal: Season 10, Episode 5: The Last Show</td>
<td><a href=../../../segment/view/3113/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Mason Rocket (Spy Extraordinaire)</td>
<td>The Signal: Season 3, Episode 7</td>
<td><a href=../../../segment/view/859/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Miscellaneous</td>
<td>The Signal: Season 2, Episode 16.5: Live at Dragon*Con 2006</td>
<td><a href=../../../segment/view/659/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Missing Part</td>
<td>The Signal: Season 4, Episode 19<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1277/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Missing Part</td>
<td>The Signal: Season 5, Episode 20<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1565/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Monaghan Mother's Milk</td>
<td>The Signal: Season 5, Episode 15.5: Live at Dragon*Con 2009</td>
<td><a href=../../../segment/view/1517/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Monahan's Mudders' Milk</td>
<td>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/2111/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Monahanns Mudder's Milk</td>
<td>The Signal: Season 4, Episode 14<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1232/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Movie Snippet</td>
<td>The Signal: Season 8, Episode 15</td>
<td><a href=../../../segment/view/2737/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Music from <q>Bushwhacked</q>, including River and Simon's spacewalk</td>
<td>The Signal: Season 1, Episode 13</td>
<td><a href=../../../segment/view/248/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Nate's Theme</td>
<td>The Signal: Season 3, Episode 22</td>
<td><a href=../../../segment/view/1033/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Ode To Vera</td>
<td>The Signal: Season 5, Episode 2<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1354/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Of Mercy</td>
<td>The Signal: Season 5, Episode 5</td>
<td><a href=../../../segment/view/1385/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Old Wounds: Reel Violin Only</td>
<td>The Signal: Season 2, Episode 18<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/673/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Open Letter To My Captain</td>
<td>The Signal: Season 5, Episode 13</td>
<td><a href=../../../segment/view/1457/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Origins</td>
<td>The Signal: Season 3, Episode 23</td>
<td><a href=../../../segment/view/1040/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Please Bring Firefly Back (For Christmas)</td>
<td>The Signal: Season 8, Episode 17</td>
<td><a href=../../../segment/view/2860/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Prairie Town by David Jospeh Wesley</td>
<td>The Signal: Season 10, Episode 5.1: The Last....Bonus Show!</td>
<td><a href=../../../segment/view/3165/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Praise to Joss Whedon</td>
<td>The Signal: Season 4, Episode 3</td>
<td><a href=../../../segment/view/1087/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Preacher Book</td>
<td>The Signal: Season 7, Episode 18</td>
<td><a href=../../../segment/view/2459/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Reaver</td>
<td>The Signal: Season 2, Episode 8<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/535/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Reavers</td>
<td>The Signal: Season 2, Episode 22<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/744/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Redemption Trailer Four</td>
<td>The Signal: Season 7, Episode 13.2: Redemption Special</td>
<td><a href=../../../segment/view/2438/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Reels</td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1583/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>River</td>
<td>The Signal: Season 2, Episode 10<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/562/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>River's Dance</td>
<td>The Signal: Season 1, Episode 1</td>
<td><a href=../../../segment/view/32/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>River's Turn</td>
<td>The Signal: Season 2, Episode 4</td>
<td><a href=../../../segment/view/495/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Saffron's wedding music from <q>Safe</q></td>
<td>The Signal: Season 1, Episode 14</td>
<td><a href=../../../segment/view/272/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Serenity</td>
<td>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/784/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Serenity (guitar version)</td>
<td>The Signal: Season 2, Episode 12</td>
<td><a href=../../../segment/view/594/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>She don't like Firefly</td>
<td>The Signal: Season 7, Episode 7</td>
<td><a href=../../../segment/view/2311/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>She Said Her Name was Saffron</td>
<td>The Signal: Season 3, Episode 17<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/980/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>She Said Her Name was Saffron</td>
<td>The Signal: Season 5, Episode 16<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1528/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Smoke Spirit</td>
<td>The Signal: Season 3, Episode 12</td>
<td><a href=../../../segment/view/923/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>song premier</td>
<td>The Signal: Season 4, Episode 20.5</td>
<td><a href=../../../segment/view/1301/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Spoiler Alert</td>
<td>The Signal: Season 5, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/1574/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Summer Glau</td>
<td>The Signal: Season 4, Episode 18<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/1269/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Suzannah</td>
<td>The Signal: Season 5, Episode 15.5: Live at Dragon*Con 2009</td>
<td><a href=../../../segment/view/1524/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Tentative Radar</td>
<td>The Signal: Season 6, Episode 11<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1836/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Ballad of Serenity</td>
<td>The Signal: Season 7, Episode 21: Holiday Special</td>
<td><a href=../../../segment/view/2600/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Ballad of Serenity (cover)</td>
<td>The Signal: Season 2, Episode 1<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/460/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Ballad of Serenity (instrumental)</td>
<td>The Signal: Season 1, Episode 10<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/205/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Ballad of Serenity (movie version)</td>
<td>The Signal: Season 2, Episode 2.5</td>
<td><a href=../../../segment/view/476/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Ballad of Serenity (movie version)</td>
<td>The Signal: Season 1, Episode 16</td>
<td><a href=../../../segment/view/302/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Chef they call Jayne</td>
<td>The Signal: Season 4, Episode 23: Holiday Special</td>
<td><a href=../../../segment/view/1322/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Funeral music from <q>The Message</q></td>
<td>The Signal: Season 1, Episode 7</td>
<td><a href=../../../segment/view/141/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Hero of Canton</td>
<td>The Signal: Season 5, Episode 19<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1537/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Hero of Canton (new arrangement)</td>
<td>The Signal: Season 3, Episode 1<br>The Signal: Season 5, Episode 22: The First Rule of Flying</td>
<td><a href=../../../segment/view/788/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Hero of Canton (sans dialog)</td>
<td>The Signal: Season 2, Episode 1</td>
<td><a href=../../../segment/view/409/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Jubal Early Theme</td>
<td>The Signal: Season 2, Episode 2</td>
<td><a href=../../../segment/view/466/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Jubal Early Theme</td>
<td>The Signal: Season 1, Episode 6</td>
<td><a href=../../../segment/view/108/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Maidenhead</td>
<td>The Signal: Season 3, Episode 3</td>
<td><a href=../../../segment/view/799/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Sailor's Wife/Lads of Done</td>
<td>The Signal: Season 2, Episode 16</td>
<td><a href=../../../segment/view/626/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>The Theme from Mosquito</td>
<td>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/781/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>The Volvo Song</td>
<td>The Signal: Season 4, Episode 11</td>
<td><a href=../../../segment/view/1165/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Theme from Firefly: Old Wounds</td>
<td>The Signal: Season 2, Episode 13<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/603/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>They Fall Right Out Of The Sky</td>
<td>The Signal: Season 6, Episode 10<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/1802/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>This Land</td>
<td>The Signal: Season 2, Episode 23: Holiday Special<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/756/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>To the Black (The Ballad of Serenity)</td>
<td>The Signal: Season 6, Episode 20: Holiday Special<br>The Signal: Season 6, Episode 21: Songs from the Black III: Rock the Boat!</td>
<td><a href=../../../segment/view/2079/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>To the Border</td>
<td>The Signal: Season 2, Episode 11.5<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/586/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Town Combat by David Jospeh Wesley</td>
<td>The Signal: Season 10, Episode 5.1: The Last....Bonus Show!</td>
<td><a href=../../../segment/view/3156/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Uncharted Theme</td>
<td>The Signal: Season 4, Episode 6</td>
<td><a href=../../../segment/view/1137/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>Unsere-Crew Serenity (in German)</td>
<td>The Signal: Season 2, Episode 9<br>The Signal: Season 2, Episode 24: Songs from the Black</td>
<td><a href=../../../segment/view/549/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>Vera Flew The Coop</td>
<td>The Signal: Season 4, Episode 8</td>
<td><a href=../../../segment/view/1147/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=odd><td>War Is Bad</td>
<td>The Signal: Season 4, Episode 17</td>
<td><a href=../../../segment/view/1250/index.html>shownotes</a></td>
<td></td>
</tr>
<tr class=even><td>What you Don't Know</td>
<td>The Signal: Season 5, Episode 14.7: The Clip Show</td>
<td><a href=../../../segment/view/1472/index.html>shownotes</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=transport-bar><a href=../../../series/view/47/index.html>First series</a> &#x2022; <a href=../../../series/view/91/index.html>Previous series</a> &#x2022; <a href=../../../series/index.html>Up</a> &#x2022; <a href=../../../series/view/7/index.html>Next series</a> &#x2022; <a href=../../../series/view/105/index.html>Last series</a></div>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
