<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 4, Episode 23</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 4, Episode 23</h1>
<div><h2>Holiday Special</h2>
<div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/126/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/128/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div><br>
<audio src=https://media.libsyn.com/media/thesignal/signal_423_20081209.mp3 controls autobuffer></audio>
<div><a href=https://media.libsyn.com/media/thesignal/signal_423_20081209.mp3 download=signal_season04_23.mp3>Download audio file</a></div>
<div class=info>Tuesday 9th December 2008</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/114/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 4 Opening Theme</h3>
<h4>Holiday Special Opening Theme</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/icon/image.png width=50 height=50 alt></a></td>
<td>0:02:06</td>
<td class=shownote><h3>Banter</h3>
<div>Les and Kari introduce the show and talk about cheesecake</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1320/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/7/index.html><img src=../../../image/image/17/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:03:11</td>
<td class=shownote><h3>News from the 'Verse</h3>
<div>News from the Fridge
<ul><li>Music used is Apple News by <a href=../../../external.html#http://music.podshow.com/music/listeners/artistdetails.php?BandHash=707b007a024a3d7bdac65dbe66fb248e>Paul Garay</a></li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1314/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/47/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:05:00</td>
<td class=shownote><h3>Stepping Up to the Plate: Back to Basics</h3>
<div><ul><li>Music used is Spread da Word, by <a href=../../../external.html#http://www.myspace.com/theitaliansspace>Italians</a></li>
</ul>
</div>
<p>Written by <a href=../../../human/view/21/index.html>Merry King</a>; read by <a href=../../../human/view/21/index.html>Merry King</a></p>
</td>
<td><a href=../../../segment/view/1313/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:07:46</td>
<td class=shownote><h3>Feedback</h3>
<div><ul><li>Kathy - conversion story</li>
<li>Marty - fan power</li>
<li>Madison - Signal conversion story</li>
<li>Tom - feedback</li>
<li>Vanilla - guerrilla marketing</li>
<li>Music used is Cheesecake Blues by <a href=../../../external.html#http://www.boggie.net/>Boggie</a></li>
</ul>
</div>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1321/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:14:12</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Chef they call Jayne</h4>
<p>Music by <a href=../../../human/view/91/index.html>Tom Smith</a></p>
</td>
<td><a href=../../../segment/view/1322/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:38</td>
<td class=shownote><h3>Interview</h3>
<h4>Beth Nelson</h4>
<div><ul><li><a href=../../../external.html#http://www.austinbrowncoats.org>Austin Flans</a></li>
<li><a href=../../../external.html#http://www.cantstoptheserenity.com>Can't Stop the Cheesecake</a></li>
<li><a href=../../../external.html#http://www.browncoatball.com>Flan Ball</a></li>
<li><a href=../../../external.html#http://www.equalitynow.org/>Equality Now</a></li>
<li><a href=../../../external.html#http://community.kidsneedtoread.org/>Kids Need to Read</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1323/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:35:58</td>
<td class=shownote><h3>Can't Stop the Cheesecake</h3>
<div>Music used is Take me Down (to her water) by <a href=../../../external.html#http://www.emeraldrose.com/mainpage.htm>Emerald Rose</a></div>
<p>Written by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; read by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1285/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:40:30</td>
<td class=shownote><h3>What's Your Cheesecake?</h3>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/4/index.html>Kevin Bachelder</a></p>
</td>
<td><a href=../../../segment/view/1326/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/101/index.html><img src=../../../image/image/111/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:46:30</td>
<td class=shownote><h3>Badger's World</h3>
<h4>Episode 26: Beginnings, part 2</h4>
<p>Written by <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/2/index.html>Les Howard</a>, <a href=../../../human/view/5/index.html>Miranda Thomas</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/84/index.html>Ben Edwards</a>, <a href=../../../human/view/8/index.html>James Parkinson</a>, <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a>, <a href=../../../human/view/20/index.html>Kevin Bayer</a>, <a href=../../../human/view/201/index.html>Mark Sheppard</a> and <a href=../../../human/view/19/index.html>Wayne Hutchinson</a>; music by <a href=../../../human/view/43/index.html>The Bedlam Bards</a>; edited by <a href=../../../human/view/17/index.html>Nick Edwards</a></p>
</td>
<td><a href=../../../segment/view/1324/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/77/index.html><img src=../../../image/image/104/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:52:30</td>
<td class=shownote><h3>Big Damn Test Kitchen</h3>
<h4>Cheesecake</h4>
<p>Written by <a href=../../../human/view/6/index.html>Kari Haley</a>; read by <a href=../../../human/view/6/index.html>Kari Haley</a></p>
</td>
<td><a href=../../../segment/view/1327/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/58/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:58:50</td>
<td class=shownote><h3>Cheesecake Sightings: Body and Soul</h3>
<div>Music used is Another TV Dinner, by <a href=../../../external.html#http://www.aswepe.com/>Aardvark</a></div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; read by <a href=../../../human/view/14/index.html>Claire Musso</a></p>
</td>
<td><a href=../../../segment/view/1328/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/60/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:09:04</td>
<td class=shownote><h3>Les on Cheesecake</h3>
<div>Your questions; Les's answers.
<ul><li><a href=../../../external.html#http://www.epicurious.com/recipes/food/views/Spiced-Pumpkin-Cheesecake-with-Caramel-Bourbon-Sauce-233179>Spiced pumpkin cheesecake recipe</a></li>
<li><a href=../../../external.html#http://www.veganfamily.co.uk/angelic.htm>Vegan strawberry cheesecake</a></li>
</ul>
</div>
<p>Hosted by <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1329/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:12:14</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 5: Attack of the Space Pirates</h4>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/1/index.html>Jill Arroway</a></p>
</td>
<td><a href=../../../segment/view/1331/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/37/index.html><img src=../../../image/image/124/1/thumb/image.png width=100 height=100 alt></a></td>
<td>1:19:05</td>
<td class=shownote><h3>Cheesy Pun Fest: The Movies</h3>
<div>Music used is Better Things Comin', by <a href=../../../external.html#http://www.beatnikturtle.com/>Beatnik Turtle</a></div>
<p>Written by <a href=../../../human/view/1/index.html>Jill Arroway</a> and <a href=../../../human/view/17/index.html>Nick Edwards</a>; starring <a href=../../../human/view/17/index.html>Nick Edwards</a>; featuring <a href=../../../human/view/14/index.html>Claire Musso</a>, <a href=../../../human/view/6/index.html>Kari Haley</a>, <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1332/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:28:44</td>
<td class=shownote><h3>Music Section</h3>
<h4>Cheesecake</h4>
<div><ul><li>Music used is Cheesecake, by <a href=../../../external.html#http://uk.youtube.com/watch?v=ainGwdBlbes>Louis Armstrong</a></li>
<li>See also: Cover version by <a href=../../../external.html#http://uk.youtube.com/watch?v=2vIxdHDT8tc>The Muppets</a></li>
</ul>
</div>
<p>Music by <a href=../../../human/view/126/index.html>Louis Armstrong</a></p>
</td>
<td><a href=../../../segment/view/1333/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:31:10<div class=wiki-local><div><ul><li>Music used in opening theme is Cliche Xmas Song, by <a class="external text" href=../../../external.html#http://www.myspace.com/the75s>The 75s</a></li>
</ul>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/101/index.html>First show</a> &#x2022; <a href=../../../show/view/126/index.html>Previous show</a> &#x2022; <a href=../../../season/view/5/index.html>Up</a> &#x2022; <a href=../../../show/view/128/index.html>Next show</a> &#x2022; <a href=../../../show/view/128/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4658>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
