<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>J. D. Ravatt</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>J. D. Ravatt</h1>
<div><h2>Segments read by J. D. Ravatt</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>A Celebration of Firefly</td>
<td>The Signal: Season 1, Episode 15</td>
<td><a href=../../../segment/view/283/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Blue Sun Public Service Announcement: Flavornix Commercial</td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/149/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Blue Sun Public Service Announcement: Alliance News</td>
<td>The Signal: Season 1, Episode 16.5: November Bonus Show</td>
<td><a href=../../../segment/view/300/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Blue Sun Public Service Announcement: Miranda advertisement</td>
<td>The Signal: Season 1, Episode 17.3: Solstice Special, part 3</td>
<td><a href=../../../segment/view/395/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Blue, Grey, Purple, and Brown: Civil War Influences in Firefly</td>
<td>The Signal: Season 1, Episode 12</td>
<td><a href=../../../segment/view/230/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Can't Stop the Signal - How Serenity Cultivates Fandom</td>
<td>The Signal: Season 1, Episode 1</td>
<td><a href=../../../segment/view/37/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Chinese Whispers - Shepherd Book's First Name</td>
<td>The Signal: Season 1, Episode 13</td>
<td><a href=../../../segment/view/243/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Feedback</td>
<td>The Signal: Season 1, Episode 2</td>
<td><a href=../../../segment/view/44/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Firefly: A Soundtrack in Review</td>
<td>The Signal: Season 1, Episode 16.5: November Bonus Show</td>
<td><a href=../../../segment/view/316/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Food from the Edge</td>
<td>The Signal: Season 1, Episode 5</td>
<td><a href=../../../segment/view/65/index.html>shownotes</a></td>
</tr>
<tr class=even><td>From Earth-That-Was to the 'Verse</td>
<td>The Signal: Season 1, Episode 14</td>
<td><a href=../../../segment/view/267/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Handsome Devils: Malcolm Reynolds and Han Solo</td>
<td>The Signal: Season 1, Episode 3</td>
<td><a href=../../../segment/view/57/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 1</td>
<td><a href=../../../segment/view/30/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 2</td>
<td><a href=../../../segment/view/43/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 3</td>
<td><a href=../../../segment/view/53/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 4</td>
<td><a href=../../../segment/view/78/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 5</td>
<td><a href=../../../segment/view/106/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 6</td>
<td><a href=../../../segment/view/120/7/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/150/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/188/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 10</td>
<td><a href=../../../segment/view/203/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 11</td>
<td><a href=../../../segment/view/215/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 12</td>
<td><a href=../../../segment/view/232/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 13</td>
<td><a href=../../../segment/view/246/index.html>shownotes</a></td>
</tr>
<tr class=even><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 14</td>
<td><a href=../../../segment/view/270/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>How to Speak Chinese</td>
<td>The Signal: Season 1, Episode 16</td>
<td><a href=../../../segment/view/286/index.html>shownotes</a></td>
</tr>
<tr class=even><td>In Defense of <q>The Train Job</q></td>
<td>The Signal: Season 1, Episode 9</td>
<td><a href=../../../segment/view/184/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Musical Evolution: From Firefly to Serenity</td>
<td>The Signal: Season 1, Episode 17.2: Solstice Special, part 2</td>
<td><a href=../../../segment/view/380/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Our Mrs. Reynolds and Trash: the Saffron Arc</td>
<td>The Signal: Season 1, Episode 17.1: Solstice Special, part 1</td>
<td><a href=../../../segment/view/365/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Review of Serenity (the pilot)</td>
<td>The Signal: Season 1, Episode 6</td>
<td><a href=../../../segment/view/75/index.html>shownotes</a></td>
</tr>
<tr class=even><td>The New Dynamic</td>
<td>The Signal: Season 1, Episode 16.5: November Bonus Show</td>
<td><a href=../../../segment/view/318/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Official Forum Purplebelly - a tribute to Rich Adams by the Signal Crew</td>
<td>The Signal: Season 1, Episode 16.7: December Bonus Show</td>
<td><a href=../../../segment/view/349/index.html>shownotes</a></td>
</tr>
<tr class=even><td>What is Firefly?</td>
<td>The Signal: Season 1, Episode 1</td>
<td><a href=../../../segment/view/26/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>What's in a Name, part 1</td>
<td>The Signal: Season 1, Episode 8</td>
<td><a href=../../../segment/view/147/index.html>shownotes</a></td>
</tr>
<tr class=even><td>What's in a Name, part 2</td>
<td>The Signal: Season 1, Episode 10</td>
<td><a href=../../../segment/view/200/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Who is Shepherd Book?</td>
<td>The Signal: Season 1, Episode 2</td>
<td><a href=../../../segment/view/39/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Who is Shepherd Book? - Epilogue</td>
<td>The Signal: Season 1, Episode 3</td>
<td><a href=../../../segment/view/58/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Why We Love Wash</td>
<td>The Signal: Season 1, Episode 14</td>
<td><a href=../../../segment/view/268/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments starring J. D. Ravatt</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Fantasy Firefly: David Hwoon Dahn Interview</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/411/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Fantasy Firefly: Gorilla Marketing</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/412/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Fantasy Firefly: Goose Juggling</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/413/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Fantasy Firefly: Ballet Shootout</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/415/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Fantasy Firefly: Blue Hand Job</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/416/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Fantasy Firefly: Reaver Recipes</td>
<td>The Signal: Season 5, Episode 14.7: The Clip Show</td>
<td><a href=../../../segment/view/418/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Fantasy Firefly: How to Speak Russian</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/419/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Fantasy Firefly: Fox Nightmares</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/420/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Fantasy Firefly: Shepherd Neame</td>
<td>Fantasy Firefly</td>
<td><a href=../../../segment/view/423/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Signal Promo: We're picking up a distress call</td>
<td>Signal Promo</td>
<td><a href=../../../segment/view/1988/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>Signal Promo: Hands on knees and heads bowed down</td>
<td>Signal Promo</td>
<td><a href=../../../segment/view/1989/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Segments hosted by J. D. Ravatt</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>First aired</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=odd><td>Banter</td>
<td>The Signal: Season 1, Episode 12.5: Dragon*Con 2005 Bonus Show</td>
<td><a href=../../../segment/view/242/16/index.html>shownotes</a></td>
</tr>
<tr class=even><td>Banter</td>
<td>The Signal: Season 1, Episode 17.5: January Bonus Show</td>
<td><a href=../../../segment/view/364/38/index.html>shownotes</a></td>
</tr>
<tr class=odd><td>The Making of the Signal</td>
<td>The Signal: Season 1, Episode 17.3: Solstice Special, part 3</td>
<td><a href=../../../segment/view/379/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
<h2>Shows produced by J. D. Ravatt</h2>
<table class=simple-table><thead><tr><th>Title</th>
<th>Actions</th>
</tr>
</thead>
<tbody><tr class=even><td>The Signal: Season 1, Episode 10</td>
<td><a href=../../../show/view/13/index.html>shownotes</a></td>
</tr>
</tbody>
</table>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
