<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 2, Episode 24</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 2, Episode 24</h1>
<div><h2>Songs from the Black</h2>
<div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/71/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_224_20061220.mp3 controls autobuffer></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_224_20061220.mp3 download=signal_season02_24.mp3>Download audio file</a></div>
<div class=info>Wednesday 20th December 2006</div>
Produced by Jill Arroway<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/99/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Songs from the Black Intro</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:00:15</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Ballad of Serenity (cover)</h4>
<div>performed by
<ul><li>Tree Leyburn (vocals)</li>
<li>Henry Kaiser (guitar)</li>
<li>Joe Rut (guitar)</li>
<li>John Hanes (drums)</li>
<li>Dave Jess (bass)</li>
</ul>
</div>
<p></p>
</td>
<td><a href=../../../segment/view/460/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:01:29</td>
<td class=shownote><h3>Music Section</h3>
<h4>Theme from Firefly: Old Wounds</h4>
<p>Music by <a href=../../../human/view/62/index.html>Jack Ward</a> and <a href=../../../human/view/63/index.html>Sharon Bee</a></p>
</td>
<td><a href=../../../segment/view/603/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:02:28</td>
<td class=shownote><h3>Music Section</h3>
<h4>Unsere-Crew Serenity (in German)</h4>
<div><ul><li>Lyrics: Kessie</li>
<li>Original german dub voices collected by: Captain Serenity</li>
<li>Spoken Voice: Djini und Princess of darkness</li>
<li>Choir: Sternchen and Laura</li>
<li>All other instruments, male Chorus voicerecording and production: Kaywin</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/549/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:08:43</td>
<td class=shownote><h3>Music Section</h3>
<h4>In My Sky (Serenity)</h4>
<p>Music by <a href=../../../human/view/48/index.html>Sheena Harden</a></p>
</td>
<td><a href=../../../segment/view/488/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:12:15</td>
<td class=shownote><h3>Music Section</h3>
<h4>Can't Stop the Signal</h4>
<div><ul><li>Lyrics: Kessie & Bernd</li>
<li>Female backvocal: Sternchen</li>
<li>Female spoken words: Djini</li>
<li>Joss soundclips provided by Monika</li>
<li>Keyboards: Jacen & Bernd</li>
<li>Choir: Sternchen,Jacen,Djini,Monika</li>
<li>All other instruments, sounds and leadvocals: Bernd/Kaywin</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/616/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:16:59</td>
<td class=shownote><h3>Music Section</h3>
<h4>Old Wounds: Reel Violin Only</h4>
<p>Music by <a href=../../../human/view/63/index.html>Sharon Bee</a></p>
</td>
<td><a href=../../../segment/view/673/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:19:19</td>
<td class=shownote><h3>Music Section</h3>
<h4>Kaylee's Lament</h4>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/591/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:26:56</td>
<td class=shownote><h3>Music Section</h3>
<h4>To the Border</h4>
<p>Music by <a href=../../../human/view/58/index.html>Mary Bowerman</a></p>
</td>
<td><a href=../../../segment/view/586/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:29:44</td>
<td class=shownote><h3>Music Section</h3>
<h4>River</h4>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/562/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:35:44</td>
<td class=shownote><h3>Music Section</h3>
<h4>Serenity</h4>
<div><ul><li>Lyrics: Kessie, Monika and Kaywin/Bernd</li>
<li>Mechanic voice: Monika</li>
<li>Strings: Jacen</li>
<li>All other instruments, vocals, recording, arrangement: Kaywin/Bernd</li>
</ul>

<em>First aired on <a href=../../../segment/view/440/index.html>Thoughts of Firefly, episode 16</a></em></div>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/784/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:41:17</td>
<td class=shownote><h3>Music Section</h3>
<h4>Hero of Canton</h4>
<p>Written by <a href=../../../human/view/30/index.html>Ben Edlund</a></p>
</td>
<td><a href=../../../segment/view/506/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:43:43</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Theme from Mosquito</h4>
<div><em>previously played on the Signal, season 1, episode 12.5</em></div>
<p>Music by <a href=../../../human/view/70/index.html>Nathan Town</a></p>
</td>
<td><a href=../../../segment/view/781/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:44:38</td>
<td class=shownote><h3>Music Section</h3>
<h4>This Land</h4>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/756/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:32</td>
<td class=shownote><h3>Music Section</h3>
<h4>A Man Named Jayne</h4>
<div>From the CD unCONVENTIONal.</div>
<p>Music by <a href=../../../human/view/57/index.html>The Great Luke Ski</a></p>
</td>
<td><a href=../../../segment/view/575/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:53:12</td>
<td class=shownote><h3>Music Section</h3>
<h4>Reaver</h4>
<div><ul><li>Lyrics: Kessie</li>
<li>Audioclips: Monika and Bernd / Kaywin</li>
<li>Keyboard and Sounds: Jacen</li>
<li>Male voice: Jacen</li>
<li>Female Voice: Djini</li>
<li>Soundclips: Firefly soundtrack of Greg Edmonson</li>
<li>Music, recording and production: Kaywin</li>
<li>All lead vocals, Guitars and Instruments: Kaywin</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/535/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:59:17</td>
<td class=shownote><h3>Music Section</h3>
<h4>Reavers</h4>
<p>Music by <a href=../../../human/view/68/index.html>Lich King</a></p>
</td>
<td><a href=../../../segment/view/744/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>1:03:50</td>
<td class=shownote><h3>Music Section</h3>
<h4>Mal's Song</h4>
<p>Music by <a href=../../../human/view/32/index.html>Michelle Dockrey</a></p>
</td>
<td><a href=../../../segment/view/234/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/icon/image.png width=50 height=50 alt></a></td>
<td>1:08:06</td>
<td class=shownote><h3>Music Section</h3>
<h4>The Ballad of Serenity (instrumental)</h4>
<p>Music by <a href=../../../human/view/29/index.html>Greg Edmonson</a> and <a href=../../../human/view/36/index.html>Joss Whedon</a></p>
</td>
<td><a href=../../../segment/view/205/index.html>view</a></td>
</tr>
</tbody>
</table>
Duration: 1:08:55<div class=wiki-local><div><p>You can also download all of these songs individually (as well as album cover art, etc.) by visiting the <a class="external text" href=../../../series/view/158/index.html>Songs from the Black</a> page.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/44/index.html>First show</a> &#x2022; <a href=../../../show/view/71/index.html>Previous show</a> &#x2022; <a href=../../../season/view/3/index.html>Up</a> &#x2022; <span class=greyed-out>Next show</span> &#x2022; <a href=../../../show/view/72/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=3212>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
