<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>The Signal: Season 5, Episode 11</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=../../../index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>The Signal: Season 5, Episode 11</h1>
<div><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/138/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/140/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div><br>
<audio src=https://traffic.libsyn.com/secure/thesignal/signal_511_20090623.mp3 controls preload=metadata></audio>
<div><a href=https://traffic.libsyn.com/secure/thesignal/signal_511_20090623.mp3 download=signal_season05_11.mp3>Download audio file</a></div>
<div class=info>Tuesday 23rd June 2009</div>
Produced by Merry King<table class=simple-table><tbody><tr class=odd><td class=align-center><img src=../../../image/image/129/1/icon/image.png width=50 height=50 alt></td>
<td>0:00:00</td>
<td class=shownote><h3>Season 5 Opening Theme</h3>
<h4>Standard version</h4>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/2/index.html><img src=../../../image/image/16/3/thumb/image.png width=100 height=100 alt></a></td>
<td>0:01:09</td>
<td class=shownote><h3>Banter</h3>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1440/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:03:52</td>
<td class=shownote><h3>Interview</h3>
<h4>Anne Barringer, part 1 of 2</h4>
<div>Anne Barringer from Can't Stop the Serenity</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1435/139/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../external.html#http://talesfromtheverse.com><img src=../../../image/image/44/1/icon/image.png width=50 height=50 alt></a></td>
<td>0:18:37</td>
<td class=shownote><h3>Promo: Tales from the 'Verse</h3>
</td>
<td>&#x00A0;</td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/118/index.html><img src=../../../image/image/126/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:20:07</td>
<td class=shownote><h3>The Terraformers</h3>
<h4>Episode 6: A Tale of Deliverance</h4>
<p>Written by <a href=../../../human/view/25/index.html>Helen Eaton</a>; starring <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; featuring <a href=../../../human/view/17/index.html>Nick Edwards</a>; edited by <a href=../../../human/view/19/index.html>Wayne Hutchinson</a></p>
</td>
<td><a href=../../../segment/view/1428/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/14/index.html><img src=../../../image/image/39/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:25:57</td>
<td class=shownote><h3>Music Section</h3>
<h4>Can't Stop the Signal</h4>
<div><ul><li>Lyrics: Kessie & Bernd</li>
<li>Female backvocal: Sternchen</li>
<li>Female spoken words: Djini</li>
<li>Joss soundclips provided by Monika</li>
<li>Keyboards: Jacen & Bernd</li>
<li>Choir: Sternchen,Jacen,Djini,Monika</li>
<li>All other instruments, sounds and leadvocals: Bernd/Kaywin</li>
</ul>
</div>
<p>Music by <a href=../../../human/view/51/index.html>The Firefly Music Project</a></p>
</td>
<td><a href=../../../segment/view/616/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/16/index.html><img src=../../../image/image/48/2/icon/image.png width=50 height=50 alt></a></td>
<td>0:30:57</td>
<td class=shownote><h3>Interview</h3>
<h4>Anne Barringer, part 2 of 2</h4>
<div>Continued...</div>
<p>Hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a></p>
</td>
<td><a href=../../../segment/view/1435/139/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/125/index.html><img src=../../../image/image/135/1/thumb/image.png width=100 height=100 alt></a></td>
<td>0:42:51</td>
<td class=shownote><h3>Diary of a Companion</h3>
<h4>Part 3</h4>
<p>Written by <a href=../../../human/view/23/index.html>Anna Snyder</a>; starring <a href=../../../human/view/23/index.html>Anna Snyder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a></p>
</td>
<td><a href=../../../segment/view/1437/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><a href=../../../series/view/6/index.html><img src=../../../image/image/35/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:49:26</td>
<td class=shownote><h3>The Costumes Make the Man</h3>
<p>Written by <a href=../../../human/view/24/index.html>Jenn Baldwin</a>; read by <a href=../../../human/view/26/index.html>Kent LaFavers</a></p>
</td>
<td><a href=../../../segment/view/1442/index.html>view</a></td>
</tr>
<tr class=even><td class=align-center><a href=../../../series/view/13/index.html><img src=../../../image/image/38/2/thumb/image.png width=100 height=100 alt></a></td>
<td>0:56:39</td>
<td class=shownote><h3>Feedback</h3>
<p>Read by <a href=../../../human/view/4/index.html>Kevin Bachelder</a> and <a href=../../../human/view/5/index.html>Miranda Thomas</a>; hosted by <a href=../../../human/view/6/index.html>Kari Haley</a> and <a href=../../../human/view/2/index.html>Les Howard</a>; music by <a href=../../../human/view/95/index.html>Bentley Ousley</a></p>
</td>
<td><a href=../../../segment/view/1443/index.html>view</a></td>
</tr>
<tr class=odd><td class=align-center><img src=../../../image/image/15/1/icon/image.png width=50 height=50 alt></td>
<td>1:14:47</td>
<td class=shownote><h3>Closing Theme</h3>
<h4>Isleen Moore version (and horses)</h4>
</td>
<td>&#x00A0;</td>
</tr>
</tbody>
</table>
Duration: 1:15:11<div></div>
<hr class=no-float><div class=transport-bar><a href=../../../show/view/129/index.html>First show</a> &#x2022; <a href=../../../show/view/138/index.html>Previous show</a> &#x2022; <a href=../../../season/view/6/index.html>Up</a> &#x2022; <a href=../../../show/view/140/index.html>Next show</a> &#x2022; <a href=../../../show/view/157/index.html>Last show</a></div>
</div>
<div class=action-menu><h2>Actions</h2>
<ul><li><a href=../../../external.html#http://fireflydvd.com/phpBB2/viewtopic.php?t=4773>Leave a comment</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website. It is no longer actively maintained.
</p></div>
</body>
</html>
