<!DOCTYPE html>
<html><head><meta charset=UTF-8><title>Editorial</title>
<link rel=stylesheet type=text/css href=../../../common.css><link rel=stylesheet type=text/css href=../../../gorram.css><link rel=stylesheet type=text/css href=../../../geometry.css></head>
<body><p><a href=index.html>Signal</a> &#x2022; <span class=grayed-out>Blog<span> &#x2022; <span class=grayed-out>News<span> &#x2022; <a href=../../../season/index.html>Seasons</a> &#x2022; <a href=../../../series/index.html>Series</a> &#x2022; <a href=../../../signalpromo/index.html>Promos</a> &#x2022; <a href=../../../crew/index.html>Crew</a> &#x2022; <span class=grayed-out>Search<span> &#x2022; <a href=../../../article/view/11/index.html>Contact</a></p>
<hr><h1>Editorial</h1>
<div><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2057/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/2167/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
<h2>Journey of a Lone Browncoat</h2>
<div>First aired: <a href=../../../show/view/188/index.html>The Signal: Season 6, Episode 18</a></div>
<table class=simple-table><thead><tr><th colspan=3>Credits</th>
</tr>
</thead>
<tbody><tr class=even><td>Written by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=odd><td>Read by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
<tr class=even><td>Edited by</td>
<td><a href=../../../human/view/25/index.html>Helen Eaton</a></td>
<td></td>
</tr>
</tbody>
</table>
<div class=wiki-local><div><p>Recently Nick Edwards wrote an editorial for The Signal called &#x201C;It&#x2019;s the people you meet&#x201D;, in which he talked about how the people he met at Dragon*Con were the best part of the whole experience for him. Apart from making me want even more than ever to make it to Dragon*Con one day, his words got me thinking, well, what if you don&#x2019;t meet people? That is, what if you&#x2019;re a Browncoat, but not in a position to meet any fellow Browncoats?</p>

<p>I live out on what might be called the Rim, in a country that has never hosted any form of sci-fi convention to my knowledge, let alone one with a Firefly presence. (I&#x2019;m not sure there&#x2019;s been any form of Firefly convention on the continent even, now I come to think about it.) Firefly has never been shown on terrestrial television in the country where I live and most people here don&#x2019;t have televisions anyway. All this amounts to the likelihood of my bumping into another Firefly fan being about the same as a snowball&#x2019;s chance in Isis canyon.</p>

<p>When I discovered Firefly, I was living three hours&#x2019; drive from the nearest place where I could go online. There was no one in the group of people I interacted with in my day-to-day life for whom the word Firefly or the name Joss Whedon meant anything. All this is to say, if there ever were a lone Browncoat, I think it was me. Or rather, if ever there were a lone Firefly fan, it was me. I&#x2019;m not sure I would have called myself a Browncoat at that point. Yes, I loved Firefly and Serenity, but for me (and I realise others may differ) the term &#x201C;Browncoat&#x201D; for a fan always implies some kind of active involvement, be it participating on a forum, listening to (or helping to create) a podcast or spreading the word in some other way. With limited opportunities to do any of those things, I would have described myself simply as a fan, although far from a casual one.</p>

<p>Being a fan without interacting with other fans was certainly a lonely life. I contented myself with making in-jokes that no one else understood, given that I was the only one who was &#x201C;in&#x201D;. I remember once describing someone&#x2019;s new tin roof as &#x201C;shiny&#x201D; and smiling to myself at the double meaning. I&#x2019;m not sure how long I would have survived as quite such an isolated fan, but I think my love for Firefly would never have died as such, just slept rather soundly until circumstances changed.</p>

<p>Happily it wasn&#x2019;t too long before my circumstances did change and I had weekly (or thereabouts) access to the internet. I soon discovered that Browncoats were alive and kicking &#x2013; this was 2006 &#x2013; and there were such wonderful things as podcasts about Firefly and Serenity and all manner of shiny websites devoted to the &#x2018;verse, which I could explore. At this point I still had no direct interaction with actual flesh and blood Browncoats, but I was able to interact with them through the internet and dip my toe into the waters of fandom. And as soon as my internet access became daily rather than weekly, I jumped at the first chance to dive in, by joining the Signal crew.</p>

<p>For me, joining The Signal took me deeper into the fandom because it gave me the chance to become a contributor. I had long enjoyed the contributions of others, but now it could be my turn. The pleasure that came from being involved in something &#x2013; a humble podcast &#x2013; that fellow Browncoats could enjoy, surprised me, although I&#x2019;m not sure why, as it being &#x201C;better to give than receive&#x201D; is not exactly an unknown concept. And, incidentally, that pleasure has not gone away.</p>

<p>So what was left for me at this point in my journey as a Browncoat? The next step was meeting a fellow Browncoat in person and that person happened to be fellow Signal crew member, Nick Edwards. It was very shiny indeed to meet up, but unlike the previous steps in my Browncoat journey, it didn&#x2019;t feel like anything substantial had changed. This might sound surprising, but I take it as further evidence (if it were needed) that online friendship can be just as real as the traditional kind.</p>

<p>And this brings me to the point of this editorial. If you&#x2019;re a lone Browncoat listening to this, take heart! If circumstances are restricting your involvement in the fandom, perhaps one day they will change, but even if they don&#x2019;t, rest assured that if the internet is your only interaction with fellow Browncoats, there can be much pleasure derived from online friendships. And if you haven&#x2019;t discovered that for yourself yet, why not come on over to the Signal forum and say hi? A warm welcome awaits you.</p>

<p>Remember, every Browncoat out there is simply a friend you haven&#x2019;t met yet.</p>
</div>

</div>
<hr class=no-float><div class=transport-bar><a href=../../../segment/view/1081/index.html>First episode</a> &#x2022; <a href=../../../segment/view/2057/index.html>Previous episode</a> &#x2022; <a href=../../../series/view/102/index.html>Up</a> &#x2022; <a href=../../../segment/view/2167/index.html>Next episode</a> &#x2022; <a href=../../../segment/view/3149/index.html>Last episode</a></div>
</div>
<div class=action-menu><h2>Links</h2>
<ul><li><a href=../../../show/view/188/index.html>The Signal: Season 6, Episode 18</a></li>
</ul>
</div>
<hr class=no-float><div class=no-float><p>This is an <a href=../../../../index.html>archive</a> of the Signal website.. It is no longer actively maintained.
</p></div>
</body>
</html>
